Repository woocommerce/woocommerce-ios, pull requests merged in 2019-11, with the labels that each got.

#1412 NotificationCenter : cleaned some removeObserver() since they are no more needed after iOS 9
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  Yosemite/Yosemite/Tools/EntityListener.swift
  Yosemite/Yosemite/Tools/ResultsController.swift
Labels: Tech Debt

#1408 Shipment tracking: fix picker covered by keyboard
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Bug

#1428 Fix `testDateStartAndDateEnd` test failures due to GMT offset of the current date
  Yosemite/YosemiteTests/Model/Extensions/OrderStatsV4Interval+DateTests.swift
Labels: Unit Tests

#1429 Order Detail: Storage & Yosemite layers > Add shipping method to the shipping details
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/ShippingLine.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Responses/order.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLine+CoreDataClass.swift
  Storage/Storage/Model/ShippingLine+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 22.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/SummaryTableViewCellTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLine+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Order Details, Woo Extensions, [Type] Enhancement

#1426 Networking & Yosemite layers: update Product description
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-update-description.json
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products, Products release 1

#1435 bump wpmreleasetoolkit to 0.8.1
  fastlane/Pluginfile
Labels: Releases

#1430 Create keyboard frame observer
  WooCommerce/Classes/ViewRelated/Keyboard/KeyboardFrameObserver.swift
  WooCommerce/Classes/ViewRelated/Keyboard/KeyboardScrollable.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Keyboard/KeyboardFrameObserverTests.swift
Labels: Add/Edit Products, Products release 1

#1433 Aztec editor for Product description: part 1 - no format toolbar
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecTextViewAttachmentHandler.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecUIConfigurator.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorViewProperties.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Products release 1, [Status] Not Ready for Merge

#1439 Order List: Fixed missing space between order amount and right arrow
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
Labels: Low hanging fruit, Order List, [Type] Bug

#1438 Fulfill Order: fixed content mode of product's images
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
Labels: Basic Fulfillment, Low hanging fruit, [Type] Bug

#1437 Merge 3.0 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1413 Release Product Reviews
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Notifications/Notifications.storyboard
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Notifications, Product Reviews, [Type] Enhancement

#1443 Order Detail: Fixed dark mode appearance in some cells
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/PaymentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.swift
Labels: Dark Mode, Order Details, [Type] Bug

#1444 Order List: fixed cells that become dark when tapped
  RELEASE-NOTES.txt
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
Labels: Dark Mode, Order List, [Type] Bug

#1454 Product List: fixed dark mode appearance
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
Labels: Dark Mode, Product List, [Type] Bug

#1390 Refunds: Yosemite layer > RefundStore
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/Networking/Remote/RefundsRemote.swift
  Storage/Storage/Model/OrderItem+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 21.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/RefundAction.swift
  Yosemite/Yosemite/Model/ReadOnly/Refund+ReadOnlyType.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/Yosemite/Stores/RefundStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: Refunds, Yosemite

#1440 Aztec editor for Product description: part 2.1 - format toolbar with simple actions
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/AztecFormatBar+Update.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/AztecFormatBarFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/AztecFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/AztecFormatBarCommandCoordinator.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecBlockquoteFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecBoldFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecHorizontalRulerFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecInsertMoreFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecItalicFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecSourceCodeFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecStrikethroughFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecUnderlineFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/FormatBarItemViewProperties.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Header+AztecFormatting.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/TextList+AztecFormatting.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Products release 1

#1451 Add/Edit Products: main screen - blank screen
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.xib
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Products release 1

#1445 Reviews: fixed dark mode appearance
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsHeaderPlainTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.swift
Labels: Dark Mode, Product Reviews, [Type] Bug

#1456 Extend `Array` to transform an array of integers into a string
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Array+Woo.swift
  Networking/Networking/Remote/RefundsRemote.swift
  Networking/NetworkingTests/Extensions/ArrayWooTests.swift
Labels: Networking, Refunds

#1434 Issue/1362 Add Order Shipping Method
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Order Details, Woo Extensions, [Type] Enhancement

#1452 Order detail flow: fixed UI appearance with Dark mode enabled
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/Cells/BillingAddressTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/StatusListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
Labels: Basic Fulfillment, Dark Mode, Order Details, [Type] Bug

#1457 Aztec editor for Product description: part 2.2 - format bar actions - ordered/unordered list, heading
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/AztecFormatBarFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecHeaderFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecUnorderedListFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/OptionsTableViewController+Styles.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecHeaderFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecUnorderedListFormatBarCommandTests.swift
Labels: Add/Edit Products, Products release 1

#1462 Remove a warning
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
Labels: [Type] Enhancement

#1460 Fixed Hound-CI violations
  Networking/Networking/Model/ShippingLine.swift
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLine+CoreDataProperties.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Authentication/Epilogue/EmptyStoresTableViewCell.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsHeaderPlainTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/Cells/BillingAddressTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/OrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/StatusListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/SummaryTableViewCellTests.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: [Type] Task

#1459 Order Detail: fixed wrong spacing between sections
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: Order Details, [Status] Needs Design Review, [Type] Bug

#1463 Add/Edit Products: main screen - add tappable Product description table view cell
  WooCommerce/Classes/Extensions/String+HTML.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product+ProductForm.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/StringHTMLTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
Labels: Add/Edit Products, Products release 1

#1458 Update Installable builds for AppCenter
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#1477 Updated sorting in Product List
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
Labels: Product List

#1474 Fixed Settings cells selection style with dark mode enabled
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/BasicTableViewCell.swift
Labels: App Settings, Dark Mode, Low hanging fruit, [Type] Bug

#1476 Fixed cell selection style in Reviews with dark mode enabled
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.swift
Labels: Dark Mode, Low hanging fruit, Product Reviews, [Type] Bug

#1472 Create a screen with an editable text view
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Products release 1

#1483 Merge 3.0 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/keywords.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1481 Fixed Shipping Method cell on Order Details with dark mode enabled
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerNoteTableViewCell.swift
Labels: Dark Mode, Order Details, [Type] Bug

#1484 Readonly Product Variations: Storage layer schema update
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Attribute+CoreDataClass.swift
  Storage/Storage/Model/Attribute+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/ProductDimensions+CoreDataProperties.swift
  Storage/Storage/Model/ProductDownload+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariation+CoreDataClass.swift
  Storage/Storage/Model/ProductVariation+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 23.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
Labels: Add/Edit Products, Products teaser release

#1485 Networking & Yosemite layers: update Product name
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-update-name.json
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products, Products release 1

#1492 Readonly Product Variations: Networking layer changes
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductVariationListMapper.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Model/Product/ProductVariationAttribute.swift
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variations-load-all.json
Labels: Add/Edit Products, Products teaser release

#1490 Merge 3.1 into develop
  RELEASE-NOTES.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1491 Hot fix: update stats v4 endpoint and banner message when reverting from stats v4 to v3
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
Labels: Hotfix, Store Stats, [Type] Bug

#1493 Add/Edit Products: update Product name UI
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
Labels: Add/Edit Products, Products release 1

#1495 Readonly Product Variations: Yosemite changes
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductVariationAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/ProductVariation+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationAttribute+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: Add/Edit Products, Products teaser release

#1478 Read-only Refunds, part 1
  Networking/Networking.xcodeproj/xcshareddata/xcschemes/Networking.xcscheme
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Mapper/OrderListMapperTests.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/orders-load-all.json
  Storage/Storage.xcodeproj/xcshareddata/xcschemes/Storage.xcscheme
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.xib
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/GenerateCredentials.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce Alpha.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
  Yosemite/Yosemite.xcodeproj/xcshareddata/xcschemes/Yosemite.xcscheme
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Order Details, Refunds, [Status] Needs Design Review

#1498 Settings: switching store now update correctly the screen
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: App Settings, [Type] Bug, iOS 13

#1503 Merge 3.1 into develop
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#1511 Update Settings > Beta Features for Products teaser release
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/NotificationsBadgeController.swift
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
  WooCommerce/Classes/ViewRelated/TabBar/UITabBar+Order.swift
  WooCommerce/Classes/ViewRelated/TabBar/WooTab+Tag.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests+ProductListFeatureFlag.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/PListStorage/ProductsVisibilityPListWrapper.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/MockInMemoryStorage.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsVisibility.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+StatsVersion.swift
Labels: App Settings, Product List, Products teaser release

#1510 Readonly Product Variations: Variations & Product Details UI
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product Details, Products teaser release

#1497 Aztec editor for Product description: part 2.3 - link format action
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/AztecFormatBarFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecLinkFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/LinkSettings/LinkSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/LinkSettings/LinkSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/SettingTitleAndValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SettingTitleAndValueTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Products release 1

#1446 Bump Zendesk. Build on Xcode 11.2.1.GM
  .circleci/config.yml
  .ruby-version
  Podfile
  Podfile.lock
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tooling

#1520 Readonly Product Variations: analytics
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: Product Details, Products teaser release, Tracks Events

#1523 Add/Edit Product main screen: show price/inventory/shipping settings rows
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/UIImage+ProductForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Add/Edit Products, Products release 1

#1522 Product List: add a WIP banner
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UITableView+HeaderFooterHelpers.swift
  WooCommerce/Classes/Extensions/UIView+Border.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
  WooCommerce/Resources/Images.xcassets/icon-tools.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-tools.imageset/icon-tools.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Product List, Products teaser release

#1528 Add/Edit/Detail Products: product images horizontal scroll view with readonly/editable empty state
  WooCommerce/Classes/Extensions/UICollectionViewCell+Helpers.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/AddProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/AddProductImageCollectionViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ExtendedAddProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ExtendedAddProductImageCollectionViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesFlowLayout.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/AddProductImageCollectionViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/ExtendedAddProductImageCollectionViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/ProductImageCollectionViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
Labels: Add/Edit Products, Product Details, Products release 1

#1534 Update Fastlane to the new org name in AppCenter
  fastlane/Fastfile
Labels: Tooling
