Repository woocommerce/woocommerce-ios, pull requests merged in 2019-04, with the labels that each got.

#825 Product settings fetch
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/CodingUserInfoKey+Woo.swift
  Networking/Networking/Mapper/SiteSettingsMapper.swift
  Networking/Networking/Model/SiteSetting.swift
  Networking/Networking/Model/SiteSettingGroup.swift
  Networking/Networking/Remote/SiteSettingsRemote.swift
  Networking/NetworkingTests/Mapper/SiteSettingsMapperTests.swift
  Networking/NetworkingTests/Remote/SiteSettingsRemoteTests.swift
  Networking/NetworkingTests/Responses/settings-general-alt.json
  Networking/NetworkingTests/Responses/settings-product-alt.json
  Networking/NetworkingTests/Responses/settings-product.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/SiteSetting+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 13.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/Yosemite/StoresManager.swift
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  Yosemite/Yosemite/Actions/SettingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/ReadOnly/SiteSetting+ReadOnlyType.swift
  Yosemite/Yosemite/Model/Storage/SiteSetting+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: Product Details

#826 Don't track stats loaded events if user is not authed
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
Labels: Store Stats, Usage Analytics, [Type] Bug

#829 Remove the store switcher FancyAlert
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+SwitchStore.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Type] Task

#830 Product Variations Mark1: Storage Fun!
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ProductVariation+CoreDataClass.swift
  Storage/Storage/Model/ProductVariation+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationAttribute+CoreDataClass.swift
  Storage/Storage/Model/ProductVariationAttribute+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationDimensions+CoreDataClass.swift
  Storage/Storage/Model/ProductVariationDimensions+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationImage+CoreDataClass.swift
  Storage/Storage/Model/ProductVariationImage+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 13.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
Labels: Product Details

#831 Product Details: Update ProductStore to handle multiple sites better
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Product Details, [Type] Task

#832 Order details: Tracking numbers can now be copied to the pasteboard
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
Labels: Order Details, [Type] Task

#834 Creates a testing app delegate subclass to speed up test launch
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/System/main.swift
  WooCommerce/Resources/Info.plist
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/TestingAppDelegate.swift
  WooCommerce/WooCommerceTests/System/TestingMode.storyboard
  WooCommerce/WooCommerceTests/TestAssets.xcassets/Contents.json
  WooCommerce/WooCommerceTests/TestAssets.xcassets/wapuu-dev.imageset/Contents.json
  WooCommerce/WooCommerceTests/TestAssets.xcassets/wapuu-dev.imageset/wapuu-dev.png
Labels: [Type] Enhancement

#840 Merge release/1.5 into develop
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
Labels: Localization

#841 Product Variations Mark 2: Networking!
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/CodingUserInfoKey+Woo.swift
  Networking/Networking/Mapper/OrderListMapper.swift
  Networking/Networking/Mapper/OrderMapper.swift
  Networking/Networking/Mapper/ProductListMapper.swift
  Networking/Networking/Mapper/ProductMapper.swift
  Networking/Networking/Mapper/ProductVariationListMapper.swift
  Networking/Networking/Mapper/ProductVariationMapper.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Model/Product/ProductVariationAttribute.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Mapper/ProductListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variation.json
  Networking/NetworkingTests/Responses/product-variations-load-all.json
Labels: Product Details

#843 Update WordPressKit and WordPressAuthenticator to release versions
  Podfile
  Podfile.lock
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tooling

#835 Log in with Site URL
  Networking/Networking/Network/MockupNetwork.swift
  Networking/Networking/Settings/Credentials.swift
  Networking/NetworkingTests/Requests/AuthenticatedRequestTests.swift
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/Yosemite/StoresManager.swift
  WooCommerce/WooCommerceTests/Internal/SessionManager+Internal.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
Labels: [Type] Enhancement

#845 Product Variations Mark 3: Yosemite or bust!
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Storage/Storage/Model/ProductVariation+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationImage+CoreDataProperties.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/WooCommerceTests/Mockups/MockupApplicationAdapter.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/ReadOnly/ProductVariation+ReadOnlyType.swift
  Yosemite/Yosemite/Model/Storage/ProductVariation+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationAttribute+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationDimensions+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationImage+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Product Details

#860 Fixes ProductMapper errors for variation type products
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductAttribute.swift
  Networking/Networking/Model/Product/ProductType.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/variation-as-product.json
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Product Details

#817 Allow the user to enter package tracking details mark IV: UI
  Networking/Networking/Remote/ShipmentsRemote.swift
  Networking/NetworkingTests/Remote/ShipmentsRemoteTests.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UITextField+Helpers.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/ShippingProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShippingProvidersViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/HeadlineLabelTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Model/AddManualTrackingViewModelTests.swift
  WooCommerce/WooCommerceTests/Model/EditManualTrackingViewModelTest.swift
  WooCommerce/WooCommerceTests/ViewRelated/DatePickerTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/EditableValueOneTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ManualTrackingViewControllerTests.swift
  Yosemite/Yosemite/Actions/ShipmentAction.swift
  Yosemite/Yosemite/Stores/ShipmentStore.swift
  Yosemite/YosemiteTests/Stores/ShipmentStoreTests.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#864 Merge Release/1.6 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Tooling

#867 Update CocoaPods to 1.6.1
  Gemfile
  Gemfile.lock
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: Tooling

#853 Updates help screen to point at Woo docs site instead of Woo FAQ
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#866 Rakefile: Don't use 'cocoapods-check' to check if pods should be installed
  Gemfile
  Gemfile.lock
  Rakefile
Labels: Tooling

#863 Order Fulfillment: Add Tracks events for manually adding / removing shipment trackings
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Model/AddManualTrackingViewModelTests.swift
  WooCommerce/WooCommerceTests/Model/EditManualTrackingViewModelTest.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/ManualTrackingViewControllerTests.swift
Labels: Basic Fulfillment, Usage Analytics, Woo Extensions, [Type] Enhancement

#861 Order Fulfillment: Allow the user to delete package tracking details
  Networking/Networking/Requests/JetpackRequest.swift
  Networking/NetworkingTests/Requests/JetpackRequestTests.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell.xib
  WooCommerce/WooCommerceTests/Model/AddManualTrackingViewModelTests.swift
  WooCommerce/WooCommerceTests/Model/EditManualTrackingViewModelTest.swift
Labels: Basic Fulfillment, Woo Extensions, [Status] Needs Design Review, [Type] Enhancement

#872 Tracks: Fix tracks events that are not consistent with WCAndroid + Spreadsheet
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
Labels: Usage Analytics, [Type] Task

#874 Product Details UI Mark1: Adds ProductLoaderVC + ProductDetailsVC
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product Details

#882 Change the type of event firing and the data reported in the OrderStatusListViewController
  WooCommerce/Classes/ViewRelated/Orders/OrderStatusListViewController.swift
Labels: Usage Analytics, [Type] Bug

#879 Order fulfillment: Hide the `Add Tracking` button until the request to sync tracking succeeds
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#873 Order Fulfillment: Allow the user to search and filter shipment providers
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/Extensions/UISearchBar+Appearance.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/ShippingProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyListMessageWithActionView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyListMessageWithActionView.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/EmptyListMessageWithActionTests.swift
Labels: Basic Fulfillment, Woo Extensions, [Status] Needs Design Review, [Type] Enhancement

#868 Xcode 10.2 compatibility
  .circleci/config.yml
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/Networking/Remote/Remote.swift
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Protocols/StorageManagerType.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/ResultsController.swift
Labels: Tooling

#888 Merge Release/1.6 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Tooling

#883 Order Fulfillment: Pre-select the last provider used when adding a new shipment tracking
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Network/NullNetwork.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/PreselectedProvider.swift
  Storage/Storage/Protocols/FileStorage.swift
  Storage/Storage/Tools/PListFileStorage.swift
  Storage/StorageTests/Mock data/shipment-provider.plist
  Storage/StorageTests/Tools/FileStorageTests.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/shipment-provider.plist
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: Basic Fulfillment, Woo Extensions

#915 Merge Release/1.7 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Tooling

#889 Product Details UI Mark2: Product image + title cell
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/variation-as-product.json
  WooCommerce/Classes/Extensions/UIColor+Helpers.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/LargeImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LargeImageTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Product Details

#893 Use and recognize WordPress.com opt out of analytics setting
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/CodingUserInfoKey+Woo.swift
  Networking/Networking/Mapper/AccountSettingsMapper.swift
  Networking/Networking/Model/AccountSettings.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Mapper/AccountSettingsMapperTests.swift
  Networking/NetworkingTests/Remote/AccountSettingsRemoteTests.swift
  Networking/NetworkingTests/Responses/me-settings.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Account+CoreDataProperties.swift
  Storage/Storage/Model/AccountSettings+CoreDataClass.swift
  Storage/Storage/Model/AccountSettings+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 14.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/AccountSettings+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: Usage Analytics, [Type] Enhancement

#917 Update project to support iOS 12.0
  RELEASE-NOTES.txt
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Type] Task

#918 Fulfill order: Add support for Dynamic Type to adding manual shipment tracking
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell.xib
Labels: Accessibility, Basic Fulfillment, [Type] Bug

#919 Order Details: Creation Dates of Notes are clipped for large fonts
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteTableViewCell.xib
Labels: Accessibility, Order Details, [Type] Bug

#914 Fulfillment screen: change edit icon to a delete icon
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Model/EditManualTrackingViewModelTest.swift
  WooCommerce/WooCommerceTests/ViewRelated/EditableOrderTrackingTableViewCellTests.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#924 Update the WordPress Shared pod
  Networking/Networking.xcodeproj/xcshareddata/xcschemes/Networking.xcscheme
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/xcshareddata/xcschemes/Storage.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/GenerateCredentials.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
  Yosemite/Yosemite.xcodeproj/xcshareddata/xcschemes/Yosemite.xcscheme
Labels: [Type] Task, iOS 12

#928 Update project to Swift 5
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Logging.swift
  Networking/Networking/Model/Stats/MIContainer.swift
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Logging.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Tools/Logging/Logging.swift
  WooCommerce/Classes/Tools/ResultsController+UIKit.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Internal/Logging.swift
  Yosemite/Yosemite/Tools/EntityListener.swift
Labels: Hack Week, [Type] Task, iOS 12

#920 Dashboard: Add support for Dynamic Type to "Number of orders to fulfill" section
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/NewOrdersViewController.swift
Labels: Accessibility, Dashboard, [Type] Bug
