Repository woocommerce/woocommerce-ios, pull requests merged in 2019-12, with the labels that each got.

#1530 Design updates for the Products teaser release
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
Labels: Dark Mode, Product List, Products teaser release

#1525 Create a Shipping Settings service for weight and dimension unit
  WooCommerce/Classes/Extensions/UITableView+HeaderFooterHelpers.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/ShippingSettings/ShippingSettingsService.swift
  Yosemite/Yosemite/Tools/ShippingSettings/StorageShippingSettingsService.swift
  Yosemite/YosemiteTests/Tools/ShippingSettings/StorageShippingSettingsServiceTests.swift
Labels: Add/Edit Products, Products release 1

#1533 Product Details: handled support rotation on product images collection view
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
Labels: Add/Edit Products, Product Details

#1537 Hotfix: crash when you try to open a push notification for a product review with app inactive
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: Notifications, Product Reviews, [Type] Crash

#1516 Feature Flag: delete dead code
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: Tech Debt

#1518 Fix broken CurrencySettings unit test - Mark II
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
Labels: Broken Tests

#1544 Merge 3.1 into develop
  Networking/Networking/Model/Refund/OrderItemRefund.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecTextViewAttachmentHandler.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/AztecFormatBarCommandCoordinator.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/FormatBarItemViewProperties.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Model/Extensions/OrderStatsV4Interval+DateTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1540 Create a generic list selector screen - fixed list - stock status example
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewProperties.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductStockStatusListSelectorDataSource.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStockStatusListSelectorDataSourceTests.swift
Labels: Add/Edit Products, Products release 1

#1536 Tool: Wormholy integration into the debug build
  Podfile
  Podfile.lock
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Networking, Tooling

#1547 Merge the hotfix 3.1.1 into master
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
Labels: Releases

#1548 Merge hot fix 3.1.1 into develop
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
Labels: Releases

#1538 Storage layer: add `ProductShippingClass` entity
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/ProductShippingClass+CoreDataClass.swift
  Storage/Storage/Model/ProductShippingClass+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 24.xcdatamodel/contents
Labels: Add/Edit Products, Products release 1

#1539 Networking/Yosemite layer: retrieve a list of `ProductShippingClass`
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductShippingClassListMapper.swift
  Networking/Networking/Model/Product/ProductShippingClass.swift
  Networking/Networking/Remote/ProductShippingClassRemote.swift
  Networking/NetworkingTests/Remote/ProductShippingClassRemoteTests.swift
  Networking/NetworkingTests/Responses/product-shipping-classes-load-all.json
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductShippingClassAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/ProductShippingClass+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductShippingClassStore.swift
  Yosemite/YosemiteTests/Stores/ProductShippingClassStoreTests.swift
Labels: Add/Edit Products, Products release 1

#1559 Turn on feature flags for teaser release
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
Labels: Add/Edit Products, Products teaser release

#1551 Image caching improvements using Kingfisher
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/UIImageView+Kingfisher.swift
  WooCommerce/Classes/ServiceLocator/NoticePresenter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/ProductImageCollectionViewCellTests.swift
Labels: [Type] Enhancement

#1546 Update Ghost style beat end color to an opaque color
  WooCommerce/Classes/Extensions/Ghost+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
Labels: Dark Mode, [Type] Bug

#1553 Merge 3.2 into develop
  Networking/Networking/Remote/OrdersRemote.swift
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1557 Create a generic list selector screen - paginated list - shipping class example
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewProperties.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/PaginatedListViewControllerStateCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/PaginatedProductShippingClassListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/PaginatedListViewControllerStateCoordinatorTests.swift
Labels: Add/Edit Products, Products release 1

#1561 Added sale start/end dates to Product (Yosemite+Networking+Storage)
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-update.json
  Networking/NetworkingTests/Responses/product.json
  Networking/NetworkingTests/Responses/products-load-all.json
  Networking/NetworkingTests/Responses/products-search-photo.json
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 24.xcdatamodel/contents
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/YosemiteTests/Mockups/MockProduct.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products, Products release 1

#1560 Updated open source licenses
  WooCommerce/Resources/HTML/licenses.html
Labels: Low hanging fruit

#1564 Create a system color wrapper to support iOS 12 and update default button colors
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/Styles/UIColor+SystemColors.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/FulfillButtonTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/OverlayMessageView.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dark Mode, Hotfix

#1570 Merge release notes (and beta update) into develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/Ghost+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#1573 Dark Mode: update colors for Review details
  WooCommerce/Classes/ViewRelated/Notifications/Adapters/NoteDetailsRow.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsHeaderTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dark Mode, Hotfix

#1572 Dark Mode: update colors for settings UI
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwitchTableViewCell.swift
Labels: Dark Mode, Hotfix

#1565 Dark Mode: update colors for login with updated `WordPressAuthenticator`
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/AccountHeaderView.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Extensions/NSAttributedString+Helpers.swift
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Extensions/UIImage+TintColor.swift
  WooCommerce/Classes/Styles/UIColor+SystemColors.swift
  WooCommerce/Resources/Images.xcassets/prologue-bubbles.imageset/Bubbles-light-1.pdf
  WooCommerce/Resources/Images.xcassets/prologue-bubbles.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-logo.imageset/WooLogoLight-1.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dark Mode, Hotfix

#1579 Fixed product experimental feature after a logout and login
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: App Settings, Hotfix, Product List, [Type] Bug

#1571 Dark Mode: update colors for Dashboard tab
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Extensions/UIImage+TintColor.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/Extensions/UIView+Border.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/TopPerformersHeaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/TopPerformersHeaderView.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartPlaceholderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/WooCommerceTests/ViewRelated/EditableValueOneTableViewCellTests.swift
Labels: Dark Mode, Hotfix, [Type] Bug

#1580 Dark Mode: update colors for Orders tab
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Extensions/UILabel+OrderStatus.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/OrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextViewTableViewCell.swift
Labels: Dark Mode, Hotfix

#1582 Dark Mode: update colors for star rating view
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/StarRatingView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Dark Mode, Hotfix, Product Reviews

#1585 Fixed clipped content on section headings with larger font sizes
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnSectionHeaderView.swift
Labels: [Type] Bug

#1587 Product Search: update empty search results placeholder copy
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
Labels: Product List, [Type] Bug

#1600 Disclosure indicators for each product in the list
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
Labels: Product List, [Type] Enhancement

#1552 Unit tests fail for non-US regions
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/DateWooTests.swift
  WooCommerce/WooCommerceTests/Model/AddManualCustomTrackingViewModelTests.swift
  WooCommerce/WooCommerceTests/Model/AddManualTrackingViewModelTests.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewViewModelTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/EditableOrderTrackingTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ManualTrackingViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderTrackingTableViewCellTests.swift
Labels: Localization, Unit Tests

#1592 Zendesk: Migrate from 3.x to 4.x
  Podfile
  Podfile.lock
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Support

#1594 Order Fulfillment: make customer note multiline
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
Labels: Basic Fulfillment

#1595 Create Copy email action if the Email Message composer is not available
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderEmailComposer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
Labels: Basic Fulfillment, [Status] Needs Design Review

#1593 Order Fulfillment: give order item some padding when no SKU
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.xib
Labels: Order Details, [Status] Needs Design Review

#1586 Product List: make the Products API request ordered by ascending name
  Networking/Networking/Remote/ProductsRemote.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: Hotfix, Product List, [Type] Bug

#1581 Dark Mode: update colors for Products tab
  WooCommerce/Classes/Extensions/UICollectionViewCell+Helpers.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/Extensions/UITableViewCell+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/ProductImageCollectionViewCellTests.swift
Labels: Dark Mode, Hotfix, Product List

#1596 Dark Mode: update colors for badge on Orders and Reviews tab
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/BadgeLabel.swift
Labels: Dark Mode, Hotfix

#1606 Products: delete stored Product's when syncing Products for the first page
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Tools/StorageType+Deletions.swift
  WooCommerce/Classes/Tools/SyncCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Hotfix, Product List, [Type] Bug

#1597 Dark Mode: update colors for Orders/Products search
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/FooterSpinnerView.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.xib
Labels: Dark Mode, Hotfix

#1605 Dark Mode: update colors for notice view
  WooCommerce/Classes/Tools/Notices/NoticeView.swift
Labels: Dark Mode, Hotfix

#1604 Dark Mode: update illustrations for Dark and Light modes
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-light-1.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers-light-1.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers.pdf
Labels: Dark Mode, Hotfix

#1607 Dark Mode: update Reviews tab empty state image
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/woo-empty-reviews-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/woo-empty-reviews-light-1.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/woo-empty-reviews-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Dark Mode, Hotfix, Product Reviews

#1609 Stats v4 hotfix
  Networking/Networking/Model/Stats/OrderStatsV4Totals.swift
  Networking/NetworkingTests/Responses/order-stats-v4-daily.json
  Networking/NetworkingTests/Responses/order-stats-v4-defaults.json
  Networking/NetworkingTests/Responses/order-stats-v4-hour.json
  Networking/NetworkingTests/Responses/order-stats-v4-month.json
  Networking/NetworkingTests/Responses/order-stats-v4-wcadmin-activated.json
  Networking/NetworkingTests/Responses/order-stats-v4-year-alt.json
  Networking/NetworkingTests/Responses/order-stats-v4-year.json
  RELEASE-NOTES.txt
Labels: Hotfix, Store Stats

#1613 iOS 12: fix crash on Orders/Products search action
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: Hotfix, [Type] Crash

#1612 Stats v4 hotfix: update min WC Admin version for the stats v4->v3 banner
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
Labels: Hotfix, Store Stats

#1617 Fixed Orders badge which now is correctly refreshed after switching stores
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
Labels: Order List, [Type] Bug

#1616 Fixed footer overlapping bottom row with larger font size in Settings > About
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TableFooterView.xib
Labels: Accessibility, App Settings, [Type] Bug

#1621 Remove Xcode warning
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
Labels: [Type] Bug

#1626 Fixed issues on Order Detail refresh
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: Order Details, [Type] Bug

#1588 Implemented Tax Classes (Yosemite+Networking+Storage)
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/TaxClassListMapper.swift
  Networking/Networking/Model/TaxClass.swift
  Networking/Networking/Remote/TaxClassRemote.swift
  Networking/NetworkingTests/Mapper/TaxClassListMapperTest.swift
  Networking/NetworkingTests/Remote/TaxClassRemoteTests.swift
  Networking/NetworkingTests/Responses/taxes-classes.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/TaxClass+CoreDataClass.swift
  Storage/Storage/Model/TaxClass+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 24.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/TaxClassAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/TaxClass+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/TaxClassStore.swift
  Yosemite/YosemiteTests/Mockups/MockProduct.swift
  Yosemite/YosemiteTests/Stores/TaxClassStoreTests.swift
  docs/NETWORKING.md
  docs/YOSEMITE.md
Labels: Add/Edit Products, Products release 1

#1514 Read-only Refunds Mark II
  WooCommerce/Classes/Extensions/NSDecimalNumber+Helpers.swift
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.swift
  WooCommerce/WooCommerceTests/Extensions/DoubleWooTests.swift
  WooCommerce/WooCommerceTests/Extensions/NSDecimalNumberWooTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Refunds

#1602 A quick example using the badgeValue property
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order List, [Status] Needs Design Review

#1631 Merge 3.2.1 into develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
Labels: Releases

#1630 Merge 3.2.1 into master
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
Labels: Releases

#1610 Crash: Orders table row count in section zero is invalid during a refresh
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
Labels: Order List, [Type] Crash

#1632 Bumps Authenticator pod to 1.10.5 release
  Podfile
  Podfile.lock
  WooCommerce/Classes/AppDelegate.swift
Labels: Releases

#1627 Edit Product: shipping settings UI
  WooCommerce/Classes/Tools/UnitInputFormatter/DecimalInputFormatter.swift
  WooCommerce/Classes/Tools/UnitInputFormatter/UnitInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/Product+ShippingSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/DecimalInputFormatterTests.swift
Labels: Add/Edit Products, Products release 1

#1649 Order Details: fix product quantity title in the 2-column header view isn't aligning to the trailing edge
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnSectionHeaderView.xib
Labels: Order Details, [Type] Bug

#1641 Edit Product: inventory settings UI
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductBackordersSetting.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/Tools/UnitInputFormatter/StringInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductBackordersSettingListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductStockStatusListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/Product+ShippingSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductBackordersSettingListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStockStatusListSelectorDataSourceTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: Add/Edit Products, Products release 1

#1651 Remove Xcode warnings
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 24.xcdatamodel/contents
Labels: [Type] Task

#1650 Add/Edit Products: edit price settings screen UI
  WooCommerce/Classes/Tools/UnitInputFormatter/PriceInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Product+PriceSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwitchTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/PriceInputFormatterTests.swift
Labels: Add/Edit Products, Products release 1, [Status] Needs Design Review

#1633 Edit Product: fetch product shipping class and update shipping settings remotely
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductDimensions.swift
  Networking/NetworkingTests/Responses/product-update.json
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/Product+ShippingSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/PaginatedProductShippingClassListSelectorDataSourceTests.swift
  Yosemite/Yosemite/Actions/ProductShippingClassAction.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/Yosemite/Stores/ProductShippingClassStore.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
  Yosemite/YosemiteTests/Stores/ProductShippingClassStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products, Products release 1

#1648 Product update error handling (SKU for now)
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: Add/Edit Products, Products release 1

#1646 Navigate to Refund Details screen
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/Styles/UIColor+SystemColors.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Refunds, [Status] Needs Design Review

#1676 Product List: show the empty state overlay to the bottom of the WIP banner
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: Product List, [Type] Bug

#1656 Dark Mode: color updates for Fulfill Order, Review Details, Stats chart lines, Nav/Tab Bar
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UITabBar+Appearance.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteDetailsHeaderPlainTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
Labels: Dark Mode

#1670 Add unit tests for all Aztec format bar commands
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecBlockquoteFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecBoldFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecHorizontalRulerFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecInsertMoreFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecItalicFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecLinkFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecSourceCodeFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecStrikethroughFormatBarCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Editor/FormatBar/Command/AztecUnderlineFormatBarCommandTests.swift
Labels: Add/Edit Products, Unit Tests

#1659 Paginated List: show placeholder state when fetching for the first page of data
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/PaginatedListViewControllerStateCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/PaginatedListViewControllerStateCoordinatorTests.swift
Labels: Product List

#1665 Fix ghost layers in the shipping class selector
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.xib
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/PaginatedProductShippingClassListSelectorDataSourceTests.swift
Labels: Add/Edit Products, [Type] Bug

#1684 TwoColumnSectionHeaderView now manage the column to take 100% of the width if the other column is hidden/empty
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnSectionHeaderView.swift
Labels: [Type] Bug
