Repository woocommerce/woocommerce-ios, pull requests merged in 2019-07, with the labels that each got.

#1055 Fulfill Order: fix shipment date clipped for larger font sizes
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.swift
Labels: Accessibility, Basic Fulfillment, [Type] Bug, good first issue

#1054 Fulfill Order: fix "Mark as complete" button title truncated for larger font sizes
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
Labels: Accessibility, Basic Fulfillment, [Type] Bug, good first issue

#1074 Merge Release/2.2 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1060 Fulfill order: allow any number of lines for shipping provider and tracking number
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.swift
Labels: Accessibility, Basic Fulfillment, [Type] Bug, good first issue

#1076 Update reference to Swift version in project README
  README.md
Labels: Documentation

#1081 Clone project wiki in docs folder
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  docs/ARCHITECTURE.md
  docs/Home.md
  docs/NETWORKING.md
  docs/STORAGE.md
  docs/YOSEMITE.md
  docs/images/networking.png
  docs/images/storage.png
  docs/images/yosemite_actions.png
  docs/images/yosemite_general.png
Labels: Documentation

#1068 Notifications: improve Dynamic Type support in the body of the notification
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIFont+Helpers.swift
  WooCommerce/Classes/Tools/StringFormatter/StringStyles.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteTableViewCell.xib
Labels: Accessibility, Notifications, [Type] Bug, good first issue

#1085 Order Details > Shipment Tracking: fix provider name and shipment date truncated when using larger font sizes
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTrackingTableViewCell.swift
Labels: Accessibility, Order Details, [Type] Bug, good first issue

#1046 Order list: fix truncated payment status label for large font sizes
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
Labels: Accessibility, Order List, [Type] Bug, good first issue

#1088 Merge Release/2.2 into develop
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1082 Stats: add to the Networking layer for new Stats
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/CodingUserInfoKey+Woo.swift
  Networking/Networking/Mapper/OrderStatsV4Mapper.swift
  Networking/Networking/Model/Stats/OrderStatsV4.swift
  Networking/Networking/Model/Stats/OrderStatsV4Interval.swift
  Networking/Networking/Model/Stats/OrderStatsV4Totals.swift
  Networking/Networking/Model/Stats/StatsGranularityV4.swift
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  Networking/NetworkingTests/Mapper/OrderStatsMapperV4Tests.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteV4Tests.swift
  Networking/NetworkingTests/Requests/WooAPIVersionTests.swift
  Networking/NetworkingTests/Responses/order-stats-v4-daily.json
  Networking/NetworkingTests/Responses/order-stats-v4-defaults.json
  Networking/NetworkingTests/Responses/order-stats-v4-hour.json
  Networking/NetworkingTests/Responses/order-stats-v4-month.json
  Networking/NetworkingTests/Responses/order-stats-v4-year.json
Labels: Store Stats

#1084 Stats: add to the Storage layer for new stats
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/OrderStatsV4+CoreDataClass.swift
  Storage/Storage/Model/OrderStatsV4+CoreDataProperties.swift
  Storage/Storage/Model/OrderStatsV4Interval+CoreDataClass.swift
  Storage/Storage/Model/OrderStatsV4Interval+CoreDataProperties.swift
  Storage/Storage/Model/OrderStatsV4Totals+CoreDataClass.swift
  Storage/Storage/Model/OrderStatsV4Totals+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 17.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
Labels: Store Stats

#1101 Order list search: fix no results text clipped with larger font sizes
  WooCommerce/Classes/ViewRelated/Orders/OrderSearchViewController.swift
Labels: Accessibility, Basic Fulfillment, [Type] Bug, good first issue

#1086 Order Details > Shipment Tracking: add "Copy Tracking Number" to "more" action menu
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
Labels: Order Details, good first issue

#1104 Merge Release/2.3 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1103 Automatic dSYM upload to Sentry
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env.example
Labels: Tooling

#1102 Merge Release/2.2 into Master
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Remote/AccountRemoteTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Extensions/UITableView+FooterHelpers.swift
  WooCommerce/Classes/Tools/Developer/DeveloperEmailChecker.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/NewOrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyListMessageWithActionView.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/OverlayMessageView.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TableFooterView.xib
  WooCommerce/Classes/Yosemite/StoresManager.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/DeveloperEmailCheckerTests.swift
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1108 Merge Release/2.3 into develop
  Gemfile.lock
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env.example
Labels: Releases

#1105 Dashboard: don't show the error toast when Jetpack site stats module is turned off
  Networking/Networking/Remote/SiteVisitStatsRemote.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/StatsStore.swift
  Yosemite/YosemiteTests/Stores/SiteVisitStatsStoreErrorTests.swift
Labels: Store Stats, [Type] Bug

#1100 Update README.md with more detailed information
  README.md
Labels: Tooling, [Type] Task, good first issue

#1109 Release notes: move "copy tracking number" feature from release 2.3 to 2.4
  RELEASE-NOTES.txt
Labels: Order Details

#1110 Dashboard: show/hide visitor stats when Jetpack module is turned on/off
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
Labels: Dashboard, Jetpack, [Type] Enhancement

#1112 Update Storage.md and Yosemite.md
  docs/STORAGE.md
  docs/YOSEMITE.md
Labels: Documentation

#1077 Refactor OrderDetailsViewController and OrderDetailsViewModel
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderEmailComposer.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderMessageComposer.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderSearchViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Orders.storyboard
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/SummaryTableViewCellTests.swift
Labels: Order Details, Tech Debt

#1114 Stats: add to the Yosemite layer to support new stats
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Stats/OrderStatsV4.swift
  Networking/NetworkingTests/Responses/order-stats-v4-year-alt.json
  Storage/Storage/Model/OrderStatsV4+CoreDataProperties.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/OrderStatsV4+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderStatsV4Interval+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderStatsV4Totals+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: Store Stats

#1121 Extract viewmodel to configure PaymentTableViewCell
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/PaymentTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/PaymentTableViewCellTests.swift
Labels: Order Details, Tech Debt

#1119 Dashboard: handle error when when user has no permission to view site visit stats
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/DotcomError.swift
  Networking/NetworkingTests/Responses/no_stats_permission_error.json
  Networking/NetworkingTests/Responses/stats_module_disabled_error.json
  Networking/NetworkingTests/Validators/DotcomValidatorTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  Yosemite/Yosemite/Stores/StatsStore.swift
  Yosemite/YosemiteTests/Stores/SiteVisitStatsStoreErrorTests.swift
Labels: Dashboard, [Type] Enhancement

#1120 Update the Settings footer to promote hiring
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/Tools/WebviewHelper.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TableFooterView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TableFooterView.xib
Labels: App Settings, [Type] Enhancement

#1126 Update fastlane
  Gemfile
  Gemfile.lock
Labels: Tooling

#1133 Merge release/2.3 into develop
  Gemfile.lock
  config/Version.Public.xcconfig
  fastlane/Pluginfile
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1136 Merge Release/2.4 into develop
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Tooling

#923 Podfile: Link all non shared pods as static frameworks to reduce pre-main launch time
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: Tooling

#1130 Inject mock AnalyticsProvider for unit tests
  WooCommerce/Classes/Analytics/MockupAnalyticsProvider.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: Tracks Events, Unit Tests

#1132 Add mentions to the entities added to support stats V4
  docs/NETWORKING.md
  docs/YOSEMITE.md
Labels: Documentation

#1128 Order Details: calculate time-consuming order note content `strippedHTML` asynchronously
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/AsyncDictionary.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/AsyncDictionaryTests.swift
Labels: Order Details, [Type] Bug

#1131 Stats: logic to determine if Stats v4 is supported
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/order-stats-v4-wcadmin-activated.json
  Networking/NetworkingTests/Responses/order-stats-v4-wcadmin-deactivated.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AvailabilityAction.swift
  Yosemite/Yosemite/Stores/AvailabilityStore.swift
  Yosemite/YosemiteTests/Stores/StatsV4AvailabilityStoreTests.swift
Labels: Store Stats

#1138 Orders badge mark I: Networking
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/OrderCountMapper.swift
  Networking/Networking/Model/OrderCount.swift
  Networking/Networking/Model/OrderCountItem.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/orders-count.json
Labels: Dashboard, Order List, Store Stats, [Type] Enhancement

#1141 Orders badge mark II: Storage
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/OrderCount+CoreDataClass.swift
  Storage/Storage/Model/OrderCount+CoreDataProperties.swift
  Storage/Storage/Model/OrderCountItem+CoreDataClass.swift
  Storage/Storage/Model/OrderCountItem+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 18.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
Labels: Dashboard, Order List, Store Stats, [Type] Enhancement

#1143 Orders badge mark III: Yosemite
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/OrderCount+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderCountItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Dashboard, Order List, Store Stats, [Type] Enhancement

#1146 Orders badge mark III: Yosemite (take two)
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/OrderCount+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderCountItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Dashboard, Order List, Store Stats, [Type] Enhancement
