Repository woocommerce/woocommerce-ios, pull requests merged in 2019-08, with the labels that each got.

#1134 Merge Release/2.3 into master
  Gemfile.lock
  README.md
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Extensions/UIFont+Helpers.swift
  WooCommerce/Classes/Tools/StringFormatter/StringStyles.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/NoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/EditableOrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  config/Version.Public.xcconfig
  docs/ARCHITECTURE.md
  docs/Home.md
  docs/NETWORKING.md
  docs/STORAGE.md
  docs/YOSEMITE.md
  docs/images/networking.png
  docs/images/storage.png
  docs/images/yosemite_actions.png
  docs/images/yosemite_general.png
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/download_metadata.swift
  fastlane/env.example
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1078 Add a feature flag for stats
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: Store Stats

#1155 Merge Release/2.4 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#1152 Rename Notifications to Reviews
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Notifications, [Type] Enhancement

#1148 Orders badge mark IV: UI and integration
  Networking/Networking/Mapper/OrderCountMapper.swift
  Networking/Networking/Model/OrderCount.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/orders-count.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/NotificationsBadgeController.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/BadgeLabel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/ReadOnly/OrderCount+ReadOnlyType.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Dashboard, Order List, Store Stats, [Type] Enhancement

#1147 Dashboard: move child view controller container views setup to code to enable Stats v3/v4 UI
  WooCommerce/Classes/Extensions/UIStoryboard+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dashboard

#1157 Stats: update Stats v4 Networking/Yosemite layers
  Networking/Networking/Model/Stats/StatsGranularityV4.swift
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteV4Tests.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AvailabilityStore.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: Store Stats

#1169 Merge Release/2.4 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1172 Merge Release/2.5 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1174 Update release notes for 2.5
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#1175 Refunds: networking request to get Order Refunds
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/OrderRefundsMapper.swift
  Networking/Networking/Model/OrderRefund.swift
  Networking/Networking/Remote/RefundsRemote.swift
  Networking/NetworkingTests/Mapper/OrderRefundsMapperTests.swift
  Networking/NetworkingTests/Remote/RefundsRemoteTests.swift
  Networking/NetworkingTests/Responses/order-refunds-list.json
  docs/NETWORKING.md
Labels: Networking, Refunds, [Type] Enhancement

#1163 Stats/Storage/Yosemite: add `timeRange` to `OrderStatsV4` and update decimal properties in `OrderStatsV4Interval`
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/OrderStatsV4+CoreDataProperties.swift
  Storage/Storage/Model/OrderStatsV4Totals+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 19.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Model/Storage/OrderStatsV4Totals+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: Store Stats

#1166 Stats/Yosemite: fetch site visit stats for Stats v4 time ranges
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/StatsStore.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: Store Stats

#1168 Stats: add helpers for start/end of day/week/month/year
  WooCommerce/Classes/Extensions/Date+StartAndEnd.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/DateStartAndEndTests.swift
Labels: Store Stats

#1179 Core Data/Networking/Yosemite: fetch and persist `timezone` of `Site`
  Networking/Networking/Model/Site.swift
  Networking/Networking/Remote/AccountRemote.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Site+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 19.xcdatamodel/contents
  Yosemite/Yosemite/Model/Storage/Site+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: Store Stats

#1181 Stats/Yosemite: fetch top earners stats for Stats v4 time ranges
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: Store Stats

#1182 Networking/Yosemite: persist stats v4 interval start/end dates in GMT with extension for `Date` conversion
  Networking/Networking/Extensions/DateFormatter+Woo.swift
  Networking/Networking/Model/Stats/OrderStatsV4Interval.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Extensions/OrderStatsV4Interval+Date.swift
  Yosemite/YosemiteTests/Model/Extensions/OrderStatsV4Interval+DateTests.swift
Labels: Store Stats

#1184 Stats: workaround for stats v4 API stale data issue with the same parameters
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
Labels: Store Stats

#1186 A unit test fails on first run
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
Labels: Unit Tests, [Type] Bug

#1187 Order badge cuts off with two characters
  RELEASE-NOTES.txt
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/BadgeLabel.swift
Labels: Order List, [Status] Needs Design Review, [Type] Bug

#1188 Stats v4 UI: show no revenue message for the time range
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OrderStatsV4Interval+Chart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Store Stats

#1191 Set LoginPrologue's presentation style to fullscreen to prevent it from being dismissed
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: Priority: HIGH, [Type] Bug, iOS 13

#1192 Clear background color of view grouping product name and price
  WooCommerce/Classes/ViewRelated/Orders/Cells/ProductDetailsTableViewCell.xib
Labels: Order Details, [Type] Bug, iOS 13

#1195 Explain a Jetpack fix that affected our login flow
  RELEASE-NOTES.txt
Labels: Jetpack, [Type] Bug

#1198 Service Locator mark I. Service Locator and Analytics
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/AccountHeaderView.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/Analytics.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderEmailComposer.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderMessageComposer.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/NewOrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderSearchViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/StoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockupAnalyticsProvider.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: Tech Debt, [Type] Enhancement

#1200 Service Locator mark II. Stores
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Notifications/PushNotificationsConfiguration.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/ServiceLocator/StoresManager.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/Tools/Logging/CrashLogging.swift
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  WooCommerce/Classes/Tools/SiteCountry.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/NewOrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderSearchViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockupStoresManager.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
Labels: Tech Debt, [Type] Enhancement

#1189 Stats v4 UI: add date bar to the top of the charts
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
Labels: Dashboard, Store Stats, [Type] Enhancement

#1194 Stats v4 UI: show more granular labels on chart x-axis
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4ChartAxisHelper.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStatsV4ChartAxisHelperTests.swift
Labels: Store Stats

#1208 Reviews tab mark I: Networking
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductReviewListMapper.swift
  Networking/Networking/Mapper/ProductReviewMapper.swift
  Networking/Networking/Model/Product/ProductReview.swift
  Networking/Networking/Model/Product/ProductReviewStatus.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  Networking/NetworkingTests/Mapper/ProductReviewListMapperTests.swift
  Networking/NetworkingTests/Remote/ProductReviewsRemoteTests.swift
  Networking/NetworkingTests/Responses/reviews-all.json
  Networking/NetworkingTests/Responses/reviews-single.json
Labels: Notifications, Product Reviews, [Type] Enhancement

#1211 Order Detail: Updated Payment section
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/PaymentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/PaymentTableViewCell.xib
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/PaymentTableViewCellTests.swift
Labels: Refunds

#1215 Update release-toolkit to 0.7.1
  Gemfile.lock
  fastlane/Pluginfile
Labels: Tooling

#1210 Products no longer load images, no matter how long you wait
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: Order Details, [Type] Bug

#1225 PR Template: Make release notes checkbox clearer
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Tooling

#1217 Update Zendesk SDK to version 3.0.1
  Podfile
  Podfile.lock
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Support, [Type] Enhancement

#1219 Global dependencies. Service Locator and AppDelegate
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Notifications/ApplicationAdapter.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/Authentication.swift
  WooCommerce/Classes/ServiceLocator/Logs.swift
  WooCommerce/Classes/ServiceLocator/NoticePresenter.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/Tools/Notices/DefaultNoticePresenter.swift
  WooCommerce/Classes/Tools/SiteCountry.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderSearchViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
Labels: Tech Debt, [Type] Enhancement

#1221 Dashboard/Stats v4: update site visit params
  Networking/Networking/Remote/SiteVisitStatsRemote.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: Dashboard, Store Stats

#1213 Reviews tab mark II: Storage
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ProductReview+CoreDataClass.swift
  Storage/Storage/Model/ProductReview+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 19.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
Labels: Notifications, Product Reviews, [Type] Enhancement

#1223 Reviews tab mark III: Yosemite
  Networking/Networking/Model/Product/ProductReview.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductReviewAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/ProductReview+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Stores/ProductReviewStoreTests.swift
Labels: Notifications, Product Reviews, [Type] Enhancement

#1229 Fix build when running on devices
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
Labels: Tech Debt, [Type] Bug

#1235 Merge Release/2.5 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1234 Order Detail: Fix interpolated strings in NSLocalizedString
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
Labels: Localization, Refunds, [Type] Enhancement

#1226 Order Details: Updated Order Notes
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteHeaderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order Details, [Status] Needs Design Review

#1224 Dashboard/Stats v4 UI: add scrubbing interaction to charts
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
Labels: Dashboard, Store Stats

#1236 Documentation: Add mentions to the ServiceLocator
  docs/ARCHITECTURE.md
  docs/YOSEMITE.md
Labels: Documentation

#1238 Fix warning in unit tests for ServiceLocator
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
Labels: Tech Debt, Unit Tests

#1242 Stats v3/v4 corner cases: enable saving last shown stats version to app settings store
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/StatsVersion.swift
  Storage/Storage/Model/StatsVersionBySite.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/AvailabilityStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+StatsVersion.swift
Labels: Store Stats

#1243 Merge Release/2.6 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1241 Order Detail: Customer information section redesign
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerInfoTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerNoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Views/ShowHideSectionFooter.swift
  WooCommerce/Classes/ViewRelated/Orders/Views/ShowHideSectionFooter.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CustomerInfoTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CustomerNoteTableViewCellTests.swift
Labels: Refunds, [Type] Enhancement

#1239 Stats v3/v4 corner cases: eligibility check & save the states of stats version
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsV3ToV4BannerActionHandler.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsV4ToV3BannerActionHandler.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionStateCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockupStatsVersionStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsVersionStateCoordinatorTests.swift
Labels: Dashboard, Store Stats

#1244 Order Details: Added new screen for Billing Information
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/BillingInformationViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/Cells/BillingAddressTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/Cells/BillingAddressTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/BillingAddressTableViewCellTests.swift
Labels: Order Details, [Type] Enhancement

#1245 Stats v3/v4 corner cases: top banner UI
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerPresenter.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dashboard, Store Stats

#1247 Stats v3/v4 corner cases: show/hide top banner & handle more UI state transitions with top banner
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionStateCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/WooCommerceTests/Mockups/MockupStatsVersionStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsVersionStateCoordinatorTests.swift
Labels: Dashboard, Store Stats
