Repository woocommerce/woocommerce-ios, pull requests merged in 2019-05, with the labels that each got.

#933 Update Pods
  Networking/Networking/Logging.swift
  Podfile
  Podfile.lock
  Storage/Storage/Logging.swift
  WooCommerce/Classes/Tools/Logging/Logging.swift
  Yosemite/Yosemite/Internal/Logging.swift
Labels: [Type] Task

#929 Order Fulfillment: Add custom providers at the beginning of the list of shipment providers
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#937 Merge Release/1.7 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Tooling

#940 Bugfix: Some users can't load orders
  Networking/Networking/Remote/OrdersRemote.swift
  RELEASE-NOTES.txt
Labels: Order List, [Type] Bug

#943 Merge Release/1.8 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Tooling

#938 Tech Debt: Remove Product Variations code
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductVariationListMapper.swift
  Networking/Networking/Mapper/ProductVariationMapper.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Model/Product/ProductVariationAttribute.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variation.json
  Networking/NetworkingTests/Responses/product-variations-load-all.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ProductVariation+CoreDataClass.swift
  Storage/Storage/Model/ProductVariation+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationAttribute+CoreDataClass.swift
  Storage/Storage/Model/ProductVariationAttribute+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationDimensions+CoreDataClass.swift
  Storage/Storage/Model/ProductVariationDimensions+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariationImage+CoreDataClass.swift
  Storage/Storage/Model/ProductVariationImage+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 15.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/ReadOnly/ProductVariation+ReadOnlyType.swift
  Yosemite/Yosemite/Model/Storage/ProductVariation+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationAttribute+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationDimensions+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariationImage+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Product Details, Tech Debt

#944 Merge Release/1.8 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Tooling

#941 Order Fulfillment: Add store country at the beginning of the list of shipment providers
  WooCommerce/Classes/Tools/SiteCountry.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#950 Patch 1.7.1: Bugfix #916, some users can't load orders
  Networking/Networking/Remote/OrdersRemote.swift
  RELEASE-NOTES.txt
Labels: Order List, [Type] Bug

#952 Merge Release/1.7 into develop
  RELEASE-NOTES.txt
  fastlane/metadata/id/keywords.txt
Labels: Tooling

#954 Top Performers: mapping error causes "Unable to load content" error message
  Networking/Networking/Model/Stats/TopEarnerStatsItem.swift
  RELEASE-NOTES.txt
Labels: Dashboard, [Type] Bug

#955 Patch 1.8.1: Bugfix #949. Top Performers: mapping error causes "Unable to load content" error message
  Networking/Networking/Model/Stats/TopEarnerStatsItem.swift
  RELEASE-NOTES.txt
Labels: [Type] Bug

#958 Bug Fix: malformed Jetpack API request URLs.
  Networking/Networking/Requests/JetpackRequest.swift
  RELEASE-NOTES.txt
Labels: [Type] Bug

#960 Order fulfillment: Pre-populate custom provider name with search term
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  WooCommerce/WooCommerceTests/Model/AddManualCustomTrackingViewModelTests.swift
Labels: Basic Fulfillment, Woo Extensions, [Status] Needs Design Review, [Type] Enhancement

#964 Order fulfillment: Pop the list of shipment providers when selecting one
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#968 Fix Crash on StoresManager.needsDefaultStore
  RELEASE-NOTES.txt
  WooCommerce/Classes/Yosemite/StoresManager.swift
Labels: [Type] Bug, [Type] Crash

#966 Add Tracking view: UI fixes
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.xib
Labels: Basic Fulfillment, Woo Extensions, [Status] Needs Design Review, [Type] Enhancement

#959 Order details screen: add option to delete shipment tracking
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTrackingTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderTrackingTableViewCellTests.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#969 Fulfillment: Add Tracking row appears during view transition animation
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
Labels: Basic Fulfillment, [Type] Bug

#971 Adjust space between trackings and "add tracking" button
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Bug

#970 Order fulfillment: rename Tracks events for manual tracking
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#961 Order fulfillment: remove feature flag for manual shipment tracking
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#962 Product Details: Basic information
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/KeyedDecodingContainer+Woo.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductStatus.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LargeImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LargeImageTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product Details, [Status] Needs Design Review, [Type] Enhancement

#972 Merge release/1.8 into develop
  .configure
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Tooling

#974 Update pods to non-neta versions for 1.9 release
  Podfile
  Podfile.lock
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tooling

#975 Merge Release/1.9 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#973 Product Details: Price and Inventory section - Mark I
  Networking/Networking/Model/Product/ProductType.swift
  Networking/NetworkingTests/Mapper/ProductListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/Tools/WebviewHelper.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product Details, [Type] Enhancement

#981 Product Details: Pricing & Inventory - Mark II
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductStockStatus.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.xib
  Yosemite/Yosemite/Model/Model.swift
Labels: Product Details, [Status] Needs Design Review, [Type] Enhancement

#985 Fix filters for list of shipment tracking providers
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Bug

#986 Product Details: autolayout changes - Mark III
  WooCommerce/Classes/ViewRelated/Orders/Cells/BillingDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/BillingDetailsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerInfoTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/PaymentTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/ProductListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/ProductListTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/SummaryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Views/ShowHideSectionFooter.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnLabelView.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnSectionHeaderView.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order Details, Order List, Product Details, [Status] Needs Design Review, [Type] Bug

#987 Add source to event sent when deleting shipment trackings
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Enhancement

#992 Change order of sections in Order Details screen
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
Labels: Basic Fulfillment, Order Details, Woo Extensions, [Type] Bug

#993 Switch order of custom provider and store country sections in list of tracking providers
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
Labels: Basic Fulfillment, Woo Extensions, [Type] Bug

#995 Add view events to delete tracking button in Order Details and Fulfill Order
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
Labels: Basic Fulfillment, Order Details, Woo Extensions, [Type] Enhancement

#997 Order Fulfillment: pre-populate custom tracking provider name with last name entered by the user
  Storage/Storage/Model/PreselectedProvider.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/custom-shipment-provider.plist
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: Basic Fulfillment, Order Details, Woo Extensions, [Type] Bug

#1007 Merge release/1.9 develop
  Storage/Storage/Model/PreselectedProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ShipmentProvidersViewController.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/custom-shipment-provider.plist
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
  config/Version.Public.xcconfig
Labels: Releases

#1000 Make three tests failing in HK pass
  Networking/NetworkingTests/Extensions/DateFormatterWooTests.swift
  Networking/NetworkingTests/Mapper/NoteListMapperTests.swift
  Networking/NetworkingTests/Responses/notifications-load-all.json
Labels: Tooling, Unit Tests

#1006 Log in: Splash screen is not legible for large font sizes
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Styles/Style.swift
Labels: Accessibility, Login, [Type] Bug

#1008 Merge Release/1.9 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#999 Localise dates in Order Details screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
Labels: Localization, Order Details, [Type] Bug
