Repository woocommerce/woocommerce-ios, pull requests merged in 2019-09, with the labels that each got.

#1251 Stats v3/v4 corner cases: app settings for 1) eligible 2) user preferred stats version and 3) banner visibility
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/StatsVersionBannerVisibility.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionStateCoordinator.swift
  WooCommerce/WooCommerceTests/Mockups/MockupStatsVersionStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsVersionStateCoordinatorTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+StatsVersion.swift
Labels: Dashboard, Store Stats

#1250 Stats v3/v4 corner cases: use the new gift icon with a red dot for v3 to v4 top banner
  Podfile
  Podfile.lock
  WooCommerce/Classes/Extensions/UIImage+Dot.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Dashboard, Store Stats

#1254 Stats v3/v4 corner cases: add Beta features settings to turn on/off stats v4 when eligible
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dashboard, Store Stats

#1269 Add `FeatureFlagService` dependency to `ServiceLocator`
  WooCommerce/Classes/ServiceLocator/FeatureFlagService.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tech Debt

#1256 Stats v4: analytics
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: Dashboard, Store Stats, Tracks Events

#1271 Product List: add Products tab under a feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/NotificationsBadgeController.swift
  WooCommerce/Classes/ViewRelated/OrdersBadgeController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests+ProductListFeatureFlag.swift
Labels: Product List

#1257 Reviews tab - UI mark I
  Networking/Networking/Model/Product/ProductReviewStatus.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Model/ReviewAge.swift
  WooCommerce/Classes/Model/StorageProductReview+Woo.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/Notifications.storyboard
  WooCommerce/Classes/ViewRelated/Notifications/ReviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Internal/SessionManager+Internal.swift
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewViewModelTests.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/Tools/ReviewAgeTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ProductReviewTableViewCellTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Stores/ProductReviewStoreTests.swift
Labels: Notifications, Product Reviews, [Type] Enhancement

#1274 Fix bug where notifications were not localized
  Networking/Networking/Remote/NotificationsRemote.swift
  RELEASE-NOTES.txt
Labels: Product Reviews, [Type] Bug

#1277 Merge Master back into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1279 Pass the Order's currency symbol down to the ProductDetailsViewModel
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
Labels: Product Details, [Type] Bug

#1278 Disable user interaction on App Logs text view
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
Labels: App Settings, [Type] Bug

#1292 Update pods to released version.
  Podfile
  Podfile.lock
Labels: Releases

#1280 Trapped User Flow
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.xib
  WooCommerce/Classes/Tools/RequirementsChecker.swift
Labels: Login, [Status] Needs Design Review, [Type] Bug

#1293 Merge Release/2.7 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1260 Refunds Step 1
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Dictionary+Woo.swift
  Networking/Networking/Mapper/OrderRefundMapper.swift
  Networking/Networking/Mapper/OrderRefundsMapper.swift
  Networking/Networking/Model/OrderRefund.swift
  Networking/Networking/Model/Refund/LineItemRefund.swift
  Networking/Networking/Model/Refund/Refund.swift
  Networking/Networking/Model/Refund/TaxRefund.swift
  Networking/Networking/Remote/RefundsRemote.swift
  Networking/Networking/Requests/JetpackRequest.swift
  Networking/NetworkingTests/Mapper/OrderRefundsMapperTests.swift
  Networking/NetworkingTests/Models/RefundTests.swift
  Networking/NetworkingTests/Remote/RefundsRemoteTests.swift
  Networking/NetworkingTests/Requests/JetpackRequestTests.swift
  Networking/NetworkingTests/Responses/create-manual-order-refund-response.json
  Networking/NetworkingTests/Responses/create-order-refund-response.json
  Networking/NetworkingTests/Responses/order-refunds-list.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/BillingInformationViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/Cells/BillingAddressTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Billing Information/Cells/BillingAddressTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerInfoTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/CustomerNoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteHeaderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderNoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Cells/PaymentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/PaymentTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Views/ShowHideSectionFooter.swift
  WooCommerce/Classes/ViewRelated/Orders/Views/ShowHideSectionFooter.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/BillingAddressTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CustomerInfoTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CustomerNoteTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/PaymentTableViewCellTests.swift
  docs/NETWORKING.md
Labels: Order Details, Refunds, [Type] Enhancement

#1291 Fix all lint warnings
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
Labels: Tech Debt

#1287 Product List: search results model (schema update in Storage layer)
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/ProductSearchResults+CoreDataClass.swift
  Storage/Storage/Model/ProductSearchResults+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 20.xcdatamodel/contents
Labels: Product List

#1296 Remove the new orders card from V3 Stats
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/NewOrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Dashboard

#1288 Product List: search - Networking layer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/products-search-photo.json
Labels: Product List

#1294 Product review details
  Networking/Networking/Model/Product/ProductReview.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ProductReview+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 20.xcdatamodel/contents
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Notifications/ReviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductReviewAction.swift
  Yosemite/Yosemite/Model/ReadOnly/ProductReview+ReadOnlyType.swift
  Yosemite/Yosemite/Model/Storage/ProductReview+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Stores/ProductReviewStoreTests.swift
Labels: Notifications, Product Reviews, [Type] Enhancement

#1300 Remove feature flag from Stats
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: Store Stats

#1304 Merge release 2.7 into develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#1289 Product List: search - Yosemite layer
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Product List

#1231 Update project for Xcode 11
  .circleci/config.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  Scripts/localize.py
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+Upgrade.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: Support, Tooling, iOS 13

#1282 Product List: show product list with infinite scroll
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UIViewController+AppReview.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/NotificationsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewControllerStateCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsViewControllerStateCoordinatorTests.swift
Labels: Product List

#1306 Refactor `OrderSearchViewController` into a generic search UI
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Search/OrderSearchCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/OrderSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchResultCell.swift
  WooCommerce/Classes/ViewRelated/Search/SearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product List

#1308 Merge release/2.7 into develop
  .circleci/config.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  Scripts/localize.py
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+Upgrade.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: Tooling

#1298 Reviews UI mark III. Mark reviews as read
  WooCommerce/Classes/ViewRelated/Notifications/Cells/ProductReviewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewViewModelTests.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ProductReviewTableViewCellTests.swift
Labels: Notifications, Product Reviews, [Type] Enhancement
