Repository woocommerce/woocommerce-ios, pull requests merged in 2020-01, with the labels that each got.

#1654 Edit Product: update inventory settings remotely
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Responses/product-update.json
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventoryEditableData.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products

#1660 Products tab: fix old Product Detail still on the screen when switching stores
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: Product Details, Product List, [Type] Bug

#1666 Update the empty state image in the shipping class list selector
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewProperties.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/OverlayMessageView.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Add/Edit Products

#1673 Centralize image downloading/caching service and show image in Product description Aztec editor
  WooCommerce/Classes/Extensions/UIImageView+Kingfisher.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
  WooCommerce/Classes/Tools/ImageService/ImageService.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecTextViewAttachmentHandler.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/DefaultImageServiceTests.swift
Labels: Add/Edit Products

#1688 Product List: add empty state illustration
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-empty-products.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-products.imageset/woo-empty-products-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-products.imageset/woo-empty-products-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Product List, [Type] Enhancement

#1674 Dark Mode: color updates for Edit Product and Aztec editor
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecUIConfigurator.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/AztecFormatBarFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/AddProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/UIImage+ProductForm.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/AddProductImageCollectionViewCellTests.swift
Labels: Add/Edit Products, Dark Mode

#1689 Add/Edit Products: edit Tax status and Tax class in price settings
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductTaxStatus.swift
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductBackordersSettingListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductStockStatusListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductTaxClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductTaxStatusListSelectorDataSource.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductTaxClassListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductTaxStatusListSelectorDataSourceTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/TaxClassStore.swift
Labels: Add/Edit Products, [Status] Needs Design Review

#1657 Edit Product > Inventory Settings: create a new table view cell for SKU field
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1663 Handle deleted Product Variations and Shipping Classes
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/Networking/Remote/Remote.swift
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Deletions.swift
  WooCommerce/Classes/Tools/SyncCoordinator.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  Yosemite/Yosemite/Base/Store.swift
  Yosemite/Yosemite/Stores/ProductShippingClassStore.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Mockups/MockupStorage+Sample.swift
  Yosemite/YosemiteTests/Stores/ProductShippingClassStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: Add/Edit Products, [Type] Bug

#1664 Tapping on a new Order push notification should go to Orders tab instead of Reviews tab
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  Yosemite/Yosemite/Actions/NotificationAction.swift
  Yosemite/Yosemite/Stores/NotificationStore.swift
  Yosemite/YosemiteTests/Stores/NotificationStoreTests.swift
Labels: Notifications, [Type] Bug

#1692 Edit Product Price: adjust table view's bottom content inset from keyboard frame changes
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
Labels: Add/Edit Products

#1691 Refund Details: Product & Qty section
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/RefundDetails/OrderItemRefundViewModel.swift
  WooCommerce/Classes/ViewModels/RefundDetails/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/RefundDetails/RefundDetailsResultController.swift
  WooCommerce/Classes/ViewModels/RefundDetails/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
Labels: Refunds, [Status] Needs Design Review

#1679 Add in-progress UI and show it while updating a Product remotely
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Progress/InProgressViewController.swift
  WooCommerce/Classes/ViewRelated/Progress/InProgressViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1698 Edit Product: update price settings remotely
  Networking/Networking/Extensions/Encodable+Serialization.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Responses/product-update.json
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products

#1702 Merges release/3.3 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1696 Refund Details: Product & Qty section Mark II
  WooCommerce/Classes/Extensions/NSDecimalNumber+Helpers.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/RefundDetails/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/RefundDetails/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/PaymentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.swift
Labels: Refunds

#1699 Refund Details: refund details and reason note sections
  Networking/Networking/Model/Refund/Refund.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/RefundDetails/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LedgerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LedgerTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TopLeftImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/LedgerTableViewCellTests.swift
Labels: Refunds, [Status] Needs Design Review

#1701 Order Details: navigate to Refunded Products detail screen
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Extensions/String+Helpers.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/OrderDetailsViewModel/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/OrderItemRefundViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundDetailsResultController.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundedProductsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Refunds

#1707 Ability to access to the correct site time zone
  Networking/Networking/Model/Site.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Mapper/AccountMapperTests.swift
  Networking/NetworkingTests/Responses/sites.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Site+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 25.xcdatamodel/contents
  WooCommerce/Classes/Extensions/TimeZone+Woo.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Storage/Site+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: [Type] Enhancement

#1706 Refunded Products: Display refunded product cells in refunded products screen
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderEmailComposer.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderMessageComposer.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundedProductsDataSource.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundedProductsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Refunds, [Status] Needs Design Review

#1705 Edit Product: permission checks
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
Labels: Add/Edit Products

#1695 Edit Product: add inline error UI for SKU local validation error
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/TitleAndTextFieldTableViewCell.ViewModel+State.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ErrorSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ErrorSectionHeaderView.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1708 Scroll view bottom inset isn't properly adjusted when keyboard is dismissed
  WooCommerce/Classes/ViewRelated/Keyboard/KeyboardFrameObserver.swift
  WooCommerce/WooCommerceTests/ViewRelated/Keyboard/KeyboardFrameObserverTests.swift
Labels: Add/Edit Products, [Type] Bug

#1719 Add the AppCenter API Token to the example file
  fastlane/env/user.env.example
Labels: [Type] Enhancement

#1714 Product images UI with CTA to add images (no functionality)
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/ColumnFlowLayout.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1694 Add/Edit Product: added sale period in Price Settings row
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/Extensions/DateIntervalFormatter+Helpers.swift
  WooCommerce/Classes/Extensions/TimeZone+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1655 Dark Mode: update colors for login flow
  Podfile
  Podfile.lock
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Resources/Images.xcassets/logic-magic-link.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/logic-magic-link.imageset/magic-link-dark.pdf
  WooCommerce/Resources/Images.xcassets/logic-magic-link.imageset/magic-link-light.pdf
  WooCommerce/Resources/Images.xcassets/login-site-address-info.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-site-address-info.imageset/login-site-address-info-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-site-address-info.imageset/login-site-address-info-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Dark Mode, Login, [Status] Needs Design Review

#1721 Order Detail: hide shipping address for virtual products
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
Labels: Order Details, [Type] Bug

#1722 Merge 3.3 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/keywords.txt
  fastlane/metadata/id/promotional_text.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1715 Amendment for Edit Product permission checks
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: Add/Edit Products

#1723 Update Product images remotely
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductImage.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
Labels: Add/Edit Products

#1720 Refunded Products: summarize algorithm
  Networking/Networking/Model/Refund/OrderItemRefund.swift
  WooCommerce/Classes/Extensions/Array+Helpers.swift
  WooCommerce/Classes/ViewModels/Refunds/OrderItemRefundSummary.swift
  WooCommerce/Classes/ViewModels/Refunds/OrderItemRefundSummaryViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundedProductsDataSource.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundedProductsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Refunds

#1726 Fix Product images order
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 26.xcdatamodel/contents
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Internal/NSOrderedSet+Array.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariation+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products

#1729 Update Fastlane to 2.140.0
  Gemfile.lock
Labels: Tooling

#1725 Merge 3.4 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1727 Edit Product: Product image UI with action to delete the image
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1728 Edit Product/Shipping/Price/Inventory Settings: handled back navigation while there are outstanding changes
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorViewProperties.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, [Status] Needs Design Review

#1741 Support: fix name/email to contact support during login
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
Labels: Login, Support, [Type] Bug

#1743 Image Upload: media picking action sheet UI (no actions)
  WooCommerce/Classes/ViewRelated/Products/Media/CameraCaptureCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DeviceMediaLibraryPicker.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingContext.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1744 Image Upload: media from camera capture and Photo Library
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/Products/Media/CameraCaptureCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DeviceMediaLibraryPicker.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Resources/Info.plist
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1746 Edit Product Inventory: fixed SKU label content compression resistance priority
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.xib
Labels: Add/Edit Products

#1742 Notifications: update the badge on the Orders and Reviews tab based on the notification type
  RELEASE-NOTES.txt
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
Labels: Notifications, [Type] Bug

#1749 Edit Product Price: sale price validation if is higher or equal to the regular price
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
Labels: Add/Edit Products

#1730 Update screenshots to new woo colour scheme
  .gitignore
  WooCommerce/Resources/AppStoreStrings.pot
  fastlane/appstoreres/assets/iphone-xs/01-background.png
  fastlane/appstoreres/assets/iphone-xs/02-background.png
  fastlane/appstoreres/assets/iphone-xs/03-background.png
  fastlane/appstoreres/assets/iphone-xs/04-background.png
  fastlane/appstoreres/assets/iphone-xs/05-background.png
  fastlane/appstoreres/assets/iphone-xs/06-background.png
  fastlane/appstoreres/assets/iphone-xs/07-background.png
  fastlane/appstoreres/assets/iphone-xs/08-background.png
  fastlane/appstoreres/assets/simple/screenshot-1-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-1-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-2-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-2-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-3-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-3-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-4-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-4-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-5-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-5-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-6-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-6-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-7-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-7-iphone-x.png
  fastlane/appstoreres/assets/simple/screenshot-8-iphone-8.png
  fastlane/appstoreres/assets/simple/screenshot-8-iphone-x.png
  fastlane/appstoreres/assets/styles/first-screen-heading.css
  fastlane/appstoreres/metadata/source/promo_screenshot_1_b.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_3.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_4.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_5.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_6.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_7.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_8.txt
  fastlane/screenshots.json
Labels: Releases, [Type] Task

#1753 Docs: Add Home page
  docs/Home.md
  docs/README.md
Labels: Documentation

#1733 Refunds in Order Details: aggregate data and item sorting
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Refund/OrderItemRefund.swift
  Networking/NetworkingTests/Responses/order-560-all-refunds.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  WooCommerce/Classes/Model/OrderItem+Woo.swift
  WooCommerce/Classes/Model/OrderItemRefund+Woo.swift
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/ViewModels/Order Details/Aggregate Order Items/AggregateOrderItem.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsResultController.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refunded Products/RefundedProductsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refunded Products/RefundedProductsViewModel.swift
  WooCommerce/Classes/ViewModels/OrderItemViewModel.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/OrderItemRefundSummaryViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/OrderItemRefundViewModel.swift
  WooCommerce/Classes/ViewModels/Refunds/RefundedProductsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Order Details, Refunds

#1758 Hotfix: fixed rounded prices when the Locale is not correct
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
Labels: Localization, [Type] Bug

#1754 Edit Product Title: validation when it's empty
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
Labels: Add/Edit Products

#1760 Networking layer: Media remote - upload media
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/MediaListMapper.swift
  Networking/Networking/Model/Media/Media.swift
  Networking/Networking/Model/Media/UploadableMedia.swift
  Networking/Networking/Network/AlamofireNetwork.swift
  Networking/Networking/Network/MockupNetwork.swift
  Networking/Networking/Network/Network.swift
  Networking/Networking/Network/NullNetwork.swift
  Networking/Networking/Remote/MediaRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-upload.json
Labels: Add/Edit Products, Networking

#1762 Shipment Tracking: Mark currently selected provider
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
Labels: Woo Extensions

#1764 Updated order badge to show 99+ for 100 or more orders to be fulfilled.
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
Labels: Order List

#1770 Docs: Add links
  docs/ARCHITECTURE.md
  docs/NETWORKING.md
  docs/README.md
  docs/STORAGE.md
  docs/YOSEMITE.md
Labels: Documentation

#1772 Makes crash reports opt-in by default to match Android
  WooCommerce/Classes/Tools/Logging/CrashLogging.swift
Labels: App Settings

#1767 Image Upload: export an image asset to local file system
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Tools/Media/ExportableAsset.swift
  Yosemite/Yosemite/Tools/Media/FileManager+URL.swift
  Yosemite/Yosemite/Tools/Media/ImageSourceWriter.swift
  Yosemite/Yosemite/Tools/Media/MediaAssetExporter.swift
  Yosemite/Yosemite/Tools/Media/MediaExport.swift
  Yosemite/Yosemite/Tools/Media/MediaExportService.swift
  Yosemite/Yosemite/Tools/Media/MediaFileManager.swift
  Yosemite/Yosemite/Tools/Media/MediaImageExporter.swift
  Yosemite/Yosemite/Tools/Media/URL+Media.swift
  Yosemite/YosemiteTests/Mockups/MockupFileManager.swift
  Yosemite/YosemiteTests/Tools/Media/FileManager+URLTests.swift
  Yosemite/YosemiteTests/Tools/Media/MediaDirectoryTests.swift
  Yosemite/YosemiteTests/Tools/Media/MediaFileManagerTests.swift
  Yosemite/YosemiteTests/Tools/Media/URL+MediaTests.swift
Labels: Add/Edit Products

#1769 Add lane to update certs and profiles
  fastlane/Fastfile
Labels: Tooling

#1775 Product List: fix Product list not loading after logging out and in
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: Product List, [Type] Bug

#1773 [Order List Redesign] Add dates to each cell
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
  WooCommerce/WooCommerceTests/Extensions/DateWooTests.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: Order List, [Status] Needs Design Review

#1757 Order Details: handle fully refunded order status
  Networking/NetworkingTests/Responses/order-560-all-refunds.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Order Details, Refunds

#1784 Order Notes > Icon now changes color when activate "Email note to customer"
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
Labels: Order Details

#1789 [Order List Redesign] Do not abbreviate the total amount
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: Order Details

#1781 Merge 3.4 final into develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/Tools/Logging/CrashLogging.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#1778 Product Shipping Settings: use the right input formatter that accepts web string
  WooCommerce/Classes/Tools/UnitInputFormatter/ShippingInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/Product+ShippingSettingsViewModels.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/ShippingInputFormatterTests.swift
Labels: Add/Edit Products

#1783 Creation of a boolean property isNotEmpty for String and Array
  WooCommerce/Classes/Extensions/Array+Helpers.swift
  WooCommerce/Classes/Extensions/String+Helpers.swift
Labels: Tech Debt

#1776 Image Upload: support other image types like Apple's HEIC format
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/Media/ImageSourceWriter.swift
  Yosemite/Yosemite/Tools/Media/MediaImageExporter.swift
  Yosemite/YosemiteTests/Media.xcassets/Contents.json
  Yosemite/YosemiteTests/Media.xcassets/image.imageset/Contents.json
  Yosemite/YosemiteTests/Media.xcassets/image.imageset/image.jpg
  Yosemite/YosemiteTests/Mockups/MockImageSourceWriter.swift
  Yosemite/YosemiteTests/Tools/Media/MediaImageExporterTests.swift
Labels: Add/Edit Products

#1788 Image Upload: create `MediaStore` for uploading an exportable media asset
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/Yosemite/Tools/Media/MediaExport.swift
  Yosemite/Yosemite/Tools/Media/MediaExportService.swift
  Yosemite/YosemiteTests/Mockups/MockMediaExportService.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: Add/Edit Products

#1791 Product Shipping Settings: handled zero values on weight and dimensions textfields
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Product+PriceSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/Product+ShippingSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
Labels: Add/Edit Products

#1790 Merge 3.5 code freeze back to develop
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases
