Repository woocommerce/woocommerce-ios, pull requests merged in 2020-12, with the labels that each got.

#3186 [UL&S] Login with site address: Jetpack not installed or not connected
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.xib
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewModel.swift
  WooCommerce/Classes/Extensions/String+Woo.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/Resources/Images.xcassets/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/img_dark_error_JP.png
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/img_light_error_JP.png
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/img_dark_what is JP.png
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/img_light_what is JP.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/ULErrorViewControllerTests.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Extensions/StringWooTests.swift
Labels: [Feat] Login

#3230 Order Details > Shipping Label: add printing instructions info row
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Order Details

#3227 Fix secondary button background color
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
Labels: [Feat] Order Details

#3226 Order Details > Shipping Label: update design for tracking number and refunded rows
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Order Details

#3233 Delete unused `ProductDetailsViewController`
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/OldProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/OldProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Product Loader/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Type] Task

#3250 Fix: Refund details show manual refunds as via the customer's payment method
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsDataSource.swift
Labels: [Feat] Refunds

#3248 [Issue Refunds] Confirmation → Dismiss Keyboard when Scrolling
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
Labels: [Feat] Refunds

#3258 [Issue Refund] Fix typo in refund success notice
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
Labels: Hotfix

#3260 [Issue Refund] Update Order once refund is submitted
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
Labels: Hotfix, [Feat] Refunds

#3262 Merge release/5.6 into develop (conflict resolution)
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3254 Order Details > Shipping Label: hide order item total & subtitle when the price is unknown
  WooCommerce/Classes/ViewModels/Order Details/Aggregate Order Items/AggregateOrderItem.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/ProductDetailsCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/AggregatedShippingLabelOrderItemsTests.swift
Labels: [Feat] Order Details

#3253 Update color of buttons in navigation bar and other text buttons
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3263 Cleaning: removed conditions and classes no more needed on iOS 13
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AppleIDCredentialChecker.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/UIImage+TintColor.swift
  WooCommerce/Classes/Extensions/UITabBar+Appearance.swift
  WooCommerce/Classes/Extensions/UITableViewDiffableDataSource+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+ColorStudio.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/Styles/UIColor+SystemColors.swift
  WooCommerce/Classes/Tools/Notices/NoticeView.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundProductsTotalTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundShippingDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product+ProductForm.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Progress/InProgressViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PrimarySectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/Observables/BehaviorSubjectTests.swift
  WooCommerce/WooCommerceTests/Tools/Observables/PublishSubjectTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  WooCommerce/WooCommerceUITests/Screens/Orders/OrderSearchScreen.swift
  WooCommerce/WooCommerceUITests/Utils/XCTest+Extensions.swift
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
  Yosemite/YosemiteTests/SnapshotsProvider/FetchResultSnapshotsProviderTests.swift
Labels: Tech Debt

#3234 Variable Products: Add variations row if Milestone 5 is enabled
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#3217 [Issue Refund] Adds Coordinating Controller
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundItemQuantityListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundItemQuantityListSelectorCommandTests.swift
Labels: Tech Debt, [Feat] Refunds

#3265 Merge release/5.6 into develop after new beta + Release Notes
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#3276 [Issue Refund] Correctly parse HTML characters on the shipping title
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundShippingDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundShippingDetailsViewModelTests.swift
Labels: [Feat] Refunds

#3232 Add extra space when displaying multiple dimensions
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: [Feat] Order Details, [Type] Enhancement

#3219 Insert custom error VC into WPAuthenticator, overriding inline error message
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPErrorViewModel.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/img_dark_error_unmapped.png
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/img_light_error_unmapped.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Login

#3249 Update FooterSpinnerView to have single appearance in all tables
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/FooterSpinnerView.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: [Feat] Order List, [Type] Bug

#3282 Set correct, relative path to UnitTests test plan
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Unit Tests

#3268 Order Details: update Products, Tracking, and Add Tracking sections based on shipping labels
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/ViewModels/Order Details/Aggregate Order Items/AggregateOrderItem.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/Collection+ShippingLabel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
  WooCommerce/WooCommerceTests/Tools/MockAggregateOrderItem.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/Collection+ShippingLabelTests.swift
Labels: [Feat] Order Details

#3277 Order Details > Shipping Label: implement shipping label details UI
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelDetailsViewController.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelDetailsViewController.xib
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelDetailsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Order Details

#3278 Order Details: sync missing variations in order details
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  Yosemite/Yosemite/Actions/ProductVariationAction.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: [Feat] Order Details

#3287 Remove duplicated line in TopBannerView
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
Labels: [Feat] Product List

#3267 Remove Duplicate Core Data Migration Logic
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  TestKit/Sources/TestKit/Assertions.swift
Labels: Core Data

#3281 [Issue Refund] Improve experience on landscape orientation
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
Labels: Accessibility, [Feat] Refunds

#3284 [Issue Refunds] Handle accessibility fonts
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/SettingTitleAndValueTableViewCell.swift
Labels: Accessibility, [Feat] Refunds

#3289 Add orderCreation feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] Order Details

#3290 Networking layer for List/Add/Update/Delete a Product Attribute
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductAttributeListMapper.swift
  Networking/Networking/Mapper/ProductAttributeMapper.swift
  Networking/Networking/Remote/ProductAttributesRemote.swift
  Networking/NetworkingTests/Mapper/ProductAttributeListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductAttributeMapperTests.swift
  Networking/NetworkingTests/Remote/ProductAttributesRemoteTests.swift
  Networking/NetworkingTests/Responses/product-attribute-create.json
  Networking/NetworkingTests/Responses/product-attribute-delete.json
  Networking/NetworkingTests/Responses/product-attribute-update.json
  Networking/NetworkingTests/Responses/product-attributes-all.json
Labels: [Feat] Add/Edit Products

#3291 Add order creation button on orders screen navbar
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
Labels: [Feat] Order List

#3293 [UL&S] Present error when Jetpack is either not connected or not activated
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Extensions/WordPressComSiteInfo+Woo.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/WordPressComSiteInfoWooTests.swift
Labels: [Feat] Login

#3286 Block sign ups to WordPress.com accounts.
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPAccountViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.xib
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Login

#3294 Shipping Labels M1: Yosemite/Networking changes to refund a shipping label
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelRefundMapper.swift
  Networking/Networking/Model/DotcomError.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-refund-error.json
  Networking/NetworkingTests/Responses/shipping-label-refund-success.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/MockShippingLabel.swift
  Yosemite/YosemiteTests/Mocks/MockShippingLabelAddress.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: [Feat] Order Details

#3301 Hide WordPress.com TOS
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3304 Remove deprecation warning in MediaAssetExporter
  Yosemite/Yosemite/Tools/Media/MediaAssetExporter.swift
Labels: Tooling

#3310 Order Details > Shipping Label: track a shipping label
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Label Section/ShippingLabelTrackingURLGenerator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/ShippingLabelTrackingURLGeneratorTests.swift
Labels: [Feat] Order Details

#3295 [Issue Refund] Hide "select all" CTA when there are no products left to refund
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: [Feat] Refunds

#3296 [Issue Refund] Control Interactive dismiss gesture
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: [Feat] Refunds

#3302 Add missing unit tests for error view models
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPErrorViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/NotWPAccountViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPErrorViewModelTests.swift
Labels: [Feat] Login

#3311 Make UL error view support rotation only for iPad, in order to blend in with the rest of WPAuthenticator
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
Labels: [Feat] Login

#3314 Order Details > Products: show images for product variations
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: [Feat] Order Details, [Type] Bug

#3317 Order Details > Products: update header background to match cell
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PrimarySectionHeaderView.swift
Labels: [Feat] Order Details

#3316 List Existing Attributes in Variations: ProductAttributeStore tests
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
  Yosemite/YosemiteTests/Stores/ProductAttributeStoreTests.swift
Labels: Unit Tests, [Feat] Add/Edit Products

#3320 Fix background color of Prologue buttons in landscape on iPad
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3321 Fix margins of custom UI in tablets
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.xib
Labels: [Feat] Login

#3329 Override "find your site address" button
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3328 Change title: Get started to Log In
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3275 [Platform] Enable L10n linter on new betas and releases
  Gemfile
  Gemfile.lock
  Podfile.lock
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Localization, Tooling

#3297 Add OrderFormViewController for Create order flow
  WooCommerce/Classes/ViewRelated/Orders/Order Create/OrderCreationFormDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Create/OrderCreationFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Create/OrderCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Create/OrderCreationFormViewModelTests.swift
Labels: [Feat] Order Details

#3306 Shipping Labels M1: UI to refund a shipping label
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/RefundShippingLabelViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/RefundShippingLabelViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/RefundShippingLabelViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PlainTextSectionHeaderView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/RefundShippingLabelViewModelTests.swift
Labels: [Feat] Order Details

#3307 Show specific message when opening a deleted product
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Product Loader/ProductLoaderViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-error.imageset/img_dark_error_unmapped.pdf
  WooCommerce/Resources/Images.xcassets/woo-error.imageset/img_light_error_unmapped.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Product Details

#3335 Add Product Variations: List Existing Attributes
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Add Product Variation/AddAttributeViewModelTests.swift
  Yosemite/Yosemite/Stores/ProductAttributeStore.swift
Labels: [Feat] Add/Edit Products

#3344 Updated Wormholy from v1.6.2 to v1.6.4
  Podfile
  Podfile.lock
Labels: [Type] Enhancement

#3326 Customers fetching networking
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/CustomersListMapper.swift
  Networking/Networking/Model/Customer.swift
  Networking/Networking/Model/CustomerRole.swift
  Networking/Networking/Remote/CustomerRemote.swift
  Networking/NetworkingTests/Mapper/CustomersListMapperTests.swift
  Networking/NetworkingTests/Remote/CustomerRemoteTests.swift
  Networking/NetworkingTests/Responses/customers-all.json
Labels: Networking, [Feat] Order Details

#3343 SearchViewController: "fix" agains crashes by using safeObject in didSelectRow
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: [Feat] Order List, [Type] Bug, [Type] Crash

#3332 Unified Login. Milestone 1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPAccountViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.xib
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewModel.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
  WooCommerce/Classes/Extensions/String+Woo.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/WordPressComSiteInfo+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/Resources/Images.xcassets/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/img_dark_error_JP.png
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/img_light_error_JP.png
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/img_dark_what is JP.png
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/img_light_what is JP.png
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/img_dark_error_unmapped.png
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/img_light_error_unmapped.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPAccountViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/ULErrorViewControllerTests.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Extensions/StringWooTests.swift
  WooCommerce/WooCommerceTests/Extensions/WordPressComSiteInfoWooTests.swift
Labels: [Feat] Login

#3348 🚨 Fix the build
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Screens/Login/GetStartedScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginSiteAddressScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/PasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/PrologueScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: [Feat] Login

#3339 Add padding between email and Continue button
  Podfile
  Podfile.lock
Labels: [Feat] Login

#3341 Reprint Shipping Label: load shipping label settings for default selected paper size in view model
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ReprintShippingLabelViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/ReprintShippingLabelViewModelTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Shipping Labels, [Feat] Order Details

#3342 Order Details > Shipping Label: reprint shipping label main screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UITableViewCell+Helpers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ReprintShippingLabelViewController.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ReprintShippingLabelViewController.xib
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSize+UI.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SpacerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SpacerTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TopLeftImageTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Shipping Labels, [Feat] Order Details

#3353 Pin WPAuthenticator to a tag, not a branch
  Podfile
  Podfile.lock
Labels: [Feat] Login

#3350 Add Customer entity
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Customer+CoreDataClass.swift
  Storage/Storage/Model/Customer+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 41.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
Labels: Core Data, [Feat] Order Details

#3360 Merge release/5.7 to develop after code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3351 Add Yosemite integration for Customer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/CustomerRemote.swift
  Networking/NetworkingTests/Responses/customers-empty.json
  Networking/NetworkingTests/Responses/customers-extra.json
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CustomerAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Customer+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/CustomerStore.swift
  Yosemite/YosemiteTests/Stores/CustomerStoreTests.swift
Labels: [Feat] Order Details

#3355 Reprint Shipping Label: paper size selector
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ReprintShippingLabelViewController.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ReprintShippingLabelViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSizeListSelectorCommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/ReprintShippingLabelViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/ShippingLabelPaperSizeListSelectorCommandTests.swift
Labels: Shipping Labels, [Feat] Order Details

#3349 Order Details: filter deleted refunds and update refund list order
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Order.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Responses/order-with-deleted-refunds.json
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: [Feat] Order Details, [Feat] Refunds

#3373 Fix broken constraints when order list is reloaded with animations
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
Labels: Tech Debt, [Feat] Order List, [Type] Enhancement

#3354 [UL&S] Better error message when entering a non-valid url address
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3370 Do not hardcode a site as not self-hosted
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login, [Type] Bug

#3371 Set background color of StorePickerViewController to match the background color provided by WPAuthenticator
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: [Feat] Login

#3372 Add a couple more UI Tests for better coverage of UL
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Mocks/mappings/auth/oauth2_token-error.json
  WooCommerce/WooCommerceUITests/Screens/Login/LoginSiteAddressScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/PrologueScreen.swift
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: UI Tests

#3285 Order Details > Shipping Label: present shipping label printing instructions screen
  WooCommerce/Classes/Tools/BoldableTextParser.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/BoldableTextView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingInstructionsView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingInstructionsViewController.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingStepContentView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingStepListView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingStepView.swift
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/woo-shipping-label-printing-instructions-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/woo-shipping-label-printing-instructions-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/BoldableTextParserTests.swift
Labels: [Feat] Order Details

#3322 Reprint Shipping Label: paper size options screen
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/GridStackView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSizeOptionListView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSizeOptionView.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSizeOptionsViewController.swift
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-label.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-label.imageset/shipping-label-paper-size-label-dark.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-label.imageset/shipping-label-paper-size-label.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-legal.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-legal.imageset/shipping-label-paper-size-legal-dark.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-legal.imageset/shipping-label-paper-size-legal.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-letter.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-letter.imageset/shipping-label-paper-size-letter-dark.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-paper-size-letter.imageset/shipping-label-paper-size-letter.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Order Details

#3359 Don't dismiss order details and show error message if order is deleted
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.swift
Labels: [Feat] Order Details

#3383 Merge release/5.7 into develop after new beta
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3382 Product Variations: Add Attribute Options screen (WIP)
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Add Product Variation/AddAttributeViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3389 Shipping Labels M1: handle A4 paper size (not supported in mobile yet)
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelPaperSize.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSize+UI.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSizeOptionView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/ReprintShippingLabelViewModelTests.swift
Labels: Shipping Labels, [Feat] Order Details

#3390 Edge to edge cells in landscape on Settings / Refunded Products / Fulfill screens
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundedProductsViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.xib
Labels: Tech Debt

#3380 Create and use a cell view model for cells on order list screen
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListCellViewModelTests.swift
Labels: Tech Debt, [Feat] Order List

#3374 Reprint Shipping Label: reprint action with a coordinator
  Networking/Networking/Model/ShippingLabel/ShippingLabelPrintData.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Refund Shipping Label/RefundShippingLabelViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Refund Shipping Label/RefundShippingLabelViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Refund Shipping Label/RefundShippingLabelViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SpacerTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/ReprintShippingLabelCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/ReprintShippingLabelViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/ShippingLabelPaperSizeListSelectorCommandTests.swift
Labels: Shipping Labels, [Feat] Order Details

#3403 Rename SettingTitleAndValueTableViewCell -> TitleAndValueTableViewCell
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/LinkSettings/LinkSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndValueTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tech Debt, [Type] Task

#3399 Moved the Add Product Variations flow under a dedicated feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductVariationDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products

#3397 Reprint Shipping Label: present printing instructions and paper size options modals
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingInstructionsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/ReprintShippingLabelCoordinatorTests.swift
Labels: Shipping Labels, [Feat] Order Details

#3398 Shipping Label Details > Ship To: update "House" icon to outlined house icon in
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelDetailsViewController.swift
  WooCommerce/Resources/Images.xcassets/icon-house-outlined.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-house-outlined.imageset/icon-house-outlined.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Shipping Labels, [Type] Enhancement

#3396 Update `TopLeftImageTableViewCell` to use Auto Layout
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TopLeftImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TopLeftImageTableViewCell.xib
Labels: [Feat] Order Details

#3391 Localize fullName in Address
  WooCommerce/Classes/Model/Address+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
Labels: Tech Debt, [Type] Enhancement

#3405 Roll back UL&S
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPAccountViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPErrorViewModel.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
  WooCommerce/Classes/Extensions/WordPressComSiteInfo+Woo.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPAccountViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/Extensions/WordPressComSiteInfoWooTests.swift
  WooCommerce/WooCommerceUITests/Screens/Login/GetStartedScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginSiteAddressScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/PasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/PrologueScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: UI Tests, [Feat] Login

#3404 Remove interpolated strings from localization
  Networking/Networking/Model/DotcomError.swift
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreNoticePresenter.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
Labels: [Type] Task

#3414 Update release notes for 5.7
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3415 Merge/release 5.7 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3416 Merge Release/5.7 back into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases
