Repository woocommerce/woocommerce-ios, pull requests merged in 2020-02, with the labels that each got.

#1804 [Order List Redesign] Support starter view in SearchViewController
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: Order List

#1805 [Order List Redesign] Add starter view for Order Search
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order List, [Status] Needs Design Review

#1806 Edit Products: removed "Save changes" from action sheet
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
Labels: Add/Edit Products

#1766 Edit products: analytics events
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products

#1811 [Order Notes] Fixing strange character in note to customer
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteTableViewCell.swift
Labels: Order Details, [Type] Bug

#1815 Edit Product Title: fixed background safe area when in dark mode
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
Labels: Add/Edit Products, Dark Mode, [Type] Bug

#1814 Zendesk: limit log size to 64k characters
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
Labels: Support, Tech Debt

#1817 Decode Order Item & Product's name
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/String+HTML.swift
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Extensions/String+HTMLTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/String+HTML.swift
  WooCommerce/WooCommerceTests/Extensions/StringHTMLTests.swift
Labels: Order Details, Product Details, [Type] Bug

#1800 Image Upload: loading state UI and integration
  WooCommerce/Classes/System/BuildConfiguration.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/InProgressProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/InProgressProductImageCollectionViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageStatus.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesService.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/CircleSpinnerView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1822 Allow WordPress.com API Base URL to be overriden with launch argument
  Networking/Networking/Requests/DotcomRequest.swift
  Networking/Networking/Settings/Settings.swift
  Networking/NetworkingTests/Requests/DotcomRequestTests.swift
  Networking/NetworkingTests/Requests/JetpackRequestTests.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Resources/Info.plist
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: Networking

#1832 Edit Product: show the more options action sheet
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products, [Status] Needs Design Review

#1816 [Order List Redesign] Make OrdersViewController reusable
  WooCommerce/Classes/ViewRelated/Base.lproj/Main.storyboard
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order List

#1835 [Order List Redesign] Move OrdersViewController out of the storyboard
  Networking/Networking/Model/Order.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Orders.storyboard
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order List

#1833 Edit Product: ability to share the product
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products

#1830 Fix screenshot localization issues
  WooCommerce/WooCommerceScreenshots/Screens/Login/LoginPasswordScreen.swift
  WooCommerce/WooCommerceScreenshots/Utils/XCTest+Extensions.swift
  fastlane/Fastfile
  fastlane/Snapfile
Labels: Releases

#1829 Localize the order count badge
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
Labels: Localization

#1840 Order Details: tapping on a Product doesn't always open the same Product if there are multiple Products
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: Order Details, [Type] Bug

#1845 [Order List Redesign] Link Search Filtering to OrdersViewController
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewModel.swift
Labels: Order List

#1853 Enabled the refunds feature for all the users
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
Labels: Refunds

#1852 Merge 3.6 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1855 Fixed splashscreen logo's alignment
  WooCommerce/Resources/Assets.xcassets/LaunchLogo.imageset/Contents.json
  WooCommerce/Resources/Assets.xcassets/LaunchLogo.imageset/WooLaunchLogo@2x.png
  WooCommerce/Resources/Assets.xcassets/LaunchLogo.imageset/woo-icon-120x120.pdf
Labels: Low hanging fruit, [Status] Needs Design Review

#1849 Order Details: navigate to Edit Product when tapping on a simple Product in the Order
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Add/Edit Products, Order Details, [Status] Needs Design Review

#1828 Use stock date and time for screenshots
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerceScreenshots.xcscheme
Labels: Releases

#1856 Dashboard: tapping on a product on "top performer" section will present the product detail screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.xib
Labels: Add/Edit Products, Dashboard

#1858 Hotfix: fixed orders badge count when you switch between two stores (one with badge count = 0)
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: Order List, [Type] Bug

#1862 Merge 3.6 release notes + a beta fix to develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#1865 Update App Store Headers for localization
  WooCommerce/Resources/AppStoreStrings.pot
  fastlane/Fastfile
  fastlane/appstoreres/metadata/source/promo_screenshot_1.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_1_b.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_2.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_3.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_4.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_5.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_6.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_7.txt
Labels: Releases

#1844 Localize order item quantity
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
Labels: Localization

#1876 Add initial set of screenshot mocks
  .gitignore
  Rakefile
  WooCommerce/Credentials/ApiCredentials.tpl
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/auth/auth_options.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/auth/oauth2_token.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/rest_api.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/orders/orders.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/orders/orders_2201_notes.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/orders/orders_2201_refunds.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/orders/orders_2201_shipment_trackings.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/orders/orders_totals.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/products/products.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/reports/reports_orders_totals-processing.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/reports/reports_orders_totals.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews-all.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/settings/settings_general.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/jetpack-blogs/wc/settings/settings_products.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/me/rest_v11_me.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/me/rest_v11_me_sites.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/notifications/rest_v11_notifications.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/notifications/rest_v11_notifications_note_hashes.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_orders-day.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_orders-month.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_orders-week.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_orders-year.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_top_earners-day.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_top_earners-month.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_top_earners-week.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_top_earners-year.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_visits-day.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_visits-month.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_visits-week.json
  WooCommerce/WooCommerceScreenshots/Mocks/mappings/stats/stats_visits-year.json
  WooCommerce/WooCommerceScreenshots/Mocks/scripts/start.sh
  WooCommerce/WooCommerceScreenshots/Mocks/scripts/stop.sh
  WooCommerce/WooCommerceScreenshots/Utils/ScreenshotCredentials.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
Labels: Releases

#1880 Update finalise lane to handle wrap up tasks
  fastlane/Fastfile
Labels: Tooling

#1854 Edit Product: implemented the new product settings screen
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1886 Edit Products M1: update WIP banner message & experimental features copy
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: Add/Edit Products

#1882 Image Upload: keep the spinner animating after backgrounding the app
  WooCommerce/Classes/ViewRelated/ReusableViews/CircleSpinnerView.swift
Labels: Add/Edit Products

#1877 Image Upload: weak self when passing closures
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
Labels: Add/Edit Products

#1895 Merge 3.7 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#1893 Product Settings: moved Sections and Rows in two separate files
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsSections.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1884 Upload dSYMs to Sentry for installable builds
  fastlane/Fastfile
Labels: Tooling

#1861 [Order List Redesign] Fix Order List Design
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
Labels: Order List, [Status] Needs Design Review

#1848 Generate Screenshots in CI
  .github/workflows/screenshots.yml
  .gitignore
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  fastlane/Fastfile
Labels: Needs Screenshots

#1904 Merge 3.7 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#1903 [Order List Redesign] Decrease header height
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
Labels: Order List, [Status] Needs Design Review

#1851 [Order List Redesign] Show Processing and All Orders Tabs
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order List, [Status] Needs Design Review

#1878 Image Upload: observe the same image statuses in Edit Product and Edit Images screens
  WooCommerce/Classes/Tools/ImageService/PHAssetImageLoader.swift
  WooCommerce/Classes/Tools/ObservationToken.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductImagesProvider.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Product+Media.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageStatus.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesProvider.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesService.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockImageCache.swift
  WooCommerce/WooCommerceTests/Mockups/MockImageDownloader.swift
  WooCommerce/WooCommerceTests/Mockups/MockMediaStoresManager.swift
  WooCommerce/WooCommerceTests/Mockups/MockPHAssetImageLoader.swift
  WooCommerce/WooCommerceTests/Mockups/MockProductImagesProvider.swift
  WooCommerce/WooCommerceTests/Tools/DefaultImageServiceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageStatus+ImagesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesProviderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesServiceTests.swift
Labels: Add/Edit Products

#1874 Stats: show negative revenue
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
Labels: Dashboard, Refunds, [Type] Bug

#1898 Edit Products: update the Edit Products feature switch action in Settings
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: Add/Edit Products

#1910 [Order List Redesign] Add border to the bottom bar
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
Labels: Order List, [Status] Needs Design Review
