Repository woocommerce/woocommerce-ios, pull requests merged in 2020-11, with the labels that each got.

#3086 AsyncDictionaryTests: increase timeout in `testAsyncUpdatesWhereTheFirstOperationFinishesLast`
  WooCommerce/WooCommerceTests/Tools/AsyncDictionaryTests.swift
Labels: Unit Tests

#3062 Remove IPHONEOS_DEPLOYMENT_TARGET for all Pods by letting Pod targets inherit deployment target from main app
  Podfile
  Podfile.lock
Labels: Low hanging fruit, Tooling

#3093 merge Release 5.4 back into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3078 Order Details > variation details: storage layer changes
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/OrderItem+CoreDataProperties.swift
  Storage/Storage/Model/OrderItemAttribute+CoreDataClass.swift
  Storage/Storage/Model/OrderItemAttribute+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 35.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: [Feat] Order Details

#3089 Fix: inaccurate review count in Product Detail
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review, [Type] Bug

#3090 Text headers on Product price screen are no more clipped with large text sizes
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
Labels: Accessibility, [Feat] Add/Edit Products, [Type] Bug

#3091 [Issue Refund] Pass refund details to RefundConfirmation screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
Labels: [Feat] Refunds

#3094 Product inventory/SKU settings: add scan CTA to SKU cell
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
Labels: [Feat] Add/Edit Products

#3085 Order Details > variation details: Yosemite/Networking layer changes
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Model/OrderItemAttribute.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Responses/order-with-line-item-attributes-before-API-support.json
  Networking/NetworkingTests/Responses/order-with-line-item-attributes.json
  WooCommerce/WooCommerceTests/Tools/MockOrderItem.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product Loader/ProductLoaderViewControllerModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/OrderItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderItemAttribute+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: [Feat] Order Details

#3095 Release 5.4 into develop: Update release notes
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3099 Update Networking, Storage and Yosemite to "recommended settings"
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking.xcodeproj/xcshareddata/xcschemes/Networking.xcscheme
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage.xcodeproj/xcshareddata/xcschemes/Storage.xcscheme
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/GenerateCredentials.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce Alpha.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerceScreenshots.xcscheme
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/xcshareddata/xcschemes/Yosemite.xcscheme
Labels: Tooling, [Type] Task

#3100 Remove override of navigationbar style for LoginViewController
  WooCommerce/Classes/Extensions/LoginNavigationController+Woo.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tooling, [Type] Task

#3105 [Hot-fix] Setup notice presenter correctly
  WooCommerce/Classes/AppDelegate.swift
Labels: Hotfix, [Type] Bug

#3103 Fix Product Review Push Notification Handling Regressions
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
Labels: [Feat] Notifications, [Feat] Product Reviews

#3108 Merge release/5.4 back to develop (new beta)
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  config/Version.Public.xcconfig
Labels: Releases

#3109 Order Details > variation details: UI integration
  Networking/Networking/Model/OrderItem.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Responses/order-with-line-item-attributes.json
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/ViewModels/Order Details/Aggregate Order Items/AggregateOrderItem.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
  WooCommerce/WooCommerceTests/Tools/MockOrderItem.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product Loader/ProductLoaderViewControllerModelTests.swift
Labels: [Feat] Order Details

#3097 Product inventory/SKU settings: barcode scanner for SKU
  WooCommerce/Classes/Extensions/BarcodeScannerFrameScaler.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/BarcodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/BarcodeScannerViewController.xib
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ProductSKUInputScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ProductSKUInputScannerViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/BarcodeScannerFrameScalerTests.swift
Labels: [Feat] Add/Edit Products

#3132 Fix Core Data `OrderItemAttribute` cannot be processed by a Copy Bundle Resources build phase warnings
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 35.xcdatamodel/contents
Labels: Tooling

#3133 Enable Products M4 for all!
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: [Feat] Add/Edit Products

#3114 Removed error logs on Sentry from ProductFormViewController
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products

#3115 [Issue Refunds] PaymentGateway networking support
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/PaymentGatewayListMapper.swift
  Networking/Networking/Model/PaymentGateway.swift
  Networking/Networking/Remote/PaymentGatewayRemote.swift
  Networking/NetworkingTests/Mapper/PaymentGatewayListMapperTests.swift
  Networking/NetworkingTests/Remote/PaymentsGatewayRemoteTests.swift
  Networking/NetworkingTests/Responses/payment-gateway-list.json
Labels: [Feat] Refunds

#3135 Add Tracks event for product image upload error
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
Labels: [Feat] Add/Edit Products

#3139 [Issue Refund] Update PaymentGatewayListMapper with correct list envelope
  Networking/Networking/Mapper/PaymentGatewayListMapper.swift
  Networking/NetworkingTests/Responses/payment-gateway-list.json
Labels: [Feat] Refunds

#3140 [Issue Refunds] Add GatewayPayment storage structure
  Networking/Networking/Model/PaymentGateway.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/PaymentGateway+CoreDataClass.swift
  Storage/Storage/Model/PaymentGateway+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 36.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/PaymentGateway+ReadOnlyConvertible.swift
Labels: [Feat] Refunds

#3141 [Issue Refund] Synchronize Payment Gateways
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/PaymentGateway.swift
  Networking/NetworkingTests/Responses/payment-gateway-list-half.json
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/PaymentGatewayAction.swift
  Yosemite/Yosemite/Stores/PaymentGatewayStore.swift
  Yosemite/YosemiteTests/Stores/PaymentGatewayStoreTests.swift
Labels: [Feat] Refunds

#3116 Remove References to "master"
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Order Details

#3149 [Issue Refund] Decode and store Order.paymentMethod
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Responses/order.json
  Networking/NetworkingTests/Responses/orders-load-all-2.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 37.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders.json
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: [Feat] Refunds

#3143 UL&S: Remove mention to Jetpack and link to Jetpack's configuration instructions
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
Labels: [Feat] Login

#3147 UL&S: Update copy for login with WordPress - Enter email
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3152 Merge release/5.4 back to develop after AppStore submission
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3148 The Date Picker is presented in a modal view on iOS 14
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.swift
Labels: [Feat] Add/Edit Products, [Feat] Order Details, [Type] Enhancement

#3155 Print a shipping label: networking layer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelPrintDataMapper.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPaperSize.swift
  Networking/Networking/Model/ShippingLabelPrintData.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-print.json
Labels: [Feat] Order Details

#3156 Print a shipping label: Yosemite layer
  Networking/Networking/Model/ShippingLabelPrintData.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: [Feat] Order Details

#3162 release/5.5 into develop : conflict resolution
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3159 Support removing an Image from a Product Variation
  Networking/Networking/Model/Product/ProductVariation.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/ProductUpdateError+UI.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariation+ProductFormTests.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: [Feat] Add/Edit Products, [Type] Enhancement

#3153 [Issue Refunds] Display payment gateway
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
Labels: [Feat] Refunds

#3164 Shipping Labels M1: create new models in networking layer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/OrderShippingLabelListMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelPaperSize.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelRefundStatus.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelStatus.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabel.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddress.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPrintData.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelRefund.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelSettings.swift
  Networking/NetworkingTests/Mapper/OrderShippingLabelListMapperTests.swift
  Networking/NetworkingTests/Responses/order-shipping-labels.json
Labels: [Feat] Order Details

#3163 Edit Products: show the Linked products cell in Product Detail settings and inside the bottom action sheet
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#3167 [Issue Refund] Confirm and submit refund
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
  Yosemite/Yosemite/Stores/RefundStore.swift
  Yosemite/YosemiteTests/Mockups/MockupStorage+Sample.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: [Feat] Refunds, [Status] Needs Design Review

#3165 [UL&S] Prologue: Update background color buttons container
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3177 [UL&S] Update capitalization of button titles in Login Prologue
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: [Feat] Login

#3168 Shipping Labels M1: create new entities in storage layer
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabel+CoreDataClass.swift
  Storage/Storage/Model/ShippingLabel+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabelAddress+CoreDataClass.swift
  Storage/Storage/Model/ShippingLabelAddress+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabelRefund+CoreDataClass.swift
  Storage/Storage/Model/ShippingLabelRefund+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabelSettings+CoreDataClass.swift
  Storage/Storage/Model/ShippingLabelSettings+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 38.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: [Feat] Order Details

#3174 Shipping Labels M1: load shipping labels for an order - networking layer
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabel.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddress.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelRefund.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelSettings.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Mapper/OrderShippingLabelListMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
Labels: Networking, [Feat] Order Details

#3176 Shipping Labels M1: load shipping labels for an order - Yosemite layer
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabel+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabelAddress+ReadonlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabelRefund+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabelSettings+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: [Feat] Order Details

#3187 Removed the Product Title in product screen navigation bar
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products, [Type] Enhancement

#3185 Linked Products: added Upsell and Cross-sell screen selectors + Products Selector Searching
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListMultiSelectorSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Grouped Product/GroupedProductListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSourceTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#3179 Linked Products: added Upsells and Cross-sells screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListMultiSelectorSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/Cells/NumberOfLinkedProductsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/Cells/NumberOfLinkedProductsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Grouped Product/GroupedProductListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewModelTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#3196 Add CoreDataManager Unit Tests
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
Labels: Core Data, Unit Tests

#3184 [Issue Refund] Handle previous shippings refunds
  Networking/Networking/Model/Refund/Refund.swift
  Networking/NetworkingTests/Mapper/RefundMapperTests.swift
  Networking/NetworkingTests/Responses/refund-single.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Refund+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLine+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 39.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundCreationUseCase.swift
  WooCommerce/WooCommerceTests/Tools/MockRefunds.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/Yosemite/Model/Storage/Refund+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/Yosemite/Stores/RefundStore.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: [Feat] Refunds

#3190 [Issue Refund] Add Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
Labels: [Feat] Refunds

#3199 The icon of the cells inside the Product Detail are now aligned at 10px from the top margin
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ProductReviewsTableViewCell.xib
Labels: [Feat] Add/Edit Products, [Type] Bug

#3201 Fix product subtitle wrapping in order details
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
Labels: [Feat] Order Details

#3188 Order Details: display shipping label cards with partial UI
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: [Feat] Order Details

#3210 Merge release/5.5 -> develop after new beta
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  config/Version.Public.xcconfig
Labels: Releases

#3204 Remove issueRefunds feature flag
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: [Feat] Refunds

#3202 Fix disabled state for buttons
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
Labels: [Type] Enhancement

#3211 Update the original Product with new linked products
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.swift
Labels: [Feat] Add/Edit Products

#3220 Add keyboard dismiss in Order -> Add Tracking screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCellViewModel.swift
Labels: [Feat] Order Details, [Type] Bug

#3221 Prevent banner dismiss when tapping "give feedback" on products screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: [Feat] In-app Feedback, [Feat] Product List, [Type] Enhancement

#3223 Merge release/5.5 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3222 Update App store copy
  WooCommerce/Resources/AppStoreStrings.pot
  fastlane/appstoreres/metadata/source/app_store_promo_text.txt
  fastlane/appstoreres/metadata/source/description.txt
Labels: Releases

#3209 Order Details > Shipping Label: add CTA to section header that opens an action sheet for refund
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PrimarySectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PrimarySectionHeaderView.xib
Labels: [Feat] Order Details

#3197 Order Details: show aggregated order items for a shipping label
  WooCommerce/Classes/ViewModels/Order Details/Aggregate Order Items/AggregateOrderItem.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/MockShippingLabel.swift
  WooCommerce/WooCommerceTests/Tools/MockShippingLabelAddress.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/AggregatedShippingLabelOrderItemsTests.swift
Labels: [Feat] Order Details

#3229 Create a feature flag for shipping labels M1
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: [Feat] Order Details

#3216 Dropped iOS 12 support
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  TestKit/Package.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Extensions/FancyAnimatedButton+Woo.swift
  WooCommerce/Classes/Extensions/Scanner+Helpers.swift
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
  WooCommerce/Classes/Extensions/UIApplication+Woo.swift
  WooCommerce/Classes/ViewRelated/Keyboard/KeyboardScrollable.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Product Loader/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/BarcodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/FooterSpinnerView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LoadingView.swift
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: [Type] Enhancement
