Repository woocommerce/woocommerce-ios, pull requests merged in 2020-06, with the labels that each got.

#2368 Merge 4.3 final to develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2373 Update pods for release
  Podfile
  Podfile.lock
Labels: Releases

#2375 Merge Release/4.4 back into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2357 Edit Products: consolidate logic for visible actions in primary section, settings section, and bottom sheet
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormBottomSheetActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel+EditProductsM2Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM2Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormBottomSheetAction+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormSectionSettingsRow+VisibilityTests.swift
Labels: Add/Edit Products, Tech Debt, [Status] Needs Design Review

#2376 Add More ResultsController+UIKit Tests
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Testing/XCTestCase+Assertions.swift
  WooCommerce/WooCommerceTests/Tools/ResultsControllerUIKitTests.swift
Labels: Architecture, Order List

#2366 Log messages/crashes in `CoreDataManager` in Storage framework
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Protocols/CrashLogger.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Storage/StorageTests/Mocks/MockCrashLogger.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Logging/Dictionary+Logging.swift
  WooCommerce/Classes/Tools/Logging/SentryCrashLogger.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/Logging/Dictionary+LoggingTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mockups/MockCrashLogger.swift
  Yosemite/YosemiteTests/Tools/ShippingSettings/StorageShippingSettingsServiceTests.swift
Labels: [Type] Crash

#2377 Add UIApplication.State tag to Submitted Sentry Events
  Podfile
  Podfile.lock
Labels: Architecture

#2379 Product Categories: fixed checkmarks and ghost tableview appearance
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Cell/ProductCategoryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Cell/ProductCategoryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryViewModelBuilder.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, [Status] Needs Design Review

#2381 Remove Some Unused Code
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/Cells/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnLabelView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnLabelView.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product Details, Refunds

#2380 Fixed failing tests in release 4.4
  Storage/Storage/CoreData/CoreDataManager.swift
  Yosemite/YosemiteTests/Storage/StorageManagerConcurrencyTests.swift
Labels: Broken Tests

#2378 Merge Release/4.4 back into develop
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Protocols/CrashLogger.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Storage/StorageTests/Mocks/MockCrashLogger.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Logging/Dictionary+Logging.swift
  WooCommerce/Classes/Tools/Logging/SentryCrashLogger.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/Logging/Dictionary+LoggingTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mockups/MockCrashLogger.swift
  Yosemite/YosemiteTests/Storage/StorageManagerConcurrencyTests.swift
  Yosemite/YosemiteTests/Tools/ShippingSettings/StorageShippingSettingsServiceTests.swift
Labels: Releases

#2383 Order Details → Show Item Total on the Right Instead of Quantity
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refunded Products/RefundedProductsDataSource.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.xib
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: Order Details, [Status] Needs Design Review

#2384 Product Variations: polish the loading state
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: Dark Mode, Product Details

#2387 Product Categories: updated Network/Yosemite layers with create new ProductCategory request
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductCategoryMapper.swift
  Networking/Networking/Remote/ProductCategoriesRemote.swift
  Networking/NetworkingTests/Mapper/ProductCategoryMapperTests.swift
  Networking/NetworkingTests/Remote/ProductCategoriesRemoteTests.swift
  Networking/NetworkingTests/Responses/category.json
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Categories/ProductCategoryListViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductCategoryAction.swift
  Yosemite/Yosemite/Stores/ProductCategoryStore.swift
  Yosemite/YosemiteTests/Stores/ProductCategoryStoreTests.swift
Labels: Add/Edit Products

#2393 Merge releaser/4.4 back into develop
  config/Version.Public.xcconfig
Labels: Releases

#2391 Storage schema update: add `buttonText` to `Product`
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 28.xcdatamodel/contents
Labels: Add/Edit Products

#2390 Products: fix navigation bar not showing product name and ellipsis menu from outside of Products tab
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
Labels: Product Details, [Type] Bug

#2389 Order Details → Use Basic Background for Products Header
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PrimarySectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/Section Headers/PrimarySectionHeaderView.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/UITableViewCellHelpersTests.swift
  WooCommerce/WooCommerceTests/Testing/XCTestCase+Assertions.swift
Labels: Order Details

#2396 Order Details → Use singular or plural "Products" section title
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: Order Details

#2392 Networking & Yosemite layers: add `buttonText` to `Product`
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-external.json
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mockups/MockProduct.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products

#2412 Adds a link to the California Privacy Policy for CCPA compliance.
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  fastlane/appstoreres/metadata/source/description.txt
Labels: App Settings

#2405 Add Generator for .copy() Methods
  CodeGeneration/Models+Copiable.swifttemplate
  CodeGeneration/Networking-Copiable.sourcery.yaml
  CodeGeneration/WooCommerce-Copiable.sourcery.yaml
  CodeGeneration/Yosemite-Copiable.sourcery.yaml
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Copiable/GeneratedCopiable.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductImage.swift
  Podfile
  Podfile.lock
  Rakefile
Labels: Architecture

#2421 Enabled Products Milestone 2 by default
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
Labels: Add/Edit Products

#2417 Merge Release/4.4 back into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2415 Update release tooling
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#2408 Barcode scanner CTA behind a feature flag
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Resources/Images.xcassets/icon-scan.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-scan.imageset/icon-scan.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Product List, [Status] Needs Design Review

#2427 Merge Release/4.5 back into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2424 Add Documentation for Copiable Code Generation
  docs/README.md
Labels: Documentation

#2426 Dashboard charts: fix double minus signs in the y-axis for negative values
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
Labels: Dashboard, Store Stats, [Type] Bug

#2416 Add slack notification to release builds
  .circleci/config.yml
Labels: Tooling

#2435 Update `ProductUpdater` with Copy pattern
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
Labels: Tech Debt

#2436 Product Categories: managed selection status
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Cell/ProductCategoryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryViewModelBuilder.swift
Labels: Add/Edit Products

#2439 Disable product categories row/action in release 4.5
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products, Hotfix, [Type] Bug

#2432 External/affiliate products are now editable when Products M3 flag is enabled
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
Labels: Add/Edit Products

#2437 External products: edit SKU
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
Labels: Add/Edit Products

#2441 Fixed tracking events opened/closed called multiple times
  WooCommerce/Classes/Analytics/WooAnalytics.swift
Labels: Tracks Events

#2445 Merge Release/4.5 back into develop
  .circleci/config.yml
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#2444 Edit Products: update price row when price details are empty
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: Add/Edit Products, [Type] Bug

#2446 Update Product Categories remotely saving the product
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductCategory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
Labels: Add/Edit Products

#2447 Call reloadData after performFetch executions
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: Order Details, Order List, Product Details, Product List

#2451 Remove total orders row from readonly product details
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
Labels: Product Details

#2453 Fix the model name in debug messages for Core Data crash investigation
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
Labels: [Type] Crash

#2449 Grouped products are now editable when Products M3 flag is enabled
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Resources/Images.xcassets/icon-widgets.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-widgets.imageset/icon-widgets.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
Labels: Add/Edit Products

#2442 External products: external link & button text
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit External Link/ProductExternalLinkViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/TitleAndTextFieldTableViewCell.ViewModel+State.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextFieldTextAlignment.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/TextFieldTextAlignmentTests.swift
Labels: Add/Edit Products

#2457 Fix: order_open event is now fired correctly
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
Labels: Tracks Events, [Type] Bug

#2460 Merge Release/4.5 into develop
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  config/Version.Public.xcconfig
Labels: Releases

#2462 Use --repo-update flag when running pod install from Rake
  Rakefile
Labels: Tooling

#2456 Run SwiftLint on Build Phase
  Scripts/build-phases/swiftlint.sh
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tooling

#2458 Add ProductReviewAction.retrieveProductReviewFromNote
  Networking/Networking/Network/NetworkError.swift
  Storage/Storage/Protocols/StorageType.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductReviewAction.swift
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockNotificationsRemote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductReviewsRemote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductReview/RetrieveProductReviewFromNoteUseCaseTests.swift
Labels: Product Reviews

#2461 Fix: now we send the `application_upgraded` event correctly
  WooCommerce/Classes/AppDelegate.swift
Labels: Tracks Events, [Type] Bug

#2459 Networking/Yosemite changes for editing grouped products
  Networking/Networking/Remote/ProductsRemote.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Add/Edit Products

#2476 Merge Release/4.5 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/description.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/description.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/description.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/description.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/description.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/description.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/description.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/description.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/description.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/description.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/description.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/description.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/description.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/description.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/description.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/description.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/description.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/description.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2467 Show stats v4 by default if possible
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsV3ToV4BannerActionHandler.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsV4ToV3BannerActionHandler.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionStateCoordinator.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Testing/XCTestCase+Wait.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsVersionStateCoordinatorTests.swift
Labels: Store Stats

#2470 Remove stats experiment switch
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionStateCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+StatsVersion.swift
Labels: Store Stats

#2484 Merge Release/4.6 back into develop
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  Storage/Storage/CoreData/CoreDataManager.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2479 Fixes UITests around stats and beta features
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceUITests/Screens/MyStore/PeriodStatsTable.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
Labels: UI Tests

#2485 Improve CoreDataIterativeMigrator Testability
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Extensions/FileManager+FileManagerProtocol.swift
  Storage/Storage/Protocols/FileManagerProtocol.swift
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Storage/StorageTests/Mocks/MockFileManager.swift
Labels: Core Data

#2488 Fix CoreDataIterativeMigratorTests Build Faliure
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
Labels: Core Data
