Repository woocommerce/woocommerce-ios, pull requests merged in 2020-09, with the labels that each got.

#2737 Disable product type for custom product types
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products

#2742 Edit Product: fixed the leading edge of title cell
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
Labels: [Feat] Add/Edit Products

#2743 Order List: added "Guest" placeholder in order cell when there is no customer name
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
Labels: [Feat] Order List, [Status] Needs Design Review

#2746 Fix unit tests that depend on September 1st
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
Labels: Unit Tests

#2748 Infinite scroll update - part 2: send `hasNextPage` on sync completion
  Networking/Networking/Remote/ProductShippingClassRemote.swift
  Networking/NetworkingTests/Remote/ProductShippingClassRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Actions/ProductShippingClassAction.swift
  Yosemite/Yosemite/Stores/ProductShippingClassStore.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductShippingClassStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Architecture, [Feat] Add/Edit Products

#2745 Add RELEASE-NOTES for Settings Button Change
  RELEASE-NOTES.txt
Labels: [Feat] In-app Feedback

#2749 Add product - part 1: add CTA to the products tab
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: [Feat] Add/Edit Products

#2747 Infinite scroll update - part 1: scroll watcher
  WooCommerce/Classes/Tools/InfiniteScroll/ScrollWatcher.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/InfiniteScroll/ScrollWatcherTests.swift
Labels: [Feat] Add/Edit Products

#2752 Remove deprecated Dashboard V3 files
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/OrderStatsMapper.swift
  Networking/Networking/Model/Stats/OrderStats.swift
  Networking/Networking/Model/Stats/OrderStatsItem.swift
  Networking/Networking/Remote/OrderStatsRemote.swift
  Networking/NetworkingTests/Mapper/OrderStatsMapperTests.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteTests.swift
  Networking/NetworkingTests/Responses/order-stats-alt.json
  Networking/NetworkingTests/Responses/order-stats-day.json
  Networking/NetworkingTests/Responses/order-stats-month.json
  Networking/NetworkingTests/Responses/order-stats-week.json
  Networking/NetworkingTests/Responses/order-stats-year.json
  Networking/NetworkingTests/Responses/order-stats.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/OrderStats+CoreDataClass.swift
  Storage/Storage/Model/OrderStats+CoreDataProperties.swift
  Storage/Storage/Model/OrderStatsItem+CoreDataClass.swift
  Storage/Storage/Model/OrderStatsItem+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 30.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/Model/OrderStats+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/PeriodDataViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/StoreStatsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerPresenter.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/StatsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/ReadOnly/OrderStats+ReadOnlyType.swift
  Yosemite/Yosemite/Model/Storage/OrderStats+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderStatsItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/StatsStore.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreTests.swift
Labels: [Feat] Store Stats

#2754 Add Product: Networking/Yosemite support
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-add.json
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2761 Move WooCommerce assert* Functions to TestKit
  TestKit/Sources/TestKit/Assertions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/Epilogue/SwitchStoreNoticePresenterTests.swift
  WooCommerce/WooCommerceTests/Testing/XCTestCase+Assertions.swift
  WooCommerce/WooCommerceTests/Tools/ResultsControllerUIKitTests.swift
  WooCommerce/WooCommerceTests/ViewModels/MainTabViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Notifications/ReviewsCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyCoordinatorControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/inAppFeedback/InAppFeedbackCardViewControllerTests.swift
Labels: Tech Debt

#2770 SIWA: update `WordPressAuthenticator` to replace Apple image(s) with Apple symbol 
  Podfile
  Podfile.lock
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: [Feat] Login

#2771 Small improvements to VoiceOver in Edit Product Detail screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
Labels: Accessibility, [Feat] Add/Edit Products

#2776 [Issue Refunds] Feature Flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: [Feat] Refunds

#2779 Add Product > Product Settings: set password to empty without fetching password remotely
  Networking/Networking/Remote/SitePostsRemote.swift
  Networking/NetworkingTests/Remote/SitePostsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  Yosemite/Yosemite/Actions/SitePostAction.swift
  Yosemite/Yosemite/Stores/SitePostStore.swift
  Yosemite/YosemiteTests/Stores/SitePostStoreTests.swift
Labels: [Feat] Add/Edit Products

#2782 Fix product update error for bookable products
  Networking/Networking/Model/Product/Product.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2778 Add network-layer support for remote feature flags
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Bundle+Woo.swift
  Networking/Networking/Mapper/FeatureFlagMapper.swift
  Networking/Networking/Model/FeatureFlag.swift
  Networking/Networking/Remote/FeatureFlagsRemote.swift
  Networking/NetworkingTests/Extensions/BundleWooTests.swift
  Networking/NetworkingTests/Remote/FeatureFlagRemoteTests.swift
  Networking/NetworkingTests/Responses/feature-flags-load-all.json
Labels: [Type] Enhancement

#2750 Fix infinite scroll for grouped product's linked products after deletion
  WooCommerce/Classes/Tools/InfiniteScroll/PaginationTracker.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductTaxClassListSelectorDataSource.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/InfiniteScroll/PaginationTrackerTests.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2787 Merge Release/5.0 back into develop
  Networking/Networking/Model/Product/Product.swift
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2777 DiffableDataSource: Add FetchResultsSnapshotsProvider
  Storage/Storage/Protocols/StorageType.swift
  TestKit/Sources/TestKit/XCTestCase+Wait.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
  Yosemite/YosemiteTests/SnapshotsProvider/FetchResultSnapshotsProviderTests.swift
Labels: Architecture, [Feat] Order List

#2790 CurrencySettings: it no more depends on `ResultController` and `ServiceLocator`
  WooCommerce/Classes/Model/TopEarnerStatsItem+Woo.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/Tools/Shared Site Settings/SelectedSiteSettings.swift
  WooCommerce/Classes/Tools/UnitInputFormatter/PriceInputFormatter.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Product+PriceSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
Labels: Tech Debt

#2784 SnapshotsProvider: Hide the delegate method
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
Labels: Architecture

#2775 Add Encrypted Logging Support
  .circleci/config.yml
  .configure
  .configure-files/woo_app_credentials.json.enc
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Tools/Logging/EventLogging.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Credentials/ApiCredentials.tpl
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: [Type] Enhancement

#2788 Update App Store description
  WooCommerce/Resources/AppStoreStrings.pot
  fastlane/appstoreres/metadata/source/description.txt
Labels: Localization

#2795 Merge release/5.0 back into develop
  WooCommerce/Resources/AppStoreStrings.pot
  config/Version.Public.xcconfig
  fastlane/appstoreres/metadata/source/description.txt
Labels: Releases

#2794 Switch configuration to trunk
  .configure
  Gemfile.lock
  fastlane/Pluginfile
Labels: Tooling

#2791 Move Order List Sync Action Logic to UseCase
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
Labels: [Feat] Order List

#2786 Products: Variable product > Inventory section: hide stock status when "manage stock" is disabled
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2781 Improve unexpected product update error handling
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/ProductUpdateError+UI.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/Yosemite/Tools/AnyError.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2785 Encapsulate async product & password updates into a use case
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormRemoteActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormRemoteActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: [Feat] Add/Edit Products

#2797 Add Copied OrderListViewController and OrderListViewModel
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Architecture

#2812 Feat: added feature flag for Products Release 5
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] Add/Edit Products

#2798 Use DiffableDataSource on OrderListViewModel and OrderListViewController
  WooCommerce/Classes/Extensions/UITableViewDiffableDataSource+Helpers.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
Labels: Architecture, [Feat] Order List

#2810 Add Generated Order.copy()
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
Labels: Architecture

#2796 Reviews: delete stored Product Reviews when syncing Reviews from the first page
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Deletions.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsCommentTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsHeaderPlainTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsHeaderPlainTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Reviews/Cells/ProductReviewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/ProductReviewTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Reviews/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Reviews/ReviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsCoordinator.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.xib
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Stores/ProductReviewStoreTests.swift
Labels: [Feat] Product Reviews, [Type] Bug

#2811 [DiffableDataSource] Fix Empty Orders Cell And Inconsistent Animation
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
Labels: [Feat] Order List

#2817 DiffableDataSource: Add Support for Auto-Updating Cells
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
  Yosemite/YosemiteTests/SnapshotsProvider/FetchResultSnapshotsProviderTests.swift
Labels: Architecture, [Feat] Order List

#2802 Add Product: present product type bottom sheet then navigate to product form
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorPresenter.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/ProductFactoryTests.swift
Labels: [Feat] Add/Edit Products

#2819 Dashboard tab: remove `DashboardViewController` from Storyboard
  WooCommerce/Classes/ViewRelated/Base.lproj/Main.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: Tech Debt

#2820 Enable DiffableDataSource for Orders Tab and Orders → Search → Filter
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
Labels: Architecture, [Feat] Order List

#2825 Order Filter Counts: Show The Full Numbers
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Search/Order/OrderSearchStarterViewModelTests.swift
Labels: [Feat] Order List

#2828 Enables selection guide in ProductTableViewCell
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.xib
Labels: [Type] Enhancement

#2832 Update StatsVersionCoordinator to return V4 as the default stats version
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsVersionCoordinatorTests.swift
Labels: [Feat] In-app Feedback, [Type] Enhancement

#2836 Merge Release/5.0 back into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/description.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/description.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/description.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/description.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/description.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/description.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/description.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/description.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/description.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/description.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/description.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/description.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/description.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/description.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2833 Reset SnapshotsProvider When The StorageManager Is Reset
  Yosemite/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
  Yosemite/YosemiteTests/SnapshotsProvider/FetchResultSnapshotsProviderTests.swift
Labels: Architecture, [Feat] Order List

#2816 Core Data: Fix CoreDataManager if the store is in a bad state and can't be loaded
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  Storage/Storage/CoreData/CoreDataManager.swift
Labels: Core Data, [Type] Bug

#2847 Merge Release/5.1 back into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2818 SIWA: handle when Apple ID credential is revoked
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AppleIDCredentialChecker.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Keychain+Entries.swift
  WooCommerce/Classes/ServiceLocator/StoresManager.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
  Yosemite/Yosemite/Base/Dispatcher.swift
Labels: Sign In, [Type] Enhancement

#2848 [issue Refund] Add issue refund button
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/IssueRefundTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/IssueRefundTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: [Feat] Refunds

#2849 CoreDataManager: Log metadataForPersistentStore error
  Storage/Storage/CoreData/CoreDataManager.swift
Labels: Core Data

#2856 fix: `test_addProduct_relays_netwoking_error()` now calls the correct API request
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
Labels: Unit Tests

#2852 Added feature flag for Products Milestone 5
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] Add/Edit Products

#2846 UI differences between adding and editing a product (except for "saving as draft")
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+AddProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
Labels: [Feat] Add/Edit Products

#2855 Changes to Networking and Yosemite layers for deleting an existing Product
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-add-or-delete.json
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2857 Update Order to use OrderStatusEnum
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Mapper/OrderListMapperTests.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderEmailComposer.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Tech Debt, [Feat] Order Details, [Feat] Refunds

#2866 Updates copiable docs to include SPM temporary fix
  docs/README.md
Labels: Documentation

#2838 Issue/2642 persists downloadable files in original order for a product into storage
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/product.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 31.xcdatamodel/contents
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2861 Merge release notes for Release/5.1 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#2860 Add Product: fix bottom sheet not anchored at the CTA `UIBarButtonItem` on iPad
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorPresenter.swift
Labels: [Feat] Add/Edit Products

#2859 Add Product: save as draft
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+SaveTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ObservablesTests.swift
Labels: [Feat] Add/Edit Products

#2814 Issue/2755 display downloadable files for a product
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductDownload.swift
  Networking/Networking/Model/Product/ProductDownloadDragAndDrop.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/FIle List/ProductDownloadListViewController+Droppable.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/FIle List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/FIle List/ProductDownloadListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/FIle List/ProductDownloadListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/FIle List/ProductDownloadsEditableData.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactoryTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2862 Switches to an in-memory SQLite store which works better for testing
  Yosemite/YosemiteTests/Mockups/MockupStorage.swift
Labels: Core Data, Tech Debt

#2867 Yosemite: Log Fatal Errors to Sentry
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce Alpha.xcscheme
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Base/Dispatcher.swift
  Yosemite/Yosemite/Base/Store.swift
  Yosemite/Yosemite/Internal/LogErrorAndExit.swift
  Yosemite/Yosemite/Model/Extensions/OrderStatsV4Interval+Date.swift
  Yosemite/Yosemite/Stores/NotificationCountStore.swift
Labels: Architecture, [Feat] Store Stats

#2792 Refactor of SiteCountry, that now use SelectedSiteSettings
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Shared Site Settings/SelectedSiteSettings.swift
  WooCommerce/Classes/Tools/SiteCountry.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  WooCommerce/WooCommerceTests/Tools/SiteCountryTests.swift
Labels: Tech Debt

#2871 [Issue Refund] Refund Item Cell
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Refunds, [Status] Needs Design Review

#2870 Issue/2755 display downloadable files for a product test cases
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/FIle List/ProductDownloadListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/ProductDownloadListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+AddProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+SaveTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
Labels: Unit Tests, [Feat] Add/Edit Products

#2873 Show stock status in variation list
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductFormDataModel+ProductsTabProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModel+VariationTests.swift
Labels: [Feat] Add/Edit Products, [Type] Enhancement

#2876 Add Unit Test To Help Prevent Core Data Migration Mistakes
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  Storage/Storage/CoreData/ManagedObjectModelsInventory.swift
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
Labels: Architecture, Core Data

#2881 Upgrade WPAuth from 1.24.0 to 1.26.0-beta.12
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Tooling

#2882 Adds RefundShippingDetailsTableViewCell
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundShippingDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundShippingDetailsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundShippingDetailsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Refunds, [Status] Needs Design Review

#2889 Add site ID to `Order`, `OrderCoupon`, `OrderRefundCondensed`, and `ShippingLine` in storage lookup
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Tools/Shared Site Settings/SelectedSiteSettings.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/Yosemite/Stores/OrderNoteStore.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: Tech Debt

#2892 [Issue Refunds] Products refunds cell
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundProductsTotalTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundProductsTotalTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundProductsTotalViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Refunds, [Status] Needs Design Review

#2896 Configure the same user-agent header for all the network requests made through the app
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Requests/AuthenticatedRequest.swift
  Networking/Networking/Settings/Settings.swift
  Networking/Networking/Settings/UserAgent.swift
  Networking/NetworkingTests/Requests/AuthenticatedRequestTests.swift
  Networking/NetworkingTests/Settings/UserAgentTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/LicensesViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products

#2900 Opening of the Product Detail in read-only mode if it will be opened from an Order Detail
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
Labels: [Feat] Add/Edit Products, [Feat] Order Details, [Feat] Product Details
