Repository woocommerce/woocommerce-ios, pull requests merged in 2020-07, with the labels that each got.

#2487 Show pink dot icon on Deprecated Stats Banner
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Resources/Images.xcassets/icon-sync-dot.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-sync-dot.imageset/sync-dot-dark.pdf
  WooCommerce/Resources/Images.xcassets/icon-sync-dot.imageset/sync-dot-light.pdf
Labels: [Feat] Store Stats, [Status] Needs Design Review

#2483 Add selected state UI and enable accessory view for product cell
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Add/Edit Products

#2468 Products (M3): Add a new Product Category
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/ProductParentCategoriesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/ProductParentCategoriesViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextFieldTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Categories/ProductCategoryListViewModelTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2497 Update the product banner to match M2 designs
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
Labels: [Feat] Product List, [Type] Bug

#2498 Fix/failing tests
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceUITests/Screens/MyStore/PeriodStatsTable.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
Labels: Broken Tests

#2499 Merge Release/4.6 back into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/description.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/description.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/description.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2501 Fix: failing test on `develop` about CoreDataIterativeMigrator
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
Labels: Unit Tests

#2489 Add ManagedObjectModelsInventory
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/CoreData/CoreDataIterativeMigrator.swift
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/CoreData/ManagedObjectModelsInventory.swift
  Storage/Storage/Extensions/Collection+Extensions.swift
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
Labels: Core Data

#2502 Update TopBannerView to be expandable and actionable
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
Labels: [Feat] Store Stats

#2503 Allow stats banner to be dismissed
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DashboardStatsV3ViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: [Feat] Store Stats

#2504 Add ResultsController.safeObject(at:)
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
  Yosemite/Yosemite/Tools/ResultsController.swift
  Yosemite/YosemiteTests/Tools/ResultsControllerTests.swift
Labels: [Feat] Order List

#2508 Edit Product: Tags Cell and appearance logic
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product+ProductForm.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
Labels: [Feat] Add/Edit Products

#2492 Paginated list selector changes for editing linked products for a grouped product
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewProperties.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products

#2013 Handled push notifications for multiple stores
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreNoticePresenter.swift
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Notifications

#2505 Edit Grouped Products: edit linked products (Part 1/3) - paginated list of linked products with delete action
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Remote/ProductsRemote.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Grouped Product/GroupedProductListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2510 Variable Products are now editable with readonly variations
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2516 Edit Products: enable/disable product reviews in Settings
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsSections.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  Yosemite/Yosemite/Model/Products/ProductSettings.swift
Labels: [Feat] Add/Edit Products

#2524 Document Protocol Naming Convention
  docs/README.md
Labels: Documentation

#2525 Fix Remote Protocols Naming
  Networking/Networking/Remote/NotificationsRemote.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockNotificationsRemote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductReviewsRemote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
Labels: [Feat] Product Reviews

#2519 Replace StatsVersionState Usages with StatsVersion
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsVersionCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsVersionCoordinatorTests.swift
Labels: [Feat] Store Stats

#2515 Fix Crash When Dismissing Message Composer
  RELEASE-NOTES.txt
  WooCommerce/Classes/ServiceLocator/MessageComposerPresenter.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderMessageComposer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Order Details

#2529 Allow Injection of Dependencies for SwitchStoreNoticePresenter
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreNoticePresenter.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/Epilogue/SwitchStoreNoticePresenterTests.swift
  WooCommerce/WooCommerceTests/Mockups/MockNoticePresenter.swift
  WooCommerce/WooCommerceTests/Testing/XCTestCase+Assertions.swift
Labels: [Feat] App Settings

#2528 CircleCI: Update Xcode to 11.5.0
  .circleci/config.yml
Labels: Tooling

#2530 Copiable `ProductVariation` and update `Product.stockQuantity` type from `Int?` to `Int64?`
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventoryEditableData.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Mockups/MockProduct.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2527 Enable alternative types for certain fields when decoding a `ProductVariation`
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/KeyedDecodingContainer+Woo.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Responses/product-alternative-types.json
  Networking/NetworkingTests/Responses/product-variations-load-all-alternative-types.json
  Networking/NetworkingTests/Responses/product-variations-load-all-first-on-sale-empty-sale-price.json
Labels: [Feat] Add/Edit Products, [Feat] Product Details, [Type] Bug

#2517 Edit Grouped Products: edit linked products (Part 2/3) - show a product list selector to add linked products
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Extensions/MockupNetwork+Path.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/Extensions/Array+Helpers.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/ProductTaxClassListSelectorDataSource.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/SequenceHelpersTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductListMultiSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Grouped Product/GroupedProductListSelectorDataSourceTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2521 Shows Deprecated Stats View after September 1st, 2020
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-light-1.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: [Feat] Store Stats

#2531 Product Settings: switch to update whether a simple product is physical/virtual
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsSections.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsSectionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  Yosemite/Yosemite/Model/Products/ProductSettings.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2534 Fix release builds on XCode 11.5 image
  .circleci/config.yml
Labels: Tooling

#2533 Refactoring on `updateProduct` in preparation for sharing product form logic with `ProductVariation`
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2536 Stats: Show Contact Us Page When "Contact Us" Button is Tapped
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Testing/MockZendeskManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: [Feat] Store Stats, [Status] Needs Design Review

#2539 Yosemite/Networking: add `updateProductVariation` action
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductVariationMapper.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variation-update.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductVariationAction.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Mockups/MockProductVariation.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductVariationsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: [Feat] Add/Edit Products

#2550 Integrates wc-analytics/leaderboards API
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/LeaderboardListMapper.swift
  Networking/Networking/Model/Stats/Leaderboard.swift
  Networking/Networking/Model/Stats/LeaderboardRow.swift
  Networking/Networking/Model/Stats/LeaderboardRowContent.swift
  Networking/Networking/Remote/LeaderboardsRemote.swift
  Networking/NetworkingTests/Remote/LeaderboardsRemoteTests.swift
  Networking/NetworkingTests/Responses/leaderboards-products.json
  Networking/NetworkingTests/Responses/leaderboards-year-alt.json
  Networking/NetworkingTests/Responses/leaderboards-year.json
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/Yosemite/Tools/Stats/LeaderboardStatsConverter.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
  Yosemite/YosemiteTests/Tools/Stats/LeaderboardStatsConverterTests.swift
Labels: [Feat] Store Stats

#2555 Add Feature Flag for In-app Feedback Project
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] In-app Feedback

#2541 Edit Grouped Products: edit linked products (Part 3/3) - search product list selector
  Networking/Networking/Remote/ProductsRemote.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListMultiSelectorSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/ProductListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductListMultiSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Search/Product/ProductListMultiSelectorSearchUICommandTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: [Feat] Add/Edit Products

#2557 Update Fastlane to version 2.152.0
  Gemfile.lock
  fastlane/Pluginfile
Labels: Tooling

#2558 Refactoring on price settings: move sections and date picker states from view controller to view model
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductPriceSettingsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#2552 Replace concrete usage with protocol: `ProductFormDataModel`, `ProductFormActionsFactoryProtocol`, and `TaxClassRequestable`
  WooCommerce/Classes/ViewRelated/Editor/EditorFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactoryProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/List Selector Data Source/PaginatedProductShippingClassListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product+ProductForm.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Product+Media.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Product+ShippingTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/TaxClassAction.swift
  Yosemite/Yosemite/Model/Extensions/Product+Settings.swift
  Yosemite/Yosemite/Stores/TaxClassStore.swift
Labels: [Feat] Add/Edit Products

#2563 Merge 4.7 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2560 Edit Product: add and remove tags from a Product
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductTagListMapper.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductTag.swift
  Networking/Networking/Model/Product/ProductTagFromBatchCreation.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2567 Edit Product: open "Photos" when tapping on Product image
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
Labels: [Feat] Add/Edit Products

#2568 Unit tests for ProductSettingsRows
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsRowsTests.swift
Labels: Unit Tests, [Feat] Add/Edit Products

#2570 Adds SurveyViewController
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: [Feat] In-app Feedback

#2556 Add AppSettingsAction for In-app Feedback
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/GeneralAppSettings.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: [Feat] In-app Feedback

#2569 Add In-app Feedback Card
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] In-app Feedback

#2565 Abstract product form view model with `ProductFormViewModelProtocol`
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormPresentationStyle.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
Labels: [Feat] Add/Edit Products

#2566 `ProductVariation` now conforms to `ProductFormDataModel` and `TaxClassRequestable` for price settings customization
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProductVariation.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductPriceSettingsViewModel+ProductVariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariation+ProductFormTests.swift
  Yosemite/Yosemite/Stores/TaxClassStore.swift
Labels: [Feat] Add/Edit Products

#2572 Add tests to WooConstant
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/WooConstantsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: Tech Debt

#2579 Update product inventory settings to take in `ProductFormDataModel` protocol to allow `Product` and `ProductVariation`
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventoryEditableData.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products

#2573 Add PushNotesManager.inactiveNotifications Observable
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/WooCommerceTests/Mockups/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
Labels: [Feat] Notifications, [Feat] Product Reviews

#2577 Create a product form actions factory for a product variation
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactoryTests.swift
Labels: [Feat] Add/Edit Products

#2578 Create a product form view model for a product variation
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProductVariationStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: [Feat] Add/Edit Products

#2586 Merge 4.7 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#2584 Adds SurveyCompletion Screen
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveySubmittedViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveySubmittedViewController.xib
  WooCommerce/Resources/Images.xcassets/cs-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/cs-icon.imageset/cs-icon.pdf
  WooCommerce/Resources/Images.xcassets/tablet-success.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/tablet-success.imageset/tablet-success-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveySubmittedViewControllerTests.swift
Labels: [Feat] In-app Feedback
