Repository woocommerce/woocommerce-ios, pull requests merged in 2020-08, with the labels that each got.

#2588 Product variations are now editable - description, price, shipping, and inventory
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variations-load-all-manage-stock-two-states.json
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2585 Fix wrong parameter in leaderboards remote when requesting weekly leaderboards
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
Labels: [Feat] Store Stats

#2587 Attempt to fix crash after leaving WP media picker when the second page of images just returns
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSource.swift
Labels: [Feat] Add/Edit Products, [Type] Crash

#2589 Update product image upload UX to support product variation
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DeviceMediaLibraryPicker.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryImagePickerViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariation+ProductFormTests.swift
Labels: [Feat] Add/Edit Products

#2582 Edit Products: enabled right/left swipe on Product Images
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesGalleryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesGalleryViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2598 Add a missing test case for `ProductAction.retrieveProducts` with a page number and page size
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2597 Create wrappers for `ProductFormDataModel` conformance based on `Product` and `ProductVariation`
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventoryEditableData.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Product+Media.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Product+ShippingTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/PaginatedProductShippingClassListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM2Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductPriceSettingsViewModel+ProductVariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductPriceSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariation+ProductFormTests.swift
Labels: Tech Debt, [Feat] Add/Edit Products

#2590 Edit Products: show product reviews on main screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/OldProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/OldProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ProductReviewsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2604 Product Reviews: fetch reviews for a specific list of product IDs with different statuses
  Networking/Networking/Remote/ProductReviewsRemote.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductReviewAction.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
Labels: [Feat] Add/Edit Products

#2593 Enable/disable a product variation
  Networking/Networking/Model/Product/ProductVariation.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibilityViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2605 Adds in-app Survey loading view
  WooCommerce/Classes/ViewRelated/Survey/SurveyLoadingView.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: [Feat] In-app Feedback

#2607 Add BehaviorSubject observable
  WooCommerce/Classes/Tools/Observables/BehaviorSubject.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/Observables/BehaviorSubjectTests.swift
  WooCommerce/WooCommerceTests/Tools/Observables/PublishSubjectTests.swift
Labels: Architecture

#2601 Use Snake Case for Some Test Method Names
  WooCommerce/WooCommerceTests/Authentication/Epilogue/SwitchStoreNoticePresenterTests.swift
  WooCommerce/WooCommerceTests/Model/AgeTests.swift
  WooCommerce/WooCommerceTests/Model/NoteWooTests.swift
  WooCommerce/WooCommerceTests/Model/OrderNoteWooTests.swift
  WooCommerce/WooCommerceTests/Model/ProductVisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/PaginatedProductShippingClassListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductBackordersSettingListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductListMultiSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStatusSettingListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStockStatusListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductTaxClassListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductTaxStatusListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/TextFieldTextAlignmentTests.swift
Labels: Tech Debt

#2602 Edit Product > Inventory: extract view data logic from view controller to view model
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProductSKUValidationStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductInventorySettingsViewModel+VariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductInventorySettingsViewModelTests.swift
Labels: Tech Debt, [Feat] Add/Edit Products

#2608 Update the name of a product variation to include all attributes with "Any" value
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditableProductVariationModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariation+ProductFormTests.swift
Labels: [Feat] Add/Edit Products

#2619 Adds SurveyCoordinatingController
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveySubmittedViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewControllersFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyCoordinatorControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveySubmittedViewControllerTests.swift
Labels: [Feat] In-app Feedback

#2626 Shows in-app review from Feedback card
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/inAppFeedback/InAppFeedbackCardViewControllerTests.swift
Labels: [Feat] Store Stats

#2606 Edit Products: present Product Reviews screen
  WooCommerce/Classes/ViewRelated/Notifications/ReviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductReviewsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#2630 Merge Release/4.7 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2624 Product Variation > Inventory: hide stock status row when stock management is disabled
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductInventorySettingsViewModel+VariationTests.swift
Labels: [Feat] Add/Edit Products

#2625 Product Variation: update a variation's SKU to be nil if it's the same as its parent product to fix variation remote update
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditableProductVariationModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2635 Merge Release/4.8 back into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2623 Add AppSettingsAction.loadInAppFeedbackCardVisibility
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/MockupFileManager.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: [Feat] In-app Feedback

#2633 Integrate In-app Feedback Card Conditions for Displaying
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mockups/MockupStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
Labels: [Feat] In-app Feedback

#2634 Updates tracks
  Podfile
  Podfile.lock
Labels: [Type] Task

#2627 Add warning UI to variation list cell details and variation form
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditableProductVariationModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModel+VariationTests.swift
Labels: [Feat] Add/Edit Products, [Type] Enhancement

#2639 Removes Sign in with Google temporarily until we have SIWA
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: Sign In

#2645 Merge Release/4.8 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#2641 Fix updating a price with only sale price change doesn't trigger update
  Networking/Networking/Model/Product/Product.swift
  RELEASE-NOTES.txt
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#2638 Hide inApp feedback card after CTAs
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyCoordinatingController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/inAppFeedback/InAppFeedbackCardViewControllerTests.swift
Labels: [Feat] In-app Feedback

#2649 Docs: Mention rbenv Preference
  README.md
Labels: Documentation

#2651 Release/4.7
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  config/Version.Public.xcconfig
Labels: Releases

#2652 Merge release 4.8 into 4.7
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: Releases

#2653 Edit Product: the product screen now shows the "Product type" row
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2650 Updated Wormholy from v1.6.0 to v1.6.2
  Podfile
  Podfile.lock
Labels: [Type] Enhancement

#2656 Fix inconsistent failure in SurveyVC tests
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: Broken Tests

#2661 Handle General inApp Feedback Survey Errors
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyCoordinatorControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: [Feat] In-app Feedback

#2658 Merge Release/4.8 into develop
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: Releases

#2668 RetrieveProductReviewFromNoteUseCase: Use Storage if Possible
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
  Yosemite/YosemiteTests/Stores/ProductReview/RetrieveProductReviewFromNoteUseCaseTests.swift
Labels: [Feat] Product Reviews

#2469 Use main branch in .configure
  .configure
Labels: Tooling

#2657 Add support for storing multiple feedback states
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/FeedbackSettings.swift
  Storage/Storage/Model/FeedbackType.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: [Feat] In-app Feedback

#2659 Settings: add back Products feature switch for M3 release
  RELEASE-NOTES.txt
  Storage/Storage/Tools/PListFileStorage.swift
  Storage/StorageTests/Tools/FileStorageTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsSections.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsSectionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/MockInMemoryStorage.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsFeatureSwitch.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
  Yosemite/YosemiteTests/Stores/NotificationCountStoreTests.swift
Labels: [Feat] Add/Edit Products

#2665 Edit Product: now is possible to change the product type from simple to variant, grouped or external product
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Resources/Images.xcassets/icon-external-product.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-external-product.imageset/external-product.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommandTests.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2671 Save the Installation Date
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Internal/SessionManager+Internal.swift
  WooCommerce/WooCommerceTests/ViewModels/MainTabViewModelTests.swift
Labels: [Feat] In-app Feedback

#2673 Use Snake Case Naming Convention for Some Test Names
  Networking/NetworkingTests/Copiable/CopiableTests.swift
  Networking/NetworkingTests/Extensions/ArrayWooTests.swift
  Networking/NetworkingTests/Extensions/DateFormatterWooTests.swift
  Networking/NetworkingTests/Extensions/String+HTMLTests.swift
  Networking/NetworkingTests/Mapper/AccountMapperTests.swift
  Networking/NetworkingTests/Mapper/AccountSettingsMapperTests.swift
  Networking/NetworkingTests/Mapper/CommentResultMapperTests.swift
  Networking/NetworkingTests/Mapper/DotcomDeviceMapperTests.swift
  Networking/NetworkingTests/Mapper/NoteHashListMapperTests.swift
  Networking/NetworkingTests/Mapper/NoteListMapperTests.swift
  Networking/NetworkingTests/Mapper/OrderListMapperTests.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Mapper/OrderNotesMapperTests.swift
  Networking/NetworkingTests/Mapper/OrderStatsMapperTests.swift
  Networking/NetworkingTests/Mapper/OrderStatsMapperV4Tests.swift
  Networking/NetworkingTests/Mapper/PostMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductCategoryMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductCategoyListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductReviewListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductSkuMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductTagListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Mapper/RefundListMapperTests.swift
  Networking/NetworkingTests/Mapper/RefundMapperTests.swift
  Networking/NetworkingTests/Mapper/ReportOrderMapperTests.swift
  Networking/NetworkingTests/Mapper/ShipmentTrackingListMapperTests.swift
  Networking/NetworkingTests/Mapper/SiteAPIMapperTests.swift
  Networking/NetworkingTests/Mapper/SiteSettingsMapperTests.swift
  Networking/NetworkingTests/Mapper/SiteVisitStatsMapperTests.swift
  Networking/NetworkingTests/Mapper/TaxClassListMapperTest.swift
  Networking/NetworkingTests/Mapper/TopEarnerStatsMapperTests.swift
  Networking/NetworkingTests/Requests/AuthenticatedRequestTests.swift
  Networking/NetworkingTests/Requests/DotcomRequestTests.swift
  Networking/NetworkingTests/Requests/JetpackRequestTests.swift
  Networking/NetworkingTests/Requests/WooAPIVersionTests.swift
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/Extensions/NSManagedObjectContextStorageTests.swift
  Storage/StorageTests/Extensions/NSManagedObjectStorageTests.swift
Labels: Tech Debt

#2674 Add state support to ProductsM3 feedback survey
  Storage/Storage/Model/FeedbackType.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: [Feat] In-app Feedback

#2675 Add documentation on naming convention for nested enum for string constants
  docs/README.md
Labels: Documentation

#2664 Add a warning banner on top of the variation list when any variations are missing a price
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products

#2677 Edit Product: moved the Product Type cell at the bottom of the list
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products

#2679 Removed unused colors from UIColor+SemanticColors
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
Labels: Tech Debt

#2666 Edit Product: enhancements to external product URL & link button
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit External Link/ProductExternalLinkViewController.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#2680 Add multiple button support to TopBannerView
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/TopBanner/TopBannerViewTests.swift
Labels: [Feat] In-app Feedback

#2669 Fix Crash When Tapping on Review Push Notification
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/Tools/Coordinator.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockReviews.swift
  WooCommerce/WooCommerceTests/Mockups/MockSwitchStoreUseCase.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Notifications/ReviewsCoordinatorTests.swift
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
Labels: [Feat] Notifications, [Feat] Product Reviews

#2644 Add SIWA support
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/EmptyStoresTableViewCell.swift
  WooCommerce/Classes/Authentication/Epilogue/EmptyStoresTableViewCell.xib
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.xib
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
  WooCommerce/Classes/ServiceLocator/Authentication.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Resources/Woo-Debug.entitlements
  WooCommerce/Resources/Woo-Release.entitlements
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
  WooCommerce/WooCommerceUITests/Screens/Login/WelcomeScreen.swift
Labels: [Feat] Login, [Status] Needs Design Review

#2683 Edit Products M3: analytics (part 1/2)
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit External Link/ProductExternalLinkViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Grouped Products/GroupedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewModel.swift
  Yosemite/Yosemite/Actions/ProductCategoryAction.swift
  Yosemite/Yosemite/Actions/ProductTagAction.swift
Labels: [Feat] Add/Edit Products

#2688 Edit Products M3: analytics for editing a product variation (part 2/2)
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormEventLogger.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormEventLoggerProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormEventLogger.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products

#2689 Removed some unused code all around the app
  Networking/Networking/Extensions/Dictionary+Woo.swift
  Networking/Networking/Model/NoteBlock.swift
  Networking/Networking/Model/SiteSetting.swift
  Networking/Networking/Remote/CommentRemote.swift
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  Networking/NetworkingTests/Mapper/OrderStatsMapperV4Tests.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/Extensions/CNContact+Helpers.swift
  WooCommerce/Classes/Extensions/NSAttributedString+Helpers.swift
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Extensions/UIColor+Helpers.swift
  WooCommerce/Classes/Model/Note+Woo.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/Styles/Style.swift
  WooCommerce/Classes/Tools/AppRatings/AppRatingManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tech Debt

#2693 Improve SIWA error message
  Podfile.lock
Labels: [Feat] Login, [Type] Enhancement

#2686 Launch product feedback survey
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Resources/Images.xcassets/megaphone.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/megaphone.imageset/megaphone-dark.pdf
  WooCommerce/Resources/Images.xcassets/megaphone.imageset/megaphone.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] In-app Feedback, [Status] Needs Design Review

#2692 [IAFeedback] Track Survey Screen Events
  WooCommerce/Classes/ViewRelated/Survey/SurveyCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewControllersFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyCoordinatorControllerTests.swift
Labels: [Feat] In-app Feedback

#2695 Fix Build Failure and Clarify FeedbackContext Event Argument
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
Labels: [Feat] In-app Feedback

#2696 [IAFeedback] Add Tracking for Product Banner Action Buttons
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/TopBanner/TopBannerViewMirror.swift
  WooCommerce/WooCommerceTests/ViewRelated/TopBanner/TopBannerViewTests.swift
Labels: [Feat] Add/Edit Products, [Feat] In-app Feedback

#2700 Add Alpha Entitlements
  WooCommerce/Resources/Woo-Alpha.entitlements
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Login

#2697 Merge Release/4.9 back into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2694 Edit Product: enable editing basic fields for non-core products
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
Labels: [Feat] Add/Edit Products

#2704 Remove Products M1, M2, and readonly variants feature flags
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM2Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
Labels: Tech Debt, [Feat] Add/Edit Products

#2705 Edit Product: move price settings unsaved changes logic to view model
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductPriceSettingsViewModelTests.swift
Labels: Tech Debt, [Feat] Add/Edit Products

#2702 Order details > edit product: fix dismissing a bottom sheet (product type and bottom sheet menu)
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorPresenter.swift
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2713 TopBannerView: Fire layout notification when banner expandes or collapses
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
Labels: Accessibility

#2710 TopBannerView: Fix button layout on large accessibility traits
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
Labels: [Feat] In-app Feedback, [Status] Needs Design Review

#2681 TestKit: Add Shared Swift Package for Test Utilities
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Extensions/String+HTMLTests.swift
  Networking/NetworkingTests/Testing/XCTestCase+Wait.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Storage/StorageTests/Testing/XCTestCase+Wait.swift
  TestKit/.gitignore
  TestKit/Package.swift
  TestKit/README.md
  TestKit/Sources/TestKit/XCTestCase+Wait.swift
  TestKit/Tests/LinuxMain.swift
  TestKit/Tests/TestKitTests/XCTestManifests.swift
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Stores/NotificationCountStoreTests.swift
  Yosemite/YosemiteTests/Testing/XCTestCase+Wait.swift
Labels: Architecture

#2709 Add CSS for Survey (Backup)
  Resources/Crowdsignal/woo-mobile-survey-style.css
  docs/README.md
  docs/in-app-feedback.md
Labels: [Feat] In-app Feedback

#2714 Edit Product > Shipping: extract view data logic from view controller to view model
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModel+VariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModel+ProductVariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Shipping/ProductShippingSettingsViewModel+ProductVariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Shipping/ProductShippingSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: Tech Debt, [Feat] Add/Edit Products, [Type] Bug

#2717 Edit Product: support for multiline product title
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Purchase Note/ProductPurchaseNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EnhancedTextView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextViewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextViewTableViewCell.xib
Labels: [Feat] Add/Edit Products

#2724 Merge Release/4.9 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#2719 Update modified WooCommerce.xcodeproj after `pod install`
  Podfile
  Podfile.lock
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Architecture

#2721 Docs: Add information about Tracking Events
  docs/README.md
Labels: Documentation

#2722 Docs: Add Test Method Naming
  docs/README.md
Labels: Documentation

#2711 Remove Unused Reviews Push Notification Code
  WooCommerce/Classes/ViewRelated/Notifications/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsDataSource.swift
Labels: [Feat] Notifications, [Feat] Product Reviews

#2728 Fixes issue where products filter bar dissapears
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: [Feat] In-app Feedback

#2731 Remove inAppFeedback Feature Flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerceTests/Mockups/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewModels/MainTabViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
Labels: [Feat] In-app Feedback

#2672 Settings → Replace "Feature Request" With "Send Feedback"
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: [Feat] App Settings

#2723 Products: fix the variations warning banner when one variation has no price but is disabled
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products, [Feat] Product Details, [Type] Bug

#2725 Edit variable product: add inventory and shipping settings, and enable stock status for editing a product variation
  Networking/Networking/Model/Product/ProductVariation.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModel+VariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2734 Order Detail: "Guest" placeholder is showed on order details card when there is no customer name
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
Labels: [Feat] Order Details

#2730 Edit Product: reviews row is now hidden if reviews are disabled
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormActionsFactory+EditProductsM3Tests.swift
Labels: [Feat] Add/Edit Products, [Type] Bug

#2733 Edit Product: show empty state screen in product's reviews when product has no reviews
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review, [Type] Enhancement

#2744 Added feature flag for Products Milestone 4
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] Add/Edit Products
