Repository woocommerce/woocommerce-ios, pull requests merged in 2020-05, with the labels that each got.

#2216 Make EmptySearchResultsViewController Reusable
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: Order List, Product List

#2204 Filter Products screen
  Networking/Networking/Model/Product/ProductType.swift
  WooCommerce/Classes/ViewRelated/BottomButtonContainer/BottomButtonContainerView.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.xib
  WooCommerce/Classes/ViewRelated/Filters/FilterTypeViewModel+Helpers.swift
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterType+Products.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product List

#2218 Merge 4.1 final to develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2213 Product Visibility Setting: Yosemite & Networking layers
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/PostMapper.swift
  Networking/Networking/Model/Post.swift
  Networking/Networking/Remote/SitePostsRemote.swift
  Networking/NetworkingTests/Mapper/PostMapperTests.swift
  Networking/NetworkingTests/Remote/SitePostsRemoteTests.swift
  Networking/NetworkingTests/Responses/site-post-update.json
  Networking/NetworkingTests/Responses/site-post.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/SitePostAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/SitePostStore.swift
  Yosemite/YosemiteTests/Stores/SitePostStoreTests.swift
Labels: Add/Edit Products

#2210 Add "+ Add more details" CTA to the bottom of the product form
  WooCommerce/Classes/Extensions/UIButton+TitleAndImage.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/BottomButtonContainer/BottomButtonContainerView.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Add/Edit Products

#2237 Merge 4.2.0.0 to develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2238 Add Copiable Foundation
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Copiable/Copiable.swift
  Networking/Networking/Model/Copiable/ProductImage+Copiable.swift
  Networking/NetworkingTests/Copiable/CopiableTests.swift
  docs/README.md
Labels: Architecture

#2235 Image upload UX: after adding product images, automatically commit the changes locally
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
Labels: Add/Edit Products

#2247 Merge 4.2 release notes to develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#2248 Convert KeyboardFrameObserver to class
  WooCommerce/Classes/ViewRelated/Keyboard/KeyboardFrameObserver.swift
  WooCommerce/WooCommerceTests/ViewRelated/Keyboard/KeyboardFrameObserverTests.swift
Labels: Tech Debt

#2214 Testing: Add UI test setup on CI with Fastlane
  .circleci/config.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: UI Tests, Unit Tests, [Type] Enhancement

#2244 UL&S: Remove .showLoginMethods segue from Site Address VC
  Podfile
  Podfile.lock
Labels: Login, [Type] Enhancement

#2234 Edit Products: fix "..." more menu popover appearance
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products, [Type] Bug

#2233 Fix Product changes cannot be saved outside Products tab
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController+PresentationStyle.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, [Type] Bug

#2258 CameraCaptureCoordinator: Call completion block on main thread
  WooCommerce/Classes/ViewRelated/Products/Media/CameraCaptureCoordinator.swift
Labels: Add/Edit Products

#2255 Use a Separate Ghost VC for TopPerformerDataViewController
  WooCommerce/Classes/Extensions/UITableView+HeaderFooterHelpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformersViewController.swift
Labels: Store Stats

#2245 Update Empty States of Orders
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/URL+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/Resources/Images.xcassets/woo-empty-orders.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-orders.imageset/woo-empty-orders-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-orders.imageset/woo-empty-orders-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrdersViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: Order List

#2267 Move URL+Woo to WooConstants
  WooCommerce/Classes/Extensions/URL+Woo.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: Architecture, Order List

#2246 Update Products tab Filter CTA title based on the number of active filters
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModel+numberOfActiveFiltersTests.swift
Labels: Product List

#2239 Customize table view style for list selector
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SettingTitleAndValueTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Product List

#2266 Add UI test documentation
  WooCommerce/WooCommerceUITests/README.md
Labels: Documentation, UI Tests

#2261 Support Result<> Type
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Result+Extensions.swift
  Networking/Networking/Network/AlamofireNetwork.swift
  Networking/Networking/Network/MockupNetwork.swift
  Networking/Networking/Network/Network.swift
  Networking/Networking/Network/NullNetwork.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Remote/RemoteTests.swift
  Networking/NetworkingTests/Testing/XCTestCase+Wait.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: Architecture

#2273 Create a wrapper to present `BottomSheetListSelectorPresenter`
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorPresenter.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product List, Tech Debt

#2272 Update bottom sheet list selector to fit to content height
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
Labels: Product List

#2271 Update filter list screen background color to match the bottom CTA container
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
Labels: Add/Edit Products

#2264 Removed productList feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerceTests/Mockups/MockFeatureFlagService.swift
Labels: Product List

#2260 Product Settings: show, edit and update Product Visibility
  Networking/Networking/Model/Product/ProductStatus.swift
  Networking/Networking/Remote/SitePostsRemote.swift
  Networking/NetworkingTests/Remote/SitePostsRemoteTests.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/List Selector Data Source/ProductStatusSettingListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsSections.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibility.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibilityViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibilityViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SettingTitleAndValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldWithImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldWithImageTableViewCell.xib
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Model/ProductVisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStatusSettingListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  Yosemite/Yosemite/Model/Products/ProductSettings.swift
  Yosemite/YosemiteTests/Model/Updaters/Product+UpdaterTestCases.swift
  Yosemite/YosemiteTests/Stores/SitePostStoreTests.swift
Labels: Add/Edit Products, [Status] Needs Design Review

#2277 Removes extraneous old XIB from build (not visible in Xcode)
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Tech Debt, [Type] Bug

#2217 Edit Product: add product details bottom sheet
  WooCommerce/Classes/Extensions/Optional+String.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Optional+StringTests.swift
  WooCommerce/WooCommerceTests/Mockups/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormBottomSheetAction+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormSectionSettingsRow+VisibilityTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Extensions/Product+Settings.swift
  Yosemite/YosemiteTests/Mockups/MockProduct.swift
  Yosemite/YosemiteTests/Model/Extensions/Product+SettingsTests.swift
Labels: Add/Edit Products

#2275 Settings > Experimental Features: add back the Products switch for M2 features
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mockups/MockProductsAppSettingsStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel+EditProductsM2Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel+EditProductsM3Tests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/PListStorage/ProductsFeatureSwitchPListWrapper.swift
  Yosemite/Yosemite/PListStorage/ProductsVisibilityPListWrapper.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsFeatureSwitch.swift
Labels: App Settings

#2265 Improved VoiceOver support in Product Price
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Product+PriceSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/Product+ShippingSettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
Labels: Accessibility, Add/Edit Products

#2270 Show discard changes prompt when dismissing filter products screen with filter changes
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.xib
Labels: Add/Edit Products, [Status] Needs Design Review

#2283 Show different copy in Products tab banner based on Products feature switch in settings
  WooCommerce/Classes/ViewRelated/Containers/BottomButtonContainer/BottomButtonContainerView.swift
  WooCommerce/Classes/ViewRelated/Containers/SwappableSubviewContainerView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Product List

#2285 Remove BottomSheet copy from WCiOS and use it from WordPressUI framework
  WooCommerce/Classes/ViewRelated/BottomSheet/BottomSheetViewController+Constants.swift
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorPresenter.swift
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController+DrawerPresentable.swift
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Vendors/WPiOS-BottomSheet/BottomSheetAnimationController.swift
  WooCommerce/Vendors/WPiOS-BottomSheet/BottomSheetViewController.swift
  WooCommerce/Vendors/WPiOS-BottomSheet/DrawerPresentationController.swift
  WooCommerce/Vendors/WPiOS-BottomSheet/GripView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Product List

#2286 Fix the potential empty more details bottom sheet when Products M3 feature flag is off
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products, [Type] Bug

#2288 Product short description row should show maximum one line
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
Labels: Add/Edit Products, [Type] Bug

#2294 Added 8px padding between the "Limited editing available" banner and the first product
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: Add/Edit Products

#2297 Products: now we use always the site currency instead of order currency
  WooCommerce/Classes/ViewModels/ProductDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
Labels: Add/Edit Products, [Type] Bug

#2269 UL&S: Remove .showWPComLogin segue
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Login, [Type] Enhancement

#2299 Edit Product: update inventory row details text
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: Add/Edit Products

#2300 Collapse the Products tab WIP banner by default
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
Labels: Product List

#2310 Merge release/4.2 final to develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/keywords.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/keywords.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#2296 Analytics events for Products M2
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite/Stores/Enums/ProductsSortOrder.swift
Labels: Add/Edit Products, Tracks Events

#2312 Dropped iOS 11 support
  Networking/Networking.xcodeproj/project.pbxproj
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#2298 Order Details → Rearrange Header Elements
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/SummaryTableViewCellTests.swift
Labels: Order Details, [Status] Needs Design Review

#2306 Move Payment Section to Right After Products and Refunded Products
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: Order Details, [Status] Needs Design Review

#2315 Move 4.4 release notes to 4.3
  RELEASE-NOTES.txt
Labels: Order Details

#2303 Fix certain M1 settings aren't accessible if the data are empty when M2 feature switch is off
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormBottomSheetActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommandTests.swift
Labels: Add/Edit Products, [Type] Bug

#2301 Products > shipping settings: fix unexpected discard changes prompt from shipping class retrieved later
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
Labels: Add/Edit Products, [Type] Bug

#2307 Testing: Fix local UI test runs
  WooCommerce/Classes/ViewRelated/ReusableViews/BasicTableViewCell.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginPasswordScreen.swift
Labels: UI Tests, [Type] Bug

#2309 Move testing documentation to the docs directory
  docs/README.md
  docs/UI-TESTS.md
Labels: Documentation, [Type] Enhancement

#2319 Updated WordPressAuthenticator to use Google SignIn 5
  Podfile
  Podfile.lock
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#2318 Update PList storage implementation
  Storage/Storage/Protocols/FileStorage.swift
  Storage/Storage/Tools/PListFileStorage.swift
  Storage/StorageTests/Tools/FileStorageTests.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Mockups/MockInMemoryStorage.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: Tech Debt

#2324 Fixed constraints in InProgressViewController
  WooCommerce/Classes/ViewRelated/Progress/InProgressViewController.xib
Labels: Add/Edit Products, [Type] Bug

#2327 Order Details: HTML in the shipping method is now decoded
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Fulfillment/FulfillViewController.swift
Labels: Order Details, [Type] Bug

#2323 Fixed TitleAndEditableValueTableViewCell constraints errors
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/TitleAndEditableValueTableViewCellTests.swift
Labels: Tech Debt, [Type] Bug

#2326 Add Mocks and Test Data
  Networking/Networking/Model/MetaContainer.swift
  Networking/Networking/Remote/NotificationsRemote.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mockups/Networking/Model/MockNote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Model/MockProductReview.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockNotificationsRemote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductReviewsRemote.swift
  Yosemite/YosemiteTests/Mockups/Networking/Remote/MockProductsRemote.swift
Labels: Architecture, Product Reviews

#2331 Merge 4.3 code freeze and release notes to develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormBottomSheetActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormBottomSheetListSelectorCommandTests.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#2329 Rename `ProductImagesViewModel` to `ProductImagesHeaderViewModel` to match `ProductImagesHeaderTableViewCell`
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Add/Edit Products, Tech Debt

#2330 Improvement to FileStorageTests: managed URLs that never exists
  Storage/StorageTests/Tools/FileStorageTests.swift
Labels: Tech Debt, Unit Tests

#2328 Add unit tests for filter product list view model
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelProductListFilterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelTests.swift
Labels: Add/Edit Products, Tech Debt

#2320 Keep track of notification count and update the badges on Orders/Reviews tab and application icon accordingly
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Notifications/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersMasterViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Internal/SessionManager+Internal.swift
  WooCommerce/WooCommerceTests/Mockups/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/NotificationCountAction.swift
  Yosemite/Yosemite/PListStorage/SiteNotificationCountFileContents.swift
  Yosemite/Yosemite/Stores/NotificationCountStore.swift
  Yosemite/YosemiteTests/PListStorage/SiteNotificationCountFileContentsTests.swift
  Yosemite/YosemiteTests/Stores/NotificationCountStoreTests.swift
  Yosemite/YosemiteTests/Testing/XCTestCase+Wait.swift
Labels: Notifications, [Type] Bug

#2342 Fix crash when uploading product images after logging in
  Networking/Networking/Network/AlamofireNetwork.swift
Labels: Add/Edit Products, [Type] Crash

#2343 Fix product details screen cannot be scrolled to the bottom in landscape after keyboard is dismissed
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Keyboard/KeyboardScrollable.swift
Labels: Add/Edit Products

#2344 Edit Products: show product name in the navigation bar
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products, Product Details, [Status] Needs Design Review, [Type] Bug

#2345 Edit Products: scroll to the beginning of product images if any are pending upload
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderViewModel.swift
Labels: Add/Edit Products, [Type] Enhancement

#2346 Product Settings: fix "Discard changes" prompt erroneously shown when swiping back from slug, purchase note, and menu order
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
Labels: Add/Edit Products, [Type] Bug

#2347 Products: the Limited Editing Available banner now it's more easy to tap
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
Labels: Product List, [Type] Bug

#2341 Update Auth to use Google login refactor.
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Login

#2353 Dashboard: removed bottom separator from last Top Performer product
  WooCommerce/Classes/Extensions/UITableView+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/UITableView+HelpersTests.swift
Labels: Dashboard, [Type] UI fix

#2352 Fixed "pull request template" spaces
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Low hanging fruit

#2351 Products: the "View product in store" action will be shown only if the product is published
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: Add/Edit Products, [Type] Bug

#2350 Order Detail: fixed Order Status Cell wrong cell appearance
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
Labels: Order Details, [Status] Needs Design Review, [Type] Bug

#2356 Merge 4.3.0.1 to develop
  Networking/Networking/Network/AlamofireNetwork.swift
  config/Version.Public.xcconfig
Labels: Releases

#2355 Edit Product Images: "Discard changes" prompt now only appears when any images have been deleted
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
Labels: Add/Edit Products, [Type] Bug

#2348 Edit Product: extract view data logic from view controller to view model
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  Yosemite/Yosemite/Model/Updaters/ProductUpdater.swift
Labels: Add/Edit Products, Tech Debt

#2359 Made private the textField property inside TextFieldTableViewCell
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Menu Order/ProductMenuOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Slug/ProductSlugViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextFieldTableViewCell.swift
Labels: Tech Debt

#2358 Setup crash logging on Sentry before main window is setup
  WooCommerce/Classes/AppDelegate.swift
Labels: [Type] Enhancement

#2360 Add Additional Tests for ResultsController
  WooCommerce/WooCommerceTests/Mockups/MockupTableView.swift
  WooCommerce/WooCommerceTests/Tools/ResultsControllerUIKitTests.swift
Labels: Architecture

#2361 Use NSFetchedResultsSectionInfo.numberOfObjects Instead of objects.count
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Tools/ResultsController.swift
  Yosemite/YosemiteTests/Tools/ResultsControllerTests.swift
Labels: Architecture

#2363 Remove OrdersVC xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Order List
