Repository woocommerce/woocommerce-ios, pull requests merged in 2021-02, with the labels that each got.

#3532 Dashboard: fix visitor stats data on days when the end date is the same for more than one tab
  Networking/Networking/Model/Stats/StatGranularity.swift
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: [Feat] Store Stats, [Type] Bug

#3549 [Variations] Display empty state when navigating to variation list
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Resources/Images.xcassets/empty-box.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/empty-box.imageset/empty-box.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Add/Edit Products

#3552 Add Product Variations Attributes and Options Cell UI
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductVariationFormActionsFactory+ReadonlyVariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductVariationFormActionsFactoryTests.swift
Labels: [Feat] Add/Edit Products

#3546 Added punctuations
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
Labels: [Feat] Login

#3565 Fix navbar title for cross-sells products list
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.swift
Labels: [Feat] Add/Edit Products

#3564 Added SKU back to Order Details → Product Section
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.xib
Labels: [Feat] Order Details, [Status] Needs Design Review

#3566 Variations: Show current variation options in Attributes cell
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: [Feat] Add/Edit Products

#3548 Add drag-and-drop on Linked products
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSourceTests.swift
Labels: [Feat] Add/Edit Products

#3570 Cast "Update Sourcery" spell to revive "rake generate" from the graveyard!
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
Labels: [Type] Enhancement

#3568 [Variations] Add new option(to attribute) UI handling
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Menu Order/ProductMenuOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Slug/ProductSlugViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextFieldTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3578 Add first screen of edit variation attributes
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products

#3579 Variations: Delete and reorder options of a new product attribute
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3583 Use rethrows for waitFor()
  Networking/NetworkingTests/Remote/PaymentsGatewayRemoteTests.swift
  Networking/NetworkingTests/Remote/ProductAttributeTermRemoteTests.swift
  Networking/NetworkingTests/Remote/ProductAttributesRemoteTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Storage/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  TestKit/Sources/TestKit/XCTestCase+Wait.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderFulfillmentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/ShippingLabelsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Add Product Variation/AddAttributeViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/ProductDownloadSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product Loader/ProductVariationLoadUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariationDetailsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/RefundShippingLabelViewModelTests.swift
  Yosemite/YosemiteTests/SnapshotsProvider/FetchResultSnapshotsProviderTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsSettings.swift
  Yosemite/YosemiteTests/Stores/PaymentGatewayStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductAttributeStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductAttributeTermStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Tech Debt

#3569 Add cardPresentPayments feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] Mobile Payments

#3597 Variations: Update product variation attribute options
  Networking/Networking/Model/Product/ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: [Feat] Add/Edit Products

#3598 Variations: New Attribute -> Sync global attribute options(terms)
  Networking/Networking/Model/Product/ProductAttribute.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3599 Use the Fastlane API Key
  .configure
  .configure-files/app_store_connect_fastlane_api_key.json.enc
  fastlane/env/user.env.example
Labels: Tooling

#3603 [Tooling] Update 'upload_app_store_data' lane for APIKey use
  fastlane/Fastfile
Labels: Tooling

#3604 Update user.env.example with additional *_API_KEY_PATH
  fastlane/env/user.env.example
Labels: Tooling

#3605 Merge release/5.9 into develop
  .configure
  .configure-files/app_store_connect_fastlane_api_key.json.enc
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Fastfile
  fastlane/env/user.env.example
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3607 Variations: First Variation -> Allow existing options to be selected as offered options.
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3610 Variations: First Variation -> Add local attribute options
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3602 Variations: Edit Attributes
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributeOptionListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Product Variation/AttributeOptionListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Product Variation/AttributePickerViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3596 Add Unit Test to Protect from Incorrect NSMappingModel Initializer Results
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/StorageTests/CoreData/MappingModelTests.swift
  TestKit/Sources/TestKit/Assertions.swift
Labels: Core Data, Tech Debt

#3594 Add Localization.md
  README.md
  docs/README.md
  docs/localization.md
Labels: Documentation

#3613 Merge release/6.0 into develop (release cut)
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3612 Shipping Labels M2: add feature flag, and a creation CTA behind the feature flag in order details
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: Shipping Labels, [Feat] Order Details

#3616 Variations: First Variation -> Update / Create attributes remotely
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductAttribute.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3617 Pull the Stripe Terminal SDK as a dependency of the Hardware Package
  Hardware/Package.swift
  Hardware/Sources/Hardware/Hardware.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Tooling, [Feat] Mobile Payments

#3581 Shipping Labels (M2): create shipping label form
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Shipping Labels, [Status] Needs Design Review

#3621 Variations: Resolve accessibility issues for edit variation attribute options
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributeOptionListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.xib
Labels: [Feat] Add/Edit Products

#3620 Products: Fix dynamic type support for details text
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
Labels: Accessibility, [Feat] Add/Edit Products, [Type] Bug

#3623 Networking layer: added Shipping Labels address validation endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelAddressValidationResponseMapper.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddress.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressValidationError.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressValidationResponse.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressVerification.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-address-validation-error.json
  Networking/NetworkingTests/Responses/shipping-label-address-validation-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
Labels: Networking, Shipping Labels

#3622 Variations: First Variation -> Notify when an attribute is updated
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products

#3627 Variations: First Variation -> Navigate to EditAttributeList after creating first attribute
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Add/Edit Products

#3632 Fix "Back Button" behaviour on long press.
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/LicensesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogDetailViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/ManualTrackingViewControllerTests.swift
Labels: [Type] Enhancement

#3633 Merge release/6.0 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3624 Adds a placeholder reader setting VC behind the card present feat flag
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Mobile Payments

#3631 Shipping Labels: present the creation form
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: Shipping Labels

#3630 Yosemite layer: added Shipping Labels address validation
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Shipping Labels

#3636 Fix cells separator on variations list
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products

#3628 Variations: Release attribute edit feature
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
Labels: [Feat] Add/Edit Products

#3625 [Card Present Payments] Scaffolding CardReaderService
  Hardware/Sources/Hardware/CardReader.swift
  Hardware/Sources/Hardware/CardReaderEvent.swift
  Hardware/Sources/Hardware/CardReaderService.swift
  Hardware/Sources/Hardware/CardReaderServiceDiscoveryStatus.swift
  Hardware/Sources/Hardware/CardReaderServiceStatus.swift
  Hardware/Sources/Hardware/CardReaderStatus.swift
  Hardware/Sources/Hardware/PaymentIntent.swift
  Hardware/Sources/Hardware/PaymentIntentParameters.swift
  Hardware/Sources/Hardware/PaymentStatus.swift
  Hardware/Sources/Hardware/StripeCardReader/StripeCardReaderService.swift
  Hardware/Sources/Hardware/StripeCardReader/WCPayTokenProvider.swift
Labels: [Feat] Mobile Payments

#3626 Shipping Labels: Apply body style when updating cell
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
Labels: Shipping Labels, [Type] Task

#3640 Add check for addProductVariations feature flag
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products

#3642 [Card Present Payments] Expose CardReaderService through ServiceLocator
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
Labels: [Feat] Mobile Payments

#3639 Variations: Update "Any Attribute" option in AttributeOptionListSelectorCommand
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributeOptionListSelectorCommand.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Product Variation/AttributeOptionListSelectorCommandTests.swift
Labels: [Feat] Add/Edit Products

#3645 Variations: First Variation -> Render attribute list + create multiple attributes
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  Yosemite/Yosemite/Stores/ProductAttributeStore.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: [Feat] Add/Edit Products

#3641 Add create button on variations list
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products

#3643 [Card Present Payments] Add initial implementation of the CardPresentPaymentsStore.
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#3653 Restore ProductAttributeTermStore on DefaultStoresManager
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
Labels: [Type] Bug

#3655 Merge release/6.0 to develop (new beta)
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3646 Variations: Update alert copy for variable product type
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products, [Type] Task

#3658 Variations: Create First Variation
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: [Feat] Add/Edit Products

#3662 Update autolayout constraints for header button in linked products list
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.xib
Labels: [Feat] Add/Edit Products

#3661 Update linked products titles (upsells and cross-sells)
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.swift
Labels: [Feat] Add/Edit Products

#3647 Product Type: Display "Downloadable" if product is downloadable
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: [Feat] Add/Edit Products, [Type] Enhancement, impact: high

#3659 In-App Feedback: Add app version
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/URL+SurveyViewControllerTests.swift
Labels: [Feat] In-app Feedback, [Type] Enhancement

#3660 UL&S: Remove shadows from buttons on the "Pick store to connect" screen in the WordPress.com login flow
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.xib
Labels: [Feat] Login, [Type] Task

#3664 Variations: Add Attribute screen updates
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextFieldTableViewCell.swift
Labels: [Feat] Add/Edit Products

#3657 Add total_duration and page_number to orders_list_loaded Event
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEventPropertyType.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: [Feat] Order List

#3671 Variations: “Edit Attributes” Button
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products

#3674 [Tooling] Fix bundler CI failure by updating bundler with security fix
  Gemfile
  Gemfile.lock
Labels: Tooling

#3673 [Tooling] Fix bundler CI failure by updating bundler with security fix
  Gemfile
  Gemfile.lock
Labels: Tooling

#3663 Shipping Labels: validate shipping label address screen
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressVerification.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: Shipping Labels

#3669 Order Details: Update downloadable files row to read-only
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
Labels: [Feat] Order Details, [Type] Bug

#3672 Shipping Labels: parsing of the store address from Site Settings
  Networking/NetworkingTests/Mapper/SiteSettingsMapperTests.swift
  Networking/NetworkingTests/Responses/settings-general.json
  WooCommerce/Classes/Tools/SiteAddress.swift
  WooCommerce/Classes/ViewModels/ShippingProvidersViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/SiteAddressTests.swift
Labels: Shipping Labels

#3670 Variations: Fix a big when creating the first attribute and first variation
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3678 Order Details: Fix product image not loading
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
Labels: [Feat] Order Details, [Type] Bug

#3668 Product Description: Update placeholder text for Aztec Editor VCs
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorViewProperties.swift
Labels: [Feat] Add/Edit Products, [Type] Enhancement

#3677 Shipping Labels M1: remove feature flag and track API error
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: Shipping Labels

#3679 Allow alternative types for `Product`'s `regular_price` and `sold_individually` attributes
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/product-alternative-types.json
  RELEASE-NOTES.txt
Labels: [Feat] Product Details, [Type] Bug

#3685 Added `firstName` and `lastName` fields into AccountSettings entity
  Networking/Networking/Model/AccountSettings.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Mapper/AccountSettingsMapperTests.swift
  Networking/NetworkingTests/Remote/AccountSettingsRemoteTests.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/AccountSettings+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 45.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/AccountSettings+ReadOnlyConvertible.swift
Labels: Networking, Shipping Labels

#3684 Shipping Labels: populated fields in the address form screen
  WooCommerce/Classes/Tools/SiteAddress.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
Labels: Shipping Labels

#3686 Add view model for ProductVariationsViewController
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
Labels: Unit Tests, [Feat] Add/Edit Products

#3687 [Mobile Payments] Remove Hardware and dependency with the StripeTerminal SDK
  Hardware/.gitignore
  Hardware/Package.swift
  Hardware/README.md
  Hardware/Sources/Hardware/CardReader.swift
  Hardware/Sources/Hardware/CardReaderEvent.swift
  Hardware/Sources/Hardware/CardReaderService.swift
  Hardware/Sources/Hardware/CardReaderServiceDiscoveryStatus.swift
  Hardware/Sources/Hardware/CardReaderServiceStatus.swift
  Hardware/Sources/Hardware/CardReaderStatus.swift
  Hardware/Sources/Hardware/Hardware.swift
  Hardware/Sources/Hardware/PaymentIntent.swift
  Hardware/Sources/Hardware/PaymentIntentParameters.swift
  Hardware/Sources/Hardware/PaymentStatus.swift
  Hardware/Sources/Hardware/StripeCardReader/StripeCardReaderService.swift
  Hardware/Sources/Hardware/StripeCardReader/WCPayTokenProvider.swift
  Hardware/Tests/HardwareTests/HardwareTests.swift
  Hardware/Tests/HardwareTests/XCTestManifests.swift
  Hardware/Tests/LinuxMain.swift
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#3689 [Mobile Payments] Update Info.plist. Enable location services, required background modes and bluetooth permissions
  WooCommerce/Resources/Info.plist
Labels: [Feat] Mobile Payments

#3692 Fix Failing Stats Availability Network Request
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteV4Tests.swift
  Yosemite/Yosemite/Stores/AvailabilityStore.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
Labels: [Feat] Store Stats

#3690 Variations: Update product details screen after generating a variation
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3691 [Mobile Payments] Model objects for CardReader and PaymentIntent
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReader.swift
  Hardware/Hardware/CardReader/CardReaderType.swift
  Hardware/Hardware/CardReader/Charge.swift
  Hardware/Hardware/CardReader/ChargeStatus.swift
  Hardware/Hardware/CardReader/Hardware.swift
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/CardReader/PaymentIntentStatus.swift
  Hardware/Hardware/CardReader/PaymentStatus.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReader+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderType+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/Charge+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/ChargeStatus+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentStatus+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/HardwareTests.swift
Labels: [Feat] Mobile Payments

#3611 Use API Key for `deliver`
  .configure
  .configure-files/project.env.enc
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/Matchfile
  fastlane/env/project.env.example
  fastlane/env/user.env.example
Labels: Tooling

#3693 Product form > image upload: try fixing crash from unbalanced `DispatchGroup` call
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: [Feat] Add/Edit Products, [Type] Crash

#3701 Update secrets in release 6.0
  .configure
  .configure-files/google_cloud_keys.json.enc
Labels: Tooling

#3698 Variations: Add More Variations
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/GenerateVariationUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/GenerateVariationUseCaseTests.swift
Labels: [Feat] Add/Edit Products

#3696 Shipping Labels: display the correct store owner full name in the Origin Shipping Address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/AccountSettings+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: Shipping Labels

#3694 Order Details: Fix Product Variations showing empty data if attribute equals Any
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditableProductVariationModelTests.swift
Labels: [Feat] Order Details, [Type] Bug

#3713 Make sure window's root view controller is set in all app states
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
Labels: [Type] Crash

#3727 Update secrets
  .configure
  .configure-files/app_store_connect_fastlane_api_key.json.enc
  .configure-files/google_cloud_keys.json.enc
Labels: Tooling

#3726 Update secrets
  .configure
  .configure-files/app_store_connect_fastlane_api_key.json.enc
  .configure-files/google_cloud_keys.json.enc
Labels: Tooling

#3717 Products: Make inventory settings read-only for decimal stock quantities
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Decimal+Extensions.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/NetworkingTests/Extensions/Decimal+ExtensionsTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ReadonlyProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductVariationFormActionsFactory+ReadonlyVariationTests.swift
Labels: [Feat] Product Details

#3728 Variations: single variation deletion - Networking, Storage and Yosemite
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Storage/Storage/Tools/StorageType+Deletions.swift
  Yosemite/Yosemite/Actions/ProductVariationAction.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: [Feat] Add/Edit Products

#3729 Merge release/6.1 into develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3724 Variations: Edit attribute options(offered) for generating variations
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3725 [Mobile Payments] Set up the testing strategy for Card Present Payments
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/Charge.swift
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReader+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/Charge+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/CardReaderTests.swift
  Hardware/HardwareTests/ChargeTests.swift
  Hardware/HardwareTests/HardwareTests.swift
  Hardware/HardwareTests/MockStripeCardReader.swift
  Hardware/HardwareTests/MockStripeCharge.swift
  Hardware/HardwareTests/MockStripePaymentIntent.swift
  Hardware/HardwareTests/PaymentIntentTests.swift
  README.md
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
  docs/stripe-tests.md
Labels: [Feat] Mobile Payments

#3731 Shipping Labels: remote address validation and errors display
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddress.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: Shipping Labels

#3730 Variations: single variation deletion - UI
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductVariationDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: [Feat] Add/Edit Products

#3732 Remove Sentry logging for the unexpected app state
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
Labels: Tech Debt

#3736 Variations: Remove product attributes
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3699 [Mobile Payments] Add Partial Card Reader Settings View Model and Connect Views
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ImageTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/NumberedListItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/NumberedListItemTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleTableViewCell.xib
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect.svg
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning.svg
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Mobile Payments

#3740 Added Made with Love come work with us to readme
  README.md
Labels: Documentation

#3695 Variations: Add error state for syncing global attribute options
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3753 Update state flow on ReviewsViewController
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: [Feat] Product Reviews, [Type] Bug

#3755 Update release notes
  RELEASE-NOTES.txt
Labels: Documentation

#3756 Merge release/6.1 -> develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3757 Variations: Add back button confirmation on AttributePickerViewController
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.swift
Labels: [Feat] Add/Edit Products

#3743 [Mobile Payments] Pair with single reader. Mark II: Yosemite
  Hardware/Hardware/CardReader/CardReader.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderDiscoveryCache.swift
  Hardware/HardwareTests/CardReaderTests.swift
  Hardware/HardwareTests/MockStripeCardReader.swift
  Hardware/HardwareTests/StripeCardReaderCacheTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/CardReader.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReader.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: [Feat] Mobile Payments

#3759 Unified Login: track missing event unified_login_step
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/WooCommerceTests/Mocks/MockAnalyticsProvider.swift
Labels: [Feat] Login

#3747 Variations: Track events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/GenerateVariationUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: Tracks, [Feat] Add/Edit Products
