Repository woocommerce/woocommerce-ios, pull requests merged in 2021-11, with the labels that each got.

#5301 WC Tracker: Add telemetry action
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/IgnoringResponseMapper.swift
  Networking/Networking/Model/SiteAPI.swift
  Networking/Networking/Remote/TelemetryRemote.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  Networking/NetworkingTests/Mapper/IgnoringResponseMapperTests.swift
  Networking/NetworkingTests/Remote/TelemetryRemoteTests.swift
  Networking/NetworkingTests/Responses/null-data.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Actions/TelemetryAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/TelemetryStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
  Yosemite/YosemiteTests/Stores/TelemetryStoreTests.swift
Labels: category: analytics

#5315 Merge 7.8 final into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5294 [Mobile Payments] Allow pass presentation after payment cancellation
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalTapCardTests.swift
Labels: feature: mobile payments

#5318 [Mobile Payments] Add missing fields to WCPay account remote request
  Networking/Networking/Remote/WCPayRemote.swift
Labels: feature: mobile payments

#5319 Merge 7.9 code freeze into develop
  Gemfile.lock
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/Pluginfile
  fastlane/download_metadata.swift
Labels: Releases

#5231 Refactor receipt printing
  Hardware/Hardware/CardReader/CardPresentTransactionDetails.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptActionCoordinator.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/ReceiptActionCoordinatorTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: type: task, feature: mobile payments

#5328 Merge 7.9 release notes into develop
  Gemfile.lock
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#5329 Add check to skip secrets code generation in non `indexbuild` actions
  Scripts/build-phases/generate-credentials.sh
Labels: category:tooling

#5312 Fix: tab bar background color under iOS 15 and Xcode 13
  WooCommerce/Classes/Extensions/UITabBar+Appearance.swift
Labels: type: bug, category: design

#5313 Fix: warnings in `AttributedText` view under Xcode 13
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AttributedText.swift
Labels: type: task, priority: low

#5334 Order Editing: Add Address Form fields dynamic type support
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveStack.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndTextFieldRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details, category: accessibility

#5341 [Mobile Payments] Use active (not networkActivated) to determine plugin activation state
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Mapper/SystemStatusMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/SystemPlugin.swift
  Networking/NetworkingTests/Mapper/SystemStatusMapperTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Storage/SystemPlugin+ReadOnlyConvertible.swift
Labels: feature: mobile payments

#5356 [Mobile Payments] Update minimum plugin version; make enums in test more expressive
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: feature: mobile payments

#5338 [Mobile Payments] Add isLive and isInTestMode to PaymentGatewayAccount entity
  PaymentGatewayAccount+CoreDataProperties.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 57.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: feature: mobile payments

#5355 Add a feature flag for JCP support
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: enhancement

#5311 Change Circle CI image to Xcode 13
  .circleci/config.yml
  .ruby-version
  .xcversion
  Scripts/build-phases/generate-credentials.sh
  WooCommerce/Classes/Extensions/UITabBar+Appearance.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AttributedText.swift
Labels: category: tooling

#5359 Dismiss site picker without switching to a different selected site
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: type: bug, feature: app settings

#5323 Updated Wormholy from v1.6.4 to v1.6.5
  Podfile
  Podfile.lock
Labels: category: tooling

#5372 Issue/4385 empty filter view
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: feature: product list

#5374 Order list: implemented the screens for showing the date range filters
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/Custom Range Filter/DateRangeFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/Custom Range Filter/DateRangeFilterViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDateRangeFilter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDatesFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDatesFilterViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/OrderDateRangeFilterEnum.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
Labels: type: task, feature: order list

#5366 Add card reader software update tracks events
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
Labels: type: task, feature: mobile payments, category: analytics

#5375 Quick order customer note on receipts
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/ReceiptContent.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#5373 Simple Payments: Rename Quick Order to Simple Payments
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#5377 Simple Payments: Summary UI
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#5381 5367 Use generic URL for Purchase Card Reader
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
Labels: type: task, feature: mobile payments

#5337 Filter Products by Category: synchronize remotely the Filter Product Category
  Networking/Networking/Model/DotcomError.swift
  Networking/Networking/Remote/ProductCategoriesRemote.swift
  Networking/NetworkingTests/Remote/ProductCategoriesRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite/Actions/ProductCategoryAction.swift
  Yosemite/Yosemite/Stores/ProductCategoryStore.swift
  Yosemite/YosemiteTests/Stores/ProductCategoryStoreTests.swift
Labels: type: task, feature: product list

#5358 [Mobile Payments] Prompt user to take live account out of test mode to do in-person payments
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/PaymentGatewayAccount.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsLiveSiteInTestModeView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Payments/WCPayAccount+PaymentGatewayAccount.swift
  Yosemite/Yosemite/Model/Storage/PaymentGatewayAccount+ReadOnlyConvertible.swift
Labels: feature: mobile payments

#5383 Update README.md with more api credentials information
  README.md
Labels: needs: docs

#5378 Jetpack CP: benefits banner UI
  WooCommerce/Classes/Styles/ColorStudio.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackConnectionPackageSites/JetpackBenefitsBanner.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement

#5299 Support new push notification payload format for multi-store push notifications
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Networking/Networking/Remote/DevicesRemote.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Notifications/ApplicationAdapter.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotification.swift
  WooCommerce/Classes/Tools/Notices/Notice.swift
  WooCommerce/Classes/Tools/Notices/NoticeView.swift
  WooCommerce/WooCommerceTests/Mocks/MockApplicationAdapter.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Notifications/ReviewsCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: feature: notifications

#5386 Simple Payments: Connect Summary View
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsSummary.swift
Labels: feature: order creation

#5385 Commit bundlers new preferred without line location
  .bundle/config
Labels: category: tooling

#5395 Add local settings docs
  docs/STORAGE.md
  docs/app-local-settings.md
  docs/architecture-overview.md
Labels: type: documentation

#5396 Simple Payments: Add order note edit functionality
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNoteViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNoteViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsNoteViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsNoteViewModelTests.swift
Labels: feature: order creation

#5388 Product List: Prepare "filter products by product category" issue for release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelTests.swift
Labels: type: task, feature: product list

#5398 Order Editing: Fix iOS 15 navigation bar style
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
Labels: feature: order details

#5389 [Analytics] Add Track function combining errors and props
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/ServiceLocator/Analytics.swift
  WooCommerce/WooCommerceTests/System/WooAnalyticsTests.swift
Labels: type: task, category: analytics

#5379 Jetpack CP: benefits detail UI
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackConnectionPackageSites/JetpackBenefitItem.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackConnectionPackageSites/JetpackBenefitsView.swift
  WooCommerce/Resources/Images.xcassets/icon-alarm-bell-ring.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-alarm-bell-ring.imageset/icon-alarm-bell-ring.pdf
  WooCommerce/Resources/Images.xcassets/icon-analytics.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-analytics.imageset/icon-analytics.pdf
  WooCommerce/Resources/Images.xcassets/icon-multiple-users.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-multiple-users.imageset/icon-multiple-users.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: enhancement

#5380 Jetpack CP: display benefits banner under a feature flag
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackConnectionPackageSites/JetpackBenefitsBanner.swift
Labels: type: enhancement, status: feature-flagged

#5391 [Mobile Payments] Maintain reader software update Required/Optional state correctly
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
Labels: type: task, feature: mobile payments

#5414 Remove PR list generation at code-freeze
  fastlane/Fastfile
Labels: category: tooling

#5390 [Mobile Payments] Card reader software update Tracks properties
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SoftwareUpdateTypeProperty.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockAnalyticsProvider.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
Labels: type: task, feature: mobile payments, category: analytics

#5397 Remove Cancel on card reader updates at 100%
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#5415 Add icons to rows on the Card Reader settings screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Resources/Images.xcassets/icon-card-reader-manual.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-card-reader-manual.imageset/icon-card-reader-manual.pdf
  WooCommerce/Resources/Images.xcassets/icon-card.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-card.imageset/icon-card.pdf
  WooCommerce/Resources/Images.xcassets/icon-shopping-cart.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-shopping-cart.imageset/icon-shopping-cart.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: app settings, feature: mobile payments

#5419 [Mobile Payments] Remove html tags from receipt generation
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
Labels: feature: mobile payments

#5416 [Mobile Payments] Clear connected view model update error state on successfully connecting to a reader
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
Labels: feature: mobile payments

#5382 [Mobile Payments] Improved minimum WCPay plugin version comparison
  WooCommerce/Classes/Tools/VersionHelpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/VersionHelpersTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: feature: mobile payments

#5429 Merge 7.9 final into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5433 Merge 8.0 code freeze into develop
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  WooCommerce/WooCommerceUITests/Mocks/mappings/me/rest_v11_me_sites.json
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#5436 Cerry-pick: Use a fixed `Date` in `ReceiptRendererTest` in `release/8.0`
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
Labels: category: unit tests

#5431 Order Creation: Add feature flag and experimental features switch for order creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: category: experimental features, status: feature-flagged, feature: order creation

#5437 Update internal release notes for #5393
  RELEASE-NOTES.txt
Labels: feature: app settings

#5423 Order Filters: apply filters to order list
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/orders-load-all-2.json
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDateRangeFilter.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/OrderDateRangeFilterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
Labels: type: task, feature: order list

#5441 Fix site URL comparison failure in UI tests
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
Labels: category: ui tests

#5439 Order Creation: Basic UI for New Order screen
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#5438 [Mobile Payments] Make CardReaderConfigProvider conformance to ReaderTokenProvider explicit
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/StripeCardReader/DefaultConnectionTokenProvider.swift
Labels: type: enhancement, feature: mobile payments

#5399 Add associated domain entitlement for wordpress.com
  RELEASE-NOTES.txt
  WooCommerce/Resources/Woo-Alpha.entitlements
  WooCommerce/Resources/Woo-Debug.entitlements
  WooCommerce/Resources/Woo-Release.entitlements
Labels: feature: login

#5444 Order Filters: display a new empty state when there are no results with filters applied
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
Labels: feature: order list

#5443 [Mobile Payments] Remove print and log to Lumberjack where needed
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
Labels: type: enhancement, feature: mobile payments

#5456 Order Creation: Add new order view model with empty order
  Networking/Networking/Model/Order.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#5442 Order Filters: removed status filters from search view
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Search/Order/OrderSearchStarterViewModelTests.swift
Labels: type: task, feature: order list

#5448 [Mobile Payments] Only attempt to auto connect to a known reader once
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
Labels: feature: mobile payments

#5447 [Mobile Payments] Pass tokens and location using Result
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/StripeCardReader/DefaultConnectionTokenProvider.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments

#5446 [Mobile Payments] Simplify reader update check
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
Labels: feature: mobile payments

#5445 [Mobile Payments] Guard for nil self early when capturing payment
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
Labels: feature: mobile payments

#5449 Simple Payments: Add Summary View Interactions
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5460 [Mobile Payments] Bump Stripe Terminal SDK to 2.4
  Podfile
  Podfile.lock
Labels: type: task, category: tooling, feature: mobile payments

#5435 Update `AccountRemote.loadSites` to use a Combine publisher in the Networking layer
  Networking/Networking/Network/AlamofireNetwork.swift
  Networking/Networking/Network/MockNetwork.swift
  Networking/Networking/Network/Network.swift
  Networking/Networking/Network/NullNetwork.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/AccountRemoteTests.swift
  Networking/NetworkingTests/Remote/RemoteTests.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
Labels: category: architecture

#5466 Jetpack CP: workaround to call `wp/v2/settings` and `wc/v3/settings` for JCP sites for accurate site info
  Networking/Networking/Remote/AccountRemote.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Storage/Site+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockAccountRemote.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: enhancement

#5452 Issue/4861 Payments Services cleanup
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments

#5462 Order Filters: allow multiple status selection
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusFilterViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: task, feature: order list

#5454 Order Filters: tracking order filters event when the flow starts
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: task, feature: order list

#5465 Simple Payments: Fix iOS 15 regressions
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/BindableTextField.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#5394 Products: Added the variation number to the variations list, details page and updated progress view text when saving a variation
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: variation details, feature: variation list

#5467 Jetpack CP: only perform JCP workaround behind a feature flag
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: enhancement, status: feature-flagged

#5463 [Mobile Payments] Add Stripe Terminal license to licenses
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/LicensesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Resources/HTML/licenses.html
Labels: feature: mobile payments

#5451 Jetpack CP: Add empty view for site visit stats
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsSiteVisitEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#5474 Jetpack CP: enable logging in with site address
  WooCommerce/Classes/Extensions/WordPressComSiteInfo+Woo.swift
  WooCommerce/WooCommerceTests/Extensions/WordPressComSiteInfoWooTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
Labels: type: enhancement, status: feature-flagged

#5475 JCP: Install Jetpack intro screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackConnectionPackageSites/JetpackBenefitsBanner.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallIntroView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AttributedText.swift
  WooCommerce/Resources/Images.xcassets/icon-jetpack-green.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-jetpack-green.imageset/icon-jetpack-green.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task

#5470 Improved PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: category: tooling

#5469 Continuous Improvements: Tags loading indicator
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.xib
Labels: category: design

#5471 Order Creation: Add bottom sheet to choose new order flow
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/BottomSheetOrderType.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Resources/Images.xcassets/icon-simple-payments.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-simple-payments.imageset/icon-simple-payments.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddOrderCoordinatorTests.swift
Labels: feature: order creation

#5477 Order Creation: Add action to create a manual order in Yosemite layer
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#5476 JCP: Install Jetpack steps UI
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/View Modifiers/View+Conditionals.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallIntroView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallSteps.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
  WooCommerce/Resources/Images.xcassets/check-circle-done.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/check-circle-done.imageset/check-circle-done-dark.pdf
  WooCommerce/Resources/Images.xcassets/check-circle-done.imageset/check-circle-done.pdf
  WooCommerce/Resources/Images.xcassets/check-circle-empty.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/check-circle-empty.imageset/check-circle-empty-dark.pdf
  WooCommerce/Resources/Images.xcassets/check-circle-empty.imageset/check-circle-empty.pdf
  WooCommerce/Resources/Images.xcassets/icon-connection.imageset/Connections-dark.pdf
  WooCommerce/Resources/Images.xcassets/icon-connection.imageset/Connections.pdf
  WooCommerce/Resources/Images.xcassets/icon-connection.imageset/Contents.json
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, status: feature-flagged

#5489 Jetpack CP prerequisite: refactor media upload result to `Result`
  Networking/Networking/Remote/MediaRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSource.swift
  WooCommerce/WooCommerceTests/Mocks/MockMediaStoresManager.swift
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: technical debt

#5472 Hide cancel button for 100% mandatory updates
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
Labels: type: bug, feature: mobile payments

#5478 [Mobile Payments] Use ARC to avoid a retain cycle
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
Labels: type: task, feature: mobile payments

#5480 [Mobile Payments] Prevent error from being displayed when a mandatory update is cancelled
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
Labels: type: bug, feature: mobile payments

#5481 Order Filters: persist selected filters between sessions
  Networking/Networking/Model/OrderStatusEnum.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDateRangeFilter+Utils.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDatesFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/OrderDateRangeFilterTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Orders/OrderDateRangeFilter.swift
  Yosemite/Yosemite/Model/Orders/StoredOrderSettings.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrdersSettings.swift
  docs/app-local-settings.md
Labels: type: task, feature: order list

#5473 [Mobile Payments] Implement didReportBatteryLevel delegate to get battery level updates from readers
  Hardware/Hardware/CardReader/CardReader.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
Labels: feature: mobile payments

#5490 Jetpack CP: add media endpoints for JCP sites
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WordPressMediaMapper.swift
  Networking/Networking/Model/Media/WordPressMedia.swift
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-library-from-wordpress-site.json
  Networking/NetworkingTests/Responses/media-upload-to-wordpress-site.json
Labels: type: enhancement

#5421 Cancel button and swipe to cancel actions handled
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
Labels: feature: order creation

#5491 Order Filters: enable feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: order list

#5492 Order Creation: Integrate remote order creation action in UI layer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5494 Simple Payments: Create Order with Taxes
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#5400 Order Filters: new Order List without tabs on top of the view
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/OrderStatusEnum.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Responses/orders-load-all-2.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDateRangeFilter+Utils.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDatesFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusFilterViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewController.xib
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/OrderDateRangeFilterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Search/Order/OrderSearchStarterViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Model/Orders/OrderDateRangeFilter.swift
  Yosemite/Yosemite/Model/Orders/StoredOrderSettings.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrdersSettings.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  docs/app-local-settings.md
Labels: type: task, feature: order list

#5497 Stats: Use separate refresh timeouts for periods
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: feature: stats, category: performance

#5496 Jetpack CP: display Install Jetpack row in Settings
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: feature: app settings

#5504 JCP: Add endpoints for Installing Jetpack plugin from the app
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/SitePluginMapper.swift
  Networking/Networking/Remote/SitePluginsRemote.swift
  Networking/NetworkingTests/Mapper/SitePluginMapperTests.swift
  Networking/NetworkingTests/Remote/SitePluginsRemoteTests.swift
  Networking/NetworkingTests/Responses/plugin.json
Labels: type: task

#5502 Simple Payments: Render taxes
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5487 Fixed autofocus issue in text field while editing customer note in orders
  WooCommerce/Classes/View Modifiers/View+AutofocusTextModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#5507 JCP: Update Yosemite layer with new actions for installing plugins
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/plugin-inactive.json
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/SitePluginListViewModelTests.swift
  Yosemite/Yosemite/Actions/SitePluginAction.swift
  Yosemite/Yosemite/Stores/SitePluginStore.swift
  Yosemite/YosemiteTests/Stores/SitePluginStoreTests.swift
Labels: type: task

#5508 Store picker: pre-select currently selected store instead of the store from login with store address flow
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: type: bug

#5514 Order Creation: Fix navigation in orders list
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: feature: order creation

#5510 [Mobile Payments] Remove reference to led colours when connecting to a card reader
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningForReader.swift
Labels: feature: mobile payments

#5511 [Mobile Payments] Display more specific reasons for payment declines
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/DeclineReason.swift
  Hardware/Hardware/CardReader/StripeCardReader/DeclineReason+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/HardwareTests/DeclineReasonTests.swift
  Hardware/HardwareTests/ErrorCodesTests.swift
Labels: feature: mobile payments

#5524 Simple payments: Small UX Pmprovements
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
Labels: feature: order creation

#5516 Simple Payments: Update pending order from Summary screen
  Networking/Networking/Model/OrderFeeLine.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#5523 Simple Payments: Notices Refactor
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5517 Order Creation: Products section UI
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ButtonStyles.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: status: feature-flagged, feature: order creation

#5545 Merge 8.0 finalization into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5505 Jetpack CP: display Jetpack benefits bottom banner for JCP sites and 5 days after the last dismissal
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: status: feature-flagged

#5544 Simple Payments: Payment Method UI
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5549 Shipping Labels: Fix crash when saving label after opening order from push notification
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: type: crash, feature: shipping labels

#5525 Jetpack CP: Integrate install Jetpack with UI
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallIntroView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModelTests.swift
Labels: type: task

#5526 Jetpack CP: Fetch site to check for successful Jetpack installation
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModelTests.swift
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: task

#5551 Home Screen Update: added the new tab "More" under a feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/TabBar/WooTab+Tag.swift
  WooCommerce/Resources/Images.xcassets/icon-hub-menu.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-hub-menu.imageset/Hub Menu tab icon.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: task

#5550 Simple Payments: Pay by cash
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: feature: order creation

#5555 Merge 8.1 code freeze into develop
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#5513 [Mobile Payments] Onboarding error layout improvements
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsLearnMore.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupported.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsLiveSiteInTestModeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsNoConnectionView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingError.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotActivatedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotInstalledView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSupportedVersionView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountOverdueView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountPendingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAcountReviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeRejectedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsUnavailableView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsWCPayNotSetup.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#5557 Order Creation: Add Product UI
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProduct.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: status: feature-flagged, feature: order creation
