Repository woocommerce/woocommerce-ios, pull requests merged in 2021-09, with the labels that each got.

#4897 Shipping Labels: Fix font and foreground color for LearnMoreRow
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LearnMoreRow.swift
Labels: type: bug, feature: shipping labels

#4895 Shipping Labels: Track states of customs in purchase flow
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormList.swift
Labels: feature: shipping labels, status: feature-flagged

#4902 Shipping Labels: Hide bottom bar on creation form
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.xib
Labels: type: bug, feature: shipping labels, category: design

#4899 Add What's New SwiftUI components along with WhatsNewViewModel
  Podfile
  Podfile.lock
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewModels/WhatsNew/WhatsNewViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/IconListItem.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LargeTitle.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ReportList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/WhatsNew/WhatsNewViewModelTests.swift
Labels: feature: app settings

#4893 Order Editing: Add analytics & release customer note edit
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNoteViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Customer Note/EditCustomerNoteViewModelTests.swift
Labels: feature: order details, category: analytics

#4903 Shipping Labels: Fix tracking of packages selected state in purchase flow
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
Labels: type: bug, feature: shipping labels, category: analytics

#4896 Shipping Labels: Enable feature flag for International labels
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
Labels: feature: shipping labels

#4901 Product variations: Allow alternative type for regular price
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Responses/product-variations-load-all-alternative-types.json
  RELEASE-NOTES.txt
Labels: type: bug, feature: variation list

#4906 Order Editing: Add basic edit address form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details, status: feature-flagged

#4904 Shipping Labels: Add divider under list headers
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
Labels: feature: shipping labels, category: design

#4905 Shipping Labels: Display list of unactivated service packages on Add New Package > Service Package tab
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelPackagesResponse.swift
  Networking/NetworkingTests/Mapper/ShippingLabelPackagesMapperTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4912 Shipping Labels: Add empty state screen to Service Packages list
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EmptyState.swift
Labels: feature: shipping labels, status: feature-flagged

#4910 [Mobile Payments] [Several Readers Found] Add several readers found view controller
  WooCommerce/Classes/ViewRelated/CardPresentPayments/SeveralReadersFoundViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/SeveralReadersFoundViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/ActivitySpinnerAndLabelTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ActivitySpinnerAndLabelTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/BasicTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/LabelAndButtonTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabelAndButtonTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4918 Order Edit: Fix shipping address row background
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerInfoTableViewCell.xib
Labels: feature: order details

#4917 Order Editing: Adds Country Selector UI
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details

#4921 [Mobile Payments] Don't allow mobile payments in orders with subscriptions
  Networking/Networking/Model/Product/ProductType.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
Labels: type: enhancement, feature: mobile payments, status: feature-flagged

#4925 [What's New Component] Add WhatsNewOnWooCommerce feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
Labels: feature: app settings

#4908 [Whats New Component] Show What's New on app launch
  Storage/Storage/Model/Announcement.swift
  WooCommerce/Classes/ViewModels/WhatsNew/WhatsNewViewModel.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ReportList.swift
  WooCommerce/Classes/ViewRelated/WhatsNew/WhatsNewFactory.swift
  WooCommerce/Classes/ViewRelated/WhatsNew/WhatsNewHostingController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/WhatsNew/WhatsNewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/WhatsNew/WhatsNewFactoryTests.swift
  Yosemite/Yosemite/Actions/AnnouncementsAction.swift
  Yosemite/Yosemite/Stores/AnnouncementsStore.swift
  Yosemite/YosemiteTests/Stores/AnnouncementsStoreTests.swift
Labels: feature: app settings

#4927 [Mobile Payments] Set eligibility for In-Person Payments based also on currency: USD
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: mobile payments

#4930 [Mobile Payments] Make sure cancelling search gets a chance to actually cancel search
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
Labels: feature: mobile payments

#4919 [Mobile Payments] Modal UI fixes
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingToReader.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalFoundReader.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: type: bug, feature: mobile payments, status: feature-flagged

#4932 Order Editing: Add filter functionality to Country Selector UI
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/CountrySelector/CountrySelectorViewModelTests.swift
Labels: feature: order details

#4935 Merge 7.4 final into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#4843 Remove pass supression from alpha builds
  Podfile
  Podfile.lock
  Scripts/build-phases/generate-credentials.sh
  WooCommerce/Resources/Woo-Alpha.entitlements
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#4929 [What's New Component] Add What's New on WooCommerce to app settings
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: feature: app settings

#4811 Extract some app-agnostic UI tests helpers to XCUITestHelpers
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerceUITests.xcscheme
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceUITests/Screens/BaseScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginPasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/BetaFeaturesScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
  WooCommerce/WooCommerceUITests/Utils/XCTest+Extensions.swift
Labels: Testing

#4939 [Mobile Payments] Improved error modal
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalErrorTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmailTests.swift
Labels: type: enhancement, feature: mobile payments

#4916 Shipping Labels: Ensure Add New Package view retains state
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
Labels: feature: shipping labels, status: feature-flagged

#4941 Shipping Labels: Fix Back/Done buttons on Add New Package screen if store has no existing packages
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageList.swift
Labels: feature: shipping labels, status: feature-flagged

#4946 Order Editing: State Selector UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details

#4944 Order Editing: Add viewmodel to Edit Address Form
  Networking/Networking/Model/Address.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details, status: feature-flagged

#4949 Order Editing: Display supported countries on Country List Selector
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/CountrySelector/CountrySelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
Labels: feature: order details, status: feature-flagged

#4938 Shipping Labels: Update purchase form view model to support multi-package
  WooCommerce/Classes/Model/ShippingLabelPackageAttributes.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: feature: shipping labels

#4952 Order Editing: Fix issue where country state is persisted across navigations
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LazyNavigationLink.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LazyView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details

#4958 Order Editing: Show a loading placeholders while countries are being synced.
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorViewModel.swift
Labels: feature: order details

#4950 Shipping Labels: Create/activate new package on Add New Package screen
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelPackagesResponse.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Mapper/ShippingLabelPackagesMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddNewPackageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4963 Shipping Labels: Additional unit tests for package creation
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelPackagesResponse.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: feature: shipping labels

#4964 Shipping Labels: Display error when package creation fails
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/PackageCreationError+UI.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackageViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4965 Shipping Labels: Add Tracks analytics for package creation flow
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
Labels: feature: shipping labels, category: analytics, status: feature-flagged

#4967 Order Editing: Sync countries on EditAddressForm
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/CountrySelector/CountrySelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details

#4975 Tests: Add missing arguments to fix build failure
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: type: bug, category: unit tests

#4957 [Mobile Payments] Display connecting-to-reader failures
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingFailed.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalConnectingFailedTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
Labels: feature: mobile payments

#4969 Order Editing: Add save action on Edit Address form + refactor changes detection
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details, status: feature-flagged

#4945 Merge 7.5 code freeze into develop
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#4978 Merge 7.5 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#4959 Shipping Labels: New packages form to support multiple packages
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackateItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageNumberRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#4961 Shipping Labels: Render package item for new package details screen (supporting multiple packages)
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackateItemViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackageItemViewModelTests.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#4940 [Mobile Payments] Adjust modal dimensions for iPads
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: type: enhancement, feature: mobile payments

#4979 Tests: Add missing parameter to fix build tests failure
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackageItemViewModelTests.swift
Labels: type: bug, category: unit tests

#4968 [Mobile Payments] [Several Readers Found] Add top and bottom constraints to cells
  WooCommerce/Classes/ViewRelated/ReusableViews/ActivitySpinnerAndLabelTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/LabelAndButtonTableViewCell.xib
Labels: feature: mobile payments

#4966 [Mobile Payments] [Several Readers Found] Fix dark mode button color
  WooCommerce/Classes/ViewRelated/ReusableViews/LabelAndButtonTableViewCell.swift
Labels: feature: mobile payments

#4931 [Mobile Payments] [Several Readers Found] Integrate choose-a-reader list modal
  WooCommerce/Classes/Extensions/Array+Helpers.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/SeveralReadersFoundViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ActivitySpinnerAndLabelTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ActivitySpinnerAndLabelTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/LabelAndButtonTableViewCell.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsSearchingViewModelTests.swift
Labels: feature: mobile payments

#4982 Remove double order_status_change event when completing an order
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: type: bug, category: analytics

#4962 Shipping Labels: New package details selection
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackageItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackageItemViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#4980 Order Editing: Select & update country when editing Shipping Address
  WooCommerce/Classes/Tools/Binding.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/CountrySelector/CountrySelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details

#4981 Order Editing: Fixes auto pop issue when selecting a country
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
Labels: feature: order details

#4973 Shipping Labels: Fix incorrect phone validation for non-US country and add instant local validation on value changes
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
Labels: type: bug, feature: shipping labels

#4970 Shipping Labels: New package details validation
  WooCommerce/Classes/Extensions/NumberFormatter+Localized.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackageItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageNumberRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/NumberFormatter+LocalizedTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackageItemViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#4989 Add/Edit Products: product image stops loading on product image upload error
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: bug, feature: add/edit products

#4988 Issue 4854: Order Details titles should be title case
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: type: bug, feature: order details

#4993 Adds Store picker error modal UI
  WooCommerce/Classes/Authentication/Epilogue/StorePickerError.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: app settings

#4994 Adds closures to respond to action buttons
  WooCommerce/Classes/Authentication/Epilogue/StorePickerError.swift
Labels: feature: app settings

#5001 4890 Center empty state in space below top banner
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.xib
Labels: type: bug, category: design

#4998 Add Events for "Jetpack Required" Screen
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NoSecureConnectionErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPAccountViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewModel.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/ULErrorViewControllerTests.swift
Labels: feature: login, category: analytics

#4999 Standardize Spacing in WooAnalyticsStat
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
Labels: category: architecture

#5004 Accessibility labels on edit icons in Order Details
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerInfoTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerNoteTableViewCell.swift
Labels: type: bug, category: accessibility

#4985 [Mobile Payments] Disable disconnect button and show spinner while disconnecting from reader
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.xib
Labels: feature: mobile payments

#4983 [Mobile Payments] [Several Readers Found] Remove several-readers-found feature flag and launch for all users
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
Labels: feature: mobile payments

#4986 Add new service for observing connectivity status
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Connectivity/ConnectivityObserver.swift
  WooCommerce/Classes/Tools/Connectivity/DefaultConnectivityObserver.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: support

#5002 Shipping Labels: fix decimal values in different countries in custom package creation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageFormViewModel.swift
Labels: type: bug, feature: shipping labels

#4976 Shipping Labels: Enable feature flag for adding new packages
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageFormViewModel.swift
Labels: feature: shipping labels

#5006 Show StorePickerError as a modal.
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerError.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: feature: app settings

#5009 StorePickerError: Landscape & Big Fonts support
  WooCommerce/Classes/Authentication/Epilogue/StorePickerError.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/View Modifiers/View+ScrollModifiers.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ModalHostingPresentationController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: app settings

#4996 [Mobile Payments] Remove use of attributed string for learn more link
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.xib
Labels: feature: mobile payments

#4992 [Mobile Payments] Add display of reader software version to connected view
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.xib
  WooCommerce/WooCommerceTests/Mocks/MockCardReader.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
Labels: feature: mobile payments

#5010 Add unit tests for Connectivity Service
  WooCommerce/Classes/Tools/Connectivity/DefaultConnectivityObserver.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/DefaultConnectivityObserver.swift
Labels: type: technical debt

#5011 Add throttling of orders sync on every viewWillAppear
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: order list, category: performance

#5008 [Mobile Payments] [WIP] Disable disconnect button while checking for reader software update
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
Labels: feature: mobile payments

#5013 Merge 7.5 final into develop
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5025 Merge 7.5 final into trunk
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5019 Billing information accessibility improvements
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/Cells/BillingAddressTableViewCell.swift
Labels: type: enhancement, feature: order details, category: accessibility

#5029 Merge 7.6 code freeze into develop
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5034 3722 Fix crash on media asset accessibilityLabel creation
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking/Model/Media/Media.swift
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Responses/media-library.json
  WooCommerce/Classes/ViewRelated/Products/Media/Media+WPMediaAsset.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
  Yosemite/YosemiteTests/Tools/Media/Media+MediaTypeTests.swift
  Yosemite/YosemiteTests/Tools/Media/Media+ProductImageTests.swift
Labels: category: accessibility, type: crash, feature: add/edit products

#5000 Offline banners for views with cached data
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UIViewController+Connectivity.swift
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/Tools/Connectivity/ConnectivityObserver.swift
  WooCommerce/Classes/Tools/Connectivity/DefaultConnectivityObserver.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/OfflineBannerView.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Tools/DefaultConnectivityObserver.swift
Labels: type: enhancement, feature: support

#5026 Shipping Labels: Add Move button and action sheet for moving order items to different package
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ItemToFulfillRow.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelSinglePackageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#4974 [Mobile Payments] Firmware updates for StripeTerminal 2.0
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderSoftwareUpdateState.swift
  Hardware/Hardware/CardReader/FallibleCancelable.swift
  Hardware/Hardware/CardReader/StripeCardReader/Cancelable+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/Extensions/Comparable+Woo.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateProgress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UpdateProgressImage.swift
  WooCommerce/Resources/Images.xcassets/card-reader-update-progress-arrow.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-update-progress-arrow.imageset/woo-update-progress-arrow.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-update-progress-background.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-update-progress-background.imageset/woo-update-progress-background.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-update-progress-checkmark.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-update-progress-checkmark.imageset/woo-update-progress-checkmark.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments

#5020 Order Editing: Make address form modal
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details, status: feature-flagged

#5021 Order Editing: Add remote action to update shipping address
  Networking/Networking/Model/Address.swift
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details, status: feature-flagged

#5035 Select default value for paper size in Shipping Label print screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelViewController.swift
Labels: type: enhancement, feature: shipping labels

#5038 [Mobile Payments] Bump Stripe Terminal to 2.2
  Podfile
  Podfile.lock
Labels: feature: mobile payments

#5045 Skip broken tests when running on Rosetta
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Tools/Media/Media+MediaTypeTests.swift
  Yosemite/YosemiteTests/Tools/Media/MediaTypeTests.swift
  Yosemite/YosemiteTests/Tools/Media/URL+MediaTests.swift
  Yosemite/YosemiteTests/Tools/RosettaTestingHelper.swift
Labels: type: task, category: unit tests

#5046 4851 Wrap multiple lines on package details row
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: type: bug, feature: shipping labels, category: design

#5005 Add a lane to register new device and update certs and profiles
  fastlane/Fastfile
Labels: category: tooling

#5047 Order Editing: Add State Selection Support
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/CountrySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/StateSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
Labels: feature: order details

#5057 Merge 7.6 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#5033 Enable push notifications for all stores behind a feature flag
  Networking/Networking/Remote/DevicesRemote.swift
  Networking/NetworkingTests/Extensions/MockNetwork+Path.swift
  Networking/NetworkingTests/Remote/DevicesRemoteTests.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  Yosemite/Yosemite/Actions/NotificationAction.swift
  Yosemite/Yosemite/Stores/NotificationStore.swift
  Yosemite/YosemiteTests/Stores/NotificationStoreTests.swift
Labels: feature: notifications

#5044 Show review details after tapping on a new review push notification from another store
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/ProductReviewFromNoteParcelFactory.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Notifications/ReviewsCoordinatorTests.swift
Labels: feature: notifications, feature: review details

#5049 Polish GenerateCredentials aggregate settings
  Scripts/build-phases/generate-credentials-inputs.xcfilelist
  Scripts/build-phases/generate-credentials-outputs.xcfilelist
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#5050 Shipping Labels: New model for package item to prepare for moving items between packages
  WooCommerce/Classes/Model/ShippingLabelPackageAttributes.swift
  WooCommerce/Classes/Model/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ItemToFulfillRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndSubtitleRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelSinglePackageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: feature: shipping labels

#5048 Establish foundation framework for UI tests components
  WooCommerce/UITestsFoundation/BaseScreen.swift
  WooCommerce/UITestsFoundation/UITestsFoundation.h
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceUITests/Screens/Login/GetStartedScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LinkOrPasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginCheckMagicLinkScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginEmailScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginEpilogueScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginPasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginSiteAddressScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginUsernamePasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Login/PasswordScreen.swift
  WooCommerce/WooCommerceUITests/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/WooCommerceUITests/Screens/MyStore/PeriodStatsTable.swift
  WooCommerce/WooCommerceUITests/Screens/Orders/OrderSearchScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Orders/OrdersScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Products/ProductsScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Products/SingleProductScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Reviews/ReviewsScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Reviews/SingleReviewScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/BetaFeaturesScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
  WooCommerce/WooCommerceUITests/Screens/TabNavComponent.swift
Labels: category: ui tests

#4741 Adds "Draft" label below the image on the product editing screen
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TextViewTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: product details, feature: add/edit products

#5027 [Mobile Payments] Make optional updates work with the new UI
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateProgress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UpdateViewController/UpdateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UpdateViewController/UpdateViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Mocks/MockFallibleCancelable.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: status: do not merge, feature: mobile payments

#5054 Order Editing: Add billing address handling
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details, status: feature-flagged

#5065 Shipping Labels: Move item to new package and existing packages
  WooCommerce/Classes/Model/ShippingLabelPackageAttributes.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackageViewModel.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#5055 5022 Fix VoiceOver loop on Order Details screen
  WooCommerce/Classes/ViewRelated/ReusableViews/LedgerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LedgerTableViewCell.xib
Labels: type: bug, category: accessibility

#5066 Shipping Labels: enable feature flag for adding new payment methods
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
Labels: feature: shipping labels

#5070 Shipping Labels: Fix validation for Package Details screen in multi-package cases
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
Labels: type: bug, feature: shipping labels, status: feature-flagged

#5067 Order Editing: Adds toggle to copy Shipping/Billing Address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details

#5069 Order Editing: Show success & error notices on Edit Address Form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details

#5068 [Mobile Payments] Payments Unavailable - Learn More - Replace AttributedText with Link
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsLearnMore.swift
Labels: feature: mobile payments

#5074 Shipping Labels: Update the print shipping label endpoint to accept multiple labels
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelCoordinator.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels

#5072 Shipping Labels: Fix customs form issues for multiple packages
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelCustomsForm.swift
  WooCommerce/Classes/Model/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormInput.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Customs/ShippingLabelCustomsFormListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#5058 Add guard statement to not display empty section
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
Labels: type: bug, feature: order details

#5076 Order Editing: Add "Discard Changes" warning
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
Labels: feature: order details

#5030 [Mobile Payments] Launch the feature, ignore the beta flag
  Networking/Networking/Model/WCPayAccount.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
Labels: feature: mobile payments

#5079 Shipping Labels: Update package details description for multi-package
  WooCommerce/Classes/Tools/WeightFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#5073 [Mobile Payments] Show error when mandatory update fails because of low battery
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderEvent.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/CardReaderSoftwareUpdate.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderSofware+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailedLowBattery.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Resources/Images.xcassets/card-reader-low-battery.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-low-battery.imageset/card-reader-low-battery-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-low-battery.imageset/card-reader-low-battery-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: type: task, feature: mobile payments

#5082 Shipping Labels: List of selected rates in purchase form to support multiple packages
  WooCommerce/Classes/Model/ShippingLabelSelectedRate.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
Labels: type: task, feature: shipping labels

#5085 3722 Update to WPMediaPicker beta with crash fix
  Podfile
  Podfile.lock
Labels: category: accessibility, type: crash

#5056 Add Yosemite support to Fakes.Framework
  CodeGeneration/Sourcery/Fakes/Fakes.swifttemplate
  CodeGeneration/Sourcery/Fakes/Networking-Fakes.yaml
  CodeGeneration/Sourcery/Fakes/Yosemite-Fakes.yaml
  Fakes/Fakes.xcodeproj/project.pbxproj
  Fakes/Fakes/Networking.generated.swift
  Fakes/Fakes/Yosemite.generated.swift
  Podfile
  Podfile.lock
  Rakefile
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
  docs/fakeable.md
Labels: category: tooling

#5086 Order Edit: Better email handling
  Networking/Networking/Model/Address.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details

#5089 Order Editing: Edit Address form analytics
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditAddressFormViewModelTests.swift
Labels: feature: order details, category: analytics

#5094 Shipping Labels: update the parsing logic of Carriers and Rates for managing multi-packages
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Mapper/ShippingLabelCarriersAndRatesMapper.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarriersAndRates.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelPackageSelected.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelCarriersViewModelTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: type: task, feature: shipping labels

#5075 Add order number to receipt
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntent+Stripe.swift
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  Hardware/HardwareTests/PaymentIntentMetadataTests.swift
  Hardware/SampleReceiptPrinter/SampleContent.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockPaymentIntent.swift
  Yosemite/YosemiteTests/Model/Extensions/PaymentIntent+ReceiptParametersTests.swift
Labels: feature: mobile payments
