Repository woocommerce/woocommerce-ios, pull requests merged in 2021-12, with the labels that each got.

#5556 Jetpack CP: log JCP properties in `site_picker_continue_tapped` event
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Site.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Mapper/AccountMapperTests.swift
  Networking/NetworkingTests/Responses/sites.json
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Site+ReadOnlyConvertible.swift
Labels: category: analytics

#5564 Fix `me/sites` expected request parameters for UI test failures in `develop`
  WooCommerce/WooCommerceUITests/Mocks/mappings/me/rest_v11_me_sites.json
Labels: category: ui tests

#5566 Fix flaky tests in `develop` to reduce CI time
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddOrderCoordinatorTests.swift
Labels: category: unit tests

#5563 Fixes autofocus iOS 14 crash
  WooCommerce/Classes/View Modifiers/View+AutofocusTextModifier.swift
Labels: type: crash, priority: critical

#5542 [Mobile Payments] Adds variations to the receipts
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/ReceiptLineItem.swift
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
Labels: feature: mobile payments

#5515 [Mobile Payments] Present incomplete store address error to user
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments

#5547 Move UnderlyingError to its own file
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
Labels: type: task, feature: mobile payments

#5565 Jetpack CP: Check for Jetpack plugin status before installing and add retry functionality
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModelTests.swift
Labels: type: task

#5579 Jetpack CP: track `feature_jetpack_benefits_banner` and `jetpack_install_button_tapped` events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
Labels: category: analytics

#5582 Merge 8.1 beta2 into develop
  WooCommerce/Classes/View Modifiers/View+AutofocusTextModifier.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
Labels: Releases

#5578 Fall back to presenting Zendesk view modally when the source view controller doesn't belong to any navigation stack
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
Labels: type: enhancement

#5559 Order Creation: Add status section
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderStatusSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5573 [Mobile Payments] Make software version label multiline
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.xib
Labels: feature: mobile payments

#5575 [Mobile Payments] Pass a fresh print info to each receipt print job to avoid a crash on the 2nd job
  Hardware/Hardware/Printer/AirPrintReceipt/AirPrintReceiptPrinterService.swift
  RELEASE-NOTES.txt
Labels: feature: mobile payments

#5552 5548 Provide admin link on incomplete address card reader connection error
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: type: enhancement, feature: mobile payments

#5560 5320 Show card reader connection postal code error
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingFailedUpdatePostalCode.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: type: enhancement, feature: mobile payments

#5570 [Mobile Payments] PR changes from card reader connection address/postcode errors
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: type: task, feature: mobile payments

#5562 [Mobile Payments] Receipts - Ensure receipt is fit to the page properly
  Hardware/Hardware/Printer/AirPrintReceipt/AirPrintReceiptPrinterService.swift
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/ReceiptContent.swift
Labels: feature: mobile payments

#5581 Simple Payments: Integrate with Payments
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmailTests.swift
Labels: feature: mobile payments, feature: order creation

#5572 [Mobile Payments] Better support for VoiceOver in IPP modals
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBluetoothRequired.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingFailed.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingFailedUpdatePostalCode.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingToReader.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalDisplayMessage.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalFoundReader.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalNonRetryableError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalProcessing.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningFailed.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningForReader.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailed.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailedLowBattery.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailedNonRetryable.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateProgress.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentRetryableError.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewControllerTests.swift
Labels: type: bug, category: accessibility, feature: mobile payments

#5584 Jetpack CP: log how long it takes to fetch JCP sites
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: category: analytics

#5608 Merge 8.1 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#5607 Jetpack CP: fix Jetpack empty visitor stats UI not shown for JCP sites
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: type: bug

#5592 Fix retain cycles in OrderStatusListViewController
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details, type: technical debt

#5586 [Mobile Payments] Use of PersonNameComponentsFormatter to format names
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
Labels: feature: mobile payments

#5594 5325 Refresh version info after reader update
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
Labels: type: bug, feature: mobile payments

#5597 Simple Payments: Present notice after completing flow
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5588 Order Creation: Add view model to display product data in ProductRow
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProduct.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5614 Order Creation: Connect status picker
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/BottomSheetOrderType.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5583 Updating mocks for Orders, Products and Reviews screens as preparation for UI tests
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/LoginFlow.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_day.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_hour.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_year.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_any.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_processing.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_totals.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/payments/accounts.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_2123.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_2129.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_2130.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_2131.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_2132.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reports/reports_orders_totals-processing.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reports/reports_orders_totals.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reports/reports_orders_totals_processing.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_review_6155.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6154.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6156.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6161.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6162.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6163.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6164.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_all.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/system_status/status.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/sites/site_info_wordpress_com.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/sites/sites_posts_password.json
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: category: ui tests

#5618 Simple Payments: Fix delay when presenting IPP alerts
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
Labels: feature: order creation

#5613 [Mobile Payments] Move logic to open WP-Settings from the address error viewmodel to its caller
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: type: task, feature: mobile payments

#5625 Simple Payments: Don't send empty email when updating simple payment order
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5611 Jetpack CP: Update Networking and Storage with adminURL
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Site.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Mapper/AccountMapperTests.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Site+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 59.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Site+ReadOnlyConvertible.swift
Labels: type: task

#5620 Inline single usage of `OrdersScreen` visibility introspection
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
Labels: category: ui tests

#5631 Fix wrapping title of the extra info button in the error screens
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
Labels: feature: login

#5628 Analytics: Integrate ExPlat into Experiments framework
  Experiments/Experiments.xcodeproj/project.pbxproj
  Experiments/Experiments/ABTest.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  docs/EXPERIMENTS.md
Labels: category: analytics

#5629 Simple Payments: Prevent invalid amounts
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
Labels: feature: order creation

#5632 Add admin_url to `me/sites` response mock for UI tests
  WooCommerce/WooCommerceUITests/Mocks/mappings/me/rest_v11_me_sites.json
Labels: category: ui tests

#5626 Order Creation: Navigate to order details after creation
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: feature: order creation

#5627 Add tooltip that refunding fees is currently not supported
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: feature: refunds

#5589 Order Creation: Load stored products (real data) in Add Product screen
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProduct.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5587 Fix typo in Enter Store Address screen
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
Labels: feature: login

#5642 [Mobile Payments ] Fix layout of card reader settings when running on macOS
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
Labels: type: bug, feature: mobile payments

#5633 Simple Payments: Add Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsNoteViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: category: analytics, feature: order creation

#5635 Simple Payments: Release Feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: order creation

#5648 Simple Payments: Rename "Order Note" to "Customer Provided Note"
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
Labels: feature: order creation

#5649 Products: Navigate to the variation detail after generating a new variation
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/GenerateVariationUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/GenerateVariationUseCaseTests.swift
Labels: feature: add/edit products, feature: variation details

#5643 Localize the quotation marks
  WooCommerce/Classes/Extensions/String+Helpers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
Labels: category: i18n

#5664 Merge 8.1 finalization into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5670 Order Creation: Add status mapping to order creation request
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: status: feature-flagged, feature: order creation

#5671 Merge 8.2 code freeze into develop
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#5669 Order Creation: Sync product list from remote in Add Product screen
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5675 Order Creation: Add product to order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/Products/Product+OrderItem.swift
  Yosemite/YosemiteTests/Tools/Products/Product+OrderItemTests.swift
Labels: status: feature-flagged, feature: order creation

#5673 System Status Report: Update Networking to separate SystemPluginMapper from SystemStatusMapper
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/SystemPluginMapper.swift
  Networking/Networking/Mapper/SystemStatusMapper.swift
  Networking/Networking/Model/SystemStatus.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Environment.swift
  Networking/Networking/Remote/SystemStatusRemote.swift
  Networking/NetworkingTests/Mapper/SystemPluginMapperTests.swift
  Networking/NetworkingTests/Responses/systemStatus.json
  Networking/NetworkingTests/Responses/systemStatusWithPluginsOnly.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/system_status/status.json
Labels: type: task

#5672 Product images: fix crash when tapping on an image while another image is pending upload
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
Labels: type: crash, feature: add/edit products

#5680 Fix UI Test faillure
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/system_status/status.json
Labels: category: ui tests

#5678 System Status Report: Update System Status model and remote
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/SystemStatus.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Database.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Page.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+PostTypeCount.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Security.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Settings.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Theme.swift
  Networking/Networking/Remote/SystemStatusRemote.swift
  Networking/NetworkingTests/Mapper/SystemStatusMapperTests.swift
  Networking/NetworkingTests/Remote/SystemStatusRemoteTests.swift
Labels: feature: support

#5690 System Status Report: Fix parsing for drop-in and must-use plugins
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/SystemStatus.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+DropinMustUsePlugin.swift
  Networking/NetworkingTests/Mapper/SystemStatusMapperTests.swift
  Networking/NetworkingTests/Responses/systemStatus.json
Labels: feature: support

#5688 System Status Report: Update Yosemite layer with action to fetch system status
  Yosemite/Yosemite/Actions/SystemStatusAction.swift
  Yosemite/Yosemite/Stores/SystemStatusStore.swift
  Yosemite/YosemiteTests/Stores/SystemStatusStoreTests.swift
Labels: feature: support

#5686 System Status Report: Add new item in Help screen for System Status Report
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
Labels: feature: support

#5681 Simple Payments: Update "Back To Order" button title
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmailTests.swift
Labels: feature: order creation

#5687 Simple Payments: Fix "Done" button when committing note
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsNoteViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsNoteViewModelTests.swift
Labels: feature: order creation

#5689 Simple Payments: Cancel note when dismissing it via a drag gesture
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
Labels: feature: order creation

#5684 Simple Payments: Enable Simple Payments Feature to all merchants
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddOrderCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: feature: order creation

#5692 Order Creation: Load real product image in ProductRow
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Product+Media.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5691 System Status Report: Add UI for system status report screen
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SystemStatusReport/SystemStatusReportView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SystemStatusReport/SystemStatusReportViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/SystemStatusReportViewModelTests.swift
Labels: feature: support

#5679 Product SKU scanner: handle camera permission with a coordinator
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CaptureDevicePermissionChecker.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ProductSKUBarcodeScannerCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCaptureDevicePermissionChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/SKU Scanner/ProductSKUBarcodeScannerCoordinatorTests.swift
Labels: feature: add/edit products

#5693 System Status Report: Format the report to match with Core's
  Networking/Networking/Model/SystemStatus.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Database.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+DropinMustUsePlugin.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Environment.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Page.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+PostTypeCount.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Security.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Settings.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Theme.swift
  Networking/NetworkingTests/Mapper/SystemStatusMapperTests.swift
  WooCommerce/Classes/Extensions/Int64+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SystemStatusReport/SystemStatusReportViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: support

#5663 Support Order Fee Refunds
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/OrderFeeLine.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundFeesDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundFeesDetailsTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundFeesDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundCreationUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundFeesCalculationUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundCreationUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundFeesDetailsViewModelTests.swift
Labels: feature: refunds

#5683 Order Creation: Update quantity of products in the new order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5701 Order Creation: Maintain stepper size when product quantity changes
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
Labels: status: feature-flagged, feature: order creation

#5699 Order Creation: Scroll to bottom of product list after adding a product to order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
Labels: status: feature-flagged, feature: order creation

#5674 Add UI Test - Verify Products list screen
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/SingleProductScreen.swift
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/LoginFlow.swift
  WooCommerce/WooCommerceUITests/Flows/MockedDataReader.swift
  WooCommerce/WooCommerceUITests/Tests/ProductsTests.swift
Labels: category: ui tests

#5696 System Status Report: Add copy feature and tracks
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SystemStatusReport/SystemStatusReportView.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: support

#5653 Remove use of accidentally called 3rd-party SDK helpers and types
  Hardware/Hardware/CardReader/StripeCardReader/DeclineReason+Stripe.swift
  WooCommerce/Classes/Extensions/UIView+SafeAreaConstraints.swift
  WooCommerce/Classes/Extensions/UIView+SubviewsAxis.swift
  WooCommerce/Classes/Extensions/UIView+SuperviewConstraints.swift
  WooCommerce/Classes/Tools/SiteAddress.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: product list, feature: send feedback, feature: shipping labels

#5694 Analytics for product SKU input scanner
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: feature: add/edit products, category: analytics

#5568 Jetpack CP: Error handling for install Jetpack
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SafariSheet.swift
Labels: type: task

#5704 Order Creation: Add customer section with action button
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
Labels: status: feature-flagged, feature: order creation

#5705 [Mobile Payments] Add feature flag for In-Person Payments with the Stripe Payment Gateway extension
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: mobile payments

#5709 Avoid production use of a SwiftUIPreview Sample helper method, which caused a build error when making release builds
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductListMultiSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Review Order/ReviewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ReadonlyProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/GenerateVariationUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Search/Product/ProductListMultiSelectorSearchUICommandTests.swift
Labels: type: bug, feature: product list

#5711 Simple Payments: Trim email before updating an order
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5715 Reset app badge count (store order category) when visiting the orders tab
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: bug

#5721 Order Creation: Fix Simple Payments label on create order bottom sheet
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/BottomSheetOrderType.swift
Labels: status: feature-flagged, feature: order creation

#5707 [Mobile Payments] Pass reader model when creating a payment intent
  Hardware/Hardware/CardReader/CardReaderType.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
Labels: feature: mobile payments, category: analytics

#5710 Order Creation: Remove product from order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5722 Merge 8.1.1 hotfix into 8.2 release branch
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: Releases

#5712 Order Creation: Add order items to order creation API request
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: status: feature-flagged, feature: order creation

#5716 Jetpack CP: Add auto-retry for checking Jetpack connection and update copies for error state
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallSteps.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModelTests.swift
Labels: type: task

#5730 [My Store Updates] Create feature flag and show duplicated dashboard UI view controller when feature flag is enabled
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
Labels: status: feature-flagged

#5732 Jetpack CP: Add tracks for Jetpack Install flow
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
Labels: type: task, category: analytics

#5666 Add "Analytics" in the hub
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: feature: stats, status: feature-flagged

#5617 Hub Menu: design and added options to the tab menu
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsView.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Resources/Images.xcassets/icon-store.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-store.imageset/icon-store.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: app settings, feature: review list, feature: review details

#5726 Simple Payments: Remember the state of the taxes toggle
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: order creation

#5488 Removes unused ProductListViewController storyboard
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/AggregatedProductListViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Orders.storyboard
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt, feature: product list

#5746 Merge 8.2.0.1 & 8.1.1 to develop
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: category: releases, Releases

#5700 Update release-toolkit to 2.3.0
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#5619 Update default branch to trunk
  .circleci/config.yml
  Gemfile.lock
  docs/UI-TESTS.md
  docs/app-local-settings.md
  docs/creating-core-data-model-versions.md
  docs/fakeable.md
  fastlane/Fastfile
Labels: category: tooling

#5750 [Mobile Payments] 5706 Match reader names with Android
  Hardware/Hardware/CardReader/CardReaderType.swift
Labels: feature: mobile payments, category: analytics

#5740 Fix duplicate build file warning in `develop`
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt

#5749 Hub Menu: display user's avatar in the Navigation Bar
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: type: task, feature: app settings

#5754 Coupon Management: Merge feature branch to trunk
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Coupon+Decoder.swift
  Networking/Networking/Mapper/CouponListMapper.swift
  Networking/Networking/Mapper/CouponMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Coupon.swift
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Mapper/CouponListMapperTests.swift
  Networking/NetworkingTests/Mapper/CouponMapperTests.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  Networking/NetworkingTests/Responses/coupon.json
  Networking/NetworkingTests/Responses/coupons-all.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Coupon+CoreDataClass.swift
  Storage/Storage/Model/Coupon+CoreDataProperties.swift
  Storage/Storage/Model/ProductCategory+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 60.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/Tools/SyncCoordinator.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementListViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/MockSyncingCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponManagementListViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Coupon+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: feature: coupons

#5714 Add accessibilityIds and refactor to match WPiOS UI test
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/ProductReviewTableViewCell.swift
  WooCommerce/UITestsFoundation/ProductDataStructs.swift
  WooCommerce/UITestsFoundation/Screens/Login/PrologueScreen.swift
  WooCommerce/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrderSearchScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/SingleProductScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/MockDataReader.swift
  WooCommerce/WooCommerceUITests/Tests/ProductsTests.swift
Labels: category: ui tests

#5761 Correction for Yosemite documentation
  docs/YOSEMITE.md
Labels: type: documentation

#5735 Simple Payments: Parse order_key from the remote source
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Responses/broken-order.json
  Networking/NetworkingTests/Responses/broken-orders.json
  Networking/NetworkingTests/Responses/order-fully-refunded.json
  Networking/NetworkingTests/Responses/order-with-faulty-attributes.json
  Networking/NetworkingTests/Responses/order-with-line-item-attributes-before-API-support.json
  Networking/NetworkingTests/Responses/order.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 60.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_any.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_processing.json
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: feature: order creation

#5736 Simple Payments: Add Payments Link Builder
  WooCommerce/Classes/Tools/PaymentLinkBuilder.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/PaymentLinkBuilderTests.swift
Labels: feature: order creation

#5751 Simple Payments: Fetch Payments Page from the Store Settings
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/SiteSettingGroup.swift
  Networking/Networking/Remote/SiteSettingsRemote.swift
  Networking/NetworkingTests/Remote/SiteSettingsRemoteTests.swift
  Networking/NetworkingTests/Responses/settings-advanced.json
  WooCommerce/Classes/Tools/PaymentLinkBuilder.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Tools/PaymentLinkBuilderTests.swift
  Yosemite/Yosemite/Actions/SettingAction.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: feature: order creation

#5770 Simple Payments: Show payment link row
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#5772 UI Test: Fix failed Run Mock step due to invalid JSON
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_any.json
Labels: category: ui tests

#5769 Remove quote icon from refund details
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsDataSource.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: category: i18n

#5756 Order Creation: Refactor address form viewmodel
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditOrderAddressFormViewModelTests.swift
Labels: feature: order details

#5759 Order Creation: Add API mapping for addresses on order creation
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: status: feature-flagged, feature: order creation

#5695 Product SKU input scanner release preparation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Resources/Info.plist
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: add/edit products

#5757 Order Creation: Connect address form to new order view
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: status: feature-flagged, feature: order creation

#5758 Order Creation: Show customer data in the new order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5738 [My Store updates] Update bar chart to line chart
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsChartCircleMarker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, status: feature-flagged

#5775 Fixes UI Tests on trunk
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
Labels: category: ui tests

#5774 [My Store Updates] Update top performers limit from 3 to 5
  Networking/Networking/Remote/LeaderboardsRemote.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: type: enhancement

#5776 Add UI test to validate Reviews screen
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/UITestsFoundation/ProductDataStructs.swift
  WooCommerce/UITestsFoundation/ReviewDataStructs.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/SingleProductScreen.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/ReviewsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/SingleReviewScreen.swift
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/MockDataReader.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6155.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_6163.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/reviews/products_reviews_all.json
  WooCommerce/WooCommerceUITests/Tests/ProductsTests.swift
  WooCommerce/WooCommerceUITests/Tests/ReviewsTests.swift
Labels: category: ui tests

#5782 Simple Payments: Accessibility enhancements
  WooCommerce/Classes/Environment Keys/SafeAreaInsetsKey.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/BottomSheetOrderType.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation
