Repository woocommerce/woocommerce-ios, pull requests merged in 2021-10, with the labels that each got.

#5093 Shipping Labels: Update description for customs form row when customs form is completed
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
Labels: type: bug, feature: shipping labels

#5103 Shipping Labels: Disable Done button on Package Details screen when no default package is set
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
Labels: feature: shipping labels, status: feature-flagged

#5096 Shipping Labels: Update print label screen to support multiple purchased labels
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/PrintShippingLabelCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/PrintShippingLabelViewModelTests.swift
Labels: feature: shipping labels

#5098 Shipping Labels: Update print customs form message for multiple packages and forms
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Customs Form/PrintCustomsFormsView.swift
Labels: feature: shipping labels

#5107 Shipping Labels: Fix flaky test for package details view model
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: category: unit tests, feature: shipping labels

#5105 Shipping Labels: Update logo for DHL
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierRowViewModel.swift
  WooCommerce/Resources/Images.xcassets/shipping-label-dhl-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-dhl-logo.imageset/dhl.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-fedex-logo.imageset/FedEx logo.pdf
Labels: type: bug, feature: shipping labels

#5099 Add taxes to receipts
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  Hardware/Hardware/Printer/ReceiptContent.swift
  Hardware/Hardware/Printer/ReceiptLineItem.swift
  Hardware/Hardware/Printer/ReceiptTotalLine.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockPaymentIntent.swift
  Yosemite/YosemiteTests/Model/Extensions/PaymentIntent+ReceiptParametersTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#5095 Shipping Labels: Avoid reloading address table view when not neccessary
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
Labels: type: bug, feature: shipping labels

#5104 Shipping Labels: Only show option for printing customs form if form URL is not empty
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: type: bug, feature: shipping labels

#5097 Order Edit: Remove feature flag
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
Labels: feature: order details

#5101 Order Detail: Fix bug when searching for countries
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
Labels: feature: order details

#5118 Merge 7.6 final into develop
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5109 [Mobile Payments] Handle software update errors for all cases
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/CardReaderSoftwareUpdateState.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailed.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailedNonRetryable.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: status: do not merge, feature: mobile payments

#5102 Order Detail: Allow state to be entered by text when needed
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditAddressFormViewModel.swift
Labels: feature: order details

#5090 Show Variations screen on tapping "Add price to your variations..." warning row
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: feature: product details, feature: variation details

#4997 Don't request line_items in the order list
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
Labels: type: enhancement, category: performance

#5087 [Mobile Payments] [SDK 2] Add fetching actual location
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WCPayReaderLocationMapper.swift
  Networking/Networking/Model/WCPayReaderLocation.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/wcpay-location-error.json
  Networking/NetworkingTests/Responses/wcpay-location.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Payments/WCPayReaderLocation+ReaderLocation.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments

#5130 [Mobile Payments] Add in-person payments to release notes
  RELEASE-NOTES.txt
Labels: feature: mobile payments

#5122 Shipping Labels: Update order summary to display retail rate for each package when there are multiple packages
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
Labels: type: task, feature: shipping labels, status: feature-flagged

#5042 Convert `MyStoreScreen` to be a `ScreenObject` subclass
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/UITestsFoundation/ScreenObject+Extension.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceUITests/Screens/Login/LoginEpilogueScreen.swift
  WooCommerce/WooCommerceUITests/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
  WooCommerce/WooCommerceUITests/Screens/TabNavComponent.swift
Labels: category: ui tests

#5080 Move all screens to UITestsFoundation
  WooCommerce/UITestsFoundation/Screens/Login/GetStartedScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LinkOrPasswordScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginCheckMagicLinkScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginEmailScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginPasswordScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginSiteAddressScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/PasswordScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/PrologueScreen.swift
  WooCommerce/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/UITestsFoundation/Screens/MyStore/PeriodStatsTable.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrderSearchScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/SingleProductScreen.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/ReviewsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/SingleReviewScreen.swift
  WooCommerce/UITestsFoundation/Screens/Settings/BetaFeaturesScreen.swift
  WooCommerce/UITestsFoundation/Screens/Settings/SettingsScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: category: ui tests

#5134 Merge 7.7 code freeze into develop
  Gemfile.lock
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#5092 Remove some unused code from UI tests
  WooCommerce/UITestsFoundation/Screens/MyStore/PeriodStatsTable.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrderSearchScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/SingleReviewScreen.swift
  WooCommerce/UITestsFoundation/Screens/Settings/BetaFeaturesScreen.swift
Labels: category: ui tests

#5136 Shipping Labels: Fix flaky customs form list test
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Customs/ShippingLabelCustomsFormListViewModelTests.swift
Labels: category: unit tests, feature: shipping labels

#5127 [Mobile Payments] Add coupons and shipping to receipts
  Hardware/Hardware/Printer/ReceiptContent.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#5126 [Mobile Payments] [SDK 2.0] Prevent errors when canceling updates
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
Labels: type: bug, feature: mobile payments, status: feature-flagged

#5128 Order Editing: Rename EditAddress types
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditOrderAddressFormViewModelTests.swift
Labels: feature: order details, type: technical debt

#5132 Order Editing: Update Country/State selected style
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ItemDetails/ShippingLabelCustomsFormItemDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormInput.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: feature: order details

#5135 Use Fakeable and Copiable for `ProductReviewFromNoteParcel`
  WooCommerce/WooCommerceTests/Mocks/ProductReviewFromNoteParcelFactory.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Copiable/Models+Copiable.generated.swift
  Yosemite/Yosemite/Stores/ProductReview/ProductReviewFromNoteParcel.swift
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
Labels: type: technical debt

#5144 Shipping Labels: Fix info banner color and signature option spacing on Carrier and Rates screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/Styles/ColorStudio.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierRow.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
Labels: feature: shipping labels

#5139 Fix navigation bar button color on iOS 15
  RELEASE-NOTES.txt
  WooCommerce/Classes/View Modifiers/View+Toolbars.swift
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApllicationLogDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SelectionList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: design

#5305 [Mobile Payments] Do not pass the entire account, just pass the statement descriptor
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: feature: mobile payments
