Repository woocommerce/woocommerce-ios, pull requests merged in 2021-04, with the labels that each got.

#3881 [Mobile Payments] Add support for querying the WCPay account endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WCPayAccountMapper.swift
  Networking/Networking/Model/WCPayAccount.swift
  Networking/Networking/Model/WCPayAccountStatusEnum.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/wcpay-account-complete.json
  Networking/NetworkingTests/Responses/wcpay-account-error.json
  Networking/NetworkingTests/Responses/wcpay-account-none.json
  Networking/NetworkingTests/Responses/wcpay-account-rejected-fraud.json
  Networking/NetworkingTests/Responses/wcpay-account-rejected-listed.json
  Networking/NetworkingTests/Responses/wcpay-account-rejected-other.json
  Networking/NetworkingTests/Responses/wcpay-account-rejected-terms-of-service.json
  Networking/NetworkingTests/Responses/wcpay-account-restricted-overdue.json
  Networking/NetworkingTests/Responses/wcpay-account-restricted-pending.json
  Networking/NetworkingTests/Responses/wcpay-account-restricted.json
  Networking/NetworkingTests/Responses/wcpay-account-unknown-status.json
Labels: [Feat] Mobile Payments

#3906 [Mobile Payments] Correct dark mode for connect image and fix section heading too
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectView.swift
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect.svg
Labels: [Feat] Mobile Payments

#3901 Merge release/6.3 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3907 Storage: Use a shared child context for writing operations
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Protocols/StorageManagerType.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockProductActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/Yosemite/Stores/NotificationStore.swift
  Yosemite/Yosemite/Stores/OrderNoteStore.swift
  Yosemite/Yosemite/Stores/OrderStatusStore.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/Yosemite/Stores/PaymentGatewayStore.swift
  Yosemite/Yosemite/Stores/ProductAttributeStore.swift
  Yosemite/Yosemite/Stores/ProductAttributeTermStore.swift
  Yosemite/Yosemite/Stores/ProductCategoryStore.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/Yosemite/Stores/ProductShippingClassStore.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/Yosemite/Stores/ProductTagStore.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/Yosemite/Stores/RefundStore.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/Yosemite/Stores/ShipmentStore.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/Yosemite/Stores/TaxClassStore.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager.swift
  Yosemite/YosemiteTests/SnapshotsProvider/FetchResultSnapshotsProviderTests.swift
  Yosemite/YosemiteTests/Storage/StorageManagerConcurrencyTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: Tech Debt

#3920 Merge release/6.4 into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3899 Shipping Label Package Details: managed the logic for generating the list of items that will be shipped inside an order
  WooCommerce/Classes/Extensions/Decimal+Helpers.swift
  WooCommerce/Classes/Tools/WeightFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsResultsControllers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageNumberRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/DecimalWooTests.swift
  WooCommerce/WooCommerceTests/Tools/WeightFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: Shipping Labels

#3922 AddOns: Add i1 feature flag
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: [Feat] Order Details

#3924 Merge release/6.4 into develop (Release Notes)
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3879 [Mobile Payments] Add support for metadata to PaymentIntentParameters. Add an extra layer of validation to the parameters passed to the Stripe Terminal SDK
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CurrencyCode.swift
  Hardware/Hardware/CardReader/Email.swift
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/StatementDescriptor.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
Labels: [Feat] Mobile Payments

#3925 [Mobile Payments] Prepare for providing feedback of payment collection process on the UI
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderEvent.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderEvent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  docs/HARDWARE.md
Labels: [Feat] Mobile Payments

#3929 Add-Ons: Parse attributes for all order items
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Model/OrderItemAttribute.swift
Labels: [Feat] Order Details

#3931 [Mobile Payments] Bring PaymentIntent back and hide implementation details of payment collection
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CurrencyCode.swift
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/CardReader/PaymentIntentStatus.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentStatus+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/MockStripePaymentIntent.swift
  Hardware/HardwareTests/PaymentIntentTests.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  docs/HARDWARE.md
Labels: [Feat] Mobile Payments

#3939 [Mobile Payments] Charge actual order total
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#3935 Fix image loading for some filenames/urls
  Networking/Networking/Model/Media/Media.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-library.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductUIImageLoader.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Media+WPMediaAsset.swift
  WooCommerce/WooCommerceTests/Tools/DefaultImageServiceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductUIImageLoaderTests.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: [Feat] Product Details, [Feat] Product List, type: bug

#3950 [Mobile Payments] Card Reader Settings Screen: UI Styles, Tab Bar
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleTableViewCell.xib
Labels: [Feat] Mobile Payments

#3951 Shipping Labels: Add endpoint to create a custom package
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/SuccessDataResultMapper.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/ShippingLabelCustomPackage.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/generic_success_data.json
  Networking/NetworkingTests/Responses/shipping-label-create-package-error.json
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Networking, Shipping Labels

#3897 Update illustrations and design for login error screen, orders empty state, and reviews empty state
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULAccountMismatchViewController.xib
  WooCommerce/Classes/Authentication/Navigation Exceptions/WrongAccountErrorViewModel.swift
  WooCommerce/Classes/Extensions/UIFont+Helpers.swift
  WooCommerce/Classes/Extensions/UILabel+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/WooCommerceTests/Authentication/WrongAccountErrorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/EmptyListMessageWithActionTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ManualTrackingViewControllerTests.swift
Labels: type: enhancement

#3942 Add-Ons: Parse add-ons from product metadata
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductAddOn.swift
  Networking/Networking/Model/Product/ProductAddOnEnvelope.swift
  Networking/Networking/Model/Product/ProductAddOnOption.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product.json
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  WooCommerce/WooCommerceTests/Mocks/MockReviews.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Order Details

#3947 [Mobile Payments] Support for card reader software updates (excluding UI)
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/CardReaderSoftwareUpdate.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderSofware+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/UpdateTimeEstimate+Stripe.swift
  Hardware/Hardware/CardReader/UpdateTimeEstimate.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: [Feat] Mobile Payments

#3853 Use http api calls to trigger release jobs
  .circleci/config.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env/user.env.example
Labels: Tooling

#3955 Shipping Label M2: add new package screen that works like a middleware
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Add New Package/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Add New Package/ShippingLabelAddNewPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SegmentedView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Shipping Labels

#3952 AddOns: Store product metadata
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductAddOnOption.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/ProductAddOn+CoreDataClass.swift
  Storage/Storage/Model/ProductAddOn+CoreDataProperties.swift
  Storage/Storage/Model/ProductAddOnOption+CoreDataClass.swift
  Storage/Storage/Model/ProductAddOnOption+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 47.xcdatamodel/contents
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductAddOn+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductAddOnOption+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Order Details, [Feat] Product Details

#3956 AddOns: Cross-reference order attributes with product add-ons
  WooCommerce/Classes/ViewModels/Order Details/AddOns/AddOnCrossreferenceUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/AddOnCrossreferenceTests.swift
Labels: [Feat] Order Details

#3960 AddOns: Add "View Add-Ons" button
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refunded Products/RefundedProductsDataSource.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.xib
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/ProductDetailsCellViewModelTests.swift
Labels: [Feat] Order Details

#3985 Coupon Management: Networking - Coupon model
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Coupon.swift
Labels: Coupons

#3968 Add-Ons: Create view to render order add-ons
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnsListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListI1Tests.swift
Labels: [Feat] Order Details

#3983 Shipping Labels: Networking layer for account settings endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelAccountSettingsMapper.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelPaymentCardType.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAccountSettings.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPaymentMethod.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelSettings.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Mapper/ShippingLabelAccountSettingsMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-account-settings-no-payment-methods.json
  Networking/NetworkingTests/Responses/shipping-label-account-settings.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
Labels: Shipping Labels

#3991 Merge 6.4 final into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3993 Shipping Labels M2: Show different address verification banner text and actions based on address type
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressTopBannerFactory.swift
Labels: Shipping Labels

#3967 Shipping Labels M2: display the Package List
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Add New Package/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Add New Package/ShippingLabelAddNewPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/Service Package List/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/Service Package List/ShippingLabelPackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/ShippingLabelPackageSelected.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/ShippingLabelPackageSelectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ListHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SelectableItemRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageSelectedViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: Shipping Labels

#3987 Coupon Management: Networking - Mapper for list of coupons
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/CouponListMapper.swift
  Networking/NetworkingTests/Mapper/CouponListMapperTests.swift
  Networking/NetworkingTests/Responses/coupons-all.json
Labels: Coupons, Networking

#3986 Coupon Management: Storage - Add Coupon Core Data model
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Coupon+CoreDataClass.swift
  Storage/Storage/Model/Coupon+CoreDataProperties.swift
  Storage/Storage/Model/ProductCategory+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 48.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: Core Data, Coupons

#3999 Merge 6.5 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/download_metadata.swift
Labels: Releases

#3994 Remove option to add more than one image for variations
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
Labels: [Feat] Add/Edit Products, type: enhancement

#3988 Coupon Management: Networking - Remote with loadAllCoupons endpoint method
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
Labels: Coupons, Networking

#4001 Add-Ons: Add update disclaimer to order add-ons
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnsListViewController.swift
Labels: [Feat] Order Details

#3997 [Mobile Payments] Add model objects with metadata necessary to print receipts
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardBrand.swift
  Hardware/Hardware/CardReader/CardPresentDetails.swift
  Hardware/Hardware/CardReader/Charge.swift
  Hardware/Hardware/CardReader/PaymentMethod.swift
  Hardware/Hardware/CardReader/ReceiptDetails.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardBrand+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardPresentDetails+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/Charge+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentMethod+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/ReceiptDetails+Stripe.swift
  Hardware/HardwareTests/CardBrandTests.swift
  Hardware/HardwareTests/CardPresentDetailsTests.swift
  Hardware/HardwareTests/Mocks/MockStripeCardPresentDetails.swift
  Hardware/HardwareTests/Mocks/MockStripeCardReader.swift
  Hardware/HardwareTests/Mocks/MockStripeCharge.swift
  Hardware/HardwareTests/Mocks/MockStripePaymentIntent.swift
  Hardware/HardwareTests/Mocks/MockStripeReceiptDetails.swift
  Hardware/HardwareTests/ReceiptDetailsTests.swift
  docs/HARDWARE.md
Labels: [Feat] Mobile Payments

#3998 [Mobile Payments] Add networking for capturing WCPay payment intents (and updating order status)
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WCPayPaymentIntentMapper.swift
  Networking/Networking/Model/WCPayPaymentIntent.swift
  Networking/Networking/Model/WCPayPaymentIntentStatusEnum.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/wcpay-payment-intent-canceled.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-error.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-processing.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-requires-action.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-requires-capture.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-requires-confirmation.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-requires-payment-method.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-succeeded.json
  Networking/NetworkingTests/Responses/wcpay-payment-intent-unknown-status.json
Labels: [Feat] Mobile Payments

#4003 Prevent crash when the media library has exactly the same amount of items as the request page size
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSource.swift
Labels: type: crash

#3996 Shipping Labels: Storage layer for account settings endpoint
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ShippingLabelAccountSettings+CoreDataClass.swift
  Storage/Storage/Model/ShippingLabelAccountSettings+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabelPaymentMethod+CoreDataClass.swift
  Storage/Storage/Model/ShippingLabelPaymentMethod+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 48.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: Shipping Labels

#3989 Coupon Management: Networking - Mapper for a single coupon
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Coupon+Decoder.swift
  Networking/Networking/Mapper/CouponListMapper.swift
  Networking/Networking/Mapper/CouponMapper.swift
  Networking/NetworkingTests/Mapper/CouponListMapperTests.swift
  Networking/NetworkingTests/Mapper/CouponMapperTests.swift
  Networking/NetworkingTests/Responses/coupon.json
Labels: Coupons, Networking

#4004 [Mobile Payments] Capture Payment Intent
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#4002 [Mobile Payments] Printing receipts. Mark I: Hardware
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/Printer/AirPrintReceipt/AirPrintReceiptPrinterService.swift
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/PrinterService.swift
  Hardware/Hardware/Printer/ReceiptContent.swift
  Hardware/Hardware/Printer/ReceiptLineItem.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  docs/HARDWARE.md
Labels: [Feat] Mobile Payments

#3990 Coupon Management: Networking - Add deleteCoupon endpoint method to Remote
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
Labels: Coupons, Networking

#4010 [Mobile Payments] Printing receipts. Mark II: Yosemite
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardPresentTransactionDetails.swift
  Hardware/Hardware/CardReader/PaymentMethod.swift
  Hardware/Hardware/CardReader/ReceiptDetails.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardPresentDetails+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentMethod+Stripe.swift
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  Hardware/Hardware/Printer/ReceiptContent.swift
  Hardware/HardwareTests/CardPresentDetailsTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Actions/ReceiptAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockPaymentIntent.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockReceiptPrinterService.swift
  Yosemite/YosemiteTests/Model/Extensions/PaymentIntent+ReceiptParametersTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
  docs/YOSEMITE.md
Labels: [Feat] Mobile Payments

#4013 [Mobile Payments] Simplify tests to handle expected results more directly; add networking error test
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/wcpay-account-error.json
  Networking/NetworkingTests/Responses/wcpay-account-wrong-json.json
Labels: [Feat] Mobile Payments

#4023 Fix Coupon fake generation
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking/Model/Coupon.swift
Labels: Coupons

#4021 Apply the WooStyleModifiers to the existing SwiftUI views
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ItemToFulfillRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ListHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SelectableItemRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndTextFieldRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: Tech Debt

#4022 Activity Indicator in SwiftUI
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ActivityIndicator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: iOS 13

#4016 Shipping Labels: Yosemite layer for account settings endpoint
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabelAccountSettings+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabelPaymentMethod+ReadonlyConvertible.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Shipping Labels

#4028 Merge 6.5 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#4018 [Mobile Payments] Add localizeable descriptions for card reader service errors
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
Labels: [Feat] Mobile Payments

#4015 [Mobile Payments] Add modal view to notify users of progress in payment collection
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+Payments.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-celebration.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-celebration.imageset/img-celebration-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-celebration.imageset/img-celebration-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/payments-cards-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/payments-cards-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-payments-error.imageset/img-products-error.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#4024 [Mobile payments] Add all mandatory fields to receipt
  Hardware/Hardware/CardReader/CardBrand.swift
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  Hardware/Hardware/Printer/ReceiptLineItem.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
Labels: [Feat] Mobile Payments

#4029 [Mobile Payments] Add WCPayStore
  Networking/Networking/Remote/WCPayRemote.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/WCPayAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WCPayStore.swift
  Yosemite/YosemiteTests/Stores/WCPayStoreTests.swift
Labels: [Feat] Mobile Payments

#4032 Shipping Labels M2: Prevent button flashing when a different address is selected
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.swift
Labels: Shipping Labels, type: bug

#4017 Add-Ons: Add beta indicator banner
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnTopBanner.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnsListViewController.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerWrapperView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Order Details

#4027 Add-ons: Top banner button handling
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/View Modifiers/View+Conditionals.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnsListViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/Survey.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Order Details

#4020 Shipping Labels M2: handle the selected value in the package list
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/ShippingLabelCustomPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelPackagesResponse.swift
  WooCommerce/Classes/Tools/WeightFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/Service Package List/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/Service Package List/ShippingLabelPackageListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/ShippingLabelPackageSelected.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selected/ShippingLabelPackageSelectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/WeightFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageSelectedViewModelTests.swift
Labels: Shipping Labels

#4037 Fix separator padding in Shipping Label Package Details screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
Labels: Shipping Labels, type: bug

#3957 Improve Login Error Handling
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NoSecureConnectionErrorViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Login

#4025 Coupon Management: Yosemite - Action and storage helper methods
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Coupon+ReadOnlyConvertible.swift
Labels: Coupons

#4038 Add-ons: Fix add-on cross-reference for variable products
  WooCommerce/Classes/ViewModels/Order Details/AddOns/AddOnCrossreferenceUseCase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/AddOnCrossreferenceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListI1Tests.swift
Labels: [Feat] Order Details

#4041 Update copy of right bar button of Product Attributes screen
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
Labels: [Feat] Add/Edit Products

#4026 Coupon Management: Yosemite - CouponStore synchronizeCoupons method
  Networking/Networking/Remote/CouponsRemote.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: Coupons

#4046 Update Error Message if the Site is not WP
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPErrorViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPErrorViewModelTests.swift
Labels: [Feat] Login

#4039 Add subtitle and update copies on empty state view of Variations list
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#4035 Update WeightFormatter to use MeasurementFormatter
  WooCommerce/Classes/Tools/WeightFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/WeightFormatterTests.swift
Labels: Localization, Shipping Labels, type: enhancement

#4065 [Mobile Payments] Modal views
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalRemoveCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewControllerTests.swift
Labels: [Feat] Mobile Payments

#4070 [6.5 Backport] Prevent crash when the media library has exactly the same amount of items as the request page size
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSource.swift
Labels: type: crash

#4040 Update product variation list buttons
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#4061 Add helper text for product variations in Product images screen
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.xib
Labels: [Feat] Add/Edit Products, [Status] Needs Design Review

#4075 [Tooling] Add a linter rule for SwiftUI's LocalizedStringKey
  .swiftlint.yml
Labels: Tooling

#4066 [Mobile Payments] Card Reader Settings V2 2: Define ViewModel protocols, add Presenting View Controller
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentedViewViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Mobile Payments

#4060 [Mobile Payments] Add (empty) knownReaders
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: [Feat] Mobile Payments

#4072 Coupon Management: List coupons - add view placeholder
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Coupons

#4063 Shipping Labels M2: Refactor address validation result to encode validation errors as Swift errors
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelAddressValidationSuccessMapper.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressValidationError.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressValidationResponse.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressValidationSuccess.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Networking, Shipping Labels, type: enhancement

#4073 Shipping Labels: Display the last selected package in Package Details
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsResultsControllers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/MockShippingLabelAccountSettings.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: Shipping Labels

#4084 Coupon Management: Move Settings screen strings to Localization enum
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: Tech Debt

#4071 Shipping Labels M2: Fix address validation banner showing by default even if there are no errors
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
Labels: Shipping Labels, type: bug

#4076 [Mobile Payments] Update WCPay capture route and restore call to captureOrderPayment
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/WCPayStoreTests.swift
Labels: [Feat] Mobile Payments

#4096 Documentation: Add info about rake generate to Networking doc
  docs/NETWORKING.md
Labels: Documentation
