Repository woocommerce/woocommerce-ios, pull requests merged in 2021-06, with the labels that each got.

#4325 [Mobile Payments] Allow usage of simulated card reader on debug builds
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: feature: mobile payments, type: bug

#4326 [Mobile Payments] Prevent clipping amount in errors on landscape
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: feature: mobile payments, type: bug

#4334 [Mobile Payments] Fix Tapping "Keep Searching" when discovering readers dismisses the modal and nothing else happens
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalFoundReader.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalFoundReaderTests.swift
Labels: feature: mobile payments, type: bug

#4335 [Mobile Payments] Only show the option to email a receipt if the device can send email
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmailTests.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4339 [Mobile Payments] Restart reader discovery when tapping "Keep Searching"
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments, type: bug

#4340 [Mobile Payments] Scale down button labels when text doesn't fit
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4322 Add-ons: Add "Add-on" row in product detail screen
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
Labels: feature: product details

#4327 Shipping Label: ended the implementation of Carrier and Rates flow
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierAndRatesTopBanner.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriersViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EmptyState.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelCarrierRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelCarriersViewModelTests.swift
Labels: feature: shipping labels

#4352 [Mobile Payments] Add launch argument to enable verbose logging for Stripe
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/Internal/Logging.swift
  Podfile
  Podfile.lock
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: category: tooling, feature: mobile payments, status: feature-flagged, type: enhancement

#4337 Move release note for virtual product creation to 6.8 release
  RELEASE-NOTES.txt
Labels: feature: add/edit products

#4345 Shipping Labels: Save changes to payment methods
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPaymentMethod.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPaymentMethodsViewModelTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4371 Set ALWAYS_EMBED_SWIFT_STANDRD_LIBRARIES for HardwareTests as inherited
  Hardware/Hardware.xcodeproj/project.pbxproj
Labels: category: tooling

#4372 Shipping Labels: Disable payment method editing for non-store owners
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsTopBanner.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SelectableItemRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndToggleRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels, status: feature-flagged

#4370 [Mobile Payments] Set title of receipt preview
  WooCommerce/Classes/ViewRelated/CardPresentPayments/ReceiptViewController.swift
Labels: category: design, feature: mobile payments, type: bug

#4353 [Mobile Payments] Improve UI to retry failed payments
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalErrorTests.swift
Labels: feature: mobile payments, status: feature-flagged, type: bug

#4342 Shipping Labels: populated the total weight automatically in packages step
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: feature: shipping labels

#4365 Do Not Send Sign-up Emails if the Email Address Is Unknown
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/AuthenticationManagerTests.swift
Labels: feature: login

#4349 [Mobile Payments] Add payment gateway account entity to core data
  PaymentGatewayAccount+CoreDataClass.swift
  PaymentGatewayAccount+CoreDataProperties.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 52.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: feature: mobile payments

#4376 Merge release/6.8 into develop – Release Notes
  Gemfile.lock
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Releases

#4373 [Mobile Payments] Add order number to payment intent description
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
Labels: feature: mobile payments

#4355 Address validation banner now is shown at full height after tapping Done button
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
Labels: feature: shipping labels, type: bug

#4367 [Mobile Payments] Update background colour of modal alerts
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: category: design, feature: mobile payments, type: bug

#4368 [Mobile Payments] Apply headline style to title in all modals
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
Labels: category: design, feature: mobile payments, type: bug

#4369 [Mobile Payments] Update height of buttons in modal alert
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: category: design, feature: mobile payments, type: bug

#4354 Variations: Final touches
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: feature: product details, feature: variation list

#4389 [Mobile Payment] Add transformer for currency string array
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 52.xcdatamodel/contents
Labels: feature: mobile payments

#4381 [Mobile Payments] Add PaymentGatewayAccountStore
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/PaymentGatewayAccount.swift
  Networking/Networking/Model/WCPayAccount.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/PaymentGatewayAccountAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/WCPayAccount+PaymentGatewayAccount.swift
  Yosemite/Yosemite/Model/Storage/PaymentGatewayAccount+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/PaymentGatewayAccountStore.swift
  Yosemite/YosemiteTests/Stores/PaymentGatewayAccountStoreTests.swift
Labels: feature: mobile payments

#4395 Fix Login Not Detecting that the Site is Connected
  Podfile.lock
Labels: feature: login

#4397 Merge release/6.8 into develop (beta 6.8.0.2)
  Gemfile.lock
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#4394 Updated CTA with `Print Shipping Label`
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Reprint Shipping Label/ReprintShippingLabelViewController.swift
Labels: feature: shipping labels

#4387 Improve application log viewer
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApllicationLogDetailView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogDetailViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ShareSheet.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ApplicationLogViewModelTests.swift
Labels: feature: support, type: enhancement

#4375 [Mobile Payments] Apply secondary style to cancel button in modal alerts
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningForReader.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalReaderIsReadyTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalScanningForReaderTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalTapCardTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewControllerTests.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4408 [Mobile Payments] Update copy for scanning for reader modal
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningForReader.swift
Labels: category: design, feature: mobile payments, status: feature-flagged

#4410 [Mobile Payments] Fix link to Hardware in README.md
  README.md
Labels: feature: mobile payments, type: documentation

#4411 [Mobile Payments] UI review for reader connect instructions
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HeadlineTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HeadlineTableViewCell.xib
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: design, feature: mobile payments, status: feature-flagged, type: enhancement

#4403 Merge final release/6.8 into develop
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
Labels: Releases

#4396 Hack Week: improve the loading state in the Order Detail
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Orders.storyboard
  WooCommerce/Classes/ViewRelated/ReusableViews/TopLoaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TopLoaderView.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: design, feature: order details

#4398 [Mobile Payments] Switch from WCPayStore to PaymentGatewayAccountStore
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/WCPayAction.swift
  Yosemite/Yosemite/Stores/PaymentGatewayAccountStore.swift
  Yosemite/Yosemite/Stores/WCPayStore.swift
  Yosemite/YosemiteTests/Stores/WCPayStoreTests.swift
Labels: feature: mobile payments

#4415 Merge 6.9 code freeze into develop
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApllicationLogDetailView.swift
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#4405 Variations: Show screen before creating the first variation
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Resources/Images.xcassets/img-welcome.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/img-welcome.imageset/img-welcome-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: product details

#4380 Better diffs on Unit Tests
  TestKit/Package.swift
  TestKit/Sources/TestKit/Assertions.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: category: tooling

#4413 [Mobile Payments] Add currency to order total in modals when capturing a payment
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: category: design, feature: mobile payments

#4407 Errors: Banner message for error loading data on Orders and Reviews lists
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.xib
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
Labels: feature: order list, feature: review list, type: enhancement

#4400 Errors: Banner message for error loading data on Product List
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.xib
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Top Banner/ErrorTopBannerFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/TopBanner/ErrorTopBannerFactoryTests.swift
Labels: feature: product list, type: enhancement

#4418 [Mobile Payments] Remove payments feature flag
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
Labels: feature: mobile payments

#4423 Shipping Labels: Networking layer for Shipping Label Purchase endpoint
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelPurchaseMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelStatus.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPurchase.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Mapper/ShippingLabelPurchaseMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-purchase-success.json
Labels: feature: shipping labels

#4420 Shipping Labels: order summary and woo discount section
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#4421 Refactor AccountAction, AccountStore and AccountRemote to use Result
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Remote/AccountRemoteTests.swift
  Networking/NetworkingTests/Remote/AccountSettingsRemoteTests.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: technical debt

#4419 Refactor SettingsAction to use Result
  Networking/Networking/Remote/SiteAPIRemote.swift
  Networking/NetworkingTests/Remote/SiteAPIRemoteTests.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  Yosemite/Yosemite/Actions/SettingAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockSettingActionHandler.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: type: technical debt

#4433 Remove unnecessary Alamofire imports
  Networking/Networking/Remote/AccountRemote.swift
  Networking/Networking/Remote/CommentRemote.swift
  Networking/Networking/Remote/DevicesRemote.swift
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Remote/RefundsRemote.swift
  Networking/Networking/Remote/ShipmentsRemote.swift
  Networking/Networking/Remote/SiteSettingsRemote.swift
  Networking/Networking/Remote/SiteVisitStatsRemote.swift
  Networking/Networking/Remote/TaxClassRemote.swift
  Networking/Networking/Remote/TopEarnersStatsRemote.swift
Labels: type: technical debt

#4386 Update Fastlane's snapshot integration to version 1.25
  WooCommerce/WooCommerceScreenshots/Utils/SnapshotHelper.swift
Labels: category: tooling

#4422 [Mobile Payments] UI Improvements to card reader instructions, part 2
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.xib
Labels: category: design, feature: mobile payments, type: enhancement

#4441 [Mobile Payments] Avoid loss of cents on receipt totals
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
Labels: feature: mobile payments

#4445 Display Order Items and Shipping Labels Packages as separate sections in the Order Detail Screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/ViewModels/Order Details/Aggregate Order Items/AggregateOrderItem.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/AggregatedProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/AggregatedProductListViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
Labels: feature: order details, feature: shipping labels

#4424 Refactor ProductAction, ProductStore and ProductsRemote to use Result
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListMultiSelectorSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: technical debt

#4435 Add-ons: Adds empty ProductAddOnsListViewController
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOnsListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOnsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: product details

#4446 Add-Ons: Adds ProductAddOn view
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOn.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOnViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Addons/ProductAddOnViewModelTests.swift
Labels: feature: product details

#4448 Shipping Labels: Networking layer for Shipping Label Status endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelStatusMapper.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Mapper/ShippingLabelStatusMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-status-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
Labels: feature: shipping labels, status: feature-flagged

#4455 Merge 6.9 release notes into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#4447 Fix magic link flow not opening 3rd party mail apps
  WooCommerce/Resources/Info.plist
Labels: feature: login

#4444 Fix Stats tabs not ordered correctly in RTL layout
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: feature: stats

#4454 Hot fix: loading banner always visible in the Order Detail screen just in the release build
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details, type: bug

#4456 Allow ProductAddOnViewModel to be created from a ProductAddOn
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOn.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOnViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOnsListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Addons/ProductAddOnsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Addons/ProductAddOnViewModelTests.swift
Labels: feature: product details

#4458 Shipping Labels: Yosemite layer for shipping label purchases
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4463 Handled big font sizes in Shipping Label Creation Form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.xib
Labels: feature: shipping labels, type: bug

#4460 Update AppStoreStrings to mention English comma keywords requirement
  WooCommerce/Resources/AppStoreStrings.pot
Labels: category: tooling

#4417 [Tooling] Run rubocop on Fastfile
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Rakefile
  Scripts/update-translations.rb
  WooCommerce/Credentials/replace_secrets.rb
  fastlane/Deliverfile
  fastlane/Fastfile
Labels: category: tooling

#4462 Shipping Label: display the bottom sheet when the user taps the info area on WooCommerce Discount
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Bottom Sheets/ShippingLabelDiscountInfoViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Bottom Sheets/ShippingLabelDiscountInfoViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#4471 Shipping Labels: networking layer for supporting the `data/countries` endpoint
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/CountryListMapper.swift
  Networking/Networking/Model/Country.swift
  Networking/Networking/Model/StateOfACountry.swift
  Networking/Networking/Remote/DataRemote.swift
  Networking/NetworkingTests/Mapper/CountryListMapperTests.swift
  Networking/NetworkingTests/Remote/DataRemoteTests.swift
  Networking/NetworkingTests/Responses/countries.json
Labels: feature: shipping labels

#4472 Shipping Labels: Fix purchase endpoint to send complete package details
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarrierRate.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelPackagePurchase.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels

#4466 Add-ons: Adds products add-on analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
Labels: category: analytics, feature: product details

#4443 Update tracks to 0.8.5
  Podfile
  Podfile.lock
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Protocols/CrashLogger.swift
  Storage/StorageTests/Mocks/MockCrashLogger.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ServiceLocator/CrashLoggingStack.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/Logging/CrashLogging.swift
  WooCommerce/Classes/Tools/Logging/EventLogging.swift
  WooCommerce/Classes/Tools/Logging/SentryCrashLogger.swift
  WooCommerce/Classes/Tools/Logging/WooCrashLoggingStack.swift
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderStatusListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchStarterViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/ServiceLocatorTests.swift
  Yosemite/YosemiteTests/Mocks/MockCrashLogger.swift
Labels: category: analytics, type: enhancement

#4467 [Mobile Payments] Force height of modal views to 382px
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: category: design, feature: mobile payments

#4476 Add-Ons: Fix add-on tests by using a custom currency formatter
  WooCommerce/WooCommerceTests/ViewRelated/Products/Addons/ProductAddOnViewModelTests.swift
Labels: category: unit tests, type: bug

#4468 Include build configuration details in all tracks events
  Podfile
  Podfile.lock
Labels: category: analytics, type: enhancement

#4477 Shipping Labels: storage and yosemite layers for fetching and storing the countries
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Country+CoreDataClass.swift
  Storage/Storage/Model/Country+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/StateOfACountry+CoreDataClass.swift
  Storage/Storage/Model/StateOfACountry+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 53.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/DataAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Country+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/StateOfACountry+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/DataStore.swift
  Yosemite/YosemiteTests/Stores/DataStoreTests.swift
Labels: feature: shipping labels

#4473 Auth Role Checks: Part 1 - Add User-related networking and store classes
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/UserMapper.swift
  Networking/Networking/Model/User.swift
  Networking/Networking/Remote/UserRemote.swift
  Networking/Networking/Settings/WordPressAPIVersion.swift
  Networking/NetworkingTests/Mapper/UserMapperTests.swift
  Networking/NetworkingTests/Remote/UserRemoteTests.swift
  Networking/NetworkingTests/Responses/user-complete.json
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/UserAction.swift
  Yosemite/Yosemite/Stores/UserStore.swift
  Yosemite/YosemiteTests/Stores/UserStoreTests.swift
Labels: feature: login

#4470 Refactor Stats action (store and networking) to use Result
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Remote/SiteVisitStatsRemote.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteV4Tests.swift
  Networking/NetworkingTests/Remote/SiteVisitStatsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Stores/AvailabilityStore.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
  docs/YOSEMITE.md
Labels: type: technical debt

#4483 Merge 6.9 final into develop
  Gemfile.lock
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/keywords.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#4485 [Docs] Add bundle install command to README
  README.md
Labels: category: tooling

#4491 Merge 7.0 code freeze into develop
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#4490 Cleanup: Remove un-used product beta feature switch code
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockProductsAppSettingsStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsFeatureSwitch.swift
Labels: type: technical debt

#4494 Add stats tab basic throttling
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: category: performance, feature: stats

#4498 [Mobile Payments] Add feature flag for card present known reader work
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
Labels: feature: mobile payments

#4499 [Mobile Payments] Add actions for remembering, forgetting and recalling card readers
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+CardReaderSettings.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: mobile payments

#4459 Use Xcode 12.5 in CI
  .circleci/config.yml
  .xcversion
  Storage/Storage/Protocols/Object.swift
  Storage/Storage/Protocols/StorageType.swift
  TestKit/Sources/TestKit/XCTestCase+Wait.swift
  WooCommerce/Classes/Notifications/ApplicationAdapter.swift
  WooCommerce/Classes/Tools/InfiniteScroll/PaginationTracker.swift
  WooCommerce/Classes/Tools/SyncCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Text View Screen/TextViewViewController.swift
  Yosemite/Yosemite/Base/Dispatcher.swift
  Yosemite/Yosemite/Tools/Media/MediaType.swift
  fastlane/Fastfile
Labels: category: tooling
