Repository woocommerce/woocommerce-ios, pull requests merged in 2021-03, with the labels that each got.

#3752 Enable large titles behind a feature flag (scrolling animation is only available in Products and Reviews tab)
  WooCommerce/Classes/Extensions/UINavigationBar+Appearance.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/System/WooTabNavigationController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#3767 Merge release/6.1 into develop
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/AttributePickerViewController.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/Mocks/MockAnalyticsProvider.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3765 Fix error state crash on AddAttributeOptionsViewController
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
Labels: [Feat] Add/Edit Products, [Type] Crash

#3764 [Variations] Update parent product after variation deletion
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: [Feat] Add/Edit Products

#3754 Shipping Labels: address formatting in the Shipping Label Form and loader indicator in the Address Validation Form
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddressValidationResponse.swift
  WooCommerce/Classes/Model/ShippingLabelAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Shipping Labels

#3766 Order Details: update "Mark Order Complete" CTA to secondary style when shipping label creation CTA is visible
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: [Feat] Order Details

#3768 Variations: Add UI for rename attributes flow
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/RenameAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/RenameAttributesViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/RenameAttributesViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Product Variation/RenameAttributesViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3761 [Mobile Payments] Add connected reader view
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectedReaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderTableViewCells/ConnectedReaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderTableViewCells/ConnectedReaderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/NumberedListItemTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: [Feat] Mobile Payments

#3772 [Mobile payments] Fetch connection token from WCPay-enabled stores
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/DefaultConnectionTokenProvider.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/WCPayTokenProvider.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WCPayConnectionTokenMapper.swift
  Networking/Networking/Model/WCPayConnectionToken.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/wcpay-connection-token.json
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: [Feat] Mobile Payments

#3782 Variations: Track when the rename attribute button is tapped
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
Labels: Tracks, [Feat] Add/Edit Products

#3780 Shipping Labels: state machine, address validation in shipping labels form, suggested address logics
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonActivityIndicator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
Labels: Shipping Labels

#3781 Variations: Update attribute name remotely after rename
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/RenameAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/RenameAttributesViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Product Variation/RenameAttributesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3783 Variations: Accessibility details
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.xib
Labels: Accessibility, [Feat] Add/Edit Products

#3787 Variations: Refresh product list after variations update
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: [Feat] Add/Edit Products

#3774 [Settings] Add new store and app settings sections, show store name instead of user
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: [Feat] App Settings, [Feat] Dashboard

#3763 Large titles: workaround for Dashboard and Orders tab with multiple scroll views
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIScrollView+LargeTitleWorkaround.swift
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement

#3790 [Tooling] Mark *.enc configure files as binary
  .gitattributes
Labels: Tooling

#3789 Shipping Labels: completed the suggested address screen and ended the addresses validation flow
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
Labels: Shipping Labels

#3791 Variations: Release Feature
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductVariationDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3792 Broken Tests: Update WooCommerce UI Tests to account for settings store name changes
  WooCommerce/WooCommerceUITests/Screens/Settings/SettingsScreen.swift
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
  WooCommerce/WooCommerceUITests/Utils/TestCredentials.swift
Labels: Broken Tests

#3795 Filter attributes for variations
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/GenerateVariationUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditAttributesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/GenerateVariationUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3788 [Mobile Payments] Cancel discovery mark II: Yosemite (and a bit of Hardware)
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: [Feat] Mobile Payments

#3796 Add app version to the in-app survey metadata for all types of…
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: [Feat] In-app Feedback

#3799 CircleCI Validation for #3796
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: [Status] Not Ready for Merge

#3784 [Mobile Payments] Connect card reader discovery completion to UI
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectedReaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
Labels: [Feat] Mobile Payments

#3797 Merge release/6.1 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3801 Enable variation generation on empty variations list
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
Labels: [Feat] Add/Edit Products

#3807 Add initial editorconfig setup
  .editorconfig
Labels: Tooling

#3809 Merge release/6.2 into develop after adding release notes from Editorial
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3805 Center align image and text for `imageAndTitleOnly` footnote style
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
Labels: type: enhancement

#3806 Update illustrations for orders tab and products tab empty search results
  WooCommerce/Resources/Images.xcassets/woo-empty-orders.imageset/woo-empty-orders-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-orders.imageset/woo-empty-orders-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-search-results.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-search-results.imageset/woo-empty-search-results-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-search-results.imageset/woo-empty-search-results-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers-light-1.pdf
  WooCommerce/Resources/Images.xcassets/woo-waiting-customers.imageset/woo-waiting-customers-light.pdf
Labels: type: enhancement

#3769 Order Details: show shipping label creation info row when the order is eligible
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: Shipping Labels

#3785 Order Details: present shipping label creation info screen on info link row tap
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Info/ShippingLabelCreationInfoViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-creation.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-creation.imageset/woo-shipping-label-creation-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-creation.imageset/woo-shipping-label-creation-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: Shipping Labels

#3808 Layout: Extend backgrounds edge-to-edge in landscape orientation
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Add Order Note/NewNoteViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Orders.storyboard
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/Add or Edit File/ProductDownloadFileViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/Settings/ProductDownloadSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/ProductParentCategoriesViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit External Link/ProductExternalLinkViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Catalog Visibility/ProductCatalogVisibilityViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Purchase Note/ProductPurchaseNoteViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Slug/ProductSlugViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibilityViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.xib
Labels: [Feat] App Settings, [Feat] Order Details, [Feat] Product Details

#3813 [Hack Week] Introduce "Fakes" framework
  CodeGeneration/Fakes/Fakes.swifttemplate
  CodeGeneration/Fakes/Networking-Fakes.yaml
  Fakes/Fakes.xcodeproj/project.pbxproj
  Fakes/Fakes.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Fakes/Fakes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Fakes/Fakes/Fake.swift
  Fakes/Fakes/Fakes.generated.swift
  Fakes/Fakes/Fakes.h
  Fakes/Fakes/Info.plist
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Fakes/GeneratedFakeable.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductAttribute.swift
  Networking/Networking/Model/Product/ProductBackordersSetting.swift
  Networking/Networking/Model/Product/ProductCatalogVisibility.swift
  Networking/Networking/Model/Product/ProductCategory.swift
  Networking/Networking/Model/Product/ProductDefaultAttribute.swift
  Networking/Networking/Model/Product/ProductDimensions.swift
  Networking/Networking/Model/Product/ProductDownload.swift
  Networking/Networking/Model/Product/ProductImage.swift
  Networking/Networking/Model/Product/ProductShippingClass.swift
  Networking/Networking/Model/Product/ProductStatus.swift
  Networking/Networking/Model/Product/ProductStockStatus.swift
  Networking/Networking/Model/Product/ProductTag.swift
  Networking/Networking/Model/Product/ProductTaxStatus.swift
  Networking/Networking/Model/Product/ProductType.swift
  Networking/NetworkingTests/Remote/RemoteTests.swift
  Rakefile
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: Tech Debt, Tooling

#3812 Update illustrations for login error screens, reviews tab empty state, and shipping label printing instructions
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/woo-empty-reviews-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/woo-empty-reviews-light-1.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-reviews.imageset/woo-empty-reviews-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/img_dark_error_JP.png
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/img_light_error_JP.png
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/woo-no-jetpack-error-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-jetpack-error.imageset/woo-no-jetpack-error-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/woo-shipping-label-printing-instructions-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/woo-shipping-label-printing-instructions-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/img_dark_what is JP.png
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/img_light_what is JP.png
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/woo-what-is-jetpack-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-what-is-jetpack.imageset/woo-what-is-jetpack-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/img_dark_error_unmapped.png
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/img_light_error_unmapped.png
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/woo-wp-no-site-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-wp-no-site.imageset/woo-wp-no-site-light.pdf
Labels: type: enhancement

#3816 [Hack Week] Delete `MockProduct` class
  Fakes/Fakes.xcodeproj/project.pbxproj
  Fakes/Fakes/Products/ProductFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Product+ShippingTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockProduct.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/PaginatedProductShippingClassListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductBackordersSettingListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStatusSettingListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStockStatusListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Notifications/ReviewsCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundItemViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/AggregatedShippingLabelOrderItemsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+AddProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ReadonlyProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Add Product Variation/AddAttributeViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Categories/ProductCategoryListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/ProductDownloadFileViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/ProductDownloadListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/ProductDownloadSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Shipping/ProductShippingSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormRemoteActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+SaveTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product Loader/ProductVariationLoadUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductDetailsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductVariationDetailsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mocks/MockProduct.swift
  Yosemite/YosemiteTests/Stores/ProductReview/RetrieveProductReviewFromNoteUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/ProductShippingClassStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
  Yosemite/YosemiteTests/Stores/TaxClassStoreTests.swift
  Yosemite/YosemiteTests/Tools/Products/ResultsController+FilterProductTests.swift
  Yosemite/YosemiteTests/Tools/Products/ResultsController+StorageProductTests.swift
  Yosemite/YosemiteTests/Tools/Stats/LeaderboardStatsConverterTests.swift
Labels: Tech Debt

#3800 Fix running `match` locally
  fastlane/Fastfile
Labels: Tooling

#3827 [Mobile Payments] Create Payment Intent
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  docs/HARDWARE.md
  docs/README.md
Labels: [Feat] Mobile Payments

#3820 [HACK Week]Add "Fakes.framework" documentation
  README.md
  docs/README.md
  docs/fakeable.md
Labels: Documentation

#3830 Fixed autolayout issues on TopBannerView in Shipping Label address validation flow
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
Labels: Shipping Labels

#3811 Update illustrations for products tab empty state and product loader states
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Product Loader/ProductLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Resources/Images.xcassets/woo-empty-products-tab.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-products-tab.imageset/woo-empty-products-tab-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-products-tab.imageset/woo-empty-products-tab-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-product-deleted.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-product-deleted.imageset/woo-product-deleted-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-product-deleted.imageset/woo-product-deleted-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-product-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-product-error.imageset/woo-product-error-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-product-error.imageset/woo-product-error-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductCoordinatorTests.swift
Labels: type: enhancement

#3832 Variations: Fix issues when updating product attributes
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: [Feat] Add/Edit Products

#3836 Variations: Create Variable Product
  Networking/Networking/Model/Product/Product.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+AddProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/ProductVariationsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Variations/Add Attributes/AddAttributeOptionsViewModelTests.swift
Labels: [Feat] Add/Edit Products

#3833 [Tooling] Podfile: Add internal spec repo as source
  Podfile
  Podfile.lock
Labels: Tooling

#3837 Shipping Labels: local validation of address fields
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelAddressFormViewModelTests.swift
Labels: Shipping Labels

#3846 Products: Update navigation bar button behaviour
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
Labels: [Feat] Add/Edit Products, type: enhancement

#3849 Merge release/6.2 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3844 [Mobile payments] Add networking - plugins
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/SitePluginsMapper.swift
  Networking/Networking/Model/SitePlugin.swift
  Networking/Networking/Model/SitePluginStatusEnum.swift
  Networking/Networking/Remote/SitePluginsRemote.swift
  Networking/NetworkingTests/Mapper/SitePluginsMapperTests.swift
  Networking/NetworkingTests/Remote/SitePluginsRemoteTests.swift
  Networking/NetworkingTests/Responses/plugins.json
Labels: [Feat] Mobile Payments

#3847 [Mobile Payments] Process a payment
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/CardReader/PaymentIntentStatus.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentStatus+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/MockStripePaymentIntent.swift
  Hardware/HardwareTests/PaymentIntentTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: [Feat] Mobile Payments

#3848 Shipping Labels: open Apple Maps or Call the Customer if an error occurs in the address validation form
  WooCommerce/Classes/Model/ShippingLabelAddress+Woo.swift
  WooCommerce/Classes/Tools/MapsHelper.swift
  WooCommerce/Classes/Tools/PhoneHelper.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressTopBannerFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Shipping Labels

#3854 Merge release/6.3 into develop
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#3855 [Tooling] Mute fastlane's CHANGELOG and update check
  .circleci/config.yml
Labels: Tooling

#3861 Merge release/6.3 -> develop (Release Notes)
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#3859 [Mobile Payments] Bring docs up to date with current status of development
  docs/HARDWARE.md
  docs/YOSEMITE.md
  docs/architecture-overview.md
Labels: [Feat] Mobile Payments

#3852 [Mobile Payments] Add "Collect Payment" button to order details view
  WooCommerce/Classes/Model/OrderPaymentMethod.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: [Feat] Mobile Payments

#3866 Fix Unable to Delete Variations
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
Labels: [Feat] Add/Edit Products

#3860 Improve Jetpack query parameters syntax
  Networking/Networking/Requests/JetpackRequest.swift
  Networking/NetworkingTests/Extensions/MockNetwork+Path.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Yosemite/YosemiteTests/Mocks/MockNetwork+Path.swift
  Yosemite/YosemiteTests/Stores/ProductStore+FilterProductsTests.swift
  Yosemite/YosemiteTests/Stores/ProductStore+ProductsSortOrderTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: Jetpack, Networking

#3873 Merge release/6.3 (6.3.0.1) into develop
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#3856 [Mobile Payments] Model CardReaderServiceErrors
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/HardwareTests/ErrorCodesTests.swift
  docs/HARDWARE.md
  docs/YOSEMITE.md
  docs/architecture-overview.md
Labels: [Feat] Mobile Payments

#3875 Update API mock to expect new query syntax on /rest-api/
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/rest_api.json
Labels: UI Tests

#3872 Unify navigation bar back button styles
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/System/WooTabNavigationController.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/LicensesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogDetailViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecLinkFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Suggested Address/ShippingLabelSuggestedAddressViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/Add or Edit File/ProductDownloadFileViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/Settings/ProductDownloadSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddProductCategoryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/LinkedProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Catalog Visibility/ProductCatalogVisibilityViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Menu Order/ProductMenuOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Purchase Note/ProductPurchaseNoteViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Slug/ProductSlugViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibilityViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/RenameAttributesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: enhancement

#3874 Back button menu on product form screen
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: enhancement

#3878 Updating the Made By section
  README.md
Labels: Documentation

#3862 Networking models for parsing default and custom packages in Shipping Labels
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelPackagesMapper.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/ShippingLabelCustomPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelPackagesResponse.swift
  Networking/Networking/Model/ShippingLabel/Packages/ShippingLabelStoreOptions.swift
  Networking/NetworkingTests/Mapper/ShippingLabelPackagesMapperTests.swift
  Networking/NetworkingTests/Responses/shipping-label-packages-success.json
Labels: Networking, Shipping Labels

#3871 Shipping Labels: endpoint to fetch list of default and custom packages for a store
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/ShippingLabelCustomPackage.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: Networking, Shipping Labels

#3876 Update CircleCI script to fix wrong iOS sim usage
  .circleci/config.yml
  fastlane/Fastfile
Labels: Tooling, UI Tests, Unit Tests

#3851 Add variations announcement banner
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/URL+SurveyViewControllerTests.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: [Feat] Product List

#3867 Login: New Prologue Screens
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePageViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePages.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Resources/ColorPalette.xcassets/Gray0.colorset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-analytics.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-analytics.imageset/img-prologue-analytics-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-analytics.imageset/img-prologue-analytics-light.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-orders.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-orders.imageset/img-prologue-orders-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-orders.imageset/img-prologue-orders-light.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-products.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-products.imageset/img-prologue-products-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-products.imageset/img-prologue-products-light.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-reviews.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-reviews.imageset/img-prologue-reviews-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-reviews.imageset/img-prologue-reviews-light.pdf
  WooCommerce/Resources/Images.xcassets/prologue-curved-rectangle.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-curved-rectangle.imageset/prologue-curved-rectangle-light.pdf
  WooCommerce/Resources/Images.xcassets/prologue-slanted-rectangle.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-slanted-rectangle.imageset/prologue-slanted-rectangle.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: [Feat] Login

#3896 Large Titles: Update navigation bar loading color
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
Labels: type: enhancement
