Repository woocommerce/woocommerce-ios, pull requests merged in 2021-05, with the labels that each got.

#4093 Run all unit tests in English (US) by default
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
Labels: Localization, Tooling, type: enhancement

#4103 Coupon Management - Yosemite: CouponStore registration
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
Labels: Coupons

#4105 [Tooling] Fix code_freeze lane
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#4080 AddOns: Add AddOnGroup networking support
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/AddOnGroupMapper.swift
  Networking/Networking/Model/AddOnGroup.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/AddOnGroupRemote.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  Networking/NetworkingTests/Mapper/AddOnGroupMapperTests.swift
  Networking/NetworkingTests/Remote/AddOnGroupRemoteTests.swift
  Networking/NetworkingTests/Responses/add-on-groups.json
Labels: [Feat] Order Details

#4100 AddOns: Adds Storage support for global add-ons
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/AddOnGroup+CoreDataClass.swift
  Storage/Storage/Model/AddOnGroup+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ProductAddOn+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 49.xcdatamodel/contents
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/AddOnGroup+ReadOnlyConvertible.swift
Labels: [Feat] Order Details

#4102 Add-ons: Adds AddOnGroup Yosemite store
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AddOnGroupAction.swift
  Yosemite/Yosemite/Stores/AddOnGroupStore.swift
  Yosemite/YosemiteTests/Stores/AddOnGroupStoreTests.swift
Labels: [Feat] Order Details

#4104 Add-ons: Show global add-ons on order's items.
  WooCommerce/Classes/ViewModels/Order Details/AddOns/AddOnCrossreferenceUseCase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/AddOnCrossreferenceTests.swift
Labels: [Feat] Order Details

#4081 [Mobile Payments] Add VM for the no-known no-connected readers state
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentedViewViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReader.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsUnknownViewModelTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: [Feat] Mobile Payments

#4108 [Mobile Payments] Card Reader Settings 2-4: Add VM for when a reader is connected
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
Labels: [Feat] Mobile Payments

#4106 Merge release/6.6 into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#4110 [Mobile Payments] Add auxiliary button to modal view
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalRemoveCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewControllerTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#4115 [Mobile Payments] Modal view: Add support for device rotation
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: [Feat] Mobile Payments

#4121 [Mobile Payments] Orchestrate payment capture and submit Payment Intent ID to WCPay
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: [Feat] Mobile Payments

#4123 [Mobile Payments] Card Reader Settings V2-5: Register viewmodels
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentedViewViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPrioritizedViewModelsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsViewModelsOrderedList.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4118 Plugins: Add new entity SitePlugin to Storage
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/SitePlugin+CoreDataClass.swift
  Storage/Storage/Model/SitePlugin+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 50.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: category: architecture, category: woo extensions, feature: app settings

#4127 [Mobile Payments] Sample Receipt Printer App
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/SampleReceiptPrinter/Info.plist
  Hardware/SampleReceiptPrinter/ReceiptSettingsView.swift
  Hardware/SampleReceiptPrinter/SampleContent.swift
  Hardware/SampleReceiptPrinter/SampleReceiptPrinterApp.swift
  Hardware/SampleReceiptPrinter/ServiceLocator.swift
  Podfile
  Podfile.lock
Labels: category: tooling, feature: mobile payments, type: enhancement

#4120 [Mobile Payments] Refactor discoveredReaders publisher to clean up when discovery ends
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments, type: task

#4128 [Mobile Payments] Implement support for emailing a receipt right after a payment has been captured
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  Yosemite/Yosemite/Actions/ReceiptAction.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
Labels: feature: mobile payments

#4133 [Mobile Payments] Fix hardcoded date in receipts
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
Labels: feature: mobile payments

#4130 [Mobile Payments] Pass customer email when creating a payment intent
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
Labels: feature: mobile payments

#4109 Coupon Management: List - CouponListViewController
  WooCommerce/Classes/Tools/SyncCoordinator.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementListViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/MockSyncingCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponManagementListViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
Labels: feature: coupons

#4119 Add-ons: Enable feature through the beta features screen
  CodeGeneration/Sourcery/Copiable/Storage-Copiable.sourcery.yaml
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: order details

#4141 Merge release/6.6 into develop
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#4124 Update the label name for generating screenshots
  .github/workflows/screenshots.yml
Labels: category: screenshots

#4135 Plugins: Add new feature flag and add new entry point for plugin list on Settings screen
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: category: woo extensions, feature: app settings

#4132 Plugins: Update Yosemite with SitePluginAction and SitePluginStore
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/SitePlugin.swift
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/SitePluginAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/SitePlugin+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/SitePluginStore.swift
  Yosemite/YosemiteTests/Stores/SitePluginStoreTests.swift
Labels: category: woo extensions, feature: app settings

#4144 [Mobile Payments] 2-6 Add No Known No Connected Readers ViewController
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4145 [Mobile Payments] Card Reader Settings 2-10: Populate the connected card reader in the connected view controller
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsViewModelPresenter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4138 Shipping Labels: Networking layer to check shipping label creation eligibility for an order
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelCreationEligibilityMapper.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelCreationEligibilityResponse.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Mapper/ShippingLabelCreationEligibilityMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-eligibility-failure.json
  Networking/NetworkingTests/Responses/shipping-label-eligibility-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
Labels: feature: shipping labels, status: feature-flagged

#4139 [Mobile Payments] Add user-facing message to indicate payment is being processed
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalProcessing.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4140 [Mobile Payments] Disconnect from reader
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: feature: mobile payments

#4153 Fix storage tests inconsistent order
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
Labels: category: unit tests

#4134 Add-ons: Add track events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnsListViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/OrderAddOnListI1Tests.swift
Labels: category: analytics, feature: order details

#4157 [Mobile Payments] Hook up disconnect button
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4162 [Mobile Payments] Card Reader Settings 2-8 Start/Cancel Reader Discovery
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentedViewViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
Labels: feature: mobile payments

#4147 [Mobile Payments] Reset Stripe Terminal SDK when logging out and/or switching stores
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments

#4148 [Mobile Payments] Refresh order after completing mobile payment
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: mobile payments

#4166 [Mobile Payments] Improve layout of printed receipts for roll paper
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/SampleReceiptPrinter/SampleContent.swift
Labels: feature: mobile payments, type: enhancement

#4170 [Mobile Payments] Settings 2-8b: Swap out scanning alert with new modal
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningForReader.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning.svg
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: mobile payments

#4179 [Mobile Payments] Simplify card reader connection result handling
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: feature: mobile payments, type: enhancement

#4177 [Mobile Payments] Saved receipts mark II: Yosemite
  Hardware/Hardware/CardReader/CardBrand.swift
  Hardware/Hardware/CardReader/CardPresentTransactionDetails.swift
  Hardware/Hardware/CardReader/ReceiptDetails.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  Hardware/Hardware/Printer/ReceiptContent.swift
  Hardware/Hardware/Printer/ReceiptLineItem.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite/Actions/ReceiptAction.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: feature: mobile payments

#4172 [Mobile Payments] Card Reader Settings 2-9: Hook up card reader connect
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingToReader.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalFoundReader.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/card-reader-found-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/card-reader-found.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: mobile payments

#4181 [Mobile Payments] Add "See Receipt" button to order details screen
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: mobile payments

#4156 Plugins: Add table view and populate data to Plugin List screen
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HeadlineLabelTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/SitePluginListViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: app settings

#4158 Plugins: Manually re-synchronize plugins
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewModel.swift
  WooCommerce/Resources/Images.xcassets/woo-plugins-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-plugins-error.imageset/woo-plugins-error-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-plugins-error.imageset/woo-plugins-error-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/SitePluginListViewModelTests.swift
Labels: feature: app settings

#4185 [Mobile Payments] Use Sink subscriber for resetting card reader service
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments, type: enhancement

#4186 [Mobile Payments] Improve publisher subscription management for payment collection
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4188 [Mobile Payments] Improve combine subscriptions for card reader software updates
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4187 [Mobile Payments] Receipt details view
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/ReceiptViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/ReceiptViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: mobile payments

#4184 [Mobile Payments] Settings 2-7: Tint and link learn more to web view
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LearnMoreTableViewCell.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/NumberedListItemTableViewCell.xib
Labels: feature: mobile payments

#4196 [Mobile Payments] Card Reader Settings: Allow for priority viewmodelandview to be nil
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsViewModelsOrderedList.swift
Labels: feature: mobile payments

#4189 [Mobile Payments] Pair to reader when collecting a payment and a reader is not paired
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments

#4202 [Mobile Payments] Prevent retain cycles when presenting Card Reader Settings V2
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsViewModelsOrderedList.swift
Labels: feature: mobile payments, status: feature-flagged, type: bug

#4199 Remove v1 card reader settings
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsConnectedReaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReaders/CardReaderSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4180 [Mobile Payments] Return a future when canceling card reader discovery
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: feature: mobile payments, type: enhancement

#4203 Merge release/6.6 final into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#4178 Shipping Labels: display and pass the package details info into the creation form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: feature: shipping labels

#4207 [Mobile Payments] Add cancel buttons to payment collection modals. Add payment collection cancellation
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalRemoveCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewControllerTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments

#4209 Bump deployment target to iOS 14.0
  Fakes/Fakes.xcodeproj/project.pbxproj
  Networking/Networking.xcodeproj/project.pbxproj
  Observables/Package.swift
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  TestKit/Package.swift
  WooCommerce/Classes/Extensions/UIViewController+AppReview.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: type: enhancement

#4143 Shipping Labels: Yosemite and UI changes to check shipping label creation eligibility for an order from remote
  WooCommerce/Classes/System/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4211 Shipping Labels: added the endpoint for getting Carriers and Rates
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Array+Woo.swift
  Networking/Networking/Mapper/ShippingLabelCarriersAndRatesMapper.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarrierRate.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarriersAndRates.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelPackageSelected.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/ShippingLabelCustomPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedPackage.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-carriers-and-rates-success.json
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
Labels: feature: shipping labels

#4212 Shipping Labels: Carriers and Rates in Yosemite Layer
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels

#4208 [Mobile Payments] Add first set of metadata to the payment intent
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/HardwareTests/PaymentIntentMetadataTests.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
Labels: feature: mobile payments

#4215 Fix TestFlight packaging (nested frameworks due to Xcode 12.4 bug)
  Fakes/Fakes.xcodeproj/project.pbxproj
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: category: tooling

#4216 Merge release/6.7 into develop (after first beta)
  Fakes/Fakes.xcodeproj/project.pbxproj
  Gemfile.lock
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/Resources/en.lproj/Localizable.strings
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/Pluginfile
  fastlane/download_metadata.swift
Labels: Releases

#4197 Make label name search less specific
  .github/workflows/screenshots.yml
Labels: generate screenshots

#4192 Cleanup OrderStatusStore and ReportRemote
  Networking/Networking/Remote/ReportRemote.swift
  Networking/NetworkingTests/Remote/ReportRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTabbedViewModel.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite/Actions/OrderStatusAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderStatusActionHandler.swift
  Yosemite/Yosemite/Stores/OrderStatusStore.swift
  Yosemite/YosemiteTests/Stores/OrderStatusStoreTests.swift
Labels: feature: order list, type: technical debt

#4213 [Mobile Payments] Tracks events for receipts
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/Printer/AirPrintReceipt/AirPrintReceiptPrinterService.swift
  Hardware/Hardware/Printer/PrinterService.swift
  Hardware/Hardware/Printer/PrintingResult.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  Yosemite/Yosemite/Actions/ReceiptAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockReceiptPrinterService.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: category: analytics, feature: mobile payments, status: feature-flagged, type: enhancement

#4231 [Mobile Payments] Allow card reader modals to use the tab bar controller for presentation
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: feature: mobile payments

#4230 [Mobile Payments] Tracks events for email receipts (take 2)
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: category: analytics, feature: mobile payments, status: feature-flagged, type: enhancement

#4238 [Mobile Payments] Fix receipt printing
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
Labels: feature: mobile payments

#4233 [Mobile Payments] Tracks events for collecting payment
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: category: analytics, feature: mobile payments, status: feature-flagged, type: enhancement

#4242 [Mobile Payments] Fix a broken test
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessTests.swift
Labels: feature: mobile payments

#4239 Merge release/6.7 to develop - Release Notes
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: category: releases

#4244 [Mobile Payments] Tracks events for reader discovery and connection
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: category: analytics, feature: mobile payments, status: feature-flagged, type: enhancement

#4246 [Mobile Payments] Include battery level on reader connection event
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
Labels: category: analytics, feature: mobile payments, status: feature-flagged, type: enhancement

#4229 Shipping Labels: basic UI for Carriers and Rates
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ShimmerModifier.swift
  WooCommerce/Resources/Images.xcassets/shipping-label-fedex-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-fedex-logo.imageset/FedEx logo.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-ups-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-ups-logo.imageset/UPS logo.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-usps-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-usps-logo.imageset/USPS logo.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#4240 [Mobile Payments] Parse and rename eligibility flag
  Networking/Networking/Model/WCPayAccount.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/SettingsViewController.swift
Labels: feature: mobile payments

#4257 [Mobile Payments] Beta: Request and parse the card_present_eligible flag
  Networking/Networking/Model/WCPayAccount.swift
  Networking/Networking/Remote/WCPayRemote.swift
Labels: feature: mobile payments

#4249 Removed ShimmerModifier class and included SwiftUI-Shimmer using SPM
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ShimmerModifier.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#4245 Shipping Labels: substituted `VStack` with `LazyVStack` in SwiftUI views
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
Labels: feature: shipping labels

#4256 Shipping Labels: UI for selecting a payment method
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndToggleRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4251 Update processing orders badge logic
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: feature: order list

#4252 Remove duplicated actions and models for OrderCount and OrderCountItem
  Fakes/Fakes/Fakes.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/OrderCountMapper.swift
  Networking/Networking/Model/OrderCount.swift
  Networking/Networking/Model/OrderCountItem.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/orders-count.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/OrderCount+CoreDataClass.swift
  Storage/Storage/Model/OrderCount+CoreDataProperties.swift
  Storage/Storage/Model/OrderCountItem+CoreDataClass.swift
  Storage/Storage/Model/OrderCountItem+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 51.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/ReadOnly/OrderCount+ReadOnlyType.swift
  Yosemite/Yosemite/Model/Storage/OrderCount+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderCountItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: technical debt

#4261 [Mobile Payments] Remove unreferenced fancy alert
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+Payments.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4262 [Mobile Payments] Ensure amounts in receipts always show two decimal numbers
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4214 Products: Provide option to create a virtual product
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/ProductFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommandTests.swift
Labels: feature: add/edit products, feature: product details

#4226 Add quick check for nested frameworks
  Scripts/check-nested-frameworks.sh
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#4273 [Mobile Payments] Fix Email receipt not being presented
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessTests.swift
Labels: feature: mobile payments

#4281 Update release toolkit to 1.0.1 in release branch
  Gemfile.lock
  fastlane/Pluginfile
Labels: category: tooling

#4277 [Mobile Payments] Observe connected readers correctly when initiating payment
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments, status: feature-flagged, type: bug

#4285 [Mobile Payments] Hardware: Remove codesigning identity and bump deployment target
  Hardware/Hardware.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4289 [Mobile Payments] Show an alert if the app can't use Bluetooth
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningFailed.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsUnknownViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Stripe Integration Tests/StripeCardReaderIntegrationTests.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments, status: feature-flagged, type: bug

#4288 [Tooling] Auto-update release toolkit
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#4290 Merge release/6.7 back to develop (6.7.0.1 beta)
  Gemfile.lock
  Networking/Networking/Model/Product/ProductAddOnEnvelope.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases, category: releases

#4302 [Mobile Payments] Improve Bluetooth permission error
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningFailed.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4292 [Mobile Payments] Fix text being clipped in modal alerts
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: feature: mobile payments

#4274 Shipping Labels: display carrier and rates information, and allow the selection
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarrierRate.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarrierRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriersViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: shipping labels

#4275 Shipping Labels: unit tests of view models in Carriers and Rates
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriersViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockShippingLabelCarrierRate.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelCarrierRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelCarriersViewModelTests.swift
Labels: feature: shipping labels

#4291 Shipping Labels: handle the value selected in Carrier and Rates
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriersViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelCarriersViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
Labels: feature: shipping labels

#4286 [Mobile Payments] Play sound and activate Taptic feedback when a payment is completed successfully
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureCelebration.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#4307 [Mobile Payments] Improve user facing errors
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningFailed.swift
Labels: feature: mobile payments, status: feature-flagged, type: enhancement

#4310 Shipping Labels: Add endpoint to update shipping label account settings
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAccountSettings.swift
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: shipping labels, status: feature-flagged

#4293 Add-ons: Show "View Add-Ons" button in product list from order product detail.
  WooCommerce/Classes/ViewModels/Order Details/AddOns/AddOnCrossreferenceUseCase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/PickListTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/ProductListViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/AddOnCrossreferenceTests.swift
Labels: feature: order details

#4308 Add-ons: Give Feedback button in the announcement banner is trimmed
  WooCommerce/Classes/ViewRelated/Orders/Order Details/AddOns/OrderAddOnTopBanner.swift
  WooCommerce/Classes/ViewRelated/Top Banner/TopBannerView.swift
Labels: feature: order details

#4317 [Mobile Payments] Set NSLocationDefaultAccuracyReduced to true
  WooCommerce/Resources/Info.plist
Labels: feature: mobile payments

#4318 Add-ons: Allow product encoding to continue after add-ons decoding fail
  Networking/Networking/Model/Product/Product.swift
Labels: feature: product details, type: crash

#4319 Merge release/6.7 into develop
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#4328 Release/6.8
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases, category: releases
