Repository woocommerce/woocommerce-ios, pull requests merged in 2022-05, with the labels that each got.

#6760 Order Details: Reload navigation bar when needed
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details

#6759 Merge 9.0 final to trunk
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6747 IPP Analytics: track event when an Interac refund is canceled
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Refund/RefundSubmissionUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Mocks/MockOrderDetailsPaymentAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/RefundSubmissionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
Labels: feature: mobile payments, category: analytics

#6738 IPP: capture payment on the server side in parallel to waiting for card removal
  Hardware/Hardware/CardReader/CardReaderEvent.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: feature: mobile payments

#6765 Merge 9.1 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#6763 Order Creation: Percentage fee - preview amount, disable on editing
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeLineDetailsViewModelTests.swift
Labels: feature: order creation

#6755 [Mobile Payments] Handle payment amount under minimum value
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/PaymentCaptureOrchestratorTests.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: feature: mobile payments

#6764 Order Creation: Do not prefill initial amount for new shipping line
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
Labels: feature: order creation

#6761 [Mobile Payments] Show Onboarding if not complete when tapping `Collect Payment` on Order Details
  WooCommerce/Classes/ViewModels/Order Details/CardPaymentReadinessUseCase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#6748 Move `Main` and `LaunchScreen` storyboards outside of `Base.lproj`
  WooCommerce/Classes/ViewRelated/LaunchScreen.storyboard
  WooCommerce/Classes/ViewRelated/Main.storyboard
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#6750 Coupons: Add category selector
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryList.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/Selector/ProductCategorySelector.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/Selector/ProductCategorySelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelector.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Categories/ProductCategoryListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Categories/ProductCategorySelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductCategoryListViewModelTests.swift
Labels: type: task, feature: coupons

#6770 [Mobile Payments] Check reader connection in Card Present Payments readiness
  WooCommerce/Classes/ViewModels/Order Details/CardPresentPaymentsReadinessUseCase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: type: enhancement, feature: mobile payments

#6769 [Mobile Payments] Charge flat $0.15 fee on PaymentIntent in Canada
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/PaymentCaptureOrchestratorTests.swift
Labels: type: task, feature: mobile payments

#6771 IPP Analytics: add `card_reader_model` event prop to email/print receipt events after collecting a payment
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptActionCoordinator.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockOrderDetailsPaymentAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/ReceiptActionCoordinatorTests.swift
Labels: feature: mobile payments, category: analytics

#6773 [Mobile Payments] Define smallestCurrencyUnitMultiplier per currency in CardPresentPaymentsConfiguration
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/PaymentCaptureOrchestratorTests.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: type: task, feature: mobile payments

#6772 [In-person refunds] Allow retry after failure fetching refund charge details
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: type: task, feature: refunds

#6774 [Mobile Payments] Show onboarding in Simple Payments when required
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentsOnboardingPresenter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsOnboardingPresenter.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#6776 Order Creation: Update banner text on Orders tab
  WooCommerce/Classes/ViewRelated/Orders/OrdersTopBannerFactory.swift
Labels: feature: order creation

#6742 Set the right timezone when setting the expire date of a Coupon
  Networking/Networking/Extensions/Encodable+Serialization.swift
  Networking/Networking/Model/Coupon.swift
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Mapper/CouponListMapperTests.swift
  Networking/NetworkingTests/Mapper/CouponMapperTests.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/CouponExpiryDateView.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons

#6752 Edit Coupon: fields formatting, validation and errors management
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/Coupon Text Validators/CouponAmountInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/Coupon Text Validators/CouponCodeInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponAllowedEmails.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndTextFieldRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponAmountInputFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponCodeInputFormatterTests.swift
Labels: type: task, feature: coupons

#6775 Coupon Editing: set optional values in the coupon model under the storage layer
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Coupon+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 68.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite/Model/Storage/Coupon+ReadOnlyConvertible.swift
Labels: type: task, feature: coupons

#6777 Order Creation: Always display taxes row and $0.00 value
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6784 Coupons: Update button titles on Coupon Restrictions screen to reflect the number of selected items
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponRestrictionsViewModelTests.swift
Labels: type: task, feature: coupons

#6785 Category Selector: Add search bar and clear selection button
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryList.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/Selector/ProductCategorySelector.swift
Labels: type: task, feature: coupons

#6768 Product Details: Fix status badge layout
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.xib
Labels: feature: product details

#6735 Display error feedback when submitting Shipping Label Address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewModel.swift
Labels: feature: shipping labels

#6788 Merge 9.1 release notes to trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#6786 Category selector: Handle search query
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Categories/ProductCategoryListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductCategoryListViewModelTests.swift
Labels: type: task, feature: coupons

#6789 [Mobile Payments] Show onboarding when required during card present refunds
  WooCommerce/Classes/ViewModels/Order Details/CardPresentPaymentsReadinessUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Refund/RefundSubmissionUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsOnboardingPresenter.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/RefundSubmissionUseCaseTests.swift
Labels: type: enhancement, feature: refunds, feature: mobile payments

#6808 [Mobile Payments] Perform card-present refund onboarding check earlier
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
Labels: type: enhancement, feature: mobile payments

#6800 Coupons: Filter initial search results by site ID
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponSearchUICommand.swift
Labels: type: bug, feature: coupons

#6797 Optimize search view controller to prevent redundant search requests
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: type: enhancement

#6806 Coupon Editing: update remotely products, categories, excluded products and excluded categories
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: feature: coupons

#6795 Add Copiable and Fakeable support to Hardware framework
  CodeGeneration/Sourcery/Copiable/Hardware-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Fakes/Fakes.swifttemplate
  CodeGeneration/Sourcery/Fakes/Hardware-Fakes.yaml
  Fakes/Fakes.xcodeproj/project.pbxproj
  Fakes/Fakes/Fake.swift
  Fakes/Fakes/Hardware.generated.swift
  Fakes/Fakes/Networking.generated.swift
  Fakes/Fakes/Yosemite.generated.swift
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardBrand.swift
  Hardware/Hardware/CardReader/CardPresentTransactionDetails.swift
  Hardware/Hardware/CardReader/Charge.swift
  Hardware/Hardware/CardReader/ChargeStatus.swift
  Hardware/Hardware/CardReader/PaymentIntent.swift
  Hardware/Hardware/CardReader/PaymentIntentStatus.swift
  Hardware/Hardware/CardReader/PaymentMethod.swift
  Hardware/Hardware/Model/Copiable/Models+Copiable.generated.swift
  Rakefile
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPaymentIntent.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  docs/copiable.md
  docs/fakeable.md
Labels: type: technical debt

#6793 Fix two flaky test cases in local runs
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/WooCommerceTests/Model/AddManualCustomTrackingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: category: unit tests

#6671 Fix a memory issue where `IssueRefundViewController` and `RefundConfirmationViewController` are not deallocated after the refund flow
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundCoordinatingController.swift
Labels: type: technical debt

#6816 Analytics: track time range instead of granularity for 4 dashboard events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Dashboard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: stats, category: analytics

#6810 [Mobile Payments] Refresh onboarding during pull-to-refresh
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentsOnboardingPresenter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsOnboardingPresenter.swift
Labels: type: enhancement, feature: order details, feature: mobile payments

#6809 Coupons: Update analytics for M2
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Tools/UnitInputFormatter/PriceInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/Coupon Text Validators/CouponAmountInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/CouponExpiryDateView.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/PriceInputFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponAmountInputFormatterTests.swift
Labels: category: analytics, feature: coupons

#6811 Bump Kingfisher pod to version 7.2.2
  Podfile
  Podfile.lock
Labels: category: tooling

#6826 [Orders list] Remove extra space on top of Orders table view when dismissing feedback banner and login out
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: type: bug, feature: order list

#6815 HF: Add error messages when orders fail to sync
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: type: enhancement, feature: order creation

#6822 Reset simulated reader argument to NO
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: type: task, feature: mobile payments

#6829 Order Creation: Track when new order fails to sync remotely
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: category: analytics, feature: order creation

#6827 [Mobile Payments] Add support to "stripe" payment method id
  WooCommerce/Classes/Model/OrderPaymentMethod.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: bug, feature: mobile payments

#6812 Bump KeychainAccess pod to version 4.2.2
  Podfile
  Podfile.lock
Labels: category: tooling

#6846 Revert "6607 Remove Collect Payment gateway account check"
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentsOnboardingPresenter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: mobile payments

#6813 Bump CocoaLumberjack pod to version 3.7.4
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
Labels: category: tooling

#6849 Coupons: Fix issue clearing all items on the category selector screen
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Categories/ProductCategoryListViewModelTests.swift
Labels: type: bug, feature: coupons

#6817 Replace mock `PaymentIntent` in YosemiteTests
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockPaymentIntent.swift
  Yosemite/YosemiteTests/Model/Extensions/PaymentIntent+ReceiptParametersTests.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: category: unit tests

#6831 Coupons: Add Limit section missing fields to Coupon Details
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: feature: coupons

#6847 [Mobile Payments] Replace calls to checkCardReaderConnected
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Refund/RefundSubmissionUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/RefundSubmissionUseCaseTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: type: task, feature: mobile payments

#6852 Coupons: Fix issues listing search results on category selector
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryViewModelBuilder.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Categories/ProductCategoryListViewModelTests.swift
Labels: type: bug, feature: coupons

#6848 Edit Coupon: remove expiration date remotely passing an empty string
  Networking/Networking/Model/Coupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
Labels: type: bug, feature: coupons

#6853 Enable feature flags for coupon deletion and editing
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: coupons

#6843 Coupons: Enable Save button on Edit Coupon screen only when there are changes made
  Networking/Networking/Model/Coupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: type: enhancement, feature: coupons

#6862 Merge 9.1 into trunk
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6830 Merge 9.1.0.1 to trunk
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6818 Mark order as paid locally after successful client side processing for Interac payments
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#6833 Order Details: add email action to `See Receipt` screen
  Fakes/Fakes/Hardware.generated.swift
  Hardware/Hardware/Model/Copiable/Models+Copiable.generated.swift
  Hardware/Hardware/Printer/CardPresentReceiptParameters.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/ReceiptViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentReceiptEmailCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentPaymentReceiptEmailCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/ReceiptViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#6864 Fix unnecessary stats API requests after switching stores
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
Labels: type: bug, feature: stats, category: performance

#6805 [Mobile Payments] Extract order Card Payment Method eligibility logic
  WooCommerce/Classes/Extensions/Order+CardPresentPayment.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Order+CardPresentPaymentTests.swift
Labels: type: enhancement, feature: mobile payments, feature: simple payments

#6878 Merge 9.2 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#6879 Update logic to download localized metadata from App Store Connect
  fastlane/Fastfile
  fastlane/metadata/ar-SA/.gitkeep
  fastlane/metadata/de-DE/.gitkeep
  fastlane/metadata/default/.gitkeep
  fastlane/metadata/en-US/.gitkeep
  fastlane/metadata/en-US/description.txt
  fastlane/metadata/en-US/keywords.txt
  fastlane/metadata/en-US/name.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/en-US/subtitle.txt
  fastlane/metadata/es-ES/.gitkeep
  fastlane/metadata/fr-FR/.gitkeep
  fastlane/metadata/he/.gitkeep
  fastlane/metadata/id/.gitkeep
  fastlane/metadata/it/.gitkeep
  fastlane/metadata/ja/.gitkeep
  fastlane/metadata/ko/.gitkeep
  fastlane/metadata/nl-NL/.gitkeep
  fastlane/metadata/pt-BR/.gitkeep
  fastlane/metadata/ru/.gitkeep
  fastlane/metadata/sv/.gitkeep
  fastlane/metadata/tr/.gitkeep
  fastlane/metadata/zh-Hans/.gitkeep
  fastlane/metadata/zh-Hant/.gitkeep
Labels: category: tooling, category: i18n

#6888 Align to leading when there is more than one line
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
Labels: type: bug, category: i18n, feature: simple payments

#6891 Update PriceInputFormatter to support Arabic numerals
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/UnitInputFormatter/PriceInputFormatter.swift
  WooCommerce/WooCommerceTests/Tools/PriceInputFormatterTests.swift
Labels: type: bug, feature: coupons

#6894 [Order Editing] Make notes in order details selectable/copiable
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerNoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteTableViewCell.xib
  WooCommerce/WooCommerceTests/ViewRelated/CustomerNoteTableViewCellTests.swift
Labels: feature: order details

#6900 Coupons: Fix text color on coupon status label
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/StatusView.swift
Labels: type: bug, feature: coupons

#6899 Product Selector: Enable selecting all varations for variable product rows
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelector.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: enhancement, feature: coupons

#6895 Fetch order asynchronously after collecting a Simple Payment successfully
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: type: bug, feature: mobile payments

#6911 Coupons: Fix weird animation on Edit Coupon screen when tapping Save button
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
Labels: type: bug, feature: coupons

#6821 Edit test coverage list
  docs/UI-TESTS.md
Labels: category: ui tests, type: documentation, feature: order creation

#6869 Readers details to support dynamic font size
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTableViewCells/ConnectedReaderTableViewCell.xib
Labels: category: accessibility, feature: mobile payments

#6886 Dynamic font size on connection manual screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsLearnMore.swift
Labels: category: accessibility, feature: mobile payments

#6907 [Refunds] Refunds is not possible with certain configurations
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundItemsValuesCalculationUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundItemsValuesCalculationUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundProductsTotalViewModelTests.swift
Labels: type: bug, feature: refunds

#6906 Mobile payments support for dynamic type in the payment success modal
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: status: do not merge, category: accessibility, feature: mobile payments

#6908 [Mobile Payments] Add a Cancel button to the Card Reader Found modal
  WooCommerce/Classes/Extensions/UIButton+Helpers.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalFoundReader.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalFoundReaderTests.swift
Labels: type: enhancement, feature: mobile payments, category: parity

#6889 Coupons: add coupon discard alert
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
Labels: feature: coupons

#6922 [Mobile Payments] Change text after card payment
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlertsProtocol.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockOrderDetailsPaymentAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmailTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/MockCollectOrderPaymentUseCase.swift
Labels: type: enhancement, feature: mobile payments, category: parity

#6927 Shipping Labels Onboarding M1 feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: shipping labels

#6925 Dashboard: only show refresh control on the syncing time range tab
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: feature: stats

#6926 Dashboard: remove unused code for stats version check and settings
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/StatsVersionBySite.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockStatsVersionStoresManager.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+StatsVersion.swift
Labels: feature: stats

#6934 Change CouponCodeInputFormatter to use lowercase
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/Coupon Text Validators/CouponCodeInputFormatter.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponCodeInputFormatterTests.swift
Labels: feature: coupons

#6946 Display more than 2 error lines when needed on Login errors
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
Labels: type: bug, feature: login

#6941 Dashboard: fix syncing behavior when selecting a time range tab that is not next to the current tab
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: type: bug, feature: stats

#6924 Coupons: Hide limit usage to X Items when discount type is fixed cart
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponRestrictionsViewModelTests.swift
Labels: feature: coupons

#6935 Coupons: Simplify title for Edit Coupon view and enable updating discount type
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/BottomSheet/BottomSheetListSelector.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/DiscountTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Resources/Images.xcassets/icon-fixed-cart-discount.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-fixed-cart-discount.imageset/icon-fixed-cart-discount.pdf
  WooCommerce/Resources/Images.xcassets/icon-fixed-product-discount.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-fixed-product-discount.imageset/icon-fixed-product-discount.pdf
  WooCommerce/Resources/Images.xcassets/icon-percentage-discount.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-percentage-discount.imageset/icon-percentage-discount.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/DiscountTypeBottomSheetListSelectorCommandTests.swift
Labels: type: enhancement, feature: coupons

#6948 Fix warnings in xcode 13.3.1
  WooCommerce/Classes/Extensions/UIViewController+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/Add or Edit File/ProductDownloadFileViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SegmentedView.swift
Labels: type: task

#6954 [Mobile Payments] Enable Moose on the Loose for all merchants
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Tools/In-Person Payments/CardPresentConfigurationLoader.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/Extensions/Order+CardPresentPaymentTests.swift
  WooCommerce/WooCommerceTests/Tools/In-Person Payments/CardPresentConfigurationLoaderTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/RefundSubmissionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsSearchingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: mobile payments

#6953 Coupons: Enhance coupon date picker
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/CouponExpiryDateView.swift
Labels: feature: coupons

#6955 [Mobile Payments] Enhanced deeplinking from IPP onboarding
  WooCommerce/Classes/Extensions/Site+PluginsURL.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsDeactivateStripeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginConflictAdminView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginConflictShopManagerView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/SitePluginsURLTests.swift
Labels: type: enhancement, feature: mobile payments

#6949 Order Creation: Make sure remote sync uses the updated order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
Labels: feature: order creation

#6974 Order Creation: Make UI immediately respond to additive changes to new order
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6975 Merge 9.2 final to trunk
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6985 Merge 9.3 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#6951 Orders tab: adapt to various screens sizes for iPad split view support in iOS 15
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: bug, category: tablet

#6996 [Order Details] Display date and time in the order details screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
Labels: feature: order details

#6939 Cleanup unused code after metadata localization tooling upgrade
  fastlane/Fastfile
  fastlane/download_metadata.swift
Labels: category: tooling, category: i18n

#6963 Attempt to fix review details not shown after tapping a push notification
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: type: bug, feature: review list

#6995 [Mobile Payments] Add feature flag for IPP gateway selection
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: mobile payments

#7002 [Mobile Payments] Show Card payment method using order eligibility
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/Order+CardPresentPaymentTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: type: enhancement, feature: mobile payments, feature: simple payments

#6999 Orders: Use same color for "Create order" and "Simple payment" icons in orders bottom sheet
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
Labels: feature: order creation

#7001 [Mobile Payments] Break Yosemite dependency in woo foundation
  WooCommerce/Classes/Tools/Shared Site Settings/SelectedSiteSettings.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormListViewModel.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Currency/CurrencyCode.swift
  WooFoundation/WooFoundation/Currency/CurrencyFormatter.swift
  WooFoundation/WooFoundation/Currency/CurrencySettings.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: category: tooling, type: technical debt, feature: mobile payments

#6997 [Mobile Payments] Add setting for preferred payment gateway
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralStoreSettingsTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: mobile payments

#7017 Merge 9.3 release notes to trunk
  Gemfile.lock
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases
