Repository woocommerce/woocommerce-ios, pull requests merged in 2022-07, with the labels that each got.

#7182 Improve AddEditCouponViewModelTests with amount validation scenarios
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: feature: coupons

#7148 [Order Details] Add tracking: shipmentProvider shouldn't be saved on dismissal
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
Labels: feature: order details

#7156 [Order Details] Add tracking: Implement "Discard changes" ActionSheet
  WooCommerce/Classes/ViewModels/ManualTrackingViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
Labels: feature: order details

#7184 Add new feature flag for IPP reader manuals consolidation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: enhancement, feature: mobile payments, category: parity

#7179 Update product ID in product image interface to `ProductOrVariationID` to support product variations
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/ServiceLocator/LegacyProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductVariationDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewController+ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
Labels: type: task, feature: add/edit products, status: feature-flagged

#7190 Remove unnecessary method and calls
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: type: technical debt, feature: mobile payments

#7189 [Order Creation] Add unit test coverage for view models in the Customer section
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CreateOrderAddressFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: category: unit tests, feature: order creation

#7180 Yosemite and Networking support for updating a product variation's image
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Yosemite/Yosemite/Actions/ProductVariationAction.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: type: enhancement, feature: add/edit products, feature: variation details

#7144 Shipping Labels Onboarding: first CTA screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/WCShip Installation Process/WCShipCTAView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/IconListItem.swift
  WooCommerce/Resources/Images.xcassets/icon-circular-document.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-circular-document.imageset/icon-circular-document.pdf
  WooCommerce/Resources/Images.xcassets/icon-circular-rate-discount.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-circular-rate-discount.imageset/icon-circular-rate-discount.pdf
  WooCommerce/Resources/Images.xcassets/icon-circular-time.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-circular-time.imageset/icon-circular-time.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: shipping labels

#7177 [Product List] Removed productsVariationsFeedback and surveys
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: feature: product list

#7205 Coupons: Check changes in coupon creation
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: type: bug, feature: coupons

#7195 Background image upload: product variation support
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockProductImageActionHandler.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+SaveTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
Labels: type: enhancement, feature: add/edit products, feature: variation details, status: feature-flagged

#7197 [Unified Order Editing] Handle Multiple Shipping Lines
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformerTests.swift
Labels: feature: review details

#7118 [UITII] Bumped ScreenObject dependency version to 0.2.1
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: category: ui tests

#7210 Coupons: Fix issue loading coupon list after creation
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
Labels: type: bug, feature: coupons

#7196 Background image upload: analytics events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ImageUpload.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ServiceLocator/NoticePresenter.swift
  WooCommerce/Classes/Tools/Notices/DefaultNoticePresenter.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Edit Attributes/EditAttributesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockNoticePresenter.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
Labels: type: enhancement, category: analytics

#7221 [Mobile Payments] Add blog_id to IPP transaction description
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
Labels: type: task, feature: mobile payments

#7225 [Mobile Payments] Announce Card Present Payments feature on Payment Methods screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/NewBadgeView.swift
  WooCommerce/Resources/Images.xcassets/woo-payments-feature-banner.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-payments-feature-banner.imageset/newBannerFeatureGraph-visible.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: mobile payments

#7187 [Mobile Payments] Payment Gateway Selection Screen. Design Review.
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
Labels: type: task, feature: mobile payments

#7237 Coupons: Fix layout issue of the discount type bottom sheet
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorSectionHeaderView.xib
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
Labels: type: bug, feature: coupons

#7172 [Mobile Payments] Preselect WCPay payment gateway on selection screen
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: type: task, feature: mobile payments

#7239 Coupons: Enable feature flag for coupon creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: coupons

#7238 Coupons: Update coupon amount formatter default value to be empty
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/Coupon Text Validators/CouponAmountInputFormatter.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponAmountInputFormatterTests.swift
Labels: type: bug, feature: coupons

#7194 [Orders] Use Color Studio Blue 5 for Completed order status
  WooCommerce/Classes/Extensions/UILabel+OrderStatus.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Resources/ColorPalette.xcassets/Blue0.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue10.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue100.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue20.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue30.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue40.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue5.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue50.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue60.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue70.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue80.colorset/Contents.json
  WooCommerce/Resources/ColorPalette.xcassets/Blue90.colorset/Contents.json
Labels: feature: order list, category: design

#7227 [Reader Manuals Consolidation] Extract CardReaderManualRowView and model
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderManualRowView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderManualsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderManualsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderType+Manual.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: mobile payments, category: parity

#7243 Split view: Switch to new order if split view is enabled
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: bug, feature: split view

#7213 [Login- "Continue with WordPress.com" flow] - Add `What is WordPress.com?` button.
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/System/WooConstants.swift
Labels: type: enhancement, feature: login

#7245 [Mobile Payments] Upsell Card Reader Feature announcement analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModel.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/UpsellCardReadersCampaign.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModelTests.swift
Labels: type: task, feature: mobile payments

#7247 [Mobile Payments] Fix payment methods landscape UI
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
Labels: type: bug, feature: mobile payments

#7220 Remove Inject wrappers around OrderDetailsViewController
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
Labels: feature: order details

#7226 [Unified Order Editing] Handle multiple fee lines
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformerTests.swift
Labels: feature: order details

#7259 [Mobile Payments] Enable Payment Gateway Selection for all builds
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task

#7254 Background image upload: fix downloadable product & enable feature flag for all users
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
Labels: type: enhancement, feature: add/edit products

#7235 Login Prologue: add a "New to WooCommerce?" button for new users behind a feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
Labels: type: enhancement, feature: login

#7261 Login Prologue: "New to WooCommerce?" analytics and feature release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
Labels: type: enhancement, feature: login, category: analytics

#7216 Appstore screenshot: Update copies and screenshots
  WooCommerce/UITestsFoundation/Screens/MyStore/PeriodStatsTable.swift
  WooCommerce/UITestsFoundation/Screens/Orders/NewOrderScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  fastlane/appstoreres/metadata/source/description.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_1.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_2.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_3.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_4.txt
  fastlane/appstoreres/metadata/source/promo_screenshot_5.txt
  fastlane/screenshots.json
Labels: category: screenshots

#7217 Appstore screenshot: Simulate in-person payment dialog for screenshot
  Hardware/Hardware/CardReader/CardReader.swift
  Hardware/Hardware/CardReader/CardReaderStatus.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsHostingController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.swift
  WooCommerce/UITestsFoundation/Screens/Orders/CardPresentPaymentsModalScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/PaymentMethodsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
  WooFoundation/WooFoundation/Currency/CurrencyFormatter.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockCardPresentPaymentActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderCardPresentPaymentEligibilityActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockSettingActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockSystemStatusActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
Labels: category: screenshots

#7218 Appstore screenshot: Simulate push notification for screenshot
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/System/ProcessConfiguration.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
Labels: category: screenshots

#7258 [Order Metadata] Add support for order metadata in Yosemite layer
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderMetaData+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order details

#7265 IPP: pass formatted amount with currency symbol from `OrderDetailsViewModel` to `PaymentMethodsViewModel`
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: type: bug, feature: mobile payments

#7268 Dashboard: Fix leak of continuation by calling onCompletion before early returns
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: type: enhancement, feature: stats

#7270 [Mobile Payments] Add Make Cha-Ching Not War project release to 9.6 release notes
  RELEASE-NOTES.txt
Labels: type: task

#7266 [Reader Manuals Consolidation] Display only supported readers
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderManualsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderManualsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderManualsViewModelTests.swift
Labels: type: enhancement, feature: mobile payments, category: parity

#7276 Add contentShape to NavigationRow component
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/NavigationRow.swift
Labels: type: task

#7257 Create order custom fields view
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Custom Fields/OrderCustomFieldsDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Custom Fields/OrderCustomFieldsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: order details

#7278 Login: update "New to WooCommerce" URL to point to our own doc
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
Labels: type: enhancement, feature: login

#7281 Merge 9.6 release notes and 9.6.0.1 beta fix to trunk
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#7264 [Unified Order Editing] Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/CustomerNoteSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: order details, category: analytics

#7285 [Order Metadata] Update Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: feature: order details, category: analytics

#7260 [Mobile Payments] Add dismiss to feature announcement card
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/Feature Announcements/FeatureAnnouncementCampaign.swift
  Storage/Storage/Model/Feature Announcements/FeatureAnnouncementCampaignSettings.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
  WooCommerce/WooCommerceTests/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: enhancement, status: do not merge

#7299 [Unified Order Editing] Improve edit button accessibility
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details

#7291 Login Onboarding: add a feature flag and onboarding UI
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Authentication/Prologue/LoginOnboardingViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePageViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePages.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/UITestsFoundation/Screens/Login/LoginOnboardingScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/System/WooAnalyticsTests.swift
  WooCommerce/WooCommerceUITests/Flows/LoginFlow.swift
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: type: enhancement, feature: login, status: feature-flagged

#7271 [Mobile Payments] Users can be reminded later for feature announcement cards
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModel.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/UpsellCardReadersCampaign.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
  WooCommerce/WooCommerceTests/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#7306 [Unified Order Editing] Disable edit menu only during intial order load
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: feature: order details

#7300 UOE: Release feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: order details

#7304 [Order Details] Show a note "Awaiting payment" for unpaid orders
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderPaymentDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: order details, category: parity

#7316 Improves BUILDKITE_TOKEN permission explanation in release management prechecks
  Scripts/release-management-prechecks.sh
Labels: category: tooling

#7307 Login Onboarding: only shown if the user hasn't finished onboarading
  WooCommerce/Classes/Authentication/Prologue/LoggedOutAppSettingsProtocol.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/Extensions/LoggedOutAppSettingsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mocks/MockLoggedOutAppSettings.swift
  WooCommerce/WooCommerceUITests/Flows/LoginFlow.swift
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: type: enhancement, feature: login, status: feature-flagged

#7309 Payment Gateway Selection Screen: Make it scrollable in landscape
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ScrollableVStack.swift
Labels: type: bug, feature: mobile payments

#7294 Login Enhancement: Add Jetpack setup flow to Jetpack error screen
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackSetupWebViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
Labels: type: enhancement, feature: login

#7311 [Order Details] Rely on `needsPayment` property for "Collect Payment" button
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: enhancement, type: task, feature: order details

#7310 [Order Metadata] Release "View custom fields" feature in order details
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: order details

#7312 [Unified Order Editing] Replace menu with a single edit button
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: feature: order details

#7317 Login Onboarding: analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+LoginOnboarding.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Prologue/LoginOnboardingViewController.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
Labels: type: task, feature: login, category: analytics

#7319 Login enhancement: Add analytics for the Jetpack setup flow
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackSetupWebViewController.swift
  WooCommerce/WooCommerceTests/Authentication/JetpackErrorViewModelTests.swift
Labels: feature: login, category: analytics

#7321 Products: Silence parsing errors to unblock Products tab and log errors instead
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductImage.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/product-malformed-variations-and-image-alt.json
Labels: feature: product list

#7308 [Mobile Payments] Upsell Card Reader Banner in App Settings
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModel.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/UpsellCardReadersCampaign.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HostingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, status: do not merge, feature: mobile payments

#7328 [Orders] Update Orders empty state screen with call to action
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: order list

#7277 [Order Details] Do not show Mark Order Complete for unpaid orders
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: enhancement, feature: order details

#7330 Appstore screenshots: Fix flaky tests for core data and notification
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
  fastlane/Fastfile
  fastlane/screenshots.json
Labels: category: screenshots

#7326 Upsell Card Reader Banner in Orders
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/UpsellCardReadersCampaign.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ConstraintsUpdatingHostingController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: type: task, feature: mobile payments

#7339 Merge 9.7 code freeze to trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
Labels: Releases

#7323 Login Reminder: schedule a local notification 24 hours after the user encounters an error logging in with site address
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/Notifications/UserNotificationsCenterAdapter.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockUserNotificationsCenterAdapter.swift
Labels: type: enhancement, feature: login, feature: notifications

#7332 Fix bridging compiler warning
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: category: unit tests

#7334 Add cancel button to the Upsell Card Reader banner dismiss dialog
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeatureAnnouncementCardView.swift
Labels: type: enhancement, status: do not merge, feature: mobile payments

#7347 Merge 9.7 release notes to trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#7320 [Login] - Introduce a way to sign in using store credentials.
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/WooCommerceTests/Authentication/AuthenticationManagerTests.swift
Labels: type: enhancement, feature: login

#7345 Support both local & remote notifications in the app
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockUserNotification.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
Labels: feature: login, feature: notifications

#7337 Move TypedPredicates to WooFoundation
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/xcshareddata/xcschemes/WooFoundation.xcscheme
  WooFoundation/WooFoundation/Utilities/TypedPredicates.swift
  WooFoundation/WooFoundationTests/Utilities/TypedPredicateTests.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: enhancement, type: technical debt

#7348 [Mobile Payments] Refresh Upsell Card Readers Banner when opening Settings.
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
Labels: type: bug, feature: mobile payments

#7354 [Unified Order Editing] Add basic UI test for editing flow
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/UITestsFoundation/Screens/Orders/AddFeeScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/AddProductScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/AddShippingScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/CustomerDetailsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/CustomerNoteScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrderStatusScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: feature: order details, category: ui tests

#7350 Bulk Order Actions: Add Swipe Actions To Order Cell
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: Bulk Order Actions

#7351 Login Reminder: log notification dismiss event
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockUserNotification.swift
Labels: type: enhancement, feature: notifications, category: analytics

#7352 Login Reminder: add an action to log in with WP.com for site address error notiifcation
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
Labels: type: enhancement, feature: login, feature: notifications

#7346 Move CrashLogger to WooFoundation
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Storage/StorageTests/Model/ProductVariationTests.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/ServiceLocator/CrashLoggingStack.swift
  WooCommerce/Classes/Tools/Logging/WooCrashLoggingStack.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentRefundOrchestrator.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Mocks/MockCrashLogger.swift
  WooFoundation/WooFoundation/Protocols/CrashLogger.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mocks/MockCrashLogger.swift
  Yosemite/YosemiteTests/Tools/ShippingSettings/StorageShippingSettingsServiceTests.swift
Labels: type: enhancement, type: technical debt

#7372 Login Reminder: schedule a local notification 24 hours after an invalid WP.com email
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
Labels: type: enhancement, feature: login, feature: notifications

#7338 Move Collection+Extensions to WooFoundation
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Array+Woo.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/ShippingLabelCustomPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/ShippingLabelPredefinedPackage.swift
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/Classes/Extensions/Array+Helpers.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Extensions/Collection+Extensions.swift
Labels: type: enhancement, type: technical debt

#7378 [Mobile Payments] Moooore IPP Feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: mobile payments

#7355 [Mobile Payments] Upsell card readers banner orders is scrollable
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/FeatureAnnouncementCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ConstraintsUpdatingHostingController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: type: bug, feature: mobile payments
