Repository woocommerce/woocommerce-ios, pull requests merged in 2022-02, with the labels that each got.

#6021 [Mobile Payments] Support WCPay being installed but disabled to use Stripe
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: type: bug, feature: mobile payments

#5657 [Mac Catalyst] 2. Remove StripeTerminal from Catalyst builds
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/StripeCardReader/Cancelable+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardBrand+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardPresentDetails+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReader+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderEvent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderType+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/Charge+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/ChargeStatus+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/DefaultConnectionTokenProvider.swift
  Hardware/Hardware/CardReader/StripeCardReader/NoOpCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntent+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentStatus+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentMethod+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/ReceiptDetails+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderDiscoveryCache.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/UpdateTimeEstimate+Stripe.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
Labels: type: task, feature: mobile payments

#5659 [Mac Catalyst] 3. Remove Zendesk SupportSDK from Catalyst builds
  Podfile
  Podfile.lock
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerError.swift
  WooCommerce/Classes/Notifications/PushNotificationsConfiguration.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyCoordinatingController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Testing/MockZendeskManager.swift
  WooCommerce/WooCommerceTests/Tools/ZendeskManagerTests.swift
Labels: type: task, feature: support

#5661 [Mac Catalyst] 4. Prevent login crash by using WordPressUI with fixed bundle path creation
  Podfile
  Podfile.lock
Labels: type: task, type: crash

#6004 Add Canada to supported countries for WCPay
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: type: task, feature: mobile payments

#5662 [Mac Catalyst] 5. Turn off the Catalyst flag before merge to develop
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#6012 Order Creation: Connect shipping address data to secondary form
  WooCommerce/Classes/View Modifiers/View+AddingDividers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditOrderAddressFormViewModelTests.swift
Labels: feature: order details, feature: order creation

#5942 [Mobile Payments] [Stripe Backend] Bump minimum version of stripe plugin to 6.1.0
  Networking/Networking/Model/StripeAccount.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments

#5958 [Mobile Payments] Update logic, strings on account related onboarding views
  Networking/Networking/Mapper/WCPayAccountMapper.swift
  Networking/Networking/Model/StripeAccount.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupported.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountPendingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAcountReviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeRejectedView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments

#6038 Order Creation: Address form improvements
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CreateOrderAddressFormViewModelTests.swift
Labels: feature: order creation

#6035 [Mobile Payments] Add experimental flag for In-Person Payments in Canada
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#6022 Fetch Inbox Notes from `GET /wc-analytics/admin/notes` - Networking layer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/InboxNotesRemote.swift
  Networking/NetworkingTests/Remote/InboxNotesRemoteTests.swift
Labels: type: task, category: inbox

#6037 Dismiss an Inbox Note from `DELETE /wc-analytics/admin/notes/delete/{{id}}` - Networking layer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/InboxNoteMapper.swift
  Networking/Networking/Remote/InboxNotesRemote.swift
  Networking/NetworkingTests/Mapper/InboxNoteListMapperTests.swift
  Networking/NetworkingTests/Mapper/InboxNoteMapperTests.swift
  Networking/NetworkingTests/Remote/InboxNotesRemoteTests.swift
  Networking/NetworkingTests/Responses/inbox-note.json
Labels: type: task, category: inbox

#6046 Remove unnecessary checks on IPP onboarding tests
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: type: enhancement, category: unit tests, feature: mobile payments

#6041 [Mobile Payments] Pass empty statement descriptors as nil to Stripe
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
Labels: feature: mobile payments

#6048 Order Creation: Use onLoadTrigger subject to trigger product/variation sync only on first page load
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#6053 Order Creation: Update price label when product quantity changes
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#6049 Mark Inbox Note as actioned from `POST wc-analytics/admin/notes/{{id}}/action/{{action_id}}` - Networking layer
  Networking/Networking/Remote/InboxNotesRemote.swift
  Networking/NetworkingTests/Remote/InboxNotesRemoteTests.swift
Labels: type: task, category: inbox

#6039 [Mobile Payments] Add WCPayCharge model
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/WCPayCardBrand.swift
  Networking/Networking/Model/WCPayCardFunding.swift
  Networking/Networking/Model/WCPayCardPaymentDetails.swift
  Networking/Networking/Model/WCPayCardPresentPaymentDetails.swift
  Networking/Networking/Model/WCPayCardPresentReceiptDetails.swift
  Networking/Networking/Model/WCPayCharge.swift
  Networking/Networking/Model/WCPayChargeStatus.swift
  Networking/Networking/Model/WCPayPaymentMethodDetails.swift
  Networking/Networking/Model/WCPayPaymentMethodType.swift
Labels: feature: mobile payments

#6051 [Mobile Payments] Add WCPayChargeMapper
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WCPayChargeMapper.swift
  Networking/NetworkingTests/Mapper/WCPayChargeMapperTests.swift
  Networking/NetworkingTests/Responses/wcpay-charge-card-present.json
  Networking/NetworkingTests/Responses/wcpay-charge-card.json
Labels: feature: mobile payments

#6032 Disable ghost cells selection
  Podfile
  Podfile.lock
Labels: type: enhancement

#6052 Order Creation: Do not prefill shipping address fields
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CreateOrderAddressFormViewModelTests.swift
Labels: feature: order creation

#6054 [Mobile Payments] [Stripe Backend] Ensure the backend has been configured if connecting in order flow
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
Labels: feature: mobile payments

#6058 Update editing order status events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderFulfillmentUseCase.swift
Labels: category: analytics, feature: order creation

#6064 Simple Payments: Mark Sharing Payment Link as BETA
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
Labels: category: design, feature: order creation

#6050 Removed unused track event `orders_list_menu_filter_tapped`
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
Labels: category: analytics

#6060 Order Creation: Release Order Creation M1 (Products and Customers) as Experimental Feature
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
Labels: feature: order creation

#6062 Order Creation: Make entire ProductRow tappable
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
Labels: feature: order creation

#6084 Hot fix: name of two tracking events for the hub menu
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
Labels: category: analytics, feature: hub menu

#6011 Changed the order of statuses in filters to match the Order's lifecycle
  Networking/Networking/Model/OrderStatusEnum.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusFilterViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListDataSourceTests.swift
Labels: type: enhancement

#6088 Merge 8.4 finalization into trunk
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsEmptyView.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6093 Updated tracking for Order Filters
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
Labels: feature: order list, category: analytics

#6094 Fix: now the the icons “search” and “plus” have the same order between Products and Orders screens
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: bug, feature: order list, feature: product list

#6092 Order Creation: Disables view while creating an order.
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6083 [Mobile Payments] Configuration store for different countries/features
  Networking/Networking/Model/WCPayPaymentMethodDetails.swift
  Networking/Networking/Model/WCPayPaymentMethodType.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
Labels: type: task, status: do not merge, feature: mobile payments

#6090 Fixed issue where no dates not available for selection
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/DatePickerTableViewCell.swift
Labels: type: enhancement, feature: order list

#6044 Add Buildkite
  .buildkite/cache-builder.yml
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/installable-build.sh
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
  fastlane/Fastfile
Labels: category: tooling

#6078 [Mobile Payments] Two Gateways Enter, One Gateway Leaves
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsPluginChoicesView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginConflictAdminView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginConflictShopManagerView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments

#6095 Order Creation: Rename "Customer" to "Customer Details"
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
Labels: feature: order creation

#5936 Update screenshot generation tests from recent app changes
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/ReviewsScreen.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockProductReviewAction.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
Labels: category: screenshots

#6103 Remove unused imports of `Observables` framework
  WooCommerce/Classes/Authentication/AppleIDCredentialChecker.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  Yosemite/Yosemite/Base/StoresManager.swift
  Yosemite/Yosemite/Model/Mocks/MockSessionManager.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
Labels: type: technical debt

#6102 Order Creation & Editing: Validate email locally
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CreateOrderAddressFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditOrderAddressFormViewModelTests.swift
Labels: feature: order details, feature: order creation

#6097 Yosemite layer for Inbox Notes
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/InboxNotesAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
Labels: type: task, category: inbox

#6107 Add an entry point to Inbox in Hub menu
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Resources/Images.xcassets/icon-mailbox.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-mailbox.imageset/icon-mailbox.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: enhancement, feature: hub menu, category: inbox

#6105 Coupons: Sync details from remote and update apply rules
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#6110 Coupons: Add Performance section to coupon details
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#6108 Use `sentry_check_cli_installed` to verify Sentry's CLI requirements
  fastlane/Fastfile
Labels: category: tooling

#6115 Simple Payments: Adds email local validation
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#6109 Nitpick: Indent `Fastfile` using the standard Ruby two spaces
  fastlane/Fastfile
Labels: category: tooling

#6099 Fix: centralised icons in Hub Menu buttons
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
Labels: type: bug, feature: hub menu

#6113 [Mobile Payments] Remove bullets from list of conflicting plugins
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsPluginChoicesView.swift
Labels: feature: mobile payments

#6114 Merge 8.5 code freeze into trunk
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#6116 Parse inbox note and note list wrapped in data field in Jetpack requests
  Networking/Networking/Mapper/InboxNoteListMapper.swift
  Networking/Networking/Mapper/InboxNoteMapper.swift
  Networking/NetworkingTests/Responses/inbox-note-list.json
  Networking/NetworkingTests/Responses/inbox-note.json
Labels: category: inbox

#6117 Coupons: Add action sheet to copy and share coupon code from details screen
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#6121 Updated the Storage layer for introducing `InboxNote` and `InboxAction` entities
  Fakes/Fakes/Networking.generated.swift
  InboxAction+CoreDataClass.swift
  InboxAction+CoreDataProperties.swift
  InboxNote+CoreDataClass.swift
  InboxNote+CoreDataProperties.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/InboxNote.swift
  Networking/NetworkingTests/Mapper/InboxNoteListMapperTests.swift
  Networking/NetworkingTests/Mapper/InboxNoteMapperTests.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 64.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: type: task, category: inbox

#6120 [Mobile Payments] Add initial support for WisePad 3
  Hardware/Hardware/CardReader/CardReaderType.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderType+Stripe.swift
  Hardware/HardwareTests/CardReaderTests.swift
  Hardware/HardwareTests/Mocks/MockStripeCardReader.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: type: task, feature: mobile payments

#6122 Order Creation: Fix some accessibility issues
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SearchHeader.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: category: accessibility, feature: order creation

#6124 Update Fastlane and drop `fastlane-plugin-test_center`
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .circleci/config.yml
  Gemfile.lock
  WooCommerce/WooCommerceUITests/UITests.xctestplan
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: category: tooling

#6153 Order Creation: Fix flaky product search test
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
Labels: type: bug, category: unit tests

#6145 Order Creation: Adds OrderSynchronizer Protocol
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#6158 Merge 8.5 Release Notes into `trunk`
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#6151 Coupons: Add coupon management to experimental features
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#6159 Inbox view part 1: list view with view model and sync states
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxViewModelTests.swift
Labels: type: enhancement, status: feature-flagged

#6152 Integrated the storage layer of inbox Notes in the Yosemite layer
  Storage/Storage/Tools/StorageType+Deletions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/InboxNotesAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/InboxAction+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/InboxNote+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
  Yosemite/YosemiteTests/Stores/InboxNotesStoreTests.swift
Labels: type: task, category: inbox

#6131 Order Creation: Display selected variation attributes in product list
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/ProductVariationFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/ProductVariationFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: feature: variation details, feature: order creation

#6059 [Mobile Payments] Add WCPayChargesRemote
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/WCPayCardPresentReceiptDetails.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Mapper/WCPayChargeMapperTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/wcpay-charge-card-present-minimal.json
  Networking/NetworkingTests/Responses/wcpay-charge-error.json
Labels: feature: mobile payments

#6157 [Mobile Payments] Weak self for IPPVC root view closures please
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
Labels: feature: mobile payments

#6156 [Mobile Payments] Remove unused variable left in from debugging
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
Labels: feature: mobile payments

#6160 Inbox view part 1: inbox note row UI - title, HTML content, actions
  WooCommerce/Classes/Extensions/NSAttributedString+Attributes.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AttributedText.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/NSAttributedString+AttributesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxNoteRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxViewModelTests.swift
Labels: type: enhancement, status: feature-flagged

#6161 Coupons: Add row for usage details and some polishing for coupon details screen
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#5634 Fix Gravatar image to be circular
  Podfile
  Podfile.lock
Labels: feature: login

#6171 Coupons: Improve UX for the Performance section on Coupon Details screen
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: enhancement, feature: coupons, status: feature-flagged

#6082 [Mobile Payments] WCPayCharge CoreData storage
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WCPayCardPaymentDetails+CoreDataClass.swift
  Storage/Storage/Model/WCPayCardPaymentDetails+CoreDataProperties.swift
  Storage/Storage/Model/WCPayCardPresentPaymentDetails+CoreDataClass.swift
  Storage/Storage/Model/WCPayCardPresentPaymentDetails+CoreDataProperties.swift
  Storage/Storage/Model/WCPayCardPresentReceiptDetails+CoreDataClass.swift
  Storage/Storage/Model/WCPayCardPresentReceiptDetails+CoreDataProperties.swift
  Storage/Storage/Model/WCPayCharge+CoreDataClass.swift
  Storage/Storage/Model/WCPayCharge+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 65.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: feature: mobile payments

#6163 Order Creation: Add support for adding shipping lines on orders in Networking layer
  Networking/Networking/Model/ShippingLine.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
Labels: feature: order creation

#6165 Order Creation: Add support for shipping lines on orders in Yosemite layer
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#6168 Order Creation: Wire status support to LocalOrderSynchronizer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order creation

#6169 Order Creation: Wire customer details support to LocalOrderSynchronizer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6170 Order Creation: Wire select product support to LocalOrderSynchronizer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: feature: order creation

#6175 Order Creation: Wire update product quantity support to LocalOrderSynchronizer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6111 [Mobile Payments] Add WCPayCharges Yosemite layer
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/WCPayCardPaymentDetails+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WCPayCardPresentPaymentDetails+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WCPayCardPresentReceiptDetails+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WCPayCharge+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: feature: mobile payments

#6164 [Mobile Payments] Display last4 and card brand on refund screen consistently
  Networking/Networking/Remote/OrdersRemote.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
Labels: feature: mobile payments

#6130 [Mobile Payments] Show card's brand and last 4 digits on refunds
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
Labels: feature: mobile payments

#6172 Inbox view part 3: inbox note row UI - type icon and relative date text
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxNoteRowViewModelTests.swift
Labels: type: enhancement, status: feature-flagged, category: inbox

#6187 Reviews: Fixed crash on iPad when opening More popover
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: crash, feature: review list

#6189 Coupons: Add tracks for Milestone 1
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
Labels: type: task, category: analytics, feature: coupons, status: feature-flagged

#6176 Migrated `InfiniteScrollList` from `List` to `LazyVStack`
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/InfiniteScrollList.swift
Labels: type: bug, type: enhancement, category: inbox

#6182 Order Creation: Add support in Networking layer to remove a shipping line from an order
  Networking/Networking/Model/ShippingLine.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
Labels: feature: order creation

#6183 Order Creation: Wire remove product support to LocalOrderSynchronizer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6167 Order Creation: Local Synchronizer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order creation

#6166 Order Creation: Add shipping row
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ItemDetails/ShippingLabelCustomsFormItemDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormInput.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#6199 Order Creation: Adds empty RemoteOrderSynchronizer
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#6184 Inbox view part 4: update empty state image
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Resources/Images.xcassets/woo-empty-inbox-notes.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-inbox-notes.imageset/woo-empty-inbox-notes-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-inbox-notes.imageset/woo-empty-inbox-notes-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: enhancement, status: feature-flagged, category: inbox

#6186 Coupons: Usage Details screen (read only)
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/UsageDetails/CouponUsageDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/UsageDetails/CouponUsageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndTextFieldRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponUsageDetailsViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#6209 Coupons: Update and enable feature flag for milestone 1
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
Labels: type: task, feature: coupons

#6197 [Mobile Payments] Test fetching charge for Refund Confirmation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: type: task, category: unit tests, feature: mobile payments

#6200 Order Creation: Add support for creating order with fees in Yosemite layer
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#6202 Order Creation: Use title case for buttons
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrder.swift
Labels: feature: order creation

#6198 [Refunds] Prevent selection of `Refund Via` row
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
Labels: type: bug, feature: refunds

#6206 Order Creation: Fix styles for variable product rows in the product list
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/DisclosureIndicator.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/NavigationRow.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#6194 [Mobile Payments] Configuration loader
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Tools/In-Person Payments/CardPresentConfigurationLoader.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/In-Person Payments/CardPresentConfigurationLoaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
Labels: type: enhancement, feature: mobile payments

#6207 Order Creation: Defines base status for order sync
  Networking/Networking/Model/OrderStatusEnum.swift
  WooCommerce/Classes/Extensions/UILabel+OrderStatus.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/NewOrderInitialStatusResolver.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/NewOrderInitialStatusResolverTests.swift
Labels: feature: order creation

#6208 Order Creation: Copy content of LocalOrderSynchronizer to RemoteOrderSynchronizer
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLine.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6201 Order Creation: Add support for removing fees from order in Networking layer
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/OrderFeeLine.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
Labels: feature: order creation

#6195 [Mobile Payments] Use configuration loader to decide which reader manual to show
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: type: task, feature: mobile payments

#6210 Inbox view part 5: show notes from storage layer
  WooCommerce/Classes/Tools/InfiniteScroll/PaginationTracker.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxViewModelTests.swift
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
Labels: type: enhancement, status: feature-flagged, category: inbox

#6225 Remove `largeTitles` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Extensions/UINavigationBar+Appearance.swift
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/System/WooTabNavigationController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: technical debt

#6229 Update Ruby tooling to expect Bundler 2.3.7
  Gemfile.lock
Labels: category: tooling

#6216 [Mobile Payments] Add Canada WisePad 3 order link to In-Person Payments menu
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: type: enhancement, feature: mobile payments

#6222 Order Creation: Add shipping line UI
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/PriceFieldFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/PriceFieldFormatterTests.swift
Labels: status: feature-flagged, feature: order creation

#6205 [Mobile Payments] Remove stripe IPP from experiments; always true now
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Tools/In-Person Payments/CardPresentConfigurationLoader.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerceTests/Tools/In-Person Payments/CardPresentConfigurationLoaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#6224 [Mobile Payments] Bump minimum Stripe extension version to 6.2.0 for IPP
  RELEASE-NOTES.txt
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: type: enhancement, feature: mobile payments

#6221 Remove CircleCI Installable Builds
  .circleci/config.yml
Labels: category: tooling

#6245 Merge 8.5 finalization into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6231 Remove `pushNotificationsForAllStores` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking/Remote/DevicesRemote.swift
  Networking/NetworkingTests/Remote/DevicesRemoteTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreNoticePresenter.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Authentication/Epilogue/SwitchStoreNoticePresenterTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  Yosemite/Yosemite/Actions/NotificationAction.swift
  Yosemite/Yosemite/Stores/NotificationStore.swift
  Yosemite/YosemiteTests/Stores/NotificationStoreTests.swift
Labels: type: technical debt

#6255 Coupons: Fix incorrect expiry date check
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/WooCommerceTests/Model/CouponWooTests.swift
Labels: type: bug, feature: coupons

#6223 Order Creation: Add fees line in the payment section
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#6260 Order Creation: Display Payment section loading indicator during remote sync
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6235 Handle the actions when the user taps on an Inbox Note
  Networking/Networking/Remote/InboxNotesRemote.swift
  Networking/NetworkingTests/Remote/InboxNotesRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  Yosemite/Yosemite/Actions/InboxNotesAction.swift
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
  Yosemite/YosemiteTests/Stores/InboxNotesStoreTests.swift
Labels: type: task, category: inbox

#6256 Aligned parameters sent while fetching Inbox Notes
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
Labels: type: task, category: inbox

#6257 Dismiss all Inbox Notes - Networking layer
  Networking/Networking/Remote/InboxNotesRemote.swift
  Networking/NetworkingTests/Remote/InboxNotesRemoteTests.swift
Labels: type: task, category: inbox

#6259 Dismiss all Inbox Notes - Yosemite Layer
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  Yosemite/Yosemite/Actions/InboxNotesAction.swift
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
  Yosemite/YosemiteTests/Stores/InboxNotesStoreTests.swift
Labels: type: task, category: inbox

#6268 Order Creation: Show shipping amount field and currency symbol without fake text field
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/BindableTextField.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
Labels: feature: order creation

#6244 [Mobile Payments] Handle null descriptor in Stripe account json
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/StripeAccount.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Responses/stripe-account-complete-empty-descriptor.json
  Networking/NetworkingTests/Responses/stripe-account-complete-null-descriptor.json
Labels: type: enhancement, feature: mobile payments

#6241 [Mobile Payments] Add card images to Refund Confirmation screen
  Hardware/Hardware/CardReader/CardBrand.swift
  Networking/Networking/Model/WCPayCardBrand.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/CardPresentPayments/WCPayCardBrand+icons.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundConfirmationCardDetailsCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundConfirmationCardDetailsCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/Resources/Images.xcassets/card-brand-amex.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-amex.imageset/amex.svg
  WooCommerce/Resources/Images.xcassets/card-brand-diners.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-diners.imageset/diners.svg
  WooCommerce/Resources/Images.xcassets/card-brand-discover.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-discover.imageset/discover.svg
  WooCommerce/Resources/Images.xcassets/card-brand-interac.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-interac.imageset/InteracLogo.svg
  WooCommerce/Resources/Images.xcassets/card-brand-jcb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-jcb.imageset/jcb.svg
  WooCommerce/Resources/Images.xcassets/card-brand-mastercard.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-mastercard.imageset/mc_symbol-1.svg
  WooCommerce/Resources/Images.xcassets/card-brand-mastercard.imageset/mc_symbol.svg
  WooCommerce/Resources/Images.xcassets/card-brand-unionpay.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-unionpay.imageset/unionpay.svg
  WooCommerce/Resources/Images.xcassets/card-brand-unknown.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-unknown.imageset/unknown.svg
  WooCommerce/Resources/Images.xcassets/card-brand-visa.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-brand-visa.imageset/visa.svg
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/WCPayCardBrand+IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#6273 Remove type icon from inbox note row
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxNoteRowViewModelTests.swift
Labels: type: enhancement, status: feature-flagged, category: inbox

#6270 Shipping Labels: Remove all feature flags
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ItemToFulfillRow.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: type: technical debt, feature: shipping labels

#6274 Update inbox notes predicate and sort descriptors to match core
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxViewModelTests.swift
Labels: status: feature-flagged, category: inbox

#6283 Shipping Labels: Remove ShippingLabelPackageDetails
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Carriers and Rates/ShippingLabelCarriers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormInput.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelSinglePackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelServicePackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/ShippingLabelPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelPackageDetailsViewModelTests.swift
Labels: type: technical debt, feature: shipping labels

#6281 Shipping Labels: Simplify creation eligibility check
  Networking/Networking/Remote/ShippingLabelRemote.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockShippingLabelActionHandler.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockShippingLabelRemote.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: type: technical debt, feature: shipping labels

#6267 Order Creation: Add fees UI
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#6213 Fix: update text for Variation Image Placeholder
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ExtendedAddProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Collection View Cells/ExtendedAddProductImageCollectionViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
Labels: type: bug, feature: variation details

#6279 [Mobile Payments] Remove the localization for brand names
  Hardware/Hardware/CardReader/CardBrand.swift
Labels: type: task, category: i18n, feature: mobile payments

#6276 Order Creation: Make Payment section always visible on New Order screen
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6275 Added action sheet in Inbox for dismissing all the inbox notes
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
Labels: type: task, category: inbox

#6285 Merge 8.6 code freeze into trunk
  Podfile
  Podfile.lock
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#6247 Adding new bulk variations update feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: feature: variation details

#6248 Adding more menu button in product variations
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: feature: variation details

#6287 Coupons: Replace toggle rows with value rows on Usage Details screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/UsageDetails/CouponUsageDetails.swift
Labels: type: enhancement, feature: coupons

#6286 Dismiss all notes: fix some notes are not deleted
  Networking/Networking/Remote/InboxNotesRemote.swift
  Networking/NetworkingTests/Remote/InboxNotesRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxViewModelTests.swift
  Yosemite/Yosemite/Actions/InboxNotesAction.swift
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
Labels: category: inbox

#6298 Fix inbox note placeholder when the view is loading
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
Labels: type: bug, status: feature-flagged, category: inbox

#6299 Product list: Improve image loading for thumbnails
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
Labels: type: enhancement, feature: product list

#6294 What's New: Support icons array for each feature in an announcement
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Announcement.swift
  Storage/Storage/Model/Feature.swift
  Storage/Storage/Model/FeatureIcon.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AnnouncementsStore.swift
  Yosemite/YosemiteTests/Stores/AnnouncementsStoreTests.swift
Labels: feature: app settings

#6290 [Mobile Payments] Remove US-specific voiceover pronunciation, and fix Interac capitalization
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
Labels: type: task, category: accessibility, feature: mobile payments

#6291 6264 Add Interac icon for IPP receipts
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardBrand.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardBrand+Stripe.swift
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  Hardware/HardwareTests/CardBrandTests.swift
  Hardware/Resources/Card Icons/interac.svg
Labels: type: task, feature: mobile payments

#6292 Fix: action sheet presentation on iPad under Inbox Notes
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
Labels: type: bug, category: inbox

#6293 Order Creation: Sync order updates
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6266 Adds in the Networking layer API Call for bulk updating variations
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductVariationMapper.swift
  Networking/Networking/Mapper/ProductVariationsBulkUpdateMapper.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variations-bulk-update.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
Labels: feature: variation details

#6253 Adding bulk update view model with synching method for all variations
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModelTests.swift
Labels: feature: order creation

#6289 [Mobile Payments] Support for Interac payments
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/PaymentMethod.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentMethod+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockPaymentIntent.swift
  Yosemite/YosemiteTests/Model/Extensions/PaymentIntent+ReceiptParametersTests.swift
Labels: type: task, feature: mobile payments

#6308 Order Creation: Enable Create button by default for new orders
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation
