Repository woocommerce/woocommerce-ios, pull requests merged in 2022-03, with the labels that each got.

#6312 Support older WC / WC Admin versions without `is_read` API field
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/InboxNote.swift
  Networking/NetworkingTests/Mapper/InboxNoteMapperTests.swift
  Networking/NetworkingTests/Responses/inbox-note-without-isRead.json
Labels: status: feature-flagged, category: inbox

#6331 Coupons: Hotfix empty state view for the coupon list
  WooCommerce/Classes/ViewRelated/Coupons/CouponListView.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
Labels: type: bug, feature: coupons

#6334 Remove `myStoreTabUpdates` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/DashboardUIFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/NoPeriodDataTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/LegacyChartPlaceholderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/LegacyChartPlaceholderView.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/LegacyTopPerformersSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsV4PeriodViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardUIFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
Labels: type: technical debt

#6326 Order Creation: Maintain state on shipping & fees detail screens
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
Labels: feature: order creation

#6327 Order Creation: Add new items support
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6337 [Mobile Payments] Bump Stripe Terminal SDK to 2.6.0
  Podfile
  Podfile.lock
Labels: type: task, feature: mobile payments

#6144 Add Buildkite Release Builds
  .buildkite/commands/release-build.sh
  .buildkite/release-builds.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: category: tooling

#6343 Attempted crash fix on order stats intervals usage
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  Yosemite/Yosemite/Model/Storage/OrderStatsV4Totals+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: type: crash

#6346 Shipping Label: Fix incorrect tracks for origin and destination address steps of the creation flow
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
Labels: type: bug, feature: shipping labels, category: analytics

#6349 Order Creation: Display order total (in Payment section) directly from order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderTotalsCalculator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/OrderTotalsCalculatorTests.swift
Labels: feature: order creation

#6354 Notifications: Dismiss presented view before presenting content from notifications
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: type: bug, feature: notifications

#6355 Remove ghost animations when refreshing products, reviews and plugins
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: type: bug, feature: review list, feature: product list

#6353 Order Creation: Show tax row in Payment section on new order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6342 Order Creation - Product Sync: Adds update quantity support
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6350 Order Creation - Product Sync: Add support to remove an item
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6341 Retrieving variations and displaying the option for bulk update the regular price
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateOptionsModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ValueOneTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateOptionsModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/ValueOneTableViewCellTests.swift
Labels: feature: variation list

#6359 Show Inbox menu based on WC version
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxEligibilityUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: status: feature-flagged, category: inbox

#6366 Rename `ProductStatus.publish` to `ProductStatus.published` for better readability
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Product/ProductStatus.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/List Selector Data Source/ProductStatusSettingListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/Visibility/ProductVisibilityViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductVariation.swift
  WooCommerce/WooCommerceTests/Model/ProductVisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductStatusSettingListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductVariationFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditableProductVariationModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+SaveTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModel+numberOfActiveFiltersTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModel+VariationTests.swift
  Yosemite/YosemiteTests/Mocks/MockProductVariation.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Tools/Products/ResultsController+FilterProductTests.swift
  Yosemite/YosemiteTests/Tools/Products/ResultsController+StorageProductTests.swift
Labels: type: technical debt

#6367 Reviews: Fix missing product information on first load
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductReview.swift
  Networking/Networking/Remote/ProductReviewsRemote.swift
  Networking/NetworkingTests/Remote/ProductReviewsRemoteTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/Reviews/DefaultReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductReviewsViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductReviewAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockProductReviewAction.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Stores/ProductReviewStoreTests.swift
Labels: type: bug, feature: review list

#6371 Handle survey type in Inbox
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
Labels: type: task, category: inbox

#6365 Order Creation - Product Sync: Don't die after errors
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6361 Added cancel button and navigation bar title for bulk update screen
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModelTests.swift
Labels: feature: variation list

#6362 Added support for new cell style for ValueOneTableViewCell
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ValueOneTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/ValueOneTableViewCellTests.swift
Labels: feature: variation list

#6348 [Mobile Payments] Show unsupported country error if store has Stripe set up in Canada
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupportedStripe.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: type: task, feature: mobile payments

#6363 "more" button in product variations shown only if we have variations
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
Labels: feature: variation list

#6370 Inbox design enhancements
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
Labels: type: enhancement, status: feature-flagged, category: inbox

#6368 Coupons: Show error message when loading discounted amount fails
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: enhancement, feature: coupons

#6364 [Mobile Payments] Accept IPP for confirmed bookings
  RELEASE-NOTES.txt
  WooCommerce/Classes/Model/OrderPaymentMethod.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: enhancement, feature: mobile payments

#6377 Order Creation - Order Sync: Adds Shipping support
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformerTests.swift
Labels: feature: order creation

#6376 Fixed table style to grouped for the bulk update screen
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewController.xib
Labels: feature: variation list

#6373 Order Creation: Add remote sync error notice
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: status: feature-flagged, feature: order creation

#6374 Add bulk price update view model handing the price change events and button states
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/BulkUpdatePriceSettingsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/BulkUpdatePriceSettingsViewModelTests.swift
Labels: feature: variation details

#6385 Merge 8.7 code freeze into trunk
  .buildkite/commands/release-build.sh
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/download_metadata.swift
Labels: Releases

#6384 Order Creation: Makes fees taxable
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeLineDetailsViewModelTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order creation

#6391 Order Creation: Fixes issue that prevented products to be added on a new order.
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
Labels: type: bug, feature: order creation

#6389 Order Creation: Fix potential leak in sync error notice
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
Labels: feature: order creation

#6394 Order Creation: Add support to delete orders in the Networking layer
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
Labels: feature: order creation

#6383 Order Creation - Order Sync: Adds Fees support
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order creation

#6396 Order Creation - Order Sync: Commit all changes support
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order creation

#6395 Order Creation: Add support to delete orders in the Yosemite layer
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#6400 Order Creation: Properly reflect disabled states
  WooCommerce/Classes/View Modifiers/WooStyleModifiers.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ButtonStyles.swift
Labels: feature: order creation

#6375 Adding displaying error with retry on sync error for bulk update screen
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModelTests.swift
Labels: feature: variation list

#6393 [Mobile Payments] Ensure card has been removed before attempting a payment
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: mobile payments

#6401 Products displayed in Order Detail now follow the same order of the web
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 66.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
Labels: type: bug, feature: order details

#6402 Order Creation: Removes orderCreationRemoteSynchronizer feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: feature: order creation

#6382 Order Creation: Support negative values in shipping and fees
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/PriceFieldFormatter.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/PriceFieldFormatterTests.swift
Labels: status: feature-flagged, feature: order creation

#6410 Merge 8.7 beta 2 into trunk
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#6413 Add feature flag for the split view on Orders tab
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: enhancement, feature: order details, feature: order list

#6399 Orders: Enhancements to split view
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
Labels: type: enhancement, feature: order details, feature: order list

#6411 Revert: Allow order items price to be decoded as a strings
  Networking/Networking/Model/OrderItem.swift
Labels: feature: order details

#6412 Simple Payments: Release tax break up
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: order creation

#6403 Adding bulk price settings view controller
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/BulkUpdatePriceSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/BulkUpdatePriceViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/BulkUpdatePriceViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/BulkUpdatePriceSettingsViewModelTests.swift
Labels: feature: variation details

#6419 Merge 8.7 beta 3 into trunk
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
Labels: Releases

#6406 Order Details: Use navigation controller to wrap EditCustomerNote instead of NavigationView
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
Labels: type: bug, feature: order details

#6415 Orders: Hide update of split view under feature flag
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: enhancement, feature: order details, feature: order list

#6397 Order Creation: Present New Order flow as a modal
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: type: enhancement, feature: order creation

#6387 Orders: Display split view on large screens
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/System/WooSplitViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilteredOrdersHeaderBar.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Orders.storyboard
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/FooterSpinnerView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/GhostTableViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: enhancement, feature: order list

#6429 Order Creation: Remove feature flag for shipping, fees and remote sync
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/LocalOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6420 Order Creation: Add discard changes prompt to back navigation
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#6426 Order Creation: Enable product stepper subtract (-) button to remove product when quantity is 1
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: feature: order creation

#6432 Fix tests build error
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: category: unit tests, feature: order creation

#6390 Added custom statuses in Order Filters
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusFilterViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
Labels: type: enhancement, feature: order list

#6431 Add Debounce to Chart interacted() Calls
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsUsageTracksEventEmitter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
Labels: feature: stats

#6407 [Mobile Payments] Update LearnMore link in IPP flows
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsLearnMore.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/Yosemite/Stores/Enums/CardPresentPaymentGatewayExtension.swift
Labels: type: enhancement, feature: mobile payments

#6434 Coupons: Update SiteSettingsRemote to add endpoints to load and update coupon setting
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/SiteSettingMapper.swift
  Networking/Networking/Remote/SiteSettingsRemote.swift
  Networking/NetworkingTests/Mapper/SiteSettingMapperTests.swift
  Networking/NetworkingTests/Remote/SiteSettingsRemoteTests.swift
  Networking/NetworkingTests/Responses/setting-coupon.json
Labels: type: task, feature: coupons

#6424 Orders: Select the correct column when collapsing split view
  WooCommerce/Classes/System/WooSplitViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: enhancement, feature: order details, feature: order list

#6440 Inbox: fix extra top padding
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
Labels: status: feature-flagged, category: inbox

#6435 Fix: injection of our custom user agent in the `AuthenticatedWebView` component
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AuthenticatedWebView.swift
Labels: type: bug, feature: shipping labels

#6404 Fixes issue/3571-auto-login-sitepicker-changes
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/ULAccountMatcher.swift
Labels: type: task, feature: login

#6421 Replaces About screen with unified Automattic About screen
  RELEASE-NOTES.txt
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Tools/AppRatings/AppRatingManager.swift
  WooCommerce/Classes/Tools/ShareAppTextItemActivitySource.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/AboutViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/WooAboutScreenConfiguration.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TableFooterView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: app settings

#6439 Simple Payments: Add auto draft support
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#6427 Order Creation: Sort product variations list by menu order and variation ID
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
Labels: feature: order creation

#6441 Coupons: Update Yosemite to retrieve and update coupon setting
  Yosemite/Yosemite/Actions/SettingAction.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: type: task, feature: coupons

#6447 Orders split view: set translucent tab bar and fix issue displaying offline banners
  WooCommerce/Classes/Extensions/UITabBar+Appearance.swift
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
Labels: type: enhancement, feature: order list

#6448 Coupons: Update Yosemite to retrieve and update analytics setting
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/setting-analytics.json
  Yosemite/Yosemite/Actions/SettingAction.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: type: task, feature: coupons

#6446 Coupons: Add error state view to coupon list when coupons are disabled for a store
  Networking/Networking/Requests/JetpackRequest.swift
  Networking/NetworkingTests/Requests/JetpackRequestTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: type: task, feature: coupons

#6450 Coupons: Update error state for when loading discounted amount fails
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: task, feature: coupons

#6452 Inbox Notes tracking events
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
Labels: category: analytics, category: inbox

#6459 Inbox Notes: now it's possible to see entirely the last element of the pagination
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
Labels: type: bug, category: inbox

#6453 Issue/6119 product sync error notice
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
Labels: feature: order creation

#6398 Support order creation notes
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/CustomerNoteSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/NewOrderCustomerNoteViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order creation

#6460 Order Creation: Add retry button and fix tap-to-dismiss on product error notices
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
Labels: feature: order creation

#6456 Inbox: add `_fields` parameter to API requests to only fetch necessary fields
  Networking/Networking/Remote/InboxNotesRemote.swift
Labels: status: feature-flagged, category: inbox

#6457 Coupons: Add new view for enabling analytics
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/EnableAnalytics/EnableAnalyticsView.swift
  WooCommerce/Classes/ViewRelated/Coupons/EnableAnalytics/EnableAnalyticsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
  WooCommerce/Resources/Images.xcassets/woo-analytics.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-analytics.imageset/woo-analytics.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/EnableAnalyticsViewModelTests.swift
Labels: type: task, feature: coupons

#6451 [Mobile Payments] IPP Client side refund actions
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/RefundParameters.swift
  Hardware/Hardware/CardReader/StripeCardReader/NoOpCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/RefundParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: feature: mobile payments

#6462 Order Creation: Accessibility improvements for product row
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
Labels: category: accessibility, feature: order creation

#6472 Merge 8.7 final to trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: category: releases

#6475 Merge 8.8 code freeze to trunk
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/Pluginfile
  fastlane/download_metadata.swift
Labels: category: releases

#6463 Coupons: Populate coupons from local storage upon immediately during init stage
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
Labels: type: enhancement, feature: coupons

#6474 Order Creation: Fix dynamic type issues
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
Labels: category: accessibility, feature: order creation

#6473 Order Creation: Fix minimal back button direction in RTL layout
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelAddNewPackage.swift
Labels: category: i18n, feature: order creation

#6479 Order Creation: Add safe area margins to product and variation lists
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
Labels: feature: order creation

#6478 IPP Analytics: add `country` property to typed IPP events
  Hardware/Hardware/CardReader/CardReader.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsViewModelsOrderedList.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginConflictAdminView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginConflictShopManagerView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAcountReviewView.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsConnectedViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsSearchingViewModelTests.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: feature: mobile payments, category: analytics

#6476 [Mobile Payments] Wait for Charge to be fetched before continuing to refund confirmation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonActivityIndicator.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
Labels: type: task, feature: mobile payments

#6482 Improve bottom sheet VoiceOver support
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
Labels: category: accessibility, feature: product details, feature: product list, feature: order creation

#6483 Order Creation: Swap billing info and shipping info order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
Labels: feature: order creation

#6481 Order Creation: Various accessibility improvements (VoiceOver)
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EmptyState.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/InfiniteScrollIndicator.swift
Labels: category: accessibility, feature: order creation

#6499 Order Creation: Properly render Status List on landscape orientation
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.xib
Labels: feature: order creation

#6480 Issue: Keep the minus sign when deleting negative numbers on the product inventory quantity
  WooCommerce/Classes/Tools/UnitInputFormatter/IntegerInputFormatter.swift
  WooCommerce/WooCommerceTests/Tools/IntegerInputFormatterTests.swift
Labels: type: bug, feature: add/edit products

#6497 Issue: Use Combine's Cancellable instead of our own declaration
  WooCommerce/Classes/Tools/ImageService/ImageDownloader.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Media/CancellableMedia.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductUIImageLoader.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductUIImageLoader.swift
Labels: type: task, type: technical debt

#6498 [Mobile Payments] Enable IPP from order details for eligible stores in Canada
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/Tools/Currency/CurrencySettings.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormListViewModel.swift
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Enums/CurrencyCode.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#6504 Order Creation: Fix landscape padding in Country/State lists
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
Labels: feature: order creation

#6503 IPP: add simulator configuration setup for testing different scenarios
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
Labels: feature: mobile payments

#6502 Jetpack CP: Prevent access to browser with invalid WP Admin URL
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/String+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/JetpackInstall/JetpackInstallView.swift
  WooCommerce/WooCommerceTests/Extensions/StringWooTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/JetpackInstall/JetpackInstallStepsViewModelTests.swift
Labels: type: crash

#6514 Order Creation: Fixes crash when choosing an autocomplete suggestion while selecting a country
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/FilterListSelector.swift
Labels: feature: order creation

#6518 Issue: avoid adding multiple empty state views in ShipmentProvidersViewController
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ShipmentProvidersViewController.swift
Labels: type: bug, category: woo extensions

#6506 Issue: Use WebviewHelper to show SFSafariViewController everywhere instead of calling the latter directly
  WooCommerce/Classes/Authentication/Epilogue/StorePickerError.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackErrorViewModel.swift
  WooCommerce/Classes/Tools/WebviewHelper.swift
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/LicensesViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/WooAboutScreenConfiguration.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+Upgrade.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: task, type: technical debt

#6520 Merge 8.8 release notes to trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: category: releases

#6485 Fix failed unit test for AddProductCoordinator on iPad
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddOrderCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductCoordinatorTests.swift
Labels: type: bug, category: unit tests

#6505 Coupons: Add tracks for coupon setting
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
Labels: category: analytics, feature: coupons

#6516 Coupons: Update coupon list items following the latest design
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.xib
  WooCommerce/WooCommerceTests/Model/CouponWooTests.swift
Labels: type: enhancement, feature: coupons

#6521 Order Creation: Remove currency symbol from Shipping & Fees textfields
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetails.swift
Labels: feature: order creation

#6528 Display the edit action in Coupon Detail view if the feature flag `couponEditing` is enabled
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
Labels: type: task, feature: coupons

#6529 Make GhostTableViewController configurable
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/GhostTableViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/GhostableViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt, type: crash, good first issue

#6531 Initial implementation of Coupon add/editing view
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: type: task, feature: coupons

#6484 Hub Menu: Disable multiple taps on menu items
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
Labels: type: bug, feature: hub menu

#6496 Coupons: Implement coupon deletion
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
Labels: type: task, feature: coupons

#6517 IPP Analytics: add `country` property to onboarding events and a case for `card_present_collect_payment_canceled`
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalReaderIsReady.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsLearnMore.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalReaderIsReadyTests.swift
Labels: feature: mobile payments, category: analytics

#6539 Installable Build: Fix build by limiting AddEditCoupon preview to debug builds
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
Labels: feature: coupons

#6535 Use GhostableViewController for all cases, part 1
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/GhostTableViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Reviews/ReviewsViewControllerTests.swift
Labels: type: technical debt, type: crash, good first issue

#6519 Removed fetching and setting customer_id during IPP flow
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/CustomerMapper.swift
  Networking/Networking/Model/Customer.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/stripe-customer-error.json
  Networking/NetworkingTests/Responses/stripe-customer.json
  Networking/NetworkingTests/Responses/wcpay-customer-error.json
  Networking/NetworkingTests/Responses/wcpay-customer.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: feature: mobile payments

#6526 Show product review detail from products
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
Labels: type: enhancement, good first issue, feature: product details

#6544 Use GhostableViewController for all cases, part 2
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeOptionsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Add Attributes/AddAttributeViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/GhostableViewController.swift
Labels: type: technical debt, type: crash, good first issue

#6537 Order Creation: Release order creation (removes experimental toggle)
  RELEASE-NOTES.txt
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddOrderCoordinatorTests.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: order creation

#6538 Order Creation: Update feedback banner on Orders tab for Order Creation & Simple Payments
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/SimplePaymentsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: feature: order creation
