Repository woocommerce/woocommerce-ios, pull requests merged in 2022-06, with the labels that each got.

#7010 Add pull to refresh to `EmptyStateViewController`
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewControllerTests.swift
Labels: type: bug, feature: order list, feature: product list

#7020 [Unified Order Editing] Add feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: feature: order details

#7022 Background product image upload: feature flag and initial `ProductImageUploader`
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ServiceLocator/LegacyProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductVariationDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
Labels: type: enhancement, feature: add/edit products

#7023 Orders - empty view pull to refresh
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: bug, feature: order list

#7029 Remove order number from the order details summary cell
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
Labels: feature: order details

#7030 Products - empty view pull to refresh
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: bug, feature: product list

#6936 Use new localization tooling to generate base `.strings` for GlotPress and to download its translations
  WooCommerce/Resources/ar.lproj/InfoPlist.strings
  WooCommerce/Resources/de.lproj/InfoPlist.strings
  WooCommerce/Resources/en.lproj/InfoPlist.strings
  WooCommerce/Resources/es.lproj/InfoPlist.strings
  WooCommerce/Resources/fr.lproj/InfoPlist.strings
  WooCommerce/Resources/he.lproj/InfoPlist.strings
  WooCommerce/Resources/id.lproj/InfoPlist.strings
  WooCommerce/Resources/it.lproj/InfoPlist.strings
  WooCommerce/Resources/ja.lproj/InfoPlist.strings
  WooCommerce/Resources/ko.lproj/InfoPlist.strings
  WooCommerce/Resources/nl.lproj/InfoPlist.strings
  WooCommerce/Resources/pt-BR.lproj/InfoPlist.strings
  WooCommerce/Resources/ru.lproj/InfoPlist.strings
  WooCommerce/Resources/sv.lproj/InfoPlist.strings
  WooCommerce/Resources/tr.lproj/InfoPlist.strings
  WooCommerce/Resources/zh-Hans.lproj/InfoPlist.strings
  WooCommerce/Resources/zh-Hant.lproj/InfoPlist.strings
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  fastlane/Fastfile
  fastlane/metadata/default/promo_screenshot_1.txt
  fastlane/metadata/default/promo_screenshot_2.txt
  fastlane/metadata/default/promo_screenshot_3.txt
  fastlane/metadata/default/promo_screenshot_4.txt
  fastlane/metadata/default/promo_screenshot_5.txt
Labels: category: tooling, category: i18n

#7032 Remove remaining localization scripts made unused by new tooling
  Scripts/fix-translation
  Scripts/localize.py
  Scripts/update-translations.rb
Labels: category: tooling, category: i18n

#7033 Add `ProductAction.updateProductImages` for updating images of a product
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: enhancement, feature: add/edit products

#7031 Tweak `GLOTPRESS_..._URL` constants name for clarity and consistency
  fastlane/Fastfile
Labels: category: tooling, category: i18n

#7024 [Order Creation] Refactor Order Status List VC/VM for testability
  WooCommerce/Classes/ViewModels/Order Details/OrderStatusListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/Edit Order Status/OrderStatusListViewModelTests.swift
Labels: feature: order details, feature: order creation

#7035 [Unified Order Editing] Show Edit button
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: feature: order details

#7039 [Unified Order Editing] Make Customer Provided Note read only
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: feature: order details, feature: order creation

#7041 [Unified Order Editing] Make Addresses read only
  WooCommerce/Classes/Model/Address+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: feature: order details

#7038 Fixes grammar on Product Variation screen when a product variation is enabled without a price
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
Labels: category: i18n, feature: variation details

#7007 Display a banner for onboarding user to WCShip installation in Order Detail
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/WCShip Installation Section/WCShipInstallTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/WCShip Installation Section/WCShipInstallTableViewCell.xib
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/Resources/Images.xcassets/woo-wcship-install-banner.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-wcship-install-banner.imageset/woo-wcship-install-banner-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-wcship-install-banner.imageset/woo-wcship-install-banner-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: shipping labels

#7045 [Unified Order Editing] Hide customer section conditionally
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: feature: order details

#7005 Coupons: Add validation for allowed emails
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponAllowedEmails.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponAllowedEmailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponAllowedEmailsViewModelTests.swift
Labels: type: enhancement, feature: coupons

#7042 [Order Creation] Ensure correct variation list is opened for selected variation
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelector.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
Labels: feature: order creation

#7016 [Mobile Payments] Use currency formatter in Yosemite
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  WooCommerce/Classes/Extensions/Order+CardPresentPayment.swift
  WooCommerce/Classes/Tools/AggregateData/AggregateDataHelper.swift
  WooCommerce/Classes/Tools/Shared Site Settings/SelectedSiteSettings.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderTotalsCalculator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/OrderRefundsOptionsDeterminer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundCreationUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundFeesCalculationUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundItemsValuesCalculationUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/RefundShippingCalculationUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/UseCases/TotalRefundedCalculationUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Refund/RefundSubmissionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/PriceFieldFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Bulk Edit Price/UnitInputViewModel+BulkUpdatePrice.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsValidator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/Tools/AggregateDataHelperTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencyFormatterTests.swift
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  WooFoundation/WooFoundation/Currency/CurrencyFormatter.swift
  WooFoundation/WooFoundation/Currency/CurrencySettings.swift
  Yosemite/Yosemite/Model/Payments/PaymentIntent+ReceiptParameters.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Model/Extensions/PaymentIntent+ReceiptParametersTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: category: tooling, type: technical debt, feature: mobile payments

#7046 [Order Details] Only show issue refund when an order has been paid
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: enhancement, feature: order details, feature: refunds

#7057 Update Charts from 3.6.0 to 4.0.3 and migrate to SPM
  Podfile
  Podfile.lock
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartMarker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#7053 Coupons: Add coupon creation success screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/CouponCreationSuccess.swift
  WooCommerce/Resources/Images.xcassets/check-success.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/check-success.imageset/check-success.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: coupons

#7047 [Mobile Payments] Refactor CardPresentPaymentsOnboardingUseCase to handle both plugins installed better
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsPlugin.swift
Labels: type: technical debt, feature: mobile payments

#7054 Unified Order Editing] Add new Order properties to Core Data
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 69.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: feature: order details

#7056 [Unified Order Editing] Update Order with new WC 6.6 properties
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/order.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order details

#7012 Introduce direct access to settings
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/Storage/Tools/GeneralAppSettingsStorage.swift
  Storage/StorageTests/Mocks/MockInMemoryStorage.swift
  Storage/StorageTests/Tools/GeneralAppSettingsStorageTests.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+CardReaderSettings.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrdersSettings.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsFeatureSwitch.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsSettings.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: category: architecture, type: technical debt

#7063 [Mobile Payments] Refactor cpp eligibility logic into Yosemite
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderPaymentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/OrderPaymentDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/OrderCardPresentPaymentEligibilityAction.swift
  Yosemite/Yosemite/Model/Payments/OrderPaymentMethod.swift
  Yosemite/Yosemite/Stores/Order/Order+CardPresentPayment.swift
  Yosemite/Yosemite/Stores/Order/Order+CurrencyFormattedValues.swift
  Yosemite/Yosemite/Stores/Order/TotalRefundedCalculationUseCase.swift
  Yosemite/Yosemite/Stores/OrderCardPresentPaymentEligibilityStore.swift
  Yosemite/YosemiteTests/Stores/Order/Order+CardPresentPaymentTests.swift
Labels: type: task, feature: mobile payments

#7067 Order Creation: Display and adjust quantity for order items as expected in Products section
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
Labels: feature: order creation

#7066 [Unified Order Editing ] Adds isEditable fallback for older stores
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Order+Fallbacks.swift
  Networking/Networking/Model/Order.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: feature: order details

#7071 Coupons: Add new feature flag for coupon creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: coupons

#7078 Disable duplicated `.strings` keys linting
  fastlane/Fastfile
Labels: category: tooling

#7048 Background product image upload: save product images when no images are pending upload anymore
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Media/Media.swift
  WooCommerce/Classes/ServiceLocator/LegacyProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductUIImageLoader.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageStatus.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
Labels: type: enhancement, feature: add/edit products, status: feature-flagged

#7069 GET updated data for a Refund immediately after it has been created
  Networking/Networking/Model/Refund/Refund.swift
  WooCommerce/Classes/ViewRelated/Orders/Refund/RefundSubmissionUseCase.swift
Labels: feature: order details, feature: refunds

#7058 [Mobile Payments] UI for payment gateway selection
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPlugin.swift
  WooCommerce/Resources/Images.xcassets/credit-card-give.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/credit-card-give.imageset/credit-card-give.pdf
  WooCommerce/Resources/Images.xcassets/stripe-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/stripe-icon.imageset/stripe-app-icon-7m1xi7.png
  WooCommerce/Resources/Images.xcassets/stripe-icon.imageset/stripe-app-icon-7m1xi7@2x.png
  WooCommerce/Resources/Images.xcassets/stripe-icon.imageset/stripe-app-icon-7m1xi7@3x.png
  WooCommerce/Resources/Images.xcassets/wcpay-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/wcpay-icon.imageset/wcpay-icon-fv4tef.png
  WooCommerce/Resources/Images.xcassets/wcpay-icon.imageset/wcpay-icon-fv4tef@2x.png
  WooCommerce/Resources/Images.xcassets/wcpay-icon.imageset/wcpay-icon-fv4tef@3x.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: mobile payments

#7059 [Mobile Payments] Connect logic for selecting payment gateway during onboarding
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsPluginState.swift
Labels: type: task, feature: mobile payments

#7079 Merge finalized release 9.3
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/Fastfile
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#7081 Skip GlotPress file update while bumping release version
  fastlane/Fastfile
Labels: category: tooling

#7082 Merge 9.4 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
Labels: Releases

#7070 SIWA account removal: UI navigation behind a feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Authentication/AppleIDCredentialChecker.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Epilogue/EmptyStoresTableViewCell.swift
  WooCommerce/Classes/Authentication/Epilogue/EmptyStoresTableViewCell.xib
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/RemoveAppleIDAccessCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockAppleIDCredentialChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/RemoveAppleIDAccessCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: task, feature: login

#7080 Add dateFromString helper function to TestKit
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  TestKit/Sources/TestKit/DateFormatter+Helpers.swift
  WooCommerce/WooCommerceTests/Mocks/MockReviews.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsValidatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product+ProductFormTests.swift
  Yosemite/YosemiteTests/Mocks/MockProductVariation.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductReviewStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: category: unit tests

#7083 Update `complete_code_freeze` lane with missing step to push changes
  fastlane/Fastfile
Labels: category: tooling

#7084 SIWA account removal: disconnect WP.com account from Apple ID action
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/RemoveAppleIDAccessCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockDotcomAccountRemote.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: task, feature: login

#7089 Use Xcode 13.4.1 in Buildkite
  .buildkite/cache-builder.yml
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/release-build.sh
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: category: tooling

#7096 Upgrade Swift Tools version from 5.3 to 5.5
  CodeGeneration/Package.swift
  TestKit/Package.swift
Labels: category: tooling

#7025 [Mobile Payments] Manage Payment Gateway from Settings
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTitleSubtitleTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTitleSubtitleTableViewCell.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
Labels: type: task, status: do not merge, feature: mobile payments

#7105 Merge 9.4 release notes to trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#7085 Hack Week: introduction of "hot reload" using Inject
  README.md
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  docs/inject-hot-reload.md
Labels: category: tooling

#7108 [UITII] - Update test names to use snake case and skip tests earlier
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
  WooCommerce/WooCommerceUITests/Tests/ProductsTests.swift
  WooCommerce/WooCommerceUITests/Tests/ReviewsTests.swift
  WooCommerce/WooCommerceUITests/Tests/StatsTests.swift
Labels: category: ui tests

#7095 Fix BottomSheets visual tap feedback
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/DiscountTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/BottomSheetOrderType.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/BottomSheetListSelector/DownloadableFileBottomSheetListSelectorCommand.swift
Labels: feature: add/edit products, feature: order creation

#7121 Merge 9.3.1 hotfix to release/9.4
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: Releases

#7122 Merge 9.4.0.1 to trunk
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Resources/ar.lproj/InfoPlist.strings
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/InfoPlist.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/InfoPlist.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/InfoPlist.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/InfoPlist.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/InfoPlist.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/InfoPlist.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/InfoPlist.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/InfoPlist.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/InfoPlist.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/InfoPlist.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/InfoPlist.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/InfoPlist.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/InfoPlist.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/InfoPlist.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/InfoPlist.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#7117 Coupon: Fix issue encoding coupons
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Coupon.swift
  Networking/NetworkingTests/Encoder/CouponEncoderTests.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: coupons

#7102 Avoid HubMenu unwanted redirects
  WooCommerce/Classes/Extensions/Site+URL.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: feature: hub menu

#7052 Coupons: Create coupon
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/CouponCreationSuccess.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
Labels: feature: coupons

#7116 Coupons: Allow empty email list
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponAllowedEmailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponAllowedEmailsViewModelTests.swift
Labels: type: bug, feature: coupons

#7133 Remove leftover CircleCI configuration
  .circleci/config.yml
Labels: category: tooling

#7065 [Unified Order Editing] Update New Order view and viewmodel to use existing order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: feature: order creation

#7128 [Order Creation] Expand new order UI test to include adding customer note
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/CustomerNoteSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/Customer Note/EditCustomerNote.swift
  WooCommerce/UITestsFoundation/OrderDataStructs.swift
  WooCommerce/UITestsFoundation/Screens/Orders/CustomerNoteScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/NewOrderScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/MockDataReader.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_3337.json
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
  docs/UI-TESTS.md
Labels: category: ui tests, feature: order creation

#7138 [Unified Order Editing] Refactor Order Creation form
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/CustomerNoteSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/OrderFormCustomerNoteViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/FlowCoordinator/AddOrderCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: order details, feature: order creation

#7134 Coupons: Track when sharing coupon from the coupon creation success screen
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/CouponCreationSuccess.swift
Labels: type: task, category: analytics, feature: coupons

#7142 [Order Details] Fix race condition for missing products request
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: feature: order details

#7141 [Unified Order Editing] Add non-editable banner
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Edition/Banners/NonEditableOrderBanner.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: type: task, feature: order details

#7143 SIWA account removal: update action to close account
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Epilogue/EmptyStoresTableViewCell.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/RemoveAppleIDAccessCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/RemoveAppleIDAccessCoordinatorTests.swift
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockDotcomAccountRemote.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: task, feature: login

#6972 Order Split View: Show the first item in the secondary column if possible
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: enhancement, feature: order list, feature: split view

#7147 Merge 9.4 final to trunk
  config/Version.Public.xcconfig
  fastlane/metadata/ja/release_notes.txt
Labels: Releases

#7097 Integrate Buildkite Test Analytics
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  fastlane/Fastfile
Labels: category: tooling

#7123 Update variable names not using snake case in `Fastfile`
  fastlane/Fastfile
Labels: category: tooling

#7137 Coupons: Remove redundant animation when reloading coupon list
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.swift
Labels: type: enhancement, feature: coupons

#7110 [Order Details] Reuse payment methods from Order Details
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsHostingController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: type: enhancement, feature: order details

#7111 [Order Details] Show Collect Payment button to all merchants
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
Labels: type: enhancement, feature: order details

#7155 Move `BUILDKITE_ANALYTICS_TOKEN` injection to Test Plan
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceUITests/UITests.xctestplan
  fastlane/Fastfile
Labels: category: tooling

#7129 Remove feedback request action for product variations
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: product list

#7120 [Order Details] Remove payment gateway account and onboarding use from order details
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: type: task, feature: order details, feature: mobile payments

#7149 [Unified Order Editing] Show non-editable indicators
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: review details

#7153 [Mobile Payments] Use selected paymentgateway for payment
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/IssueRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/IssueRefundViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: type: enhancement, feature: mobile payments

#7145 Background product image upload: show upload failure notice with an action to view product details
  WooCommerce/Classes/Authentication/Epilogue/SwitchStoreUseCase.swift
  WooCommerce/Classes/Extensions/UIViewController+Navigation.swift
  WooCommerce/Classes/ServiceLocator/LegacyProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewController+ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
Labels: type: enhancement, feature: add/edit products, status: feature-flagged

#7154 Background image upload: show failure notice from saving product images
  WooCommerce/Classes/ServiceLocator/LegacyProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewController+ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
Labels: type: enhancement, feature: add/edit products, status: feature-flagged

#7136 [Order Details] Adds payment title check to Refund confirmation screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Issue Refund/RefundConfirmationViewModelTests.swift
Labels: feature: order details, feature: refunds

#7159 [Unified Order Editing] Sync status and customer note in Order Edit flow
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: feature: order details, feature: order creation

#7168 Merge 9.5 release notes to trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#7162 [Unified Order Editing] Adjust loading indicators
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: order details

#7161 Background image upload: reset states after logging out
  WooCommerce/Classes/ServiceLocator/LegacyProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ServiceLocator/ServiceLocator.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
Labels: type: enhancement, feature: add/edit products, status: feature-flagged

#7152 Background image upload: Update `parent_id` of already uploaded images
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/MediaListMapper.swift
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-update-product-id.json
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesProductIDUpdater.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockMediaStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImagesProductIDUpdater.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesProductIDUpdaterTests.swift
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: enhancement, feature: add/edit products, status: feature-flagged

#7167 Background image upload: Use different API for updating product ID of images in JCP site.
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-update-product-id-in-wordpress-site.json
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: enhancement, feature: add/edit products, status: feature-flagged

#7170 [Order Details] Remove uncalled syncOrderAfterPayment function
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: type: task, feature: order details, feature: mobile payments

#7160 [Mobile Payments] Payment gateway selection tracking
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
Labels: type: task, feature: mobile payments, category: analytics

#7174 Fix product image upload error alert in product images and a retain cycle between `ProductLoaderViewController` and `ProductFormViewController`
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormPresentationStyle.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Product Loader/ProductLoaderViewController.swift
Labels: type: bug, feature: add/edit products

#7169 [Mobile Payments] Correctly handle cancelation on card reader modals
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/MockCollectOrderPaymentUseCase.swift
Labels: feature: order details, feature: mobile payments, category: analytics, feature: simple payments

#7176 [Mobile Payments] Add VoiceOver accessibility to the IPP Select Plugin View
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
Labels: type: bug, type: task, feature: mobile payments

#7036 Validate coupon percent amount
  WooCommerce/Classes/Styles/UIColor+SemanticColors.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/Coupon Text Validators/CouponAmountInputFormatter.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndTextFieldRow.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/AddEditCouponViewModelTests.swift
Labels: feature: coupons
