Repository woocommerce/woocommerce-ios, pull requests merged in 2022-01, with the labels that each got.

#5780 [My Store Updates] Header UI updates
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsSiteVisitEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
Labels: type: enhancement

#5781 Coupons: Move entry point of coupon list from settings to hub menu
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListView.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.xib
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Resources/Images.xcassets/icon-coupon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-coupon.imageset/icon-coupon.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
Labels: type: task, feature: coupons

#5789 Merge 8.2 release notes into trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#5788 Refactor `StoreStatsV4PeriodViewController` with a view model
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt

#5747 Hub Menu: handle the remaining actions, like Switch Store, Settings and WooCommerce Admin
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: app settings

#5786 Integrate CollectOrderPaymentUseCase on Order Details
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details, feature: mobile payments

#5795 Add unit tests for `StoreStatsPeriodViewModel`
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/OrderStatsV4.swift
  Networking/Networking/Model/Stats/OrderStatsV4Interval.swift
  Networking/Networking/Model/Stats/OrderStatsV4Totals.swift
  Networking/Networking/Model/Stats/SiteVisitStats.swift
  Networking/Networking/Model/Stats/SiteVisitStatsItem.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
Labels: type: technical debt

#5797 Store stats placeholder design updates
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartPlaceholderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartPlaceholderView.xib
Labels: type: enhancement

#5796 Coupons: Add option to delete coupons to Yosemite
  Networking/Networking/Remote/CouponsRemote.swift
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons

#5800 Design updates for top performers section header
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartPlaceholderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/TopPerformersSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnSectionHeaderView.xib
Labels: type: enhancement

#5802 Update top performers content - cell configuration, section header, and items sorted by items sold
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/TopEarnerStatsItem.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductTableViewCellViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Model/Extensions/TopEarnerStatsItem+ComparableTests.swift
Labels: type: enhancement, status: feature-flagged

#5801 Coupons: Update Networking and Yosemite with option to update coupon
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons

#5727 Order Creation: Fix product list sync on Add Product screen
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5803 Coupons: Update Networking and Yosemite with option to create coupon
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons

#5612 Issue/4548 Connect card reader UI
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingError.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: mobile payments

#5804 Hub Menu: improved element selection and hidden the reviews tab
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: task, feature: review list

#5806 Order Creation: Add basic payment section
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5807 Simple Payments: Prevent amount overflowing the screen
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
Labels: feature: order creation

#5817 Merge release/8.2 into trunk (8.2.0.2 beta)
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#5811 Show revenue stats without rounding
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
Labels: type: enhancement, status: feature-flagged

#5810 Update time range date text
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStatsV4ChartAxisHelperTests.swift
Labels: type: enhancement, status: feature-flagged

#5813 Coupons: Simplify state management on coupon list using Combine
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#5812 Update test coverage list
  docs/UI-TESTS.md
Labels: category: ui tests

#5824 Fix crash when tapping on Menu tab in iOS 14
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: type: crash

#5820 Finalize Analytics Usage Tracking
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsUsageTracksEventEmitter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsUsageTracksEventEmitterTests.swift
Labels: feature: stats

#5819 Simple Payments: Enable sharing payment links
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethod.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: feature: order creation

#5503 Analytics Tracking Prototype
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsUsageTracksEventEmitter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsUsageTracksEventEmitterTests.swift
Labels: feature: stats

#5823 Remove placeholder content for store stats / top performers sections for each time range tab ASAP
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
Labels: type: enhancement, status: feature-flagged

#5825 Orders tab: fix sample data shown in placeholder view after switching tabs
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: type: bug

#5827 Coupons: Add pull-to-refresh to coupon list
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#5833 Reviews screen - Mark all as read bar button: Replace checkmark button with menu button and action sheet.
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/UITestsFoundation/Screens/Reviews/ReviewsScreen.swift
Labels: type: enhancement, feature: review list

#5828 Coupons: Add loading next page functionality to coupon list
  Networking/Networking/Mapper/CouponListMapper.swift
  Networking/Networking/Model/Coupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponManagementListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#5832 [Mobile Payments] Return card reader connection tokens from wcpay or stripe endpoints
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ReaderConnectionTokenMapper.swift
  Networking/Networking/Mapper/WCPayConnectionTokenMapper.swift
  Networking/Networking/Model/ReaderConnectionToken.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/stripe-connection-token.json
Labels: feature: mobile payments

#5834 Add tests to validate `ReviewsViewController` menu bar button item behaviour
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Reviews/ReviewsViewControllerTests.swift
Labels: type: enhancement, feature: review list

#5836 Products List: Replace the word "variant" with "variation"
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
Labels: type: enhancement, feature: product list

#5835 Update top performers placeholder
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/LegacyTopPerformersSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/TopPerformersSectionHeaderView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, status: feature-flagged

#5760 Made mock UI tests credentials shorter.
  WooCommerce/WooCommerceUITests/Utils/TestCredentials.swift
Labels: category: ui tests

#5816 Hub Menu: manage review push notification
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuCoordinatorTests.swift
Labels: type: task, feature: review details, feature: hub menu

#5841 Migrate Observables to Combine: `PushNotesManager` and its dependencies
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsCoordinator.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
Labels: type: technical debt

#5858 Merge 8.3 code freeze into trunk
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#5857 Add "View" action to in-app notifications
  WooCommerce/Classes/Notifications/ApplicationAdapter.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsCoordinator.swift
  WooCommerce/WooCommerceTests/Mocks/MockApplicationAdapter.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Notifications/ReviewsCoordinatorTests.swift
Labels: type: enhancement, feature: notifications

#5849 [Mobile Payments] Add support for customer creation to StripeRemote
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/CustomerMapper.swift
  Networking/Networking/Model/Customer.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/stripe-customer-error.json
  Networking/NetworkingTests/Responses/stripe-customer.json
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: mobile payments

#5850 [Mobile Payments] Add support for payment capture to StripeRemote
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/RemotePaymentIntentMapper.swift
  Networking/Networking/Model/RemotePaymentIntent.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/stripe-payment-intent-canceled.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-error.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-processing.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-requires-action.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-requires-capture.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-requires-confirmation.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-requires-payment-method.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-succeeded.json
  Networking/NetworkingTests/Responses/stripe-payment-intent-unknown-status.json
Labels: feature: mobile payments

#5821 Simple Payments: Add tests when collecting payments by card
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Method/SimplePaymentsMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/MockCollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsMethodsViewModelTests.swift
Labels: feature: order creation

#5852 [Mobile Payments] Add support for reader default location to Stripe Remote
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/RemoteReaderLocationMapper.swift
  Networking/Networking/Model/RemoteReaderLocation.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  Networking/NetworkingTests/Remote/WCPayRemoteTests.swift
  Networking/NetworkingTests/Responses/stripe-location-error.json
  Networking/NetworkingTests/Responses/stripe-location.json
  Yosemite/Yosemite/Model/Payments/WCPayReaderLocation+ReaderLocation.swift
Labels: feature: mobile payments

#5844 [Mobile Payments] Update URLs for card reader purchase and user guide
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
Labels: type: enhancement, status: do not merge, feature: mobile payments

#5826 Update mocks for My Store/Stats screen
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_leaderboards_stats_day.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_leaderboards_stats_month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_leaderboards_stats_week.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_leaderboards_stats_year.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_day.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_hour.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc-analytics/reports_revenue_stats_year.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_list_1.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_list_2.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/products/products_list_3.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_orders-month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_orders-week.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_orders_day.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_orders_month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_orders_week.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_orders_year.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_top_earners_day.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_top_earners_month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_top_earners_week.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_top_earners_year.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_visits-month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_visits-week.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_visits_day.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_visits_month.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_visits_week.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/stats/stats_visits_year.json
  WooCommerce/WooCommerceUITests/Tests/StatsTests.swift
  WooCommerce/WooCommerceUITests/UITests.xctestplan
Labels: category: ui tests

#5840 Add/Edit Product: Fix transient product name while adding images.
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: bug, feature: add/edit products

#5861 Remove unused identifier in project.pbxproj
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt

#5869 Order Creation: Add support for showing a product variation in ProductRow
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5863 Hide settings button in home screen and switch store action under settings if hub menu feature flag is enabled
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: task, feature: hub menu

#5875 Remove unused file references
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt

#5864 Order Creation: Update customer section
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/NavigationRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: status: feature-flagged, feature: order creation

#5870 Order Creation: Add protocol for AddProductToOrder view models to make it reusable
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5871 Order Creation: Add support for displaying a list of variations to select for a new order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5859 Fix ghost "Reviews" label in the tab bar when `hubMenu` feature flag is off
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: bug

#5882 Reviews: Update right bar button item when embedded in hosting controller
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsView.swift
Labels: type: bug, feature: review list, feature: hub menu

#5876 Fix: removed Ghost "Hub Menu" label that appears in the tab bar after navigating back to the Menu tab
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
Labels: type: bug, feature: hub menu

#5879 Hub Menu: handled highlighted state when tapping on items
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
Labels: type: enhancement, type: task, feature: hub menu

#5877 Implemented tracking events for the Hub Menu
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: type: task, category: analytics, feature: hub menu

#5883 My store tab: fix glitch when scrolling up the dashboard with certain content height
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
Labels: type: bug

#5885 My store tab design/technical updates (before design review)
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/NoPeriodDataTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
Labels: type: enhancement, status: feature-flagged

#5901 Jetpack CP: Reload Settings sections when dismissing Install Jetpack screen
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: enhancement, feature: app settings

#5898 Coupons: Fix mapping for coupons to filter non-default discount types
  Networking/Networking/Mapper/CouponListMapper.swift
  Networking/Networking/Model/Coupon.swift
  Networking/NetworkingTests/Mapper/CouponListMapperTests.swift
  Networking/NetworkingTests/Responses/coupons-all.json
Labels: type: bug, feature: coupons, status: feature-flagged

#5891 Hub Menu: highlighted state of the settings button
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
Labels: type: enhancement, feature: hub menu

#5884 Hub Menu: Update tint colors of menu items when switching between light mode and dark mode
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: type: enhancement, feature: hub menu

#5897 Order Creation: Adds SwiftUI notice support
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#5906 Merge 8.3 release notes into trunk
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#5908 Fix flaky unit tests in `SimplePaymentsSummaryViewModelTests`
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: category: unit tests

#5868 [Mobile Payments] Consolidate CardPresent and PaymentGateway Stores; Switch Between WCPay and Stripe Backends Within
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Networking/Networking/Remote/StripeRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Actions/PaymentGatewayAccountAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockPaymentGatewayAccountActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/Yosemite/Stores/PaymentGatewayAccountStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
  Yosemite/YosemiteTests/Stores/PaymentGatewayAccountStoreTests.swift
Labels: feature: mobile payments

#5873 Remove condition on tab nav
  WooCommerce/UITestsFoundation/Screens/Menu/MenuScreen.swift
  WooCommerce/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
  WooCommerce/WooCommerceUITests/Tests/ReviewsTests.swift
Labels: category: ui tests

#5909 Fix in-app review notification and track viewing in-app notifications
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
Labels: type: bug, category: analytics

#5916 Networking: Add tax lines to Orders
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/OrderTaxLine.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Responses/order-with-faulty-attributes.json
  Networking/NetworkingTests/Responses/order.json
  Networking/NetworkingTests/Responses/orders-load-all.json
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_any.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/jetpack-blogs/wc/orders/orders_processing.json
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: type: enhancement, feature: order details

#5913 Hub Menu: managed notification badge in the hub menu tab
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuElement.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailsViewController.swift
Labels: feature: notifications, feature: hub menu

#5915 [Mobile Payments] Update the app to use the payment gateway installed on the store
  Networking/Networking/Model/StripeAccount.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: type: task, feature: mobile payments

#5919 Coupons: Update Yosemite for coupon analytics reports
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: enhancement, feature: coupons

#5837 Add UI Test for Orders List and Single Order Screen
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/UITestsFoundation/OrderDataStructs.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/MockDataReader.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: category: ui tests

#5923 Simple payments: Add feature flag to display tax breakup in summary screen.
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: enhancement, feature: order creation

#5918 Storage: Add tax lines to Orders
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/OrderTaxLine+CoreDataClass.swift
  Storage/Storage/Model/OrderTaxLine+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 61.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: type: enhancement, feature: order details

#5922 [Mobile Payments] Use a single object for token and location, update its context as siteID, gateway change
  Networking/Networking/Remote/StripeRemote.swift
  Networking/Networking/Remote/WCPayRemote.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: feature: mobile payments

#5924 JCP: handle shop manager edge case and enable feature flag for all
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: enhancement

#5925 Re-enable reviews test, doc updates
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
  WooCommerce/WooCommerceUITests/Tests/ProductsTests.swift
  WooCommerce/WooCommerceUITests/Tests/ReviewsTests.swift
  WooCommerce/WooCommerceUITests/Tests/StatsTests.swift
  docs/UI-TESTS.md
Labels: category: ui tests

#5931 Yosemite: Add tax lines to Orders
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderTaxLine+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: enhancement, feature: order creation

#5926 Enable Hub Menu for everyone
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: hub menu

#5930 [Mobile Payments] Prompt user to update the specific out of date plugin
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsLiveSiteInTestModeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotActivatedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotInstalledView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSupportedVersionView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsWCPayNotSetup.swift
  WooCommerce/Resources/Images.xcassets/stripe-payments-plugin.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/stripe-payments-plugin.imageset/stripe-payments-plugin-1.pdf
  WooCommerce/Resources/Images.xcassets/stripe-payments-plugin.imageset/stripe-payments-plugin.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments

#5932 Refactor store stats data / empty state UI and always show the stats views
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsDataOrRedactedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsSiteVisitEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement

#5935 Check for when Stripe is installed but not active
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalFoundReader.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupported.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingError.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotActivatedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSupportedVersionView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments

#5939 Update visitor and conversion stats view states
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
Labels: type: enhancement

#5938 Coupons: Update list UI
  Networking/Networking/Mapper/CouponListMapper.swift
  Networking/NetworkingTests/Mapper/CouponListMapperTests.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.xib
  WooCommerce/Resources/Images.xcassets/woo-empty-coupons.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-coupons.imageset/img-coupons-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-coupons.imageset/woo-empty-coupons.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Model/CouponWooTests.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: feature: coupons, status: feature-flagged

#5895 Order Creation: Include variable products in product list on Add Product screen
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LazyNavigationLink.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#5941 [Mobile Payments] [Stripe Backend] Prompt merchant to take live account sites out of test mode for IPP
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsLiveSiteInTestModeView.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments

#5944 Design polishes based on design review
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/TopPerformersSectionHeaderView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
Labels: type: enhancement

#5960 Coupons: Update Networking with new endpoint for searching coupons
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
Labels: type: task, feature: coupons

#5963 `TitleAndValueRow` long texts - Add `multilineTextAlignment` modifier for `title` and `value`
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: type: enhancement

#5959 Merge 8.4 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#5962 Coupons: Update Storage with CouponSearchResult
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Coupon+CoreDataProperties.swift
  Storage/Storage/Model/CouponSearchResult+CoreDataClass.swift
  Storage/Storage/Model/CouponSearchResult+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 62.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
Labels: type: task, feature: coupons

#5964 Simple payments: Show tax breakup in summary
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: type: enhancement, status: feature-flagged, feature: order creation

#5965 [Mobile Payments] Add unit tests to IPP Onboarding to cover Stripe Gateway specific logic
  Networking/Networking/Model/PaymentGatewayAccount.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: type: task, category: unit tests, feature: mobile payments

#5948 Created M3 Inbox feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, category: inbox

#5978 Fix broken test build caused by outdated helper method call
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: type: task, category: unit tests, feature: mobile payments

#5975 Coupons: Update Yosemite to add search coupons functionality
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons

#5970 Remove decimal points for revenue integer values
  WooCommerce/Classes/Tools/Currency/CurrencyFormatter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
Labels: type: enhancement

#5982 Coupons: Add search functionality to coupon list screen
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: coupons

#5961 My store tab: polish chart y-axis range
  WooCommerce/Classes/Extensions/Double+Rounding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Double+RoundingTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
Labels: type: enhancement

#5971 Migrate Observables to Combine: product form
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
Labels: type: technical debt

#5987 [Mobile Payments] Bump Stripe Terminal SDK to 2.5.0
  Podfile
  Podfile.lock
Labels: type: task, feature: mobile payments

#5992 [Mobile Payments] Add feature flag for Canada Payments
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: mobile payments

#5967 Order Creation: Refactor address form, prepare for reusability
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditOrderAddressFormViewModelTests.swift
Labels: feature: order details, feature: order creation

#5969 [Mobile Payments] [Stripe Backend] Correct rest base path for stripe for order related actions
  Networking/Networking/Remote/StripeRemote.swift
  Networking/NetworkingTests/Remote/StripeRemoteTests.swift
Labels: feature: mobile payments

#5996 Remove "excluding taxes" message
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: feature: order creation

#5991 Release Home Screen M2 - My store tab updates for all
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: enhancement

#5989 Migrate Observables to Combine for a few classes
  WooCommerce/Classes/Tools/InfiniteScroll/ScrollWatcher.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/OldStoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCellViewModel.swift
  WooCommerce/WooCommerceTests/Tools/InfiniteScroll/ScrollWatcherTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModel+VariationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCellViewModelTests.swift
Labels: type: technical debt

#5988 Migrate Observables to Combine for product list selector data source
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductsListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelectorViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/ListSelector/ProductListMultiSelectorDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSourceTests.swift
Labels: type: technical debt

#6000 Remove decimal points for abbreviated integer values in chart y-axis labels
  WooCommerce/Classes/Extensions/Double+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/WooCommerceTests/Extensions/DoubleWooTests.swift
Labels: type: enhancement

#6002 Coupons: Update Networking and Yosemite to retrieve a single coupon by ID
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: coupons

#5999 Coupons: Add coupon details UI
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponDetailsViewModelTests.swift
Labels: type: task, feature: coupons, status: feature-flagged

#5994 Inbox Notes networking entities + Mapper
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/InboxNoteListMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/InboxAction.swift
  Networking/Networking/Model/InboxNote.swift
  Networking/NetworkingTests/Mapper/InboxNoteListMapperTests.swift
  Networking/NetworkingTests/Responses/inbox-note-list.json
Labels: type: task, category: inbox

#6006 Add fakes for InboxAction and InboxNote
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/InboxAction.swift
  Networking/Networking/Model/InboxNote.swift
Labels: type: task

#5995 Order Creation: Add selected product variation to a new order
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/AddProductVariationToOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/AddProductVariationToOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/Products/Product+OrderItem.swift
  Yosemite/YosemiteTests/Tools/Products/Product+OrderItemTests.swift
Labels: status: feature-flagged, feature: order creation

#5998 [Mobile Payments] Display battery too low to connect message when battery too low to connect
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  Hardware/HardwareTests/ErrorCodesTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectingFailedChargeReader.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentsStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReader.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
Labels: feature: mobile payments

#6003 Dashboard: fix redacted view color for JCP sites before Home Screen M2 changes
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsEmptyView.swift
Labels: type: bug

#6013 Merge 8.4 release notes into trunk
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#6005 Fix: Gridicons crash on startup
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: bug, type: crash

#6009 Order Creation: Present notices inside the SwiftUI hierarchies
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/NewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/AddressFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/NewOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Addresses/EditOrderAddressFormViewModelTests.swift
Labels: feature: order creation

#6008 [Mobile Payments] Add ChargeID to Order
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/order-with-charge.json
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelPackageDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell/SummaryTableViewCellViewModelTests.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderNoteStoreTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
  Yosemite/YosemiteTests/Stores/RefundStoreTests.swift
Labels: feature: mobile payments

#6019 [Mobile Payments] Order storage update to add ChargeID
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 63.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
Labels: feature: mobile payments

#6017 Fixed retain cycle in NoticeView & NoticeContainerView
  WooCommerce/Classes/Tools/Notices/DefaultNoticePresenter.swift
Labels: type: bug, feature: order details

#6014 Fixed broken path in UI-TESTS.md
  docs/UI-TESTS.md
Labels: type: documentation

#6015 Preselect the current day in custom date filters
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/Custom Range Filter/DateRangeFilterViewController.swift
Labels: type: enhancement
