Repository woocommerce/woocommerce-ios, pull requests merged in 2023-10, with the labels that each got.

#10779 [Mobile Payments] Incorrect amount when collecting Simple Payment with RTL currency
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Networking/NetworkingTests/Responses/order-with-special-character-currency.json
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: type: bug, feature: mobile payments

#10826 Bundle products in order form: storage layer changes
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ProductBundleItem+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 99.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: category: woo extensions, feature: order creation

#10827 Bundle products in order form: Networking & Yosemite layer changes
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Model/OrderItemBundleItem.swift
  Networking/Networking/Model/Product/ProductBundleItem.swift
  Networking/Networking/Model/Product/ProductVariationAttribute.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  WooCommerce/WooCommerceTests/Tools/MockOrderItem.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/ProductDetailsCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product Loader/ProductLoaderViewControllerModelTests.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/OrderItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductBundleItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: category: woo extensions, feature: order creation

#10818 iOS 17: Disable the splitViewInOrdersTab feature flag to bypass a crash when opening orders
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
Labels: feature: order list, type: crash

#10714 [Mobile Payments] Log `stripe_extension_not_setup` when Stripe setup not completed
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: type: task, feature: mobile payments

#10829 [Discounts in Orders] Order creation improvements
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrder.swift
Labels: type: bug, feature: order creation

#10847 [UI Tests] - Add swipeUp() to get addCustomerDetailsButton in view
  WooCommerce/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
Labels: category: ui tests

#10840 Product Creation AI: Fetch shipping units if needed
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: type: task, feature: add/edit products

#10846 Product Creation AI: Networking and Yosemite for bulk add categories
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductCategoryListMapper.swift
  Networking/Networking/Model/Product/ProductCategoryFromBatchCreation.swift
  Networking/Networking/Remote/ProductCategoriesRemote.swift
  Networking/NetworkingTests/Mapper/ProductCategoyListMapperTests.swift
  Networking/NetworkingTests/Remote/ProductCategoriesRemoteTests.swift
  Networking/NetworkingTests/Responses/product-categories-created-without-data.json
  Networking/NetworkingTests/Responses/product-categories-created.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/ProductCategoryAction.swift
  Yosemite/Yosemite/Stores/ProductCategoryStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductCategoriesRemote.swift
  Yosemite/YosemiteTests/Stores/ProductCategoryStoreTests.swift
Labels: feature: add/edit products

#10848 Product Creation AI: Make AIProduct public and match categories/tags in view model
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/AIProductMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Mapper/AIProductMapperTests.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGenerativeContentRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: feature: add/edit products

#10820 [HACK week] Woo Payments Deposits summary networking
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooPaymentsDepositsOverviewMapper.swift
  Networking/Networking/Model/WooPaymentsDepositsOverview.swift
  Networking/Networking/Remote/WCPayRemote.swift
Labels: type: task, feature: mobile payments, status: feature-flagged

#10821 Add DepositService to get deposit overview
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/WooPaymentsDepositsOverview.swift
  Yosemite/Yosemite/Tools/Payments/WooPaymentsDepositService.swift
Labels: type: task, feature: mobile payments, status: feature-flagged

#10844 [Orders with Coupons M6] Adds `ordersWithCouponsM6` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: coupons, feature: order creation

#10861 [Orders with Coupons M6] Remove product from order on collapsable product row component
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: task, feature: coupons, feature: order creation

#10862 [Orders with Coupons M6] Add Image thumbnail to collapsable product row
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductImageThumbnail.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: coupons, feature: order creation

#10864 Product Creation AI: New tags/categories
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: feature: add/edit products

#10891 Merge 15.6 final into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#10893 Merge 15.7 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#10877 Fix order item variation attributes missing with product addons
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/ProductDetailsCellViewModelTests.swift
Labels: type: bug, feature: order details

#10886 [TTPUK] TTPUK feature flags
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Universal Links/Routes/PaymentsRoute.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayViewModelsOrderedList.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayBadgePromotionChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Universal Links/Routes/PaymentsRouteTests.swift
Labels: type: task, feature: mobile payments

#10896 Product Creation AI: Check JWT expiry date to reduce network requests
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/JWTokenMapper.swift
  Networking/Networking/Model/JWToken.swift
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Mapper/JWTokenMapperTests.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  Networking/NetworkingTests/Responses/jwt-token-expired-token.json
  Networking/NetworkingTests/Responses/jwt-token-success.json
Labels: type: task

#10897 [Custom Amounts M1] Add Feature Flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: order creation

#10905 Product Creation AI: Display short description on preview screen
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
Labels: type: enhancement, feature: add/edit products

#10901 Merge 15.7 release notes into trunk
  CHANGELOG.md
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#10914 Blaze Optimization: Add new model BlazeCampaign
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/BlazeCampaignListMapper.swift
  Networking/Networking/Model/BlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListMapperTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-success.json
Labels: type: task

#10895 [Orders with Coupons M7] Product discount components
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeOrDiscountLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/DiscountLineDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details, feature: coupons, feature: order creation

#10916 Blaze Optimization: Integrate Blaze campaign list endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
Labels: type: task

#10849 [HACK Week] Order Navigation
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: task, feature: order details

#10899 [Custom Amounts M1] Editable Order - Products section - Nothing added
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
Labels: type: task, feature: order creation

#10909 [TTPUK] Extract CountryCode to WooFoundation
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Country/StoreCreationCountryButton.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Country/StoreCreationCountryQuestionViewModel.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Country/StoreCreationCountrySectionView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationSummaryView.swift
  WooCommerce/Classes/Extensions/CountryCode+FlagEmoji.swift
  WooCommerce/Classes/Tools/SiteAddress.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationCountryQuestionViewModelTests.swift
  WooCommerce/WooCommerceTests/Extensions/CountryCode+FlagEmojiTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Countries/CountryCode.swift
Labels: type: task, feature: mobile payments

#10910 [TTPUK] Use country code in card configuration
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Tools/In-Person Payments/CardPresentConfigurationLoader.swift
  WooCommerce/Classes/Tools/SiteAddress.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptActionCoordinator.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionAnalyticsTracker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCashOnDeliveryPaymentGatewayNotSetUpView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupported.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupportedStripe.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentReceiptEmailCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/WooCommerceTests/Tools/SiteAddressTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentPaymentReceiptEmailCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/RefundSubmissionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/ReceiptActionCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/ReceiptViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/BluetoothCardReaderSettingsConnectedViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/CardReaderSettingsSearchingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsCashOnDeliveryToggleRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCashOnDeliveryPaymentGatewayNotSetUpViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayReconnectionControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
  WooFoundation/WooFoundation/Countries/CountryCode.swift
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
  Yosemite/YosemiteTests/Stores/Order/Order+CardPresentPaymentTests.swift
  Yosemite/YosemiteTests/Stores/OrderCardPresentPaymentEligibilityStoreTests.swift
Labels: type: task, feature: mobile payments

#10900 [TTPUK] About Tap to Pay screen
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/LearnMoreViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayContactlessLimitViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#10888 [TTPUK] Update UK card configuration for Tap to Pay
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/NoOpCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/ReaderDisplayMessage+Localization.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Tools/In-Person Payments/CardPresentConfigurationLoader.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderSupportDeterminer.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/LearnMoreViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayContactlessLimitViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: type: task, feature: mobile payments

#10908 [Orders with Coupons M7] Add informational tooltips
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: type: task, feature: coupons, feature: order creation

#10919 Blaze Optimization: Update Yosemite to enable synchronizing campaigns
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/BlazeCampaign.swift
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaign+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task

#10930 Use latest CI toolkit version, 2.18.2
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: category: tooling

#10923 [TTPUK] Rename Tap to Pay row after first transaction
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModel.swift
Labels: type: enhancement, feature: mobile payments

#10892 [Onboarding Deep Link] Add login deep link track events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: type: task, feature: login

#10920 [Orders with Coupons M7] Make coupons and discounts mutually exclusive
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: type: task, feature: coupons, feature: order creation

#10929 [Orders with Coupons M6/M7] Enable feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task, feature: coupons, feature: order creation

#10932 Blaze Optimization: Campaign list item UI
  Networking/Networking/Model/BlazeCampaign.swift
  WooCommerce/Classes/Extensions/BlazeCampaignStatus+Customizations.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#10944 [Orders with Coupons ]Update release notes
  RELEASE-NOTES.txt
Labels: type: task, feature: coupons

#10938 [TTPUK] Show appropriate system requirements for TTP
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  WooCommerce/Classes/Extensions/OperatingSystemVersion+Localization.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayReconnectionControllerTests.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: type: task, feature: mobile payments

#10936 [Mobile Payments] Payments menu design updates
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/ic_outline-feedback.png
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/ic_outline-feedback@2x.png
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/ic_outline-feedback@3x.png
Labels: type: enhancement, feature: mobile payments

#10937 [TTPUK] Change Try a Payment amount to 30p in the UK
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewModel.swift
Labels: type: enhancement, feature: mobile payments

#10934 [Mobile Payments] Show About Tap to Pay from Setup flow's learn more link
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
Labels: type: task, feature: mobile payments

#10948 Merge 15.7 final into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#10949 Merge 15.8 code freeze into trunk
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#10935 Blaze Optimization: Sync Blaze campaigns on campaign list
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/Extensions/URL+Identifiable.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/RefreshableInfiniteScrollList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#10950 Blaze Optimization: Unit tests for Blaze campaign list view model
  Networking/Networking/Model/BlazeCampaign.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
Labels: category: unit tests

#10947 [TTPUK] Design updates in the Set Up Tap to Pay flow
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayCompleteViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
Labels: type: task, feature: mobile payments

#10946 Blaze Optimization: Starting UI for Blaze Campaign Intro View.
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/BulletPointView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#10958 Blaze Optimization: UI for Blaze campaign section on Dashboard
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task

#10965 Blaze Optimization: Display intro screen on top of the empty campaign list
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
Labels: type: task

#10956 Reusable components for product discounts view
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/DiscountLineDetailsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LineDetailView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: coupons, feature: order creation

#10957 [TTPUK] Enable `tapToPayOnIPhoneInUK` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: mobile payments

#10962 Blaze Optimization: Logic to show Blaze view in dashboard
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task

#10904 Passkeys: Update WordpressAuthenticator to add passkey support
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: feature: login

#10960 Blaze Optimization: Remove banner on product list screen
  WooCommerce/Classes/ViewRelated/Products/ProductsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductListViewModelTests.swift
Labels: type: task

#10968 Site Creation: Add missing tracking for site creation flow when started from prologue screen
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationCoordinator.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/StoreCreationCoordinatorTests.swift
Labels: type: bug, category: analytics

#10967 [UI Tests] - Fix top flaky UI tests
  WooCommerce/UITestsFoundation/Screens/Payments/CardReaderManualsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Payments/PaymentsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Settings/SettingsScreen.swift
Labels: category: ui tests

#10974 [Onboarding Deep Link] Fix login link is no-op when onboarding is shown
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/ServiceLocator/Authentication.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockAuthentication.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewControllerTests.swift
Labels: type: bug, feature: login

#10980 Merge 15.8 final into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#10971 Blaze Optimization Update color and label for some Blaze campaign status
  WooCommerce/Classes/Extensions/BlazeCampaignStatus+Customizations.swift
Labels: type: task

#10972 Blaze Optimization: Track events for Blaze campaigns and intro view
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task, category: analytics

#10969 Blaze Optimization: Navigation from the section on My Store
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task

#10963 [Orders with Coupons] Fix icon tooltip rendering when order has no discounts
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TooltipView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: type: bug, feature: coupons, feature: order creation

#10981 Merge 15.9 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#10921 [Custom Amounts M1] Custom Amount Flow
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/FormattableAmountTextFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FormattableAmountTextField.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/FormattableAmountTextFieldViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
Labels: type: task, feature: order creation

#10979 [Onboarding Deep Link] Add test cases on app login link navigation
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
Labels: category: unit tests

#10985 [Bundle products in order form] Add Configure CTA behind a feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrder.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ButtonStyles.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: category: woo extensions, status: feature-flagged

#10993 [Custom Amounts M1] Add custom amount to order as fee - Business Logic
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: type: task, feature: order creation

#10994 [Tracks] Crash fix – TracksPersistentStoreException and EXC_Breakpoint CFRetain() called with NULL
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/TracksProvider.swift
Labels: type: crash, category: analytics

#10998 [Orders with Coupons] Fix tooltip coupons visibility cases
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: bug, feature: coupons, feature: order creation

#11001 [Order Creation] Update product row's `price × quantity` view
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/ProductDetailsCellViewModelTests.swift
Labels: type: enhancement, feature: coupons, feature: order creation

#10988 Blaze Optimization: Inject site URL where necessary
  WooCommerce/Classes/Blaze/BlazeBanner.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: enhancement

#10992 Blaze Optimization: Remove legacy banner and release optimized blaze feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Blaze/BlazeBanner.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/UserDefaultWooTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#11002 [Custom Amounts M1] Order Creation - Added custom amounts UI
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  WooFoundation/WooFoundation/ViewModifiers/WooStyleModifiers.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: type: task, feature: order creation

#11006 Login: Fix issue checking site address for some sites
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: bug, feature: login

#11007 Update the CI Toolkit from `2.18.2` to `3.0.0`
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: category: tooling

#10995 Product creation: Update size of bottom sheet based on size class
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/EntryPoint/AddProductWithAIActionSheet.swift
Labels: type: enhancement, category: accessibility, feature: add/edit products

#10990 [Bundle products in order form] Support syncing a subset of variations
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductVariationSelectorViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductVariationAction.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
Labels: category: woo extensions

#10996 [Bundle products in order form] Show a configuration screen with v0 design
  WooCommerce/Classes/Extensions/ProductBundleItem+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: woo extensions, status: feature-flagged

#11019 Move existing tests back to `ProductRowViewModelTests` from merge conflict
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: category: unit tests

#11013 [Custom Amounts M1] Edit Custom Amount
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/FormattableAmountTextFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformerTests.swift
Labels: type: task, feature: order creation

#11014 [Tap to Pay UK] Hide completed Set Up on About Tap to Pay
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModel.swift
Labels: type: bug, feature: mobile payments

#11025 [TTPUK] Remove Set Up button from About TTP screen after set up flow run from about screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/PaymentSettingsFlowPresentingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayCompleteViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
Labels: type: bug, feature: mobile payments

#11021 Blaze: Simplify property name for entry point source
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
Labels: type: task, category: analytics

#11023 Product Creation AI: Identify language in package flow
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+AddProductFromImage.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: feature: add/edit products

#11016 [Orders with Coupons] Calculate price with discount when multiple items
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: type: bug, feature: coupons, feature: order creation

#11011 Blaze Optimization: Functionality for Blaze flow entry on Product editing form screen
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
Labels: type: task

#11004 [Bundle products in order form] Sync order items with updated bundle configuration
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformerTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Mocks/MockNetwork+Path.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: category: woo extensions, status: feature-flagged

#11024 [Custom Amounts M1] Tracking
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: task, category: analytics, feature: order creation

#11026 [Orders with Coupons] Update track events
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModelTests.swift
Labels: type: task, feature: coupons, feature: order creation

#11022 [Custom Amounts M1] Prepare for release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LedgerTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/LedgerTableViewCellTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/FeesInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: type: task, feature: order creation

#10654 Dangermattic Setup
  .buildkite/commands/danger-pr-check.sh
  .buildkite/pipeline.yml
  Dangerfile
  Gemfile
  Gemfile.lock
  Podfile.lock
Labels: category: tooling

#11008 [Bundle products in order form] Show existing bundled order item configuration and enforce quantity rules
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: category: woo extensions, status: feature-flagged

#11032 Merge 15.9 final into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#11029 Jetpack connection: Go to connection step if `connectionOnly` is true
  WooCommerce/Classes/Authentication/Jetpack Setup/Native Jetpack Setup/JetpackSetupViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/Jetpack Setup/JetpackSetupViewModelTests.swift
Labels: type: task

#10982 Remove unneeded env vars from Fastfile
  fastlane/Fastfile
Labels: status: do not merge, category: tooling

#11036 Use default root endpoint for REST API
  Networking/Networking/ApplicationPassword/OneTimeApplicationPasswordUseCase.swift
  Networking/Networking/Remote/WordPressSiteRemote.swift
  Networking/Networking/Requests/RESTRequest.swift
  Networking/NetworkingTests/Remote/WordPressSiteRemoteTests.swift
  Networking/NetworkingTests/Requests/RESTRequestTests.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Yosemite/YosemiteTests/Stores/WordPressSiteStore.swift
Labels: type: bug, feature: login

#11018 [Bundle products in order form] Validate all bundle items and display error message
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductViewModel.swift
Labels: category: woo extensions, status: feature-flagged

#11039 Login: Reuse Jetpack setup logic for connecting Jetpack on Account Mismatch screen
  WooCommerce/Classes/Authentication/Navigation Exceptions/WrongAccountErrorViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/WrongAccountErrorViewModelTests.swift
Labels: type: bug, feature: login

#11046 Merge 16.0 code freeze into trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#11041 Logout when WPCOM token expires
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Mocks/MockStoresManager.swift
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
  Yosemite/Yosemite/Base/StoresManager.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
Labels: feature: login

#11042 [Custom Amounts M2] Re-structure payment section of order creation
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/CustomerNoteSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Order+Empty.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: task, feature: order creation
