Repository woocommerce/woocommerce-ios, pull requests merged in 2023-12, with the labels that each got.

#11330 [Bundle products in order form] Fix validation error after selecting options for "Any" variation attributes
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableVariableBundleAttributePickerViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductBundles/ConfigurableBundleItemViewModelTests.swift
Labels: type: bug, category: woo extensions

#11331 Networking & Yosemite: Support fetching theme for current site
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WordPressThemeMapper.swift
  Networking/Networking/Remote/WordPressThemeRemote.swift
  Networking/NetworkingTests/Mapper/WordPressThemeMapperTests.swift
  Networking/NetworkingTests/Remote/WordPressThemeRemoteTests.swift
  Networking/NetworkingTests/Responses/theme-mine-success.json
  Yosemite/Yosemite/Actions/WordPressThemeAction.swift
  Yosemite/Yosemite/Stores/WordPressThemeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWordPressThemeRemote.swift
  Yosemite/YosemiteTests/Stores/WordPressThemeStoreTests.swift
Labels: type: task

#11335 [Xcode 15] Prevent infinite loop in `scrollVerticallyIfNeeded` to fix Set up Tap to Pay screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/View Modifiers/View+ScrollModifiers.swift
Labels: type: bug, feature: mobile payments

#11321 [Bundle products in order] Display bundle child item prices according to whether they are priced individually
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: category: woo extensions, feature: order creation

#11332 [Bundle products in order] Update product details in order creation to show bundle product type and variation attributes
  Networking/Networking/Model/OrderItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: category: woo extensions, feature: order creation

#11340 Update CHANGELOG 16.5
  CHANGELOG.md
Labels: Releases

#11347 Merge 16.5 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#11338 Settings: Navigate to theme settings
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ThemeSettingViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWordPressThemeRemote.swift
Labels: type: task, feature: app settings

#11333 [Scan to Update Inventory M1] Quick Inventory Update Business Logic
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModelTests.swift
Labels: type: task, feature: add/edit products

#11350 Fix Crash on Image Drag & Drop during upload in Product Images
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
Labels: type: crash, feature: add/edit products

#11339 [Payments Menu] Animate presentation of onboarding notice
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
Labels: type: enhancement, feature: mobile payments

#11353 HACK Week: Support uploading local files for downloadable products
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/BottomSheetListSelector/DownloadableFileSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/LocalFileUploader.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockMediaStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/DownloadableFileBottomSheetListSelectorCommandTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Downloadable Files/ProductDownloadListViewModelTests.swift
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: enhancement, feature: product details

#11355 Xcode 15: Fix runtime warning for uploading media files
  Networking/Networking/Remote/MediaRemote.swift
  Networking/Networking/Requests/DotcomRequest.swift
  Networking/Networking/Requests/RESTRequest.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Requests/DotcomRequestTests.swift
  Networking/NetworkingTests/Requests/RESTRequestTests.swift
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
Labels: type: enhancement

#11230 [Payments] Do not display error modal when merchant cancels reader connection
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: mobile payments

#11349 [Order creation/editing] Allow product quantity to be changed using keyboard
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductStepper.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductStepperViewModel.swift
Labels: type: enhancement, feature: order creation

#11356 HACK Week: Update media picker to support types other than images for downloadable products
  Networking/Networking/Model/Media/WordPressMedia.swift
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-library-from-wordpress-site.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Media+WPMediaAsset.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockMediaStoresManager.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/WordPressMediaLibraryImagePickerCoordinatorTests.swift
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: enhancement, feature: product details

#11372 Order: Enable copying details on billing info screen
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
Labels: type: enhancement, feature: order details

#11373 [Crash] Attempt to fix crash with magic link login
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewModels/MainTabViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/FreeTrialSurvey/FreeTrialSurveyViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/StorePlanBannerPresenterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreNameSetupViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayReconnectionControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Upgrades/UpgradesViewModelTests.swift
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
Labels: feature: login, type: crash

#11381 [HACK week] Networking: Process network response in background thread
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/Publisher+Concurrency.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/RemoteTests.swift
  RELEASE-NOTES.txt
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Stores/ShipmentStoreTests.swift
Labels: type: task, category: performance

#11374 [Order form] Remove `removeProductIntent` from `ProductRowViewModel`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductWithQuantityStepperViewModelTests.swift
Labels: type: technical debt

#11394 Create Product Sheet: System image crash
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
Labels: type: crash, feature: add/edit products

#11398 Merge 16.5 final into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#11384 Update CHANGELOG 16.6
  CHANGELOG.md
Labels: Releases

#11380 Edit Product: Enable search categories
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/EditProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/EditProductCategoryListViewController.xib
Labels: type: enhancement, feature: add/edit products

#11399 Merge 16.6 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#11390 Product Creation AI: Show survey to collect feedback
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductCreationAI.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyConfirmationView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyUseCase.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Resources/Images.xcassets/product-creation-ai-survey.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/product-creation-ai-survey.imageset/product-creation-ai-survey-dark.pdf
  WooCommerce/Resources/Images.xcassets/product-creation-ai-survey.imageset/product-creation-ai-survey-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAISurveyConfirmationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAISurveyUseCaseTests.swift
Labels: type: task, feature: add/edit products

#11403 Product Subscriptions: One time shipping label
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
Labels: feature: add/edit products

#11358 [Accessibility] Improve VoiceOver on order form
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: type: task, category: accessibility

#11395 [Mobile Payments] Auto-refund TTP trial payments
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewModel.swift
Labels: type: enhancement, feature: mobile payments, category: parity

#11397 [Order form] Extract logic for `CollapsibleProductCardPriceSummary` into separate view model
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCardPriceSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCardPriceSummaryViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductsSection/CollapsibleProductCardPriceSummaryViewModelTests.swift
Labels: type: technical debt

#11388 Make downloadable products more discoverable
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductFormActionsFactory+NonEmptyBottomSheetActionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsRowsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/UIAlertController+helpers.swift
Labels: type: enhancement, feature: add/edit products

#11336 Lightweight Storefront: Theme Picker UI
  Networking/Networking/Model/WordPressTheme.swift
  WooCommerce/Classes/ViewRelated/Themes/ProfilerThemesPickerView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#11391 [Order creation] Fix/allow taps on order form notices
  RELEASE-NOTES.txt
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
Labels: type: bug, feature: order creation

#11404 [Order form] Remove unused `canChangeQuantity` property from `CollapsibleProductRowCardViewModel`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: technical debt

#11363 Update `InPersonPaymentsCashOnDeliveryPaymentGatewayNotSetUpView` design
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCashOnDeliveryPaymentGatewayNotSetUpView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingError.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingErrorMainContentView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Resources/Images.xcassets/woo-puzzle-extensions.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-puzzle-extensions.imageset/woo-puzzle-extensions.pdf
Labels: type: enhancement, feature: mobile payments

#11409 Update prologue text and onboarding task
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePages.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingTaskViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
Labels: type: bug

#11400 Remove IPP Feedback banner
  Storage/Storage/Model/Feature Announcements/FeatureAnnouncementCampaign.swift
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
Labels: type: technical debt, feature: mobile payments

#11402 Update WordPressAuthenticator to the latest version
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/WPComLogin/WPCom2FALoginViewModel.swift
Labels: feature: login

#11385 Fix store creation not started when logging in from the store creation CTA in the prologue
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: feature: login

#11410 Lightweight Storefront: Update profiler flow
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Challenges/StoreCreationChallengesQuestionOptions.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Challenges/StoreCreationChallengesQuestionView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Challenges/StoreCreationChallengesQuestionViewModel.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Features/StoreCreationFeaturesQuestionOptions.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Features/StoreCreationFeaturesQuestionView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Features/StoreCreationFeaturesQuestionViewModel.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationChallengesQuestionViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationFeaturesQuestionViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModelTests.swift
Labels: type: task

#11414 [Scan to update inventory M1] Navigation to product/variation details
  WooCommerce/Classes/ViewRelated/Products/Product Loader/ProductLoaderView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: add/edit products

#11418 [UI Tests] - Fix failing/flaky tests on iPad CI
  WooCommerce/UITestsFoundation/Screens/Login/PasswordScreen.swift
  WooCommerce/UITestsFoundation/Screens/Payments/PaymentsScreen.swift
Labels: Testing

#11411 [Scan to update inventory M1] Displays notice on update inventory success, and error
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModelTests.swift
Labels: type: task, feature: add/edit products

#11420 [Scan to update inventory M1] Hide inventory scan button when WooCommerce Square plugin is activated
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductListViewModelTests.swift
Labels: type: task, feature: add/edit products

#11430 Networking & Yosemite: Support installing theme
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/WordPressThemeRemote.swift
  Networking/NetworkingTests/Remote/WordPressThemeRemoteTests.swift
  Networking/NetworkingTests/Responses/theme-install-already-installed.json
  Networking/NetworkingTests/Responses/theme-install-success.json
  Yosemite/Yosemite/Actions/WordPressThemeAction.swift
  Yosemite/Yosemite/Stores/WordPressThemeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWordPressThemeRemote.swift
  Yosemite/YosemiteTests/Stores/WordPressThemeStoreTests.swift
Labels: type: task

#11434 Networking & Yosemite: Support activating theme
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/WordPressThemeRemote.swift
  Networking/NetworkingTests/Remote/WordPressThemeRemoteTests.swift
  Networking/NetworkingTests/Responses/theme-activate-success.json
  Yosemite/Yosemite/Actions/WordPressThemeAction.swift
  Yosemite/Yosemite/Stores/WordPressThemeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWordPressThemeRemote.swift
  Yosemite/YosemiteTests/Stores/WordPressThemeStoreTests.swift
Labels: type: task

#11416 [Order form] Extract properties (marked with TODO) from `ProductRowViewModel`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: type: technical debt, feature: order creation

#11424 [Order form] Add product and price properties to `CollapsibleProductRowCardViewModel`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: technical debt, feature: order creation

#11428 [Scan to Update Inventory M1] Decimal bug
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
Labels: type: task, feature: add/edit products

#11429 [Order form] Add dedicated view model for `ProductDiscountView`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductsSection/ProductInOrderViewModelTests.swift
Labels: type: technical debt, feature: order creation

#11421 Lightweight Storefront: Update theme setting screen to display theme list
  Networking/Networking/Model/WordPressTheme.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ProfilerThemesPickerView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesCarouselViewModelTests.swift
Labels: type: task, feature: app settings

#11439 Lightweight Storefront: Add step to edit theme to the store creation profiler flow
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ProfilerThemesPickerView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ThemeSettingViewModelTests.swift
Labels: type: task

#11426 [Scan to Update Inventory M1] Flow when the stock is not managed
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ButtonStyles.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModelTests.swift
Labels: type: task, feature: add/edit products

#11442 [Order form] Remove `ProductRowViewModel` from `CollapsibleProductRowCardViewModel`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCardPriceSummaryViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: technical debt, feature: order creation

#11436 [Order form] Remove extra spacing at the trailing edge of the discount price label
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
Labels: type: bug, feature: order creation

#11447 Downloadable Products: Fix issue uploading device documents
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
Labels: type: bug, feature: add/edit products

#11443 Lightweight Storefront: Theme installer helper
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationCoordinator.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemeInstaller.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModelTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockThemeInstaller.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ThemeSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/DefaultThemeInstallerTests.swift
Labels: type: task

#11444 [Scan to Update Inventory M1] Manage stock errors
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModelTests.swift
Labels: type: task, feature: add/edit products

#11460 [Dashboard] Fix 400 error on a products API request on app launch
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
Labels: category: reliability

#11438 [Scan to Update Inventory M1] Make scan button loading indicator when scanning is in progress. Show notice if fails.
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: task, feature: order creation

#11450 Move "Add your first product" to the first item of onboarding task list
  Networking/Networking/Model/StoreOnboardingTask.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
  Yosemite/YosemiteTests/Stores/StoreOnboardingTasksStoreTests.swift
Labels: type: task

#11457 [Scan to update inventory M1] Switch `scanToUpdateInventory` flag to true
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: order creation

#11462 Product Subscriptions: Fix crash for `SubscriptionExpiryViewModel`
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/ProductSubscription.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/product-subscription-alternative-types.json
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Subscription/Expiry/SubscriptionExpiryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Subscription/SubscriptionExpiryViewModelTests.swift
Labels: type: crash, feature: add/edit products

#11367 CI: Add release pipelines
  .buildkite/cache-builder.yml
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/configure-environment.sh
  .buildkite/commands/configure-git-for-release-management.sh
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  fastlane/Fastfile
Labels: category: tooling, Releases

#11441 [Scan to Update Inventory M1] Track events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModelTests.swift
Labels: type: task, feature: order creation

#11464 Update CHANGELOG for 16.7
  CHANGELOG.md
Labels: Releases

#11468 Merge 16.6 final into trunk
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/ProductSubscription.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/product-subscription-alternative-types.json
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Subscription/Expiry/SubscriptionExpiryViewModel.swift
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Subscription/SubscriptionExpiryViewModelTests.swift
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#11463 Update WordPressKit to the latest version
  Podfile.lock
Labels: type: bug

#11453 Lightweight storefront: Fetch pages for WP sites
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WordPressPageMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/WordPressPage.swift
  Networking/Networking/Remote/WordPressSiteRemote.swift
  Networking/NetworkingTests/Mapper/WordPressPageMapperTests.swift
  Networking/NetworkingTests/Remote/WordPressSiteRemoteTests.swift
  Networking/NetworkingTests/Responses/wp-page-list-success.json
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/WordPressSiteAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WordPressSiteStore.swift
  Yosemite/YosemiteTests/Stores/WordPressSiteStoreTests.swift
Labels: type: task

#11452 Lightweight storefront: layout switcher
  Networking/Networking/Model/WordPressTheme.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/WebView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#11478 Check new store status and ask to switch
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationCoordinator.swift
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationStoreSwitchScheduler.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemeInstaller.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/Store Creation/DefaultStoreCreationStoreSwitchSchedulerTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockThemeInstaller.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/DefaultThemeInstallerTests.swift
Labels: Store Creation

#11477 Lightweight storefront: Update theme carousel UI and copy
  Networking/Networking/Remote/WordPressThemeRemote.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesCarouselViewModelTests.swift
Labels: type: task

#11488 Store switch & Theme Install: Unit tests
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockStoreCreationStoreSwitchScheduler.swift
Labels: type: task, Store Creation

#11479 Update analytics to show the latest time range based on site time zone instead of device time zone
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/Networking/Remote/ProductsReportsRemote.swift
  Networking/NetworkingTests/Extensions/DateFormatterWooTests.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteV4Tests.swift
  Networking/NetworkingTests/Remote/ProductsReportsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Time Range/AnalyticsHubTimeRangeSelection.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/TopPerformersSectionHeaderView.swift
  WooCommerce/StoreWidgets/StoreInfoDataService.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: feature: stats

#11489 [Dashboard] Prevent decoding error on PaymentGateway title and description properties
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/PaymentGateway.swift
  Networking/NetworkingTests/Mapper/PaymentGatewayMapperTests.swift
  Networking/NetworkingTests/Responses/payment-gateway-cod-malformed.json
  RELEASE-NOTES.txt
Labels: type: bug

#11491 [Stats] Prevent decoding error for `ProductsReportItem` by removing unused property
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/ProductsReportItem.swift
  Networking/Networking/Model/Stats/TopEarnerStatsItem.swift
  Networking/NetworkingTests/Mapper/ProductsReportMapperTests.swift
  Networking/NetworkingTests/Mapper/TopEarnerStatsMapperTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/DashboardTopPerformersView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Product Loader/ProductLoaderViewControllerModelTests.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/TopEarnerStatsItem+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: feature: stats

#11495 [Stats] Remove unused `price` property from `TopEarnerStatsItem` storage entity
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/TopEarnerStatsItem+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 105.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: feature: stats

#11470 Update CI release management pipelines
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/commands/configure-environment.sh
  .buildkite/commands/configure-git-for-release-management.sh
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
Labels: Releases

#11475 Lightweight storefront: Add tracking events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Themes.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ProfilerThemesPickerView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemeInstaller.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Themes/DefaultThemeInstallerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesCarouselViewModelTests.swift
Labels: type: task, category: analytics

#11492 Lightweight storefront: Pages selector in Themes Preview
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/WebView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesPreviewViewModelTests.swift
Labels: type: task

#11497 Lightweight storefront: Install theme from Theme preview screen
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ProfilerThemesPickerView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesCarouselViewModel.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockThemeInstaller.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesCarouselViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesPreviewViewModelTests.swift
Labels: type: task

#11502 Recover from date decoding failures when a fallback or optional date can be used
  Networking/Networking/Model/Coupon.swift
  Networking/Networking/Model/Media/Media.swift
  Networking/Networking/Model/Media/WordPressMedia.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/OrderNote.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductImage.swift
  Networking/Networking/Model/Product/ProductReview.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Model/Refund/Refund.swift
Labels: feature: order list, feature: product list, feature: coupons

#11482 [Order Creation] Prepare to add Collect Payment to Order Form
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsHostingController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: order creation

#11490 [Order Creation] Add Collect Payment button to Order Form
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: enhancement, feature: mobile payments, feature: order creation

#11500 Lightweight storefront: Add tracking for theme preview screen
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesPreviewViewModelTests.swift
Labels: type: task, category: analytics

#11505 Lightweight Storefront: Remove feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Themes/ThemesEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemeEligibilityUseCaseTests.swift
Labels: type: task, feature: app settings

#11511 [Store creation] Fix flaky unit tests
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationCoordinator.swift
Labels: Store Creation

#11498 [Order Creation] bottom sheet for button and totals on order form
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
  WooCommerce/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: type: enhancement, feature: mobile payments, feature: order creation

#11501 Add loading indicator to `WebView`
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/WebView.swift
Labels: type: task

#11507 Lightweight Storefront: UI tweaks for theme preview screen
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewViewModel.swift
Labels: type: task

#11503 [Order Creation] Design tweaks and landscape phone support for totals panel on Order Form
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: type: enhancement, feature: mobile payments, feature: order creation

#11504 Add 2faScreen step to login tests
  WooCommerce/UITestsFoundation/Screens/Login/PasswordScreen.swift
  WooCommerce/UITestsFoundation/Screens/Login/TwoFAScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceUITests/Flows/LoginFlow.swift
  WooCommerce/WooCommerceUITests/Mocks/mappings/auth/oauth2_token.json
  WooCommerce/WooCommerceUITests/Mocks/mappings/auth/oauth2_token_2fa.json
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
  WooCommerce/WooCommerceUITests/Utils/TestCredentials.swift
Labels: feature: login, category: ui tests

#11519 [Mobile Payments] Fix momentarily-shown error during every card reader connection
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
Labels: type: bug, feature: mobile payments

#11518 Track debug path and description for JSON decoding errors
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Extensions/DecodingError+CodingPath.swift
  Networking/NetworkingTests/Extensions/DecodingError+CodingPathTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/WooCommerceTests/Yosemite/TrackEventRequestNotificationHandlerTests.swift
Labels: type: enhancement, category: analytics

#11509 Dashboard: add `date_type=date_created` parameter to revenue stats API request to be consistent with product stats
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  Networking/NetworkingTests/Remote/OrderStatsRemoteV4Tests.swift
Labels: type: bug, feature: stats

#11514 Lightweight Storefront: Prevent activation header to appear on theme demo pages
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewView.swift
  WooCommerce/Classes/ViewRelated/Themes/ThemesPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesPreviewViewModelTests.swift
Labels: type: task

#11525 [Blaze] Track Blaze completion event only once
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
Labels: feature: Blaze

#11522 Lightweight storefront: Disable theme picking in store creation for 16.7
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerView.swift
  WooCommerce/Classes/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerQuestionContainerViewModelTests.swift
Labels: type: bug

#11517 [Order Creation] Resize totals panel as content changes
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
Labels: type: enhancement, feature: mobile payments, feature: order creation

#11516 [Order Creation] Project Lily Pad M1 analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
Labels: type: task, feature: mobile payments, category: analytics, feature: order creation

#11530 Blaze: Fix issue mapping campaign list
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/BlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-success.json
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaign+ReadOnlyConvertible.swift
Labels: type: bug, feature: Blaze

#11536 Update order list and order details to show dates in store time zone
  WooCommerce/Classes/Model/StorageOrder+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
Labels: type: enhancement, feature: order details, feature: order list

#11524 [Scan to Update Inventory] Address wrong button rendering for non-managed-stock products
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
Labels: type: bug, type: task, feature: order creation

#11541 Blaze: Add networking models for Blaze target options
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/BlazeTargetOptionMappers.swift
  Networking/Networking/Model/BlazeTargetOptions.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeTargetOptionMapperTests.swift
  Networking/NetworkingTests/Responses/blaze-target-devices.json
  Networking/NetworkingTests/Responses/blaze-target-languages.json
  Networking/NetworkingTests/Responses/blaze-target-locations.json
  Networking/NetworkingTests/Responses/blaze-target-topics.json
Labels: type: task, feature: Blaze

#11539 Update order paid and refunded dates to use store time zone
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderPaymentDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/DateWooTests.swift
Labels: type: enhancement, feature: order details

#11542 Orders: add `dates_are_gmt=true` parameter to orders API request to ensure the dates are based on GMT
  Networking/Networking/Remote/OrdersRemote.swift
Labels: type: bug, feature: order list

#11538 UITests: Check for security key button existence
  Podfile
  Podfile.lock
  WooCommerce/UITestsFoundation/Screens/Login/TwoFAScreen.swift
Labels: feature: login, category: ui tests

#11533 [Deposits Summary] UI update
  Fakes/Fakes/Yosemite.generated.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsDepositsCurrencyOverviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsDepositsCurrencyOverviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsDepositsOverviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  Yosemite/Yosemite/Model/Copiable/Models+Copiable.generated.swift
  Yosemite/Yosemite/Model/WooPaymentsDepositsOverview.swift
  Yosemite/Yosemite/Tools/Payments/WooPaymentsDepositService.swift
Labels: type: task, feature: mobile payments

#11550 [Tablet Orders] Update coupons row format in Order total bottom drawer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: type: task, feature: order creation

#11551 Blaze: Add new CoreData entities for Blaze target options
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/BlazeTargetDevice+CoreDataClass.swift
  Storage/Storage/Model/BlazeTargetDevice+CoreDataProperties.swift
  Storage/Storage/Model/BlazeTargetLanguage+CoreDataClass.swift
  Storage/Storage/Model/BlazeTargetLanguage+CoreDataProperties.swift
  Storage/Storage/Model/BlazeTargetTopic+CoreDataClass.swift
  Storage/Storage/Model/BlazeTargetTopic+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 105.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: type: task, feature: Blaze

#11544 [Tablet Orders] Update edit icon on Gift Card row to match other edit buttons
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderFormGiftCardRow.swift
Labels: type: task, feature: mobile payments, feature: order creation

#11546 Blaze: Add remote endpoints for fetching target options
  Networking/Networking/Model/BlazeTargetOptions.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/BlazeTargetDevice+CoreDataClass.swift
  Storage/Storage/Model/BlazeTargetDevice+CoreDataProperties.swift
  Storage/Storage/Model/BlazeTargetLanguage+CoreDataClass.swift
  Storage/Storage/Model/BlazeTargetLanguage+CoreDataProperties.swift
  Storage/Storage/Model/BlazeTargetTopic+CoreDataClass.swift
  Storage/Storage/Model/BlazeTargetTopic+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 105.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: type: task, feature: Blaze

#11547 [Tablet Orders] Replace taxes `(?)` button with a Learn More link
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: task, feature: order creation

#11552 Blaze: On Product Form, auto-dismiss Blaze webview on completion and show celebration
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: task

#11555 [Tablet Orders] Remove Payment totals section from bottom drawer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
Labels: type: task, feature: order creation

#11564 [Blaze] Feature flag for native campaign creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
Labels: feature: Blaze

#11556 Blaze: Synchronize target devices
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/BlazeTargetDevice+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11558 Fix errors in the Jetpack installation flow for JCP sites
  Networking/Networking/Network/NetworkError.swift
  Networking/NetworkingTests/Network/AlamofireNetworkTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Jetpack Setup/Native Jetpack Setup/JetpackSetupViewModel.swift
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerceTests/Authentication/Jetpack Setup/JetpackSetupViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/JetpackSetupCoordinatorTests.swift
Labels: type: bug, category: jetpack

#11561 Blaze: Add networking models for Blaze impressions
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/BlazeImpressionsMapper.swift
  Networking/Networking/Model/BlazeImpressions.swift
  Networking/NetworkingTests/Mapper/BlazeImpressionsMapperTests.swift
  Networking/NetworkingTests/Responses/blaze-impressions.json
Labels: type: task, feature: Blaze

#11568 Update WordPredssAuthenticator for custom spacings on TwoFAViewController
  Podfile
  Podfile.lock
Labels: feature: login

#11575 Fix app becoming logged out after logging in to the same store/account on a different device
  Networking/Networking/ApplicationPassword/ApplicationPasswordUseCase.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: login

#11567 [Blaze] Intro view for campaign creation
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Resources/Images.xcassets/blaze-intro-illustration.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/blaze-intro-illustration.imageset/blaze-intro-illustration.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: Blaze

#11569 Blaze: Add locale to target options
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Extensions/CodingUserInfoKey+Woo.swift
  Networking/Networking/Mapper/BlazeTargetOptionMappers.swift
  Networking/Networking/Model/BlazeTargetOptions.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/BlazeTargetOptionMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Storage/Storage/Model/BlazeTargetDevice+CoreDataProperties.swift
  Storage/Storage/Model/BlazeTargetLanguage+CoreDataProperties.swift
  Storage/Storage/Model/BlazeTargetTopic+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 105.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Storage/BlazeTargetDevice+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11579 Update auth lib for for security keys fixes
  Podfile
  Podfile.lock
Labels: feature: login
