Repository woocommerce/woocommerce-ios, pull requests merged in 2024-10, with the labels that each got.

#14079 [Barcode Scanner] Handle the empty SKU situation
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/BarcodeSKUScannerErrorNoticeFactory.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: bug, feature: order details

#14073 [Woo POS] Finalise design of payment success screen for pos demo build
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-success-check.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-success-check.imageset/pos-success-check.pdf
Labels: type: task, feature: POS

#14059 Custom fields: Update list screen to be shown in Order Details as part of current navigation
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
Labels: type: task

#14074 Moved out label "Suggested by AI" in `BlazeCampaignCreationForm` layout
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
Labels: type: enhancement, feature: Blaze

#13991 Update error view layout and constraints on iPad for non-WordPress sites and when Jetpack is not installed
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.xib
Labels: type: bug, feature: login

#14010 [Product Creation AI] Remove feature flag and unused code
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+AddProductFromImage.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageFormImageView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageScannedTextView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageTextFieldView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageTextFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AIToneVoice/AIToneVoiceView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AddProductFeatures/AddProductFeaturesView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AddProductFeatures/AddProductFeaturesViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AddProductName/AddProductNameWithAIView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AddProductName/AddProductNameWithAIViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/LegacyProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/LegacyProductDetailPreviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ProductNameGeneration/ProductNameGenerationView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ProductNameGeneration/ProductNameGenerationViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageTextFieldViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/AddProductFeaturesViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/AddProductNameWithAIViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/AddProductWithAIContainerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/LegacyProductDetailPreviewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductNameGenerationViewModelTests.swift
Labels: feature: add/edit products, category: tracks

#14075 Adding a package UI - custom package scaffolding UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14094 [Shipping labels] Update bottom sheet layout for landscape orientation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
Labels: feature: shipping labels

#14095 [Crash] Fix crash when searching products in order product selector
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: type: crash

#14083 Disallow entering discounts higher than price
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeOrDiscountLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/DiscountLineDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeOrDiscountLineDetailsViewModelTests.swift
Labels: type: task, feature: order details

#14102 Enhance rounded corner and background design in Support Form and Custom Fields Editor
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportForm.swift
Labels: type: enhancement

#14111 Fix Custom Fields Handling in Storage for both Orders and Products
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
Labels: type: bug, feature: order list, feature: product list, impact: high

#14116 Fix issue with JSON parsing in Product AI creation
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/AIProductMapper.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  Networking/NetworkingTests/Responses/generate-product-success-wrapped.json
Labels: type: bug, feature: product details

#14119 Update release notes for 20.7
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14114 [Tooling] Update fastlane & gems to latest versions
  Gemfile.lock
Labels: category: tooling

#14104 My Store: added missing divider line above "View All store analytics" button in Top performers card
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
Labels: type: enhancement

#14108 Add extra tests for custom fields in `OrdersUpsertUseCaseTests`
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
Labels: category: unit tests

#14123 Merge Release/20.7 to trunk
  Gemfile.lock
Labels: category: tooling, category: releases, Releases

#14013 Core Data Stack updates
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Extensions/NSManagedObjectContext+Storage.swift
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Protocols/StorageManagerType.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Model/MarkOrderAsReadUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager.swift
Labels: type: enhancement, feature: product list

#14084 Core Data: Move write operations in AccountStore to background
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: task, feature: login

#14089 Core Data: Move write operations for store stats to background
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
Labels: type: task, feature: stats

#14093 Core Data: Update storage usage in OrderStore part 1
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: type: task, feature: order list

#14099 Core Data: Update storage usage in OrderStore part 2
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Protocols/StorageManagerType.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager.swift
Labels: type: task, feature: order details, feature: mobile payments

#14124 Core Data: Update RefundStore to move write operations to background
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/RefundStore.swift
Labels: type: task, feature: refunds

#14101 [Shipping labels] Display actual shipment data in shipment details bottom sheet
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping_ShippingLineViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping_ShippingLineViewModelTests.swift
Labels: feature: shipping labels

#14030 [Order - Shipping - Custom Amounts - Cash] Highlight amount when focused
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FormattableAmountTextField.swift
Labels: type: bug, feature: order creation

#14125 Core Data: Update OrderStatusStore to move write operations to the background
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/OrderStatusStore.swift
Labels: type: task, feature: order list

#14131 Core Data: Move write operations in CardPresentPaymentStore to the background
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
Labels: type: task, feature: mobile payments

#14061 Implement local Save functionality for existing Custom Fields
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
Labels: type: task

#14068 Custom fields: Entry point logic in Product Details
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ProductCreationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ReadonlyProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+VisibilityTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
Labels: type: task

#14126 Core Data: Update storage usage in ShipmentStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ShipmentStore.swift
  Yosemite/YosemiteTests/Stores/ShipmentStoreTests.swift
Labels: type: task, feature: order details

#14155 Update release notes for 20.8
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14144 [Shipping labels] Basic UI for shipping service (rate) with static data
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14149 [Woo POS - payments onboarding] Enable POS for stores with incomplete payments onboarding
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: status: feature-flagged, feature: POS

#14134 Core Data: Optimize storage usage in ProductReviewStore
  RELEASE-NOTES.txt
  Storage/Storage/Protocols/StorageManagerType.swift
  Yosemite/Yosemite/Stores/ProductReview/RetrieveProductReviewFromNoteUseCase.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
  Yosemite/YosemiteTests/Stores/ProductReview/RetrieveProductReviewFromNoteUseCaseTests.swift
Labels: type: task, feature: review list, feature: review details

#14107 [Order creation] Update coupons display order details
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Coupons/EditableOrderCouponLineViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Coupons/OrderCouponSectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/CouponLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/CouponLineViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: enhancement, type: task, feature: coupons

#14179 Adding a package UI - Custom Package Content updates
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
Labels: feature: shipping labels

#14169 Add feature flag for the product global unique identifier
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: add/edit products

#14151 Core Data: Optimize storage usage in ProductCategoryStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ProductCategoryStore.swift
Labels: type: task, feature: product details

#14181 Address Stripe supportsReadersOfType crash by delaying the call to SDK
  WooCommerce/Classes/ViewModels/MainTabViewModel.swift
Labels: type: crash

#14128 Core Data: Replace unnecessary fetch requests for upserting orders and order search results
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: task, feature: order details, feature: order list

#14180 [Product Global Unique Identifier] Product Inventory UI
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
Labels: feature: product details, feature: add/edit products

#14187 [Woo POS] Pagination support: Add `pageNumber ` to remote
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: task, feature: POS

#14139 Core Data: Optimize storage using in ProductStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
  Yosemite/Yosemite/Tools/ProductVariations/ProductVariationStorageManager.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task, feature: product details, feature: product list

#14136 [iPadOS 18] Force a bottom tab bar design on iPadOS 18 when built with Xcode 16
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: type: task, iOS 18

#14145 Core Data: Optimize storage usage for product attribute stores
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Stores/ProductAttributeStore.swift
  Yosemite/Yosemite/Stores/ProductAttributeTermStore.swift
Labels: type: task, feature: variation details, feature: variation list

#14184 [Shipping labels] Add view model for shipping service cards
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockShippingLabelCarrierRate.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceCardViewModelTests.swift
Labels: feature: shipping labels

#14197 Adding a package UI - Add weight field to custom package creation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels

#14195 [Woo POS] Pagination support: Initial infinite scrolling
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
Labels: type: task, feature: POS

#14188 [Crash fix] - removed unnecessary microphone device type
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.swift
Labels: type: crash

#14200 [Shipping label] Add tabs for shipping carriers to Shipping Service view
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingCarrier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#14198 Stripe Terminal SDK update 3.9.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: task, feature: mobile payments

#14175 Custom Fields: Update navigation behavior for list and editor screens.
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: task

#14205 [Mobile Payments] Update error message for Tap to Pay support
  Hardware/Hardware/CardReader/UnderlyingError.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: mobile payments

#14206 [Shipping labels] Update to responsive DHL logo
  RELEASE-NOTES.txt
  WooCommerce/Resources/Images.xcassets/shipping-label-dhl-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-dhl-logo.imageset/dhl.pdf
Labels: feature: shipping labels

#14177 [Custom Fields] Delete fields
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
Labels: type: enhancement, feature: order details, feature: add/edit products

#14194 [Custom Fields] Handle saving changes
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/MetaDataRemote.swift
  Networking/NetworkingTests/Remote/MetaDataRemoteTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
  Yosemite/Yosemite/Actions/MetaDataAction.swift
  Yosemite/Yosemite/Stores/MetaDataStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMetaDataRemote.swift
  Yosemite/YosemiteTests/Stores/MetaDataStoreTests.swift
Labels: type: enhancement

#14214 Google Ads: Fix issue decoding campaigns when country is not available
  Networking/Networking/Model/GoogleAds/GoogleAdsCampaign.swift
  Networking/NetworkingTests/Mapper/GoogleAdsCampaignListMapperTests.swift
  Networking/NetworkingTests/Remote/GoogleListingsAndAdsRemoteTests.swift
  Networking/NetworkingTests/Responses/gla-campaign-list-with-data-envelope.json
  Networking/NetworkingTests/Responses/gla-campaign-list-without-data-envelope.json
  RELEASE-NOTES.txt
Labels: type: bug, feature: google-ads-campaigns

#14154 Reset CoreDataManager in the background and optimize logout
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  WooCommerce/Classes/Blaze/BlazeLocalNotificationScheduler.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.xib
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#14215 Update release notes for 20.9
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14219 [Shipping label] Handle selecting a card in the shipping services tabs
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#14146 Core Data: Update documentation for the Storage layer
  Storage/Storage/Extensions/NSManagedObjectContext+Storage.swift
  Storage/Storage/Protocols/StorageType.swift
  docs/STORAGE.md
  docs/images/storage.png
Labels: type: documentation

#14210 [Woo POS - payments onboarding] Support actions in onboarding: support form and showing URL in webview
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
Labels: type: task, status: feature-flagged, feature: POS

#14211 [Woo POS] Separation between item’s first fetch from next fetch
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
Labels: type: task, feature: POS

#14217 [Product Global Unique ID] Model - Added `globalUniqueID` attribute to `Product` and `ProductVariation`
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/NetworkingTests/Mapper/ProductVariationListMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductVariationMapperTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-variation-update-without-data.json
  Networking/NetworkingTests/Responses/product-variation-update.json
  Networking/NetworkingTests/Responses/product-variation.json
  Networking/NetworkingTests/Responses/product-variations-bulk-create-without-data.json
  Networking/NetworkingTests/Responses/product-variations-bulk-create.json
  Networking/NetworkingTests/Responses/product-variations-bulk-update-without-data.json
  Networking/NetworkingTests/Responses/product-variations-bulk-update.json
  Networking/NetworkingTests/Responses/product-variations-load-all-alternative-types.json
  Networking/NetworkingTests/Responses/product-variations-load-all-first-on-sale-empty-sale-price.json
  Networking/NetworkingTests/Responses/product-variations-load-all-without-data.json
  Networking/NetworkingTests/Responses/product-variations-load-all.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/ProductVariation+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 118.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductVariation.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariation+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Tools/Products/Product+ProductVariation.swift
  Yosemite/YosemiteTests/Mocks/MockProductVariation.swift
  Yosemite/YosemiteTests/Stores/ProductVariationStoreTests.swift
Labels: type: task, feature: add/edit products

#14229 [Shipping labels] Integrate shipping service section in main Woo Shipping label creation screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
Labels: feature: shipping labels

#14201 [Custom Fields] Fix issue of not updating the parent item after saving changes
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  Yosemite/Yosemite/Stores/MetaDataStore.swift
  Yosemite/YosemiteTests/Stores/MetaDataStoreTests.swift
Labels: type: enhancement, feature: order details, feature: add/edit products

#14230 [Custom Fields] Show discard changes prompt
  WooCommerce/Classes/View Modifiers/View+DiscardChanges.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
Labels: type: enhancement, feature: order details, feature: add/edit products

#14231 [Shipping labels] Integrate selected shipping rate into main Woo Shipping label creation screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedRate.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#14235 [Custom Fields] Editor validation
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldEditorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
Labels: type: task

#14238 Remove triage docs
  README.md
  docs/issue-triage.md
Labels: type: documentation

#14226 [Woo POS] Loading state when pull-to-refresh shouldn't be dashboard-wide
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14239 Update TopTopTabView with few options
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
Labels: feature: shipping labels

#14245 [Global Unique Identifier • Product] Edit Value
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/Product.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventoryEditableData.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+UpdatesTests.swift
Labels: type: task, feature: add/edit products

#14247 [Global Unique Identifier • Product] Scan barcode and set to value in Inventory
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ProducBarcodeScannerCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/SKUCodeScannerProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/SKU Scanner/ProductSKUBarcodeScannerCoordinatorTests.swift
Labels: type: task, feature: add/edit products, category: tracks

#14249 [Custom Fields] Top banner
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListTopBanner.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: enhancement, feature: order details, feature: add/edit products

#14137 Adding a package UI - Scaffolding for saved and carrier packages list
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14243 Revert 'Log storage usage for core data crashes'
  Storage/Storage/CoreData/CoreDataManager.swift
Labels: type: task, category: tooling

#14264 [Shipping labels] Integrate post-purchase UI into main Woo Shipping screen
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPaperSize+UI.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingPostPurchaseViewModelTests.swift
Labels: feature: shipping labels

#14265 Product Global Unique Identifier validation logic
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/ProductUpdateError+UI.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ErrorSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ErrorSectionHeaderView.xib
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: type: task, feature: add/edit products

#14272 [Order Details] Wrong currency for Shipping Lines
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModelTests.swift
Labels: type: bug, feature: order details

#14274 [Custom Fields] Fix editor state
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
Labels: type: bug, feature: order details, feature: add/edit products

#14260 [Custom Fields] List empty state
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EmptyState.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task

#14275 [Shipping labels] Update order details button for new shipping label screen
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: feature: shipping labels

#14270 [Custom Fields] Read-only mode for JSON values
  Networking/Networking/Model/MetaData.swift
  Networking/NetworkingTests/Mapper/MetaDataMapperTests.swift
  Networking/NetworkingTests/Responses/meta-data-products-and-orders.json
  Networking/NetworkingTests/Responses/meta-data-products-and-orders_nested_in_data.json
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
Labels: type: enhancement, feature: order details, feature: add/edit products
