Repository woocommerce/woocommerce-ios, pull requests merged in 2024-11, with the labels that each got.

#14252 [Woo POS - payments onboarding] Show payments setup admin URL in authenticated webview for site credentials login to skip login
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/Components/CardPresentPaymentSetupSheet.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountOverdueView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: mobile payments, feature: POS

#14273 [Custom Fields] Tracks
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+CustomFields.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, category: tracks

#14224 [Woo POS - payments onboarding] Show onboarding with POS modal instead of sheet
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/Payments Onboarding/PointOfSaleCardPresentPaymentOnboardingView.swift
  WooCommerce/Classes/POS/Presentation/Payments Onboarding/PointOfSaleCardPresentPaymentOnboardingViewModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalSizing.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleCardPresentPaymentOnboardingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentOnboardingViewModelTests.swift
Labels: status: feature-flagged, feature: POS

#14285 Trial Expiration tests: Use the same timezone in both Calendar and date calculations to account for DST
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/FreeTrialBannerViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/FreeTrialBannerViewModelTests.swift
Labels: type: bug, feature: free trial

#14279 [Custom Fields] Enable the feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task

#14288 Update 21.0 release notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14248 Update error logging in `OrderDetailsDataSource` for cellForRowAtIndexPath`
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: category: reliability

#14287 Blaze: Fix flaky formatDayCount() unit test
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
Labels: type: bug, feature: Blaze

#14276 [Custom Fields] Minor refactoring to simplify models definitions
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldEditorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
Labels: type: task, feature: order details, feature: product details

#14295 [Tooling] Update Dangermattic
  Gemfile
  Gemfile.lock
Labels: category: tooling

#14244 [Tooling] Use `buildkite_pipeline_upload` action to inline Buildkite release pipelines
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/publish-release.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  .github/workflows/run-danger.yml
  Gemfile
  Gemfile.lock
  Podfile.lock
  fastlane/Fastfile
Labels: category: tooling

#14294 [Shipping labels] Populate shipping label view with purchased label data
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14262 Add basic logic for add package action to get package data
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooCarrierPackagesSelectionViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooSavedPackagesSelectionViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels

#14307 Connect hardware keyboard for simulators in UI tests on CI
  .buildkite/commands/run-ui-tests.sh
Labels: category: ui tests

#14306 [Watch app] opening order shows yellow warning icon
  RELEASE-NOTES.txt
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
Labels: type: bug, feature: apple watch

#14309 Update Embassy to latest version.
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerceUITests/Tests/LoginTests.swift
Labels: type: bug, type: technical debt

#14310 Revert PR that shows onboarding payments setup URL in authenticated webview
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/Components/CardPresentPaymentSetupSheet.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountOverdueView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
Labels: type: bug, feature: mobile payments

#14317 [Core Data] Keep product image's dateCreated optional.
  Storage/Storage/Model/ProductImage+CoreDataProperties.swift
  Yosemite/Yosemite/Model/Storage/ProductImage+ReadOnlyConvertible.swift
Labels: type: crash, feature: product details

#14284 [Woo POS - payments onboarding] Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: category: tracks, status: feature-flagged, feature: POS

#14331 [Product Global Unique Identifier] Add the global unique identifier for products in product details
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
Labels: type: task, feature: add/edit products

#14319 [Product Global Unique Identifier] Validation Improvements: Error placement, Multiple Errors
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ErrorSectionHeaderView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ErrorSectionHeaderView.xib
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
Labels: type: task, feature: add/edit products

#14299 Separate list of custom and predefined packages in view model
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooSavedPackagesSelectionViewModelTests.swift
Labels: feature: shipping labels

#14336 [Mobile Payments] Show IPP address errors when using site credentials
  Fakes/Fakes/Networking.generated.swift
  Hardware/Hardware/CardReader/CardReaderConfigProvider.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/RemoteReaderLocation.swift
  RELEASE-NOTES.txt
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/CommonReaderConfigProvider.swift
  Yosemite/YosemiteTests/Mocks/MockCardReaderCapableRemote.swift
  Yosemite/YosemiteTests/Tools/CommonReaderConfigProviderTests.swift
Labels: type: bug, feature: mobile payments

#14334 [Global Product Identifier] Barcode Scanner Search
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/products-sku-search-non-purchasable.json
  Networking/NetworkingTests/Responses/products-sku-search-variation.json
  Networking/NetworkingTests/Responses/products-sku-search.json
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/BarcodeScannerErrorNoticeFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/BarcodeScannerItemFinder.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/CaptureDevicePermissionChecker.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/CodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/CodeScannerViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Scanner/GiftCardCodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/ProducBarcodeScannerCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/ProductBarcodeScannerProvider.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/ProductSKUInputScannerViewController.xib
  WooCommerce/Classes/ViewRelated/Products/Scanner/ScannerContainerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Scanner/BarcodeScannerErrorNoticeFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Scanner/BarcodeScannerProductFinderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Scanner/ProductSKUBarcodeScannerCoordinatorTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task, feature: add/edit products

#14347 [Shipping labels] Add support for creating package endpoint
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingCreatePackageMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/WooShippingCustomPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingCreatePackageResponse.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/Networking/Settings/WooAPIVersion.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-create-package-error.json
  Networking/NetworkingTests/Responses/wooshipping-create-package-success.json
Labels: feature: shipping labels

#14351 Update 21.1 release notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14360 Update Zendesk sdk to 9.0.0 to solve bitcode issue with Xcode 16
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: task, feature: support

#14353 [Product - Global Unique Identifier] Affiliate Products
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductFormBottomSheetAction.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ReadonlyProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+UpdatesTests.swift
Labels: type: task, feature: add/edit products

#14345 [Order editing] Non-default currency order edit notice
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsSyncStateController.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsViewControllerTests.swift
Labels: type: bug, category: tracks, feature: order creation

#14344 [Shipping labels] Shipping packages repository
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackagesRepository.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooCarrierPackagesSelectionViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooSavedPackagesSelectionViewModelTests.swift
Labels: feature: shipping labels

#14352 [Shipping labels] Refactor package data for shipping labels
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackagesRepository.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooCarrierPackagesSelectionViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooSavedPackagesSelectionViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels

#14297 [Woo POS - payments onboarding] Update WooPayments setup URL from Payments Overview to Payments Connect
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/Site+URL.swift
Labels: type: task, feature: mobile payments

#14362 [Woo POS] Improve itemlist state representation and fix glitches
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListState.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: feature: POS

#14361 [Shipping labels] Add Yosemite support for creating package
  Networking/Networking/Remote/WooShippingRemote.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14373 [Beta fix] Hides `GhostItemCardView` rendering behind feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
Labels: type: bug, feature: POS

#14363 [SiOC - customer creation] Disable feature flag as the feature is paused
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/EditOrderFormTests.swift
Labels: type: task

#14378 [Woo POS] Move item list state to aggregate model
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14379 [Shipping labels] Save custom package remotely when template is saved
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/WooShippingCustomPackage.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: shipping labels

#14386 Added NSMicrophoneUsageDescription
  RELEASE-NOTES.txt
  WooCommerce/Resources/Info.plist
  WooCommerce/Resources/en.lproj/InfoPlist.strings
Labels: type: crash

#14377 [Product • Global Unique Identifier] Tracking
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Scanner/BarcodeScannerItemFinder.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Edit Inventory/ProductInventorySettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Scanner/BarcodeScannerProductFinderTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task, category: tracks

#14394 [Shipping labels] Add support for requesting shipping rates in Networking layer
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingLabelRatesMapper.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-get-label-rates-error.json
  Networking/NetworkingTests/Responses/wooshipping-get-label-rates-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14389 [Woo POS] Inject POSModel through the environment
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
Labels: type: task, feature: POS

#14397 [Shipping labels] Add Yosemite support for loading label rates
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14340 [Mobile Payments] Fix trying out Tap to Pay is no-op from the About TTP screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayOnboardingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/TapToPaySettingsFlowPresentingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
Labels: type: bug, feature: mobile payments

#14383 [Woo POS] Fix stores without the supported country/currency can still access POS
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: type: bug, feature: POS

#14368 [TTPReq] Send Receipts After Payment: Integrate a new API
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ReceiptRemote.swift
  Networking/NetworkingTests/Remote/ReceiptRemoteTests.swift
  Networking/NetworkingTests/Responses/orders-actions-send-order-details.json
  Yosemite/Yosemite/Actions/ReceiptAction.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: task, feature: mobile payments

#14400 [Woo POS] Extract cart to aggregate model
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14401 [Woo POS] Rename and group itemListTests
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, category: unit tests, feature: POS

#14390 Inform user about successfully sent receipts
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBuiltInSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBuiltInSuccessEmailSent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBuiltInSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessEmailSent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlertsProtocol.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTransactionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: type: task, feature: mobile payments

#14388 [Blaze] Allow setting a CTA text when creating a campaign
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/CreateBlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdHostingController.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: enhancement, feature: Blaze

#14411 [Shipping labels] Use legacy logic for setting origin and destination addresses
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14402 Rename "deposit" to "payout": user-facing changes
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsDepositsCurrencyOverviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsDepositsCurrencyOverviewViewModel.swift
Labels: type: task, feature: mobile payments

#14257 [Login] Allow login for WPCOM suspended sites
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+WPCOMSuspendedSite.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/Extensions/WordPressAuthenticator+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: feature: login, category: tracks

#14408 [Woo POS] Move orderStage to aggregate model
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderStage.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14412 [Shipping labels] Load the shipping services and rates from remote in the UI layer
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelPackageSelected.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#14381 [Tooling] Remove `BUILDKITE_` prefix from env vars
  .buildkite/commands/checkout-release-branch.sh
Labels: category: tooling

#14426 Exclude flaky unit tests related to dashboard cards's custom range date.
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
Labels: category: unit tests

#14418 [Woo POS] Use AggregateModel for reader connection view
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionViewModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14429 Remove all app icons and leave only a single 1024x1024 png.
  RELEASE-NOTES.txt
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-120.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-121.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-152.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-167.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-180.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-20.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-29.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-40.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-41.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-42.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-58.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-59.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-60.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-80.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-81.png
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-87.png
Labels: category: design

#14382 [Woo POS] Stop `GhostableCardView` rendering, and network requests when there are no new items
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: bug, type: task, feature: POS

#14422 Send receipts after successful payments via the API
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTransactionAlertReceiptState.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTransactionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptEmail/ReceiptEmailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptEmail/ReceiptEmailViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ButtonStyles.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockNoticePresenter.swift
  WooCommerce/WooCommerceTests/Mocks/MockReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEmailViewModelTests.swift
Labels: type: task, feature: mobile payments

#14437 [Woo POS] Extract order creation to aggregate model
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderTotals.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#14446 Send Receipt After Payment: Add eligibility checker
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
Labels: type: task, feature: mobile payments

#14433 [Shipping labels] Add Networking support for getting list of packages
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingPackagesMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/WooShippingCustomPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingPredefinedPackage.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingPredefinedSavedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingSavedPredefinedPackage.swift.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingCreatePackageResponse.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingPackagesResponse.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-get-packages-success.json
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14435 [Shipping labels] Add Yosemite support for getting list of packages
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14438 [Performance Dashboard Card]: Update cached data display logic
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsPeriodViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
Labels: type: bug, feature: dashboard

#14335 Make WooCommerceScreenshots work again on iPhone tests
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/WooCommerceScreenshots/Utils/SnapshotHelper.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockCardPresentPaymentActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockGoogleAdsActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockJustInTimeMessageActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockPaymentActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockSettingActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockShippingMethodActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockSiteActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
Labels: type: task, category: screenshots

#14292 [Custom Fields] Differentiate between raw JSON values and String values that contain valid JSON
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/MetaData.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/OrderAttributionInfo.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Refund/OrderItemRefund.swift
  Networking/NetworkingTests/Encoder/MetaDataEncoderTests.swift
  Networking/NetworkingTests/Mapper/MetaDataMapperTests.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Remote/MetaDataRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
  Yosemite/Yosemite/Model/Storage/MetaData+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/MetaDataStoreTests.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task, feature: order details, feature: add/edit products

#14450 [Woo POS] Extract payment code to aggregate model
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSalePaymentState.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#14456 [Woo POS] Extract onboarding to aggregate model
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#14453 Enable POS payments onboarding feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task, feature: POS

#14431 [REST API] Initial support for WPCom account creation during Jetpack setup
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginView.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginViewModel.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComLoginCoordinator.swift
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerceTests/Mocks/MockWordPressComAccountService.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/WPComLogin/WPComEmailLoginViewModelTests.swift
Labels: type: enhancement, feature: REST API

#14477 Screenshot: Add Coupon Card to the My Store section of Screenshot tool
  RELEASE-NOTES.txt
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockCouponActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
Labels: type: task, category: screenshots

#14473 [Woo POS] Simplify TotalsViewModel
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14454 [Jetpack setup] UI updates for account creation support
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginView.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginViewModel.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComMagicLinkView.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/WPComLogin/WPComEmailLoginViewModelTests.swift
Labels: type: enhancement, feature: REST API

#14455 [Shipping Labels] Get account settings setup
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingAccountSettingsMapper.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAccountSettingsResponse.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-get-account-settings-success.json
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14471 [REST API] Jetpack Setup: Tracks for account creation + enable the feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+JetpackSetup.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginView.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginViewModel.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComLoginCoordinator.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComMagicLinkView.swift
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/WPComLogin/WPComEmailLoginViewModelTests.swift
Labels: category: tracks, feature: REST API

#14466 [Order Details] Add logs to debug Custom Amounts crash
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: feature: order details

#14474 [Shipping labels] Add support for Woo Shipping label purchase endpoint in Networking layer
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingLabelCarriersAndRatesMapper.swift
  Networking/Networking/Mapper/WooShippingLabelRatesMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarrierRate.swift
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelCarriersAndRates.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingSavedPredefinedPackage.swift.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingPackagePurchase.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-purchase-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14448 [Tooling] Update CI image from `xcode-16.1` to `xcode-16.1-v4`
  .buildkite/shared-pipeline-vars
Labels: category: tooling

#14489 [Tooling] Update `Dangerfile` to run Rubocop with `bundle exec`
  Dangerfile
Labels: category: tooling

#14482 [Woo POS] Simplify CartViewModel
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#14491 Update release notes for 21.2
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14486 [Woo POS] Tidy small issues in aggregate model and entry view
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, feature: POS

#14500 Rename to WooShippingAccountSettings
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingAccountSettingsMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAccountSettings.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14487 Update Ruby Gems for the latest release-toolkit version
  Gemfile.lock
  Podfile.lock
Labels: category: tooling, dependencies

#14492 Screenshot: More flakiness fixes and fastlane update
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockActionHandler.swift
  fastlane/Fastfile
  fastlane/screenshots.json
Labels: category: screenshots, category: ui tests

#14502 [REST API] Fix magic link handling on cold start
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
Labels: type: bug, feature: REST API

#14380 Update package actions and repository
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackagesRepository.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooSavedPackagesSelectionViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels

#14501 [REST API] Jetpack Setup: fix issue of connection when using an already connected passwordless account
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/JetpackSetupCoordinatorTests.swift
Labels: type: bug, feature: REST API

#14488 [Shipping labels] Add networking layer support for label status endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingStatusMapper.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-label-status-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14498 [Woo POS] Extract items code from aggregate model
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Services/PointOfSaleItemsService.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/Services/PointOfSaleItemsServiceTests.swift
Labels: type: task, feature: POS

#14507 [Woo POS] Remove itemlist dependency for order sync
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/Networking/Remote/POSOrdersRemoteProtocol.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Services/PointOfSaleItemsService.swift
  WooCommerce/Classes/POS/Utils/POSOrderPreviewService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrdersRemote.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: task, feature: POS

#14521 Fix release note for PR 14444 to 21.3
  RELEASE-NOTES.txt
Labels: type: task

#14490 [Shipping labels] Add shipping label purchase action to WooShippingStore
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14519 Remove WooShippingPackagesRepository
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackagesRepository.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14524 [Shipping labels] Integrate Woo Shipping purchase action into UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedRate.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: shipping labels

#14527 [Shipping labels] Use order currency for order details (items and shipping lines)
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping_ShippingLineViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping_ShippingLineViewModelTests.swift
Labels: feature: shipping labels

#14541 [Shipping labels] Add networking support for printing a label
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-label-print-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14542 [Shipping labels] Add Woo Shipping action to print a shipping label
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14540 [Shipping labels] Custom packages model update
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels

#14545 [Shipping labels] Print shipping label when print button is tapped
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ButtonStyles.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingPostPurchaseViewModelTests.swift
Labels: feature: shipping labels

#14515 [TTPReq] Education: Create standalone education steps flow
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/PaymentSettingsFlowHint.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayEducationViewModelTests.swift
Labels: type: task, feature: mobile payments

#14557 [Shipping labels] Init shipping service separately from loading the label rates
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#14520 [Core Data] Optimize storage usage for product shipping class
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ProductShippingClassStore.swift
Labels: type: task, feature: add/edit products

#14537 [Media] Migrate WPCom media upload to /wp/v2 endpoints
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-upload-to-wordpress-site.json
  Networking/NetworkingTests/Responses/media-upload.json
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: feature: add/edit products

#14551 [UI Tests] - Check for simulator readiness before starting test
  .buildkite/commands/run-ui-tests.sh
Labels: type: task, category: ui tests

#14558 [Shipping labels] Set selected package from "Add Package" flow
  Networking/Networking/Model/ShippingLabel/Packages/Carriers and Rates/ShippingLabelPackageSelected.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14534 Core Data: Make persistent container thread-safe
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
Labels: type: bug, category: architecture, feature: core

#14539 More fixes to the Screenshots UI tests and scripts
  WooCommerce/UITestsFoundation/Screens/Orders/PaymentMethodsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  fastlane/Fastfile
  fastlane/metadata/en-US/app_store_screenshot_1.txt
  fastlane/metadata/en-US/app_store_screenshot_2.txt
  fastlane/metadata/en-US/app_store_screenshot_3.txt
  fastlane/metadata/en-US/app_store_screenshot_4.txt
  fastlane/metadata/en-US/app_store_screenshot_5.txt
  fastlane/screenshots.json
Labels: type: task, category: ui tests

#14511 [Product] Update product tag store to migrate Core Data usage and fix a few issues
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
  Yosemite/Yosemite/Stores/ProductTagStore.swift
  Yosemite/YosemiteTests/Stores/ProductTagStoreTests.swift
Labels: type: task, feature: product list, feature: add/edit products
