Repository woocommerce/woocommerce-ios, pull requests merged in 2024-05, with the labels that each got.

#12609 [Migrate simple payments] Payments > About TTP: update copy & align text
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
Labels: feature: simple payments

#12602 Dynamic Dashboard: Clean up legacy dashboard flow
  WooCommerce/Classes/Extensions/DateFormatter+Helpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Dashboard.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController+Activity.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/NoPeriodDataTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/NoPeriodDataTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/ProductTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/TopPerformersHeaderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/Cells/TopPerformersHeaderView.xib
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartMarker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartPlaceholderView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartPlaceholderView.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/CustomRangeTabCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsChartCircleMarker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsDataOrRedactedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4ChartAxisHelper.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/OrderStatsV4Interval+Chart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StatsGranularityV4+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StatsTimeRangeV4+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStatsUsageTracksEventEmitter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductTableViewCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsAndTopPerformersPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStatsV4ChartAxisHelperTests.swift
Labels: type: task

#12621 [Shipping Lines] Update styles on Shipping screen in order form
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/FormattableAmountTextFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FormattableAmountTextField.swift
  WooCommerce/UITestsFoundation/Screens/Orders/AddShippingScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
Labels: feature: order details

#12593 Dynamic Dashboard: New update for Blaze card
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
Labels: type: task

#12615 Fix: Inconsistent Padding Issues in `DashboardCardErrorView` Across Multiple Views
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
Labels: type: bug

#12632 [Shipping Lines] Add Networking support to fetch shipping methods
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ShippingMethodMapper.swift
  Networking/Networking/Model/ShippingMethod.swift
  Networking/Networking/Remote/ShippingMethodsRemote.swift
  Networking/NetworkingTests/Mapper/ShippingMethodListMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingMethodsRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-methods.json
Labels: feature: order details

#12635 [Shipping Lines] Add Storage support for shipping methods
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/ShippingMethod+CoreDataClass.swift
  Storage/Storage/Model/ShippingMethod+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 111.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: feature: order details

#12637 [Shipping Lines] Update ShippingMethod networking model
  Networking/Networking/Model/ShippingMethod.swift
  Networking/NetworkingTests/Mapper/ShippingMethodListMapperTests.swift
Labels: feature: order details

#12633 Fix notifications issues
  WooCommerce/Classes/AppDelegate.swift
Labels: type: bug, feature: notifications

#12619 WooCommerce Version Cell Misalignment with Adjacent Cells
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HostingTableViewCell.swift
Labels: type: enhancement

#12639 Merge 18.4 final into trunk
  WooCommerce/Classes/AppDelegate.swift
  config/Version.Public.xcconfig
Labels: Releases

#12629 Dynamic dashboard: Fix thread priority inversion warning
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
Labels: type: bug

#12648 Update release notes for 18.5
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#12627 [SiOC - customer creation] Extract the shared collapsible card UI in the product card for future reuse in the customer card
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleOrderFormCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleOrderFormCardBorder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt, feature: order creation

#12643 Fix/speculative fix for double order pushes
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: feature: order details, feature: notifications, type: crash

#12626 [Dynamic Dashboard] DashboardCard states refactoring.
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardCustomizationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task

#12630 Change badge view in order products list text color
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
Labels: type: enhancement

#12651 [Shipping Lines] Update SingleSelectionList component to handle shipping method selection designs
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingMethodSelector.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SingleSelectionList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details, category: design

#12650 [SiOC - customer creation] Show collapsible customer card with header view
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleOrderFormCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCardHeaderView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#12636 [Dynamic Dashboard] In-app feedback card
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardView.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewController.xib
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/inAppFeedback/InAppFeedbackCardViewControllerTests.swift
Labels: type: task

#12644 Fix Menu Scroll Jump Issue in Hub Menu
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
Labels: type: bug, feature: hub menu

#12654 [SiOC - customer creation] Customer search: CTA and integration with existing customer selector
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
Labels: status: feature-flagged, feature: order creation

#12657 Fix crash on various Settings screen
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/UIStoryboard+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/WooAboutScreenConfiguration.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings.storyboard
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+UnifiedLogin.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: app settings, type: crash

#12653 Add experimental toggle for temporary point of sale entry point
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Model/BetaFeature.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Point Of Sale/PointOfSaleDashboard.swift
  WooCommerce/Classes/ViewRelated/Point Of Sale/PointOfSaleEntryPointView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, category: tablet

#12668 [Shipping Lines] Display shipping method in shipping line details
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
Labels: feature: order details

#12669 [Shipping Lines] Handle shipping method selection in shipping line details
  Networking/Networking/Model/ShippingMethod.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsTimeRangeCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ItemDetails/ShippingLabelCustomsFormItemDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormInput.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/SinglePackageHazmatDeclaration.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SingleSelectionList.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order details

#12672 Hotfix: Chart Crash on Negative Values on Dynamic Dashboard
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModelTests.swift
Labels: type: crash, feature: stats, impact: high, priority: high

#12676 [Tooling] Push hotfix branch on `new_hotfix_release`
  fastlane/Fastfile
Labels: category: tooling

#12664 [SiOC - customer creation] Add CTA to remove customer from order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: status: feature-flagged, feature: order creation

#12666 [SiOC - customer creation] Show/add/edit customer address
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CreateOrderAddressFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCardAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCardAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerCard/CollapsibleCustomerCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: status: feature-flagged, feature: order creation

#12681 Dynamic Dashboard: Improve performance for Performance card
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
Labels: type: enhancement, feature: stats

#12673 [Shipping Lines] Fetch shipping methods from remote
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SingleSelectionList.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
Labels: feature: order details

#12686 [Shipping Lines] Add shipping methods tracks events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
Labels: feature: order details, category: tracks

#12687 [Shipping Lines] Add "Other" shipping method option to list of available methods
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
Labels: feature: order details

#12688 [Shipping Lines] Release shipping method selection in Shipping screen
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
Labels: feature: order details

#12682 Dynamic Dashboard: Top Performers card enhancements
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardUI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StatsTimeRangePicker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: stats

#12647 [Watch App] Adds initial WooWatchApp setup
  WooCommerce/Woo Watch App/Assets.xcassets/AccentColor.colorset/Contents.json
  WooCommerce/Woo Watch App/Assets.xcassets/AppIcon.appiconset/Contents.json
  WooCommerce/Woo Watch App/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
  WooCommerce/Woo Watch App/Assets.xcassets/Contents.json
  WooCommerce/Woo Watch App/ContentView.swift
  WooCommerce/Woo Watch App/Preview Content/Preview Assets.xcassets/Contents.json
  WooCommerce/Woo Watch App/WooApp.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  fastlane/Fastfile
Labels: feature: apple watch

#12663 [Watch] Add Networking framework to Watch Target
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/ApplicationPassword/ApplicationPasswordStorage.swift
  Networking/Networking/ApplicationPassword/ApplicationPasswordUseCase.swift
  Networking/Networking/Extensions/String+Helpers.swift
  Networking/Networking/Model/ApplicationPassword/ApplicationPassword.swift
  Networking/Networking/Settings/Secret.swift
  Networking/Networking/Settings/UserAgent.swift
  Networking/NetworkingWatchOS/NetworkingWatchOS.h
  Podfile
  Podfile.lock
  WooCommerce/Woo Watch App/ContentView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12683 [Watch] Add dependency sync support
  Networking/Networking/ApplicationPassword/RequestAuthenticator.swift
  Networking/Networking/Model/Stats/OrderStatsV4Totals.swift
  Networking/Networking/Settings/Credentials.swift
  Networking/Networking/Validators/ResponseDataValidator.swift
  Networking/Networking/Validators/WordPressApiValidator.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/System/WatchDependencies.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Woo Watch App/ContentView.swift
  WooCommerce/Woo Watch App/PhoneDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/Secret.swift
  WooCommerce/Woo Watch App/String+Helpers.swift
  WooCommerce/Woo Watch App/WooApp.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12677 [Woo POS] Add WooCommerce POS framework
  Podfile
  Podfile.lock
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooPOS/WooPOS.docc/WooPOS.md
  WooCommerce/WooPOS/WooPOS.h
  WooCommercePOS/WooCommercePOS.xcodeproj/project.pbxproj
  WooCommercePOS/WooCommercePOS.xcodeproj/xcshareddata/xcschemes/WooCommercePOS.xcscheme
  WooCommercePOS/WooCommercePOS/Point Of Sale/PointOfSaleDashboard.swift
  WooCommercePOS/WooCommercePOS/Point Of Sale/PointOfSaleEntryPointView.swift
  WooCommercePOS/WooCommercePOS/WooCommercePOS.docc/WooCommercePOS.md
  WooCommercePOS/WooCommercePOS/WooCommercePOS.h
  WooCommercePOS/WooCommercePOSTests/WooCommercePOSTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#12696 Add 18.6 marketing release notes
  CHANGELOG.md
Labels: type: task, Releases

#12693 Dynamic Dashboard: Add new card type and start inbox card UI
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreSetupProgressView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#12547 [Tooling] Run Danger & SwiftLint on the Linter Agent
  .buildkite/pipeline.yml
  .github/workflows/run-danger.yml
  Dangerfile
Labels: category: tooling

#12692 Use S3 for fastlane match
  Gemfile.lock
  fastlane/Matchfile
Labels: category: tooling

#12719 Fix trunk build error from merging a PR after new code was merged
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCardViewModel.swift
Labels: type: technical debt

#12700 [Woo POS] Initial UI scaffolding
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Model/BetaFeature.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommercePOS/WooCommercePOS.xcodeproj/project.pbxproj
  WooCommercePOS/WooCommercePOS/Models/Product.swift
  WooCommercePOS/WooCommercePOS/Point Of Sale/PointOfSaleDashboard.swift
  WooCommercePOS/WooCommercePOS/Point Of Sale/PointOfSaleEntryPointView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CartView.swift
  WooCommercePOS/WooCommercePOS/Presentation/PointOfSaleDashboardView.swift
  WooCommercePOS/WooCommercePOS/Presentation/PointOfSaleEntryPointView.swift
  WooCommercePOS/WooCommercePOS/Presentation/ProductGridView.swift
  WooCommercePOS/WooCommercePOS/Presentation/ProductRowView.swift
  WooCommercePOS/WooCommercePOS/Utils/ProductFactory.swift
  WooCommercePOS/WooCommercePOS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#12717 [Min/Max Quantities Edit Support] Adapt Networking and Model to the new REST API
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Responses/product-min-max-quantities.json
  WooCommerce/Classes/Extensions/Optional+String.swift
  WooCommerce/Classes/Extensions/String+ProductQuantityRules.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRulesViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: product details

#12714 Setup Semantic POS colors
  WooCommercePOS/WooCommercePOS.xcodeproj/project.pbxproj
  WooCommercePOS/WooCommercePOS/Presentation/CartView.swift
  WooCommercePOS/WooCommercePOS/Presentation/PointOfSaleDashboardView.swift
  WooCommercePOS/WooCommercePOS/Presentation/ProductGridView.swift
  WooCommercePOS/WooCommercePOS/Presentation/ProductRowView.swift
  WooCommercePOS/WooCommercePOS/Utils/Color+WooCommercePOS.swift
Labels: type: task, feature: POS

#12715 [Dynamic Dashboard] Initialize Reviews Card UI
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#12729 Fix trunk build error after merge
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
Labels: type: technical debt

#12709 [Watch] Add connecting screen
  WooCommerce/Woo Watch App/ConnectView.swift
  WooCommerce/Woo Watch App/ContentView.swift
  WooCommerce/Woo Watch App/Dependencies/Environment+Dependencies.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/WooApp.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12699 Dynamic Dashboard: Fetch most active coupons
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StatsTimeRangeV4+UI.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task

#12733 Dynamic Dashboard: Coupons Card UI
  Networking/Networking/Model/Coupon.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Model/CouponWooTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task

#12731 Dynamic Dashboard: Reviews card styling
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
Labels: type: task

#12738 Dynamic Dashboard: Inbox messages card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/InboxDashboardCardViewModelTests.swift
Labels: type: task

#12740 [Woo POS] UI: Reader connection presentation flow with simulated happy path
  WooCommercePOS/WooCommercePOS.xcodeproj/project.pbxproj
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/CardReaderConnectionView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/CardReaderConnectionViewModel.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ConnectingFailedView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ConnectingToReaderView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/FoundReadersView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ReaderConnectedView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ReaderNotConnectedView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ReaderUpdateFailedView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ReaderUpdateInProgressView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ScanningForReaderFailedView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CardReaderConnection/UI States/ScanningForReaderView.swift
  WooCommercePOS/WooCommercePOS/Presentation/CartView.swift
  WooCommercePOS/WooCommercePOS/Presentation/PointOfSaleDashboardView.swift
  WooCommercePOS/WooCommercePOS/Presentation/PointOfSaleEntryPointView.swift
  WooCommercePOS/WooCommercePOS/Presentation/ProductGridView.swift
  WooCommercePOS/WooCommercePOS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: status: feature-flagged, feature: POS

#12747 [Woo POS] Revert WooCommercePOS framework
  Podfile
  Podfile.lock
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/Classes/POS/Models/CartProduct.swift
  WooCommerce/Classes/POS/Models/POSProduct.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/FoundReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderConnectedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderNotConnectedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ScanningForReaderFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ScanningForReaderView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/ProductCardView.swift
  WooCommerce/Classes/POS/Presentation/ProductGridView.swift
  WooCommerce/Classes/POS/Presentation/ProductRowView.swift
  WooCommerce/Classes/POS/Presentation/QuantityBadgeView.swift
  WooCommerce/Classes/POS/Reusable Views/PlusButtonStyle.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/POSProductFactory.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommercePOS/WooCommercePOS.xcodeproj/project.pbxproj
  WooCommercePOS/WooCommercePOS.xcodeproj/xcshareddata/xcschemes/WooCommercePOS.xcscheme
  WooCommercePOS/WooCommercePOS/Utils/ProductFactory.swift
  WooCommercePOS/WooCommercePOS/WooCommercePOS.docc/WooCommercePOS.md
  WooCommercePOS/WooCommercePOS/WooCommercePOS.h
  WooCommercePOS/WooCommercePOSTests/WooCommercePOSTests.swift
Labels: feature: POS

#12214 [Tablet Orders] Order list UI updates
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UITableViewCell+Helpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilteredOrdersHeaderBar.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
  WooCommerce/Resources/Images.xcassets/shopping-bags.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shopping-bags.imageset/shopping-bags.pdf
Labels: type: task, feature: order list, category: tablet

#12756 Dynamic Dashboard: Integrate new endpoint for product stock in Networking layer
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductStockListMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductStock.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Mapper/ProductStockListMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-stock-decimal-sku.json
  Networking/NetworkingTests/Responses/product-stock-parent-manage-stock.json
  Networking/NetworkingTests/Responses/product-stock-string-quantity.json
  Networking/NetworkingTests/Responses/product-stock-without-data-envelope.json
  Networking/NetworkingTests/Responses/product-stock.json
  Storage/Storage/Model/DashboardCard.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
Labels: type: task

#12765 Dynamic Dashboard: Add UI for stock card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
Labels: type: task

#12755 Dynamic Dashboard: Coupons card
  Networking/Networking/Model/Coupon.swift
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Coupons/EnhancedCouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponRow.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModelTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task

#12768 Update release notes for 18.7
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#12771 [Watch] My Store Stats UI
  WooCommerce/Woo Watch App/ContentView.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/WooApp.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12774 [Watch] Show correct stats data
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreViewModel.swift
Labels: feature: apple watch

#12752 Dynamic Dashboard: Reviews Card Reload Functionality
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewViewModel.swift
Labels: type: task

#12775 Dynamic Dashboard: Optimize API calls
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
Labels: type: task

#12781 Dynamic Dashboard: Update Yosemite with stock report fetching
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task

#12749 [Woo POS] UI - Cart: Product rows
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ProductCardView.swift
  WooCommerce/Classes/POS/Presentation/ProductRowView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
Labels: type: task, feature: POS

#12758 [Min/Max Quantities Edit Support] UI + Sync Logic
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  Networking/Networking/Network/Tools/String+MinMaxQuantities.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/ProductUpdateError+UI.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRules.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRulesViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/EditableProductVariationModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRulesViewModelTests.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: type: task, feature: product details, category: woo extensions

#12778 [Watch] Share Currency Settings
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/System/WatchDependencies.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/StoreWidgets/StoreInfoFormatter.swift
  WooCommerce/StoreWidgets/StoreInfoProvider.swift
  WooCommerce/Woo Watch App/Dependencies/Environment+Dependencies.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12783 [Woo POS] Update conditions for showing POS entry point
  WooCommerce/Classes/Model/BetaFeature.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: status: feature-flagged, feature: POS

#12789 Dynamic Dashboard: Integrate product report endpoint
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductReportSegmentListMapper.swift
  Networking/Networking/Mapper/ProductStockListMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductReport.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Mapper/ProductReportSegmentListMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-report-without-data-envelope.json
  Networking/NetworkingTests/Responses/product-report.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
Labels: type: task

#12795 Dynamic Dashboard: Update Yosemite to support loading product reports
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task

#12800 Dynamic Dashboard: Save and load last selected stock type for Stock card
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task

#12759 Fix: Overly Large Instruction Image on application password tutorial on iPad
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordTutorial.swift
Labels: type: bug, feature: login

#12798 [Watch] Order list UI
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooCommerce/Woo Watch App/WooApp.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12793 [Woo POS] Update POS menu item based on the latest design
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Resources/Images.xcassets/point-of-sale.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/point-of-sale.imageset/point-of-sale.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: status: feature-flagged, feature: POS

#12767 [Woo POS] Initial mechanism to handle quantities and out of stock
  WooCommerce/Classes/POS/Models/POSProduct.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/ProductCardView.swift
  WooCommerce/Classes/POS/Presentation/ProductGridView.swift
  WooCommerce/Classes/POS/Presentation/QuantityBadgeView.swift
  WooCommerce/Classes/POS/Presentation/SearchView.swift
  WooCommerce/Classes/POS/Utils/POSProductFactory.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12804 [Min/Max Quantities Edit Support] Tracking
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormEventLogger.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormEventLoggerProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormEventLogger.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRules.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRulesViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Quantity Rules/QuantityRulesViewModelTests.swift
Labels: type: task, feature: product details, category: tracks

#12811 Dynamic Dashboard: Preserve existing ordering when refreshing cards.
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
Labels: type: task

#12801 [Migrate simple payments] Fix card reader payment methods from Menu > Payments > Collect Payment
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/PaymentMethodsWrapperHostingController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: bug, feature: hub menu, feature: simple payments

#12813 [Min/Max Quantities Edit Support] Release Notes
  RELEASE-NOTES.txt
Labels: type: task

#12822 [Orders] Add ShippingLineRowView for order shipping lines
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details, feature: order creation

#12823 [Order Details] Display multiple shipping lines in order details
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HostingTableViewCell.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: order details

#12799 [Woo POS] Avoid initial view model unwanted recreation
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
Labels: type: task, feature: POS

#12809 [Woo POS] Add totals view. Shuffle views on checkout flow
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12817 Watch: Adds Order Detail View
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12825 [Watch] Add Customer Section on Order Details
  WooCommerce/Classes/Model/Address+Woo.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12826 Dynamic Dashboard: Fix issue displaying initial cards upon login
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
Labels: type: bug

#12808 [Woo POS] Fix POS menu item visibility issues with unit tests
  WooCommerce/Classes/Model/BetaFeature.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesConfiguration.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesConfigurationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mocks/MockInMemoryStorage.swift
  WooCommerce/WooCommerceTests/Model/BetaFeaturesConfigurationViewModelTests.swift
  WooCommerce/WooCommerceTests/Model/BetaFeaturesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: type: bug, type: technical debt, feature: POS

#12829 Update release notes and CHANGELOG based on 18.8 changes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#12831 [Hub Menu] Clean up feature flag for Customers in Hub menu
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: feature: hub menu

#12832 [Order Details] Add view model for ShippingLineRowView
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModelTests.swift
Labels: feature: order details

#12833 [Order Form] Add UI for multiple shipping lines during order creation/editing
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModelTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order creation

#12834 [Order Form] Update custom amounts section to match latest designs
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowView.swift
Labels: feature: order creation

#12802 Dynamic Dashboard: Last orders card UI
  WooCommerce/Classes/Extensions/UILabel+OrderStatus.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrderDashboardRow.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardEmptyView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusEnum+UI.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#12803 Dynamic Dashboard: Load data for stock card
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task

#12836 Watch: Add new order notification support
  Networking/Networking.xcodeproj/project.pbxproj
  WooCommerce/Classes/Extensions/Dictionary+Woo.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotification.swift
  WooCommerce/NotificationExtension/OrderNotificationDataService.swift
  WooCommerce/NotificationExtension/OrderNotificationViewController.swift
  WooCommerce/NotificationExtension/OrderNotificationViewModel.swift
  WooCommerce/Woo Watch App/App/AppBindings.swift
  WooCommerce/Woo Watch App/App/AppDelegate.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailLoader.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#12842 Dynamic dashboard: unit tests for dashboard cards generating and loading
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12769 Dynamic Dashboard: Reviews Card Reload Functionality Part 2
  Networking/Networking/Remote/ProductReviewsRemote.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/WooCommerceTests/Reviews/ReviewsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductReviewsViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductReviewAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockProductReviewAction.swift
  Yosemite/Yosemite/Stores/ProductReviewStore.swift
Labels: type: task

#12848 [Woo POS]Revert product stock constraint
  WooCommerce/Classes/POS/Models/POSProduct.swift
  WooCommerce/Classes/POS/Presentation/ProductCardView.swift
  WooCommerce/Classes/POS/Presentation/QuantityBadgeView.swift
  WooCommerce/Classes/POS/Utils/POSProductFactory.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12847 Dynamic Dashboard: Most recent orders - Load order statuses from remote
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task

#12849 Add code signing automation for Watch App and Watch Extension targets
  fastlane/Fastfile
  fastlane/Matchfile
Labels: category: tooling

#12844 Dynamic dashboard: Add eligibility check for inbox card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxEligibilityUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockInboxEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12851 Dynamic Dashboard: Navigation from "Most recent orders" card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: type: task

#12845 [Woo POS] Map from Product to POSProduct. Inject into dashboard.
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/ProductCardView.swift
  WooCommerce/Classes/POS/Presentation/ProductGridView.swift
  WooCommerce/Classes/POS/Presentation/ProductRowView.swift
  WooCommerce/Classes/POS/Utils/POSProductProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12858 Dynamic Dashboard: Most active coupons card - Deleted coupon case
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModelTests.swift
  Yosemite/Yosemite/Actions/CouponAction.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: enhancement, feature: coupons

#12870 [Order Form] Allow shipping line without method to be added to order
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformerTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order creation

#12874 [Order Form] Open shipping details screen to add/edit a shipping line with multiple shipping lines
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/ShippingLineRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
Labels: feature: order creation

#12856 [Watch] Add app link complication
  WooCommerce/StoreWidgets/Homescreen/StoreInfoView.swift
  WooCommerce/StoreWidgets/Homescreen/View+ContainerBackground.swift
  WooCommerce/StoreWidgets/Images.xcassets/woo-logo.imageset/Contents.json
  WooCommerce/StoreWidgets/Images.xcassets/woo-logo.imageset/woo-logo-white.pdf
  WooCommerce/StoreWidgets/Images/UIImage+Widgets.swift
  WooCommerce/StoreWidgets/Lockscreen/AppLinkWidget.swift
  WooCommerce/WatchWidgetsExtension/Assets.xcassets/AccentColor.colorset/Contents.json
  WooCommerce/WatchWidgetsExtension/Assets.xcassets/AppIcon.appiconset/Contents.json
  WooCommerce/WatchWidgetsExtension/Assets.xcassets/Contents.json
  WooCommerce/WatchWidgetsExtension/Assets.xcassets/WidgetBackground.colorset/Contents.json
  WooCommerce/WatchWidgetsExtension/Info.plist
  WooCommerce/WatchWidgetsExtension/WatchWidgetsExtension.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  config/Common.xcconfig
  config/WooCommerce.debug.xcconfig
  config/WooCommerce.release-alpha.xcconfig
  config/WooCommerce.release.xcconfig
  fastlane/Fastfile
  fastlane/Matchfile
Labels: feature: apple watch

#12876 [Order Form] Create use case for adding, editing, and removing shipping lines on an order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
Labels: feature: order creation

#12850 [Woo POS] Update totals view UI with subtotal from cart total
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/ProductGridView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: status: feature-flagged, feature: POS

#12872 Dynamic Dashboard: Fix crash on Stock card
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
Labels: type: crash

#12873 Dynamic Dashboard: Most recent orders - Load orders from remote
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests+FetchFilteredAndAllOrders.swift
Labels: type: bug

#12861 Dynamic Dashboard: Add new cards badge and New Cards Notice card.
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12884 [Order Form] Add sync support for adding, editing, or removing multiple shipping lines on an order
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineSelectionDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformerTests.swift
Labels: feature: order creation

#12885 [Shipping Lines] Add shipping methods tracks M2
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
Labels: feature: order details, category: tracks, feature: order creation

#12888 [Shipping Lines] Release support for multiple shipping lines on an order
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: order details, feature: order creation

#12892 [Shipping Lines] Clean up feature flag for shipping method selection
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ShippingLineDetailsViewModelTests.swift
Labels: feature: order creation

#12894 [Shipping Lines] Clean up feature flag for multiple shipping lines support
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformer.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ShippingInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: order details, feature: order creation

#12895 Watch: Add tracks events
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Woo Watch App/App/AppDelegate.swift
  WooCommerce/Woo Watch App/App/WatchTracksProvider.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/ConnectView.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tracks, feature: apple watch

#12854 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: category: tooling

#12889 Dynamic Dashboard: Revert workaround for updating variation name
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductReport.swift
  Networking/NetworkingTests/Mapper/ProductReportListMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
Labels: type: bug

#12806 Dynamic Dashboard: Reviews card states and unit tests
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModelTests.swift
Labels: type: task

#12898 Watch: Improve the way dependencies sync
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/System/WatchDependencies.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
  WooFoundation/WooFoundation/Currency/CurrencyCode.swift
  WooFoundation/WooFoundation/Currency/CurrencySettings.swift
Labels: feature: apple watch

#12883 [Woo POS] Rename `InPersonPaymentsViewModel` to `CardPresentPaymentOnboardingViewModel`
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayOnboardingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayViewModelsOrderedList.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentsOnboardingPresenter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentOnboardingViewModelTests.swift
Labels: type: task, feature: POS

#12901 Dynamic dashboard: Hide new card notice under feature flag
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
Labels: type: bug

#12903 Update release notes and CHANGELOG based on 18.9 changes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#12896 [Woo POS] Add view controller presenting protocol to allow passing `UIViewController` or a Null implementation
  WooCommerce/Classes/Extensions/ViewControllerPresenting.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12904 [Woo POS] Create payment adaptor with placeholder implementation
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentAdaptor.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12906 [Shipping Lines] Add UI for shipping feedback survey
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/BannerPopover.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order creation

#12907 [Shipping Lines] Consolidate logic for adding a shipping line in use case
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
Labels: feature: order creation

#12908 [Shipping Lines] Simplify view model for adding or editing shipping line details
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
Labels: feature: order creation
