Repository woocommerce/woocommerce-ios, pull requests merged in 2024-02, with the labels that each got.

#11864 [Tablet Orders] Call onCompletion with split view flag true
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: bug, feature: mobile payments, feature: order creation, feature: split view

#11862 [Tablet Orders] Add container for Order Form and Product Selector
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: enhancement, status: feature-flagged, feature: order creation, feature: split view

#11858 [Backend Receipts] Add ability to share and print receipts from Order Details
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Receipt.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptViewModelTests.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#11843 [Crash] Update podfile to use fixed MediaPicker-iOS
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: crash, feature: add/edit products

#11865 Update WordPress-Editor-iOS to fix crash in Aztec
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: crash, feature: add/edit products

#11860 [Tablet Products] Show selected product and support product creation in the secondary view
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, category: tablet, feature: product list, status: feature-flagged

#11877 [Orders] Track horizontal size class for some order events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Extensions/UIUserInterfaceSizeClass+Helpers.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: order details, feature: order list, category: tablet, category: analytics, feature: order creation, feature: split view

#11883 Fix crash when underlining special Glyph in Aztec
  Podfile
  Podfile.lock
Labels: type: crash, feature: add/edit products

#11859 Products: Only use one bottom sheet for both AI and manual product type creation
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/EntryPoint/AddProductWithAIActionSheet.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ManualProductTypeOptions.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/BottomSheetProductType.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: add/edit products

#11882 [Tablet products] Enable large title in products tab in split view
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: enhancement, category: tablet, feature: product list

#11861 [Backend Receipts] Add backend vs local receipt eligibility usecase checks
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#11881 Update CHANGELOG for 17.2
  CHANGELOG.md
Labels: Releases

#11872 Blaze: Fix incorrect site URL sent to dashboard section
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: bug, feature: Blaze

#11890 [Analytics Hub] Add logic to create analytics web report URLs
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubWebReport.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubWebReportTests.swift
Labels: feature: analytics hub

#11904 [Analytics Hub] Add analytics report URLs to Analytics Hub card view models
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#11885 [Tablet products] Show an empty view on initialization
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: enhancement, category: tablet, feature: product list

#11900 [Tablet products] Fix product creation is no-op in collapsed mode
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductCoordinatorTests.swift
Labels: type: bug, category: tablet, feature: product list

#11895 Blaze: Remove the stubbed response for AI suggestion request
  Networking/Networking/Remote/BlazeRemote.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11902 [Product images] Cache images to reduce network requests
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdHostingController.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductUIImageLoader.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesGalleryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductUIImageLoader.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockImageCache.swift
  WooCommerce/WooCommerceTests/Mocks/MockImageService.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductUIImageLoaderTests.swift
Labels: type: enhancement

#11896 [Backend Receipts] Handle card present payment flow. Use backend receipts on success
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockPaymentCaptureOrchestrator.swift
Labels: type: task, feature: order details, feature: mobile payments

#11905 [Tablet Orders] Sync product selections immediately when side by side
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: enhancement, category: tablet, status: feature-flagged, feature: order creation

#11920 [Analytics Hub] Add link to analytics reports in Analytics Hub
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCardCurrentPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLink.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsWebReport.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubWebReportTests.swift
Labels: feature: analytics hub

#11925 [Analytics Hub] Track when an analytics report is opened from an analytics card
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/WPAdminWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLink.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLinkViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsWebReport.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLinkViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsWebReportTests.swift
Labels: category: analytics, feature: analytics hub

#11909 [Tablet Orders] Remove duplicate cancel button
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
Labels: type: task, category: tablet, status: feature-flagged, feature: order creation

#11917 [Tablet Orders] Sync removal from order form to product selector
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
Labels: type: task, category: tablet, status: feature-flagged, feature: order creation

#11922 [Tablet Orders] Block selection when syncing
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tablet, status: feature-flagged, feature: order creation

#11934 [Order Attrbution] Map and store attribution info in Order model (Networking layer)
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/OrderAttributionInfo.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  Networking/NetworkingTests/Responses/order-with-attribution-info.json
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
Labels: feature: order details

#11939 [Order Attribution] Add core data entity to store order attribution info
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Order+CoreDataProperties.swift
  Storage/Storage/Model/OrderAttributionInfo+CoreDataClass.swift
  Storage/Storage/Model/OrderAttributionInfo+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 106.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/OrderAttributionInfo+ReadOnlyConvertible.swift
Labels: feature: order details

#11914 [Backend Receipts] Add loading indicator when loading receipts
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
Labels: type: task, feature: order details, feature: mobile payments

#11940 Product scanner: Missing cancel button to dismiss the view
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.xib
Labels: type: bug

#11942 [Analytics Hub] Count tapping on analytics report link in used_analytics event
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLink.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLinkViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsUsageTracksEventEmitter.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLinkViewModelTests.swift
Labels: category: analytics, feature: analytics hub

#11953 [Analytics Hub] Add feature flag for customizing the Analytics Hub
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: feature: analytics hub

#11927 Add a feature flag to use URLSession in WordPressKit
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/AppDelegate.swift
Labels: category: reliability

#11884 [Backend Receipts] Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/LegacyReceiptViewModel.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/ReceiptActionCoordinator.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentReceiptEmailCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
Labels: type: task, feature: order details, feature: mobile payments, category: analytics

#11959 [Order Attribution] Upsert Order attribution information
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
Labels: feature: order details

#11931 [Tablet Products] Fix product scanning modal & support camera when the app is in split view
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/UpdateInventory/UpdateProductInventoryView.swift
Labels: type: bug, category: tablet, feature: product list

#11937 [Tablet products] Disable large title in product form
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: enhancement, category: tablet, feature: product list

#11957 [Backend Receipts] Update remote with `expiration_days` property
  Networking/Networking/Remote/ReceiptRemote.swift
  Networking/NetworkingTests/Remote/ReceiptRemoteTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#11956 [Backend Receipts] Enable backend receipts on release builds
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#11913 [Tablet Products] Sync selected product state in product list (primary view) and product form (secondary view)
  WooCommerce/Classes/System/WooSplitViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  Yosemite/Yosemite/Tools/ResultsController.swift
  Yosemite/YosemiteTests/Tools/ResultsControllerTests.swift
Labels: type: enhancement, category: tablet, feature: product list

#11963 [Order Attribution] Show order attribution info
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/OrderAttributionInfo+Origin.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/OrderAttributionInfo+OriginTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: order details

#11945 My Store Analytics: Add feature flag and new button for custom range
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/FilterTabBar/TabbedViewController.swift
Labels: type: task

#11966 [Order Attribution] Source type for orders created in Mobile App
  Networking/Networking/Model/OrderAttributionInfo.swift
  Networking/Networking/Model/OrderMetaData.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/OrderAttributionInfo+Origin.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/Extensions/OrderAttributionInfo+OriginTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: feature: order details

#11968 Revert "[Performance] Include Blaze campaign syncing in waiting time tracker for app launch"
  WooCommerce/Classes/Analytics/AppStartupWaitingTimeTracker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/System/AppStartupWaitingTimeTrackerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: crash, category: analytics

#11967 Update CHANGELOG for 17.3
  CHANGELOG.md
Labels: Releases

#11965 Bump deployment target to 16.0
  Experiments/Experiments.xcodeproj/project.pbxproj
  Fakes/Fakes.xcodeproj/project.pbxproj
  Hardware/Hardware.xcodeproj/project.pbxproj
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Country/StoreCreationCountryQuestionViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: type: task

#11662 GHA Workflow for validating issues
  .github/workflows/validate-issues.yml
Labels: category: tooling

#11975 [My store - Analytics] Add new enum case to handle custom date range
  Networking/Networking/Model/Stats/StatGranularity.swift
  Networking/Networking/Model/Stats/StatsGranularityV4.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Dashboard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Time Range/AnalyticsHubTimeRangeSelection.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeV4+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4ChartAxisHelper.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockStatsActionV4Handler.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
Labels: type: task, feature: analytics hub

#11978 [Tablet Orders] Render product selection text based on product selection count
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: task, category: tablet, feature: mobile payments, feature: order creation

#11943 Add activity indicator to TwoColumnHeadlineFootnoteTableViewCell
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.swift
Labels: type: enhancement, feature: order details, feature: mobile payments

#11926 Dangermattic checks update
  .github/workflows/run-danger.yml
  Dangerfile
  Gemfile
  Gemfile.lock
Labels: category: tooling

#12003 [Improvement in Order Edit/Details] Show state name instead of code for Japan and Turkey
  WooCommerce/Classes/Model/Address+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/Address/LocallyStoredStateNameRetriever.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewModels/Order Details/Address/LocallyStoredStateNameRetrieverTests.swift
Labels: type: task, feature: order details

#12008 Add a extension to know when an error is a timeout error
  WooCommerce/Classes/Extensions/Error+Timeout.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order list

#12004 [Tablet Orders] Load product selector configuration based on size class
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
Labels: type: task, feature: order details, category: tablet

#12001 [Blaze] Way to retrieve `Media` of Product's image using ID
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media.json
  WooCommerce/WooCommerceTests/Mocks/MockMediaStoresManager.swift
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: task, feature: Blaze

#12009 Automatically retry timeout errors when loading orders lists
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: order list

#12006 [Blaze] Retrieve Media or Upload asset before submitting campaign
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeCampaignCreationErrorView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductUIImageLoaderTests.swift
Labels: type: task, feature: Blaze

#12016 Blaze: Only force dismissing presented views before starting campaign creation
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
Labels: type: bug, feature: Blaze

#12023 [Custom Range] Reorder enum case to fix unit tests
  Networking/Networking/Model/Stats/StatGranularity.swift
Labels: type: task, feature: analytics hub

#12025 Update timeout error message
  WooCommerce/Classes/ViewRelated/Top Banner/ErrorTopBannerFactory.swift
Labels: feature: order list

#12019 Login: Fix regression issue for JCP site login
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: type: bug, feature: login

#12021 [Blaze] Send destination URL and query params while creating campaign
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAdDestinationSettingViewModelTests.swift
Labels: type: task, feature: Blaze

#12029 Blaze: Update duration and start date after tapping the Apply button
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
Labels: type: enhancement, feature: Blaze

#12020 [Coupons in Orders] Use NSDecimalNumber for discounts instead of Strings
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
Labels: type: task, feature: order creation

#12028 Remove `addProductToOrderViaSKUScanner` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: task, type: technical debt, feature: order creation

#12005 Display shipping tax value in order total bottom pane
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: order details, category: design

#12007 Tooling: SwiftLint on CI
  .buildkite/commands/run-swiftlint.sh
  .buildkite/pipeline.yml
  Rakefile
Labels: category: tooling

#12017 Update SwiftLint setup to be managed via CocoaPods
  .swiftlint.yml
  Podfile
  Podfile.lock
  Rakefile
  Scripts/build-phases/swiftlint.sh
Labels: category: tooling

#12037 Danger check: update Tracks label
  Dangerfile
Labels: category: tooling

#12024 [Analytics Hub] Add basic UI to customize (select and reorder) analytics cards
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionReorderableList.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SelectableItemRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/ViewModifiers/WooStyleModifiers.swift
Labels: feature: analytics hub

#12026 [Analytics Hub] Handle logic/interactions for basic Customize Analytics UI
  WooCommerce/Classes/View Modifiers/View+DiscardChanges.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
Labels: feature: analytics hub

#12030 [Tablet Products] Fix selected product row deselected after swiping action & bulk update
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: bug, category: tablet, feature: product list

#12013 [Tablet Orders] Update scan button rendering based on size class
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
Labels: type: task, category: tablet, feature: order creation

#12040 Adds Connectivity Tool UI Mockup
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: performance

#12042 [Tablet Products] Update products tab cell to have the same color as grouped style table view
  WooCommerce/Classes/Extensions/UITableViewCell+Helpers.swift
Labels: type: enhancement, category: tablet, feature: product list

#12043 [Tablet Orders] Remove order status selector from order creation flow
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/StatusSection/OrderStatusSection.swift
  WooCommerce/WooCommerceUITests/Tests/OrdersTests.swift
Labels: type: task, category: tablet, feature: order creation

#12048 [Analytics Hub] Store Analytics Hub cards with their enabled status and order
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/AnalyticsCard.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: analytics hub

#12052 [Tablet Orders] Update selected products and product selector when changing size class
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: enhancement, category: tablet, feature: order creation

#12054 [Analytics Hub] Initialize AnalyticsHubCustomizeViewModel with AnalyticsCard
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
Labels: feature: analytics hub

#12051 [Tablet Orders] Add dividing line between side by side views
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
Labels: type: task, category: tablet, feature: order creation

#12033 [Tablet Orders] Update product selection header and scanner button based on size class
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
Labels: type: task, category: tablet, feature: order creation

#12049 [Tablet Products] Fix 2 auto-selection issues
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: bug, category: tablet, feature: product list

#12053 [Product List: Selection] Do not deselect when the table view is in editing mode
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: bug, feature: product list

#12022 [Blaze] Add Help button on creation form and payment confirmation screen.
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
Labels: type: task, feature: Blaze

#12061 Order List: Update Networking and Yosemite to support filtering by customer and product
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
Labels: type: enhancement, feature: order list

#12055 [Tablet Orders] Make order sync blocking in side-by-side mode to improve product selection sync reliability
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
Labels: type: task, category: tablet, feature: order creation

#12058 Adds Connectivity Tool Logic
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityToolViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: performance

#12068 [AnalyticsHub] Simplify AnalyticsCard data model and storage methods
  Storage/Storage/Model/AnalyticsCard.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: feature: analytics hub

#12056 [Analytics Hub] Load and save analytics cards from storage in Customize Analytics screen
  Storage/Storage/Model/AnalyticsCard.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12070 Add Connectivity Tool troubleshoot tips and suggestions
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityToolViewModel.swift
Labels: category: performance

#12076 [Analytics Hub] Show and hide analytics cards in Analytics Hub
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12077 [Analytics Hub] Show cards in Analytics Hub in customized order
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12079 Tooling: fix issue labels validation
  .github/workflows/validate-issues.yml
Labels: category: tooling

#12081 [Analytics Hub] Create view model for customizing analytics cards as needed
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12069 [Tablet Products] Handle product deletion
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductDetailsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: bug, category: tablet, feature: product list

#12060 [Tablet Products] Fix product list scrolled to the selected product when loading new products from infinite scroll
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: bug, category: tablet, feature: product list

#12090 [Backend Receipts] Remove share receipt URL button
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
Labels: type: task, feature: order creation

#12062 [Tablet Orders] Design tweaks
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
Labels: type: task, category: tablet, feature: order creation

#12094 [Analytics Hub] Hide sessions card for JCP sites
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12084 Add tracks to connectivity tool
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ConnectivityTool.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityToolViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tracks

#12092 Update CHANGELOG for 17.5
  CHANGELOG.md
Labels: Releases

#12089 [Orders] Ability to filter by product
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+OrdersListFilter.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductListFilter.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Filters/ProductSelector+Order.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Date Range Filter/OrderDateRangeFilter+Utils.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Filter Orders By Product/FilterOrdersByProduct+Analytics.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Order Status Filter/OrderStatusEnum+Analytics.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockOrderActionHandler.swift
  Yosemite/Yosemite/Model/Orders/FilterOrdersByProduct.swift
  Yosemite/Yosemite/Model/Orders/StoredOrderSettings.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrdersSettings.swift
Labels: feature: order list

#12099 Order Details: Support contacting customers through Whatsapp or Telegram
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Resources/Info.plist
Labels: type: enhancement, feature: order details, category: tracks

#12101 Order details: Add release note for contacting customers through whatsapp and telegram
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
Labels: feature: order details

#12093 Update blaze campaign creation form width
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
Labels: feature: product details, feature: Blaze

#12097 Connectivity Tool: Improve accessibility
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
Labels: feature: order list

#12080 Tooling: Define SwiftLint version
  .buildkite/commands/run-swiftlint.sh
  .buildkite/pipeline.yml
  .swiftlint.yml
  Podfile
  Podfile.lock
Labels: category: tooling

#12108 [Analytics Hub] Only fetch data for enabled analytics cards
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12107 [Tablet Orders] Remove the splitViewInOrdersTab feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Extensions/UITabBar+Appearance.swift
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsHostingController.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: task, feature: order list, category: tablet

#12110 [Tablet Orders] Show old selector header when sideBySide flag off
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
Labels: type: task, category: tablet, feature: order creation

#12111 [Analytics Hub] Exclude Sessions card from Customize Analytics when ineligible
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12122 Better Errors: Application Password Tutorial Mockup
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordTutorial.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Resources/Images.xcassets/app-password-tutorial-1.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/app-password-tutorial-1.imageset/app-password-tutorial-1.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: login

#12083 Remove background URLSession instances
  Networking/Networking/Network/AlamofireNetwork.swift
  Networking/Networking/Network/WordPressOrgNetwork.swift
Labels: type: enhancement

#12121 [Blaze] Networking: Add GET campaigns v1.1 endpoint
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/Blaze/BriefBlazeCampaignInfoListMapper.swift
  Networking/Networking/Model/Blaze/BriefBlazeCampaignInfo.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/BriefBlazeCampaignInfoListMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-brief-campaigns-list-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: feature: Blaze

#12116 My Store Analytics: Persist custom range locally to load again upon relaunching
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: stats

#12129 [Orders] Filter by product - Remove feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
Labels: feature: order list

#12124 [Blaze] Storage: Entity to store brief Blaze campaign info
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/Blaze/BlazeCampaignListItemsMapper.swift
  Networking/Networking/Mapper/Blaze/BriefBlazeCampaignInfoListMapper.swift
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListItemsMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-list-success.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Blaze/BlazeCampaign+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeCampaign+CoreDataProperties.swift
  Storage/Storage/Model/Blaze/BlazeCampaignListItem+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeCampaignListItem+CoreDataProperties.swift
  Storage/Storage/Model/Blaze/BlazeTargetDevice+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeTargetDevice+CoreDataProperties.swift
  Storage/Storage/Model/Blaze/BlazeTargetLanguage+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeTargetLanguage+CoreDataProperties.swift
  Storage/Storage/Model/Blaze/BlazeTargetTopic+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeTargetTopic+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 107.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignListItem+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: feature: Blaze

#12127 [Blaze] Use v1.1 endoint to show campaign list
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: feature: Blaze

#12133 [Analytics Hub] Show empty state view when there are no cards to display
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12095 [Tablet Orders] Variation removal from Order Summary sync to open Variation List.
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: task, category: tablet, status: feature-flagged, feature: order creation

#11733 Adds `pod outdated` command to `start-code-freeze` pipeline
  .buildkite/commands/log-outdated-pods.sh
  .buildkite/release-pipelines/start-code-freeze.yml
Labels: category: tooling

#12091 [Tablet Products] Enable feature flag for dev & installable builds
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/UITestsFoundation/Screens/Products/ProductsScreen.swift
  WooCommerce/UITestsFoundation/Screens/Products/SingleProductScreen.swift
Labels: category: tablet, feature: product list, status: feature-flagged

#12103 [Tablet Products] Show discard changes alert if the product form has unsaved changes and the user triggers product selection/creation
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormPresentationStyle.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: enhancement, category: tablet, feature: product list

#12138 Better Errors: Redirect User to App Password Tutorial
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: feature: login

#12128 My Store Analytics: Update contents for custom time range tab
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/CustomRangeTabCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeV4+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/FilterTabBar/TabbedViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/RangedDatePicker.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
Labels: type: task, feature: stats

#12109 [Tablet Products] M1 Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Products.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tablet, feature: product list, category: tracks

#12106 Blaze campaign edit view is shown in split view without any secondary view when split view is enabled
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
Labels: type: bug, category: tablet, feature: product details, feature: Blaze

#12126 [Tablet Orders] Update completion button based on flag, and navigation title based on size class
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
Labels: category: tablet, feature: order creation

#12134 [Product images] Use `actor` based image storage
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductUIImageLoader.swift
Labels: feature: add/edit products

#12137 [Analytics Hub] Add tracks events for customizing analytics hub
  Storage/Storage/Model/AnalyticsCard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: category: tracks, feature: analytics hub

#12148 [Analytics Hub] When a new card is enabled, fetch the data only for the newly enabled card
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12136 [Tablet Orders] Use recalculate button for selection in side-by-side mode
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: task, category: tablet, status: feature-flagged, feature: order creation

#12156 [Analytics Hub] Release feature to customize analytics hub
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub
