Repository woocommerce/woocommerce-ios, pull requests merged in 2024-04, with the labels that each got.

#12379 [Woo Express Sign Up] Remove option to create WPCOM account from invalid email screen
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/NotWPAccountViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/NotWPAccountViewModelTests.swift
Labels: feature: login, category: tracks

#12345 [Shipping Labels] Include the new woo shipping plugin when checking for shipping labels.
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: shipping labels

#12391 [Woo Express Sign Up] Remove subscriptions menu item
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: feature: login

#12307 My Store Analytics: Various beta feedback items
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
Labels: feature: stats

#12376 [Woo Express Cleanup] Add store button on site picker
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Epilogue/AddStoreFooterView.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerCoordinator.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: feature: login, category: tracks

#12350 Align "Delete" Button Wording Across iOS and Android Platforms for Products
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: feature: product details

#12384 [Analytics Hub] Refactor sessions card view
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsSessionsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/SessionsReportCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/SessionsReportCardViewModelTests.swift
Labels: feature: analytics hub

#12317 Support order deletion
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
Labels: type: enhancement, feature: order details, category: tracks

#12398 My Store Analytics: Support same day custom range
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/RangedDatePicker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
Labels: type: bug, feature: stats

#12404 [Woo Express Cleanup] Update prologue string
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePages.swift
Labels: feature: login

#12399 [Woo Express Cleanup] Remove "Upgrade now" text and functionality on free trial banner.
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/StorePlanBanner.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/StorePlanBannerPresenter.swift
Labels: feature: woo express support

#12405 Refund details display excessively wide on iPad in some orientations
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/RefundDetailsViewController.xib
Labels: type: enhancement

#12406 [Woo Express Sign up] Stop presenting upgrades flow from expired alert
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  WooCommerce/Classes/ViewRelated/Upgrades/UpgradePlanCoordinatingController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: in-app purchases

#12407 [Analytics Hub] Gift Cards: Add models for gift card stats
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/GiftCardStats.swift
  Networking/Networking/Model/Stats/GiftCardStatsInterval.swift
  Networking/Networking/Model/Stats/GiftCardStatsTotals.swift
  Networking/NetworkingTests/Responses/gift-card-stats-without-data.json
  Networking/NetworkingTests/Responses/gift-card-stats.json
Labels: feature: analytics hub

#12417 [Analytics Hub] Gift Cards: Add Yosemite support for fetching gift card stats
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: feature: analytics hub

#12420 [Analytics Hub] Add generic methods for parsing different kinds of stats data
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Stats/GiftCardStats.swift
  Networking/Networking/Model/Stats/GiftCardStatsInterval.swift
  Networking/Networking/Model/Stats/GiftCardStatsTotals.swift
  Networking/Networking/Model/Stats/OrderStatsV4.swift
  Networking/Networking/Model/Stats/OrderStatsV4Interval.swift
  Networking/Networking/Model/Stats/OrderStatsV4Totals.swift
  Networking/Networking/Model/Stats/ProductBundleStats.swift
  Networking/Networking/Model/Stats/ProductBundleStatsInterval.swift
  Networking/Networking/Model/Stats/ProductBundleStatsTotals.swift
  Networking/Networking/Model/Stats/WCAnalyticsStats.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/BundlesReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/OrdersReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/ProductsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/RevenueReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsDataTextFormatter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsIntervalDataParser.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Factories/StatsDataTextFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Factories/StatsIntervalDataParserTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Extensions/WCAnalyticsStatsInterval+Date.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: stats, feature: analytics hub

#12421 [Analytics Hub] Fix sessions card layout on large devices when data is unavailable
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsSessionsUnavailableCard.swift
Labels: feature: analytics hub

#12422 [Analytics Hub] Gift Cards: Add view model for gift cards analytics card
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsWebReport.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GiftCardsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsDataTextFormatter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GiftCardsReportCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Factories/StatsDataTextFormatterTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: analytics hub

#12423 [Analytics Hub] Gift Cards: Show gift cards analytics in the analytics hub
  Storage/Storage/Model/AnalyticsCard.swift
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12414 [Woo Express Cleanup] Remove feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Extensions/WordPressAuthenticator+Woo.swift
Labels: type: task, feature: login

#12418 [Shipping Labels] Avoid crash when accessing NSManagedObject from a background thread
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
Labels: type: crash, feature: shipping labels

#12426 [Jetpack install] Handle error in Jetpack install response
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Jetpack Setup/Native Jetpack Setup/JetpackSetupViewModel.swift
Labels: feature: login

#12424 [Analytics Hub] Ensure new analytics cards are shown when storage contains previous customizations
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12425 [Analytics Hub] Release expanded analytics hub with extension analytics
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12415 Add event tracking to Plugin List and out of date plugins
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
Labels: type: enhancement, type: task, feature: app settings, category: tracks

#12427 Dynamic Dashboard: Dashboard view in SwiftUI
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ViewControllerContainer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#12433 Dynamic Dashboard: Add banners to new dashboard screen
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/WebViewSheet.swift
  WooCommerce/Classes/ViewRelated/Top Banner/ErrorTopBanner.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#12453 [Site Credentials] Update login error regex checker
  WooCommerce/Classes/Authentication/SiteCredentialLoginUseCase.swift
Labels: feature: login

#12446 [Subscriptions in Order Creation 3] Add feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: order creation, feature: subscriptions

#12449 Dynamic Dashboard: Update struct for dashboard cards and add button for layout editor
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: type: task

#12429 [Login] Enable site credentials login
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/WordPressAuthenticator+Woo.swift
Labels: feature: login

#12457 [Product Creation AI] Update prompt to avoid receiving JSON word in response.
  Networking/Networking/Remote/GenerativeContentRemote.swift
  RELEASE-NOTES.txt
Labels: feature: add/edit products

#12456 Dynamic Dashboard: Add new view for customizing dashboard layout
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardCustomizationViewModelTests.swift
Labels: type: task

#12466 [Product Creation AI] Use `response_format` to receive JSON
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGenerativeContentRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: feature: add/edit products

#12447 [Subscriptions in Order Creation 3] Update product selector
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: type: task, feature: order creation, feature: subscriptions

#12400 [Migrate simple payments] Show bottom sheet that adds custom amount
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/SimplePaymentsMigrationView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Resources/Images.xcassets/bell.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/bell.imageset/bell.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: status: feature-flagged, feature: hub menu, feature: simple payments

#12464 [Stats] Move stats extensions for parsing stats data to UI layer
  Networking/Networking/Model/Stats/GiftCardStatsTotals.swift
  Networking/Networking/Model/Stats/OrderStatsV4Totals.swift
  Networking/Networking/Model/Stats/ProductBundleStatsTotals.swift
  Networking/Networking/Model/Stats/WCAnalyticsStats.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsDataTextFormatter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsIntervalDataParser.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/WCAnalyticsStatsTotals+UI.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: stats

#12419 [Migrate simple payments] Navigate to payment methods after creating an order & collecting payment
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
Labels: status: feature-flagged, feature: order creation, feature: hub menu

#12472 Upgrade to release-toolkit 11.0.0 for better pods check during code freeze
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#12460 Dynamic Dashboard: Update Storage and Yosemite to persist dashboard cards
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task

#12455 [Migrate simple payments] Analytics & enable feature flag for release 18.2
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/SimplePaymentsMigrationView.swift
Labels: category: tracks, feature: hub menu

#12470 [Blaze] Validate campaign image dimensions
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeCampaignCreationErrorView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazePaymentMethodsViewModelTests.swift
Labels: feature: Blaze

#12474 Fix incorrect action name for setfrozentag following the update of release-toolkit
  fastlane/Fastfile
Labels: category: tooling

#12475 Update CHANGELOG and release_notes for 18.2
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#12476 Update podspec version for WordPressAuthenticator
  Podfile
  Podfile.lock
Labels: Releases

#12467 Dynamic Dashboard: New store stats chart in SwiftUI
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsLineChart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/ChartMarker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/MyStore/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsChartCircleMarker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModelTests.swift
Labels: type: task

#12479 Fix: Reset Activity Log Button to Clear All Log Files
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/ApplicationLogViewController.swift
Labels: type: bug, feature: support

#12484 [Tooling] Improve the "internal pods not on stable version" annotation
  fastlane/Fastfile
Labels: category: tooling

#12480 Dynamic Dashboard: Store card order in app settings
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: task

#12431 Undo Notice Not Displayed on iPad
  WooCommerce/Classes/Tools/Notices/DefaultNoticePresenter.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsNotices.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: type: bug

#12288 Address app privacy declaration requirements
  WooCommerce/Resources/PrivacyInfo.xcprivacy
  WooCommerce/StoreWidgets/PrivacyInfo.xcprivacy
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#12481 Dynamic Dashboard: Store performance card header
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StatsTimeRangePicker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: stats

#12483 Dynamic Dashboard: Stats and chart views for store performance card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModelTests.swift
Labels: type: task, feature: stats

#12485 Dynamic Dashboard: Unit tests for store performance view model
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
Labels: type: task, category: unit tests

#12443 [Woo Express Cleanup] Delete code related to Free Trial local notification and survey.
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+FreeTrialSurvey.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Authentication/Store Creation/Free Trial/FreeTrialSurveyCoordinator.swift
  WooCommerce/Classes/Authentication/Store Creation/StoreCreationCoordinator.swift
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/FreeTrialSurvey/FreeTrialSurveyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/FreeTrialSurvey/FreeTrialSurveyViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Upgrades/StorePlanSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/Notifications/LocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/Notifications/LocalNotificationTests.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/FreeTrialSurvey/FreeTrialSurveyCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/FreeTrialSurvey/FreeTrialSurveyViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Upgrades/StorePlanSynchronizerTests.swift
Labels: type: task, category: tracks, feature: woo express support

#12489 Dynamic Dashboard: Separate top performers from store stat section
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsTimeRangeCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/CustomRangeTabCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/RangedDatePicker.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardCustomizationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: stats

#12493 Dynamic Dashboard: Update Blaze card UI
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
Labels: type: task

#12491 Dynamic Dashboard: Display top performer list in top performers dashboard card
  Networking/Networking/Model/Stats/TopEarnerStatsItem.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersPeriodView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformersPeriodViewModelTests.swift
Labels: type: task, feature: stats

#12506 Dynamic Dashboard: Add separate configs for last selected time range of performance and top performers cards
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: stats

#12510 Dynamic Dashboard: Handle hiding cards from the ellipsis menu
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreSetupProgressView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
Labels: type: task

#12523 Update release notes for 18.3
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#12528 [Subscriptions in Order Creation 3] Handle signup fee and trial length zero case
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
Labels: type: task, feature: order creation, feature: subscriptions

#12454 [Subscriptions in Order Creation 3] Update product cards
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
Labels: type: task, feature: order creation, feature: subscriptions

#12533 [Extensions] Increase tap target to entire row when showing "Explore" button for inactive extensions
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeView.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionReorderableList.swift
Labels: category: woo extensions, feature: product list, feature: analytics hub

#12518 Dynamic Dashboard: Update header view for dashboard screen
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/WooCommerceTests/ViewModels/Authentication/AccountCreationFormViewModelTests.swift
Labels: type: task

#12520 Dynamic Dashboard: Update UI for the error screen of outdated Woo version
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
Labels: type: task

#12527 Dynamic Dashboard: Update Store Performance card for custom ranges
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/WooCommerceUITests/Tests/StatsTests.swift
Labels: type: task, feature: stats

#12534 [Subscriptions in Order Creation 3] Add quantity badge to collapsible cards. Account for quantity on price display.
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/BadgeView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/CollapsibleView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
Labels: type: task, feature: order creation, feature: subscriptions

#12549 [Subscriptions in Order Creation 3] Update order details row with subscription details
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Subscriptions section/OrderSubscriptionTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Subscriptions section/OrderSubscriptionTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Subscriptions section/OrderSubscriptionTableViewCellViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: order creation, feature: subscriptions

#12552 [Dynamic Dashboard] Present customization screen to dismiss card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
Labels: type: task

#12554 [Dynamic Dashboard] Rename card and screen title
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
Labels: type: task

#12553 Dynamic Dashboard: Error state for dashboard cards
  WooCommerce/Classes/Extensions/NSMutableAttributedString+Helpers.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCardErrorView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreSetupProgressView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/Resources/Images.xcassets/connection-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/connection-icon.imageset/connection-icon.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task

#12521 Dynamic Dashboard: Share Your Store Card
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12559 Menu: fix collect payment quick action or deeplink by `NavigationPath` in `NavigationStack`
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: bug, feature: simple payments

#12561 Dynamic Dashboard: Adding Tracks events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
Labels: type: task, category: tracks

#12570 [Dynamic Dashboard] Dashboard store performance empty view
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChart.swift
  WooCommerce/Resources/Images.xcassets/magnifying-glass-not-found.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/magnifying-glass-not-found.imageset/magnifying-glass-not-found.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: stats

#12563 Dynamic Dashboard: Remove the feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/UserDefaults+Blaze.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreSetupProgressView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersPeriodView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersView.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
Labels: type: task

#12572 [Dynamic Dashboards] Updated Card visibility setting
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12574 Update release notes for 18.4
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#12569 [Order Creation] Reset scan button from spinner after scan completes
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: bug, feature: order creation

#12594 Use fixed date to fix flaky unit test of `StoreStatsChartViewModel`
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModelTests.swift
Labels: category: unit tests

#12589 Dynamic Dashboard: Restore Blaze card on dashboard after creating a new campaign
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: task, feature: Blaze

#12590 [Migrate simple payments] Remove feature flag & unused code
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/PriceFieldFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountFlowOpener.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: type: technical debt, category: tracks, feature: simple payments

#12576 [Order Creation] Prevent merchant from adding parent product to an order via barcode scanning
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: bug, feature: order creation

#12607 Log available memory upon receiving memory warning.
  WooCommerce/Classes/AppDelegate.swift
Labels: type: task

#12613 [Shipping Lines] Add feature flag for Enhancing Order Shipping Lines
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: feature: order details

#12587 Attempt mitigate tablet crash when `highlightSelectedRowIfNeeded`
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  Yosemite/Yosemite/Internal/NSOrderedSet+Array.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
Labels: type: bug, type: task, feature: order list, category: tablet

#12565 [Subscriptions in Order Creation 3] Update signup fees by product quantity
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCardPriceSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCardPriceSummaryViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CollapsibleProductRowCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductsSection/CollapsibleProductCardPriceSummaryViewModelTests.swift
Labels: type: bug, feature: order creation, feature: subscriptions

#12614 [Shipping Lines] Add Shipping Method Selector view
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingMethodSelector.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: order details

#12616 [Dashboard] Remove `WaitingTimeTracker` to avoid crash
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StoreStatsChartViewModelTests.swift
Labels: type: crash
