Repository woocommerce/woocommerce-ios, pull requests merged in 2024-12, with the labels that each got.

#14546 [Woo POS - payments onboarding] Remove background color in the payment provider selector view
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
Labels: type: bug, feature: POS

#14554 Remove first TTP usage survey
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/ic_outline-feedback.png
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/ic_outline-feedback@2x.png
  WooCommerce/Resources/Images.xcassets/icon-feedback-outline.imageset/ic_outline-feedback@3x.png
Labels: type: task, feature: mobile payments

#14547 Fix email receipt form being shown in split view on iPad in iOS 17
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptEmail/ReceiptEmailView.swift
Labels: type: bug

#14532 Core Data: Update storage usage for BlazeStore
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#14564 Some additional fixes for Screenshots
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockSystemStatusActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
Labels: type: task, category: screenshots

#14561 Handle Stripe bluetoothAccessDenied error after Bluetooth access is denied
  Hardware/Hardware/CardReader/CardReaderServiceError.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsRetryApproach.swift
Labels: type: bug, feature: mobile payments

#14518 [Shipping labels] Use backend data for carrier (predefined) packages
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingPackagesResponse.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackagesRepository.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooCarrierPackagesSelectionViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: shipping labels

#14562 [Woo POS] Separate POSItem from Product
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/CartItem+Order.swift
  WooCommerce/Classes/POS/Models/CartItem.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  WooCommerce/WooCommerceTests/POS/Models/CartItemTests.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleProductService.swift
  Yosemite/Yosemite/Stores/Order/OrderSyncProductInput.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrderableItem.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
  Yosemite/YosemiteTests/Tools/POS/POSCartItemTests.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: task, feature: POS

#14499 Get account settings and use in UI custom packages
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels

#14548 Core Data: Migrate SiteStore to use new method for writing data
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/SiteStore.swift
Labels: type: task, feature: login, feature: app settings

#14566 Core Data: Update storage using for ShippingLabelStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
Labels: type: task, feature: shipping labels

#14585 Skips `test_purchase_product_completes_purchase` flaky IAP test
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceTests/Yosemite/InAppPurchaseStoreTests.swift
Labels: category: unit tests, feature: in-app purchases

#14586 Skip all InAppPurchases-related tests
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
Labels: type: enhancement, category: unit tests, feature: in-app purchases

#14560 Core Data: Update storage usage for SitePluginStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/SitePluginStore.swift
Labels: type: task

#14592 [Shipping labels] Carriers list optimizations
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
Labels: feature: shipping labels

#14582 [Woo POS] Architecture improvements: minor updates
  Networking/Networking/Model/Product/ProductBundleItem.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewHelperTests.swift
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/Stores/Order/OrderSyncProductInput.swift
  Yosemite/Yosemite/Stores/Order/ProductInputTransformer.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
Labels: type: task, feature: POS

#14559 Core Data: Migrate storage usage for SystemStatusStore
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/PluginListViewModelTests.swift
  Yosemite/Yosemite/Stores/SystemStatusStore.swift
Labels: type: task, feature: core

#14567 Core Data: Migrate storage usage for TaxStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/TaxStore.swift
Labels: type: task, feature: order details

#14568 Core Data: Migrate storage usage for ShippingMethodStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/ShippingMethodStore.swift
Labels: type: task, feature: order creation

#14481 [Woo POS] [Cash & Receipts] Modal view to send receipts after successful payment
  Networking/Networking/Remote/POSOrdersRemoteProtocol.swift
  Networking/Networking/Remote/ReceiptRemote.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptModalView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrdersRemote.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: task, feature: POS

#14569 Core Data: Migrate storage usage in SettingStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/SettingStore.swift
Labels: type: task, feature: app settings

#14570 Core Data: Migrate storage usage in PaymentGatewayStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/PaymentGatewayStore.swift
Labels: type: task, feature: mobile payments

#14571 [Shipping labels] updates for star/unstar action
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/SelectedPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14583 [Mobile Payments] Improvement: show specific error details in the UI for more Stripe error codes
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  Hardware/HardwareTests/ErrorCodesTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsRetryApproach.swift
Labels: type: enhancement, feature: mobile payments

#14575 Core Data: Update storage usage in DataStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/DataStore.swift
Labels: type: task, feature: core

#14596 [TTPReq] Education: Accept contactless payments with only an iPhone
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepsFactory.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/tap-to-pay-education-intro-gb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/tap-to-pay-education-intro-gb.imageset/tap-to-pay-education-intro-gb.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/tap-to-pay-education-intro-us.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/tap-to-pay-education-intro-us.imageset/tap-to-pay-education-intro-us.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: mobile payments

#14552 Core Data: Update storage usage in CustomerStore
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Stores/CustomerStore.swift
Labels: type: task, feature: order details

#14574 Core Data: Update storage usage in InboxNoteStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/InboxNotesStore.swift
Labels: type: task, category: inbox

#14576 Core Data: Update storage usage in AddOnGroupStore
  RELEASE-NOTES.txt
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Yosemite/Yosemite/Stores/AddOnGroupStore.swift
Labels: type: task, feature: order details

#14595 Product: Migrate media library endpoint to wp/v2 to support sites without XMLRPC
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  Networking/NetworkingTests/Responses/media-library-from-wordpress-site.json
  Networking/NetworkingTests/Responses/media-library.json
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: task, feature: add/edit products

#14604 Product: Migrate product ID update for media endpoint
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
  Yosemite/YosemiteTests/Stores/MediaStoreTests.swift
Labels: type: task, feature: add/edit products

#14572 Core Data: Migrate storage usage in OrderNoteStore
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/OrderNoteStore.swift
Labels: type: task, feature: order details

#14625 [Shipping labels] Sort carriers from response to keep the previous order in UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
Labels: feature: shipping labels

#14605 [TTPReq] Remaining Education Steps for US and UK
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/PaymentSettingsFlowHint.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepsFactory.swift
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Apple Pay/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Apple Pay/tap-to-pay-education-apple-pay-gb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Apple Pay/tap-to-pay-education-apple-pay-gb.imageset/tap-to-pay-education-apple-pay-gb.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Apple Pay/tap-to-pay-education-apple-pay-us.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Apple Pay/tap-to-pay-education-apple-pay-us.imageset/tap-to-pay-education-apple-pay-us.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Contactless Cards/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Contactless Cards/tap-to-pay-education-contactless-cards-gb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Contactless Cards/tap-to-pay-education-contactless-cards-gb.imageset/tap-to-pay-education-contactless-cards-gb.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Contactless Cards/tap-to-pay-education-contactless-cards-us.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Contactless Cards/tap-to-pay-education-contactless-cards-us.imageset/tap-to-pay-education-contactless-cards-us.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Fallback Payment Method/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Fallback Payment Method/tap-to-pay-education-fallback-payment-method-gb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Fallback Payment Method/tap-to-pay-education-fallback-payment-method-gb.imageset/tap-to-pay-education-fallback-payment-method-gb-dark.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Fallback Payment Method/tap-to-pay-education-fallback-payment-method-gb.imageset/tap-to-pay-education-fallback-payment-method-gb-light.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Intro/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Intro/tap-to-pay-education-intro-gb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Intro/tap-to-pay-education-intro-gb.imageset/tap-to-pay-education-intro-gb.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Intro/tap-to-pay-education-intro-us.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/Intro/tap-to-pay-education-intro-us.imageset/tap-to-pay-education-intro-us.pdf
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/PIN/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/PIN/tap-to-pay-education-pin-gb.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/Tap to Pay Education/PIN/tap-to-pay-education-pin-gb.imageset/tap-to-pay-education-pin-gb.pdf
Labels: type: task, feature: mobile payments

#14622 [Woo POS] Move payment buttons rendering to success view
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#14619 [Order Creation] Improve custom amount type sheet
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/CurrencySettingsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSectionViewModelTests.swift
  WooFoundation/WooFoundation/Currency/CurrencySettings.swift
Labels: type: bug, feature: order creation

#14621 [TTPReq] TTP Awareness moment modal
  WooCommerce/Classes/Destinations/PaymentsMenuDestination.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayAwarenessMomentDeterminer.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayAwarenessMomentView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayAwarenessMomentDeterminerTests.swift
Labels: type: task, feature: mobile payments

#14615 Core Data: Update transformable attribute type to NSArray
  RELEASE-NOTES.txt
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 118.xcdatamodel/contents
  docs/STORAGE.md
Labels: type: task, category: architecture

#14577 Core Data: Migrate storage usage for NotifcationStore
  RELEASE-NOTES.txt
  WooCommerce/WooCommerceTests/Model/MarkOrderAsReadUseCaseTests.swift
  Yosemite/Yosemite/Stores/NotificationStore.swift
  Yosemite/YosemiteTests/Stores/NotificationStoreTests.swift
Labels: type: task, feature: notifications

#14587 [Woo POS] [Cash & Receipts] Disallow sending receipt and show toast when WC version is not eligible
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/POSReceiptEligibilityBanner.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#14635 [Shipping Labels] Add selected package and shipment weight to main Woo Shipping screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageOptionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14578 TopTabView updates
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
Labels: type: enhancement

#14580 [TTPReq] Integrate Education steps after Terms of Service are accepted
  Hardware/Hardware/CardReader/CardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/NoOpCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderMerchantEducationPresenter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayEducationViewModelTests.swift
  Yosemite/Yosemite/Actions/CardPresentPaymentAction.swift
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: type: task, feature: mobile payments

#14612 Support UK/GBP country/currency in POS
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
Labels: feature: POS

#14639 [Woo POS][Cash & Receipts] Adapt send receipt modal to full screen
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptModalView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#14647 [Shipping labels] Set weight and dimension units as environment values
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageOptionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14655 [Shipping labels] Update boxWeight coding to use box_weight for custom packages
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/WooShippingCustomPackage.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-create-package-success.json
  Networking/NetworkingTests/Responses/wooshipping-get-packages-success.json
Labels: feature: shipping labels

#14634 Use revenueCompact to show revenue compact amount in widgets
  RELEASE-NOTES.txt
  WooCommerce/StoreWidgets/Homescreen/StoreInfoView.swift
  WooCommerce/StoreWidgets/Lockscreen/StoreInfoCircularWidget.swift
  WooCommerce/StoreWidgets/Lockscreen/StoreInfoInlineWidget.swift
  WooCommerce/StoreWidgets/Lockscreen/StoreInfoRectangularWidget.swift
Labels: type: bug, feature: widgets

#14650 [Woo POS] Integrate "include_types" backend API changes for POS Products API call
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleProductService.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#14643 [Woo POS] Fix cart header having a white background when scrolling up the list in dark mode
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSBottomShadowViewModifier.swift
Labels: type: bug, feature: POS

#14651 [Woo POS] [Cash & Receipts] Handle errors when sending receipts
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
Labels: type: task, feature: POS

#14645 [Brand Updats] Update color palette
  WooCommerce/Classes/ViewRelated/LaunchScreen.storyboard
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple0.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple10.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple100.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple20.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple30.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple40.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple5.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple50.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple60.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple70.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple80.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple90.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: type: enhancement, category: design

#14660 Location pre-alert view for TTP payments
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/Tools/Location/LocationService.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalLocationPreAlert.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalLocationRequired.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/Resources/Images.xcassets/card-reader-location-permission.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-location-permission.imageset/card-reader-location-permission.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Tools/LocationServiceTests.swift
Labels: type: task, feature: mobile payments

#14657 [Shipping labels] Ensure consistent ordering of carrier packages
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingPackagesResponse.swift
Labels: feature: shipping labels

#14654 Blaze: Track when AI suggestion fails in campaign creation form
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task, category: tracks, feature: Blaze

#14659 [Brand Updates] Update app icon and splash screen logo
  WooCommerce/Classes/ViewRelated/LaunchScreen.storyboard
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
  WooCommerce/Resources/Assets.xcassets/LaunchLogo.imageset/Contents.json
  WooCommerce/Resources/Assets.xcassets/LaunchLogo.imageset/woo-icon-120x120.pdf
  WooCommerce/Resources/Assets.xcassets/LaunchLogo.imageset/woo-icon.pdf
  WooCommerce/Woo Watch App/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
Labels: type: enhancement, category: design

#14633 Remove reveal animation from orders list
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: type: bug, feature: order list

#14673 [Tooling] Update GitHub Actions
  .github/workflows/screenshots.yml
Labels: category: tooling

#14672 Location pre-alert view for card reader payments
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/Mocks/MockLocationService.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
Labels: type: task, feature: mobile payments

#14681 [TTPReq] Allow trying another payment method after PIN required error
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalErrorEmailSent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalErrorWithoutEmail.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalNonRetryableError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalNonRetryableErrorEmailSent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalNonRetryableErrorWithoutEmail.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
Labels: type: task, feature: mobile payments

#14686 [Woo POS] [Variable Products] Networking layer support to load variations for POS
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
Labels: type: task, feature: POS

#14663 [Woo POS][Cash & Receipts] Delegate receipt logic out of aggregate model
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockReceiptService.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/Yosemite/Tools/POS/POSReceiptService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrdersRemote.swift
  Yosemite/YosemiteTests/Mocks/MockPOSReceiptsRemote.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
  Yosemite/YosemiteTests/Tools/POS/POSReceiptServiceTests.swift
Labels: type: task, feature: POS

#14677 [Woo POS] [Cash & Receipts] Update receipt navigation and buttons (i2)
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-success-check.imageset/pos-success-check.pdf
Labels: type: task, feature: POS

#14661 Google Ads: Show campaign list from hub menu if there are existing campaigns
  RELEASE-NOTES.txt
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockBlazeEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: bug, feature: google-ads-campaigns

#14678 Double loading indicator on saved package list
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
Labels: type: bug, feature: shipping labels

#14687 [Shipping labels] Update networking layer to prepare for caching packages response
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Mapper/WooShippingPackagesMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/Predefined package/WooShippingPredefinedOption.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingPackagesResponse.swift
  Networking/Networking/Remote/WooShippingRemote.swift
Labels: feature: shipping labels

#14704 [TTPReq] Tracking
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Tools/Location/LocationService.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderMerchantEducationPresenter.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionAnalyticsTracker.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayAwarenessMomentView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentReceiptEmailCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptEmail/ReceiptEmailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptEmail/ReceiptEmailViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockLocationService.swift
  WooCommerce/WooCommerceTests/Tools/LocationServiceTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEmailViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayEducationViewModelTests.swift
Labels: type: task, feature: mobile payments, category: tracks

#14688 [Shipping labels] Add packages response to Storage layer (Core Data)
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 119.xcdatamodel/contents
  Storage/Storage/Model/WooShippingCarrierPredefinedOptions+CoreDataClass.swift
  Storage/Storage/Model/WooShippingCarrierPredefinedOptions+CoreDataProperties.swift
  Storage/Storage/Model/WooShippingCustomPackage+CoreDataClass.swift
  Storage/Storage/Model/WooShippingCustomPackage+CoreDataProperties.swift
  Storage/Storage/Model/WooShippingPackagesResponse+CoreDataClass.swift
  Storage/Storage/Model/WooShippingPackagesResponse+CoreDataProperties.swift
  Storage/Storage/Model/WooShippingPredefinedOption+CoreDataClass.swift
  Storage/Storage/Model/WooShippingPredefinedOption+CoreDataProperties.swift
  Storage/Storage/Model/WooShippingPredefinedPackage+CoreDataClass.swift
  Storage/Storage/Model/WooShippingPredefinedPackage+CoreDataProperties.swift
  Storage/Storage/Model/WooShippingSavedPredefinedPackage+CoreDataClass.swift
  Storage/Storage/Model/WooShippingSavedPredefinedPackage+CoreDataProperties.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: feature: shipping labels

#14718 [Woo POS] [Variable products] Add POSItem enum for product types
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewHelperTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSSimpleProduct.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleProductService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrderableItem.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
  Yosemite/YosemiteTests/Tools/POS/POSCartItemTests.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: task, feature: POS

#14675 Reviews: Add workaround to reload last selected row
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: bug, feature: review list

#14717 Move Tap to Pay to be the first payment method
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
Labels: type: task, feature: mobile payments

#14664 Core Data: Prevent crash for non-optional attributes without default values
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelRefundStatus.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelStatus.swift
  RELEASE-NOTES.txt
  Storage/Storage/Model/ProductVariation+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabel+CoreDataProperties.swift
  Storage/Storage/Model/ShippingLabelRefund+CoreDataProperties.swift
  Storage/Storage/Model/WCPayCharge+CoreDataProperties.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductImage+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ProductVariation+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabel+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/ShippingLabelRefund+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WCPayCharge+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Model/Extensions/ReadOnlyConvertibleTests.swift
  docs/STORAGE.md
Labels: type: task, feature: product details, feature: product list, feature: shipping labels, feature: mobile payments

#14722 Fix tests after WooShippingPackagesResponse model properties changed
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
Labels: category: unit tests, feature: shipping labels

#14690 [Shipping labels] Upsert packages response after fetching from remote
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/WooShippingCarrierPredefinedOptions+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WooShippingCustomPackage+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WooShippingPackagesResponse+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WooShippingPredefinedOption+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WooShippingPredefinedPackage+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Model/Storage/WooShippingSavedPredefinedPackage+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14721 [Shipping label] Improve selected package view for unsaved custom package
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageOptionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
Labels: feature: shipping labels

#14710 [Shipping labels] Upsert create packages response after saving packages remotely
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14706 Store picker: Add edit button to show/hide sites
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/StorePickerViewModelTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
Labels: feature: hub menu

#14712 [Product Global Unique Identifier] Refine Barcode Scanner Search
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task, feature: product details

#14708 Store Picker: Add UI for new screen to edit store list
  Networking/Networking/Model/Site.swift
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListView.swift
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListViewModel.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SelectableItemRow.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/EditStoreListViewModelTests.swift
Labels: type: task, feature: hub menu

#14716 Disable failed email receipts for Stripe Extension
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: type: task, feature: mobile payments

#14714 [Brand Updates] Update the Jetpack connection screens
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/JetpackInstallHeaderView.swift
  WooCommerce/Resources/Images.xcassets/woo-empty-store-picker.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-empty-store-picker.imageset/Empty store picker - dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-store-picker.imageset/Empty store picker - light.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-store-picker.imageset/woo-empty-store-picker-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-empty-store-picker.imageset/woo-empty-store-picker-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-connection.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-jetpack-connection.imageset/Frame 1000004600.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-connection.imageset/woo-jetpack-connection.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-connection.imageset/woo-jetpack-connection–dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-connection.imageset/woo-jetpack-connection–light.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup-interrupted.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup-interrupted.imageset/Frame 1000004597(1).pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup-interrupted.imageset/Frame 1000004597.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup-interrupted.imageset/woo-jetpack-setup-interrupted-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup-interrupted.imageset/woo-jetpack-setup-interrupted-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup.imageset/Frame 1000004600(1).pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup.imageset/woo-jetpack-setup-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup.imageset/woo-jetpack-setup-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup.imageset/woo-jetpack-setup.pdf
  WooCommerce/Resources/Images.xcassets/woo-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-logo.imageset/woo-logo.pdf
Labels: type: enhancement, category: design

#14728 [Woo POS] [Variable Products] Use pagination headers for loading products
  Networking/Networking/Network/AlamofireNetwork.swift
  Networking/Networking/Network/MockNetwork.swift
  Networking/Networking/Network/Network.swift
  Networking/Networking/Network/NullNetwork.swift
  Networking/Networking/Network/WordPressOrgNetwork.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/Tools/InfiniteScroll/AsyncPaginationTracker.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleProductService.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: task, feature: POS

#14653 [Shipping labels] Update collapsed bottom sheet UI in landscape
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
Labels: feature: shipping labels

#14711 [Shipping labels] Use stored packages in Woo Shipping package selection
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14713 [Shipping labels] Edit selected package
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
Labels: feature: shipping labels

#14731 [TTPReq] Update RELEASE-NOTES
  RELEASE-NOTES.txt
Labels: type: task, feature: mobile payments

#14727 [Woo POS] Split container and list states with new pagination
  Fakes/Fakes/Fake.swift
  Fakes/Fakes/Yosemite.generated.swift
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/ItemsContainerState.swift
  WooCommerce/Classes/POS/Models/ItemsStackState.swift
  WooCommerce/Classes/POS/Models/ItemsViewState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/Tools/InfiniteScroll/AsyncPaginationTracker.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  Yosemite/Yosemite/Model/Copiable/Models+Copiable.generated.swift
  Yosemite/Yosemite/PointOfSale/POSSimpleProduct.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
Labels: type: task, feature: POS

#14729 Add customs row in WooShippingCreateLabelsView
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustoms.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#14726 [Shipping Labels] Custom package weight sometimes as box_weight sometimes as boxWeight
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/WooShippingCustomPackage.swift
Labels: feature: shipping labels

#14742 Craft release notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task

#14741 [Shipping labels] Scroll to selected package in packages list
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
Labels: feature: shipping labels

#14747 [TTPReq] Improvements to TTP Awareness Moment modal presentation logic
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayAwarenessMomentDeterminer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayAwarenessMomentDeterminerTests.swift
Labels: type: enhancement, feature: mobile payments

#14752 [Revamp Shipping Labels] Customs Form Part 1
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#14733 [Shipping Labels] Make loadPackages async
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14720 Store Picker: Handle saving hidden stores
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListViewModel.swift
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/UserDefaults+EditStoreList.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewModel.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/EditStoreListViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/StorePickerViewModelTests.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
Labels: type: task, feature: hub menu

#14730 Integerate notification settings endpoint to disable notifications for hidden stores
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/NotificationSettings.swift
  Networking/Networking/Remote/AccountRemote.swift
  Networking/NetworkingTests/Remote/AccountRemoteTests.swift
  Networking/NetworkingTests/Responses/notification-settings.json
  Yosemite/Yosemite/Actions/AccountAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AccountStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockAccountRemote.swift
  Yosemite/YosemiteTests/Stores/AccountStoreTests.swift
Labels: type: task, feature: notifications

#14754 Update PR template file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: enhancement

#14750 [Woo POS] [Variable Products] Add sub list hierarchy to the items controller
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemsStackState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
Labels: type: task, feature: POS

#14757 [Brand Updates] Update more payments related illustrations
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connect.imageset/card-reader-connect.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/card-reader-found-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/card-reader-found-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/card-reader-found.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning.pdf
  WooCommerce/Resources/Images.xcassets/woo-celebration.imageset/img-celebration-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-celebration.imageset/img-celebration-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/payments-cards-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/payments-cards-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/woo-payments-card-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/woo-payments-card-light.pdf
Labels: type: enhancement, category: design

#14738 Store Picker: Update notification settings upon saving store list
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListView.swift
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListViewModel.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/WooCommerceTests/Authentication/EditStoreListViewModelTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
Labels: type: task, feature: notifications

#14765 [Brand Updates] Update promo screenshots colors
  fastlane/screenshots.json
Labels: type: enhancement, category: screenshots

#14768 [Brand Updates] Update app icon used in widgets
  WooCommerce/StoreWidgets/Homescreen/StoreInfoView.swift
  WooCommerce/StoreWidgets/Images.xcassets/woo-logo.imageset/Contents.json
  WooCommerce/StoreWidgets/Images.xcassets/woo-logo.imageset/woo-logo-white.pdf
  WooCommerce/StoreWidgets/Images.xcassets/woo-logo.imageset/woo-logo.pdf
  WooCommerce/StoreWidgets/Images.xcassets/woo-mini-logo.imageset/woo-mini-logo.pdf
Labels: type: enhancement, category: design

#14758 Update Tap to Pay contactless limit description for the UK
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayContactlessLimitViewModelTests.swift
Labels: type: enhancement, feature: mobile payments

#14689 [Shipping Labels] Get origin address
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingOriginAddressesMapper.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingOriginAddress.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-get-origin-addresses-success.json
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14767 [UI Tests] - Add ensure_devices_found parameter to fastlane scan
  WooCommerce/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
  fastlane/Fastfile
Labels: type: task, category: ui tests
