Repository woocommerce/woocommerce-ios, pull requests merged in 2024-08, with the labels that each got.

#13469 Fixes displaying timestamp in the orders list
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: feature: Background Updates

#13463 [Woo POS] M2: Cart Animation
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13467 Updated Product `password` field in Yosemite layer
  Networking/NetworkingTests/Responses/product-update.json
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/ProductStoreTests.swift
Labels: type: task, feature: REST API

#13462 [Woo POS] M2: Processing Payment UI update (no animation)
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSBackgroundAppearanceKey.swift
  WooCommerce/Classes/POS/Presentation/Toolbar/POSToolbarView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13466 Issue/13175 update connection alerts to pos designs
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleReaderConnectionModalLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/pos-reader-connection-connecting.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/pos-reader-connection-connecting@2x.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/pos-reader-connection-connecting@3x.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/pos-reader-connection-do-you-want-to-connect.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/pos-reader-connection-do-you-want-to-connect@2x.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/pos-reader-connection-do-you-want-to-connect@3x.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-scanning.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-scanning.imageset/pos-reader-connection-scanning.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-scanning.imageset/pos-reader-connection-scanning@2x.png
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-scanning.imageset/pos-reader-connection-scanning@3x.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13484 Update instructions in release-notes
  RELEASE-NOTES.txt
Labels: category: tooling

#13464 Fix large text in Barcode scanner
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ProductSKUInputScannerViewController.swift
Labels: type: bug, category: accessibility, feature: product list

#13492 Update release notes for 19.8
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13491 [Payments] Fix custom payment block on iPadOS16 using navigationPath to show payment methods
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
Labels: type: bug, feature: mobile payments

#13506 Add missing tracking events for custom range on stats dashboard cards
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
Labels: type: bug, feature: stats, category: tracks

#13503 [Woo POS] Add eligibility criteria to POS items
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/products-load-all-for-eligibility-criteria.json
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: task, feature: POS

#13507 Feature flag for Orders and Products Custom Fields view/edit
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task

#13511 Hot Fix: Fix Watch App with Application Passwords
  Networking/Networking/ApplicationPassword/ApplicationPasswordStorage.swift
  Networking/Networking/Model/ApplicationPassword/ApplicationPassword.swift
  Networking/Networking/Network/AlamofireNetwork.swift
  WooCommerce/Classes/System/WatchDependencies.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
Labels: feature: apple watch

#13505 [Woo POS] Reader not connected in checkout view
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentLayout.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPrimaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13508 [Woo POS] Make floating `Connect your reader` button start payment when tapped in checkout
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/POSOrderPreviewService.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13488 Update PR template to encourage unit testing
  .github/PULL_REQUEST_TEMPLATE.md
Labels: category: tooling

#13465 [Woo POS] M2: Animate transition between 'Ready for Payment' and 'Payment Processing' states
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13518 [Prologue] Reinstate Starting a new store webview hotfix
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: type: bug, feature: login

#13520 hotfix/19.7.1 branch into release/19.7.1
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: type: bug, priority: high

#13519 [Custom Fields] Entry point design in product details
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormSection+ReusableTableRow.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: task

#13522 [Woo POS] Remove private products from POS scope
  Networking/Networking/Remote/ProductsRemote.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: task, feature: POS

#13531 Update Ruby Gems
  Gemfile.lock
  Podfile.lock
Labels: category: tooling

#13523 Blaze: Update budget screen UI to support evergreen campaign creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task, status: feature-flagged, feature: Blaze

#13510 [Woo POS] Hide Simple Products banner permanently once dismissed
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
Labels: type: task, feature: POS

#13527 [Woo POS] Fix `Add More` payment race condition
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13500 Blaze: Update eligibility check to enable Blaze for JCP sites with the Blaze plugin
  Networking/Networking/Model/SystemPlugin.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/Blaze/BlazeEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockBlazeEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEligibilityCheckerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
Labels: type: task, feature: Blaze

#13529 MediaPicker: Add a way to load images for specific product ID
  Networking/Networking/Remote/MediaRemote.swift
  Networking/NetworkingTests/Remote/MediaRemoteTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockMediaStoresManager.swift
  Yosemite/Yosemite/Actions/MediaAction.swift
  Yosemite/Yosemite/Stores/MediaStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMediaRemote.swift
Labels: type: task, feature: add/edit products

#13528 [Woo POS] M2: Payment success UI update
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-new-transaction-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-new-transaction-icon.imageset/pos_new_transaction_icon.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-payment-successful.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-payment-successful.imageset/pos_payment_successful.pdf
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceEmerald20.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceEmerald40.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceEmerald5.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceEmerald60.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceEmerald80.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorStudio.swift
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: type: task, feature: POS

#13530 [Woo POS] M2: Exit POS modal presentation
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Utils/Font+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: POS

#13533 [Woo POS] Simple products information modal
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSButtonStyleConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPrimaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSecondaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/Font+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13541 [Woo POS] Open Create Order from Simple Payments modal
  RELEASE-NOTES.txt
  WooCommerce/Classes/App Intents/CreateOrderAppIntent.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Destinations/OrdersDestination.swift
  WooCommerce/Classes/JustInTimeMessages/UniversalLinkRouter+JustInTimeMessages.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/Universal Links/Routes/OrdersRoute.swift
  WooCommerce/Classes/Universal Links/UniversalLinkRouter.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Universal Links/Routes/OrdersRouteTests.swift
  WooCommerce/WooCommerceTests/Universal Links/UniversalLinkRouterTests.swift
Labels: type: task, feature: deep links, feature: POS

#13534 [Woo POS] M2 Error: Loading totals
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceAmber20.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceAmber40.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceAmber5.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceAmber60.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommerceAmber80.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorStudio.swift
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: type: task, feature: POS

#13545 Fix release note version for new universal link
  RELEASE-NOTES.txt
Labels: type: task

#13544 [Woo POS] M2: Fix extra padding appearing after removing the tab
  WooCommerce/Classes/AppDelegate.swift
Labels: feature: POS

#13547 Update release notes for 19.9
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13539 MediaPicker: New source to load media using product ID
  RELEASE-NOTES.txt
  WooCommerce/Classes/View Modifiers/View+MediaSourceActionSheet.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Media/WordPressMediaLibraryPickerViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/MediaPickingCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/WordPressMediaLibraryPickerDataSourceTests.swift
Labels: feature: add/edit products

#13540 Blaze: Option to select product media as ad image
  RELEASE-NOTES.txt
  WooCommerce/Classes/View Modifiers/View+MediaSourceActionSheet.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: feature: add/edit products

#13525 Blaze: Support evergreen campaign creation
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/CreateBlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Encoder/BlazeForecastedImpressionsInputEncoderTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
Labels: type: task, feature: Blaze

#13538 Blaze: Update campaign networking model with `isEvergreen` and `durationDays`
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListItemsMapperTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-list-success.json
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignListItem+ReadOnlyConvertible.swift
Labels: type: task, feature: Blaze

#13567 Settings: Fix store name update when authenticated without WPCom
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreName/StoreNameSetupViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreNameSetupViewModelTests.swift
  Yosemite/Yosemite/Actions/SiteAction.swift
  Yosemite/Yosemite/Stores/SiteStore.swift
  Yosemite/YosemiteTests/Stores/SiteStoreTests.swift
Labels: type: bug, feature: app settings

#13579 Settings: Fix SSR decode error for WPORG login request
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Page.swift
  Networking/NetworkingTests/Mapper/SystemStatusMapperTests.swift
  Networking/NetworkingTests/Responses/systemStatus-inconsistent-page-id-data-type.json
  RELEASE-NOTES.txt
Labels: type: bug, feature: support

#13568 Help & Support: Add check to only show SSR option if authenticated.
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
Labels: type: bug, feature: support

#13582 [Mobile Payments] Make plugin endpoints usable with site credentials
  Networking/Networking/Remote/SitePluginsRemote.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: mobile payments

#13576 [Woo POS] Payment error UI updates
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorXMark.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Font+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13586 [Woo POS] Throw error when fetch request fails
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: task, feature: POS

#13577 Subscriptions: Update logic for Report Subscription Issue button
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Upgrades/SubscriptionsView.swift
  WooCommerce/Classes/ViewRelated/Upgrades/UpgradesView.swift
Labels: type: bug, feature: hub menu, feature: subscriptions

#13587 Add activity indicator on top of authenticated web view
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticatedWebViewController.swift
Labels: type: enhancement

#13590 Unit tests for HelpAndSupportViewModel
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/HelpAndSupportViewModelTests.swift
Labels: type: task

#13594 [Products] Remove template option for product creation
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductCreation.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductCreationTypeCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommandTests.swift
Labels: feature: add/edit products, feature: products onboarding

#13578 [Woo POS] Payment error retry handling
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsRetryApproach.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/CardPresentPaymentRetryApproachTests.swift
Labels: type: task, feature: POS

#13598 Receipt print button unresponsive after first tap
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
Labels: type: bug, feature: order details

#13585 [Woo POS] Extract product header for reusability
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Utils/Font+WooCommercePOS.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13601 [Mobile Payments] Fix Contact Support link in Onboarding
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
Labels: type: bug, feature: mobile payments

#13600 [Mobile Payments] Fix try out tap to pay flow on ios 17
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
Labels: type: bug, feature: mobile payments

#13546 [Woo POS] M2 Error: Checking order
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13610 [Mobile Payments] Fix IPP Onboarding for early-stage WooPayments accounts
  Networking/Networking/Model/WCPayAccountStatusEnum.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardPresentPaymentsOnboardingUseCaseTests.swift
Labels: type: bug, feature: mobile payments

#13612 [Tooling] Reduce max Pull Request size, excluding tests
  Dangerfile
Labels: category: tooling

#13584 [Watch] Add Sentry Support
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Account.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/ServiceLocator/CrashLoggingStack.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/System/WatchDependencies.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/App/AppDelegate.swift
  WooCommerce/Woo Watch App/App/Crash/CrashLogging.swift
  WooCommerce/Woo Watch App/App/Crash/CrashLoggingDataProvider.swift
  WooCommerce/Woo Watch App/App/Crash/PerformanceTracking.swift
  WooCommerce/Woo Watch App/App/Crash/WatchCrashLoggingStack.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/Dependencies/Environment+Dependencies.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
Labels: feature: apple watch

#13593 Settings: Fix flickering title for system status report
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SystemStatusReport/SystemStatusReportView.swift
Labels: type: bug, feature: app settings

#13617 [Woo POS] Darker background for half-screen error views
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13611 [Woo POS] M2: Fonts and Dynamic Type on POS
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPrimaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSecondaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Font+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13606 [Mobile Payments] Decode decline codes correctly
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/DeclineReason.swift
  Hardware/Hardware/CardReader/StripeCardReader/DeclineReason+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/ShouldRetryStripeRefundAfterFailureDeterminer.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/HardwareTests/UnderlyingError+StripeTests.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: mobile payments

#13626 Log a case when order and store currencies mismatch for easier debugging
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
Labels: type: bug, feature: mobile payments

#13623 Login: Hide site credential login button when entering WPCom site address
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: bug, feature: login

#13620 Update Networking Model from "OrderMetaData" to "MetaData".
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/MetaData.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/OrderAttributionInfo.swift
  Networking/Networking/Model/Refund/OrderItemRefundMetaData.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Mapper/OrderMapperTests.swift
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: category: architecture

#13630 In-Person Payments: Whitelist `.failed` order status for card present eligibility
  Yosemite/Yosemite/Stores/Order/Order+CardPresentPayment.swift
  Yosemite/YosemiteTests/Stores/Order/Order+CardPresentPaymentTests.swift
Labels: type: task, feature: mobile payments

#13616 [Order form] Render tooltips over other order form content
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TooltipView.swift
Labels: feature: order creation

#13636 Update release notes for 20.0 release
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13628 [Woo POS] Payment error exit buttons
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyleTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13645 Inbox: Fix unreliable states for the inbox list from Hub Menu
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxViewModelTests.swift
Labels: type: bug, category: inbox

#13649 [Woo POS] Use SF symbols for icons
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-dismiss-products-banner.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-dismiss-products-banner.imageset/pos-dismiss-products-banner.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-exit.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-exit.imageset/pos-exit.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-get-support.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-get-support.imageset/pos-get-support.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-remove-cart-item.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-remove-cart-item.imageset/pos-remove-cart-item.pdf
Labels: type: task, feature: POS

#13652 [Orders] Fix text wrapping on name field in orders list
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.xib
Labels: feature: order list

#13631 [Woo POS] Add shimmering to `Cart` back button when order is syncing
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-cart-back.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-cart-back.imageset/pos-cart-back.pdf
Labels: type: task, feature: POS

#13608 Blaze: Add a new status suspended for campaigns
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
Labels: type: task, feature: Blaze

#13648 Dashboard: Fix workaround for stock card
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
Labels: type: bug

#13642 [Woo Payments] Improve Payment Capture Errors
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyleTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13661 POS: Fix compiler issues after merge
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: feature: POS

#13659 [Woo POS] M2: Get Support - open from menu
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13654 [Orders] Fix discard confirmation when exiting order creation without saving changes
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
Labels: feature: order creation

#13647 No discard confirmation when exiting product details
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/System/WooNavigationController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: bug

#13660 [Woo POS] M2 UI: Native Pull-to-refresh
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, feature: POS

#13655 [Woo POS] Dynamic type improvements
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorXMark.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/DynamicHStack.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: accessibility, feature: POS

#13666 [Design] Update to SF Symbols barcode scanner icon
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/GiftCardInputView.swift
Labels: category: design

#13605 Blaze: Update budget for evergreen campaigns
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/BlazeCampaignListItemCustomizationsTests.swift
Labels: type: task, feature: Blaze

#13621 Blaze: Display remaining budget for active campaigns
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/WooCommerceTests/Extensions/BlazeCampaignListItemCustomizationsTests.swift
Labels: type: enhancement, feature: Blaze

#13665 [Orders] Ensure last order item can be removed from stored order
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
Labels: feature: order creation

#13671 [Menu] Use tab container view controller for Hub Menu
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: crash, feature: hub menu

#13670 [Woo POS] Prevent foreground notices from showing in POS mode
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/ServiceLocator/PushNotesManager.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
Labels: type: task, feature: POS

#13639 Custom Fields: Prepare list view and viewmodel to be reusable
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsDetailsView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsViewModelTests.swift
Labels: feature: order details

#13656 [Woo POS] Voiceover improvements
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorXMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
Labels: type: task, feature: POS

#13683 Ensure sync timestamps are deleted when CoreData resets
  Storage/Storage/CoreData/CoreDataManager.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
Labels: feature: Background Updates

#13672 [Woo POS] Analytics: add item to cart event
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Mocks/MockAnalyticsPreview.swift
  WooFoundation/WooFoundation/Mocks/MockAnalyticsProviderPreview.swift
Labels: type: task, category: tracks, feature: POS

#13682 [Mobile Payments] Fix Tap to Pay connection after errors
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: bug, type: task, feature: mobile payments

#13673 [Woo POS] Offline banner
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSConnectivityView.swift
  WooCommerce/Classes/POS/Utils/Color+Inverted.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13694 [Woo POS] Simple products banner design update
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, feature: POS

#13707 [Woo POS] Design updates to item list and cart headers
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, feature: POS

#13697 [Hub Menu] Navigation from MainTab using code is fixed
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: type: bug, feature: hub menu

#13658 Blaze: Fix campaign creation on devices with non-Western Arabic number formatting system
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  RELEASE-NOTES.txt
Labels: type: bug

#13704 [Woo POS] Make reader alert types hashable and identifiable in preparation for posModal changes
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsModalButtonViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentScanningFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/CardPresentPaymentsModalButtonViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressAlertViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersAlertViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressAlertViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionAlertViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressAlertViewModelTests.swift
  WooCommerce/WooCommerceTests/Testing/XCTestCase+PropertyCount.swift
Labels: type: task, feature: POS

#13535 [Tooling] Release-on-CI automation improvements
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  fastlane/Fastfile
Labels: category: tooling

#13716 Update release_notes.txt for 20.1
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13718 Update release_notes.txt for 20.1 - fix typo
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13709 [Woo POS] Present `posModal` from root view to ensure full screen coverage
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalManager.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13710 [Woo POS] Make pos modals accessible
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
Labels: type: task, category: accessibility, feature: POS

#13675 Blaze: Integrate campaign objective endpoint
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/Blaze/BlazeCampaignObjectiveListMapper.swift
  Networking/Networking/Model/Blaze/BlazeCampaignObjective.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignObjectiveListMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaign-objectives.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: type: task, feature: Blaze

#13712 [Woo POS] M2: Dark mode support
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPrimaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSecondaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/StatSelectionBar.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
Labels: type: task, feature: POS

#13724 Blaze: Add new entity for campaign objective to persist fetched items
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Blaze/BlazeCampaignObjective+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeCampaignObjective+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 115.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: type: task, feature: Blaze

#13667 Partial swipe back gesture from product details removes the content
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: bug

#13714 Open orders when tapping orders part from home screen widget
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Universal Links/UniversalLinkRouter.swift
  WooCommerce/StoreWidgets/Homescreen/StoreInfoView.swift
Labels: type: enhancement

#13737 [Orders/Products] Allow swiping to dismiss if there are no changes to the filters
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
Labels: feature: order list, feature: product list

#13690 Hub Menu: Unify navigation to use navigation destination
  Networking/Networking/Model/Product/ProductReview.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  Yosemite/Yosemite/Stores/ProductReview/ProductReviewFromNoteParcel.swift
Labels: type: bug, feature: hub menu

#13725 [Woo POS] UI: Add shadows to Cart header
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSBottomShadowViewModifier.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13733 [Woo POS] Add missing font specifiers
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderConnectedView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13720 [Woo POS] Allow disconnect/select new reader in POS
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentFacade.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsConnectionControllerManager.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionViewModel.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSProgressViewStyle.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: mobile payments, feature: POS

#13739 [Mobile Payments] Improve punctuation of card payment errors
  Hardware/Hardware/CardReader/DeclineReason.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  RELEASE-NOTES.txt
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/CardReaderSettings/BluetoothCardReaderSettingsConnectedViewModelTests.swift
Labels: type: task, feature: mobile payments

#13740 [Woo POS] Update POS modal overlay/shadow to designs
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
Labels: type: task, feature: POS

#13741 [Woo POS] Add missing transitions: Unhappy payment path
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
Labels: type: task, feature: POS

#13728 Blaze: Update Yosemite to support syncing campaign objectives
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignObjective+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#13754 [Products] Remove product bundles feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductFormDataModel+ProductsTabProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ProductCreationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
Labels: feature: product details, feature: add/edit products

#13755 [Products] Remove composite products feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ProductCreationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
Labels: feature: product details, feature: add/edit products

#13756 [Orders] Remove read only gift cards feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: order details

#13744 [Woo POS] Set header layout constants into shared object
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderLayoutConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13752 [Woo POS] Add missing transitions to Totals View
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13749 [Woo POS] Add missing transitions to Cart
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentCaptureErrorMessageViewModelTests.swift
Labels: type: task, feature: POS

#13748 Blaze: Update budget screen UI
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task, feature: Blaze

#13761 Blaze: Show budget field on dashboard card
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
Labels: type: enhancement, feature: Blaze

#13757 [Products] Remove read-only min max quantities feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactory.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ProductCreationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductVariationFormActionsFactoryTests.swift
Labels: feature: product details, feature: add/edit products

#13764 Unit tests: Order Details - Edit Order
  Podfile
  Podfile.lock
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/TestingAppDelegate.swift
  WooCommerce/WooCommerceTests/Tools/MockOrders.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/EditOrderFormTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsViewControllerTests.swift
Labels: category: unit tests

#13758 [Tooling] Report an error when no milestone is set to a PR
  Dangerfile
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#13768 [Products] Remove unwanted characters in product price input based on currency settings
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Product+PriceSettingsViewModels.swift
Labels: feature: add/edit products

#13776 [Products] Support negative-priced products
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/UnitInputFormatter/PriceInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/Product+PriceSettingsViewModels.swift
  WooCommerce/WooCommerceTests/Tools/PriceInputFormatterTests.swift
Labels: feature: add/edit products

#13763 Blaze: Update tracking for evergreen campaign creation
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
Labels: type: task, category: tracks, feature: Blaze

#13726 [Hub menu] Fix disappearing titles and cleanup unused code
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Coupons/EnhancedCouponListView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewDetailView.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: bug

#13771 [Woo POS] Use x to close POS reader modals
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalCloseButton.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13772 [Woo POS] Use POS styles in reader connection modals
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
Labels: type: task, feature: POS

#13787 [Docs] Document the guidelines for updating translated strings
  docs/localization.md
Labels: category: i18n, type: documentation

#13773 [Woo POS] Make reader connection modal layout match designs
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleReaderConnectionModalLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
Labels: type: task, feature: POS

#13774 [Woo POS] Reader connection alert spacing and scrolling tweaks
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleReaderConnectionModalLayout.swift
Labels: type: task, feature: POS

#13775 [Woo POS] Improve multiple readers alert
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSTextButtonStyle.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13753 [Woo POS] Processing payment animation
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/WavesProgressViewStyle.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-processing-payment.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-processing-payment.imageset/pos_processing_payment.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13790 [Orders] Add feature flag for revamped shipping label creation flow for Woo Shipping extension
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: category: woo extensions, feature: shipping labels

#13777 [Woo POS] Add missing reader transitions
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
Labels: type: task, feature: POS

#13785 [Woo POS] Fix extra padding appearing after removing the tab
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: type: task, feature: POS

#13684 Blaze: Enable feature flag for evergreen campaign creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: Blaze

#13766 Fix irresponsive button when connecting to an existing site
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: type: bug

#13793 Adopt named block arguments in finalize_release lane
  fastlane/Fastfile
Labels: category: tooling

#13799 [Woo POS] Walkthrough code cleanup
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: enhancement, type: task, feature: POS

#13789 [Woo POS] Centring of views
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListFullscreenView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-magnifier-not-found.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-magnifier-not-found.imageset/pos-magnifier-not-found.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13792 Move testing libs from Cocoapods To SPM
  Podfile
  Podfile.lock
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Testing

#13802 [Woo POS] Add new items to the top of the cart
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
Labels: type: task, feature: POS
