Repository woocommerce/woocommerce-ios, pull requests merged in 2024-03, with the labels that each got.

#12158 [Tablet Products] Add margin or max width to product form and the main subpages
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Categories/ProductCategoryListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Price/ProductPriceSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.xib
Labels: type: enhancement, category: tablet, feature: product list

#12139 Remove an out of place comment from `Fastfile`
  fastlane/Fastfile
Labels: category: tooling

#12177 [Tablet Products] Fix product form showing large title when the product list shows large title in collapsed mode
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: bug, feature: product list

#12157 My Store Analytics: Fix missing stats for custom range
  Networking/Networking/Remote/OrderStatsRemoteV4.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeV4+UI.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: type: bug, feature: stats

#12181 [Tablet Products] Product form > shipping: apply cell margins to follow readable width similar to other settings screens
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Shipping Settings/ProductShippingSettingsViewController.swift
Labels: type: enhancement, category: tablet, feature: product details

#12173 Show alert when trying to exit the application password flow
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordAuthorizationWebViewController.swift
  WooCommerce/Classes/Extensions/UIAlertController+Helpers.swift
Labels: feature: login

#12184 [Analytics Hub] Simplify analytics card view layout in analytics hub
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
Labels: feature: analytics hub

#12185 Update CHANGELOG 17.6
  CHANGELOG.md
Labels: Releases

#12187 CI: Re-add configure_apply to Code Freeze pipeline
  .buildkite/release-pipelines/start-code-freeze.yml
Labels: category: tooling

#12123 Compose a user agent instead of using WKWebView
  Networking/Networking/Settings/UserAgent.swift
  Networking/NetworkingTests/Settings/UserAgentTests.swift
Labels: type: technical debt

#12174 My Store Analytics: Make time range bar visible to update custom range when data is not available
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardUI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v3/DeprecatedStatsDashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
Labels: type: enhancement, feature: stats

#12195 Reviews: Fix unreliable logic for review age
  WooCommerce/Classes/Model/ReviewAge.swift
  WooCommerce/WooCommerceTests/Tools/ReviewAgeTests.swift
Labels: type: bug, feature: review details

#12182 [Tablet Orders] Reset product selector when modal dismissed
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
Labels: type: task, category: tablet, feature: order creation

#12175 [Tablet Orders] Create order: Address design review items
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerNoteSection/CustomerNoteSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
Labels: category: tablet, feature: order creation

#12192 [Tablet Orders] Make `x` button `cancel`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
Labels: type: enhancement, category: tablet, feature: order creation

#12203 [Better Errors] Add M2 track events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordAuthorizationWebViewController.swift
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordTutorial.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
Labels: feature: login, category: tracks

#12034 Update coding guidelines
  README.md
  docs/switch-statements.md
Labels: type: documentation

#12100 [Order] Filter order list by customer
  Networking/Networking/Model/Customer.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+OrdersListFilter.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSelectorView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/OrderCustomerSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/Customer Filter/CustomerFilter+Analytics.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/CustomerSelector+Filter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListSyncActionUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Orders/CustomerFilter.swift
  Yosemite/Yosemite/Model/Orders/StoredOrderSettings.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrdersSettings.swift
Labels: feature: order list

#12198 [Blaze] Remove old endpoint usage
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/Blaze/BlazeCampaignListMapper.swift
  Networking/Networking/Model/Blaze/BlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-success.json
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Blaze/BlazeCampaign+CoreDataClass.swift
  Storage/Storage/Model/Blaze/BlazeCampaign+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 108.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaign+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: feature: Blaze

#12164 My Store Analytics: Custom Range UI for Visitors and Conversions
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsDataOrRedactedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsEmptyView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
Labels: feature: stats

#12197 [Tablet Orders] Stop toggling in the product selector
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductBundles/ConfigurableBundleItemViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductVariationSelectorViewModelTests.swift
Labels: type: task, category: tablet, feature: coupons, feature: order creation

#12201 [Tablet Orders] Open order search results in split view
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
Labels: type: enhancement, feature: order list, category: tablet, feature: order creation

#12196 My Store Analytics: Add events for custom range
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DashboardCustomRange.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/FilterTabBar/FilterTabBar.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
Labels: type: task, feature: stats, category: tracks

#12207 [Blaze] Update campaign status options
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
Labels: feature: Blaze

#12215 My Store Analytics: Display exact date of custom range and selected granularity
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
Labels: type: task, feature: stats

#12225 My Store Analytics: Update rules for fixed granularities in custom range tab
  Networking/Networking/Model/Stats/StatGranularity.swift
  Networking/Networking/Model/Stats/StatsGranularityV4.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Dashboard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeV4+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersPeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4ChartAxisHelper.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
Labels: type: task, feature: stats

#12216 [Tablet Orders] Enable side by side orders in dev builds
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AdaptiveModalContainer.swift
  WooCommerce/UITestsFoundation/Screens/Orders/AddProductScreen.swift
  WooCommerce/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
Labels: type: task, feature: order creation

#12125 Update Alamofire to v5
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking/ApplicationPassword/RequestProcessor.swift
  Networking/Networking/CookieNonce/CookieNonceAuthenticator.swift
  Networking/Networking/Network/AlamofireNetwork.swift
  Networking/Networking/Network/WordPressOrgNetwork.swift
  Networking/Networking/Requests/DotcomRequest.swift
  Networking/NetworkingTests/ApplicationPassword/RequestProcessorTests.swift
  Networking/NetworkingTests/Network/AlamofireNetworkTests.swift
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
Labels: type: technical debt

#12227 [Product images] Use `weak self` to access `productUIImageLoader`
  WooCommerce/Classes/Model/ReviewAge.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/WooCommerceTests/Tools/ReviewAgeTests.swift
Labels: feature: add/edit products

#12208 [Tablet Orders] Restore offline banner
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: task, feature: order list, category: tablet

#12230 [Better Error] Properly identify invalid credential errors
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordTutorialViewModel.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/SiteCredentialLoginUseCase.swift
Labels: feature: login

#12232 My Store Analytics: Remove hour granularity for site visit stats and calculate quantity manually
  Networking/Networking/Model/Stats/StatGranularity.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsPeriodViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Model/Enums/StatsTimeRangeTests.swift
Labels: type: task, feature: stats

#12235 What's New Announcement: Fix crash and layout issue
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/IconListItem.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ReportList.swift
  WooCommerce/Classes/ViewRelated/WhatsNew/WhatsNewHostingController.swift
Labels: type: bug, feature: app settings, type: crash

#12226 My Store Analytics: Custom range redacted view information
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/Classes/ViewRelated/Fancy Alerts/FancyAlertViewController+Stats.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
Labels: type: task, feature: stats

#12239 [Crash] Implicitly unwrapping an Optional value
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
Labels: type: crash

#12240 [Better Errors] Prepare for release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordAuthorizationWebViewController.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: login, feature: order list

#12243 My Store Analytics: Remove feature flag customRangeInMyStoreAnalytics
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsAndTopPerformersViewController.swift
Labels: type: task, feature: stats

#12217 [Order List] Scan barcode button is only announced as "Button" in voiceover
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/ProductInventorySettingsViewController.swift
Labels: type: bug, feature: order list, category: accessibility

#12246 [Tablet Orders] Enable side-by-side Order Creation feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, category: tablet, feature: order creation

#12253 [Crash] Implicitly unwrapping an Optional value – beta fix
  WooCommerce/Classes/ViewRelated/ReusableViews/EmptyStateViewController/EmptyStateViewController.swift
Labels: type: crash

#12237 [Analytics Hub] Refactor revenue card into separate view model
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCardProtocol.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/DeltaPercentage.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/RevenueReportCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/RevenueReportCardViewModelTests.swift
Labels: type: technical debt, feature: analytics hub

#12241 [Analytics Hub] Refactor sessions card into separate view model
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCardCurrentPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/SessionsReportCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/SessionsReportCardViewModelTests.swift
Labels: type: technical debt, feature: analytics hub

#12242 [Analytics Hub] Refactor products card view models
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/ProductsReportCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/ProductsReportCardViewModelTests.swift
Labels: type: technical debt, feature: analytics hub

#12245 Login: Detect invalid WP site address
  Podfile
  Podfile.lock
  WooCommerce/WooCommerceUITests/Mocks/mappings/sites/site_info_wordpress_com.json
Labels: type: bug, feature: login

#12218 [Design review] Show "Product" in the product form navigation bar title
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
Labels: type: enhancement, feature: product details

#12265 Update Dangermattic to 1.0.2
  Gemfile.lock
Labels: category: tooling

#12267 Attempted fix for crash on view controller with nil view when removing offline banner
  WooCommerce/Classes/System/WooNavigationController.swift
Labels: type: crash, feature: product list

#12281 HACK Week: Fix tablet UI issues
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAddParameterView.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponDetails/CouponDetails.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreName/StoreNameSetupView.swift
Labels: type: bug, feature: app settings, feature: coupons, feature: Blaze

#12283 HACK Week: Update navigation in Hub Menu to replace deprecated APIs
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: type: technical debt, feature: hub menu

#12275 Allow manual dismissal after firmware update. Add mandatory update cancel option.
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateProgress.swift
Labels: type: bug, type: task, feature: mobile payments

#12272 [HACK week] Move plugin list to SwiftUI and allow updating plugins in-app
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/PluginDetailsRowView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewController.xib
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Plugins/PluginListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/PluginDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/PluginListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Plugins/SitePluginListViewModelTests.swift
Labels: type: enhancement, feature: app settings

#12270 About screen add system images for accessory view
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/About/WooAboutScreenConfiguration.swift
Labels: type: enhancement

#11976 [Backend Receipts] Infer best printing paper size from web view page size
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Receipts/ReceiptViewController.swift
Labels: type: enhancement, feature: order details, feature: mobile payments

#12291 My Store Analytics: Move the granularity text below the x-axis on the custom range tab
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsGranularityV4+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StatsTimeRangeBarViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Stats v4/StoreStatsV4PeriodViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StatsTimeRangeBarViewModelTests.swift
Labels: type: enhancement, feature: stats

#12308 [Hub Menu] Update remote endpoint behavior for fetching wc-analytics customer data
  Networking/Networking/Remote/WCAnalyticsCustomerRemote.swift
  Networking/NetworkingTests/Remote/WCAnalyticsCustomerRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Search/Customer/CustomerSearchUICommandTests.swift
  Yosemite/Yosemite/Actions/CustomerAction.swift
  Yosemite/Yosemite/Stores/CustomerStore.swift
  Yosemite/YosemiteTests/Stores/CustomerStoreTests.swift
Labels: feature: hub menu

#12302 Blaze: Add new budget fields for campaign list item
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListItemsMapperTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-list-success.json
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignListItem+ReadOnlyConvertible.swift
Labels: type: task, feature: Blaze

#12304 Blaze: Update core data entity `BlazeCampaignListItem` with new budget attributes
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Blaze/BlazeCampaignListItem+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 109.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignListItem+ReadOnlyConvertible.swift
Labels: type: task, feature: Blaze

#12219 [Design review] Products tab: divider updates
  WooCommerce/Classes/Extensions/UINavigationBar+Appearance.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.xib
Labels: category: design

#12311 [Hub Menu] Customers: Add fields for Customers section to `WCAnalyticsCustomer` model
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/WCAnalyticsCustomer.swift
Labels: feature: hub menu

#12313 [Hub Menu] Customers: Add new storage entities for `WCAnalyticsCustomer` and search results
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WCAnalyticsCustomer+CoreDataClass.swift
  Storage/Storage/Model/WCAnalyticsCustomer+CoreDataProperties.swift
  Storage/Storage/Model/WCAnalyticsCustomerSearchResult+CoreDataClass.swift
  Storage/Storage/Model/WCAnalyticsCustomerSearchResult+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 110.xcdatamodel/contents
  Storage/StorageTests/CoreData/MigrationTests.swift
Labels: feature: hub menu

#12315 [Hub Menu] Customers: Add Yosemite support for loading and searching WCAnalyticsCustomers
  Networking/Networking/Remote/WCAnalyticsCustomerRemote.swift
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/CustomerAction.swift
  Yosemite/Yosemite/Model/Storage/WCAnalyticsCustomer+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/CustomerStore.swift
  Yosemite/YosemiteTests/Stores/CustomerStoreTests.swift
Labels: feature: hub menu

#12312 Add `Close` button to Plugins view
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/PluginDetailsRowView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
Labels: type: bug, type: task, feature: app settings

#12321 [Blaze] List and add payment methods
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazePaymentInfo.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazePaymentInfoMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-payment-info.json
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeAddPaymentMethodWebView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeAddPaymentMethodWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazePaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazePaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAddPaymentMethodWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazePaymentMethodsViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: feature: Blaze

#12322 Blaze: Update campaign creation request with the `budget` field
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  Networking/Networking/Model/Blaze/CreateBlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignListItem+ReadOnlyConvertible.swift
Labels: type: task, feature: Blaze

#12078 Stripe Terminal SDK update 3.3.1
  Fakes/Fakes/Hardware.generated.swift
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/CardBrand.swift
  Hardware/Hardware/CardReader/CardPresentTransactionDetails.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardBrand+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardPresentDetails+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentMethod+Stripe.swift
  Hardware/Hardware/CardReader/Wallet.swift
  Hardware/HardwareTests/AirPrintReceipt/ReceiptRendererTest.swift
  Hardware/HardwareTests/CardPresentDetailsTests.swift
  Hardware/HardwareTests/Mocks/MockStripeCardPresentDetails.swift
  Hardware/Resources/Card Icons/unionpay.svg
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/ReceiptActionCoordinatorTests.swift
Labels: type: enhancement

#12329 [Hub Menu] Customers: Add customers menu item behind a feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: feature: hub menu

#12332 [Hub Menu] Customers: Fixes for customer sync action
  Yosemite/Yosemite/Actions/CustomerAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/CustomerStore.swift
  Yosemite/YosemiteTests/Stores/CustomerStoreTests.swift
Labels: feature: hub menu

#12325 [Tablet Orders] Present notices across the AdaptiveModalContainer
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  Yosemite/Yosemite/Stores/ProductVariationStore.swift
Labels: type: task, category: tablet, feature: order creation

#12336 [Hub Menu] Customers: Unit tests for customer list view model
  WooCommerce/Classes/ViewRelated/Customers/CustomersListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Customers/CustomerListViewModelTests.swift
Labels: feature: hub menu

#12340 [Hub Menu] Customers: Fill in customer details screen with real details
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomersListView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Customers/CustomerDetailViewModelTests.swift
Labels: feature: hub menu

#12264 Home Screen quick actions
  RELEASE-NOTES.txt
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Resources/Images.xcassets/pages.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/pages.imageset/pages.pdf
  WooCommerce/Resources/Info.plist
  WooCommerce/Resources/en.lproj/InfoPlist.strings
Labels: type: enhancement

#12341 [Hub Menu] Customers: Add options to copy and send email in customer details
  WooCommerce/Classes/Extensions/String+Helpers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EmailView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: hub menu

#12343 [Hub Menu] Customers: Add search to customers list
  WooCommerce/Classes/ViewRelated/Customers/CustomersListView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomersListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Customers/CustomerListViewModelTests.swift
  Yosemite/Yosemite/Actions/CustomerAction.swift
  Yosemite/Yosemite/Stores/CustomerStore.swift
  Yosemite/YosemiteTests/Stores/CustomerStoreTests.swift
Labels: feature: hub menu

#12348 [Hub Menu] Customers: Add tracks events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomersListView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomersListViewModel.swift
Labels: category: tracks, feature: hub menu

#12349 [Hub Menu] Release Customers in hub menu
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: hub menu

#12330 Update Woo Purple color palette
  RELEASE-NOTES.txt
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple0.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple10.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple100.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple20.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple30.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple40.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple5.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple50.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple60.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple70.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple80.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/ColorPalette.xcassets/WooCommercePurple90.colorset/Contents.json
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: category: design

#12353 [Analytics Hub] Product Bundles: Add models for product bundle stats
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/ProductBundleStats.swift
  Networking/Networking/Model/Stats/ProductBundleStatsInterval.swift
  Networking/Networking/Model/Stats/ProductBundleStatsTotals.swift
  Networking/NetworkingTests/Responses/product-bundle-stats-without-data.json
  Networking/NetworkingTests/Responses/product-bundle-stats.json
Labels: feature: analytics hub

#12354 [Analytics Hub] Product Bundles: Add mapper and remote endpoint for product bundle stats
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ProductBundleStatsMapper.swift
  Networking/Networking/Remote/ProductBundleStatsRemote.swift
  Networking/NetworkingTests/Mapper/ProductBundleStatsMapperTests.swift
  Networking/NetworkingTests/Remote/ProductBundleStatsRemoteTests.swift
Labels: feature: analytics hub

#12351 Update the search keyboard to use a "Done" button
  WooCommerce/Classes/ViewRelated/Coupons/CouponSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomersListView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomerSection/CustomerSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelector/ProductListMultiSelectorSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
Labels: type: enhancement

#12358 [Analytics Hub] Product Bundles: Fetch top product bundles
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductBundleStatsRemote.swift
  Networking/NetworkingTests/Remote/ProductBundleStatsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-bundle-top-bundles.json
Labels: feature: analytics hub

#12359 [Analytics Hub] Product Bundles: Add Yosemite support for fetching product bundle analytics
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Stats/ProductsReportItem.swift
  Yosemite/Yosemite/Actions/StatsActionV4.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
  Yosemite/YosemiteTests/Stores/StatsStoreV4Tests.swift
Labels: feature: analytics hub

#12362 [Analytics Hub] Product Bundles: Add logic for displaying a product bundles card
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/AnalyticsCard.swift
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsCard+UI.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelProductListFilterTests.swift
Labels: feature: analytics hub

#12363 [Analytics Hub] Update Analytics Hub design with milestone 1 design feedback
  WooCommerce/Classes/Extensions/Date+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsProductCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsReportLink.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubTimeRangeSelectionTests.swift
Labels: feature: analytics hub

#12328 Remove Woo Express sign up from prologue screen
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Podfile
  Podfile.lock
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreCreation.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/AuthenticationConstants.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Extensions/WordPressAuthenticator+Woo.swift
Labels: type: task, feature: login, category: tracks

#12366 [Analytics Hub] Product Bundles: Add view model for bundles card
  WooCommerce/Classes/Model/ProductsReportItem+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsCTACard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsItemsSoldCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsReportCardProtocol.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/BundlesReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsLineChart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsReportLink.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsReportLinkViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsWebReport.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/DeltaPercentage.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/ProductsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsDataTextFormatter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Factories/StatsDataTextFormatterTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: analytics hub

#12368 [Analytics Hub] Product Bundles: Show bundles card in Analytics Hub
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12370 [Analytics Hub] Fix delta text color when percent change is 0%
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/DeltaPercentage.swift
Labels: feature: analytics hub

#12361 Blaze: Remove the stubbed response for campaign creation request and enabled the feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: feature: Blaze

#12372 [Better Errors] M1 Design adjustments
  WooCommerce/Classes/Extensions/Error+Timeout.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityToolViewModel.swift
  WooCommerce/Classes/ViewRelated/Top Banner/ErrorTopBannerFactory.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: category: performance

#12373 Better Erros: M2 design adjustments
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordTutorial.swift
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordTutorialViewModel.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
  WooCommerce/Resources/Images.xcassets/app-password-tutorial-1.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/app-password-tutorial-1.imageset/app-password-tutorial-1.png
  WooCommerce/Resources/Images.xcassets/app-password-tutorial-1.imageset/tutorial.pdf
  WooFoundation/WooFoundation/ViewModifiers/WooStyleModifiers.swift
Labels: feature: login

#12365 Product Form: Extra title on the product form causes the navigation bar to be cluttering in small screens
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: enhancement

#12369 [Order List] Speculative fix for crash on use of datasource
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
Labels: feature: order list, type: crash

#12380 [Analytics Hub] Show promo link in customize view for inactive extensions
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionReorderableList.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubCustomizeViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12383 [Analytics Hub] Show sessions card with error message when custom time range is selected
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsSessionsUnavailableCard.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: analytics hub

#12364 Products tab: fix infinite scroll not working after deleting a product from the list
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: type: bug, feature: product list
