Repository woocommerce/woocommerce-ios, pull requests merged in 2024-01, with the labels that each got.

#11574 Blaze: Sync target languages
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Storage/BlazeTargetLanguage+ReadonlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11584 [Blaze] Intro view image and copy update
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroView.swift
  WooCommerce/Resources/Images.xcassets/blaze-intro-illustration.imageset/blaze-intro-illustration.pdf
Labels: type: task, feature: Blaze

#11576 Blaze: Sync target topics and fetch target locations by query
  Storage/Storage/Tools/StorageType+Deletions.swift
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Storage/BlazeTargetTopic+ReadonlyConvertible.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11581 [Custom Amounts] Render edit button only if Custom Amounts row is editable
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/CustomAmountRowView.swift
Labels: type: bug, feature: order creation

#11583 [Blaze] Learn how to blaze sheet UI
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeLearnHowView.swift
  WooCommerce/Resources/Images.xcassets/blaze-intro-illustration.imageset/blaze-intro-illustration.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: Blaze

#11582 [Orders] Remove Order Creation feedback banner
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersTopBannerFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, feature: order creation

#11593 [Performance] Remove completed A/A tests
  Experiments/Experiments/ABTest.swift
Labels: category: performance

#11596 [Dashboard] Remove "Add Products To Sell" products onboarding banner from dashboard
  RELEASE-NOTES.txt
  Storage/Storage/Model/Feature Announcements/FeatureAnnouncementCampaign.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductCreation.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Feature Announcement Cards/ProductsOnboardingAnnouncementCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: feature: products onboarding

#11571 [Tablet Orders] Load and select first Order when Split View
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: type: task, feature: order creation

#11591 Blaze: UI for campaign creation form
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: Blaze

#11597 [Networking] Revert change to handle mapping in background thread
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/RemoteTests.swift
  WooCommerce/Classes/Extensions/Publisher+Concurrency.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Stores/ShipmentStoreTests.swift
Labels: type: crash

#11573 Blaze: Add remote endpoint for fetching Blaze forecasted impressions
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/BlazeImpressions.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Encoder/BlazeForecastedImpressionsInputEncoderTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: type: task, feature: Blaze

#11601 [Performance] Remove multiple API requests to sync Blaze campaigns
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
Labels: category: performance, feature: Blaze

#11606 [Performance] Include Blaze campaign syncing in waiting time tracker for app launch
  WooCommerce/Classes/Analytics/AppStartupWaitingTimeTracker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/System/AppStartupWaitingTimeTrackerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: category: performance, feature: Blaze

#11607 Add Order Extension Notification unit tests
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Note.swift
  Networking/Networking/Model/NoteBlock.swift
  Networking/Networking/Model/NoteRange.swift
  WooCommerce/NotificationExtension/OrderNotificationView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Notifications/OrderNotificationViewModelTests.swift
Labels: category: unit tests

#11605 Blaze: fetch Blaze forecasted impressions
  Networking/Networking/Model/BlazeImpressions.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11604 [Blaze] Edit Ad Screen UI
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdHostingController.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EditableImageView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: Blaze

#11600 Blaze: Add UI for budget setting screen
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: Blaze

#11610 [Bundle products in order] Show bundle configuration form after scanning a bundle product
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: bug, feature: order creation

#11612 [Blaze] Unit tests for Edit Ad view
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: task, feature: Blaze

#11617 [Blaze] Create campaign - Networking layer
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/CreateBlazeCampaignMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/CreateBlazeCampaign.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/CreateBlazeCampaignMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-create-campaign-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: type: task, feature: Blaze

#11620 [Blaze] Add Create campaign BlazeAction
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11624 Blaze: Remove code and iso code from target locations
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/BlazeTargetOptions.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeTargetOptionMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-target-locations.json
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11614 Blaze: Integrate fetching impressions on the budget setting screen
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Encoder/BlazeForecastedImpressionsInputEncoderTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: type: task, feature: Blaze

#11623 Blaze: Add time zone to estimated impression fetch request
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Encoder/BlazeForecastedImpressionsInputEncoderTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
Labels: type: task, feature: Blaze

#11627 Update header stack view spacing - fixes wrong separator padding in dashboard banner
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
Labels: type: bug, good first issue, category: design

#11626 Update CHANGELOG 16.8
  CHANGELOG.md
Labels: Releases

#11636 Merge final changes from 16.7 into `trunk`
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/commands/configure-environment.sh
  .buildkite/commands/configure-git-for-release-management.sh
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/BlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-success.json
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  Yosemite/Yosemite/Model/Storage/BlazeCampaign+ReadOnlyConvertible.swift
  config/Version.Public.xcconfig
  fastlane/metadata/copyright.txt
  fastlane/metadata/default/release_notes.txt
Labels: Releases

#11603 Remove `AnyView` property from `TopTabItem` while keeping it generic
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsDepositsOverviewView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
Labels: type: task, feature: mobile payments

#11625 Product selector: add single selection mode and simple selection handling mode, attempt 2.
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductListFilter.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/ProductSelector+Blaze.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task, feature: Blaze

#11638 Merge 16.8 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/Resources/AppStoreStrings.pot
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/Resources/release_notes.txt
  config/Version.Public.xcconfig
Labels: Releases

#11639 [Blaze] Add fetch AI suggestions `BlazeAction`
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: feature: Blaze

#11633 Blaze: Add picker view for target languages
  Networking/Networking/Model/Blaze/BlazeTargetOptions.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsTimeRangeCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ItemDetails/ShippingLabelCustomsFormItemDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ShippingLabelCustomsFormInput.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/SinglePackageHazmatDeclaration.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/ShippingLabelCustomPackageForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/SingleSelectionList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetLanguagePickerViewModelTests.swift
Labels: type: task, feature: Blaze

#11647 Blaze: Add device picker for campaign creation
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetDeviceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetLanguagePickerViewModelTests.swift
Labels: type: task, feature: Blaze

#11646 [Product Creation AI] Update Survey
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyConfirmationView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyUseCase.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAISurveyUseCaseTests.swift
Labels: type: task, feature: add/edit products

#11634 Blaze: Part 1 of Blaze Ad Destination screen
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: Blaze

#11580 CI: Migrate from Intel to Apple Silicon
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  WooCommerce/WooCommerceTests/Extensions/DateWooTests.swift
Labels: category: tooling

#11352 Update Xcode version from 14.3.1 to 15.1 on CI
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .xcode-version
  Gemfile
  Gemfile.lock
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Mapper/CountryListMapperTests.swift
  Networking/NetworkingTests/Remote/DataRemoteTests.swift
  Networking/NetworkingTests/Responses/country-list.json
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/FreeTrialBannerViewModel.swift
  WooCommerce/UITestsFoundation/Screens/Login/PasswordScreen.swift
  WooCommerce/WooCommerceTests/Extensions/DateWooTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/FreeTrialBannerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ApplicationLogViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyCoordinatorControllerTests.swift
  WooCommerce/WooCommerceUITests/UITests.xctestplan
  Yosemite/YosemiteTests/Stores/DataStoreTests.swift
Labels: type: task

#11651 [Order Creation] Prevent line deletion via steppers
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductStepper.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductStepperViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductStepperViewModelTests.swift
Labels: type: task, feature: order creation

#11641 [Blaze] Edit Ad - Suggestion selection UI
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: task, feature: Blaze

#11656 [Mobile Payments] Track `country` and `currency` properties in `payments_flow` collect and completed events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
Labels: feature: mobile payments, category: analytics

#11645 Set order's customer ID from selecting a customer during order creation
  Networking/Networking/Model/WCAnalyticsCustomer.swift
  Networking/Networking/Remote/OrdersRemote.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: bug, feature: mobile payments, feature: order creation

#11657 Blaze: Add loading and error states for target device and language picker views
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ErrorStateView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetDeviceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetLanguagePickerViewModelTests.swift
Labels: type: task, feature: Blaze

#11658 [Blaze] Load suggestions & pass info to Edit Ad screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/EditableImageView.swift
  WooCommerce/Resources/Images.xcassets/blaze-product-placeholder.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/blaze-product-placeholder.imageset/blaze-product-placeholder.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11642 Blaze: Part 2 of Blaze Ad Destination screen (parameters handling)
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdUrlParameter.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAddParameterView.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAddParameterViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: Blaze

#11667 Blaze: Update mappers for target options and remove stubbed response
  Networking/Networking/Mapper/Blaze/BlazeTargetOptionMappers.swift
  Networking/NetworkingTests/Responses/blaze-target-devices.json
  Networking/NetworkingTests/Responses/blaze-target-languages.json
  Networking/NetworkingTests/Responses/blaze-target-locations.json
  Networking/NetworkingTests/Responses/blaze-target-topics.json
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11668 [Mobile Payments] Track `country` and `currency` properties in `payments_flow` failed and canceled events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
Labels: feature: mobile payments, category: analytics

#11621 [Tablet Orders] Update selected state design in Order List
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
Labels: type: task, feature: order list

#11672 Blaze: Add picker view for target topics
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazeTargetOptions.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeTargetOptionMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-target-topics.json
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetTopics/BlazeTargetTopicPickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetTopics/BlazeTargetTopicPickerViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetTopicPickerViewModelTests.swift
  Yosemite/Yosemite/Model/Storage/BlazeTargetTopic+ReadonlyConvertible.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11680 Blaze: Restore product ID and remove product URL for BlazeCampaign model
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-success.json
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaign+ReadOnlyConvertible.swift
Labels: type: task, feature: Blaze

#11673 [Order List] Fix iphone crash when Orders Split View flag is enabled
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/System/WooTabContainerController.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: enhancement, feature: order list, status: feature-flagged, feature: split view

#11682 [Blaze] Campaign form - Cover no product image case and add unit tests
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdHostingController.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  Yosemite/Yosemite/Actions/BlazeAction.swift
Labels: type: task, feature: Blaze

#11537 [Tooling] Move Danger to GitHub Actions
  .buildkite/commands/danger-pr-check.sh
  .buildkite/pipeline.yml
  .github/workflows/run-danger.yml
Labels: category: tooling

#11686 Update CHANGELOG 16.9
  CHANGELOG.md
Labels: Releases

#11664 Add support for Xcode 15.1 to `release/16.8`
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .xcode-version
  Gemfile
  Gemfile.lock
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Mapper/CountryListMapperTests.swift
  Networking/NetworkingTests/Remote/DataRemoteTests.swift
  Networking/NetworkingTests/Responses/country-list.json
  WooCommerce/Classes/ViewRelated/Dashboard/Free Trial/FreeTrialBannerViewModel.swift
  WooCommerce/UITestsFoundation/Screens/Login/PasswordScreen.swift
  WooCommerce/WooCommerceTests/Extensions/DateWooTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Free Trial/FreeTrialBannerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ApplicationLogViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyCoordinatorControllerTests.swift
  WooCommerce/WooCommerceUITests/UITests.xctestplan
  Yosemite/YosemiteTests/Stores/DataStoreTests.swift
Labels: category: tooling

#11663 Fastfile: Add hotfix version number check
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#11666 Lightweight storefront: Fix UI glitches
  WooCommerce/Classes/Authentication/Store Creation/Free Trial/FreeTrialSummaryView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Themes/ThemeSettingView.swift
Labels: type: bug

#11365 [HACK Week] Cash Payment Improvements
  RELEASE-NOTES.txt
  TestKit/Sources/TestKit/XCTestCase+Wait.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Amount/SimplePaymentsAmount.swift
  WooCommerce/UITestsFoundation/Screens/Payments/PaymentsScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
Labels: type: task, feature: mobile payments

#11691 [Tablet support] Use `defaultBackgroundConfiguration` for order list cell when available
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
Labels: type: task, feature: order list

#11694 [Analytics Hub] Hide sessions card for non-Jetpack stores
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: stats

#11689 [Tablet Orders] Update order list disclosure indicator
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListCellViewModelTests.swift
Labels: type: task, feature: order list

#11695 Fix weird animation on all products related menus
  WooCommerce/Classes/ViewRelated/BottomSheet/ListSelector/BottomSheetListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: bug

#11699 Blaze: Update Networking with an endpoint for fetching payment methods
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/Blaze/BlazePaymentInfoMapper.swift
  Networking/Networking/Model/Blaze/BlazePaymentInfo.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Mapper/BlazePaymentInfoMapperTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-payment-info.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
Labels: type: task, feature: Blaze

#11700 Blaze: Update Yosemite for fetching payment info
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: task, feature: Blaze

#11684 Blaze: Add picker for target locations
  Networking/Networking/Model/Blaze/BlazeTargetOptions.swift
  Networking/NetworkingTests/Mapper/BlazeTargetOptionMapperTests.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLocations/BlazeTargetLocationPickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLocations/BlazeTargetLocationPickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLocations/BlazeTargetLocationSearchView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetTopics/BlazeTargetTopicPickerView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
  WooCommerce/Resources/Images.xcassets/search-no-result.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/search-no-result.imageset/search-no-result.pdf
  WooCommerce/Resources/Images.xcassets/search.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/search.imageset/search.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: Blaze

#11692 Blaze: Add unit tests for target location picker
  WooCommerce/Classes/ViewRelated/Blaze/TargetLocations/BlazeTargetLocationPickerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetLocationPickerViewModelTests.swift
Labels: category: unit tests, feature: Blaze

#11716 [Blaze] Loading screen UI
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationLoadingView.swift
  WooCommerce/Resources/Images.xcassets/woo-hourglass.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-hourglass.imageset/woo-hourglass-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-hourglass.imageset/woo-hourglass-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: Blaze

#11715 [Order List] Update cell’s background configuration to `.listforeground`
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
Labels: type: bug, type: task, feature: order list

#11704 [Product List] Update selection colour to new design
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: category: design

#11690 [Mobile Payments] Pass gateway ID to existing IPP onboarding Tracks events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Extensions/CardPresentPaymentOnboardingState+Analytics.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCashOnDeliveryPaymentGatewayNotSetUpViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupported.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupportedStripe.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsLiveSiteInTestModeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsNoConnectionView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingError.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingErrorButtonViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotActivatedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotInstalledView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSupportedVersionView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountOverdueView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountPendingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAcountReviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeRejectedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsUnavailableView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Enums/CardPresentPaymentsOnboardingState.swift
Labels: feature: mobile payments, category: analytics

#11671 Blaze: Connect product selector view to "Create" button in Campaign List
  WooCommerce/Classes/Blaze/BlazeCreationEntryCoordinator.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task, feature: Blaze

#11714 [Tablet support] Add max width to order details
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.xib
Labels: type: task, feature: order list, category: tablet

#11711 Attempted alleviation of `ServiceLocator._stores.unsafeMutableAddressor` crash on app launch
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
Labels: type: crash

#11712 Blaze: Add payment info screen
  WooCommerce/Classes/Model/CreditCardType.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Model.swift
Labels: type: task, feature: Blaze

#11719 Blaze: Add error handling and unit test for fetching payment method on payment screen
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
Labels: type: task, feature: Blaze

#11723 Blaze: Create campaign from the payment screen
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11705 [Analytics Hub] Add remote request to enable Jetpack modules
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/JetpackConnectionRemote.swift
  Networking/Networking/Remote/JetpackSettingsRemote.swift
  Networking/NetworkingTests/Remote/JetpackConnectionRemoteTests.swift
  Networking/NetworkingTests/Remote/JetpackSettingsRemoteTests.swift
  Networking/NetworkingTests/Responses/jetpack-settings-invalid-module.json
  Networking/NetworkingTests/Responses/jetpack-settings-success.json
Labels: feature: stats

#11706 [Analytics Hub] Add Yosemite action to enable Jetpack modules
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/JetpackSettingsAction.swift
  Yosemite/Yosemite/Model/Enums/JetpackModule.swift
  Yosemite/Yosemite/Stores/JetpackSettingsStore.swift
  Yosemite/YosemiteTests/Stores/JetpackSettingsStoreTests.swift
Labels: feature: stats

#11732 Fix widgets on iOS 17
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/StoreWidgets/Homescreen/StoreInfoView.swift
  WooCommerce/StoreWidgets/Homescreen/View+ContainerBackground.swift
  WooCommerce/StoreWidgets/Lockscreen/AppLinkWidget.swift
  WooCommerce/StoreWidgets/Lockscreen/StoreInfoCircularWidget.swift
  WooCommerce/StoreWidgets/Lockscreen/StoreInfoInlineWidget.swift
  WooCommerce/StoreWidgets/Lockscreen/StoreInfoRectangularWidget.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: analytics, feature: widgets

#11734 Update WordPressKit to 11.0.0 and WordPressAuthenticator to 9.0.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/WordPressAuthenticator+Woo.swift
  WooCommerce/WooCommerceTests/Internal/WordPressAuthenticator+Internal.swift
Labels: type: enhancement

#11727 Blaze: Add error screen for campaign creation failure
  WooCommerce/Classes/Blaze/BlazeCreationEntryCoordinator.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeCampaignCreationErrorView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Resources/Images.xcassets/error-big-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/error-big-icon.imageset/error-big-icon.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: Blaze

#11725 Blaze: Allow campaign editing when image not loaded yet.
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task, feature: Blaze

#11708 [Analytics Hub] Add prompt to enable Jetpack Stats
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsCTACard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: stats

#11726 [Analytics Hub] Track analytics events for Jetpack Stats module CTA
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
Labels: feature: stats

#11728 [Blaze] Payment methods list screen
  Networking/Networking/Model/Blaze/BlazePaymentInfo.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazePaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazePaymentMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Internal/SessionManager+Internal.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazePaymentMethodsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Variations/Bulk Update/BulkUpdateViewModelTests.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11741 Fix Stat Widget on Woo Express stores
  WooCommerce/StoreWidgets/StoreInfoDataService.swift
Labels: feature: widgets

#11739 Updated CHANGELOG 17.0
  CHANGELOG.md
Labels: Releases

#11730 Blaze: Unit tests for BlazeCampaignCreationCoordinator
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task, feature: Blaze

#11703 Blaze: Connect Blaze Ad Destination with Blaze Campaign Form
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task, feature: Blaze

#11738 Blaze: Display new bottom sheet upon campaign creation success
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/CelebrationView.swift
  WooCommerce/Resources/Images.xcassets/blaze-success.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/blaze-success.imageset/blaze-success-dark.pdf
  WooCommerce/Resources/Images.xcassets/blaze-success.imageset/blaze-success.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
Labels: type: task, feature: Blaze

#11743 Blaze: Update dark mode color for intro view and campaign creation form
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Resources/Images.xcassets/blaze-intro-illustration.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/blaze-intro-illustration.imageset/illustraion.pdf
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerUploadAnswersUseCaseTests.swift
Labels: category: design, feature: Blaze

#11720 Update lock icon
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Edition/Banners/NonEditableOrderBanner.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: category: design

#11729 Select order when opening via deep link
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: task, feature: order list, feature: split view, feature: deep links

#11749 Blaze: Add support tag and handle result of support requests
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeCampaignCreationErrorView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportFormViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerUploadAnswersUseCaseTests.swift
Labels: type: task, feature: Blaze

#11731 [Orders] Enable Order tab Split View in dev builds
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
Labels: type: task, feature: order list, status: feature-flagged

#11754 [Blaze] Read new payment method ID from web view success URL
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeAddPaymentMethodWebView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeAddPaymentMethodWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazePaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazePaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethods.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AuthenticatedWebView.swift
  WooCommerce/Classes/ViewRelated/Upgrades/UpgradePlanCoordinatingController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAddPaymentMethodWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazePaymentMethodsViewModelTests.swift
Labels: type: task, feature: Blaze

#11771 [Blaze] Image missing alert
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: task, feature: Blaze

#11773 [Tablet Orders] Set max width on billing information
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/Cells/BillingAddressTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
Labels: type: task, feature: order details, feature: split view

#11765 Support form: Handle creating identity without UIKit
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeCampaignCreationErrorView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/HelpAndSupportViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/WooCommerceTests/Testing/MockZendeskManager.swift
  WooCommerce/WooCommerceTests/Tools/Support/SupportFormViewModelTests.swift
Labels: type: enhancement, feature: support

#11786 [Tablet Orders] Use grouped bg configuration in iOS15
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
Labels: type: task, feature: order list, feature: split view, iOS 15

#11779 Blaze: Remove stubbed response for forecasted impressions
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Encoder/BlazeForecastedImpressionsInputEncoderTests.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
Labels: type: task, feature: Blaze

#11783 Blaze: Fix state change warnings when editing ads
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: bug, feature: Blaze

#11797 [Blaze] Stop showing Blaze in dashboard when site not eligible
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: bug, feature: Blaze

#11798 Fix issue parsing system status report
  Networking/Networking/Model/SystemStatusDetails/SystemStatus+Theme.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: support

#11799 [Tablet orders] Fix deep-linked order overridden by the auto-selected first order
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: bug, feature: order list

#11802 [Order List] Use chevron.forward for custom disclosure for RTL languages
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListCellViewModelTests.swift
Labels: type: task, feature: order list, category: i18n

#11796 Blaze: Ad destination related unit tests
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAddParameterViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAdDestinationSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAddParameterViewModelTests.swift
Labels: type: task, feature: Blaze

#11772 Blaze: Synchronize products upon first login
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: type: task, feature: Blaze

#11806 [Blaze] Intro screen - Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCreateCampaignIntroViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task, feature: Blaze

#11814 [Blaze] Edit Ad screen - Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: task, feature: Blaze

#11813 [Tablet Orders] Fix both columns showing order details after quick navigation (up and down arrows in order details)
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: bug, feature: order details, feature: order list, category: tablet

#11815 [Tablet Orders] show shipping label flow modally
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Shipping Address Validation/ShippingLabelAddressFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Customs Form/PrintCustomsFormsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Shipping Label/PrintShippingLabelViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Reprint Shipping Label/PrintShippingLabelCoordinatorTests.swift
Labels: type: task, feature: shipping labels, feature: split view

#11753 Ensure that an order remains selected after the list filter is changed
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: bug

#11818 Enable split view orders in release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: order details, feature: order list, feature: split view

#11819 Update CHANGELOG 17.1
  CHANGELOG.md
Labels: Releases

#11822 Merge 17.0 final into trunk
  WooCommerce/Resources/ar.lproj/Localizable.strings
  WooCommerce/Resources/de.lproj/Localizable.strings
  WooCommerce/Resources/es.lproj/Localizable.strings
  WooCommerce/Resources/fr.lproj/Localizable.strings
  WooCommerce/Resources/he.lproj/Localizable.strings
  WooCommerce/Resources/id.lproj/Localizable.strings
  WooCommerce/Resources/it.lproj/Localizable.strings
  WooCommerce/Resources/ja.lproj/Localizable.strings
  WooCommerce/Resources/ko.lproj/Localizable.strings
  WooCommerce/Resources/nl.lproj/Localizable.strings
  WooCommerce/Resources/pt-BR.lproj/Localizable.strings
  WooCommerce/Resources/ru.lproj/Localizable.strings
  WooCommerce/Resources/sv.lproj/Localizable.strings
  WooCommerce/Resources/tr.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hans.lproj/Localizable.strings
  WooCommerce/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.Public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#11834 [Blaze] Creation form - Analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetDevices/BlazeTargetDevicePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLanguages/BlazeTargetLanguagePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLocations/BlazeTargetLocationPickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetTopics/BlazeTargetTopicPickerViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/Store Creation/Profiler/StoreCreationProfilerUploadAnswersUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAdDestinationSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetDeviceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetLanguagePickerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetLocationPickerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeTargetTopicPickerViewModelTests.swift
Labels: feature: Blaze

#11832 [Backend Receipts] Add feature flag for backend receipts
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, feature: order details, feature: mobile payments

#11790 [Tablet Orders] Remove shimmering effect from `NewTaxRateSelectorView`
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Taxes/NewTaxRateSelectorView.swift
Labels: type: bug, category: tablet, feature: order creation

#11833 Fix arrow directions on the app to support RTL locales.
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Store Creation/Profiler/Country/StoreCreationCountryQuestionView.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Taxes/TaxRateRow.swift
  WooCommerce/Classes/ViewRelated/Upgrades/FullFeatureListView.swift
Labels: type: enhancement, category: i18n

#11840 [Blaze] Payment and creation analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeAddPaymentMethodWebView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeAddPaymentMethodWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAddPaymentMethodWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
Labels: feature: Blaze

#11836 Blaze: Add parameter view should keep entered value after rotating device
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAddParameterView.swift
Labels: type: task, feature: Blaze

#11842 Orders tab: fix placeholder cells losing animated content
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/WPComLogin/WPComPasswordLoginViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/WPComLogin/WPComPasswordLoginViewModelTests.swift
Labels: type: bug, feature: order list

#11845 [Tablet orders] Add feature flag for M3 of Project Lily Pad
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: type: task, category: tablet, status: feature-flagged, feature: order creation, feature: split view

#11839 Blaze: Unify intro modal logic in Blaze campaign creation coordinator
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/Blaze/BlazeWebViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/BillingInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task, feature: Blaze

#11837 [Backend Receipts] Network layer for `receipt` endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ReceiptMapper.swift
  Networking/Networking/Model/Receipt.swift
  Networking/Networking/Remote/ReceiptRemote.swift
  Networking/NetworkingTests/Remote/ReceiptRemoteTests.swift
  Networking/NetworkingTests/Responses/receipt-without-data-envelope.json
  Networking/NetworkingTests/Responses/receipt.json
Labels: type: task, feature: order details, feature: mobile payments

#11847 [Backend Receipts] Rename existing receipts while replacement system is introduced
  WooCommerce/Classes/ViewModels/CardPresentPayments/LegacyReceiptViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/LegacyReceiptViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/LegacyReceiptViewController.xib
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/LegacyReceiptViewModelTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#11849 Fix order list not automatically refreshed when going from 0 -> 1 order
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: type: bug, feature: order list, category: tablet

#11850 [Tablet Products] Add a feature flag with barebone split view support
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewWrapperController.swift
  WooCommerce/Classes/ViewRelated/TabBar/WooTab+Tag.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: product list

#11851 Product creation AI: Reuse detected language on retries
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: type: enhancement, feature: add/edit products

#11848 [Backend Receipts] Update store and actions to account for backend receipts
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  Yosemite/Yosemite/Actions/ReceiptAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/ReceiptStore.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: task, feature: order details, feature: mobile payments

#11777 Update momentary selection state row background colours
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StoreTableViewCell.swift
  WooCommerce/Classes/Extensions/UITableViewCell+Helpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/Billing Information/Cells/BillingAddressTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerInfoTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundConfirmationCardDetailsCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundCustomAmountsDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundProductsTotalTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundShippingDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Notes Section/OrderNoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Payment Section/Refunds/IssueRefundTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/Product Details/PickListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Product List Section/ProductDetailsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/OrderTrackingTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelFormStepTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Cells/ShippingLabelSummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Subscriptions section/OrderSubscriptionTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/WCShip Installation Section/WCShipInstallTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/TitleBodyTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ImageAndTitleAndTextTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Cells/ProductReviewsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Cell/ProductCategoryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products/Cells/NumberOfLinkedProductsTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/BadgedLeftImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/BasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ButtonTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HeadlineLabelTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/HeadlineTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LedgerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTitleSubtitleTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LeftImageTitleSubtitleToggleTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SpacerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/StatusListTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwitchTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextFieldTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TextViewTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndSubtitleAndStatusTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndTextFieldWithImageTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndValueTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnHeadlineFootnoteTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TwoColumnTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnderlineableTitleAndSubtitleAndDetailTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/ValueOneTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/WooBasicTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsCommentTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/NoteDetailsHeaderPlainTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Reviews/Cells/ProductReviewTableViewCell.swift
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: category: design

#11853 [Product Creation AI] Update prompt drafting to reduce unexpected AI response
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Mapper/AIProductMapperTests.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  Networking/NetworkingTests/Responses/generate-product-no-description.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: type: bug, feature: add/edit products

#11755 Update WordPressKit and WordPressAuthenticator
  Podfile
  Podfile.lock
Labels: category: reliability
