Repository woocommerce/woocommerce-ios, pull requests merged in 2024-06, with the labels that each got.

#12912 Release/18.9 bump version to 18.9.0.1
  config/Version.Public.xcconfig
Labels: Releases

#12914 Fix Version Mismatch between app/appex targets
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling, feature: apple watch

#12909 Task/12867 connect to a reader from the payment service
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentReaderConnectionResult.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsConnectionControllerManager.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/ProductGridView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentPreflightController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12891 Dynamic Dashboard: Tracking events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCard.swift
Labels: type: task, category: tracks

#12882 [Woo POS] Abstract `POSItemProvider`/`POSItem` and move it to Yosemite
  WooCommerce/Classes/POS/Models/CartItem.swift
  WooCommerce/Classes/POS/Models/CartProduct.swift
  WooCommerce/Classes/POS/Models/POSProduct.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/ProductCardView.swift
  WooCommerce/Classes/POS/Presentation/ProductRowView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: task, feature: POS

#12927 [Woo POS] Add SwiftUI-friendly action handlers
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsModalButtonViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12928 [Woo POS] Adapt preflight controller to return connection result
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreflightAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12926 [Woo POS] Update Checkout and Add More buttons in POS
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: feature: POS

#12925 Dynamic Dashboard: Fix issue with missing Inbox card upon login
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxEligibilityUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxEligibilityUseCaseTests.swift
Labels: type: bug

#12929 [Shipping Lines] Present shipping lines survey in order form
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCase.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeedbackBannerPopover.swift
  WooCommerce/Classes/ViewRelated/Survey/Survey.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyCoordinatingController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingUseCaseTests.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
Labels: feature: order details

#12923 Fix: CocoaLumberjack warnings and remove redundant Obj-C pod
  Networking/Networking/Logging.swift
  Podfile
  Podfile.lock
  Storage/Storage/Logging.swift
  WooCommerce/Classes/Tools/Logging/Logging.swift
  Yosemite/Yosemite/Internal/Logging.swift
Labels: type: technical debt

#12936 [Shipping Lines] Design updates for feedback prompt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeedbackBannerPopover.swift
  WooCommerce/Resources/Images.xcassets/icon-tooltip.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-tooltip.imageset/TooltipButton.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooFoundation/WooFoundation/Colors/UIColor+SemanticColors.swift
Labels: category: design, feature: order creation

#12930 [Woo POS] Resolve POS currency injection and simplify `POSProduct`
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: task, feature: POS

#12922 Dynamic Dashboard: Tracking events M1
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
Labels: type: task

#12932 [Woo POS] Refactor card connection WC settings webview presentation to allow custom UI
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentPreflightController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/WCSettingsWebView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/SilenceablePassthroughCardPresentPaymentAlertsPresenter.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentAlertsPresenter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardPresentPaymentAlertsPresenter.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: type: task, type: technical debt, feature: POS

#12941 [Order Form] Design updates for Order Total bottom sheet
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
Labels: category: design, feature: order creation

#12944 [Woo POS] use presenting protocol for collect order use case
  WooCommerce/Classes/Extensions/ViewControllerPresenting.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentAlertsPresenter.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentReceiptEmailCoordinator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockViewControllerPresenting.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentPaymentReceiptEmailCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: type: task, feature: POS

#12945 [Woo POS] collect payment on new card present payment service
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12899 Dynamic Dashboard: Various small m2 fixes and improvements
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12943 [Order Form] Update naming for shipping lines logic for editable orders
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/AddOrderComponentsSection/AddOrderComponentsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingLineViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Shipping/OrderShippingSection.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Shipping/EditableOrderShippingLineViewModelTests.swift
Labels: type: technical debt, feature: order creation

#12940 [WOO POS] Checkout totals update
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: feature: POS

#12939 Bump Tracks iOS library to v.3.4.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: technical debt

#12963 Dynamic Dashboard: Tracking events Blaze card
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
Labels: type: task

#12960 Fix SwiftUI Preview
  Networking/Networking.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
Labels: category: tooling

#12946 [Woo POS] Specialise card reader modal action handlers
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBluetoothRequired.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBuiltInSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBuiltInSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalNonRetryableError.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalScanningFailed.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccess.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessWithoutEmail.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalTapCard.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModel.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentRetryableError.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlertsProtocol.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTransactionAlertsProviding.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockOrderDetailsPaymentAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CardPresentModalRetryableErrorTests.swift
Labels: type: task, feature: POS

#12931 [Woo POS] Remove Yosemite dependencies from SwiftUI previews
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: task, feature: POS

#12970 [Woo POS] Show reader connection state in UI
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreviewService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12976 Blaze: Fix incorrect order for campaigns
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: bug, feature: Blaze

#12968 [Woo POS] Update alert webview to be presented modally instead of replacing the alert
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/CardPresentPaymentAlertSwiftUIViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModelWCSettingsWebViewPresenting.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: type: task, feature: POS

#12967 Dynamic Dashboard: Refactor DashboardViewModel and update unit tests
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: category: unit tests

#12981 Dynamic Dashboard: Various design updates
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/InAppFeedback/InAppFeedbackCardView.swift
Labels: type: task

#12938 fix: deprecation warning by using string interpolation in DDLogInfo
  Hardware/Hardware/Internal/Logging.swift
  WooFoundation/WooFoundation/Internal/Logging.swift
Labels: type: technical debt

#12986 Dynamic Dashboard: Track first card saved
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCustomizationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: category: tracks

#12961 Remove the 'Excluded Architectures' setting in the Watch App target
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#12990 Fix Apple Watch Previews
  WooCommerce/Woo Watch App/ConnectView.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/Woo Watch App.xcscheme
Labels: category: tooling, feature: apple watch

#12985 Dynamic Dashboard: Update new cards notice and "Share Your Store" card behaviors
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
Labels: type: task

#12989 Dynamic Dashboard: Track enabled cards in user sorted order
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task

#12995 Dynamic Dashboard: Restore missing tracking events for stats cards
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
Labels: feature: stats, category: tracks

#12997 Dynamic Dashboard: Add release note for M2
  RELEASE-NOTES.txt
Labels: type: task

#12999 [Woo POS] Cart view: Dynamic item counter
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13002 Update release notes and CHANGELOG based on 19.0 changes
  CHANGELOG.md
  RELEASE-NOTES.txt
Labels: type: task, Releases

#13006 Revert "Update release notes and CHANGELOG based on 19.0 changes"
  CHANGELOG.md
  RELEASE-NOTES.txt
Labels: type: task, Releases

#13007 Update release notes for 19.0
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13010 Release/19.0 bump version to 19.0.0.1
  config/Version.Public.xcconfig
Labels: Releases

#12966 [Woo POS] Add product thumbnail to cards
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: task, feature: POS

#12910 Upgrade to Xcode 15.4
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  .xcode-version
Labels: type: task, category: tooling

#13000 [Woo POS] Update toolbar to be at the bottom
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Toolbar/POSToolbarView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12982 [Woo POS] Add basic PointOfSaleDashboardViewModelTests
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: category: unit tests, feature: POS

#13017 [Woo POS] Update POS alert design to match the existing app
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
Labels: type: task, feature: POS

#13019 [Woo POS] Update reader list UI with CTAs to connect to a reader and cancel search
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/FoundCardReaderListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/SeveralReadersFoundViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13018 Settings: Fix missing navigation bar for privacy settings screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxEligibilityUseCase.swift
Labels: type: bug, feature: app settings

#13025 Dynamic Dashboard: Enable the feature flag for M2 again
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task

#12273 Products: Grouping design for product creation type sheet
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/EntryPoint/AddProductWithAIActionSheet.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ManualProductTypeOptions.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/BottomSheetProductCategory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/BottomSheetProductType.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: add/edit products

#13033 [Customers] Add phone and billing/shipping addresses to customer details view
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Customers/CustomerDetailViewModelTests.swift
Labels: feature: hub menu

#13034 [Customers] Add phone and address contact actions to customer details view
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MessageComposeView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: hub menu

#13024 [Woo POS] Update toolbar design based on high-fidelity design
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Toolbar/POSToolbarView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Resources/Images.xcassets/swap-horizontal.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/swap-horizontal.imageset/swap-horizontal.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: POS

#13009 Added "Private" filter option for enhanced product filtering on iOS
  Networking/Networking/Model/Product/ProductStatus.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.swift
Labels: type: enhancement, feature: product list

#13044 [Customers] Tracks events for new customer contact actions
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
Labels: category: tracks, feature: hub menu

#13046 Watch: Design adjustments
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
Labels: category: design, feature: apple watch

#13043 [Woo POS] Update progress indicator with `IndefiniteCircularProgressViewStyle` to match the existing payment alert design
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
Labels: type: task, feature: POS

#13041 [Woo POS] Remove cash payment
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13032 [WOO POS] Scroll to added item in cart
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: enhancement, feature: POS

#13052 [Customers] Create a new order with customer data pre-filled in order form
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Customers/CustomerDetailViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: order creation, feature: hub menu

#13053 [Customers] Track when a new order is created from customer details
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
Labels: category: tracks, feature: order creation, feature: hub menu

#13047 Watch: Improve sync connection
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/ConnectView.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
Labels: feature: apple watch

#13036 [Woo POS] use custom alert providers preparation
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: type: task, feature: POS

#13037 [Woo POS] Use generic models for payment alerts
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsConnectionControllerManager.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsPaymentAlerts.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentPreflightController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsSearchingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTransactionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/SilenceablePassthroughCardPresentPaymentAlertsPresenter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayReconnectionController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentAlertsPresenter.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockBuiltInCardReaderConnectionControllerFactory.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: type: task, feature: POS

#13038 [Woo POS] use custom alert providers connection prep
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsConnectionControllerManager.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentPreflightController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/RefundConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Refund/RefundSubmissionUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/RefundSubmissionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
Labels: type: task, feature: POS

#13040 [Woo POS] Specialised alert view model details
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentAlertDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreflightAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsConnectionControllerManager.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentConnectingFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentConnectingToReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentDisplayReaderMessageAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentErrorAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentFoundReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentPreparingForPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentProcessingPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentReaderUpdateFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentScanningFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentScanningForReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentSuccessAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentTapSwipeInsertCardAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentUpdatingReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentFoundReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/FoundReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderNotConnectedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ScanningForReaderFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/ScanningForReaderView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13054 [Woo POS] Reader flow specific alerts pr feedback fixes
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreflightAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentPreflightController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayReconnectionController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: type: task, feature: POS

#13050 [Woo POS] [WIP] Show inline message for payment alerts
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreflightAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentPreflightController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayReconnectionController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: type: task, status: draft, feature: POS

#13055 Watch: Improve refresh strategy
  WooCommerce/Woo Watch App/App/AppBindings.swift
  WooCommerce/Woo Watch App/App/AppDelegate.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/Dependencies/Environment+AppBindings.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/MyStore/MyStoreViewModel.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: apple watch

#13049 Product details: Hide subscription product type options when site is ineligible for subscription products
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockWooSubscriptionProductsEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/BottomSheetListSelector/ProductTypeBottomSheetListSelectorCommandTests.swift
Labels: type: bug, feature: add/edit products

#13060 Update release notes for Release 19.1
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13065 [Woo POS] Add collapsed cart view. Update item grid to list
  WooCommerce/Classes/POS/Presentation/CollapsedCartView.swift
  WooCommerce/Classes/POS/Presentation/FilterView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/SearchView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13063 [Woo POS] Refactor event translation to alerts and messages
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/CardPresentPaymentAlertSwiftUIViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/CardPresentPaymentReaderUpdateFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/CardPresentPaymentUpdatingReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentScanningFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Payment Alerts/CardPresentPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentDisplayReaderMessageAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentErrorAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentPreparingForPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentProcessingPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentSuccessAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentTapSwipeInsertCardAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/CardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/CardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentFoundReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#12984 Update: ZendeskSupportSDK from v6.0 to v.8.0.3
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: technical debt

#13069 [Woo POS] Make `ItemCardView` tappable. Add support for product categories.
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemGridView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Reusable Views/PlusButtonStyle.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
Labels: type: task, feature: POS

#13073 [Woo POS] Preparation before implementing payment message actions
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentDisplayReaderMessageAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentErrorAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentPreparingForPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentProcessingPaymentAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentSuccessAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/CardPresentPaymentTapSwipeInsertCardAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13074 [Woo POS] Payment message actions
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13079 [Woo POS] Iteration: Update UI colors
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13081 12864 remove unused swiftui webview presentation
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalConnectionFailedUpdateAddress.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentPaymentsModalViewModelWCSettingsWebViewPresenting.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13088 Remove legacy file reference
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: bug

#13022 Order Creation: Disable selection for bookable products
  Networking/Networking/Model/Product/ProductType.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCoupon.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictions.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/UsageDetails/CouponRestrictionsViewModel.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/BottomSheetListSelector/BottomSheetProductType.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorNavigationView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: enhancement

#13051 Product Form: Support picking videos from local library for downloadable files
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdHostingController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductFromImage/AddProductFromImageCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Downloadable Files/File List/ProductDownloadListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DeviceMediaLibraryPicker.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/MediaPickingCoordinatorTests.swift
  Yosemite/Yosemite/Tools/Media/MediaAssetExporter.swift
Labels: type: enhancement, feature: add/edit products, category: tracks

#13086 [Woo POS] Automatically prepare connected card reader for payment payment
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/CardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/CardPresentPaymentReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Toolbar/POSToolbarView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: POS

#13064 [Tablet Orders] Add unit test coverage for `OrderSearchUICommand`
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Search/Order/OrderSearchUICommandTests.swift
Labels: type: task, Testing

#13094 [Order Creation] Ensure customer list loads if `date_last_active_gmt` is `null`
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/WCAnalyticsCustomer.swift
  Networking/NetworkingTests/Responses/wc-analytics-customers-without-data.json
  Networking/NetworkingTests/Responses/wc-analytics-customers.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Customers/CustomerDetailViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Customers/CustomerDetailViewModelTests.swift
  Yosemite/Yosemite/Model/Storage/WCAnalyticsCustomer+ReadOnlyConvertible.swift
Labels: feature: order creation

#13087 [Woo POS] Implement reader update failure views - retryable, non-retryable, low battery
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/CardPresentPaymentReaderUpdateFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/CardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13082 [WOO POS] Update Networking and Yosemite
  Networking/Networking/Remote/OrdersRemote.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ConfigurableBundleProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/Yosemite/Stores/Order/BundledProductConfiguration.swift
  Yosemite/Yosemite/Stores/Order/OrderSyncProductInput.swift
  Yosemite/Yosemite/Stores/Order/ProductInputTransformer.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
Labels: feature: POS

#13078 Log pending or overdue `PaymentGatewayAccount` requirement details
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
Labels: type: task, feature: mobile payments

#13090 Add missing track event for when dashboard is loaded
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
Labels: type: bug, feature: stats, category: tracks

#13098 Dynamic Dashboard: Parse product reports' stock quantity using Decimal instead of Int
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/ProductReport.swift
  Networking/NetworkingTests/Mapper/ProductReportListMapperTests.swift
  Networking/NetworkingTests/Responses/product-report-string-stock-quantity.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
Labels: type: bug, feature: stats

#13014 Remove GhostableViewController Conformances for Crash Investigation
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: task, type: crash

#13113 Update release notes for 19.2
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13099 [WOO POS] create and sync order, collect payment
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/POSOrderPreviewService.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProduct.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/Yosemite/Tools/Payments/WooPaymentsDepositService.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: feature: POS

#13102 [Woo POS] Update POS entry point accessory icon
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: POS

#13100 [Woo POS] Initial implementation of payment cancellation
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentInvalidatablePaymentOrchestrator.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
Labels: type: task, feature: POS

#13125 [Mobile Payents] Prevent use of stale readers after cancelling discovery
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: mobile payments, feature: POS

#13126 [Mobile Payments] Fix connecting reader after error
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: mobile payments, feature: POS

#13121 [WOO POS] #13119 Update totals view design
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Resources/Images.xcassets/POS/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos_new_transaction_icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos_new_transaction_icon.imageset/pos_new_transaction_icon.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: enhancement, feature: POS

#13141 [Woo POS] Fix incorrect merge
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13116 [Woo POS] Add remote and logic to load POS products
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/products-load-all-type-simple.json
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/POSProductProvider.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductProviderTests.swift
Labels: type: task, feature: POS

#13144 [Woo POS] Disable navigation during payment
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Toolbar/POSToolbarView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13124 Update date picker range in Blaze to allow a start date of 60 days from today
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
Labels: type: enhancement, feature: Blaze

#13140 Google Ads: Integrate connection check endpoint on Networking layer
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/GoogleAds/GoogleAdsConnectionMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/GoogleAds/GoogleAdsConnection.swift
  Networking/Networking/Remote/GoogleListingsAndAdsRemote.swift
  Networking/NetworkingTests/Mapper/GoogleAdsConnectionMapperTests.swift
  Networking/NetworkingTests/Remote/GoogleListingsAndAdsRemoteTests.swift
  Networking/NetworkingTests/Responses/gla-connection-with-data-envelope.json
  Networking/NetworkingTests/Responses/gla-connection-without-data-envelope.json
Labels: type: task

#13146 [AI generation] Start using Jetpack AI query endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/AIProductMapper.swift
  Networking/Networking/Mapper/JetpackAIQueryResponseMapper.swift
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Mapper/JetpackAIQueryResponseMapperTests.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  Networking/NetworkingTests/Responses/generate-product-no-description.json
  Networking/NetworkingTests/Responses/generate-product-success-no-dimensions-info.json
  Networking/NetworkingTests/Responses/generate-product-success-no-shipping-info.json
  Networking/NetworkingTests/Responses/generate-product-success-no-weight-info.json
  Networking/NetworkingTests/Responses/generate-product-success.json
  Networking/NetworkingTests/Responses/generative-text-success.json
  Networking/NetworkingTests/Responses/identify-language-success.json
Labels: type: task

#13148 [Woo POS] Merge `CardPresentPaymentEvent.showReaderList` event into `show` event
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/FoundCardReaderListView.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/SeveralReadersFoundViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13147 [Woo POS] Retrieve order remotely in payment collection instead of relying on existing order in storage
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: task, feature: mobile payments, feature: POS

#13149 [Woo POS] Add pull-to-refresh to product list
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13151 [Woo POS] Add `Clear all` button to `CartView`
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13159 [Product Creation AI v2] Feature flag for M1
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
Labels: type: task

#13161 [Product Creation with AI] Change create product with AI button description
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/EntryPoint/AddProductWithAIActionSheet.swift
Labels: type: task

#13145 [WOO POS] show remove item only when building the cart
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: feature: POS

#13176 Watch: Improve how dependencies are stored
  Networking/Networking/Settings/Credentials.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/WatchDependencies.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/Dependencies/PhoneDependenciesSynchronizer.swift
Labels: feature: apple watch

#13170 [WOO POS] Move refreshable modifier to product list view
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#13164 Google Ads: Update Yosemite to support checking GLA connection
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/GoogleAdsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/GoogleAdsStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGoogleListingsAndAdsRemote.swift
  Yosemite/YosemiteTests/Stores/GoogleAdsStoreTests.swift
Labels: type: task

#13168 Dynamic Dashboard: Add tracking for dashboard card data loading
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalytics.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
Labels: type: task, category: tracks

#13171 [Product Creation AI v2] Add Starting information screen
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAIEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/AddProductWithAIContainerViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAIEligibilityCheckerTests.swift
Labels: feature: add/edit products

#13165 [Woo POS] Handle failures from `capture_terminal_payment` gracefully
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
Labels: type: task, feature: POS

#13173 [GLA Analytics] Add networking models for Google Listings & Ads campaign stats
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/GoogleAdsCampaignStats.swift
  Networking/Networking/Model/Stats/GoogleAdsCampaignStatsItem.swift
  Networking/Networking/Model/Stats/GoogleAdsCampaignStatsTotals.swift
  Networking/NetworkingTests/Responses/google-ads-reports-programs-without-data.json
  Networking/NetworkingTests/Responses/google-ads-reports-programs.json
Labels: category: woo extensions, feature: analytics hub

#13167 [WOO POS] Go back to cart building if cart is emptied from checkout
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13169 [Woo POS] Incomplete address connection error handling: show admin URL externally instead of authenticated webview for self-hosted stores
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BuiltInReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: type: task, feature: POS

#13185 [GLA Analytics] Add networking mapper and remote endpoint for Google Listings & Ads campaign stats
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/GoogleAdsCampaignStatsMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/GoogleAdsCampaignStatsTotals.swift
  Networking/Networking/Remote/GoogleListingsAndAdsRemote.swift
  Networking/NetworkingTests/Mapper/GoogleAdsCampaignStatsMapperTests.swift
  Networking/NetworkingTests/Remote/GoogleListingsAndAdsRemoteTests.swift
  Networking/NetworkingTests/Responses/google-ads-reports-programs.json
Labels: category: woo extensions, feature: analytics hub

#13187 [GLA Analytics] Add networking support for paginated campaign stats
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Stats/GoogleAdsCampaignStats.swift
  Networking/Networking/Remote/GoogleListingsAndAdsRemote.swift
  Networking/NetworkingTests/Mapper/GoogleAdsCampaignStatsMapperTests.swift
  Networking/NetworkingTests/Remote/GoogleListingsAndAdsRemoteTests.swift
  Networking/NetworkingTests/Responses/google-ads-reports-programs-without-data.json
Labels: category: woo extensions, feature: analytics hub

#13183 Google Listings & Ads: Integrate fetching ads campaign list
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/GoogleAds/GoogleAdsCampaignListMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/GoogleAds/GoogleAdsCampaign.swift
  Networking/Networking/Remote/GoogleListingsAndAdsRemote.swift
  Networking/NetworkingTests/Mapper/GoogleAdsCampaignListMapperTests.swift
  Networking/NetworkingTests/Remote/GoogleListingsAndAdsRemoteTests.swift
  Networking/NetworkingTests/Responses/gla-campaign-list-with-data-envelope.json
  Networking/NetworkingTests/Responses/gla-campaign-list-without-data-envelope.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGoogleListingsAndAdsRemote.swift
Labels: type: task

#13189 Google Ads: Update Yosemite to support fetching ads campaigns
  Yosemite/Yosemite/Actions/GoogleAdsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/GoogleAdsStore.swift
  Yosemite/YosemiteTests/Stores/GoogleAdsStoreTests.swift
Labels: type: task, feature: google-ads-campaigns

#13172 Improvements over Blaze i3
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeIntro/BlazeCreateCampaignIntroView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: enhancement, feature: Blaze

#13195 [Tooling] Allow `finalize_release` lane to be retried on CI
  fastlane/Fastfile
Labels: category: tooling

#13198 [GLA Analytics] Refactor analytics UI helpers in preparation for Google Campaigns card
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsTopPerformersCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/BundlesReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/ProductsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsDataTextFormatter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Factories/StatsDataTextFormatterTests.swift
Labels: feature: analytics hub

#13201 Update release_notes for 19.3
  WooCommerce/Resources/release_notes.txt
Labels: category: releases

#13178 [Woo POS] Consider an order that is already paid as success in `CollectOrderPaymentUseCase`
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
Labels: type: task, feature: POS

#13194 Update Localization guidelines according to the latest reverse-DNS keys requirements
  docs/localization.md
Labels: type: documentation

#13199 [GLA Analytics] Add view model for Google Campaigns analytics card
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsTopPerformersCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/BundlesReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsWebReport.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/ProductsReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: analytics hub

#13188 [Woo POS] Extract item selection logic to `ItemSelectorViewModel`
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/ItemSelectorViewModel.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS
