Repository woocommerce/woocommerce-ios, pull requests merged in 2024-07, with the labels that each got.

#13205 [Woo POS] Fix order sync from passing empty items for the products
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13192 Google Ads: Add eligibility check for campaign creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/GoogleAds/GoogleAdsEligibilityChecker.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/GoogleAds/DefaultGoogleAdsEligibilityCheckTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
Labels: type: task, feature: google-ads-campaigns

#13191 [Woo POS] Extract cart logic to `CartViewModel`
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13208 Google Ads: Add entry point for campaigns from Hub Menu
  WooCommerce/Classes/Blaze/BlazeEligibilityChecker.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Resources/Images.xcassets/google-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/google-logo.imageset/google-logo.svg
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockBlazeEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockGoogleAdsEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockInboxEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEligibilityCheckerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
Labels: type: task, feature: google-ads-campaigns

#13193 [Product Creation AI v2] Select package image
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ImageSelection/SelectPackageImageCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: add/edit products

#13213 [Product Creation AI v2] View and Remove package image
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAIStartingInfoViewModelTests.swift
Labels: feature: add/edit products

#13212 Support opening inventory settings for product with non-integer stock quantity
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Model/Product/ProductVariation.swift
  WooCommerce/Classes/Extensions/UITextField+Helpers.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Inventory Settings/Product+InventorySettingsViewModels.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormActionsFactory.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UnitInputTableViewCell.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductFormActionsFactory+ReadonlyProductTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Actions Factory/ProductVariationFormActionsFactory+ReadonlyVariationTests.swift
Labels: type: task, feature: add/edit products

#13211 [Woo POS] Extract totals logic to `TotalsViewModel`
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
Labels: type: task, feature: POS

#13221 [GLA Analytics] Add Yosemite support for fetching Google Listings & Ads analytics
  Yosemite/Yosemite/Actions/GoogleAdsAction.swift
  Yosemite/Yosemite/Stores/GoogleAdsStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGoogleListingsAndAdsRemote.swift
  Yosemite/YosemiteTests/Stores/GoogleAdsStoreTests.swift
Labels: category: woo extensions, feature: analytics hub

#13226 [Woo POS] Fix reader connection alerts not showing up when connecting reader from the bottom bar
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13223 [Product Creation AI v2] Detect texts from image
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAIStartingInfoViewModelTests.swift
Labels: feature: add/edit products

#13220 Google Ads: Navigation from Hub menu entry point
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/GoogleAds/GoogleAdsEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/WCSettingsWebView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AuthenticatedWebView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/WebView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/GoogleAds/DefaultGoogleAdsEligibilityCheckTests.swift
  WooCommerce/WooCommerceTests/GoogleAds/GoogleAdsCampaignCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: task, feature: google-ads-campaigns

#13225 [Product Creation AI v2] Layout updates and Tone button
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AIToneVoice/AIToneVoice.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AIToneVoice/AIToneVoiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AIToneVoice/ToneOfVoiceView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: add/edit products

#13214 Enable Inbox Notes and manage CTAs with a new feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxNoteRowViewModelTests.swift
Labels: type: enhancement, category: inbox

#13224 [Woo POS] Update entry point eligibility condition to use Woo 6.6+
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: type: task, feature: POS

#13219 [Woo POS] UI updates to titles and product cards
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
Labels: type: task, feature: POS

#13215 [Woo POS] Improve error message when failing to check Order after a Payment Capture error
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13229 Google Ads: Display bottom sheet upon campaign creation success
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/GoogleAds/GoogleAdsCampaignCoordinatorTests.swift
Labels: type: task, feature: google-ads-campaigns

#13235 [Woo POS] Create payment service mock for unit testing
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, category: unit tests, feature: POS

#13245 [GLA Analytics] Fetch data and display Google Campaigns card in Analytics Hub
  RELEASE-NOTES.txt
  Storage/Storage/Model/AnalyticsCard.swift
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Customize/AnalyticsHubCustomizeViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/AnalyticsWebReport.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
Labels: category: woo extensions, feature: analytics hub

#13249 Background Task: Order Sync timestamp handling
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/Tools/BackgroundTasks/OrderSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: Background Updates

#13239 Google Ads: Add new dashboard card for Google ads
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: task, feature: google-ads-campaigns

#13252 Update release notes for 19.4
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13255 [Product Creation AI v2] Package photo view and Short description field
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ImageSelection/PackagePhotoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ImageSelection/ViewPackagePhoto.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: feature: add/edit products

#13260 Background Updates: Show Order Sync timestamp
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilteredOrdersHeaderBar.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilteredOrdersHeaderBar.xib
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
Labels: feature: Background Updates

#13261 Background Tasks: Show Orders Refresh Indicator
  WooCommerce/Classes/Extensions/UIRefreshControl+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
Labels: feature: Background Updates

#13244 Google Ads: Update UI for Google Ads dashboard card
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaign+UI.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsCampaignDetailView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: google-ads-campaigns

#13231 Dismiss Payment Provider view after the selection
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
Labels: type: bug, feature: mobile payments, feature: hub menu

#13258 Product Creation with AI: update prompt to generate 3 options
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Mapper/AIProductMapperTests.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  Networking/NetworkingTests/Responses/generate-product-no-description.json
  Networking/NetworkingTests/Responses/generate-product-success-no-dimensions-info.json
  Networking/NetworkingTests/Responses/generate-product-success-no-shipping-info.json
  Networking/NetworkingTests/Responses/generate-product-success-no-weight-info.json
  Networking/NetworkingTests/Responses/generate-product-success.json
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/LegacyProductDetailPreviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/LegacyProductDetailPreviewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGenerativeContentRemote.swift
Labels: type: enhancement, type: task, feature: add/edit products

#13241 [Woo POS] Update product list & cart UI for landscape
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#13233 [Woo POS] Unit tests for PointOfSaleDashboardViewModel
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: category: unit tests, feature: POS

#13267 Product Creation AI: Undoable text fields and summary option switch
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
Labels: type: task, feature: add/edit products

#13256 Google Ads: Optimize dashboard card and handle navigation
  Networking/Networking/Remote/GoogleListingsAndAdsRemote.swift
  Networking/NetworkingTests/Remote/GoogleListingsAndAdsRemoteTests.swift
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/GoogleAds/GoogleAdsCampaignCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModelTests.swift
  Yosemite/Yosemite/Actions/GoogleAdsAction.swift
  Yosemite/Yosemite/Base/StoresManager.swift
  Yosemite/Yosemite/Model/Mocks/MockStoresManager.swift
  Yosemite/Yosemite/Stores/GoogleAdsStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockGoogleListingsAndAdsRemote.swift
Labels: type: task, feature: google-ads-campaigns

#13268 [Product Creation with AI] Update prompt to generate 3 short descriptions
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Remote/GenerativeContentRemote.swift
  Networking/NetworkingTests/Mapper/AIProductMapperTests.swift
  Networking/NetworkingTests/Remote/GenerativeContentRemoteTests.swift
  Networking/NetworkingTests/Responses/generate-product-no-description.json
  Networking/NetworkingTests/Responses/generate-product-success-no-dimensions-info.json
  Networking/NetworkingTests/Responses/generate-product-success-no-shipping-info.json
  Networking/NetworkingTests/Responses/generate-product-success-no-weight-info.json
  Networking/NetworkingTests/Responses/generate-product-success.json
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/LegacyProductDetailPreviewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: feature: add/edit products

#13166 [WOO POS] update UI for payment processing content in checkout
  WooCommerce/Classes/Extensions/String+POS.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsModalButtonViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/POSCardPresentPaymentMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-new-transaction-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-new-transaction-icon.imageset/pos_new_transaction_icon.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-payment-successful.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-payment-successful.imageset/pos_payment_successful.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-processing-payment.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-processing-payment.imageset/pos_processing_payment.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-ready-for-payment.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-ready-for-payment.imageset/pos_ready_for_payment.pdf
  WooCommerce/Resources/en.lproj/Localizable.strings
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: POS

#13282 Background tasks: Fetch the order from a push notification
  Networking/Networking/Model/MetaContainer.swift
  WooCommerce/Classes/Notifications/PushNotificationBackgroundSynchronizer.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/Tools/BackgroundTasks/BackgroundTaskRefreshDispatcher.swift
  WooCommerce/Classes/Tools/BackgroundTasks/OrderListSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Notifications/PushNotificationBackgroundSynchronizerTests.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
Labels: feature: Background Updates

#13274 Google Ads: Add tracking
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+GoogleAds.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/AuthenticatedWebViewController.swift
  WooCommerce/Classes/Authentication/AuthenticatedWebViewModel.swift
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/AuthenticatedWebView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/WebView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/GoogleAds/GoogleAdsCampaignCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModelTests.swift
Labels: type: task, category: tracks, feature: google-ads-campaigns

#13290 Google Ads: Reload dashboard card and hub menu after campaign creation success
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/GoogleAds/GoogleAdsCampaignCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModelTests.swift
Labels: type: task, feature: google-ads-campaigns

#13289 [Woo POS] Handle ItemSelector loading and error states
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: type: task, feature: POS

#13293 [GLA Analytics] UI for Google Campaigns card with metric selection
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/Components/StatSelectionBar.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/WCAnalyticsStatsTotals+UI.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: woo extensions, feature: analytics hub

#13283 Background Tasks: Timestamp fixes
  WooCommerce/Classes/Tools/BackgroundTasks/OrderListSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: feature: Background Updates

#13270 [Woo POS] Disable CTA to go back to product selector when order is being synced
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
Labels: type: task, feature: POS

#13281 [Product Creation with AI: v2] Logic to switch options and undo edits
  Networking/Networking/Model/Product/AIProduct.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/LegacyProductDetailPreviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/LegacyProductDetailPreviewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: feature: add/edit products

#13292 Product Creation with AI: Fix media picker popover layout on iPad
  WooCommerce/Classes/View Modifiers/View+MediaSourceActionSheet.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
Labels: type: bug

#13296 [Product Creation with AI: v2] Reduce network calls
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: feature: add/edit products

#13298 [Woo POS] Specialize item list empty and error cases
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemProvider.swift
Labels: type: task, feature: POS

#13303 Google Ads: Update dashboard card layout
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsCampaignDetailView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModelTests.swift
Labels: type: task, feature: google-ads-campaigns

#13309 [Woo POS] Remove logic duplication on reloading data
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
Labels: type: task, feature: POS

#13247 Save Core Data Context on Key App State Transitions
  WooCommerce/Classes/AppDelegate.swift
Labels: category: architecture, type: technical debt

#13280 Product Creation with AI v2 - Milestone 3: progress bar and label with dynamic color and text + logic
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/PromptProgressBar/ProductCreationAIBarProgressStyle.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/PromptProgressBar/ProductCreationAIPromptProgressBar.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/PromptProgressBar/ProductCreationAIPromptProgressBarViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAIPromptProgressBarViewModelTests.swift
Labels: type: task

#13294 [Woo POS] Reset cardPresentPaymentInlineMessage when starting a new transaction
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: bug, type: enhancement

#13315 Update release notes for 19.5
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#13301 Product Creation AI: Upload packaging image upon saving product
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductDetailPreviewViewModelTests.swift
Labels: type: task, feature: add/edit products

#13311 Product creation AI: Fix issue replacing packaging photo and layout for package photo view
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ImageSelection/PackagePhotoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
Labels: type: bug, feature: add/edit products

#13320 Blaze: Remove remote feature flag check
  Networking/Networking/Remote/FeatureFlagRemote.swift
  WooCommerce/Classes/Blaze/BlazeEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockBlazeEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEligibilityCheckerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  Yosemite/YosemiteTests/Stores/FeatureFlagStoreTests.swift
Labels: type: technical debt, feature: Blaze

#13323 Product Creation AI: Add tracking events for v2
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductCreationAI.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoViewModel.swift
Labels: type: task, feature: add/edit products, category: tracks

#13325 Inbox: Remove woo plugin check for eligibility checker
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRow.swift
  WooCommerce/Classes/ViewRelated/Inbox/InboxNoteRowViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockInboxEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Inbox/InboxEligibilityUseCaseTests.swift
Labels: type: technical debt, category: inbox

#13319 [Woo POS] Add simple-only product banner to dashboard
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
Labels: type: task, feature: POS

#13335 [Product Creation AI] Enable feature flag to release feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: add/edit products

#13313 Display a total product price with quantity in Discount view to match what is displayed in Order view
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountViewModel.swift
Labels: type: bug, feature: order creation

#13331 Google Ads: Enable feature flag in production
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: google-ads-campaigns

#13334 Product description AI: Remove feature flag and local announcement
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/Storage/Model/LocalAnnouncement.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+LocalAnnouncement.swift
  WooCommerce/Classes/LocalAnnouncements/LocalAnnouncementViewModel.swift
  WooCommerce/Classes/LocalAnnouncements/LocalAnnouncementsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormAIEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/LocalAnnouncementModal.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormAIEligibilityCheckerTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: technical debt, feature: add/edit products

#13337 Product Sharing with AI: Remove feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ShareProduct/ShareProductAIEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ShareProduct/DefaultShareProductAIEligibilityCheckerTests.swift
Labels: type: technical debt, feature: add/edit products

#13341 Product description AI: Remove the feature flag for onboarding
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Feature Highlight/ProductDescriptionAITooltipUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormAIEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Feature Highlight/ProductDescriptionAITooltipUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultProductFormTableViewModelTests.swift
Labels: type: technical debt, feature: add/edit products

#13351 [Blaze] Check product URL
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: feature: Blaze

#13305 [Order form] Use order item data for products in order creation/editing
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Orders/OrderItem+BasePrice.swift
  Yosemite/Yosemite/Stores/Order/ProductInputTransformer.swift
  Yosemite/YosemiteTests/Model/Extensions/OrderItem+BasePriceTests.swift
Labels: type: bug, feature: order creation

#13340 [Order form] Add shimmering effect to Order and Product values when Order is syncing
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCardPriceSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/OrderPaymentSection.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TitleAndValueRow.swift
Labels: type: enhancement, feature: order creation

#13350 [GLA Analytics] Update Google Campaigns card data based on selected stat
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/StatsDataTextFormatter.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Factories/StatsDataTextFormatterTests.swift
Labels: category: woo extensions, feature: analytics hub

#13366 [GLA Analytics] Display new Google Campaigns card with metric selection in Analytics Hub
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
Labels: category: woo extensions, feature: analytics hub

#13367 [GLA Analytics] Track when new metric is selected on Google Campaigns analytics card
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignStatsTotals+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Factories/WCAnalyticsStatsTotals+UI.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: woo extensions, category: tracks, feature: analytics hub

#13354 Show Cached Content on the performance card
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsPeriodViewModel.swift
Labels: feature: Background Updates

#13359 Dynamic dashboard: Remove M2 feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: technical debt

#13378 Performance Card: Save and show last updated timestamp
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardTimestampStore.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/DashboardTimestampStoreTests.swift
Labels: feature: Background Updates

#13364 Google Ads: Add an additional check for campaign creation success
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/GoogleAds/GoogleAdsCampaignCoordinator.swift
  WooCommerce/Classes/GoogleAds/GoogleAdsEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/GoogleAds/DefaultGoogleAdsEligibilityCheckTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: task, feature: google-ads-campaigns

#13382 Improvements in Product Creation with AI Starting View
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/PromptProgressBar/ProductCreationAIPromptProgressBar.swift
Labels: type: enhancement, type: task, feature: add/edit products

#13381 [Woo POS] Order total calculations ignore "Prices entered with tax" settings
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/POSOrderPreviewService.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Extensions/Order+LocalItems.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Model/LocalIDStoreTests.swift
Labels: feature: POS

#13385 Background Update for Performance Card
  WooCommerce/Classes/Notifications/PushNotificationBackgroundSynchronizer.swift
  WooCommerce/Classes/Tools/BackgroundTasks/BackgroundTaskRefreshDispatcher.swift
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardSyncBackgroundTask.swift
  WooCommerce/Classes/Tools/BackgroundTasks/OrderListSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/PerformanceCardDataSyncUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: Background Updates

#13389 Update release notes for 19.6
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#13084 Swift 6 Migration: Dynamic dashboard
  Networking/Networking/Model/Product/ProductReport.swift
  Networking/Networking/Model/Product/ProductStock.swift
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/JustInTimeMessages/JustInTimeMessagesProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Inbox/InboxDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewHostingControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
Labels: type: technical debt

#13392 [GLA Analytics] Add UI for Google Campaigns call to action
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+GoogleAds.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsCTACard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/AnalyticsSessionsReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
Labels: type: task, feature: analytics hub

#13396 Removed unused CollapsedCartView
  WooCommerce/Classes/POS/Presentation/CollapsedCartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: POS

#13393 Disable checkout button if there are no items in cart
  WooCommerce/Classes/POS/Presentation/CartView.swift
Labels: type: enhancement, feature: POS

#13398 [Analytics Hub] Encapsulate logic for loading Google Campaigns card in card view model
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
Labels: type: task, feature: analytics hub

#13397 [GLA Analytics] Display Google Campaigns call to action when no there are no campaigns in the selected time range
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/AnalyticsHubView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
Labels: type: task, feature: analytics hub

#13400 [Woo POS] Add isCartEmpty to cart view model and add tests
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
Labels: feature: POS

#13328 [Woo POS] If there are no cart changes, checkout should not trigger an order sync API request
  WooCommerce/Classes/POS/Models/CartItem+Order.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Models/CartItemTests.swift
Labels: type: enhancement, feature: POS

#13404 [Orders] Update documentation for lossy list decoding for order item attributes
  Networking/Networking/Model/OrderItem.swift
Labels: feature: order details, type: documentation

#13405 Performance Card: Save and show last updated timestamp
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardTimestampStore.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
Labels: feature: Background Updates

#13310 [Woo POS] Add test coverage for PointOfSaleDashboardViewModel
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockCartViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, category: unit tests

#13407 Top Performers: Add background update support
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersCardDataSyncUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: Background Updates

#13406 Fix wrong PR number in RELEASE-NOTES
  RELEASE-NOTES.txt
Labels: type: enhancement, feature: add/edit products

#13403 Product creation AI: Update layout for starting information screen
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/AIToneVoice/ToneOfVoiceView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ImageSelection/PackagePhotoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/ProductCreationAIStartingInfoView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/StartingInfo/PromptProgressBar/ProductCreationAIPromptProgressBar.swift
Labels: type: task, feature: add/edit products

#13395 [Woo POS] Floating control for menu and reader status
  WooCommerce/Classes/Extensions/String+POS.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-cart-back.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-cart-back.imageset/pos-cart-back.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-exit.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-exit.imageset/pos-exit.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-get-support.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-get-support.imageset/pos-get-support.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: POS

#13420 Refresh Cards Stale data
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardTimestampStore.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsPeriodViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformerDataViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Stats V4/StoreStatsPeriodViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  Yosemite/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Stores/StatsStoreV4.swift
Labels: feature: Background Updates

#13411 [Product Creation AI] Tracking for M3
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductCreationAI.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Container/AddProductWithAIContainerViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewViewModel.swift
Labels: feature: add/edit products

#13412 [Product Creation AI] Release M3
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: feature: add/edit products

#13409 Blaze: Track error for Blaze campaign creation failure
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentViewModel.swift
Labels: type: enhancement, category: tracks, feature: Blaze

#13408 Optimize last order dashboard card and keep order status consistent
  Networking/Networking/Model/Address.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/OrderAttributionInfo.swift
  Networking/Networking/Model/OrderCouponLine.swift
  Networking/Networking/Model/OrderFeeLine.swift
  Networking/Networking/Model/OrderFeeTaxStatus.swift
  Networking/Networking/Model/OrderGiftCard.swift
  Networking/Networking/Model/OrderItem.swift
  Networking/Networking/Model/OrderItemAttribute.swift
  Networking/Networking/Model/OrderItemProductAddOn.swift
  Networking/Networking/Model/OrderItemTax.swift
  Networking/Networking/Model/OrderMetaData.swift
  Networking/Networking/Model/OrderRefundCondensed.swift
  Networking/Networking/Model/OrderStatusEnum.swift
  Networking/Networking/Model/OrderTaxLine.swift
  Networking/Networking/Model/ShippingLine.swift
  Networking/Networking/Model/ShippingLineTax.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Orders/LastOrdersDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Reviews/ReviewsDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Order/OrderSearchUICommand.swift
  WooCommerce/Woo Watch App/Orders/OrdersListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListCellViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Search/Order/OrderSearchUICommandTests.swift
  Yosemite/Yosemite/Model/Enums/StatsTimeRangeV4.swift
Labels: type: enhancement, feature: order list

#13421 Google Ads: Enable feature flag in production
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/GoogleAds/GoogleAdsEligibilityChecker.swift
  WooCommerce/WooCommerceTests/GoogleAds/DefaultGoogleAdsEligibilityCheckTests.swift
Labels: type: task, feature: google-ads-campaigns

#13410 Blaze: Hide Blaze button on the product form after campaign creation
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+ObservablesTests.swift
Labels: type: bug, feature: Blaze

#13416 Revert "Remove GhostableViewController Conformances for Crash Investigation
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/ListSelector/PaginatedListSelectorViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Reviews/ProductReviewsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Classes/ViewRelated/Reviews/ReviewsViewController.swift
Labels: type: task

#13413 [Woo POS] Update cart UI
  WooCommerce/Classes/Extensions/String+POS.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductImageThumbnail.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-dismiss-products-banner.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-dismiss-products-banner.imageset/pos-dismiss-products-banner.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-remove-cart-item.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-remove-cart-item.imageset/pos-remove-cart-item.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: POS

#13428 Background Updates: Add track events
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+BackgroudUpdates.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Notifications/PushNotificationBackgroundSynchronizer.swift
  WooCommerce/Classes/Tools/BackgroundTasks/BackgroundTaskRefreshDispatcher.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tracks, feature: Background Updates

#13429 Hot Fix: Bring back coupons menu item
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: bug, priority: high

#13425 [Woo POS] Update floating control
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: feature: POS

#13418 [Woo POS] M2 UI: Enter POS mode loading screen
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/Font+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/IndefiniteCircularProgressViewStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13424 Added `password` field in `Product` model and Core Data
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Model/Product/Product.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 113.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
Labels: type: enhancement, feature: REST API

#13430 Blaze: Hide product destination URL if product URL is empty
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
Labels: type: enhancement, feature: Blaze

#13427 [Woo POS] M2: loading and syncing order in checkout UI update
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/POSCardPresentPaymentMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSProgressViewStyle.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13435 Update release notes for 19.7
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#13434 [Woo POS] M2: Checkout update - distinguish between validatingOrder and preparingForPayment states
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderMessageView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13419 [Woo POS] M2: Tests for entry mode loading
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocool.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/PointOfSaleDashboardViewModelTests.swift
Labels: category: unit tests, feature: POS

#13439 Background Updates: Release the feature
  RELEASE-NOTES.txt
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/Tools/BackgroundTasks/BackgroundTaskRefreshDispatcher.swift
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
Labels: feature: Background Updates

#13438 Pull request template update for PR including refactoring
  .github/PULL_REQUEST_TEMPLATE.md
Labels: category: tooling

#13442 [Woo POS] Remove padding from cart and product list views
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#13443 [Woo POS] M2: 'Ready for payment' UI update
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/POSCardPresentPaymentMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderMessageView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSProgressViewStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#13450 Fix crash for product publishing by removing the animation when reloading linked product banner
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: crash, feature: add/edit products

#13448 [Blaze] Jetpack plugin for eligibility
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEligibilityCheckerTests.swift
Labels: feature: Blaze

#13437 [Woo POS] M2: Add animation to loading and syncing order checkout UI
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13440 Dynamic Dashboard: Display unavailable analytics view when logged in without WPCom
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/UnavailableAnalyticsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Coupons/MostActiveCouponsCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/StoreStats/StorePerformanceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/TopPerformers/TopPerformersDashboardViewModelTests.swift
Labels: type: enhancement, feature: stats

#13461 Update Watch App Logo
  WooCommerce/StoreWidgets/Images.xcassets/woo-mini-logo.imageset/Contents.json
  WooCommerce/StoreWidgets/Images.xcassets/woo-mini-logo.imageset/woo-mini-logo.pdf
  WooCommerce/StoreWidgets/Lockscreen/AppLinkWidget.swift
Labels: feature: apple watch

#13456 Blaze: Fallback to default URL when product permalink cannot be decoded
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeAdDestinationSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: enhancement, feature: Blaze

#13455 Update unit tests for `password` field in Product
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/product-without-data.json
  Networking/NetworkingTests/Responses/product.json
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
Labels: category: unit tests, feature: REST API

#13447 Adds Site Address field to support form
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportFormsDataSources.swift
  WooCommerce/WooCommerceTests/Testing/MockZendeskManager.swift
  WooCommerce/WooCommerceTests/Tools/Support/SupportDataSourcesTests.swift
  WooCommerce/WooCommerceTests/Tools/Support/SupportFormViewModelTests.swift
Labels: feature: support

#13468 [Hotfix] Watch: Fix Application Password handling
  Networking/Networking/Network/AlamofireNetwork.swift
Labels: feature: apple watch
