Repository woocommerce/woocommerce-ios, pull requests merged in 2024-09, with the labels that each got.

#13801 [Woo POS] Code cleanup 2
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsModalButtonViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorLayout.swift
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSConnectivityView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/CartViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModelProtocol.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: enhancement, feature: POS

#13803 [Woo POS] Make message to processing transition smooth
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13807 [Blaze] Parse and store `start_time` of a Blaze campaign list item
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Mapper/BlazeCampaignListItemsMapperTests.swift
  Networking/NetworkingTests/Responses/blaze-campaigns-list-success.json
  RELEASE-NOTES.txt
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/Blaze/BlazeCampaignListItem+CoreDataProperties.swift
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 116.xcdatamodel/contents
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  Yosemite/Yosemite/Model/Storage/BlazeCampaignListItem+ReadOnlyConvertible.swift
Labels: feature: Blaze

#13811 [Shipping Labels] Add check for Woo Shipping support in order details
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
Labels: feature: shipping labels

#13828 [Beta fix] Update Sentry to avoid crash in SDK init
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: category: tooling, type: crash

#13836 Hub menu: Fix duplicated string key for Coupons and Reviews
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
Labels: type: bug

#13850 [HACK Week] Allow users to scan their order tracking number
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ProductSKUBarcodeScannerCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/SKUCodeScannerProvider.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/ScannerContainerViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCell.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/SKU Scanner/ProductSKUBarcodeScannerCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/ReusableViews/TitleAndEditableValueTableViewCell/TitleAndEditableValueTableViewCellTests.swift
Labels: feature: order details

#13848 Use named block parameter in `complete_code_freeze`
  fastlane/Fastfile
Labels: category: tooling

#13814 Add Custom Fields to Product Model in Networking
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/AIProduct.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  Networking/NetworkingTests/Responses/product.json
  WooCommerce/Classes/Extensions/Product+SwiftUIPreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/ProductFactory.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
Labels: type: task, feature: product details

#13834 Update Core Data Model by adding `customFields` to-many relationship from `Product` to `MetaData`
  Networking/Networking/Model/MetaData.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Model/MIGRATIONS.md
  Storage/Storage/Model/MetaData+CoreDataProperties.swift
  Storage/Storage/Model/Product+CoreDataProperties.swift
  Storage/Storage/Model/WooCommerce.xcdatamodeld/.xccurrentversion
  Storage/Storage/Model/WooCommerce.xcdatamodeld/Model 117.xcdatamodel/contents
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Yosemite/Yosemite/Stores/Order/OrdersUpsertUseCase.swift
  Yosemite/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
Labels: type: task

#13791 [Tooling] Add Release Publishing automation
  .buildkite/release-pipelines/publish-release.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#13796 Blaze: Update product image picker
  Networking/Networking/Model/Product/ProductImage.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdHostingController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/ImageSelection/SelectPackageImageCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/MediaPickingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagePicker/ProductImagePickerView.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagePicker/ProductImagePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductUIImageLoader.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/MediaPickingCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagePickerViewModelTests.swift
Labels: type: enhancement, feature: Blaze

#13734 Add note_full_data parsing from notification payload, open proper order from notification
  Networking/Networking/Model/Note.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Model/MarkOrderAsReadUseCase.swift
  WooCommerce/Classes/Model/Note+Woo.swift
  WooCommerce/Classes/Notifications/ApplicationAdapter.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ServiceLocator/PushNotification.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/NotificationExtension/OrderNotificationDataService.swift
  WooCommerce/NotificationExtension/OrderNotificationViewController.swift
  WooCommerce/NotificationExtension/OrderNotificationViewModel.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailLoader.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockApplicationAdapter.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationTests.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: feature: notifications

#13854 [Order payments] Fix Change and Discount calculations for numbers including a grouping separator
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeOrDiscountLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/DiscountLineDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/ProductsSection/ProductDiscountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeOrDiscountLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Payment Methods/PaymentMethodsViewModelTests.swift
  WooFoundation/WooFoundation/Currency/CurrencyFormatter.swift
Labels: type: bug

#13816 [Blaze] No campaign reminder
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeLocalNotificationScheduler.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/BlazeLocalNotificationSchedulerSpy.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/LocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeLocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: feature: Blaze

#13501 Add Product Password Management for WooCommerce 8.1+ with Application Password Login
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductVariationModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductPasswordEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsRows.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Product Settings/ProductSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormRemoteActionUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormRemoteActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductPasswordEligibilityUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/Settings/ProductSettingsViewModelTests.swift
Labels: type: enhancement, type: task, feature: add/edit products, feature: REST API

#13855 [Tooling] Use shared pipeline vars
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/publish-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  .buildkite/shared-pipeline-vars
  fastlane/Fastfile
Labels: category: tooling

#13815 [Woo POS] Adds `pointOfSale` remote feature flag check to eligibility
  Networking/Networking/Remote/FeatureFlagRemote.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: type: task, feature: POS

#13839 [Woo POS] Remove POS access reliance on beta feature toggle switch
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralAppSettings.swift
  Storage/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Model/BetaFeature.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesConfigurationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Model/BetaFeaturesConfigurationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: enhancement, type: task, feature: POS

#13849 Blaze: Add new row for campaign objective
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
Labels: type: task, feature: Blaze

#13846 Blaze: Separate states for schedule and budget settings
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeScheduleSettingView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: Blaze

#13830 Add swap camera button to code scanner view controller
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.swift
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.xib
Labels: type: enhancement

#13870 Update release notes for 20.3
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#13883 Update `shared-pipeline-vars` to latest syntax standards
  .buildkite/shared-pipeline-vars
Labels: category: tooling

#13893 [Woo POS] Automatically dismiss reader connection success modal
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertViewModelTests.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Mocks/MockScheduler.swift
  WooFoundation/WooFoundation/Utilities/Scheduler.swift
Labels: type: task, feature: POS

#13882 [Shipping labels] Navigate to new shipping labels flow when store is eligible for it
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#13899 [Order Tracking] Use SF Symbol for the barcode
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipment Tracking Section/Add Tracking/ManualTrackingViewController.swift
Labels: type: task, feature: order creation

#13866 [Woo POS] Design feedback: Loading view
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#13858 Blaze: Add UI for campaign objective picker
  Networking/Networking/Model/Blaze/BlazeCampaignObjective.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignObjectives/BlazeCampaignObjectivePickerView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignObjectives/BlazeCampaignObjectivePickerViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignObjectivePickerViewModelTests.swift
Labels: type: task, feature: Blaze

#13892 Blaze: Persist and retrieve selected campaign objective
  Storage/Storage/Tools/StorageType+Extensions.swift
  Storage/StorageTests/Tools/StorageTypeExtensionsTests.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignObjectives/BlazeCampaignObjectivePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignObjectives/UserDefaults+BlazeCampaignObjective.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignObjectivePickerViewModelTests.swift
Labels: type: task, feature: Blaze

#13900 [Woo POS] Keep simple products banner visible while pull to refresh
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/ViewModels/ItemListViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/ItemListViewModelTests.swift
Labels: type: bug, feature: POS

#13897 Clear card present payment onboarding cache after logging out
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/CardPresentPluginsDataProvider.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentReceiptEmailParameterDeterminer.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingUseCase.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Tools/CardPresentPluginsDataProviderTests.swift
  WooCommerce/WooCommerceTests/Yosemite/StoresManagerTests.swift
Labels: type: bug, feature: mobile payments, feature: POS

#13903 Fix incorrect title for single selection product selector
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
Labels: type: bug

#13918 [Woo POS] Floating Control Updates
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#13905 [Woo POS] Animate bottom tab on switch modes
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
Labels: type: task, feature: POS

#13914 Blaze: Send objective for campaign creation
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Blaze/CreateBlazeCampaign.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignObjectives/BlazeCampaignObjectivePickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignObjectivePickerViewModelTests.swift
Labels: type: task, category: tracks, feature: Blaze

#13926 [Login] Stop treating login URLs as universal links
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Universal Links/UniversalLinkRouter.swift
  WooCommerce/WooCommerceTests/Universal Links/UniversalLinkRouterTests.swift
Labels: type: bug, feature: login

#13872 [Tooling] Updating YAML files removing quotes when they're not needed
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/publish-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
Labels: category: tooling

#13907 [Woo POS] Hub Menu icon update
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
Labels: type: task, feature: POS

#13911 Xcode 16 Support
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: type: task, iOS 18

#13921 [Woo POS] Cache `ItemList` thumbnails. Retrieve from cache for `CartView`
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductImageThumbnail.swift
Labels: type: task, feature: POS

#13931 Merge release 20.2.1 into 20.3
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/Universal Links/UniversalLinkRouter.swift
  WooCommerce/WooCommerceTests/Universal Links/UniversalLinkRouterTests.swift
Labels: Releases

#13843 [Blaze] Open campaign detail upon tapping push notification
  Networking/Networking/Model/MetaContainer.swift
  Networking/Networking/Model/Note.swift
  Networking/NetworkingTests/Mapper/NoteListMapperTests.swift
  Networking/NetworkingTests/Remote/NotificationsRemoteTests.swift
  Networking/NetworkingTests/Responses/notifications-load-all.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ServiceLocator/PushNotification.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerceTests/Mocks/MockPushNotificationsManager.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignListViewModelTests.swift
  Yosemite/YosemiteTests/Stores/NotificationStoreTests.swift
Labels: feature: Blaze

#13930 [Shipping labels] Add items section with static content to Create Shipping Labels view
  WooCommerce/Classes/View Modifiers/View+RoundedBorder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItems.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#13934 Blaze: Update layout for Blaze campaign list item to display human-readable values and fix clipped off layout
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/BlazeCampaignListItem+Customizations.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/CollapsibleHStack.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/BlazeCampaignListItemCustomizationsTests.swift
Labels: type: enhancement, feature: Blaze

#13896 Mark order notification read if needed on watch app and notification extension
  RELEASE-NOTES.txt
  WooCommerce/Classes/Model/MarkOrderAsReadUseCase.swift
  WooCommerce/Classes/Model/Note+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderLoaderViewController.swift
  WooCommerce/NotificationExtension/OrderNotificationDataService.swift
  WooCommerce/Woo Watch App/App/WooApp.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailLoader.swift
  WooCommerce/Woo Watch App/Orders/OrdersListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement

#13922 Blaze: Navigate to the native campaign creation flow from the campaign detail web view
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDetailWebViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDetailWebViewModelTests.swift
Labels: type: task, feature: Blaze

#13943 Blaze: Fix the layout of loading state and error state of objective picker view
  WooCommerce/Classes/ViewRelated/Blaze/CampaignObjectives/BlazeCampaignObjectivePickerView.swift
Labels: type: bug, feature: Blaze

#13923 [Woo POS] Wrap product name in cards to two lines
  WooCommerce/Classes/POS/Presentation/ItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
Labels: type: task, feature: POS

#13940 [Woo POS] Design iteration on Simple Products banner
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
Labels: type: task, feature: POS

#13947 Use named block parameters in `new_hotfix_release` lane
  fastlane/Fastfile
Labels: category: tooling

#13957 Point authenticator library to version 9.10.0
  Podfile
  Podfile.lock
Labels: Releases

#13959 Update release notes for app version 20.4
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#13950 [Blaze] Abandoned campaign creation reminder
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/Blaze/BlazeLocalNotificationScheduler.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/BlazeLocalNotificationSchedulerSpy.swift
  WooCommerce/WooCommerceTests/Notifications/LocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeLocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: feature: Blaze

#13917 Adopt new way of getting notification data in PushNotificationBackgroundSynchronizer
  WooCommerce/Classes/Notifications/PushNotificationBackgroundSynchronizer.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationBackgroundSynchronizerTests.swift
Labels: type: enhancement

#13962 [Shipping labels] Add view models to provide data from order items to items section
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItems.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
Labels: feature: shipping labels

#13964 [Shipping labels] Add support for retrieving products and product variations related to the order items
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
Labels: feature: shipping labels

#13965 [Shipping labels] Add data from products and variations to items section
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockShippingSettingsService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
Labels: feature: shipping labels

#13937 [Woo POS] Tap background to dismiss modals
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalManager.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
Labels: type: task, feature: POS

#13929 Add MetaData remote update into Networking and Yosemite layer for Orders and Products
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/MetaDataMapper.swift
  Networking/Networking/Remote/MetaDataRemote.swift
  Networking/NetworkingTests/Mapper/MetaDataMapperTests.swift
  Networking/NetworkingTests/Remote/MetaDataRemoteTests.swift
  Networking/NetworkingTests/Responses/meta-data-products-and-orders.json
  Networking/NetworkingTests/Responses/meta-data-products-and-orders_nested_in_data.json
  Networking/NetworkingTests/Responses/meta-data-products-orders-update.json
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/MetaDataAction.swift
  Yosemite/Yosemite/Stores/MetaDataStore.swift
Labels: type: task, feature: order details, feature: add/edit products

#13976 [Mobile Payments] Log Stripe error codes within the CardReaderService
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: mobile payments

#13968 Blaze: Navigate to campaign creation after tapping on local notifications
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeLocalNotificationScheduler.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeLocalNotificationSchedulerTests.swift
Labels: type: task, feature: Blaze

#13952 Xcode 16 support: Point ViewInspector to a commit that allows to run Unit Tests
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: unit tests, iOS 18

#13969 [Woo POS] Update POS success view design
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#13977 [Tooling] Release Publishing fix
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/publish-release.yml
  .buildkite/release-pipelines/update-metadata-on-app-store-connect.yml
  fastlane/Fastfile
Labels: category: tooling

#13979 Fix formatting issues for discount and cash payment input values when the device and store currency settings are different
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/FormattableAmountTextFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/PriceFieldFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/FeeOrDiscountLineDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Shipping/ShippingLineSelectionDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/Cash/CashPaymentTenderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/CustomAmounts/FormattableAmountTextFieldViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/FeeOrDiscountLineDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/PriceFieldFormatterTests.swift
Labels: type: bug, feature: order creation

#13975 [Woo POS] Cart view design updates
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#13990 Update ViewInpector to v0.10.0
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling, Testing

#13997 Safely get the first inputs value to avoid a potential crash
  WooCommerce/Classes/ViewRelated/Products/SKU Scanner/CodeScannerViewController.swift
Labels: type: crash

#13863 Custom Fields: Editor UI
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldViewModelTests.swift
Labels: type: task

#13999 [Woo POS] Simplify `TotalsViewModel` protocol. Update access control
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, feature: POS

#13982 Remove CardPresentPluginsDataProvider singleton when initializing `PaymentReceiptEmailParameterDeterminer`
  WooCommerce/Classes/Tools/CardPresentPluginsDataProvider.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentReceiptEmailParameterDeterminer.swift
Labels: type: enhancement, feature: mobile payments

#14007 Update release notes for app version 20.5
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14008 Log storage usage for core data crashes
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
Labels: type: task, category: tooling

#14000 [Woo POS] Dismiss connection modals immediately while cancelling connection
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCardReader.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentFacade.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreviewService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentReaderConnectionStatus.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionViewModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyleTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
Labels: type: enhancement, feature: POS

#14006 [Woo POS] Skip flaky test
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: task, category: unit tests, feature: POS

#13993 Jetpack Setup: Fix issue syncing site info when setting up Jetpack plugin for JCP sites
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/JCPJetpackInstall/JCPJetpackInstallStepsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/JetpackInstall/JCPJetpackInstallStepsViewModelTests.swift
Labels: type: bug, category: jetpack

#13992 Blaze: Update campaign details after dismiss the detail view
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/Blaze/BlazeCampaignListItemMapper.swift
  Networking/Networking/Remote/BlazeRemote.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/NetworkingTests/Responses/blaze-campaign-retrieval-success.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModel.swift
  Yosemite/Yosemite/Actions/BlazeAction.swift
  Yosemite/Yosemite/Stores/BlazeStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockBlazeRemote.swift
  Yosemite/YosemiteTests/Stores/BlazeStoreTests.swift
Labels: type: enhancement, feature: Blaze

#14015 [Shipping labels] Update item price label to display total price based on item quantity
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
Labels: feature: shipping labels

#14020 [Shipping labels] Use ShippingLabelPackageItem for Woo Shipping items
  WooCommerce/Classes/Model/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
Labels: feature: shipping labels

#14023 [Shipping labels] Add read-only hazmat section for Woo Shipping
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItems.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14024 [Shipping labels] Add package selection button for Woo Shipping
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package Selection/WooShippingPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14012 Fix concurrency issue with Blaze local notification scheduler
  RELEASE-NOTES.txt
  WooCommerce/Classes/Blaze/BlazeLocalNotificationScheduler.swift
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: type: bug, feature: Blaze

#13996 [Woo POS] Handle payment intent creation errors to recover POS state
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/ViewModels/PointOfSaleDashboardViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModel.swift
  WooCommerce/Classes/POS/ViewModels/TotalsViewModelProtocol.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyleTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockTotalsViewModel.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/TotalsViewModelTests.swift
Labels: type: bug, feature: POS

#14002 `MetaDataStore` unit tests
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockMetaDataRemote.swift
  Yosemite/YosemiteTests/Stores/MetaDataStoreTests.swift
Labels: type: task, category: unit tests

#14031 Add focus functionality for title text field in Product Category
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Categories/Add Category/AddEditProductCategoryViewController.swift
Labels: type: enhancement, feature: add/edit products

#14021 [Mobile Payments] Prevent sleep during Card Reader software updates
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: mobile payments

#14032 [Shipping labels] Add placeholder section for shipping label rates
  WooCommerce/Classes/View Modifiers/View+RoundedBorder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package Selection/WooShippingPackageSelection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#14046 Add back `attributes` encoding to `Product` entity
  Networking/Networking/Model/Product/Product.swift
  Networking/NetworkingTests/Mapper/ProductMapperTests.swift
  RELEASE-NOTES.txt
Labels: type: bug, feature: add/edit products

#13983 Dashboard: Display contents in 2 columns for large screens
  RELEASE-NOTES.txt
  Storage/Storage/Model/DashboardCard.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DynamicDashboard.swift
  WooCommerce/Classes/Tools/BackgroundTasks/DashboardSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Coupons/MostActiveCouponRow.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardCustomization/DashboardCard+UI.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/GoogleAds/GoogleAdsDashboardCard.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
Labels: type: enhancement

#12284 [HACK week] Product form - Action buttons to mark/remove as favorite
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ProductForm.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModelProtocol.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductVariationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/FavoriteProducts/FavoriteProductsUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFavoriteProductsUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultFavoriteProductsUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+FavoriteProductIDs.swift
Labels: feature: add/edit products, category: tracks

#13995 [HACK week] Product list - Add favorite product filter option
  Networking/Networking/Model/Product/StoredProductSettings.swift
  WooCommerce/Classes/ViewRelated/Products/FavoriteProducts/FavoriteProductsUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModel+numberOfActiveFiltersTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelProductListFilterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelTests.swift
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockAppSettingsActionHandler.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductsSettings.swift
Labels: feature: product list

#13998 [HACK week] Favorite products - Remote and storage code for synching favorite products using IDs
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
  Yosemite/Yosemite/Actions/ProductAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockProductActionHandler.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/Yosemite/Tools/Products/ResultsController+FilterProducts.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStore+FilterProductsTests.swift
  Yosemite/YosemiteTests/Tools/Products/ResultsController+FilterProductTests.swift
Labels: feature: product list

#14001 [HACK week] Adds favorite products filter
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/FavoriteProducts/FavoriteProductsUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductListViewModelTests.swift
Labels: feature: product list

#13946 Add MarkOrderAsReadUseCase tests
  Networking/Networking/Network/MockNetwork.swift
  Networking/NetworkingTests/Mapper/NoteListMapperTests.swift
  Networking/NetworkingTests/Remote/NotificationsRemoteTests.swift
  Networking/NetworkingTests/Responses/notifications-load-all.json
  WooCommerce/Classes/Model/MarkOrderAsReadUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Model/MarkOrderAsReadUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/NotificationStoreTests.swift
Labels: category: unit tests

#14052 [Shipping labels] Add bottom sheet UI with shipment details (static data)
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/View Modifiers/View+RoundedBorder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Resources/Images.xcassets/icon-product.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-product.imageset/􀈭.svg
  WooCommerce/Resources/Images.xcassets/icon-shipping.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-shipping.imageset/􁁾.svg
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: feature: shipping labels

#14040 Blaze: Show feedback banner and survey after campaign creation
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+Blaze.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Blaze/BlazeCampaignCreationCoordinator.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/AI/ProductDescriptionGenerationView.swift
  WooCommerce/Classes/ViewRelated/Products/AI/ProductSharingMessageGenerationView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/LegacyProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Preview/ProductDetailPreviewView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/CelebrationView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FeedbackView.swift
Labels: type: task, category: tracks, feature: Blaze

#14055 [Shipping labels] Remove label paper size from shipment details to match updated designs
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
Labels: feature: shipping labels

#14058 Update release notes for app version 20.6
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14018 Enhance error logging in `OrderDetailsDataSource`
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: feature: order details

#14064 Move a release note from 20.6 to 20.7
  RELEASE-NOTES.txt
Labels: type: task

#13994 Mitigation: Custom Amounts CTA not being tappable unless keyboard is manually dismissed
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountView.swift
Labels: type: bug, type: task, feature: order creation

#13925 Custom Fields: Refactor AztecEditorView to be reusable
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldEditorView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorView.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecEditorViewController.swift
  WooCommerce/Classes/ViewRelated/Editor/EditorFactory.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldViewModelTests.swift
Labels: type: task

#14029 Custom Fields: Local editing logic
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Custom Fields/CustomFieldsListViewModelTests.swift
Labels: type: task

#14057 Fix amount text field breaking when decimal separator has spaces
  WooCommerce/Classes/Tools/UnitInputFormatter/CurrencySettings+Sanitized.swift
  WooCommerce/Classes/Tools/UnitInputFormatter/DecimalInputFormatter.swift
  WooCommerce/Classes/Tools/UnitInputFormatter/PriceInputFormatter.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/PriceFieldFormatter.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Tools/DecimalInputFormatterTests.swift
  WooCommerce/WooCommerceTests/Tools/PriceInputFormatterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/PriceFieldFormatterTests.swift
Labels: type: bug, feature: coupons, feature: order creation

#14017 [Mobile Payments] Automatically dismiss onboarding when successful
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CardPresentPaymentsOnboardingPresenter.swift
Labels: type: bug, feature: mobile payments

#14022 [Mobile Payments] Show description for trial tap to pay line items
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayTryPaymentPromptViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummary.swift
  WooCommerce/Classes/ViewRelated/Orders/Simple Payments/Summary/SimplePaymentsSummaryViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Simple Payments/SimplePaymentsSummaryViewModelTests.swift
  Yosemite/Yosemite/Actions/OrderAction.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
Labels: type: task, feature: mobile payments

#14077 Update ListSelectorViewController to use safe index accessors
  WooCommerce/Classes/ViewRelated/ListSelector/ListSelectorViewController.swift
Labels: type: crash
