Repository woocommerce/woocommerce-ios, pull requests merged in 2025-03, with the labels that each got.

#15266 Shipping Labels: Handle errors when loading required data
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Resources/Images.xcassets/error-icon-gray.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/error-icon-gray.imageset/error-icon-gray-dark.pdf
  WooCommerce/Resources/Images.xcassets/error-icon-gray.imageset/error-icon-gray.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Mocks/MockShippingSettingsService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15272 [Shipping Labels] Disable editing addresses of an existing shipping label
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
Labels: feature: shipping labels

#15273 Shipping Labels: Handle unverified origin address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15274 Shipping Labels: Show error alert when saving custom package fails
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: type: task, feature: shipping labels

#15276 [Shipping Labels] Handle error UI states for label rates
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Resources/Images.xcassets/woo-shipping-rates-placeholder.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-shipping-rates-placeholder.imageset/woo-shipping-rates-placeholder-dark.pdf
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#15279 [Shipping Labels] Show alert when printing shipping label fails
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingPostPurchaseViewModelTests.swift
Labels: feature: shipping labels

#15281 Improve accessibility for login flow
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.xib
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.xib
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Password/Password.storyboard
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Reusable Views/GravatarEmailTableViewCell.xib
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Reusable Views/TextLinkButtonTableViewCell.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Reusable Views/TextLinkButtonTableViewCell.xib
Labels: type: bug, feature: login

#15285 Update release notes for 21.9
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15289 [IPP - COD] Change URL after fragments stopped working
  WooCommerce/Classes/System/WooConstants.swift
Labels: feature: mobile payments

#15275 Fix crash when picking an image for a product
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: crash

#15262 [Woo POS] Fix leak when exiting POS on iOS 17
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: bug, feature: POS

#15284 Shipping Labels: Handle error and empty states on the save packages screen
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Resources/Images.xcassets/gift-icon.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/gift-icon.imageset/gift-icon-dark.pdf
  WooCommerce/Resources/Images.xcassets/gift-icon.imageset/gift-icon-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: shipping labels

#15286 Shipping Labels: Handle error saving packages
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
Labels: type: task, feature: shipping labels

#15196 Initial changes for saving product images upload statuses in UserDefaults
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/ProductImageInBackground/ProductImageStatus.swift
  Networking/Networking/ProductImageInBackground/ProductOrVariationID.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Product+Media.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageStatus+Extension.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockProductImageActionHandler.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageStatus+HelpersTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: product details, feature: add/edit products

#15253 Add Codable Unit Tests for `ProductImageStatus`, `ProductImageAssetType` and `ProductOrVariationID`
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Encoder/ProductImageAssetTypeCodableTests.swift
  Networking/NetworkingTests/Encoder/ProductImageStatusCodableTests.swift
  Networking/NetworkingTests/Encoder/ProductOrVariationIDCodableTests.swift
  Networking/NetworkingTests/Mocks/PHAssetMock.swift
Labels: category: unit tests

#15256 `ProductImageStatusStorage` class for managing stored images statuses in User Defaults
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/ProductImageInBackground/ProductImageStatus.swift
  Networking/Networking/ProductImageInBackground/ProductImageStatusStorage.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/FeatureFlagTests.swift
Labels: feature: add/edit products

#15293 [Woo POS]Track new cash events
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: enhancement, category: tracks, feature: POS

#15322 [Shipping Labels] Show custom error when no label rates available
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#15328 Enable scrolling in card present modals when it cannot grow in size anymore
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalBuiltInSuccessEmailSent.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalSuccessEmailSent.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardPresentPaymentsModalViewController.xib
Labels: type: bug, category: accessibility, feature: mobile payments

#15319 Shipping Labels: Show notice when ITN is missing for customs form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15342 [Shipping Labels] Delay error notice
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
Labels: feature: shipping labels

#15349 [Woo POS] Coupons: Adds `enableCouponsInPointOfSale` feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: feature: coupons, feature: POS

#15351 [Woo POS] Coupons: Fetch coupons from local storage
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSCoupon.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
Labels: feature: coupons, feature: POS

#15352 Shipping Labels: Initial navigation for HAZMAT row
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmat.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#15353 Add site related info to survey URLs
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/URL+SurveyViewControllerTests.swift
Labels: feature: shipping labels

#15354 Shipping Labels: UI for HAZMAT detail screen
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatDetailView.swift
Labels: type: task, feature: shipping labels

#15369 [Shipping Labels] Split shipment navigation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#15368 Shipping Labels: Add new screen to select category for HAZMAT
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Extensions/UISearchBar+Appearance.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatCategoryList.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#14972 [Payments] Add WooPayments IPP support for Puerto Rico
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
Labels: type: bug, feature: mobile payments

#15374 Disable `review_status` in CodeRabbit config.
  .coderabbit.yaml
Labels: type: enhancement, category: tooling

#15373 HACK Week: New screen for notification settings
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: enhancement, feature: notifications

#15379 [Split Shipment] Add label config endpoint support
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingConfigMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingConfigResponse.swift
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingShipment.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPurchase.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Mapper/ShippingLabelPurchaseMapperTests.swift
  Networking/NetworkingTests/Mapper/WooShippingConfigMapperTests.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/shipping-label-config-success-without-data.json
  Networking/NetworkingTests/Responses/shipping-label-config-success.json
  Networking/NetworkingTests/Responses/shipping-label-purchase-success-without-data.json
  Networking/NetworkingTests/Responses/shipping-label-purchase-success.json
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#15378 HACK Week: Update notification settings to reflect notification permission
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsViewModel.swift
  WooCommerce/Resources/Images.xcassets/bell-icon.imageset/Bell-2.pdf
  WooCommerce/Resources/Images.xcassets/bell-icon.imageset/Bell.pdf
  WooCommerce/Resources/Images.xcassets/bell-icon.imageset/Contents.json
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/NotificationSettingsViewModelTests.swift
Labels: type: enhancement, feature: notifications

#15383 HACK Week: Show site list on notification settings screen for configurations
  Networking/Networking/Model/Site.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/SiteNotificationSettingsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Settings/NotificationSettingsViewModelTests.swift
Labels: type: enhancement, feature: notifications

#15389 HACK Week: Release filter history persistence
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: enhancement, feature: order list, feature: product list

#15391 HACK Week: Add entry point to connectivity tool from Settings
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+ConnectivityTool.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Connectivity Tool/ConnectivityTool.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: enhancement, feature: app settings, category: tracks

#15386 HACK Week: Load and update site settings
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/NotificationSettings.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/NotificationSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/NotificationSettings/SiteNotificationSettingsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/NotificationSettingsViewModelTests.swift
Labels: type: enhancement, feature: notifications, category: tracks

#15395 Task/22.0 release notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task

#15388 Disable 'Add Discount' product button if the order is loading
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CollapsibleProductCard.swift
Labels: type: bug, feature: order creation

#15397 [Shipping Labels] Split shipment initial UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/SelectableShipmentRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/SelectableShipmentRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: feature: shipping labels

#15392 [Order Form] Fix: Do not sync product selection state with order item state when dismissing Order view
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
Labels: type: bug, feature: order creation

#15406 [Shipping Labels] Split shipments instructions notice
  WooCommerce/Classes/Tools/Notices/DefaultNoticePresenter.swift
  WooCommerce/Classes/Tools/Notices/Notice.swift
  WooCommerce/Classes/View Modifiers/View+NoticesModifier.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/WooCommerceTests/Authentication/Epilogue/SwitchStoreNoticePresenterTests.swift
Labels: feature: shipping labels

#15400 Shipping Labels: Handle HAZMAT category selection
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15405 Shipping Label: Edit and remove HAZMAT category
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatDetailView.swift
Labels: type: task, feature: shipping labels

#15366 [Woo POS] Allow item list switch between Products and Coupons
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
Labels: type: task, feature: coupons, feature: POS

#15414 [Woo POS] Coupons: Send coupon(s) in order creation request
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Tools/POS/POSCart.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: task, feature: POS

#15404 [HACK][Merchant AI key] Add feature flag & render settings row if eligible
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/AI Settings/AISettingsView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
Labels: type: enhancement, feature: add/edit products, category: tracks

#15418 [Shipping Labels] Show options to move selected items
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/MoveToShipmentNotice.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#15421 Disable `allowMerchantAIAPIKey` flag in all builds
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task, feature: app settings

#15422 Shipping Label: Rename views and properties for shipment items
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/SelectableShipmentItemRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/SelectableShipmentItemRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#15420 [Woo POS] Coupons: Show an error and CTA to proceed without Coupons - Dummy UI
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderState.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncCouponsErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/CouponsError.swift
Labels: type: task, feature: POS

#15417 [Woo POS] Coupons: Provide coupons to ItemList (happy path)
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
Labels: feature: coupons, feature: POS

#15415 Shipping Labels: Add separate tabs for shipments
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/MoveToShipmentNotice.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15377 Stripe Terminal SDK update 4.2.0
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/CardReader/PaymentIntentParameters.swift
  Hardware/Hardware/CardReader/PaymentMethodType.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderDiscoveryMethod+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/CardReaderType+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/PaymentIntentParameters+Stripe.swift
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/StripeCardReader/UnderlyingError+Stripe.swift
  Hardware/HardwareTests/PaymentIntentParametersTests.swift
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentInvalidatablePaymentOrchestrator.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockPaymentCaptureOrchestrator.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/PaymentCaptureOrchestratorTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
Labels: type: task, feature: mobile payments

#15323 [Tooling] Migrate Prototype Builds to Firebase App Distribution
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/env/user.env.example
Labels: category: tooling, milestone-not-required

#14999 Improve data fetching in Order Details, to avoid I/O performance on the main thread
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Order.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelRefundStatus.swift
  Networking/Networking/Model/ShippingLabel/Enums/ShippingLabelStatus.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabel.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelAddress.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelRefund.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsViewControllerTests.swift
  Yosemite/Yosemite/Actions/ShippingLabelAction.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockShippingLabelActionHandler.swift
  Yosemite/Yosemite/Model/Mocks/MockObjectGraph.swift
  Yosemite/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: feature: order details

#15441 [Woo POS][Products Search] Add POSProduct in Networking
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/ListMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/POSProduct.swift
  Networking/Networking/Model/Product/Product.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
Labels: type: task, feature: POS

#15264 Store Product Image Upload statuses in UserDefaults
  Networking/Networking/Model/Product/ProductImage.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
Labels: feature: add/edit products

#15453 Reset simulated reader setting to `NO`
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce.xcscheme
Labels: type: task

#15446 [Shipping Labels] Update shipment endpoint - Yosemite layer
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingUpdateShipmentMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingConfigResponse.swift
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingShipmentItem.swift
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingUpdateShipment.swift
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingUpdateShipmentResponse.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Mapper/WooShippingUpdateShipmentMapperTests.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#15447 Shipping Labels: Fix issue updating tab view upon merging shipments
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddPackageViewModelTests.swift
Labels: type: task, feature: shipping labels

#15450 Tests for generic ListMapper
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Mapper/ListMapperTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
Labels: type: task, category: architecture, category: unit tests

#15451 [Woo POS] Coupons: Display coupon discount in cart – Dummy UI
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderTotals.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/CouponRowView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
Labels: type: task, feature: POS

#15456 [Woo POS] Show Location Permissions notice and error in Point of Sale
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentTapToPayReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentAlertType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedLocationRequiredAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingLocationPreAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedLocationRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingLocationPreAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentAlert.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalLocationRequired.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/TapToPayCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/TapToPayReaderConnectionAlertsProvider.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
Labels: type: bug, feature: POS

#15455 [Woo POS] Coupons: Display discounted amount in price summary when coupon applied – Dummy UI
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderTotals.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/TotalsViewHelperTests.swift
Labels: type: task, feature: POS
