Repository woocommerce/woocommerce-ios, pull requests merged in 2025-02, with the labels that each got.

#15038 [Brand Updates] Fix iPad screenshots background
  fastlane/appstoreres/assets/ipad-background-2.png
Labels: type: task, category: screenshots

#15042 Fix watch App Icon
  WooCommerce/Woo Watch App/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
Labels: type: task, category: design

#15044 [Brand Updates] Disable automatic publishing of TestFlight build
  fastlane/Fastfile
Labels: Releases

#15046 Fix failing POS payments test
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, feature: POS

#15026 [UI Tests] Fix tests failing after the brand update
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/WooCommerceUITests/Flows/MockDataReader.swift
Labels: category: ui tests

#15054 Update Woo logo in README.md
  README.md
  docs/images/logo-woo.svg
  docs/images/logo-woocommerce.svg
Labels: type: documentation, category: design

#15041 Product Details: Display cover tag on the first product image
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
Labels: type: task, feature: product details

#15049 [Shipping labels] Update origin address remotely
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingNormalizeAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingNormalizeAddressViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: shipping labels

#15055 Fix some PointOfSaleAggregateModel memory leaks
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
Labels: type: bug, feature: POS

#15043 [Orders] Improve accessibility when setting order tax rates
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Taxes/NewTaxRateSelectorView.swift
Labels: feature: order details, category: accessibility

#15048 [Woo POS] Make POS aggregate model require iOS 17
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, feature: POS

#15059 [Woo POS] Make POS aggregate model Observable
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#15047 [Woo POS] MVP order, cart, and miscellaneous events
  WooCommerce/Classes/Analytics/AppStartupWaitingTimeTracker.swift
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WaitingTimeTracker.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/System/WaitingTimeTrackerTests.swift
Labels: category: tracks, feature: POS

#15062 [Shipping labels] Add UI to indicate destination address verification status
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
Labels: feature: shipping labels

#15056 Fix Media Library that doesn't load because of Decoding Error in Media Details Sizes
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Media/WordPressMedia.swift
  Networking/NetworkingTests/Mapper/WordPressMediaMapperTests.swift
  Networking/NetworkingTests/Responses/media-library-with-empty-sizes.json
  RELEASE-NOTES.txt
Labels: type: bug, feature: product details, priority: medium

#15080 [Shipping labels] Extract bottom sheet content into sub-views
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
Labels: feature: shipping labels

#15060 [Woo POS] Use `Observation` to fix refresh issue
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/ItemsStackState.swift
  WooCommerce/Classes/POS/Models/ItemsViewState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, feature: POS

#15064 Remove WordPressAuthenticator as a testable from `xcschemes`
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/StoreWidgetsExtension.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/Woo Watch App.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce Alpha.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce IAP.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerceScreenshots.xcscheme
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerceUITests.xcscheme
Labels: type: technical debt

#15077 [Woo POS] Hide cancellation errors when refreshing
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
Labels: type: task, feature: POS

#15083 POS: Fix retain cycles related to payment onboarding view
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentOnboardingAdaptor.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewModel.swift
Labels: type: bug, feature: POS

#15079 [Woo POS] don't set loading state for pull to refresh
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
Labels: type: task, feature: POS

#15082 WaitingTimeTracker improvements
  WooCommerce/Classes/Analytics/AppStartupWaitingTimeTracker.swift
  WooCommerce/Classes/Analytics/WaitingTimeTracker.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/WooCommerceTests/System/WaitingTimeTrackerTests.swift
Labels: type: enhancement, category: tracks

#15087 [Woo POS] Use Observation for order state
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
Labels: type: task, feature: POS

#15081 [Shipping labels] Add "missing address" label and notice for destination address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#15099 Release Notes 21.7
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#15084 [Shipping labels] Add placeholder for shipping label rates when destination address is missing
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Resources/Images.xcassets/woo-shipping-rates-placeholder.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-shipping-rates-placeholder.imageset/woo-shipping-rates-placeholder.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels

#15066 Centralize deployment targets into `xcconfig` files
  Experiments/Experiments.xcodeproj/project.pbxproj
  Experiments/Experiments/Experiments.xcconfig
  Fakes/Fakes.xcodeproj/project.pbxproj
  Fakes/Fakes/Fakes.xcconfig
  Hardware/Hardware.xcodeproj/project.pbxproj
  Hardware/Hardware/Hardware.xcconfig
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Networking.xcconfig
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage/Storage.xcconfig
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/WooFoundation.xcconfig
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Yosemite.xcconfig
  config/Common.xcconfig
  config/WooCommerce.common.xcconfig
  config/WooCommerce.debug.xcconfig
  config/WooCommerce.release.xcconfig
Labels: category: tooling

#15068 [Woo POS] [Design System] Apply straightforward color updates
  WooCommerce/Classes/POS/Colors/Color+POSColorPalette.swift
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posPrimaryText.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posSecondaryText.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posTertiaryText.colorset/Contents.json
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/POSReceiptEligibilityBanner.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSecondaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
Labels: type: task, feature: POS

#15085 [Woo POS ] Add documentation link to floating button
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/System/WooConstants.swift
Labels: type: task, feature: POS

#15098 [Blaze] Enhance loading UI for product image in Blaze Campaign Creation form
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
Labels: type: bug, feature: Blaze

#15088 fix: now "Suggested by AI" label is visible in dark mode in Blaze Edit
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
Labels: type: bug, feature: Blaze

#15102 [Woo POS][Design System] Update buttons to use POS button style
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/Buttons/POSButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSButtonStyleConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPrimaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSecondaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSTertiaryButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSTextButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/AdaptiveButtonPaddingModifier.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15089 [Woo POS][Design System] Update product card & image placeholder design
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemCardBorderStylesModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemImageView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductImageThumbnail.swift
Labels: type: task, feature: POS

#15052 Product List: Show syncing animation for items with active image uploads
  RELEASE-NOTES.txt
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Search/SearchViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModel+SaveTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
Labels: type: task, feature: product list

#15114 [Woo POS][Design System] Audit/update font style
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectionSuccessAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleUnsupportedWidthView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/Buttons/POSButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSConnectivityView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
Labels: type: task, feature: POS

#15108 [Woo POS][Design System] Create loading button style & update spinner colors
  WooCommerce/Classes/POS/Colors/Color+POSColorPalette.swift
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posOnSecondary.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posSecondary.colorset/Contents.json
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentBluetoothRequiredAlertView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedChargeReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdatePostalCodeView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedNonRetryableView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/Buttons/POSButtonProgressViewStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/Buttons/POSButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSProgressViewStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15121 Remove variableProductsInPointOfSale flag and related code
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#15119 [Woo POS][Design System] Update onSuccess color, remove legacy text colors, and misc design updates
  WooCommerce/Classes/POS/Colors/Color+POSColorPalette.swift
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posOnSuccess.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posPrimaryText.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posSecondaryText.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posTertiaryText.colorset/Contents.json
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentPreparingForPaymentMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListFullscreenView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleUnsupportedWidthView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/POSReceiptEligibilityBanner.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorXMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalCloseButton.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
Labels: type: task, feature: POS

#15117 Background image upload: Fix missing error notice in iPhones
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
Labels: type: bug, feature: product list

#15101 Fix: ensure Shipping Labels display correctly by filtering out Error entries
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/OrderShippingLabelListMapper.swift
  Networking/NetworkingTests/Mapper/OrderShippingLabelListMapperTests.swift
  Networking/NetworkingTests/Responses/order-shipping-labels-with-error-in-labels-data.json
  RELEASE-NOTES.txt
Labels: type: bug, feature: shipping labels

#15115 [Woo POS][Design System] Consolidate icon style
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemImageView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalCloseButton.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
Labels: category: design, feature: POS

#14764 Product Selector - Reset filters after completing selection or dismissal
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Product/StoredProductSettings.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductSelectorViewModelTests.swift
Labels: type: bug, feature: product list

#15103 [Woo POS][Design System] Update floating control design
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentPreviewService.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15107 Background image upload: Fix issue showing uploaded images while saving is in progress
  RELEASE-NOTES.txt
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesSaver.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImagesSaverTests.swift
Labels: type: bug, feature: add/edit products

#15134 Background image upload: Show a notice when the user leaves product details while uploads are pending
  RELEASE-NOTES.txt
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/WooCommerceTests/Mocks/MockProductImageUploader.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
Labels: type: task, feature: add/edit products

#15131 [Woo POS][Design System] Update skeleton design for item list
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15132 [Woo POS][Design System] Consolidate corner radius style
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/POSReceiptEligibilityBanner.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/Buttons/POSButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSConnectivityView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemCardBorderStylesModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/Color+Inverted.swift
  WooCommerce/Classes/POS/Utils/POSCornerRadiusStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15138 [Woo POS] MVP analytics: Handle card present events from POS
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentAnalytics.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCollectOrderPaymentAnalyticsTracker.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, category: tracks, feature: POS

#15139 [Tooling] Extract download translations to separate process
  .buildkite/release-pipelines/download-release-translations.yml
  fastlane/Fastfile
Labels: category: tooling

#15140 Run WPAuthenticator tests in dedicated step for CI stability
  .buildkite/pipeline.yml
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WordPressAuthenticatorTests/UnitTests.xctestplan
Labels: category: tooling, category: unit tests

#15153 [Woo POS] Improve Checkout view adaptability to large font sizes
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
Labels: type: bug, category: accessibility, feature: POS

#15160 [Woo POS] Show cash payment button for more card payment states
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/TotalsViewHelperTests.swift
Labels: type: enhancement, feature: POS

#15158 [Woo POS][Design System] Extract page header to a component and use it in root/child item lists
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15168 Remove standalone XCUITestHelper in favor of ScreenObject 0.3.0
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: ui tests

#15105 Background image upload: Update error handling
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/FailedProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/FailedProductImageCollectionViewCell.xib
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesHeaderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageActionHandler.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImageStatus.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockProductImageActionHandler.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductVariationFormViewModel+ChangesTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageActionHandlerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/ProductImageUploaderTests.swift
Labels: type: task, feature: product details, category: tracks

#15148 [Woo POS] MVP Analytics: Card payment success event properties
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentAnalytics.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCollectOrderPaymentAnalyticsTracker.swift
  WooCommerce/WooCommerceTests/POS/Analytics/POSCollectOrderPaymentAnalyticsTests.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, category: tracks, feature: POS

#15171 [Woo POS][Design System] Use page header component in cart/cash/receipt views
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#15169 [Woo POS][Design System] Update cash payment CTA bottom padding to respect safe area
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#15151 [Woo POS] MVP analytics: Track remaining MVP events and properties
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockCollectOrderPaymentAnalyticsTracker.swift
  WooCommerce/WooCommerceTests/POS/Analytics/POSCollectOrderPaymentAnalyticsTests.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, category: tracks, feature: POS

#15031 [Login] Improve error messaging displaying a new error screen when application password is disabled
  Networking/Networking/ApplicationPassword/RequestAuthenticator.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordAuthorizationViewModel.swift
  WooCommerce/Classes/Authentication/Application Password/ApplicationPasswordAuthorizationWebViewController.swift
  WooCommerce/Classes/Authentication/AuthenticationManager.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ApplicationPasswordDisabledViewModel.swift
  WooCommerce/Classes/Authentication/PostSiteCredentialLoginChecker.swift
  WooCommerce/WooCommerceTests/Authentication/ApplicationPasswordDisabledViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/PostSiteCredentialLoginCheckerTests.swift
Labels: feature: login

#14597 [HACK week] Enables favorite products filter feature
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/FavoriteProducts/FavoriteProductsUseCase.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/DefaultFavoriteProductsUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelTests.swift
Labels: feature: product list

#15208 [Tooling] Do not fail `ios_lint_localizations` when there are extra strings
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: category: tooling

#15197 [Woo POS][Design System] Extract notice to a component to match design
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSNoticeView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15199 [Woo POS][Design System] Receipt view: remove extra padding, update background color
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
Labels: type: task, feature: POS

#15202 [Woo POS] Analytics: Make allowed event list for POS when decorating
  WooCommerce/Classes/Analytics/TracksProvider.swift
Labels: type: task, category: tracks, feature: POS

#15204 [Woo POS] MVP Analytics: Update receipt-related events
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
Labels: type: task, category: tracks, feature: POS

#15212 [Woo POS][Design System] Fix floating control ellipsis color in disabled state
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
Labels: type: task, feature: POS

#15209 [Woo POS][Design System] Update design in various reader/payment message views
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorXMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/WavesProgressViewStyle.swift
  WooCommerce/Classes/View Modifiers/View+Measurements.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-error.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-error.imageset/pos-error.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-exclamation-mark.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-exclamation-mark.imageset/pos-exclamation-mark.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-disconnected.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-disconnected.imageset/pos-reader-disconnected-dark.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-disconnected.imageset/pos-reader-disconnected.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-ready-for-payment.imageset/pos_ready_for_payment.pdf
Labels: type: task, feature: POS

#15200 [Woo POS] Analytics: Fix clear cart event called incorrectly
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
Labels: type: bug, category: tracks, feature: POS

#15211 [Woo POS][Design System] Update reader software update image colors
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressAlertViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/UpdateProgressImage.swift
Labels: type: task, feature: POS

#15164 Improve authentication logic for authenticated web view
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/AuthenticatedWebViewController.swift
  WooCommerce/Classes/Authentication/AuthenticatedWebViewModel.swift
  WooCommerce/Classes/Extensions/WKWebView+Authenticated.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/AuthenticatedWebViewModelTests.swift
Labels: type: task, feature: core

#15165 [Woo POS] Update child item list empty view to account for larger a11y
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
Labels: category: accessibility, feature: variation list, feature: POS

#15173 [Tracks] Send site related properties in application level tracking events
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
Labels: type: task, category: tracks

#15214 [Woo POS] Improve POS tracking conformance
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalyticsTracking.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentAnalytics.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockCollectOrderPaymentAnalyticsTracker.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSCollectOrderPaymentAnalyticsTracker.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: enhancement, type: task, feature: POS

#15206 [Shipping labels] Use WooShippingAddress for addresses across Woo Shipping flow
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#15207 [Woo POS] Clear order when exiting the POS
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: bug, feature: POS

#15205 [Woo POS] Cancel payment after leaving POS
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
Labels: type: bug, feature: POS

#15218 [Woo POS] Create POS Aggregate Model in a task
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
Labels: type: task, feature: POS

#15224 [Tooling] Fail tests if there's a failure that `trainer` didn't report
  fastlane/Fastfile
Labels: category: tooling

#15219 [Woo POS] Reader and payment icon updates
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentConnectingToReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentFoundReaderAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentScanningForReadersAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-complete.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-complete.imageset/pos-reader-connection-success-dark.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-complete.imageset/pos-reader-connection-success-light.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/pos-reader-connection-connecting-dark.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-connecting.imageset/pos-reader-connection-connecting-light.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/pos-reader-connection-found-dark.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-do-you-want-to-connect.imageset/pos-reader-connection-found-light.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-scanning.imageset/pos-reader-connection-scanning-dark.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection-scanning.imageset/pos-reader-connection-scanning-light.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/pos-reader-connection.imageset/pos-reader-connection-scanning-light.pdf
  WooCommerce/Resources/Images.xcassets/POS/pos-ready-for-payment.imageset/pos_ready_for_payment.pdf
Labels: type: enhancement, feature: POS

#15195 [Woo POS] Update cash and email views to adapt to keyboard
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/View Modifiers/View+Measurements.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Extensions/Publishers+KeyboardFrame.swift
  WooFoundation/WooFoundation/Extensions/Publishers+KeyboardHeight.swift
Labels: type: enhancement, feature: POS

#15225 [Woo POS] Add full stop to the payment success message
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSalePaymentSuccessViewModel.swift
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyleTests.swift
Labels: type: bug, feature: POS

#15166 Schedule Local Notification for Product Image Uploads if the app is sent to background
  RELEASE-NOTES.txt
  WooCommerce/Classes/Notifications/LocalNotification.swift
  WooCommerce/Classes/ServiceLocator/ProductImageUploader.swift
Labels: type: enhancement, feature: add/edit products

#15210 Product Details: Update error handling for product saving failure
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsSplitViewWrapperController.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
Labels: feature: add/edit products

#15216 [Code Gen] Update Sourcery library to latest version
  Fakes/Fakes/Hardware.generated.swift
  Fakes/Fakes/Networking.generated.swift
  Fakes/Fakes/WooFoundation.generated.swift
  Fakes/Fakes/Yosemite.generated.swift
  Hardware/Hardware/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Podfile
  Podfile.lock
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
  Yosemite/Yosemite/Model/Copiable/Models+Copiable.generated.swift
Labels: category: tooling

#15217 [Woo POS] [Design System] Spacing and padding consolidation
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentFoundMultipleReadersView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleReaderConnectionModalLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleUnsupportedWidthView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentActivityIndicatingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCaptureErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisplayReaderMessageMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentIntentCreationErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentNonRetryableErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentProcessingMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentTapSwipeInsertCardMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/POSReceiptEligibilityBanner.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/Payments Onboarding/PointOfSaleCardPresentPaymentOnboardingView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleExitPosAlertView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/Buttons/POSButtonStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSConnectivityView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderLayoutConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSNoticeView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/POSPadding.swift
  WooCommerce/Classes/POS/Utils/POSSpacing.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: POS

#15229 Update release notes for 21.8
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15222 [Woo POS] Show connection flow under location modal
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
Labels: type: task, feature: POS

#15227 15193 Set trailing internal padding on item row
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
Labels: type: bug, feature: POS

#15236 [Tooling] Exclude retries when making sure tests are not failing
  fastlane/Fastfile
Labels: category: tooling

#15231 [Shipping labels] Networking & Yosemite support for updating destination address
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingDestinationAddressUpdateMapper.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingDestinationAddress.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingDestinationAddressUpdate.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-update-destination-success.json
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#15233 [Woo POS] [Beta fix] Cash payment issues - hide button when checking order and don't cancel payment task
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/TotalsViewHelperTests.swift
Labels: type: bug, feature: POS

#15226 [Shipping labels] Open address editing form for destination address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsRequirements.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#15245 [Woo POS][Design System] Update error icon size
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentLayout.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/Presented Views/PointOfSaleCardPresentPaymentCaptureFailedView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorXMark.swift
  WooCommerce/Classes/POS/Utils/POSErrorAndAlertIconSize.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15247 Fix issue showing order details from push notifications
  WooCommerce/Classes/ViewRelated/Orders/OrdersSplitViewWrapperController.swift
Labels: type: bug, feature: notifications

#15238 Add coderabbit.ai configuration file
  .coderabbit.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: enhancement, category: tooling

#15213 [UI Tests] - Exclude test retries from being counted as a failure in Buildkite Test Analytics
  WooCommerce/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/UITestsFoundation/XCTest+Extensions.swift
  fastlane/Fastfile
Labels: type: task, category: ui tests

#15250 [Shipping Labels] Load order destination address from remote
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/VerifyDestinationAddress/WooShippingVerifyDestinationAddressResponse.swift
  Networking/Networking/Model/ShippingLabel/VerifyDestinationAddress/WooShippingVerifyDestinationAddressSuccess.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddress.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#15252 [POS] Improve Get Support
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportForm.swift
Labels: feature: POS

#15244 [Woo POS][Design System] Updates from design review: skeleton item card view, cash view
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
Labels: type: task, feature: POS

#15265 Product Form: Reset uploaded images upon discardiing changes
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
Labels: type: bug, feature: add/edit products

#15267 Add missing release notes for #15265
  RELEASE-NOTES.txt
Labels: type: bug, feature: add/edit products

#15260 [Shipping Labels] Confirm edited destination address
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingNormalizedAddress.swift
  Networking/Networking/Model/ShippingLabel/VerifyDestinationAddress/WooShippingVerifyDestinationAddressResponse.swift
  Networking/Networking/Model/ShippingLabel/VerifyDestinationAddress/WooShippingVerifyDestinationAddressSuccess.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddressValidationResponse.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddressValidationSuccess.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingDestinationAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingNormalizedAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels
