Repository woocommerce/woocommerce-ios, pull requests merged in 2025-06, with the labels that each got.

#15699 Update duplicated string identifier and re-enable failing test
  WooCommerce/Classes/POS/Utils/POSStockFormatter.swift
  WooCommerce/WooCommerceTests/POS/Presentation/POSStockFormatterTests.swift
Labels: type: bug, type: task, feature: product details

#15679 Shipping Labels: Show existing payment methods for selection
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingPaymentMethod/WooShippingPaymentMethodLine.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingPaymentMethod/WooShippingPaymentMethodsView.swift
Labels: type: task, feature: shipping labels

#15704 Bump Fastlane `xcodebuild -showBuildSettings` interval to avoid timeouts
  fastlane/Fastfile
Labels: category: tooling

#15705 Shipping Labels: Show warning banner when user has no permission to update payment methods
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingPaymentMethod/WooShippingPaymentMethodsView.swift
  WooCommerce/Resources/Images.xcassets/shipping-label-usps-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/shipping-label-usps-logo.imageset/USPS logo.pdf
  WooCommerce/Resources/Images.xcassets/shipping-label-usps-logo.imageset/USPS.pdf
Labels: type: task, feature: shipping labels

#15701 [WCAG 2.1 AA] Blaze budget VoiceOver update
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeBudgetSettingViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/BudgetSetting/BlazeScheduleSettingView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeBudgetSettingViewModelTests.swift
Labels: type: enhancement, category: accessibility, Accessibility

#15622 Simplify Experiments into a Swift package
  Experiments/Experiments.xcodeproj/project.pbxproj
  Experiments/Experiments.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Experiments/Experiments.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Experiments/Experiments/Experiments.h
  Experiments/Experiments/Experiments.xcconfig
  Experiments/Experiments/Info.plist
  Experiments/ExperimentsTests/Info.plist
  Modules/.swiftpm/xcode/xcshareddata/xcschemes/Experiments.xcscheme
  Modules/Package.swift
  Modules/Sources/Experiments/ABTest.swift
  Modules/Sources/Experiments/ABTestVariationProvider.swift
  Modules/Sources/Experiments/BuildConfiguration.swift
  Modules/Sources/Experiments/CachedABTestVariationProvider.swift
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  Modules/Sources/Experiments/FeatureFlagService.swift
  Modules/Sources/Experiments/VariationCache.swift
  Modules/Tests/ExperimentsTests/CachedABTestVariationProviderTests.swift
  Modules/Tests/ExperimentsTests/Experiments.xctestplan
  Modules/Tests/ExperimentsTests/VariationCacheTests.swift
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/NotificationExtension/OrderNotificationViewModel.swift
  WooCommerce/StoreWidgets/StoreInfoDataService.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
Labels: category: tooling

#15709 [Custom Amounts] Remove edit custom amount by percentage option
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/OrderCustomAmountsSection.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: feature: order creation

#15710 [Woo POS][Barcodes] Extract item mapping logic
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Notifications/MockPointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleBarcodeScanService.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemMapper.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/Mocks/MockPointOfSaleItemMapper.swift
  Yosemite/YosemiteTests/Mocks/MockPointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemMapperTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#15707 AINFRA-674 - Update Codegen for WooFoundation and Networking
  Fakes/Fakes.xcodeproj/project.pbxproj
  Fakes/Fakes/WooFoundation.generated.swift
  Fakes/Fakes/WooFoundationCore.generated.swift
  Modules/Sources/Codegen/Sourcery/Copiable/Models+Copiable.swifttemplate
  Modules/Sources/Codegen/Sourcery/Copiable/Networking-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Copiable/WooFoundation-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Fakes/Fakes.swifttemplate
  Modules/Sources/Codegen/Sourcery/Fakes/Networking-Fakes.yaml
  Modules/Sources/Codegen/Sourcery/Fakes/WooFoundation-Fakes.yaml
  Networking/Sources/Extended/Model/Copiable/Models+Copiable.generated.swift
  Rakefile
Labels: type: bug, category: tooling

#15715 [Woo POS] Remove unnecessary pos events
  WooCommerce/Classes/Analytics/TracksProvider.swift
Labels: type: enhancement, feature: mobile payments, feature: POS

#15714 Shipping Labels: Confirm UPS T&C acceptance
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/Sources/Extended/Model/ShippingLabel/WooShippingAddress.swift
  Networking/Sources/Extended/Remote/WooShippingRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/UPSTOS/UPSTermsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/UPSTOS/UPSTermsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/UPSTermsViewModelTests.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: type: task, feature: shipping labels

#15716 [Woo POS][Barcodes] Map variations from POSProducts during scanning
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Remote/POSProductsNetworkingTests.swift
  Networking/NetworkingTests/Responses/pos-products.json
  Networking/Sources/Extended/Mapper/SingleItemMapper.swift
  Networking/Sources/Extended/Model/Copiable/Models+Copiable.generated.swift
  Networking/Sources/Extended/Model/POSProduct.swift
  Networking/Sources/Extended/Model/Product/ProductAttribute.swift
  Networking/Sources/Extended/Remote/ProductsRemote.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Items/POSProductOrVariationResolver.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleBarcodeScanService.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/PointOfSale/POSProductOrVariationResolverTests.swift
Labels: type: task, feature: POS, New Feature

#15713 Re-enable skipped receipt generation test that crashes from WebCore under iOS 18.4+
  Hardware/Hardware/Printer/AirPrintReceipt/AirPrintReceiptPrinterService.swift
  Hardware/Hardware/Printer/AirPrintReceipt/ReceiptRenderer.swift
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: type: technical debt, category: unit tests

#15724 [Woo POS][Barcodes] Barcode scan loading state
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/Cart.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, status: feature-flagged

#15727 [Woo POS][Barcodes] Prevent checkout with scans in loading state
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#15718 Shipping Labels: Fix UI issues with shipping service view
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
Labels: feature: shipping labels, Bug

#15719 Shipping Label: Resubmit purchase after accepting UPS TOS
  Networking/Sources/Extended/Remote/WooShippingRemote.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
Labels: type: task, feature: shipping labels

#15728 [Woo POS][Barcodes] Match barcode scan load state to item list
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
Labels: type: task, feature: POS

#15731 [POS as a tab i1] Remove unused POS eligibility checker use case in Experimental Features
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesConfigurationViewModel.swift
  WooCommerce/WooCommerceTests/Model/BetaFeaturesConfigurationViewModelTests.swift
Labels: type: technical debt, feature: POS

#15741 Fix `TopTabView` binding
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/OptionalBinding.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: bug, Bug

#15734 Shipping Labels: Update split shipment logic to use shipment index as ID
  Networking/Sources/Extended/Model/Copiable/Models+Copiable.generated.swift
  Networking/Sources/Extended/Model/ShippingLabel/Shipments/WooShippingUpdateShipment.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/UPSTOS/UPSTermsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15738 Shipping Label: Enable feature flag for the revamped flow
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: shipping labels

#15733 TOS consent checkmark for Blaze campaigns
  Fakes/Fakes/Networking.generated.swift
  Networking/NetworkingTests/Remote/BlazeRemoteTests.swift
  Networking/Sources/Extended/Model/Blaze/CreateBlazeCampaign.swift
  Networking/Sources/Extended/Model/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/Extensions/AttributedString+Helpers.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/ConfirmPayment/BlazeConfirmPaymentView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/UPSTOS/UPSTermsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: task

#15726 [POS as a tab i1] Show POS tab for eligible stores behind a feature flag
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/TabBar/POSTabCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Classes/ViewRelated/TabBar/WooTab+Tag.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPOSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarController+TabsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: feature: POS

#15749 Re-enable connection controller tests
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WooCommerceTests/ViewRelated/CardPresentPayments/CardReaderConnectionControllerTests.swift
Labels: type: task, Testing

#15746 [Woo POS] [Barcodes] Play error sound when a barcode scan fails
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Utils/Audio/PointOfSaleSoundPlayer.swift
  WooCommerce/Classes/POS/Utils/Audio/Resources/pos_scan_failure.mp3
  WooCommerce/Resources/HTML/licenses.html
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleBarcodeScanService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleSoundPlayer.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, feature: POS

#15756 Fix for watch app builds in 22.5 release
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  config/Version.Public.xcconfig
Labels: type: crash, feature: apple watch

#15762 Remove a few dead references and no longer used files
  Modules/Sources/XcodeSupport/XcodeTarget_Experiments/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_ExperimentsTests/Empty.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: technical debt

#15743 Update `ProductsRemote.loadAllProducts` to call async/await enqueue method for response parsing to be in a background thread
  Networking/NetworkingTests/Extensions/URLRequestConvertible+PathTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/Sources/Extended/Remote/ProductsRemote.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/Stores/ProductStore+FilterProductsTests.swift
Labels: type: task, feature: product list

#15754 [App size reduction] Remove `domain-credit` asset and related code
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+DomainSettings.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainContactInfoForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainContactInfoFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainPurchaseSuccessView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainRowView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSelectorDataProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSelectorView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSettingsCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSettingsDomainCreditView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSettingsListView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSettingsView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/DomainSettingsViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/FreeStagingDomainView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/SupportButton.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Domains/WebCheckoutViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Resources/Images.xcassets/domain-credit.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/domain-credit.imageset/domain-credit.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Domains/DomainContactInfoFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Domains/DomainSettingsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Domains/FreeDomainSelectorViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Domains/PaidDomainSelectorDataProviderTests.swift
Labels: type: task, feature: app settings

#15764 Order details: Fix crash when reloading orders
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
Labels: feature: order details, type: crash

#15777 Remove POS search related feature flags
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSRecentSearchesView.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSSearchView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15779 Remove Tap to Pay on iPhone in UK feature flag
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Tools/In-Person Payments/CardPresentConfigurationLoader.swift
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/YosemiteTests/Model/CardPresentConfigurationTests.swift
Labels: type: task, feature: mobile payments

#15778 Remove payouts overview feature flag
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
Labels: type: task, feature: mobile payments

#15792 [Woo POS][Barcodes] Dark mode: corners and background when loading
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
Labels: type: task, feature: POS

#15784 [Woo POS] Prevent connection success flashing during payment
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, feature: POS

#15791 [Woo POS] Improve cart item row dynamic type support and loading state styling
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
Labels: type: task, feature: POS

#15783 [Shipping Labels] M4 accessibility layout issues
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerInfoTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Customer Section/CustomerNoteTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Hazmat Section/WooShippingHazmatRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
Labels: type: enhancement, category: accessibility, Accessibility

#15788 [App size reduction] Remove shipping image duplication
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/ShippingLabelPrintingInstructionsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Print Customs Form/PrintCustomsFormsView.swift
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/woo-shipping-label-printing-instructions-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-shipping-label-printing-instructions.imageset/woo-shipping-label-printing-instructions-light.pdf
Labels: type: enhancement, type: task, feature: shipping labels

#15794 AINFRA-778 - Make StorageTests a Swift package test target
  Modules/.swiftpm/xcode/xcshareddata/xcschemes/Storage.xcscheme
  Modules/Package.swift
  Modules/Sources/XcodeSupport/XcodeTarget_StorageTests/Empty.swift
  Modules/Tests/StorageTests/CoreData/CoreDataIterativeMigrator+MigrationStepTests.swift
  Modules/Tests/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Modules/Tests/StorageTests/CoreData/CoreDataManagerTests.swift
  Modules/Tests/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Modules/Tests/StorageTests/CoreData/MappingModelTests.swift
  Modules/Tests/StorageTests/CoreData/MigrationTests.swift
  Modules/Tests/StorageTests/Extensions/NSManagedObjectContextStorageTests.swift
  Modules/Tests/StorageTests/Extensions/NSManagedObjectStorageTests.swift
  Modules/Tests/StorageTests/Mocks/MockFileManager.swift
  Modules/Tests/StorageTests/Mocks/MockInMemoryStorage.swift
  Modules/Tests/StorageTests/Mocks/SpyFileManager.swift
  Modules/Tests/StorageTests/Mocks/SpyPersistentStoreCoordinator.swift
  Modules/Tests/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  Modules/Tests/StorageTests/Model/AppSettings/GeneralStoreSettingsTests.swift
  Modules/Tests/StorageTests/Model/ProductVariationTests.swift
  Modules/Tests/StorageTests/Resources/shipment-provider.plist
  Modules/Tests/StorageTests/StorageTests.xctestplan
  Modules/Tests/StorageTests/TestKit/Assertions.swift
  Modules/Tests/StorageTests/Tools/Constants.swift
  Modules/Tests/StorageTests/Tools/DummyStack.swift
  Modules/Tests/StorageTests/Tools/FileStorageTests.swift
  Modules/Tests/StorageTests/Tools/GeneralAppSettingsStorageTests.swift
  Modules/Tests/StorageTests/Tools/NSManagedObjectContext+TestHelpers.swift
  Modules/Tests/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Modules/Tests/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Storage/Storage.xcodeproj/project.pbxproj
  Storage/Storage.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Storage/Storage.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Storage/Storage.xcodeproj/xcshareddata/xcschemes/StorageTests.xcscheme
  Storage/StorageTests/Info.plist
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
Labels: category: tooling, Testing

#15790 Shipping Labels: Parse shipping labels in config API
  Modules/Sources/Fakes/NetworkingCore.generated.swift
  Modules/Sources/Networking/Model/ShippingLabel/Shipments/WooShippingConfigResponse.swift
  Modules/Sources/NetworkingCore/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/NetworkingCore/Model/ShippingLabel/ShippingLabel.swift
  Modules/Sources/Storage/Model/MIGRATIONS.md
  Modules/Sources/Storage/Model/ShippingLabel+CoreDataProperties.swift
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/.xccurrentversion
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 122.xcdatamodel/contents
  Modules/Sources/Yosemite/Model/Mocks/ActionHandlers/MockShippingLabelActionHandler.swift
  Modules/Sources/Yosemite/Model/Storage/ShippingLabel+ReadOnlyConvertible.swift
  Modules/Tests/StorageTests/CoreData/MigrationTests.swift
  Networking/NetworkingTests/Mapper/OrderShippingLabelListMapperTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/Refund/WooShippingRefundView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/MockShippingLabel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  Yosemite/YosemiteTests/Mocks/MockShippingLabel.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
Labels: type: task, feature: shipping labels

#15799 Remove IAP as experimental feature flag option
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  Modules/Sources/Storage/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Storage/Model/GeneralAppSettings.swift
  Modules/Tests/StorageTests/Model/AppSettings/GeneralAppSettingsTests.swift
  WooCommerce/Classes/Model/BetaFeature.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesConfigurationViewModel.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/InAppPurchases/InAppPurchasesDebugView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: type: task, type: technical debt, source: peacock-backlog

#15774 Add option to fetch lightweight objects to reduce app hangs
  Modules/Sources/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/SnapshotsProvider/FetchResultSnapshotsProvider.swift
  Modules/Sources/Yosemite/Tools/ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/Tools/ResultsController.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItemsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
Labels: feature: core, Enhancement

#15808 [Order Details] Mitigate crash on shipping lines due async operations
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsViewControllerTests.swift
Labels: type: task, feature: order details, Bug

#15803 [Woo POS] [Barcodes] Ensure the cart is updated on a main thread after scanning
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
Labels: feature: POS, Bug

#15771 Restore Wormholy, now installed via a fork supporting latest SPM
  Modules/Package.resolved
  Modules/Package.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
Labels: category: tooling

#15815 Empty bounds image view fallback to thumbnail size
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/WooCommerceTests/Mocks/MockKingfisherImageDownloader.swift
  WooCommerce/WooCommerceTests/Tools/DefaultImageServiceTests.swift
Labels: type: crash, Enhancement, Bug

#15810 [POS as a tab i1] Fix tab visibility using cached site settings when the values change remotely
  WooCommerce/Classes/Tools/Shared Site Settings/SelectedSiteSettings.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSTabEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSTabEligibilityCheckerTests.swift
Labels: type: bug, feature: POS

#15816 [Woo POS] Optimize shadow performance for scrolling and animation improvements
  WooCommerce/Classes/POS/Presentation/Item Search/POSPreSearchView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSConnectivityView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemCardBorderStylesModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSNoticeView.swift
  WooCommerce/Classes/POS/Utils/POSShadowStyle.swift
Labels: type: task, feature: POS

#15817 [Woo POS] Split TotalsView and CartView into smaller views for performance improvements
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Models/Cart.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/CouponRowView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/GhostItemCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#15820 [Woo POS][Barcodes] Track when a barcode scanning menu item is tapped
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleBarcodeScannerInformationModal.swift
Labels: type: task, category: tracks, feature: POS

#15798 Simplify UITestFoundation framework into a Swift package
  Modules/Package.swift
  Modules/Sources/UITestsFoundation/BaseScreen.swift
  Modules/Sources/UITestsFoundation/OrderDataStructs.swift
  Modules/Sources/UITestsFoundation/ProductDataStructs.swift
  Modules/Sources/UITestsFoundation/ReviewDataStructs.swift
  Modules/Sources/UITestsFoundation/ScreenObject+Extension.swift
  Modules/Sources/UITestsFoundation/Screens/ExternalAppScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/GetStartedScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/HelpScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LinkOrPasswordScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginCheckMagicLinkScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginEmailScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginOnboardingScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginPasswordScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginSiteAddressScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/PasswordScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/PrologueScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Login/TwoFAScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Menu/MenuScreen.swift
  Modules/Sources/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  Modules/Sources/UITestsFoundation/Screens/MyStore/PeriodStatsTable.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/AddCustomAmountScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/AddCustomerDetailsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/AddProductScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/AddShippingScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/CardPresentPaymentsModalScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/CustomerDetailsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/CustomerNoteScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/OrderSearchScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/OrderStatusScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/OrdersScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/PaymentMethodsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/SingleOrderScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Orders/UnifiedOrderScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Payments/CardReaderManualsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Payments/PaymentsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Products/ProductFilterScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Products/ProductSearchScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Products/ProductsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Products/SingleProductScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Reviews/ReviewsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Reviews/SingleReviewScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Settings/BetaFeaturesScreen.swift
  Modules/Sources/UITestsFoundation/Screens/Settings/SettingsScreen.swift
  Modules/Sources/UITestsFoundation/Screens/TabNavComponent.swift
  Modules/Sources/UITestsFoundation/XCTest+Extensions.swift
  Modules/Sources/XcodeSupport/XcodeTarget_UITestsFoundation/Empty.swift
  WooCommerce/UITestsFoundation/UITestsFoundation.h
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerceUITests.xcscheme
Labels: category: tooling, Testing

#15821 Shipping Labels: Send extra rates for label purchase
  Modules/Sources/Fakes/Networking.generated.swift
  Modules/Sources/Networking/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Networking/Model/ShippingLabel/Packages/CarriersAndRates/ShippingLabelCarrierRate.swift
  Modules/Sources/Networking/Model/ShippingLabel/Packages/CarriersAndRates/WooShippingSelectedRate.swift
  Modules/Sources/Networking/Model/ShippingLabel/Packages/WooShippingPackagePurchase.swift
  Modules/Sources/Networking/Remote/WooShippingRemote.swift
  Modules/Sources/Yosemite/Model/Model.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#15811 [Shipping Labels] Pre-fill shipping item customs details
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: type: enhancement, feature: shipping labels, Enhancement

#15826 Shipping Labels: Better formatted surcharge for additional shipping services
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceCardViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingServiceCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15823 [Woo POS][Barcodes] Show an error row for short and incomplete scans
  Modules/Sources/Yosemite/PointOfSale/Items/PointOfSaleBarcodeScanService.swift
  Modules/Tests/YosemiteTests/PointOfSale/POSProductOrVariationResolverTests.swift
  WooCommerce/Classes/POS/Models/Cart+BarcodeScanError.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScannerContainer.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScanningModifier.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/HIDBarcodeParser.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/HIDBarcodeParserTests.swift
Labels: type: task, feature: POS

#15805 [POS as a tab i1] Fix issues from raw & promo screenshots generation
  Gemfile
  Gemfile.lock
  Modules/Sources/Yosemite/Model/Mocks/ActionHandlers/MockSettingActionHandler.swift
  Modules/Sources/Yosemite/Model/Mocks/ActionHandlers/MockSystemStatusActionHandler.swift
  Modules/Sources/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Modules/Sources/Yosemite/Model/Mocks/MockStoresManager.swift
  WooCommerce/WooCommerceScreenshots/WooCommerceScreenshots.swift
  fastlane/screenshots.json
Labels: category: screenshots

#15830 Update release notes for 22.7
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15837 [POS Orders] Adds feature flag for `pointOfSaleOrdersi1`
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
Labels: type: task, feature: order details, feature: order list, feature: POS
