Repository woocommerce/woocommerce-ios, pull requests merged in 2025-01, with the labels that each got.

#14766 Optimize memory usage for image loading
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
  WooCommerce/Classes/Tools/ImageService/ImageService.swift
  WooCommerce/WooCommerceTests/Mocks/MockImageService.swift
Labels: type: crash, feature: add/edit products

#14762 Store Picker: Add tracking for list editing
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListViewModel.swift
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
Labels: type: task, category: tracks

#14777 After a successful IPP payment, show only print receipt option if email receipt is not supported
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
Labels: type: bug, feature: mobile payments

#14773 [Brand Updates] Update prologue screen
  Podfile
  Podfile.lock
  WooCommerce/Classes/Authentication/Prologue/LoginProloguePages.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.swift
  WooCommerce/Classes/Authentication/Prologue/LoginPrologueViewController.xib
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Extensions/WordPressAuthenticator+Woo.swift
  WooCommerce/Resources/Images.xcassets/login-prologue-background-bubbles.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-background-bubbles.imageset/bubbles.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-woo-mobile.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-woo-mobile.imageset/prologue-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-woo-mobile.imageset/prologue-illustration.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-woo-mobile.imageset/prologue-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: login, category: design

#14781 Prevent unnecessary decoding errors from fetching system status
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/SystemStatusReportMapper.swift
  Networking/Networking/Model/SystemStatus.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+Database.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+DropinMustUsePlugin.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+Environment.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+Page.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+PostTypeCount.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+Security.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+Settings.swift
  Networking/Networking/Model/SystemStatusDetails/SystemStatusReport+Theme.swift
  Networking/Networking/Model/SystemStatusReport.swift
  Networking/Networking/Remote/SystemStatusRemote.swift
  Networking/NetworkingTests/Mapper/SystemStatusMapperTests.swift
  Networking/NetworkingTests/Mapper/SystemStatusReportMapperTests.swift
  Networking/NetworkingTests/Remote/SystemStatusRemoteTests.swift
  Networking/NetworkingTests/Responses/systemStatus-inconsistent-environment-max-upload-size-data-type.json
  Networking/NetworkingTests/Responses/systemStatus-inconsistent-page-id-data-type.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SystemStatusReport/SystemStatusReportViewModel.swift
  Yosemite/Yosemite/Actions/SystemStatusAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/SystemStatusStore.swift
  Yosemite/YosemiteTests/Stores/SystemStatusStoreTests.swift
Labels: type: task

#14782 [Woo POS] [Variable Products] Add variation to POSItem enum with variation card UI
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/VariationCardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSVariation.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
Labels: type: task

#14783 [Brand updates] Remove unused code and illustrations
  WooCommerce/Classes/Authentication/Prologue/LoginOnboardingPages.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Resources/Images.xcassets/login-prologue-reviews.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-prologue-reviews.imageset/img-prologue-reviews-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-prologue-reviews.imageset/img-prologue-reviews-light.pdf
  WooCommerce/Resources/Images.xcassets/prologue-bubbles.imageset/Bubbles-dark.pdf
  WooCommerce/Resources/Images.xcassets/prologue-bubbles.imageset/Bubbles-light-1.pdf
  WooCommerce/Resources/Images.xcassets/prologue-bubbles.imageset/Bubbles-light.pdf
  WooCommerce/Resources/Images.xcassets/prologue-bubbles.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-curved-rectangle.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-curved-rectangle.imageset/prologue-curved-rectangle-light.pdf
  WooCommerce/Resources/Images.xcassets/prologue-logo.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/prologue-logo.imageset/WooLogoDark.pdf
  WooCommerce/Resources/Images.xcassets/prologue-logo.imageset/WooLogoLight-1.pdf
  WooCommerce/Resources/Images.xcassets/prologue-logo.imageset/WooLogoLight.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductFromImage/ImageTextScannerTests.swift
Labels: type: task, feature: login

#14784 [Brand Updates] Update more payments related icons
  WooCommerce/Resources/Images.xcassets/card-reader-low-battery.imageset/card-reader-low-battery-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-badge.imageset/woo-payments-badge-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-badge.imageset/woo-payments-badge-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-plugin.imageset/woo-payments-plugin-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-plugin.imageset/woo-payments-plugin.pdf
Labels: feature: mobile payments, category: design

#14763 Resolve some warnings
  WooCommerce/Classes/Tools/Zendesk/ZendeskManager.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/ShippingLabelFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/WooCommerceTests/Authentication/EditStoreListViewModelTests.swift
  WooCommerce/WooCommerceTests/Notifications/OrderNotificationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Order Details/Address/LocallyStoredStateNameRetrieverTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/ProductStockDashboardCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/Deposits Overview/WooPaymentsPayoutsCurrencyOverviewViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayAwarenessMomentDeterminerTests.swift
  Yosemite/Yosemite/Model/Mocks/ActionHandlers/MockPaymentActionHandler.swift
  Yosemite/YosemiteTests/Stores/AppSettings/InAppFeedbackCardVisibilityUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/SystemStatusStoreTests.swift
Labels: type: enhancement

#14724 [Woo POS][Cash & Receipts] Render cash button and navigate to cash view
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#14787 Remove `paymentsOnboardingInPointOfSale` feature flag a few weeks after release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Beta features/BetaFeaturesConfigurationViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: type: technical debt

#14739 [Woo POS][Cash & Receipts] Complete order paid by cash
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FormattableAmountTextField.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
Labels: type: task, feature: POS

#14789 Order Creation: Don't show 'Recalculate' button if order sync is not required
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
Labels: type: bug, feature: order creation

#14794 Delete more unused WordPressKit and WordPressAuthenticator code
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WordPressAuthenticator/Authenticator/WordPressAuthenticator.swift
  WooCommerce/WordPressAuthenticator/WordPressAuthenticator.h
  WooCommerce/WordPressAuthenticator/WordPressKit/CoreAPI/WordPressComOAuthClient.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/CoreAPI/WordPressOrgXMLRPCValidator.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/CoreAPI/WordPressRSDParser.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Logging/WPKitLogging.h
  WooCommerce/WordPressAuthenticator/WordPressKit/Logging/WPKitLogging.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Logging/WPKitLogging.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/AccountSettingsRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/AtomicAuthenticationServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/AtomicSiteServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/BlogServiceRemoteREST.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/BlogServiceRemoteXMLRPC.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/BloggingPromptsServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/DashboardServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/Domains/DomainsServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/FeatureFlagRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/MediaServiceRemoteREST.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/MenusServiceRemote.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/Plans/PlanServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/Plans/PlanServiceRemote_ApiVersion1_3.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/PluginServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/PostServiceRemoteREST+Revisions.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderPostServiceRemote+RelatedPosts.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderPostServiceRemote+Subscriptions.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderPostServiceRemote+V2.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderSiteSearchServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderSiteServiceRemote.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderTopicServiceRemote+Interests.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/ReaderTopicServiceRemote+Subscription.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/RemoteConfigRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/TaxonomyServiceRemoteREST.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/TaxonomyServiceRemoteXMLRPC.m
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/TransactionsServiceRemote.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/WordPressComServiceRemote+SiteCreation.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/WordPressComServiceRemote+SiteSegments.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/WordPressComServiceRemote+SiteVerticals.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Services/WordPressComServiceRemote+SiteVerticalsPrompt.swift
  WooCommerce/WordPressAuthenticator/WordPressKit/Utility/ZendeskMetadata.swift
  WooCommerce/WordPressAuthenticatorTests/Authenticator/WordPressAuthenticatorTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/WordPressKitTests/Tests/PlanServiceRemoteTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/WordPressKitTests/Tests/Utilities/LoggingTests+WordPressKit.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/WordPressKitTests/Tests/Utilities/LoggingTests.m
Labels: type: enhancement

#14744 [Shipping labels] Add view for origin addresses list
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingOriginAddress.swift
  WooCommerce/Classes/View Modifiers/View+RoundedBorder.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingOriginAddressListViewModelTests.swift
Labels: feature: shipping labels

#14753 [Shipping Labels] Use failsafeDecodeIfPresent for decoding package weight
  Networking/Networking/Model/ShippingLabel/Packages/Custom package/WooShippingCustomPackage.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-create-package-success.json
  Networking/NetworkingTests/Responses/wooshipping-get-packages-success.json
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14788 Package selection enhancements UI - part 1
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooAddCustomPackageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooCarrierPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooSavedPackagesSelectionView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageView.swift
Labels: type: enhancement, feature: shipping labels

#14786 [Variable Products] Fetch variations and show them in reusable ItemList in a NavigationStack
  Networking/Networking/Remote/ProductVariationsRemote.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListFullscreenView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderTitleView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleProductService.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
Labels: type: task, status: feature-flagged, feature: POS

#14769 [Shipping Labels - Customs Form] UI 2
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Customs/ItemDetails/ShippingLabelCustomsFormItemDetails.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#14803 [Brand Updates] Watch app
  WooCommerce/Woo Watch App/MyStore/MyStoreView.swift
  WooCommerce/Woo Watch App/Orders/OrderDetailView.swift
  WooCommerce/Woo Watch App/Orders/OrdersListView.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Colors/UIColor+ColorStudio.swift
  WooFoundation/WooFoundation/Colors/WooFoundationBundleClass.swift
Labels: category: design, feature: apple watch

#14798 [Brand Updates] Update empty state for some Dashboard cards
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCard.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChart.swift
  WooCommerce/Classes/ViewRelated/Dashboard/TopPerformers/TopPerformersEmptyView.swift
  WooCommerce/Resources/Images.xcassets/magnifying-glass-not-found-grey.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/magnifying-glass-not-found-grey.imageset/magnifying-glass-not-found-dark.pdf
  WooCommerce/Resources/Images.xcassets/magnifying-glass-not-found-grey.imageset/magnifying-glass-not-found-light.pdf
Labels: category: design, feature: dashboard

#14804 Task/woo 2.0 other illustrations
  WooCommerce/Resources/Images.xcassets/login-site-address-info.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/login-site-address-info.imageset/login-site-address-info-dark.pdf
  WooCommerce/Resources/Images.xcassets/login-site-address-info.imageset/login-site-address-info-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-no-store.imageset/woo-no-store-light.pdf
Labels: category: design

#14800 Update AutomatticAbout library to last version
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: design

#14770 [Shipping Labels - Customs Form] UI 3 - Information Dialogs & Countries
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemDescriptionInfoDialog.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemOriginCountryInfoDialog.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#14793 Rename `PointOfSaleProductService` to `PointOfSaleItemService` with basic unit tests on variations
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: technical debt, feature: POS

#14805 [Woo POS] [Variable Products] Support adding variation to cart
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/VariationCardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  Yosemite/Yosemite/PointOfSale/POSVariation.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/Yosemite/Stores/Order/OrderSyncProductInput.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#14807 [Woo POS] [Variable Products] Show variation name based on variation and variable product attributes
  Networking/Networking/Model/Product/ProductAttribute.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ParentProductCardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSParentProduct.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/Yosemite/Tools/ProductVariations/ProductVariationFormatter.swift
  Yosemite/Yosemite/Tools/ProductVariations/VariationAttributeViewModel.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, status: feature-flagged

#14796 HACK Week: Update Yosemite to support persisting order filter history
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Orders/OrderFilterHistory.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrderFilterHistory.swift
Labels: type: enhancement, feature: order list

#14810 [Shipping Labels] Update origin addresses endpoint
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
Labels: feature: shipping labels

#14814 Task/woo 2.0 fix magnifying glass dark
  WooCommerce/Resources/Images.xcassets/magnifying-glass-not-found-grey.imageset/magnifying-glass-not-found-dark.pdf
Labels: category: design

#14817 [Shipping labels] Fetch origin addresses and select default origin address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels

#14812 HACK Week: Add entry point for the filter history screen
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
Labels: type: enhancement, feature: order list

#14802 Performance improvement of unit tests: Optimization of waitUntil
  TestKit/Package.resolved
  TestKit/Package.swift
  TestKit/Sources/TestKit/XCTestCase+Wait.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
  WooCommerce/WooCommerceTests/AppCoordinatorTests.swift
  WooCommerce/WooCommerceTests/Authentication/AuthenticationManagerTests.swift
  WooCommerce/WooCommerceTests/Authentication/JetpackConnectionWebViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewModels/Authentication/AccountCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeConfirmPaymentViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeLocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/DashboardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/ThemeSettingViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Feature Highlight/TooltipPresenterTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/AI/ProductSharingMessageGenerationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormViewController+ProductImageUploaderTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Media/WordPressMediaLibraryImagePickerCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Themes/ThemesCarouselViewModelTests.swift
Labels: category: unit tests

#14823 Allow the keyboard to be dismissed after editing package weight
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingSelectedPackageView.swift
Labels: type: enhancement, feature: shipping labels

#14828 [UI Tests] - Use latest ScreenObject version
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/UITestsFoundation/Screens/MyStore/MyStoreScreen.swift
  WooCommerce/UITestsFoundation/Screens/TabNavComponent.swift
Labels: type: task, category: ui tests

#14824 [Shipping labels] Display origin address selection sheet from "Ship from" address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingOriginAddressListViewModelTests.swift
Labels: feature: shipping labels

#14841 Update release notes for 21.4
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#14827 [Woo POS] Improve next page trigger
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
Labels: type: task, feature: POS

#14839 [Shipping labels] Add navigation between text fields in edit address form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
Labels: feature: shipping labels

#14833 [Woo POS] Product list: implement infinite scroll with threshold based trigger
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Infinite Scroll/InfiniteScrollTriggerDeterminable.swift
  WooCommerce/Classes/POS/Presentation/Infinite Scroll/InfiniteScrollView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/View Modifiers/View+Measurements.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Infinite Scroll/ThresholdInfiniteScrollTriggerDeterminerTests.swift
Labels: type: bug, feature: POS

#14849 [Woo POS] Variation pagination
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListBaseItem.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#14845 [Woo POS] [Variable Products] Analytics: track item type when adding item to cart
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
Labels: category: tracks, feature: POS

#14820 HACK Week: Add filter history to order list filter
  WooCommerce/Classes/ViewRelated/Filters/FilterHistoryView.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+OrderFilterHistory.swift
Labels: type: enhancement, feature: order list

#14847 [Shipping labels] Add view model for edit address view
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingOriginAddressListViewModelTests.swift
Labels: feature: shipping labels

#14848 [Shipping labels] Add UI to display address verification status and save button
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#14852 [Woo POS] [Variable Products] Add pull-to-refresh support for variation sublists
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
Labels: type: task, feature: POS

#14856 [Woo POS] Inline error for loading products and variations
  Networking/Networking/Remote/ProductVariationsRemote.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSButtonStyleConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSErrorExclamationMark.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSTertiaryButtonStyle.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
Labels: type: task, feature: POS

#14795 [Woo POS] [Cash & Receipts] Handle navigation when order completed via cash
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentFacade.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSalePaymentState.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewHelperTests.swift
Labels: type: task, feature: POS

#14830 [Woo POS] [Cash & Receipts] UI updates
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#14829 HACK Week: Update Yosemite to support managing product filter history
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Actions/AppSettingsAction.swift
  Yosemite/Yosemite/Model/Products/ProductFilterHistory.swift
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests+ProductFilterHistory.swift
Labels: type: enhancement, feature: product list

#14822 Performance improvement of unit tests: Remove delays and inject dependencies
  WooCommerce/Classes/Authentication/Jetpack Setup/Native Jetpack Setup/JetpackSetupViewModel.swift
  WooCommerce/Classes/Notifications/PushNotificationBackgroundSynchronizer.swift
  WooCommerce/Classes/Notifications/PushNotificationBackgroundSynchronizerFactory.swift
  WooCommerce/Classes/Notifications/PushNotificationsManager.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Authentication/Jetpack Setup/JetpackSetupViewModelTests.swift
  WooCommerce/WooCommerceTests/Notifications/PushNotificationsManagerTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeLocalNotificationSchedulerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Analytics Hub/Report Cards/GoogleAdsCampaignReportCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/ProductBundles/ConfigurableBundleProductViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/FirstProductCreatedViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Edit Product/ProductFormRemoteActionUseCaseTests.swift
  Yosemite/YosemiteTests/Stores/ShippingLabelStoreTests.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: type: task, category: unit tests

#14846 Performance improvement of unit tests: Limit large MockCardReaderService delays
  Yosemite/YosemiteTests/Mocks/CardPresentPayments/MockCardReaderService.swift
Labels: type: task, category: unit tests

#14857 [Brand Updates] Update card reader illustrations to align colors and radius
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-connecting.imageset/card-reader-connecting-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-found.imageset/card-reader-found-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-low-battery.imageset/card-reader-low-battery-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-low-battery.imageset/card-reader-low-battery-light.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning-dark.pdf
  WooCommerce/Resources/Images.xcassets/card-reader-scanning.imageset/card-reader-scanning-light.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/woo-payments-card-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-payments-card.imageset/woo-payments-card-light.pdf
Labels: feature: mobile payments, category: design

#14855 [Shipping labels] Ensure entire address view is tappable for selection in origin address list
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListView.swift
Labels: feature: shipping labels

#14862 [Shipping Labels - Customs] Fix font color for dark mode
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsRow.swift
Labels: type: task, feature: shipping labels

#14811 [Woo POS] [Cash & Receipts] Validate cash amount
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/ViewHelpers/CollectCashViewHelper.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/ViewModels/CollectCashViewHelperTests.swift
Labels: type: task, feature: POS

#14756 [Brand Updates] POS theme updates
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSProgressViewStyle.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSecondaryButtonStyle.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
Labels: type: enhancement, category: design, feature: POS

#14861 [Woo POS] [Variable Products] Show error UI from pull-to-refresh or initial load failure
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListFullscreenErrorView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
Labels: type: task, feature: POS

#14864 Enable failed receipt sending for Stripe Gateway
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
Labels: type: task, feature: mobile payments

#14865 [Shipping labels] Update local requirements for address fields
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#14866 [Shipping labels] Make edit address form reusable for both origin and destination addresses
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingOriginAddressListViewModelTests.swift
Labels: feature: shipping labels

#14831 HACK Week: Support filter history in product list
  WooCommerce/Classes/ViewRelated/Filters/FilterHistoryView.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Filters/FilterProductListViewModelTests.swift
Labels: type: enhancement, feature: product list

#14873 Address flaky TapToPayEducationViewModelTests
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderMerchantEducationPresenter.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayEducationViewModelTests.swift
Labels: type: bug, category: unit tests

#14877 [Revamp Shipping Labels - Customs] Wire data
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation/Extensions/Array+Combine.swift
Labels: type: task, feature: shipping labels

#14895 [Revamp Shipping Labels • Customs] Currency Symbol
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
Labels: type: task, feature: shipping labels

#14874 [Woo POS] Item card UI updates
  WooCommerce/Classes/POS/Models/CartItem.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemCardBorderStylesModifier.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/POS/Utils/POSFontStyle.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CartViewHelperTests.swift
  WooCommerce/WooCommerceTests/ViewModels/ProductVariationFormatterTests.swift
  Yosemite/Yosemite/PointOfSale/POSVariation.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/Yosemite/Tools/ProductVariations/ProductVariationFormatter.swift
  Yosemite/Yosemite/Tools/ProductVariations/VariationAttributeViewModel.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#14870 [Woo POS] Workaround for refreshable task being canceled by redraw
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
Labels: type: bug, feature: POS

#14893 [Woo POS] [Variable Products] Add WC 9.7+ downloadable parameter to variations request
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
Labels: type: task, feature: POS

#14899 [Woo POS] [Variable Products] Filter out downloadable variations locally & only include published variations in variations request
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#14896 [Shipping labels] Logic for locally validating an origin address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#14854 [Woo POS] [Cash & Receipts] Animations
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: type: task, feature: POS

#14888 Remove feedback survey for Store setup
  RELEASE-NOTES.txt
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardViewHostingController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreSetupProgressView.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewHostingControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
Labels: type: task

#14901 Hide sites: Update footer for other stores section
  WooCommerce/Classes/Authentication/Epilogue/EditStoreList/EditStoreListView.swift
Labels: type: bug

#14889 Shipping Labels: Remove outdated survey
  RELEASE-NOTES.txt
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/ShippingLabelsTopBannerFactory.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/ShippingLabelsTopBannerFactoryTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/SurveyViewControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Survey/URL+SurveyViewControllerTests.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
Labels: type: task, feature: shipping labels

#14906 Dashboard: Update stats instantly upon dragging on store performance chart
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StorePerformanceView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/StoreStats/StoreStatsChart.swift
Labels: type: enhancement, feature: dashboard

#14890 Product Creation AI: Remove outdated survey
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductCoordinator.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyConfirmationView.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyConfirmationViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/Survey/ProductCreationAISurveyUseCase.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAISurveyConfirmationViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/Add Product/AddProductWithAI/ProductCreationAISurveyUseCaseTests.swift
Labels: type: task, feature: add/edit products

#14891 Coupons: Remove outdated survey
  RELEASE-NOTES.txt
  Storage/Storage/Model/FeedbackType.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/System/WooConstants.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListView.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Coupons/CouponListViewModel.swift
  WooCommerce/Classes/ViewRelated/Coupons/EnhancedCouponListViewController.swift
  WooCommerce/Classes/ViewRelated/Survey/SurveyViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Coupons/CouponListViewModelTests.swift
  Yosemite/Yosemite/Stores/AppSettings/InAppFeedbackCardVisibilityUseCase.swift
Labels: type: task, feature: coupons

#14897 Jetpack Setup: Fix crash upon magic link
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/SiteRemote.swift
  Networking/NetworkingTests/Remote/SiteRemoteTests.swift
  Networking/NetworkingTests/Responses/site-error.json
  Networking/NetworkingTests/Responses/site.json
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/JetpackSetupCoordinatorTests.swift
  Yosemite/Yosemite/Actions/SiteAction.swift
  Yosemite/Yosemite/Stores/SiteStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockSiteRemote.swift
  Yosemite/YosemiteTests/Stores/SiteStoreTests.swift
Labels: type: crash

#14898 [Woo POS] Polishes: item card image size, email text field capitalization, item list error button width
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
Labels: type: enhancement, feature: POS

#14915 [Woo POS] [Variable Products] Make inline itemlist error match other items
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemListErrorCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
Labels: type: task, feature: POS

#14916 [Woo POS] [Variable Products] Show a full page of ghost cells when loading
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
Labels: type: task, feature: POS

#14918 [Woo POS] [Cash & Receipts] Disable cash back button while loading
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
Labels: type: task, feature: POS

#14844 HACK Week: Add tracking for filter history
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+FilterHistory.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Filters/FilterProductListViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: enhancement, feature: order list, feature: product list, category: tracks

#14926 [Woo POS] [Variable Products] Update info banner to include variable products
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/SimpleProductsOnlyInformation.swift
Labels: type: task, feature: POS

#14913 [Woo POS] [Cash & Receipts] Fix for number formatting when using grouping separators
  WooCommerce/Classes/POS/ViewHelpers/CollectCashViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CollectCashViewHelperTests.swift
Labels: type: bug, feature: POS

#14902 POS: Dismiss Cash and Email view keyboard before the view disappears
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
Labels: type: enhancement, feature: POS

#14911 Tweak code signing lanes naming and make them all public
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Matchfile
Labels: category: tooling

#14938 [Brand Updates] Remove underline from links in the app
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULAccountMismatchViewController.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/ULErrorViewController.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSProgressViewStyle.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/Tools/Notices/PermanentNotice/PermanentNoticeView.swift
  WooCommerce/Classes/ViewRelated/Authentication/AccountCreationForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/LaunchStore/StoreOnboardingLaunchStoreViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Privacy/PrivacySettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Add Product/AddProductWithAI/EntryPoint/AddProductWithAIActionSheet.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
Labels: category: design

#14933 [Shipping labels] Add networking support for address validation endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingAddressValidationSuccessMapper.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddress.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddressValidationError.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddressValidationResponse.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddressValidationSuccess.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-address-validation-error.json
  Networking/NetworkingTests/Responses/wooshipping-address-validation-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14934 [Shipping labels] Add Yosemite support for address validation
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/ShippingLabel/WooShippingAddress.swift
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14868 Set default values for Blaze Ad Preview when fetching AI suggestions fail
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdViewModel.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeEditAdViewModelTests.swift
Labels: type: enhancement, feature: Blaze

#14939 [Brand Updates] Fixes for Skip button of the onboarding carousel
  WooCommerce/Classes/Authentication/Prologue/LoginOnboardingViewController.swift
Labels: category: design

#14920 Fix warnings generated by swift proposal SE-0364: Conformances of External Types
  Networking/Networking/Model/ApplicationPassword/ApplicationPassword.swift
  Networking/Networking/Model/Blaze/BlazeCampaignListItem.swift
  Networking/Networking/Model/Product/ProductReport.swift
  WooCommerce/Classes/Extensions/UINavigationController+Woo.swift
  WooCommerce/Classes/Extensions/URL+Identifiable.swift
  WooCommerce/Classes/Tools/ImageService/KingfisherImageDownloader+ImageDownloadable.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/LaunchStore/StoreOnboardingLaunchStoreView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/ProductStock/ProductStockDashboardCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/GiftCardError+Description.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Package Selection/Package Creation/PackageCreationError+UI.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Error Handling/ProductUpdateError+UI.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Payments/CardPresentPaymentsConfiguration.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/Yosemite/Stores/ProductStore.swift
  Yosemite/Yosemite/Stores/ShippingLabelStore.swift
  Yosemite/Yosemite/Stores/SiteStore.swift
Labels: type: technical debt

#14936 Try to address Stripe Terminal SDK crashes when checking local mobile reader support
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardReaderSupportDeterminer.swift
Labels: type: crash, feature: mobile payments

#14937 [Shipping labels] Add networking support for updating origin address endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Mapper/WooShippingOriginAddressMapper.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingOriginAddress.swift
  Networking/Networking/Model/ShippingLabel/Packages/WooShippingOriginAddressUpdate.swift
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-update-origin-success.json
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
Labels: feature: shipping labels

#14942 [Shipping labels] Add Yosemite support for updating origin address
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: feature: shipping labels

#14951 Update App Store Connect Copyright Date
  fastlane/Fastfile
  fastlane/metadata/copyright.txt
Labels: category: tooling

#14947 Convert version comparison tests to swift testing
  WooCommerce/WooCommerceTests/Extensions/VersionHelpersTests.swift
Labels: type: task, feature: POS

#14843 [Woo POS] Bump minimum required WC version to 9.6, replace local products filters with downloadable parameter, page size 25
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
  Networking/NetworkingTests/Responses/products-load-all-for-eligibility-criteria.json
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#14935 [Woo POS] [Cash & Receipts] Better support for large font sizes
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/DynamicVStack.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#14946 [Woo POS] [Variable Products] Match variation order with wp admin menu order
  Networking/Networking/Remote/ProductVariationsRemote.swift
  WooCommerce/WooCommerceTests/Extensions/VersionHelpersTests.swift
Labels: type: task, feature: POS

#14954 [Woo POS][Cash & Receipts] Validate empty cash user input as zero
  WooCommerce/Classes/POS/ViewHelpers/CollectCashViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewModels/CollectCashViewHelperTests.swift
Labels: type: task, feature: POS

#14949 [Shipping labels] Add WooShippingAddressField to represent an address field
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingAddressField.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#14950 [Shipping labels] Locally validate the address fields and display validation errors
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingAddressField.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#14907 [Order Creation] Use store currency for all new orders
  Networking/Networking/Remote/OrdersRemote.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/EditableOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/OrderSynchronizer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizer.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/EditableOrderViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/ProductInputTransformerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Creation/Synchronizer/RemoteOrderSynchronizerTests.swift
  Yosemite/Yosemite/Stores/Order/OrderFactory.swift
  Yosemite/Yosemite/Stores/OrderStore.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrdersRemote.swift
  Yosemite/YosemiteTests/Stores/OrderStoreTests.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: bug, feature: order creation

#14940 [Brand Updates] Add missing periods to Empty State messages
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignListView.swift
  WooCommerce/Classes/ViewRelated/Blaze/TargetLocations/BlazeTargetLocationPickerViewModel.swift
  WooCommerce/Classes/ViewRelated/Custom Fields/CustomFieldsListView.swift
  WooCommerce/Classes/ViewRelated/Customers/CustomersListView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/DashboardView.swift
  WooCommerce/Classes/ViewRelated/Inbox/Inbox.swift
  WooCommerce/Classes/ViewRelated/Orders/OrderListViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductVariationsViewController.swift
  WooCommerce/Resources/en.lproj/Localizable.strings
Labels: category: design

#14944 [Revamp Shipping Labels • Customs] Extra Details
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
Labels: type: task, feature: shipping labels

#14884 [Woo POS] [Cash & Receipts] Enable `acceptCashForPointOfSale`
  Experiments/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageViewModel.swift
Labels: type: task, feature: POS

#14919 [Woo POS] [Cash & Receipts] UI updates from testing
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentSuccessMessageView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Utils/AdaptiveButtonPaddingModifier.swift
  WooCommerce/Classes/POS/Utils/Color+WooCommercePOS.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/FormattableAmountTextField.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#14967 [Woo POS] [Variable Products] Add empty state for variations
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
Labels: type: task, feature: POS

#14969 [Woo POS] [Variable Products] Enable variable product support in POS
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task, feature: POS

#14964 [Mobile-Payments] Fix Stripe Extension Setup URL
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/Site+URL.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/CardPresentPaymentsOnboardingViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountOverdueView.swift
  WooCommerce/WooCommerceTests/Extensions/SitePluginsURLTests.swift
Labels: type: bug, feature: mobile payments

#14966 [Brand Updates] Update In-Person mentions to make sure we use non-breaking hyphen
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsSelectPluginView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupported.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsCountryNotSupportedStripe.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsLiveSiteInTestModeView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotActivatedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotInstalledView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSetup.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsPluginNotSupportedVersionView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountOverdueView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAccountPendingView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeAcountReviewView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsStripeRejectedView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsUnavailableView.swift
Labels: category: i18n

#14961 Core Data: Attempt recovery when database is corrupted
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Extensions/NSManagedObjectContext+Storage.swift
  Storage/StorageTests/CoreData/CoreDataManagerTests.swift
  Storage/StorageTests/CoreData/MigrationTests.swift
  Storage/StorageTests/Extensions/NSManagedObjectContextStorageTests.swift
  WooFoundation/WooFoundation/Mocks/MockCrashLogger.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager.swift
Labels: type: crash, feature: core

#14931 Product Form: Support viewing product page for coming soon sites
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormViewController.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/LabeledTextViewTableViewCell.swift
Labels: type: enhancement, feature: add/edit products

#14977 Craft Release Notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task

#14973 [Brand Updates] Update Jetpack setup illustrations in dark theme
  WooCommerce/Resources/Images.xcassets/woo-empty-store-picker.imageset/woo-empty-store-picker-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-connection.imageset/woo-jetpack-connection–dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup-interrupted.imageset/woo-jetpack-setup-interrupted-dark.pdf
  WooCommerce/Resources/Images.xcassets/woo-jetpack-setup.imageset/woo-jetpack-setup-dark.pdf
Labels: category: design

#14981 fix: modify `JetpackSetupCoordinator` to dismiss `progressView` upon successful setup completion
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
Labels: type: bug, feature: login, category: jetpack

#14959 [Revamp Shipping Labels • Customs] Sync form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#14988 Merge release/21.4 into trunk
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
Labels: Releases

#14922 Update Sentry library from v.8.36.0 to v.8.43.0
  Podfile
  Podfile.lock
Labels: type: technical debt

#14963 Remove sendReceiptAfterPayment and tapToPayEducation feature flags
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/BuiltInCardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayCompleteViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/SetUpTapToPayInformationViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayAwarenessMomentDeterminer.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/Tap to Pay Education/TapToPayEducationStepViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/AboutTapToPayView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayEducationContactlessLimitView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayAwarenessMomentDeterminerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/TapToPayEducationContactlessLimitViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: mobile payments

#14991 [Woo POS] Fix transaction success view animations for cash view. Update animations for card success view.
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSalePaymentSuccessViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: bug, feature: POS

#14980 [Mobile Payments] Handle Network errors for payments using site credentials
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/wcpay-charge-error-site-credentials.json
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsAlertPresenterAdaptor.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/CardPresentPaymentStore.swift
  Yosemite/Yosemite/Stores/PaymentsError.swift
  Yosemite/YosemiteTests/Stores/CardPresentPaymentStoreTests.swift
Labels: type: bug, feature: mobile payments

#14987 [Revamp Shipping Labels • Customs] Hide/Show Customs row depending on the addresses configuration
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#14990 [Mobile Payments] Improve Try Again for card reader updates
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentBluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryAlertViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateFailedLowBatteryView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalSizing.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalUpdateFailedLowBattery.swift
  WooCommerce/Classes/ViewRelated/CardPresentPayments/CardReaderConnectionController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothReaderConnectionAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderConnectionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlerts.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderSettingsConnectedViewController.swift
  WooCommerce/WooCommerceTests/Mocks/MockCardReaderSettingsAlerts.swift
Labels: type: bug, feature: mobile payments

#14994 [Woo POS] Update connection status when reader turned off
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentService.swift
Labels: type: bug, feature: mobile payments, feature: POS

#15004 [Shipping labels] Add UI for normalizing an origin/destination address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingNormalizeAddressView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels

#15001 [Woo POS] Show $0.00 when there’s no price returned
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Responses/products-load-simple-products-empty-price.json
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#14995 [Woo POS] Handle external reader disconnection gracefully in Point of Sale
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Presentation/Payments Onboarding/PointOfSaleCardPresentPaymentOnboardingViewModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CollectCashViewHelperTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/TotalsViewHelperTests.swift
Labels: type: bug, feature: mobile payments, feature: POS

#14997 [Woo POS] Fix try again buttons when payment cancellation fails
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockCardPresentPaymentService.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: bug, feature: POS

#15007 [Woo POS] Prevent POS use in horizontally compact view
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleUnsupportedWidthView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15009 [Shipping labels] Add view model to provide data and actions for normalizing address UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingAddress+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingNormalizeAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingNormalizeAddressViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingNormalizeAddressViewModelTests.swift
  Yosemite/Yosemite/Model/Model.swift
Labels: feature: shipping labels

#15005 [Woo POS] Handle payment for free orders
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleOrderTotals.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
Labels: type: task, feature: POS

#15010 Show cash button when order below card threshold
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentValidatingOrderErrorMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
Labels: type: task, feature: POS

#15006 [Woo POS] Analytics: Decorate POS events with `pos_` prefix
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, category: tracks, feature: POS

#15021 [Brand Updates] Fixes to some Woo icons
  WooCommerce/NotificationExtension/images.xcassets/woo-icon.imageset/woo-icon.pdf
  WooCommerce/Resources/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
Labels: type: bug, category: design

#15025 Fix: Release POSModalManager after closing the POS
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalManager.swift
Labels: type: bug, feature: POS

#15020 [Shipping labels] Track when an address being edited has local changes
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingAddressField.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#15023 [Shipping labels] Remotely validate edited address
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingNormalizeAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#15024 [Shipping labels] Display remote validation errors in address form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingAddressField.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels

#15030 [Woo POS] Show payment method name in success screen
  WooCommerce/Classes/POS/Models/PointOfSalePaymentMethod.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSalePaymentSuccessViewModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyleTests.swift
Labels: type: task, feature: POS

#15032 Craft release notes.
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#15022 [Woo POS] Add celebration UX to cash payments
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/Mocks/PaymentCaptureCelebration.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
Labels: type: task, category: unit tests, feature: POS
