Repository woocommerce/woocommerce-ios, pull requests merged in 2025-04, with the labels that each got.

#15448 Shipping Labels: Handle merging shipments
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15423 [Woo POS] Coupons: Sync from remote
  Networking/Networking/Remote/CouponsRemote.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: coupons, feature: POS

#15449 [Shipping Labels] Update shipments from view layer
  WooCommerce/Classes/Model/ShippingLabelPackageItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/Multi-package/ShippingLabelPackagesFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/Create Shipping Label/ShippingLabelFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemRowViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingItemsViewModelTests.swift
Labels: feature: shipping labels

#15459 [Woo POS] Cart item polishes
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSBottomShadowViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSEdgeShadowViewModifier.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15458 [Woo POS][Products Search] Search and limited fields for POSProduct requests
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Model/POSProduct.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/NetworkingTests/Remote/POSProductsNetworkingTests.swift
  Networking/NetworkingTests/Remote/ProductsRemoteTests.swift
Labels: type: task, feature: POS

#15464 [Woo POS] Coupons: Update coupon service conformance
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: coupons, feature: POS

#15460 [Mobile Payments] Fix loading spinner color in dark mode
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/IndefiniteCircularProgressViewStyle.swift
Labels: type: task, feature: mobile payments

#15454 [Payments] Remove collect payment button in menu
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/App Intents/CollectPaymentAppIntent.swift
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/Destinations/PaymentsMenuDestination.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/Universal Links/Routes/PaymentsRoute.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenu.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/InPersonPaymentsMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Payments Menu/SimplePaymentsMigrationView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/Resources/Images.xcassets/bell.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/bell.imageset/bell-dark.pdf
  WooCommerce/Resources/Images.xcassets/bell.imageset/bell-light.pdf
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/Universal Links/Routes/PaymentsRouteTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsMenuViewModelTests.swift
Labels: type: task, category: tracks, feature: simple payments

#15466 [Shipping Labels] Send country code in customs form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
Labels: feature: shipping labels

#15463 Shipping Labels: Update tabs for shipments with purchased labels
  Networking/Networking/Model/ShippingLabel/Shipments/WooShippingConfigResponse.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPurchase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsDetailView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15465 [Order form] Fix blurry image for scan product, and QR & TTP payment methods; update selected icon color in product selector
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/OrderForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/GiftCardInputView.swift
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRow.swift
Labels: type: enhancement, feature: order creation

#15468 [Woo POS] Coupons: Show error when coupons are disabled in core
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: coupons, feature: POS

#15470 [Woo POS] Coupons: Show error view when store has no coupons
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
Labels: type: task, feature: coupons, feature: POS

#15462 [Order Creation] Set a customer's first/last name from a full name so that all components after the first one goes to the last name
  Networking/NetworkingTests/Mapper/WCAnalyticsCustomerMapperTests.swift
  Networking/NetworkingTests/Remote/WCAnalyticsCustomerRemoteTests.swift
  Networking/NetworkingTests/Responses/wc-analytics-customers.json
  RELEASE-NOTES.txt
  Yosemite/Yosemite/Model/Storage/Customer+ReadOnlyConvertible.swift
  Yosemite/YosemiteTests/Stores/CustomerStoreTests.swift
Labels: type: bug, feature: order creation

#15444 [Login] Use magic link for suspicious emails
  RELEASE-NOTES.txt
  WooCommerce/WordPressAuthenticator/Analytics/AuthenticatorAnalyticsTracker.swift
  WooCommerce/WordPressAuthenticator/NUX/Button/NUXButton.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Get Started/GetStartedViewController.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Login/MagicLinkFallbackAction.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Login/MagicLinkRequestViewController.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Login/MagicLinkRequestedViewController.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Password/PasswordCoordinator.swift
  WooCommerce/WordPressAuthenticator/Unified Auth/View Related/Site Address/SiteCredentialsViewController.swift
Labels: type: enhancement, feature: login

#15467 [Woo POS] Coupons: Creation (with dummy entry point UI)
  WooCommerce/Classes/POS/Presentation/Coupons/POSCouponCreationSheet.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/ViewRelated/Coupons/Add and Edit Coupons/AddEditCouponViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15480 [Woo POS] Temporarily remove checkStoreCouponSettings code conflicts
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: bug, feature: POS

#15481 [Woo POS] Restore checkStoreCouponSettings to PointOfSaleCouponService
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
  Yosemite/Yosemite/Stores/CouponStore.swift
  Yosemite/Yosemite/Stores/Helpers/CouponService.swift
  Yosemite/Yosemite/Stores/Helpers/CouponStoreMethods.swift
  Yosemite/Yosemite/Stores/Helpers/SettingStoreMethods.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Mocks/MockCouponStoreMethods.swift
  Yosemite/YosemiteTests/Mocks/MockSettingStoreMethods.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
Labels: type: task, feature: POS

#15486 Updates release notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15482 [Woo POS] Change ItemType selection approach
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListBaseItem.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleItemsService.swift
Labels: type: task, feature: POS

#15477 [Woo POS][Product Search] Add ability to set search strategy on PointOfSaleItemService
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Notifications/MockPointOfSalePurchasableItemFetchStrategy.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemServiceProtocol.swift
  Yosemite/Yosemite/PointOfSale/PointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/YosemiteTests/Mocks/MockPointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
Labels: type: task, feature: POS

#15471 [Payments] Allow any number of retries for a retryable payment error
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
Labels: type: task, feature: mobile payments, feature: POS

#15489 [Woo POS] Fix empty state display
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
Labels: type: task, feature: POS

#15491 [Jetpack Setup] Use magic link for login when detecting suspicious emails
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginView.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComEmailLoginViewModel.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComLoginGravatarView.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComMagicLinkRequestView.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComMagicLinkRequestViewModel.swift
  WooCommerce/Classes/Authentication/WPComLogin/WPComPasswordLoginView.swift
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/WPComLogin/WPComEmailLoginViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/WPComLogin/WPComMagicLinkRequestViewModelTests.swift
Labels: type: enhancement, feature: REST API

#15478 [Woo POS] Coupons: Enable site coupons when tap on CTA
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListFullscreenErrorView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListFullscreenView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponsController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: coupons, feature: POS

#15495 [Woo POS] Coupons: Centralize view state source of truth
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
Labels: type: task, feature: POS

#15494 [Woo POS] Coupons: Checkout - Discount Total (Designer UI)
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentDisconnectedMessageView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooFoundation/WooFoundation/Currency/CurrencyFormatter.swift
Labels: feature: POS

#15492 [Woo POS] Coupons: Coupon Row (Designer UI)
  WooCommerce/Classes/Model/Coupon+Woo.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/Cart.swift
  WooCommerce/Classes/POS/Presentation/CartRowRemoveButton.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/CouponRowView.swift
  WooCommerce/Classes/POS/Presentation/Coupons/POSCouponCreationSheet.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/TotalsViewHelperTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Model/Coupons/Coupon+Summary.swift
  Yosemite/Yosemite/PointOfSale/POSCoupon.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: POS

#15496 [Woo POS] Coupons: Preparation work for pagination
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: coupons, feature: POS

#15497 Do not remove all site settings when updating a single setting
  Yosemite/Yosemite/Stores/Helpers/SettingStoreMethods.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: type: bug, feature: app settings

#15500 [Woo POS] Coupons: Coupon in a list (Designer UI)
  WooCommerce/Classes/POS/Presentation/CouponRowView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/CouponCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSCouponImageView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task

#15490 [Woo POS][Products search] Add feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, feature: POS

#15501 [Woo POS][Product Search] Make remote search requests
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSalePurchasableItemsSearchController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#15499 [Woo POS] Coupons: Separate first page fetch from subsequent paginated fetch. Initial pagination and infinite scrolling.
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
  Yosemite/YosemiteTests/Mocks/MockSettingStoreMethods.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
Labels: type: task, feature: coupons, feature: POS

#15503 Update Sentry SDK to latest stable (8.46.0)
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: type: task, category: tooling, feature: core

#15504 [Woo POS] Expose item controllers for POS list views to use directly
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListBaseItem.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
Labels: type: task, feature: POS

#15506 [Woo POS][Products search] Make remote products search more predictable
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
Labels: type: task, feature: POS

#15505 [Woo POS] Coupons: List - Enable Coupons - Wrap Up (Designer UI and Copy)
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponsController.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
  Yosemite/YosemiteTests/Tools/ResultsControllerTests.swift
Labels: type: task, feature: POS

#15507 [Woo POS] Coupons: V2 Design Updates
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posError.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posOnError.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posOnSuccess.colorset/Contents.json
  WooCommerce/Classes/POS/Colors/POSColorPalette.xcassets/posSuccess.colorset/Contents.json
  WooCommerce/Classes/POS/Presentation/CartRowRemoveButton.swift
  WooCommerce/Classes/POS/Presentation/CouponRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncCouponsErrorMessageView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSCouponImageView.swift
Labels: type: task, feature: POS

#15510 [Woo POS][Product Search] Pre-search UI: Save recent searches
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/POSItemActionHandler.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSItemType.swift
  Yosemite/Yosemite/PointOfSale/POSSearchHistoryService.swift
  Yosemite/YosemiteTests/PointOfSale/POSSearchHistoryServiceTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#15509 [Woo POS] Coupons: Pagination - Wrap Up
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListState.swift
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponService.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
Labels: type: task, feature: POS

#15511 [Woo POS][Product Search] Pre search UI – Show recent searches
  WooCommerce/Classes/POS/Presentation/Item Search/POSRecentSearchesView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, status: feature-flagged, feature: POS

#15514 [Woo POS][Products Search] Extract local site settings storage
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/Stores/AppSettingsStore.swift
  Yosemite/Yosemite/Stores/Helpers/SiteSpecificAppSettingsStoreMethods.swift
  Yosemite/YosemiteTests/Mocks/MockSiteSpecificAppSettingsStoreMethods.swift
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
  Yosemite/YosemiteTests/Stores/Helpers/SiteSpecificAppSettingsStoreMethodsTests.swift
Labels: type: task, feature: POS

#15515 [Woo POS][Product Search] Pre-search UI: Persist recent searches
  Storage/Storage/Model/Copiable/Models+Copiable.generated.swift
  Storage/Storage/Model/GeneralStoreSettings.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite/PointOfSale/POSItemType.swift
  Yosemite/Yosemite/PointOfSale/POSSearchHistoryService.swift
  Yosemite/Yosemite/Stores/Helpers/SiteSpecificAppSettingsStoreMethods.swift
  Yosemite/YosemiteTests/Mocks/MockSiteSpecificAppSettingsStoreMethods.swift
  Yosemite/YosemiteTests/PointOfSale/POSSearchHistoryServiceTests.swift
  Yosemite/YosemiteTests/Stores/Helpers/SiteSpecificAppSettingsStoreMethodsTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#15512 [Woo POS] Coupons: Products/Coupons Header
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderLayoutConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderActionButton.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15508 [Woo POS] Create CartItem enum to simplify aggregate model interface
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/Cart.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/CouponRowView.swift
  WooCommerce/Classes/POS/Presentation/ItemRowView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncCouponsErrorMessageView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
Labels: type: task, feature: POS

#15520 [Woo POS] Make a Preview aggregate model helper function
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/CardReaderConnectionStatusView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PaymentButtons.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSendReceiptView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
Labels: type: task, feature: POS

#15516 [Woo POS] Coupons: Analytics
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/POSItemActionHandler.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncCouponsErrorMessageView.swift
  Yosemite/Yosemite/Stores/CouponsError.swift
Labels: type: task, category: tracks, feature: POS

#15522 Release/22.2 Release Notes
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15518 Remove CodeRabbit AI configuration file
  .coderabbit.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: category: tooling

#15483 Shipping Labels: Show tabs in creation form
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15517 Fix blurry product thumbnails
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductImageThumbnail.swift
Labels: type: bug

#15526 [Woo POS] Coupons: Error/empty/disabled states design pass-through
  WooCommerce/Classes/POS/Models/PointOfSaleErrorState.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
Labels: feature: coupons, feature: POS

#15527 [Woo POS] Coupons: Filter out expired coupons from appearing in POS
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
Labels: type: task, feature: coupons, feature: POS

#15531 Implement shipment tab pre-selection
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
Labels: type: bug, feature: shipping labels

#15530 [Woo POS][Product Search] Empty state updates
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/KeyboardObserver.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15534 [Woo POS] Hide Check Out button until purchasable items (products / variable products) are added
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
Labels: type: task, feature: POS

#15535 [Woo POS] Update POSPageHeaderView to accept selected state
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListType.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15521 [Woo POS][Product Search] Improve search UI
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/ItemListType.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSHeaderLayoutConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderActionButton.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSPageHeaderView.swift
Labels: type: task, feature: POS

#15524 [Woo POS][Product Search] Pre-search UI: load popular products
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking/Remote/ProductsRemote.swift
  WooCommerce/Classes/POS/Controllers/PointOfSalePopularItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPointOfSalePopularItemsController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSalePopularItemsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleItemFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/PointOfSalePurchasableItemFetchStrategy.swift
Labels: type: task, status: feature-flagged, feature: POS

#15539 [Woo POS] Replace product restrictions banner with a menu item
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
Labels: type: task, feature: POS

#15541 [Woo POS][Products Search] Analytics for recent searches release
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Models/ItemListType.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/POSItemActionHandler.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, category: tracks, feature: POS

#15532 Conditionally restrict "New shipment" option
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/MoveToShipmentNotice.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: type: bug, feature: shipping labels

#15540 [Woo POS] Coupons: Keep products and coupons scroll state separate (Using tab views)
  WooCommerce/Classes/POS/Models/ItemListType.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, feature: POS

#15542 [Woo POS] Coupons: Display expired coupons with disabled selection
  WooCommerce/Classes/POS/Presentation/Item Selector/CouponCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListCardConstants.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSCouponImageView.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/POSCoupon.swift
  Yosemite/Yosemite/PointOfSale/PointOfSaleCouponService.swift
  Yosemite/YosemiteTests/PointOfSale/POSCouponTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
Labels: type: task, feature: coupons, feature: POS

#15528 Shipping Labels: Update shipment tabs for purchased labels
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15545 [Woo POS][Products Search] Design tweaks for initial search release
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Presentation/Item Search/POSRecentSearchesView.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: task, feature: POS

#15537 Shipping Labels: Fix issue purchasing labels when navigating from a purchased label
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15548 [Shipping labels] Allow split shipments dismiss without changes
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15546 Core Data: Prevent crash on the Blaze Dashboard when saving fails
  RELEASE-NOTES.txt
  Storage/Storage/CoreData/CoreDataManager.swift
  Storage/Storage/Protocols/StorageManagerType.swift
  WooCommerce/Classes/System/SessionManager.swift
  WooCommerce/WooCommerceTests/System/SessionManagerTests.swift
Labels: type: crash, feature: Blaze, feature: core

#15555 [Mobile Payments] Prevent sleep during TTP configuration steps.
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  RELEASE-NOTES.txt
Labels: feature: mobile payments, Bug

#15550 Shipping Labels: Update customs form for shipments
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingPostPurchaseViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15554 [Shipping Labels] Disable last unfulfilled shipment removal item
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: type: bug, feature: shipping labels

#15549 Enable enableCouponsInPointOfSale feature flag
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: POS

#15563 [Woo POS] Display an underlying error for Alamofire errors when loading POS order
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
Labels: feature: POS, Enhancement

#15557 [Woo POS] [Receipts] Set `created_via` parameter in POS order creation request to identify POS orders
  Networking/Networking/Model/Order.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  Yosemite/Yosemite/Stores/SystemStatusStore.swift
  Yosemite/YosemiteTests/Stores/SystemStatusStoreTests.swift
Labels: type: task, feature: point of sale

#15560 Shipping Labels: Fix UI issues after purchasing labels
  Networking/Networking/Model/ShippingLabel/WooShippingAddress.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: feature: shipping labels, Bug

#15565 [Woo POS] Coupons: Search - Introduce a strategy to prepare for search
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Coupons/POSCoupon.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategy.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponService.swift
  Yosemite/Yosemite/PointOfSale/Items/POSSimpleProduct.swift
  Yosemite/Yosemite/PointOfSale/Items/POSVariableParentProduct.swift
  Yosemite/Yosemite/PointOfSale/Items/POSVariation.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemService.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemServiceProtocol.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleDefaultCouponFetchStrategyTests.swift
Labels: type: task, feature: POS

#15567 [Woo POS] Coupons: Search - Create search strategy
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategy.swift
  Yosemite/YosemiteTests/Mocks/MockStorageManager+Sample.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleSearchCouponFetchStrategyTests.swift
Labels: type: task, feature: POS

#15571 [Woo POS] Coupons: Search - Strategy Factory
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponsController.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponService.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
Labels: type: task, feature: POS

#15575 [Woo POS] Update recent searches empty text
  WooCommerce/Classes/POS/Presentation/Item Search/POSRecentSearchesView.swift
Labels: type: task, feature: POS

#15573 [Order Form] Improve custom amounts forms
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountPercentageView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/CustomAmounts/AddCustomAmountView.swift
Labels: feature: order creation, iOS, Bug

#15569 Shipping Labels: Update keyboard types for email and phone number fields
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
Labels: feature: shipping labels, Enhancement

#15574 [Woo POS] Consistency between error and empty states for Products and Coupons
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleItemsControllerTests.swift
Labels: type: task, feature: POS

#15576 [Woo POS] Track variation parent list search state
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ChildItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/PointOfSaleItemListAnalyticsTracker.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS
