Repository woocommerce/woocommerce-ios, pull requests merged in 2025-05, with the labels that each got.

#15581 [Woo POS][Products Search] Update search request debounce to match Android
  WooCommerce/Classes/POS/Presentation/Item Search/POSSearchView.swift
Labels: type: task, feature: POS

#15577 [Woo POS] VoiceOver improvements for itemlist and search
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSItemImageView.swift
Labels: type: task, feature: POS, Accessibility

#15584 [Woo POS] Coupons Fix coupon sheet losing its state
  WooCommerce/Classes/POS/Presentation/Coupons/POSCouponCreationSheet.swift
Labels: type: task, feature: POS

#15582 [Woo POS][Products Search] Let recent searches scroll over floating buttons
  WooCommerce/Classes/POS/Presentation/Item Search/POSRecentSearchesView.swift
Labels: type: task, feature: POS

#15564 [Shipping Labels] Fix product icon color
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
Labels: type: bug, feature: shipping labels

#15566 [Shipping Labels] Fix padding for shipments items box
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Items Section/WooShippingItems.swift
Labels: type: bug, feature: shipping labels

#15586 Update release notes for 22.3
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15578 [Woo POS] Coupons: Present different views when discerning from no coupons in store vs empty search
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleItemListEmptyView.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponService.swift
Labels: type: task, feature: coupons, feature: POS

#15583 [Woo POS] Coupons: Fix an issue where search list momentarily appears with previous search results
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSProductSearchable.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSSearchView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponsController.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSalePurchasableItemsSearchController.swift
Labels: type: task, feature: POS

#15588 [Order Details] Refactor order detail rows to account for async operations
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsViewControllerTests.swift
Labels: type: enhancement, type: task, feature: order details

#15593 [Woo POS] Coupons: Update icon size
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSCouponImageView.swift
Labels: type: task, feature: POS

#15591 [Payments] Display card inserted status for card-present payments
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentCollectOrderPaymentUseCaseAdaptor.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentEventDetails.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentInvalidatablePaymentOrchestrator.swift
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsTransactionAlertsProvider.swift
  WooCommerce/Classes/POS/Models/PointOfSalePaymentState.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/PointOfSaleCardPresentPaymentEventPresentationStyle.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentCardInsertedMessageViewModel.swift
  WooCommerce/Classes/POS/Presentation/Card Present Payments/Reader Messages/PointOfSaleCardPresentPaymentMessageType.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleCardPresentPaymentInLineMessage.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCancelledOnReaderMessageView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSaleCardPresentPaymentCardInsertedMessageView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
  WooCommerce/Classes/POS/ViewHelpers/CartViewHelper.swift
  WooCommerce/Classes/POS/ViewHelpers/TotalsViewHelper.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/CardPresentModalCardInserted.swift
  WooCommerce/Classes/ViewModels/CardPresentPayments/PaymentCaptureOrchestrator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/BluetoothCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/CardReaderTransactionAlertsProviding.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/CardReadersV2/TapToPayCardReaderPaymentAlertsProvider.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPaymentCaptureOrchestrator.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CartViewHelperTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/TotalsViewHelperTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/PaymentCaptureOrchestratorTests.swift
Labels: type: task, feature: mobile payments

#15551 [Woo POS] Coupons: Disallow adding duplicate coupons to cart
  WooCommerce/Classes/POS/Models/Cart.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/POSItemActionHandler.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSSearchHistoryService.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/POSItemActionHandlerTests.swift
Labels: type: task, feature: coupons, feature: POS

#15590 [POS - Accessibility] Expand items titles with bigger font sizes
  WooCommerce/Classes/POS/Presentation/Item Selector/CouponCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ParentProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/SimpleProductCardView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/VariationCardView.swift
Labels: type: bug, feature: POS

#15592 Shipping Labels: Update logic for showing notices
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels, Bug

#15594 [Woo POS] Fix non-English characters rendering in coupon error messages
  WooCommerce/Classes/POS/Presentation/Order Messages/PointOfSaleOrderSyncCouponsErrorMessageView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
Labels: type: task, feature: POS

#15580 [Woo POS] Coupons: Search - handle cancellation in coupon strategy calls
  Networking/Networking/Remote/CouponsRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/CouponsRemoteTests.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleCouponsControllerTests.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategy.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponService.swift
  Yosemite/Yosemite/Stores/Helpers/CouponStoreMethods.swift
  Yosemite/YosemiteTests/Mocks/MockCouponStoreMethods.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockCouponsRemote.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleDefaultCouponFetchStrategyTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleSearchCouponFetchStrategyTests.swift
  Yosemite/YosemiteTests/Stores/CouponStoreTests.swift
Labels: type: task, feature: POS

#15596 Shipping Label: Fix issue purchasing label with unsaved custom package
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingAddCustomPackageViewModelTests.swift
Labels: feature: shipping labels, Bug

#15595 Shipping Labels: Fix issue marking order as complete after purchasing label
  WooCommerce/Classes/Model/ShippingLabelAddress+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
Labels: feature: shipping labels, Bug

#15599 [WatchdogTermination] Make `currentController` weak
  WooCommerce/Classes/System/WooNavigationController.swift
Labels: type: crash

#15589 [Woo POS][Products Search] Show popular products in pre search UI
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSPreSearchView.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSProductSearchable.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSRecentSearchesView.swift
  WooCommerce/Classes/POS/Presentation/Item Search/POSSearchView.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/ItemList.swift
  WooCommerce/Classes/POS/Presentation/Item Selector/POSItemActionHandler.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/POSItemActionHandlerTests.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSalePurchasableItemFetchStrategy.swift
Labels: type: task, status: feature-flagged, feature: POS

#15600 [Woo POS][Products Search] Remove outdated popular items controller
  WooCommerce/Classes/POS/Controllers/PointOfSalePopularItemsController.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockPointOfSalePopularItemsController.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSalePopularItemsControllerTests.swift
Labels: type: task, feature: POS

#15601 [Woo POS][Products Search] Add tests for popular items strategy
  Networking/Networking/Remote/ProductsRemote.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Items/PointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSalePopularPurchasableItemFetchStrategyTests.swift
Labels: type: task, feature: POS

#15598 Provision SwiftLint via SwiftPM instead of CocoaPods
  .swiftlint.yml
  BuildTools/Empty.swift
  BuildTools/Package.resolved
  BuildTools/Package.swift
  Podfile
  Podfile.lock
  Rakefile
  Scripts/build-phases/swiftlint.sh
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Edit Tags/ProductTagsViewController.swift
Labels: category: tooling

#15610 Fix flaky site settings unit tests
  Networking/Networking/Remote/SiteSettingsRemote.swift
  Yosemite/Yosemite/Stores/Helpers/SettingStoreMethods.swift
Labels: category: unit tests

#15605 [Woo POS]Track time taken for search requests
  Networking/Networking/Remote/ProductVariationsRemote.swift
  Networking/Networking/Remote/ProductsRemote.swift
  Networking/Networking/Remote/Remote.swift
  Networking/NetworkingTests/Remote/POSProductsNetworkingTests.swift
  Networking/NetworkingTests/Remote/ProductVariationsRemoteTests.swift
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/POSSearchAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Notifications/MockPointOfSalePurchasableItemFetchStrategy.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSItemProvider.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleCouponService.swift
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategy.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemService.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/Yosemite/PointOfSale/POSSearchAnalyticsTracking.swift
  Yosemite/YosemiteTests/Mocks/MockPointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductVariationsRemote.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockProductsRemote.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleCouponServiceTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleSearchPurchasableItemFetchStrategyTests.swift
Labels: type: task, category: tracks, feature: POS

#15609 Provision Sourcery via SwiftPM instead of CocoaPods
  BuildTools/.sourcery.yml
  BuildTools/Package.resolved
  BuildTools/Package.swift
  Podfile
  Podfile.lock
  Rakefile
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: category: tooling

#15602 Shipping Labels: Add new view for requesting refund
  Networking/Networking/Model/ShippingLabel/ShippingLabel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/Refund/WooShippingRefundView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/Refund/WooShippingRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels

#15604 Temporarily resolve missing order destination address update
  Yosemite/Yosemite/Stores/WooShippingStore.swift
Labels: type: bug

#15614 [Shipping labels] Disable "Select all" for fulfilled shipments
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
Labels: type: bug, feature: shipping labels

#15613 Shipping Label: Update refund UI from the order details screen for the new flow
  WooCommerce/Classes/Extensions/ShippingLabel+Helpers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/WooCommerceTests/Extensions/ShippingLabelHelpersTests.swift
Labels: type: task, feature: shipping labels

#15559 [Woo POS] [Receipts] Set order metadata with the formatted change due amount string when a cash payment is made
  Networking/Networking/Model/PaymentGateway.swift
  Networking/Networking/Remote/OrdersRemote.swift
  Networking/Networking/Remote/POSOrdersRemoteProtocol.swift
  Networking/NetworkingTests/Remote/OrdersRemoteTests.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Utils/PointOfSalePreviewOrderController.swift
  WooCommerce/Classes/POS/ViewHelpers/CollectCashViewHelper.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/InPersonPaymentsCashOnDeliveryPaymentGatewayHelpers.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPOSOrderService.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/CollectCashViewHelperTests.swift
  Yosemite/Yosemite/Tools/POS/POSOrderService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSOrdersRemote.swift
  Yosemite/YosemiteTests/Tools/POS/POSOrderServiceTests.swift
Labels: type: task, feature: point of sale

#15628 [Woo POS] Remove excessive animations from the search content view
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
Labels: type: enhancement, feature: POS

#15620 Remove filters for non-purchasable product variations
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductVariationSelectorViewModel.swift
Labels: feature: order creation, Bug

#15608 Upgrade to Xcode 16.3 and 18.4 toolchain
  .buildkite/shared-pipeline-vars
  .xcode-version
  Yosemite/YosemiteTests/Stores/ReceiptStoreTests.swift
Labels: category: tooling

#15618 Shipping Label: Integrate refund endpoint
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/WooShippingRemote.swift
  Networking/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Networking/NetworkingTests/Responses/wooshipping-label-refund-error.json
  Networking/NetworkingTests/Responses/wooshipping-label-refund-success.json
  Yosemite/Yosemite/Actions/WooShippingAction.swift
  Yosemite/Yosemite/Stores/WooShippingStore.swift
  Yosemite/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Yosemite/YosemiteTests/Stores/WooShippingStoreTests.swift
Labels: type: task, feature: shipping labels

#15626 Shipping Label: Handle refund on UI
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/Refund/WooShippingRefundView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/Refund/WooShippingRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
Labels: type: task, feature: shipping labels

#15625 [Woo POS] Enable popular products in POS search
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: POS

#15558 [Order Details] Allow failed orders to show receipt if eligible
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Receipts/ReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/Receipts/ReceiptEligibilityUseCaseTests.swift
Labels: type: task, feature: order details, Enhancement

#15597 Add scaffold for Modules local package
  .gitignore
  Modules/Package.swift
  Modules/Sources/Modules/Modules.swift
  Modules/Tests/Modules/ModulesTests.swift
  Storage/Storage/Tools/GeneralAppSettingsStorage.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  Yosemite/YosemiteTests/Stores/AppSettingsStoreTests.swift
Labels: category: tooling

#15630 Use an iPad Simulator compatible with Xcode 16.3 in CI
  .buildkite/pipeline.yml
Labels: category: tooling

#15633 Fix crash on order details when sections are updated
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
Labels: feature: order details, type: crash

#15617 [Payment method] Add payment method section
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingPaymentMethod/WooShippingPaymentMethodLine.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels, New Feature

#15612 Move TestKit to Modules
  Modules/Package.resolved
  Modules/Package.swift
  Modules/Sources/TestKit/Assertions.swift
  Modules/Sources/TestKit/DateFormatter+Helpers.swift
  Modules/Sources/TestKit/XCTestCase+Wait.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Storage/Storage.xcodeproj/project.pbxproj
  TestKit/.gitignore
  TestKit/Package.resolved
  TestKit/Package.swift
  TestKit/README.md
  TestKit/Tests/LinuxMain.swift
  TestKit/Tests/TestKitTests/XCTestManifests.swift
  WooCommerce.xcworkspace/contents.xcworkspacedata
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: category: tooling

#15634 [Woo POS] Enable Coupons Search
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: POS

#15621 Provision Tracks with SwiftPM instead of CocoaPods
  Experiments/Experiments.xcodeproj/project.pbxproj
  Experiments/Experiments.xcodeproj/xcshareddata/xcschemes/Experiments.xcscheme
  Experiments/ExperimentsTests/Experiments.xctestplan
  Podfile
  Podfile.lock
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Tools/Logging/EventLogging.swift
  WooCommerce/Classes/Tools/Logging/WooCrashLoggingStack.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tooling

#15631 [Woo POS] Send POS email receipt for WC versions 10.0.0+
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/Networking/Remote/POSOrdersRemoteProtocol.swift
  Networking/Networking/Remote/ReceiptRemote.swift
  Networking/NetworkingTests/Remote/ReceiptRemoteTests.swift
  Networking/NetworkingTests/Responses/orders-actions-send-email-success.json
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockReceiptService.swift
  Yosemite/Yosemite/Tools/POS/POSReceiptService.swift
  Yosemite/YosemiteTests/Mocks/MockPOSReceiptsRemote.swift
  Yosemite/YosemiteTests/Tools/POS/POSReceiptServiceTests.swift
Labels: feature: POS

#15632 Shipping Labels: Update creation flow after requesting refund
  Fakes/Fakes/Networking.generated.swift
  Networking/Networking/Model/Copiable/Models+Copiable.generated.swift
  Networking/Networking/Model/ShippingLabel/ShippingLabelPurchase.swift
  Networking/NetworkingTests/Remote/ShippingLabelRemoteTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15643 Update release notes for 22.4
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: Releases

#15642 [Woo POS][Product labels] Add flag for `inventoryProductLabelsInPOS`
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
Labels: feature: product list, feature: POS

#15638 [Payment] Add payment method line for album orientation
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/ExpandableBottomSheet.swift
Labels: type: task, feature: shipping labels

#15639 Add note about OS deployment targets in `xcconfig` vs `Package.swift`
  config/Common.xcconfig
Labels: type: enhancement, Enhancement

#15629 Optimize product image handling
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
  WooCommerce/Classes/Tools/ImageService/ImageService.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Issue Refunds/Cells/RefundItemTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/Collection View Cells/ProductImageCollectionViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/Product Images/ProductImagesCollectionViewDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Media/CancellableMedia.swift
  WooCommerce/Classes/ViewRelated/Products/Media/DefaultProductUIImageLoader.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesCollectionViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductImagesGalleryViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Media/ProductUIImageLoader.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/Mocks/MockImageService.swift
  WooCommerce/WooCommerceTests/Tools/DefaultImageServiceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Blaze/BlazeCampaignCreationFormViewModelTests.swift
Labels: type: enhancement, Enhancement

#15623 Move Codegen Swift package from root to Modules
  BuildTools/.sourcery.yml
  CodeGeneration/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  CodeGeneration/Package.swift
  CodeGeneration/Sourcery/Copiable/Hardware-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Copiable/Networking-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Copiable/Storage-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Copiable/WooCommerce-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Copiable/WooFoundation-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Copiable/Yosemite-Copiable.sourcery.yaml
  CodeGeneration/Sourcery/Fakes/Hardware-Fakes.yaml
  CodeGeneration/Sourcery/Fakes/Networking-Fakes.yaml
  CodeGeneration/Sourcery/Fakes/WooFoundation-Fakes.yaml
  CodeGeneration/Sourcery/Fakes/Yosemite-Fakes.yaml
  CodeGeneration/Tests/CodegenTests/XCTestManifests.swift
  CodeGeneration/Tests/LinuxMain.swift
  Modules/Package.swift
  Modules/Sources/Codegen/Copiable/Copiable.swift
  Modules/Sources/Codegen/Copiable/GeneratedCopiable.swift
  Modules/Sources/Codegen/Fakeable/GeneratedFakeable.swift
  Modules/Sources/Codegen/README.md
  Modules/Sources/Codegen/Sourcery/Copiable/Hardware-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Copiable/Models+Copiable.swifttemplate
  Modules/Sources/Codegen/Sourcery/Copiable/Networking-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Copiable/Storage-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Copiable/WooCommerce-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Copiable/WooFoundation-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Copiable/Yosemite-Copiable.sourcery.yaml
  Modules/Sources/Codegen/Sourcery/Fakes/Fakes.swifttemplate
  Modules/Sources/Codegen/Sourcery/Fakes/Hardware-Fakes.yaml
  Modules/Sources/Codegen/Sourcery/Fakes/Networking-Fakes.yaml
  Modules/Sources/Codegen/Sourcery/Fakes/WooFoundation-Fakes.yaml
  Modules/Sources/Codegen/Sourcery/Fakes/Yosemite-Fakes.yaml
  WooCommerce.xcworkspace/contents.xcworkspacedata
Labels: category: tooling

#15641 [Woo POS payments onboarding] Fix POS modal close button not always vertically positioned the same
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/In-Person Payments/Onboarding Errors/InPersonPaymentsOnboardingError.swift
Labels: feature: POS, Bug

#15649 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority: low

#15655 Update eligibility check for shipping label creation to use plugin path instead of name
  WooCommerce/Classes/Extensions/SitePlugin+Woo.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/OrderDetailsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: bug, feature: shipping labels

#15645 Remove a couple of dead references from Yosemite's project file
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/YosemiteTests/PointOfSale/PointOfSalePopularPurchasableItemFetchStrategyTests.swift
Labels: Enhancement

#15652 [POS] Remove extra animations
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleCollectCashView.swift
  WooCommerce/Classes/POS/Presentation/TotalsView.swift
Labels: feature: POS

#15635 Update local screenshot generation for Xcode 16.3
  fastlane/Fastfile
Labels: category: tooling

#15654 Migrate SVProgressHUD from CocoaPods to SwiftPM
  Experiments/Experiments.xcodeproj/project.pbxproj
  Fakes/Fakes.xcodeproj/project.pbxproj
  Hardware/Hardware.xcodeproj/project.pbxproj
  Modules/.swiftpm/xcode/xcshareddata/xcschemes/Codegen.xcscheme
  Modules/Package.resolved
  Modules/Package.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Experiments/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_ExperimentsTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Fakes/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Hardware/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_HardwareTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Networking/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_NetworkingTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_NetworkingWatchOS/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_NotificationExtension/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_SampleReceiptPrinter/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Storage/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_StorageTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_StoreWidgetsExtension/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_UITestsFoundation/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Woo-Watch-App/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooCommerce/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooCommerceScreenshots/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooCommerceTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooCommerceUITests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooFoundation/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooFoundationTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WooFoundationWatchOS/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WordPressAuthenticator/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_WordPressAuthenticatorTests/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_Yosemite/Empty.swift
  Modules/Sources/XcodeSupport/XcodeTarget_YosemiteTests/Empty.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  Storage/Storage.xcodeproj/project.pbxproj
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooFoundation/WooFoundation.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
Labels: category: tooling

#15659 [Mobile Payments] Fix blurry payment method icons in payment methods screen
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Payment Methods/PaymentMethodsView.swift
Labels: feature: mobile payments, Bug

#15648 Improve dynamic size of shipment details bottom sheet
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/TopTabView.swift
Labels: type: enhancement

#15658 Migrate from CocoaPods to SwiftPM in Modules
  Hardware/Hardware.xcodeproj/project.pbxproj
  Modules/Package.resolved
  Modules/Package.swift
  Networking/Networking.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WooCommerce/Classes/Tools/ImageService/DefaultImageService.swift
  WooCommerce/Classes/Tools/ImageService/KingfisherImageDownloader+ImageDownloadable.swift
  WooCommerce/Classes/ViewRelated/Editor/AztecTextViewAttachmentHandler.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/AztecFormatBarFactory.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecHeaderFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecLinkFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/Command/Implementation/AztecUnorderedListFormatBarCommand.swift
  WooCommerce/Classes/ViewRelated/Editor/FormatBar/TextList+AztecFormatting.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Mocks/MockImageCache.swift
  WooCommerce/WooCommerceTests/Mocks/MockKingfisherImageDownloader.swift
  WooCommerce/WooCommerceTests/Tools/DefaultImageServiceTests.swift
  WooCommerce/WooCommerceTests/UnitTests.xctestplan
  WooCommerce/WordPressAuthenticator/Services/WordPressXMLRPCAPIFacade.m
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/NonceRetrievalTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressComOAuthClientTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressComRestApiTests+Locale.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressComRestApiTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressOrgAPITests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressOrgRestApiTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressOrgXMLRPCApiTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/CoreAPITests/WordPressOrgXMLRPCValidatorTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/WordPressKitTests/Tests/RemoteTestCase.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/WordPressKitTests/Tests/Utilities/URLSessionHelperTests.swift
  WooCommerce/WordPressAuthenticatorTests/WordPressKit/WordPressKitTests/Tests/WordPressComServiceRemoteRestTests.swift
Labels: category: tooling

#15668 Temporarily remove Wormholy
  Podfile
  Podfile.lock
  WooCommerce/Classes/AppDelegate.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
Labels: category: tooling

#15637 Shipping Labels: Add event tracking for the revamped flow analytics
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+WooShipping.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/Refund/WooShippingRefundViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddCustomPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingAddPackageViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingServiceViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: shipping labels, category: tracks

#15673 Link XcodeTarget_WooFoundation to WooCommerce to avoid crash at launch
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: Bug

#15675 Shipping Labels: New sheet for adding payment methods
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingPaymentMethod/WooShippingPaymentMethodsView.swift
  WooCommerce/Resources/Images.xcassets/credit-card.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/credit-card.imageset/credit-card-dark.png
  WooCommerce/Resources/Images.xcassets/credit-card.imageset/credit-card-light.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
Labels: type: task, feature: shipping labels

#15665 [Mobile Payments] Timeout waiting for payment card for over 2 mins
  Hardware/Hardware/CardReader/StripeCardReader/StripeCardReaderService.swift
  Hardware/Hardware/CardReader/UnderlyingError.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Card Present Payments/CardPresentPaymentsRetryApproach.swift
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
Labels: type: task, feature: mobile payments

#15662 POS eligibility check: add a new check for WC settings POS feature value for WC version 10.0.0+
  Networking/Networking.xcodeproj/project.pbxproj
  Networking/NetworkingTests/Remote/SiteSettingsRemoteTests.swift
  Networking/NetworkingTests/Responses/settings-advanced-feature-pos-disabled.json
  Networking/NetworkingTests/Responses/settings-advanced-feature-pos-enabled.json
  Networking/NetworkingTests/Responses/settings-advanced-feature-pos-invalid.json
  Networking/Sources/Extended/Remote/SiteSettingsRemote.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Tools/VersionHelpers.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Extensions/VersionHelpersTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
  Yosemite/Yosemite/Actions/SettingAction.swift
  Yosemite/Yosemite/Model/Model.swift
  Yosemite/Yosemite/Stores/Helpers/SettingStoreMethods.swift
  Yosemite/Yosemite/Stores/SettingStore.swift
  Yosemite/YosemiteTests/Mocks/MockSettingStoreMethods.swift
  Yosemite/YosemiteTests/Stores/SettingStoreTests.swift
Labels: type: task, feature: POS

#15674 [Woo POS] Receipts: enable feature flag with analytics
  Experiments/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Controllers/PointOfSaleOrderController.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleOrderControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Mocks/MockReceiptService.swift
  Yosemite/Yosemite/Tools/POS/POSReceiptService.swift
Labels: feature: POS

#15682 Remove unused extension for Double that causes compile failure
  WooCommerce/Classes/Extensions/Double+Rounding.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Extensions/Double+RoundingTests.swift
Labels: type: technical debt

#15683 [Woo POS][Product labels] Set `inventoryProductLabelsInPOS` flag to false
  Experiments/Experiments/DefaultFeatureFlagService.swift
Labels: type: task, feature: order details, feature: POS

#15671 Handle errors for address editing
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: type: task, feature: shipping labels

#15680 Settings: Remove entry point to domain purchase
  Experiments/Experiments/DefaultFeatureFlagService.swift
  Experiments/Experiments/FeatureFlag.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewController.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Settings/SettingsViewModel.swift
  WooCommerce/WooCommerceTests/Mocks/MockFeatureFlagService.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/SettingsViewModelTests.swift
Labels: type: task, feature: app settings, category: tracks

#15681 Onboarding Tasks: Remove customize domain task
  Networking/NetworkingTests/Remote/StoreOnboardingTasksRemoteTests.swift
  Networking/Sources/Extended/Model/StoreOnboardingTask.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+StoreOnboarding.swift
  WooCommerce/Classes/Extensions/UIImage+Woo.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingCoordinator.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingTaskView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Onboarding/StoreOnboardingTaskViewModel.swift
  WooCommerce/Resources/Images.xcassets/icon-customize-domain.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/icon-customize-domain.imageset/icon-customize-domain.pdf
  WooCommerce/WooCommerceTests/Extensions/IconsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingCoordinatorTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingTaskViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Dashboard/Onboarding/StoreOnboardingViewModelTests.swift
  Yosemite/YosemiteTests/Stores/StoreOnboardingTasksStoreTests.swift
Labels: type: task

#15677 [Woo POS] Track total items on first page load
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/POSItemFetchAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleCouponsController.swift
  WooCommerce/Classes/POS/Controllers/PointOfSaleItemsController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  Yosemite/Yosemite.xcodeproj/project.pbxproj
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategy.swift
  Yosemite/Yosemite/PointOfSale/Coupons/PointOfSaleCouponFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSaleItemFetchStrategyFactory.swift
  Yosemite/Yosemite/PointOfSale/Items/PointOfSalePurchasableItemFetchStrategy.swift
  Yosemite/Yosemite/PointOfSale/POSItemFetchAnalyticsTracking.swift
  Yosemite/YosemiteTests/Mocks/MockPOSItemFetchAnalyticsTracking.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleDefaultPurchasableItemFetchStrategyTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleItemServiceTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleSearchCouponFetchStrategyTests.swift
  Yosemite/YosemiteTests/PointOfSale/PointOfSaleSearchPurchasableItemFetchStrategyTests.swift
Labels: type: task, category: tracks, feature: POS

#15687 [WCAG 2.1 AA] Voice over updates
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Blaze/AdDestination/BlazeAdDestinationSettingView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeCampaignList/BlazeCampaignItemView.swift
  WooCommerce/Classes/ViewRelated/Blaze/BlazeEditAd/BlazeEditAdView.swift
  WooCommerce/Classes/ViewRelated/Blaze/CampaignCreation/BlazeCampaignCreationForm.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Blaze/BlazeCampaignDashboardView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportForm.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormTableViewDataSource.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SpacerTableViewCell.swift
  WooCommerce/Classes/ViewRelated/ReusableViews/SwiftUI Components/MultiSelectionList.swift
Labels: Accessibility

#15692 Remove swiftlint comment to fix gotpress generation
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/Help/SupportForm/SupportForm.swift
Labels: Releases

#15694 Disable test temporarily for 22.5 release
  WooCommerce/WooCommerceTests/POS/Presentation/POSStockFormatterTests.swift
Labels: Releases
