Repository woocommerce/woocommerce-ios, pull requests merged in 2025-08, with the labels that each got.

#15961 Update reader model from COTS_DEVICE to TAP_TO_PAY_DEVICE
  Modules/Sources/Hardware/CardReader/CardReaderType.swift
  RELEASE-NOTES.txt
Labels: feature: mobile payments

#15960 Order creation: Prevent subscription products to be added to an order
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorView.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductSelectorViewModel.swift
Labels: type: enhancement, feature: order creation

#15952 [Woo POS][Barcodes] Timeout a partial scan with no terminating character
  WooCommerce/Classes/POS/Models/Cart+BarcodeScanError.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeParser.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/TimeProvider.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/GameControllerBarcodeParserTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/MockTimeProvider.swift
Labels: type: task, feature: POS

#15972 [Woo POS][Barcodes] Disable scanning when the support view is open
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentConnectingFailedUpdateAddressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentOptionalReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentReaderUpdateCompletionView.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Connection Alerts/PointOfSaleCardPresentPaymentRequiredReaderUpdateInProgressView.swift
  WooCommerce/Classes/POS/Presentation/Coupons/POSCouponCreationSheet.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSheet.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15980 Fix orderTotalChanged error for 8dp vs 2dp amounts
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: feature: mobile payments, Bug

#15959 Order Details: Load simplified objects for products
  Modules/Sources/Yosemite/Internal/NSOrderedSet+Array.swift
  Modules/Sources/Yosemite/Model/Storage/Product+ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/Tools/ResultsController.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/ViewModels/Order Details/AddOns/AddOnCrossreferenceUseCase.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsProduct.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsResultsControllers.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsResultController.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/Order Details/Refunded Products/RefundedProductsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/Shipping Labels/AggregatedShippingLabelOrderItems.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Review Order/ReviewOrderViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Media/Product+Media.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Testing/Product+Helpers.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/AddOns/AddOnCrossreferenceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/Shipping Labels/AggregatedShippingLabelOrderItemsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Review Order/ReviewOrderViewModelTests.swift
Labels: feature: order details, category: performance

#15986 Delete unused code post Periphery integration
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScannerContainer.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
Labels: category: tooling

#15966 Product List: Replace full product objects with simplified objects
  Modules/Sources/Yosemite/Tools/ResultsController.swift
  Modules/Tests/YosemiteTests/Tools/ResultsControllerTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Copiable/Models+Copiable.generated.swift
  WooCommerce/Classes/Extensions/Product+ListItem.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsProduct.swift
  WooCommerce/Classes/ViewModels/Order Details/Refund Details/RefundDetailsViewModel.swift
  WooCommerce/Classes/ViewModels/ProductDetailsCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/Cells/ProductsTabProductTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/EditableProductModel.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/LinkedProductListSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelector/ProductListMultiSelectorDataSource.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/Linked Products List Selector/ProductListSelector/ProductListMultiSelectorSearchUICommand.swift
  WooCommerce/Classes/ViewRelated/Products/Edit Product/ProductFormDataModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductListItem.swift
  WooCommerce/Classes/ViewRelated/Products/ProductSelector/ProductRowViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/ProductsViewController.swift
  WooCommerce/Classes/ViewRelated/Products/Variations/ProductsTabProductViewModel+ProductVariation.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductFormDataModel+ProductsTabProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/ProductsTabProductViewModel.swift
  WooCommerce/Classes/ViewRelated/Products/View Models/String+ProductStock.swift
  WooCommerce/Classes/ViewRelated/Search/Product/ProductSearchUICommand.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/Testing/Product+Helpers.swift
  WooCommerce/WooCommerceTests/ViewRelated/Products/ProductsTabProductViewModelTests.swift
Labels: feature: product list, Enhancement

#15985 iPad: Fix split view not working after the initial launch
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: feature: split view, Bug

#15988 Revert "iPad: Fix split view not working after the initial launch"
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: feature: POS, Bug

#15989 iPad: Fix split view not working after the initial launch #2
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
Labels: feature: POS, Bug

#15997 [Order Creation - Taxes] Fix Scroll View in Tax Modal
  WooCommerce/Classes/ViewRelated/Orders/Order Creation/PaymentSection/Taxes/TaxEducationalDialogView.swift
Labels: type: task, feature: order creation

#15990 [Shipping Labels] Delete redundant hstariff class validation logic
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
Labels: feature: shipping labels

#15996 [WCiOS17] Update `languageCode` and `regionCode` deprecation
  Modules/Sources/Yosemite/Stores/JustInTimeMessageStore.swift
Labels: type: task, type: technical debt

#15987 [Core Data] Make new Core Data migration path. Remove models below 30
  Modules/Sources/Storage/CoreData/CoreDataIterativeMigrator.swift
  Modules/Sources/Storage/CoreData/CoreDataManager.swift
  Modules/Sources/Storage/CoreData/CoreDataMigratorUtils.swift
  Modules/Sources/Storage/Model/MIGRATIONS.md
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 10.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 11.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 12.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 13.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 14.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 15.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 16.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 17.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 18.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 19.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 2.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 20.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 21.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 22.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 23.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 24.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 25.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 26.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 27.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 28.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 29.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 3.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 4.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 5.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 6.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 7.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 8.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 9.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model.xcdatamodel/contents
  Modules/Sources/Storage/Resources/WooCommerceModelV26toV27.xcmappingmodel/xcmapping.xml
  Modules/Sources/Storage/Resources/WooCommerceModelV28toV29.xcmappingmodel/xcmapping.xml
  Modules/Sources/Storage/Resources/WooCommerceModelV9toV10.xcmappingmodel/xcmapping.xml
  Modules/Tests/StorageTests/CoreData/CoreDataIterativeMigrator+MigrationStepTests.swift
  Modules/Tests/StorageTests/CoreData/CoreDataIterativeMigratorTests.swift
  Modules/Tests/StorageTests/CoreData/CoreDataManagerTests.swift
  Modules/Tests/StorageTests/CoreData/ManagedObjectModelsInventoryTests.swift
  Modules/Tests/StorageTests/CoreData/MigrationTests.swift
  RELEASE-NOTES.txt
Labels: type: task, type: technical debt

#16007 [Woo POS] Create POS Full Screen Cover
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSFullScreenCover.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSSheet.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#16001 Jetpack Setup: Improve web connection flow for outdated plugin
  Modules/Sources/Networking/Remote/JetpackConnectionRemote.swift
  Modules/Sources/Yosemite/Actions/JetpackConnectionAction.swift
  Modules/Sources/Yosemite/Stores/JetpackConnectionStore.swift
  Modules/Tests/YosemiteTests/Stores/JetpackConnectionStoreTests.swift
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+JetpackSetup.swift
  WooCommerce/Classes/Authentication/Jetpack Setup/LoginJetpackSetupCoordinator.swift
  WooCommerce/Classes/Authentication/Jetpack Setup/Native Jetpack Setup/JetpackSetupView.swift
  WooCommerce/Classes/Authentication/Jetpack Setup/Native Jetpack Setup/JetpackSetupViewModel.swift
  WooCommerce/Classes/Authentication/Navigation Exceptions/JetpackConnectionWebViewModel.swift
  WooCommerce/WooCommerceTests/Authentication/Jetpack Setup/JetpackSetupViewModelTests.swift
  WooCommerce/WooCommerceTests/Authentication/JetpackConnectionWebViewModelTests.swift
Labels: type: task, category: jetpack

#16009 [POS Settings] Feature flag and present settings view
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleSettingsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#16010 Order details: Display all items in a shipment when there are no created shipments
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Info/ShippingLabelCreationInfoViewController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: feature: shipping labels, Enhancement

#16003 [WCiOS17] Bump minimum deployment target to iOS17
  Modules/Package.swift
  RELEASE-NOTES.txt
  config/Common.xcconfig
Labels: type: task, type: technical debt

#16013 Shipping Labels: Mark manually saved addresses as unverified
  Modules/Sources/Networking/Remote/WooShippingRemote.swift
  Modules/Sources/Yosemite/Actions/WooShippingAction.swift
  Modules/Sources/Yosemite/Stores/WooShippingStore.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Modules/Tests/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Modules/Tests/YosemiteTests/Stores/WooShippingStoreTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels, Bug

#16022 [Woo POS][Historical Orders] Feature flag and entry point
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScanningModifier.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
Labels: type: task, feature: POS

#16020 Check for application password when fetching site API
  Modules/Sources/Fakes/Networking.generated.swift
  Modules/Sources/Networking/Model/SiteAPI.swift
  Modules/Sources/Networking/Remote/SiteAPIRemote.swift
  Modules/Sources/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Modules/Tests/YosemiteTests/Stores/SettingStoreTests.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  WooCommerce/WooCommerceTests/Tools/RequirementsCheckerTests.swift
Labels: type: task

#16024 [POS as a tab] Remove i1 feature flag
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarController+TabsTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
Labels: type: technical debt

#16041 [Local Catalog] Implement POS catalog generation/status endpoints for full sync
  Modules/Sources/Networking/Remote/POSCatalogSyncRemote.swift
  Modules/Tests/NetworkingTests/Remote/POSCatalogSyncRemoteTests.swift
  Modules/Tests/NetworkingTests/Responses/pos-catalog-generation.json
  Modules/Tests/NetworkingTests/Responses/pos-catalog-status-complete.json
  Modules/Tests/NetworkingTests/Responses/pos-catalog-status-pending.json
  Modules/Tests/NetworkingTests/Responses/pos-catalog-status-processing.json
Labels: feature: POS

#16021 [POS Settings] Add two-panel settings view
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleSettingsView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsHardwareDetailView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsHelpDetailView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsStoreDetailView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: app settings, feature: POS

#16039 [POS Settings] Help section navigation
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsHelpDetailView.swift
Labels: type: task, feature: POS

#16040 Update application password enabled upon selecting default store
  Modules/Sources/Fakes/Networking.generated.swift
  Modules/Sources/Fakes/NetworkingCore.generated.swift
  Modules/Sources/Networking/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Networking/Model/Site.swift
  Modules/Sources/Networking/Model/WordPressSite.swift
  Modules/Sources/NetworkingCore/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Yosemite/Model/Mocks/Graphs/ScreenshotsObjectGraph.swift
  Modules/Sources/Yosemite/Model/Storage/Site+ReadOnlyConvertible.swift
  WooCommerce/Classes/Extensions/UserDefaults+Woo.swift
  WooCommerce/Classes/Tools/RequirementsChecker.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
  WooCommerce/WooCommerceTests/Tools/RequirementsCheckerTests.swift
Labels: type: task

#16034 [POS Settings] Store section and `PointOfSaleSettingsService`
  Modules/Sources/Yosemite/Tools/POS/PointOfSaleSettingsService.swift
  Modules/Tests/YosemiteTests/Mocks/MockSettingStoreMethods.swift
  Modules/Tests/YosemiteTests/PointOfSale/PointOfSaleSettingsServiceTests.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleSettingsController.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsStoreDetailView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsView.swift
  WooCommerce/Classes/POS/TabBar/POSTabCoordinator.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleSettingsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/POSItemActionHandlerTests.swift
Labels: type: task, feature: POS

#16027 Update AlamofireNetwork to support application password experiment
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  Modules/Sources/Networking/Model/Site.swift
  Modules/Sources/NetworkingCore/ApplicationPassword/ApplicationPasswordUseCase.swift
  Modules/Sources/NetworkingCore/ApplicationPassword/RequestAuthenticator.swift
  Modules/Sources/NetworkingCore/ApplicationPassword/RequestConverter.swift
  Modules/Sources/NetworkingCore/ApplicationPassword/RequestProcessor.swift
  Modules/Sources/NetworkingCore/Network/AlamofireNetwork.swift
  Modules/Tests/NetworkingTests/Network/DefaultRequestAuthenticatorTests.swift
  Modules/Tests/NetworkingTests/Network/RequestConverterTests.swift
  WooCommerce/Classes/Yosemite/AuthenticatedState.swift
  WooCommerce/Classes/Yosemite/DefaultStoresManager.swift
Labels: type: task

#16045 [POS Settings] Display card reader details in hardware section
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Models/PointOfSaleSettingsController.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsHardwareDetailView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsView.swift
  WooCommerce/Classes/POS/TabBar/POSTabCoordinator.swift
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleSettingsControllerTests.swift
Labels: type: task, feature: POS

#16047 [Woo POS][Local catalog] Set up GRDB database with initial schema
  Modules/Package.resolved
  Modules/Package.swift
  Modules/Sources/Storage/GRDB/GRDBManager.swift
  Modules/Sources/Storage/GRDB/Migrations/V001InitialSchema.swift
  Modules/Tests/StorageTests/GRDB/GRDBManagerTests.swift
  WooCommerce.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: type: task, category: architecture, status: feature-flagged, feature: POS

#16049 [POS Settings] Render conditional options based on settings flag
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
Labels: type: task, feature: POS

#16052 Crash fix for network changes while fetching info
  WooCommerce/Classes/Tools/BackgroundTasks/BackgroundTaskRefreshDispatcher.swift
Labels: type: crash

#16051 [POS Settings] Analytics
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Presentation/CartView.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsView.swift
Labels: type: task, category: tracks, feature: POS

#16053 [POS Settings] Adjust settings Controller-Service interface and dependencies
  Modules/Sources/Yosemite/PointOfSale/POSReceiptInformation.swift
  Modules/Sources/Yosemite/Tools/POS/PointOfSaleSettingsService.swift
  Modules/Tests/YosemiteTests/PointOfSale/PointOfSaleSettingsServiceTests.swift
  WooCommerce/Classes/POS/Models/PointOfSaleSettingsController.swift
  WooCommerce/Classes/POS/Presentation/Settings/POSSettingsStoreViewModel.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsStoreDetailView.swift
  WooCommerce/Classes/POS/Presentation/Settings/PointOfSaleSettingsView.swift
  WooCommerce/Classes/POS/TabBar/POSTabCoordinator.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/PointOfSaleSettingsControllerTests.swift
  WooCommerce/WooCommerceTests/POS/Models/POSSettingsStoreViewModelTests.swift
Labels: type: task, feature: POS
