Repository woocommerce/woocommerce-ios, pull requests merged in 2025-07, with the labels that each got.

#15838 Shipping Labels: UI improvements for splitting shipment screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCard.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/CollapsibleShipmentItemCardViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/SelectableShipmentItemRow.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/CollapsibleShipmentItemCardViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15842 Fix the logic in how we determine BuildConfiguration.current
  Modules/Sources/Experiments/BuildConfiguration.swift
  WooCommerce/Resources/Info.plist
  WooCommerce/WooCommerce.xcodeproj/xcshareddata/xcschemes/WooCommerce Alpha.xcscheme
  fastlane/Fastfile
Labels: type: bug, category: tooling, Testing, milestone-not-required

#15847 [POS Orders] Hook `createdVia` from networking to business layer
  Modules/Sources/Fakes/NetworkingCore.generated.swift
  Modules/Sources/NetworkingCore/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/NetworkingCore/Model/Order.swift
  Modules/Sources/NetworkingCore/Remote/OrdersRemote.swift
  Modules/Sources/Yosemite/Model/Mocks/MockObjectGraph.swift
  Modules/Sources/Yosemite/Model/Storage/Order+ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/Stores/Order/OrderFactory.swift
  Modules/Tests/NetworkingTests/Mapper/OrderMapperTests.swift
  Modules/Tests/NetworkingTests/Responses/order-without-data.json
  Modules/Tests/NetworkingTests/Responses/order.json
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Address Edit/EditOrderAddressForm.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/Multi-package/ShippingLabelPackagesFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Package and Rate Selection/WooShippingPackageAndRatePlaceholder.swift
Labels: type: task, feature: order details, feature: POS

#15856 Shipping Labels: Enable done button even when no changes are made in payment settings
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingPaymentMethod/WooShippingPaymentMethodsView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: feature: shipping labels, Enhancement

#15850 Shipping Labels: UPS flow bug fixes
  Modules/Sources/Networking/Model/ShippingLabel/Packages/WooShippingPackagePurchase.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: feature: shipping labels, Bug

#15848 [POS Orders] Additional unit tests for `created_via`
  Modules/Tests/NetworkingTests/Remote/OrdersRemoteTests.swift
  Modules/Tests/YosemiteTests/Stores/Order/OrdersUpsertUseCaseTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListCellViewModelTests.swift
Labels: type: task, feature: order details, feature: order list, feature: POS

#15857 [POS Orders] Display POS label in order details
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.xib
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCellViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: order details, feature: POS

#15859 [POS as a tab i2] Update POS ineligible UI with detailed text and design updates
  WooCommerce/Classes/POS/TabBar/POSIneligibleView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSTabEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSTabEligibilityCheckerTests.swift
Labels: type: task, feature: POS

#15861 Shipping Labels: Update purchase request payload with correct shipment IDs
  Modules/Sources/Networking/Model/ShippingLabel/Packages/WooShippingPackagePurchase.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: feature: shipping labels, Bug

#15860 [POS Orders] Update order details POS label
  WooCommerce/Classes/Extensions/UILabel+SalesChannel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.xib
Labels: type: task, feature: order details, feature: POS

#15869 [Woo POS][Barcodes] Mention set up barcodes in HID scanner instruction
  WooCommerce/Classes/POS/Presentation/PointOfSaleBarcodeScannerInformationModal.swift
Labels: type: task, feature: POS

#15864 [POS as a tab i2] Move i1 eligibility checker to `LegacyPOSTabEligibilityChecker` with i1 only implementation
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/LegacyPOSTabEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/MainTabBarController.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Controllers/POSEntryPointControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/LegacyPOSTabEligibilityCheckerTests.swift
Labels: type: task, feature: POS

#15867 Watch app: Fix connection issue upon fresh installs
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/System/WatchDependenciesSynchronizer.swift
  WooCommerce/Woo Watch App/ConnectView.swift
Labels: type: bug, category: tracks, feature: apple watch

#15863 [POS Orders] Move sales channel representation to Networking
  Modules/Sources/NetworkingCore/Model/Order.swift
  Modules/Sources/NetworkingCore/Model/SalesChannel.swift
  WooCommerce/Classes/ViewRelated/Orders/Cells/OrderListCellViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCell.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Order Summary Section/SummaryTableViewCellViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListCellViewModelTests.swift
Labels: type: task, feature: order details, feature: order list, feature: POS

#15870 [Woo POS][Barcodes] Start a new cart when scanning on success screen
  RELEASE-NOTES.txt
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
Labels: type: task, feature: POS

#15873 Shipping Labels: Display label size from account settings as default
  Modules/Sources/Yosemite/Stores/WooShippingStore.swift
  Modules/Tests/YosemiteTests/Stores/WooShippingStoreTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Post-Purchase/WooShippingPostPurchaseViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingPostPurchaseViewModelTests.swift
Labels: type: task, feature: shipping labels

#15878 [POS Orders] Render sales channel option as order filter
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Tools/BackgroundTasks/OrderListSyncBackgroundTask.swift
  WooCommerce/Classes/ViewRelated/Filters/FilterListViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Filters/FilterOrderListViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/OrdersRootViewController.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Filters/FilterOrderListViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListSyncActionUseCaseTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/OrderListViewModelTests.swift
Labels: type: task, feature: order list, feature: POS

#15879 Shipping Labels: Send customs form details in the `package` field of purchase payload
  Modules/Sources/Networking/Model/ShippingLabel/Packages/WooShippingPackagePurchase.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
Labels: type: bug, feature: shipping labels

#15875 Shipping Labels: Optimize country syncing requests
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15882 [Woo POS][Barcodes] Set up flow: choose a scanner
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Presentation/POSFloatingControlView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleBarcodeScannerInformationModal.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleBarcodeScannerSetUpFlow.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleInformationModal.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleModalHeader.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, category: tracks, status: feature-flagged, feature: POS

#15877 [Woo POS][Barcodes] i2 Use GameController framework for detecting scanner input
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScannerContainer.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeObserver.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeParser.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/HIDBarcodeParser.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/GameControllerBarcodeParserTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/HIDBarcodeParserTests.swift
Labels: type: task, feature: POS

#15887 [POS Orders] Enable `pointOfSaleOrdersi1`
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Extensions/UILabel+SalesChannel.swift
Labels: type: task, feature: order details, feature: order list, feature: POS

#15871 Refactor PluginsService to use plugin file path for better stability
  Modules/Sources/Yosemite/Tools/Plugins/PluginsService.swift
  Modules/Tests/YosemiteTests/Tools/Plugins/PluginsServiceTests.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/LegacyPOSTabEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSTabEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/LegacyPOSTabEligibilityCheckerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSTabEligibilityCheckerTests.swift
Labels: type: task, feature: POS

#15892 [Woo POS] Include more information in `pos_card_present_collect_payment_success` event
  WooCommerce/Classes/Analytics/WooAnalyticsEvent.swift
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/TabBar/POSTabCoordinator.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/Analytics/POSCollectOrderPaymentAnalyticsTests.swift
Labels: type: task, feature: point of sale

#15894 [Woo POS] Remove `site_id` from`pos_card_present_collect_payment_success` event
  WooCommerce/Classes/POS/Analytics/POSCollectOrderPaymentAnalytics.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/TabBar/POSTabCoordinator.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerceTests/POS/Analytics/POSCollectOrderPaymentAnalyticsTests.swift
Labels: feature: POS

#15898 [Release] Update 22.7 release notes to remove emoji
  WooCommerce/Resources/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: type: task, Releases

#15893 [Woo POS][Barcodes] Partial setup flow for Star BSH-20B
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetup.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlow.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupModels.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupScanTester.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupStepViews.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupViews.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/Reader Messages/PointOfSalePaymentSuccessView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Resources/Images.xcassets/POS/star-bsh20-setup-barcode.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/star-bsh20-setup-barcode.imageset/star-bsh20-setup-barcode.pdf
  WooCommerce/Resources/Images.xcassets/POS/test-ean13-barcode.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/test-ean13-barcode.imageset/barcode-1-2.png
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupScanTesterTests.swift
Labels: type: task, status: feature-flagged, feature: POS

#15885 Shipping Labels: Add new Networking type for WooShipping shipments
  Modules/Sources/Fakes/Networking.generated.swift
  Modules/Sources/Networking/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Networking/Model/ShippingLabel/Shipments/WooShippingConfigResponse.swift
  Modules/Sources/Networking/Model/ShippingLabel/Shipments/WooShippingShipmentItem.swift
  Modules/Sources/Yosemite/Model/Model.swift
  Modules/Tests/NetworkingTests/Mapper/WooShippingConfigMapperTests.swift
  Modules/Tests/NetworkingTests/Responses/shipping-label-config-success-without-data.json
  Modules/Tests/NetworkingTests/Responses/shipping-label-config-success.json
  Modules/Tests/YosemiteTests/Stores/WooShippingStoreTests.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Package Details/ShippingLabelSampleData.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/Split shipments/WooShippingSplitShipmentsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: type: task, feature: shipping labels

#15895 [POS as a tab i2] Refresh POS eligibility in ineligible UI: site settings and feature switch disabled cases
  WooCommerce/Classes/POS/Controllers/POSEntryPointController.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/TabBar/POSIneligibleView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/LegacyPOSTabEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSTabEligibilityChecker.swift
  WooCommerce/WooCommerceTests/Mocks/MockPOSEligibilityChecker.swift
  WooCommerce/WooCommerceTests/ViewRelated/MainTabBarControllerTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSTabEligibilityCheckerTests.swift
Labels: type: task, feature: POS

#15900 [Woo POS][Barcodes] Analytics for scan performance
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeObserver.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeParser.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/GameControllerBarcodeParserTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanning/MockTimeProvider.swift
Labels: category: tracks, feature: POS

#15890 [POS Orders] Add analytics for point of sale order filtering
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+OrdersListFilter.swift
Labels: type: task, feature: order list, category: tracks, feature: POS

#15903 [Woo POS][Barcodes] Set up flow test failure screen
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlow.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupModels.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupStepViews.swift
Labels: type: task, status: feature-flagged, feature: POS

#15907 [Woo POS][Barcodes] Analytics for setup flow
  WooCommerce/Classes/Analytics/TracksProvider.swift
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSale.swift
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetup.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlow.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlowManager.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupModels.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupScanTester.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupStepViews.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScannerContainer.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/BarcodeScanningModifier.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeObserver.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanning/GameControllerBarcodeParser.swift
  WooCommerce/Classes/POS/Presentation/ItemListView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Mocks/MockPointOfSaleAggregateModel.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlowManagerTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupScanTesterTests.swift
Labels: category: tracks, feature: POS

#15911 [Woo POS][Barcodes] Search for `global_unique_id` using a `new search_fields` parameter
  Modules/Sources/Networking/Remote/ProductsRemote.swift
  Modules/Tests/NetworkingTests/Remote/POSProductsNetworkingTests.swift
Labels: feature: POS

#15910 [POS Orders] Enable `pointOfSaleOrdersi2`
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
Labels: type: task, feature: order list, feature: POS

#15915 [POS as a tab i2] Refactor plugins upsert so that plugins are matched by plugin path instead of name, and the first active WC plugin is returned for POS
  Modules/Sources/Storage/Tools/StorageType+Deletions.swift
  Modules/Sources/Storage/Tools/StorageType+Extensions.swift
  Modules/Sources/Yosemite/PointOfSale/Eligibility/POSSystemStatusService.swift
  Modules/Sources/Yosemite/Stores/SystemPlugin/SystemPluginsUpsertUseCase.swift
  Modules/Sources/Yosemite/Stores/SystemStatusStore.swift
  Modules/Tests/StorageTests/Tools/StorageTypeDeletionsTests.swift
  Modules/Tests/StorageTests/Tools/StorageTypeExtensionsTests.swift
  Modules/Tests/YosemiteTests/Stores/SystemPlugin/SystemPluginsUpsertUseCaseTests.swift
Labels: type: technical debt, feature: POS

#15889 Shipping Labels: Show shipment details on order details screen
  Modules/Sources/Networking/Model/ShippingLabel/Shipments/WooShippingShipmentItem.swift
  Modules/Sources/Yosemite/Stores/WooShippingStore.swift
  Modules/Tests/YosemiteTests/Stores/WooShippingStoreTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsDataSource.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsShipmentDetailsView.swift
  WooCommerce/Classes/ViewModels/Order Details/OrderDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Split Shipments/WooShippingSplitShipmentsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/Orders/Order Details/OrderDetailsDataSourceTests.swift
Labels: type: task, feature: shipping labels

#15917 Shipping Labels: Update mark order completed toggle
  Modules/Sources/Fakes/Networking.generated.swift
  Modules/Sources/Networking/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Networking/Model/ShippingLabel/ShippingLabelAccountSettings.swift
  Modules/Sources/Networking/Remote/WooShippingRemote.swift
  Modules/Sources/Yosemite/Actions/WooShippingAction.swift
  Modules/Sources/Yosemite/Model/Storage/ShippingLabelAccountSettings+ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/Stores/WooShippingStore.swift
  Modules/Tests/NetworkingTests/Mapper/ShippingLabelAccountSettingsMapperTests.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Modules/Tests/NetworkingTests/Responses/shipping-label-account-settings-without-data.json
  Modules/Tests/NetworkingTests/Responses/shipping-label-account-settings.json
  Modules/Tests/YosemiteTests/Mocks/Networking/Remote/MockWooShippingRemote.swift
  Modules/Tests/YosemiteTests/Stores/ShippingLabelStoreTests.swift
  Modules/Tests/YosemiteTests/Stores/WooShippingStoreTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/OrderDetailsViewController.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/Create Shipping Label Form/Payment Methods/ShippingLabelPaymentMethodsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/ShipmentDetails/WooShippingShipmentDetailsViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/Tools/MockShippingLabelAccountSettings.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingShipmentDetailsViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15924 [POS as a tab i2] Update suggestion text when WC plugin info cannot be retrieved
  WooCommerce/Classes/POS/TabBar/POSIneligibleView.swift
Labels: type: enhancement, feature: POS

#15922 [POS as a tab i2] Streamline loading UI animation when transitioning from eligibility check to items loading
  WooCommerce/Classes/POS/Models/PointOfSaleAggregateModel.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleEntryPointView.swift
  WooCommerce/Classes/POS/Utils/PreviewHelpers.swift
  WooCommerce/Classes/POS/ViewHelpers/PointOfSaleDashboardViewHelper.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/POS/Models/PointOfSaleAggregateModelTests.swift
  WooCommerce/WooCommerceTests/POS/Presentation/POSItemActionHandlerTests.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/PointOfSaleDashboardViewHelperTests.swift
Labels: type: task, feature: POS

#15918 [POS as a tab i2] Analytics & enable feature flag
  Modules/Sources/Experiments/DefaultFeatureFlagService.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsStat.swift
  WooCommerce/Classes/POS/Analytics/WooAnalyticsEvent+PointOfSaleIneligibleUI.swift
  WooCommerce/Classes/POS/Presentation/CardReaderConnection/UI States/PointOfSaleLoadingView.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleDashboardView.swift
  WooCommerce/Classes/POS/TabBar/POSIneligibleView.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: category: tracks, feature: POS

#15930 [Woo POS][Barcodes] Set up flow: Other
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlow.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlowManager.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleBarcodeScannerInformationModal.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleInformationModal.swift
  WooCommerce/Resources/Images.xcassets/POS/BarcodeScanning/barcode-field-screenshot.imageset/barcode-field-screenshot.pdf
Labels: type: task, feature: POS

#15927 [Shipping Labels] Handle zero weight in customs form
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItem.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
Labels: type: bug, Bug

#15928 Shipping Labels: Allow proceeding with destination address when validation fails
  RELEASE-NOTES.txt
  WooCommerce/Classes/Analytics/WooAnalyticsEvent+WooShipping.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressView.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15934 [Woo POS][Barcodes] Frame the QR code and increase brightness for better scanability
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetup.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupStepViews.swift
  WooCommerce/Classes/POS/Utils/POSBrightnessControl.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
Labels: type: task, feature: POS

#15932 Shipping Labels: Persist origin addresses upon fetching from remote
  Modules/Sources/Fakes/Networking.generated.swift
  Modules/Sources/Networking/Mapper/WooShippingOriginAddressMapper.swift
  Modules/Sources/Networking/Mapper/WooShippingOriginAddressesMapper.swift
  Modules/Sources/Networking/Model/Copiable/Models+Copiable.generated.swift
  Modules/Sources/Networking/Model/ShippingLabel/Packages/WooShippingOriginAddress.swift
  Modules/Sources/Networking/Remote/WooShippingRemote.swift
  Modules/Sources/Storage/Model/MIGRATIONS.md
  Modules/Sources/Storage/Model/WooShippingOriginAddress+CoreDataClass.swift
  Modules/Sources/Storage/Model/WooShippingOriginAddress+CoreDataProperties.swift
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 124.xcdatamodel/contents
  Modules/Sources/Storage/Tools/StorageType+Extensions.swift
  Modules/Sources/Yosemite/Model/Model.swift
  Modules/Sources/Yosemite/Model/Storage/WooShippingOriginAddress+ReadOnlyConvertible.swift
  Modules/Sources/Yosemite/Stores/WooShippingStore.swift
  Modules/Tests/NetworkingTests/Remote/WooShippingRemoteTests.swift
  Modules/Tests/StorageTests/CoreData/MigrationTests.swift
  Modules/Tests/YosemiteTests/Stores/WooShippingStoreTests.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingEditAddressViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingAddresses/WooShippingOriginAddressListViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingEditAddressViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15939 [POS as a tab i1] Remove POS entry point and related code from the Menu tab
  Modules/Sources/Experiments/FeatureFlag.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSEligibilityChecker.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenu.swift
  WooCommerce/Classes/ViewRelated/Hub Menu/HubMenuViewModel.swift
  WooCommerce/WooCommerce.xcodeproj/project.pbxproj
  WooCommerce/WooCommerceTests/ViewRelated/HubMenu/HubMenuViewModelTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSEligibilityCheckerTests.swift
Labels: type: technical debt, feature: POS

#15935 Shipping Labels: Load settings and origin addresses synchronously only when data is not cached
  Modules/Sources/Storage/Model/MIGRATIONS.md
  Modules/Sources/Storage/Model/ShippingLabelAccountSettings+CoreDataProperties.swift
  Modules/Sources/Storage/Resources/WooCommerce.xcdatamodeld/Model 124.xcdatamodel/contents
  Modules/Sources/Yosemite/Model/Storage/ShippingLabelAccountSettings+ReadOnlyConvertible.swift
  Modules/Tests/StorageTests/CoreData/MigrationTests.swift
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShippingCreateLabelsViewModelTests.swift
Labels: feature: shipping labels, Enhancement

#15933 [Shipping Labels] Handle dots in HS tariff number
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsItemViewModelTests.swift
Labels: type: task, feature: shipping labels

#15937 [Shipping Labels] Update ITN number format
  RELEASE-NOTES.txt
  WooCommerce/Classes/ViewRelated/Orders/Order Details/Shipping Labels/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModel.swift
  WooCommerce/WooCommerceTests/ViewRelated/Shipping Label/WooShipping Create Shipping Labels/WooShipping Customs/WooShippingCustomsFormViewModelTests.swift
Labels: type: task, feature: shipping labels

#15943 [POS as a tab i2] Update suggestion text in ineligible UI
  WooCommerce/Classes/POS/TabBar/POSIneligibleView.swift
  WooCommerce/Classes/ViewRelated/Dashboard/Settings/POS/POSTabEligibilityChecker.swift
  WooCommerce/WooCommerceTests/POS/ViewHelpers/PointOfSaleDashboardViewHelperTests.swift
  WooCommerce/WooCommerceTests/ViewRelated/Settings/POS/POSTabEligibilityCheckerTests.swift
Labels: type: enhancement, feature: POS

#15942 [Woo POS][Barcodes] Handle transitions for set up flow states
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetup.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlow.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlowManager.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleFlowButtonsView.swift
  WooCommerce/Classes/POS/Presentation/Reusable Views/POSModalViewModifier.swift
Labels: type: task, feature: POS

#15945 [Woo POS][Barcodes] Set up flow: last scanner – Netum 1228BC
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetup.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlow.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupModels.swift
  WooCommerce/Classes/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupStepViews.swift
  WooCommerce/Classes/POS/Presentation/PointOfSaleAssets.swift
  WooCommerce/Resources/Images.xcassets/POS/BarcodeScanning/netum-1228bc-hid-barcode.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/BarcodeScanning/netum-1228bc-hid-barcode.imageset/netum-1228bc-hid-barcode.pdf
  WooCommerce/Resources/Images.xcassets/POS/BarcodeScanning/netum-1228bc-pair-barcode.imageset/Contents.json
  WooCommerce/Resources/Images.xcassets/POS/BarcodeScanning/netum-1228bc-pair-barcode.imageset/netum-1228bc-pair-barcode.pdf
  WooCommerce/WooCommerceTests/POS/Presentation/Barcode Scanner Setup/PointOfSaleBarcodeScannerSetupFlowManagerTests.swift
Labels: type: task, feature: POS

#15950 [Release] Update release notes 22.9
  CHANGELOG.md
  WooCommerce/Resources/release_notes.txt
Labels: type: task, Releases

#15953 Fix initialization of authenticator
  RELEASE-NOTES.txt
  WooCommerce/Classes/Authentication/Epilogue/StorePickerViewController.swift
  WooCommerce/Classes/ViewRelated/AppCoordinator.swift
  WooCommerce/Classes/ViewRelated/JetpackSetup/JetpackSetupCoordinator.swift
  WooCommerce/WooCommerceTests/ViewRelated/JetpackSetup/JetpackSetupCoordinatorTests.swift
  WooCommerce/WordPressAuthenticator/Authenticator/WordPressAuthenticator.swift
  WooCommerce/WordPressAuthenticator/Signin/LoginViewController.swift
Labels: feature: login, type: crash

#15967 Complete card payment only after alert presentation is done
  WooCommerce/Classes/ViewRelated/Orders/Collect Payments/CollectOrderPaymentUseCase.swift
  WooCommerce/WooCommerceTests/Mocks/MockReceiptEligibilityUseCase.swift
  WooCommerce/WooCommerceTests/ViewModels/CardPresentPayments/CollectOrderPaymentUseCaseTests.swift
Labels: feature: POS, Bug
